secrets.json

/monitor/templates/maps

/logs
/management/__pycache__
/message/__pycache__
/monitor/__pycache__
/smartproject/__pycache__
/analysis/__pycache__

/management/migrations/*.py
/message/migrations/*.py
/monitor/migrations/*.py
/smartproject/migrations/*.py
/analysis/migrations/*.py