secrets.json

/monitor/templates/maps

/logs
/management/__pycache__
/message/__pycache__
/monitor/__pycache__
/smartproject/__pycache__
/analysis/__pycache__
/accounts/__pycache__
/api/__pycache__
/scheduler/__pycache__

/management/migrations/__pycache__
/message/migrations/__pycache__
/monitor/migrations/__pycache__
/smartproject/migrations/__pycache__
/analysis/migrations/__pycache__
/accounts/migrations/__pycache__
/api/migrations/__pycache__
/scheduler/migrations/__pycache__


/management/migrations/*.py
/message/migrations/*.py
/monitor/migrations/*.py
/smartproject/migrations/*.py
/analysis/migrations/*.py