    h1{
        font-size: 16px;
        font-weight: bold;
    }
    h2{
        font-size: 14px;
        font-weight: bold;
    }
    h3{
        font-size: 13px;
    }
    h4{
        font-size: 12px;
    }
    p{
        font-size: 8px;
    }
    table {
        width: 100%;
        border: 1px solid #444444;
        border-collapse: collapse;
        font-size: 13px;
        text-align: center;
        vertical-align: middle;
    }
    th {
        border: 1px solid #444444;
        width: 40px;
        text-align: center;
        vertical-align: middle;
    }
    td {
        border: 1px solid #444444;
        width: 40px;
        text-align: center;
        vertical-align: middle;
    }
    p,h1,h2,h3 {
        display: inline;
    }
    thead {
        background-color: lightgrey; 
        color: black;
    }


