
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;    
    }
    header{
        position : sticky;
        top : 0;
        z-index : 100;    
    }
    h1{
        font-size: 18px;
    }
    h2{
        font-size: 15px;
    }
    h3{
        font-size: 13px;
    }
    p{
        font-size: 8px;
    }
    table {
        width: 100%;
        border: 1px solid #444444;
        border-collapse: collapse;
        font-size: 12px;
        text-align: center;
    }
    th, td {
        border: 1px solid #444444;
        width: 40px;
        text-align: center;
    }
    p,h2 {
        display: inline;
    }

    #title {
        position: relative;
        left: 25%;
    }
    thead {
        background-color: lightgrey; 
        color: black;
    }

    #show1{
        width: 50%;
        position: flex;
    }
    #show2{
        width: 50%;
        position: flex;
    }
    #bt1{
        position: relative;
        left: 400px;
        top: 10px;
    }
    #bt2{
        position: relative;
        left: 120px;
        top: 328px;
    }
    #bt3{
        position: relative;
        left: 250px;
        top: 90px;
    }
    #bt4{
        position: relative;
        left: 250px;
        top: 98px;
    }
