
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        
    }
    header{
        position : sticky;
        top : 0;
        z-index : 100;
        
    }
    nav{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    nav a{
        position: relative;
        margin: 0 20px;
        font-size:20pt;
        top : 10pt;
        color:white;
        text-decoration: none;
        
    }
    nav #underline{
        position: absolute;
        left: 0;
        height: 4px;
        width: 0;
        background: #000000;
        bottom: -9px;
        transition: 0.2s;
        border-radius: 5px;

    }

    table {
        width: 100%;
        border: 1px solid #444444;
        border-collapse: collapse;
        font-size: 15pt;
        text-align: center;
    }
    th, td {
        border: 1px solid #444444;
        width: 40px;
        text-align: center;
    }
    p,h2 {
        display: inline;
    }

    #title {
        position: relative;
        left: 25%;
    }
    thead {
        background-color: lightgrey; 
        color: black;
    }

    #show1{
        width: 50%;
        position: flex;
    }
    #show2{
        width: 50%;
        position: flex;
    }
    #bt1{
        position: relative;
        left: 400px;
        top: 10px;
    }
    #bt2{
        position: relative;
        left: 120px;
        top: 328px;
    }
    #bt3{
        position: relative;
        left: 250px;
        top: 90px;
    }
    #bt4{
        position: relative;
        left: 250px;
        top: 98px;
    }
