{% load i18n static %}<!DOCTYPE html>


{% get_current_language as LANGUAGE_CODE %}{% get_current_language_bidi as LANGUAGE_BIDI %}
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" dir="{{ LANGUAGE_BIDI|yesno:'rtl,ltr,auto' }}">
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% block stylesheet %}{% static "admin/css/base.css" %}{% endblock %}">
    {% if not is_popup and is_nav_sidebar_enabled %}
        <link rel="stylesheet" type="text/css" href="{% static "admin/css/nav_sidebar.css" %}">
        <script src="{% static 'admin/js/nav_sidebar.js' %}" defer></script>
    {% endif %}
    {% block extrastyle %}{% endblock %}
    {% if LANGUAGE_BIDI %}
        <link rel="stylesheet" type="text/css"
              href="{% block stylesheet_rtl %}{% static "admin/css/rtl.css" %}{% endblock %}">{% endif %}
    {% block extrahead %}{% endblock %}
    {% block responsive %}
        <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{% static "admin/css/responsive.css" %}">
        {% if LANGUAGE_BIDI %}
            <link rel="stylesheet" type="text/css" href="{% static "admin/css/responsive_rtl.css" %}">{% endif %}
    {% endblock %}
    {% block blockbots %}
        <meta name="robots" content="NONE,NOARCHIVE">{% endblock %}


    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" /> -->
    <!-- Custom styles for this template -->
    <style>
        caption {
            caption-side: top;
        }

        h1 {
            font-size: 20px;
        }

        h2 {
            font-size: 17px;
        }

        h3 {
            font-size: 14px;
        }
    
        ul > li{
            list-style-type: none;
        }
        li, dt, dd {
            font-size: 15px;
    
        }
        .deletelink{
            height:35px !important;
        }

    </style>
</head>

<body class="{% if is_popup %}popup {% endif %}{% block bodyclass %}{% endblock %}"
      data-admin-utc-offset="{% now "Z" %}">

<!-- Container -->
<div id="container">

    {% if not is_popup %}
        <!-- Header -->
        {% block header %}
            
                <!-- Fixed navbar -->
                <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
                    <a class="navbar-brand" href="{% url 'analysis:dashboard' %}">KT 스마트상황실</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                    <div id = "head" class="collapse navbar-collapse" id="navbarCollapse">
                      <ul class="navbar-nav mr-auto" id="navtitle">
                        <li class="nav-item" id="dashboard_nav">
                          <a class="nav-link"  href="{% url 'analysis:dashboard' %}">실시간감시
                            <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item" id="report_nav">
                          <a class="nav-link"  href="{% url 'analysis:report' %}" @click="timerEnd">일일보고</a>
                        </li>
                        <li class="nav-item active" id="management_nav">       
                          <a class="nav-link" href="{% url 'admin:index' %}" @click="timerEnd">관리자페이지</a>
                        </li>
                      </ul>
                        <button style="margin-right: 5px;" class="btn btn-secondary"><a style= "color:white;text-decoration-line: none;" href="{% url 'accounts:changepwpage' %}" @click="timerEnd">비밀번호 변경</a></button>
                        <form class="form-inline mt-2 mt-md-0">
                            <!-- <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search"> <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> -->
                            <input type="button" class="btn btn-danger py-2" style="background-color:#dc3545;" value="로그아웃" onclick=" logout()">
                            <script>
                                function logout() {
                                    location.href = "{% url 'accounts:logout' %}";
                                }
                            </script>

                        </form>
                    </div>
                </nav>
           

           
        {% endblock %}
        <!-- END Header -->
        <!-- {% block breadcrumbs %}
            <div class="breadcrumbs">
                <a href="{% url 'admin:index' %}">{% translate 'Home' %}</a>
                {% if title %} &rsaquo; {{ title }}{% endif %}
            </div>
        {% endblock %} -->
    {% endif %}

    <div class="main" id="main" style="margin-top: 60px">
        {% if not is_popup and is_nav_sidebar_enabled %}
            {% block nav-sidebar %}
                {% include "admin/nav_sidebar.html" %}
            {% endblock %}
        {% endif %}
        <div class="content">
            {% block messages %}
                {% if messages %}
                    <ul class="messagelist">{% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|capfirst }}</li>
                    {% endfor %}</ul>
                {% endif %}
            {% endblock messages %}
            <!-- Content -->
            <div id="content" class="{% block coltype %}colM{% endblock %}">
                {% block pretitle %}{% endblock %}
                {% block content_title %}{% if title %}<h1>{{ title }}</h1>{% endif %}{% endblock %}
                {% block content_subtitle %}{% if subtitle %}<h2>{{ subtitle }}</h2>{% endif %}{% endblock %}
                {% block content %}
                    {% block object-tools %}{% endblock %}
                    {{ content }}
                {% endblock %}
                {% block sidebar %}{% endblock %}
                <br class="clear">
            </div>
            <!-- END Content -->
            {% block footer %}
                <div id="footer"></div>{% endblock %}
        </div>
    </div>
</div>
<!-- END Container -->
</body>
</html>



