{% extends "admin/base.html" %}
{% load static %}

{% block title %}
  {% if subtitle %}{{ subtitle }}
    |
  {% endif %}{{ title }}
  |
  {{ site_title|default:_('Django site admin') }}
{% endblock %}

{% block extrastyle %}
<style type='text/css'>
    #header {
        background-color: #343a40;
    }

    #branding {
        height:36px;
        background-color: #343a40;
        background: white url('/static/accounts/images/smart.jpeg') no-repeat ;
    }
    #myid{
    margin-left: 100px;
}

</style>
{% endblock %}

{#{% block branding %}#}
{#  <h1 id="site-name">#}
{#    <a href="{% url 'admin:index' %}">{{ site_header|default:_('Django administration') }}</a>#}
{#      <a href="{% url 'admin:index' %}">#}
{#        <img src="{% static '/accounts/images/smart.jpeg' %}" height="40px" />#}
{#      </a>#}
{#  </h1>#}
{#{% endblock %}#}
{% block branding %}
{#<h1 id="myid"><a href="{% url 'admin:index' %}">{{ _('       MyName') }}</a></h1>#}
      <h1 id="myid"><a href="{% url 'admin:index' %}">
          <img src="{% static '/accounts/images/admin.png' %}" height="40px" /><b style="color: white;"> 관리자 페이지</b></a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}
