{% load static %}
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
<title>스마트 상황실</title>

<!-- 모달 기본 라이브러리 -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css">
<script defer src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
<script defer src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script type="text/javascript" defer src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script type="text/javascript" defer src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js"></script>
<script type="text/javascript" defer src="http://code.jquery.com/ui/1.10.1/jquery-ui.js"></script>
<!-- 폰트 호출 -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

<!-- CSS,JS 호출 -->
<link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "css/modal.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "css/nav.css" %}">
<script type="text/javascript" defer src="{% static "js/header.js" %}"></script>

</head>

<body>
    
    <!-- header -->
    <header>
        <div class = "title" style = "background-color: mediumaquamarine; width : 100%; height : 65px; display:flex; flex-flow:row wrap;">
            <div class = "logo" style = "width:10%;">
                <a href="http://127.0.0.1:8000/analysis/test_layout">
                    <img src = "{% static 'images/logo2.png' %}" style = "width : 80%; height: 65px;" />
                </a>
            </div>
            <nav style = "display:flex; width:50%; height: 50px; justify-content: flex-start ;">
                <ul class="nav">
                    <li>
                        <a href="http://127.0.0.1:8000/analysis/report">일일보고</a>
                        <div>
                            <div class="nav-column">
                                <ul>
                                    <li><a href="http://127.0.0.1:8000/analysis/new" >대상등록</a></li>
                                    <li><a href="http://127.0.0.1:8000/analysis/report" >일일보고서</a></li>
                                    <li><a href="#"></a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a href="#">준비중</a>
                        <div>
                            <div class="nav-column">
                                <ul>
                                    <li><a href="#" >준비중</a></li>
                                    <li><a href="#" >준비중</a></li>
                                    <li><a href="#"></a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a href="#">준비중</a>
                    </li>
                    <li>
                        <a href="http://127.0.0.1:8000/admin">ADMIN</a>
                    </li>
                </ul>   
            </nav>
        </div>
    </header> 
    
    <!-- main -->
    <div>
        {% block contents %}
        {% endblock %}
    </div>     
    
    <!-- footer -->
    <footer style="position:relative; width:100%; top:50px; bottom:0%;">
    <div id="footer">
        <div class="container" style="text-align: center;">
            <p class="text-muted">
                KT 스마트 상황실
            </p>
        </div>
    </div>
    </footer>
</body>

</html>