{% extends "analysis/base.html" %}
{% load static %}
{% block extra-style %}


<!-- 부트스트랩 -->
<link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/sticky-footer-navbar/sticky-footer-navbar.css">

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
<!-- CSS,JS 호출 -->
<link rel="stylesheet" type="text/css" href="{% static "css/A4.css" %}">

<!-- CSS호출 -->
<link rel="stylesheet" type="text/css" href="{% static "css/report.css" %}">


<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">


<style>

#btnzone{
	border-radius:0px 0px 10px 10px;
	right:100px; 
	border: 1px solid rgba(183, 180, 180, 0.839); 
	background-color: white; 
	width:350px; 
	text-align:center; 
	position:fixed; 
	margin-top:-15px; 
	padding:5px; 
	z-index:10; 
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
} 
button{
	display:inline;
	margin:2px 5px;
}
</style>

<!-- 테스트사이드바 -->
<style>

	.wrapper {
		display: flex;
		align-items: stretch;
		position:fixed;
	}
	
	#sidebar {
		min-width: 250px;
		max-width: 250px;
		min-height: 100vh;
		
	}
	
	#sidebar.active {
		margin-left: -250px;
	}
	a[data-toggle="collapse"] {
		position: relative;
	}
	
	.dropdown-toggle::after {
		display: block;
		position: absolute;
		top: 50%;
		right: 20px;
		transform: translateY(-50%);
	}
	@media (max-width: 768px) {
		#sidebar {
			margin-left: -250px;
		}
		#sidebar.active {
			margin-left: 0;
		}
	}
	/* @import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700"; */
	
	
	body {
		font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
		background: #fafafa;
	}
	
	/* p {
		font-family: 'Poppins', sans-serif;
		font-size: 1.1em;
		font-weight: 300;
		line-height: 1.7em;
		color: #999;
	} */
	
	a, a:hover, a:focus {
		color: inherit;
		text-decoration: none;
		transition: all 0.3s;
	}
	
	#sidebar {
		/* don't forget to add all the previously mentioned styles here too */
		background: rgb(164, 164, 164);
		color: #fff;
		transition: all 0.3s;
	}
	
	#sidebar .sidebar-header {
		padding: 20px;
		background: #343a40;
	}
	
	#sidebar ul.components {
		padding: 20px 0;
		/* border-bottom: 1px solid #47748b; */
	}
	
	#sidebar ul p {
		color: #fff;
		padding: 10px;
	}
	
	#sidebar ul li a {
		padding: 10px;
		font-size: 1.1em;
		display: block;
	}
	#sidebar ul li a:hover {
		color: #8d8e93;
		background: #fff;
	}
	
	#sidebar ul li.active > a, a[aria-expanded="true"] {
		color: #fff;
		background: rgb(164, 164, 164);
	}
	ul ul a {
		font-size: 0.9em !important;
		padding-left: 30px !important;
		background: grey;
	}

	.bg-dark{
	background-color: #343a40 !important;
}

	</style>
	
{% endblock %}
{% block contents %}

<body>
	<!-- 메인화면 -->
<div style="display:flex; flex-flow: row nowrap;">
	<!-- 사이드바 -->
	<!-- <div style="width:200px; border-right:1px solid rgb(226, 221, 221);margin-top:5px;" >
		
		<div style="position:fixed;width:200px; display:flex;">
			<nav>
				<div style="margin:40px 10px 10px 10px"> 
					<a href="http://127.0.0.1:8000/analysis/report/" style="text-decoration-line:none; text-decoration:none;color:grey;">일일보고 </a>
				</div>
				<div style="margin:10px" >
					<a href="http://127.0.0.1:8000/analysis/report/list/" style="text-decoration-line:none; text-decoration:none;color:grey">일일보고 리스트 </a>
				</div>
				<div style="margin:10px" >
				  <a href="http://127.0.0.1:8000/analysis/report/measplan/" style="text-decoration-line:none; text-decoration:none;color:grey">측정대상등록 </a>
				</div>
				<div style="margin:10px" >
					<a href="http://127.0.0.1:8000/analysis/report/measresult/" style="text-decoration-line:none; text-decoration:none;color:grey">측정완료현황</a>
				</div>  
			</nav>
		</div> -->
		
	<!-- </div> -->
<!-- 테스트 사이드바 -->


<div class="wrapper">
    
	<!-- Sidebar -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h2>일일보고</h2>
        </div>

        <ul class="list-unstyled components">
            <li>
                <a href="http://127.0.0.1:8000/analysis/report/">일일보고</a>
            </li>
			<li>
                <a href="http://127.0.0.1:8000/analysis/report/list/">일일보고 목록</a>
            </li>
			<li class="active">
                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">일일보고 관리</a>
                <ul class="collapse list-unstyled" id="homeSubmenu">
                    <li>
                        <a href="http://127.0.0.1:8000/analysis/report/measplan/">측정대상등록</a>
                    </li>
                    <li>
                        <a href="http://127.0.0.1:8000/analysis/report/measresult/">측정완료현황</a>
                    </li>
                    <li>
                        <a href="http://127.0.0.1:8000/analysis/report/postmeas/">사후측정등록</a>
                    </li>
                </ul>
            </li>
        
        </ul>
    </nav>
	
	<div id="content" style="height:10px; width:10px;">

		<nav class="navbar navbar-expand-lg">
			<div class="container-fluid">
	
				<button type="button" id="sidebarCollapse" class="btn btn-primary">
					<i class="fas fa-align-left"></i>
					<span></span>
				</button>
			</div>
		</nav>
		<div id = checkbox style="z-index: 3; position:fixed; top :150px; padding:5px;border: 1px solid rgba(183, 180, 180, 0.839);border-radius:10px;color:grey;background-color: white; " >
			<input type="checkbox" name="meastitle" id="meas1" value="meassituation" style="color:grey;background-color: white;"checked/> 측정현황
			<br>
			<input type="checkbox" name="meastitle" id="meas11" value="meassituation5G"style="color:grey;" checked/> 5G
			<br>
			<input type="checkbox" name="meastitle" id="meas12" value="meassituationLTE"style="color:grey;" checked/> LTE
			<br>
			<input type="checkbox" name="meastitle" id="meas13" value="meassituationWiFi"style="color:grey;" checked/> WiFi
			<br>
			<input type="checkbox" name="meastitle" id="meas14" value="meassituationweak"style="color:grey;" checked/> 품질취약지역
			<br>
			<input type="checkbox" name="meastitle" id="meas2" value="measresult"style="color:grey;" checked/> 측정결과
			<br>
			<input type="checkbox" name="meastitle" id="meas21" value="measresult5G"style="color:grey;" checked/> 5G
			<br>
			<input type="checkbox" name="meastitle" id="meas22" value="measresultLTE"style="color:grey;background-color: white;" checked/> LTE
			<br>
			<input type="checkbox" name="meastitle" id="meas23" value="measresultWiFi" checked/> WiFi
			<br>
			<input type="checkbox" name="meastitle" id="meas24" value="measresultpost5G" /> 사후측정5G
			<br>
			<input type="checkbox" name="meastitle" id="meas25" value="measresultpostLTE" /> 사후측정LTE
			<br>
			<input type="checkbox" name="meastitle" id="meas3" value="measplus" /> 추가사항
		</div>
	
	</div>

</div>
<div id="blank" style="width:250px;">

		
</div>


	<div id="show" style="width:90%">
		<div id = 'btnzone'> 
			
			
			<button class="btn btn-secondary btn-sm" style="display:inline; margin-left:5px;font-weight: bold;" id="msgmodify" >메시지수정 <i class="icon-fixed-width icon-pencil"></i></button>
			
			<button type="submit" class="btn btn-secondary btn-sm" style="display:inline; margin-left:5px;font-weight: bold;" id="msgcomplete" form="reportmsg">완료 <i class="icon-fixed-width icon-check"></i></button>
			
		
			<div style="display: inline" id="editor"></div>
			<button type="button" class="btn btn-secondary btn-sm" id="cmd" style="font-weight: bold;">
				PDF 다운
			</button>
		</div>
		
		<form action="{% url 'analysis:create_reportmsg' %}" method="POST" style="display:inline;" id="reportmsg">{% csrf_token %}
			<input style="display:inline; height:23px;width:200PX;"class="form-control" type="hidden" name="msg5G" id="textmod1copy" value="{{reportmsg.msg5G}}"></input>
			<input style="display:inline;height:23px;width:200px;" class="form-control" type="hidden" name="msgLTE" id="textmod2copy" value="{{reportmsg.msgLTE}}"></input>
			<input style="display:inline; height:23px;width:200px;" class="form-control" type="hidden" name="msgWiFi" id="textmod3copy" value="{{reportmsg.msgWiFi}}"></input>
			<input style="display:inline; height:23px;width:200px;" class="form-control" type="hidden" name="msgWeak" id="textmod4copy" value="{{reportmsg.msgWeak}}"></input>
			<input style="display:inline; height:23px;width:350px;" class="form-control"type="hidden" name="msg5Gafter" id="textmod5copy" value="{{reportmsg.msg5Gafter}}"></input>
			<input style="display:inline;height:23px; width:350px;"class="form-control" type="hidden" name="msgLTEafter" id="textmod6copy" value="{{reportmsg.msgLTEafter}}"></input>
		</form>
		<div class="page">
		<div class="page1" id="page1">
			
			<div id='content' style = "position: relative;">
				<div id='title' style="text-align:center;">
					<h1>S-CXI 상황실 일일 보고</h1>
					<h3 >(</h3>
					<h3  id="current_date"></h3>
					<h3>)</h3>
				</div>
				<hr class="one">
				
				<div id = "meassituation">
				<div>
					
					<h2>□ 측정 현황 </h2><h4 style="display: inline;font-weight: bold;" id = 'firstdate'>{{firstdate.measdate}}</h4><h4 style="display: inline;font-weight: bold;" id='lastdate'>{{lastdate.measdate}}</h4>
					<h3>: 전국 </h3><h3 id="tt"></h3><h3> 지역 중 </h3><h3 id="ttf"></h3><h3> 완료</h3><h3 id="pcf"></h3>
				</div>
				<br> 
				<div id="meassituation5G">
				<div>
					
					<h3>&nbsp;&nbsp;○ 5G : 전국 </h3><h3 id="tt1"></h3><h3> {{sregi5G8}}개 완료</h3><h3 id = pc1></h3><h3>,</h3>
					{% for reportmsg in reportmsg %}
					<h4 style="color: blue; display:inline;" id='result1'>
						
						
						{{reportmsg.msg5G}}
						
					
					</h4>	
					<input style="display:inline; height:23px;width:200PX;"class="form-control" type="text" name="msg5G" id="textmod1" value="{{reportmsg.msg5G}}"></input>
					{% endfor %}
				</div>
				<br>
				<div id="output">
					<table id="5Ghh">
						<thead>
							<tr>
								<th rowspan = "2">구분</th>
								<th colspan="3">NSA</th>
								<th rowspan="2">SA</th>
								<th rowspan="2">공동망</th>
								<th colspan="2">커버리지</th>
								<th rowspan="2">계</th>
							</tr>
							<tr>
								<th>행정동</th>
								<th>다중시설/<br>교통인프라</th>
								<th>소계</th>
								<th>다중시설/<br>교통인프라</th>
								<th>중소시설</th>
							</tr>
						</thead>
						<tbody>
							{% for regi in regi %}
							<tr>
								<td>대상</td>
								<td id="plan5g1">{{regi.nsahjd5G}}</td>
								<td id="plan5g2">{{regi.nsadg5G}}</td>
								<td id="plan5g3">{{regi.totalnsa5G}}</td>
								<td id="plan5g4">{{regi.sa5G}}</td>
								<td id="plan5g5">{{regi.public5G}}</td>
								<td id="plan5g6">{{regi.cvdg5G}}</td>
								<td id="plan5g7">{{regi.cvjs5G}}</td>
								<td id="5tt">{{regi.total5G}}</td>

							</tr>
							{% endfor %}
							<tr>
								<td>누적</td>
								<td id="result5g1" >{{sregi5G1}}</td>
								<td id="result5g2">{{sregi5G2}}</td>
								<td id="result5g3">{{sregi5G3}}</td>
								<td id="result5g4">{{sregi5G4}}</td>
								<td id="result5g5">{{sregi5G5}}</td>
								<td id="result5g6">{{sregi5G6}}</td>
								<td id="result5g7">{{sregi5G7}}</td>
								<td id ="5nj">{{sregi5G8}}</td>
							</tr>
							<tr>
								<td>금일</td>
								<td>{{tregi5G1}}</td>
								<td>{{tregi5G2}}</td>
								<td>{{tregi5G3}}</td>
								<td>{{tregi5G4}}</td>
								<td>{{tregi5G5}}</td>
								<td>{{tregi5G6}}</td>
								<td>{{tregi5G7}}</td>
								<td>{{tregi5G8}}</td>
							</tr>
						</tbody>
					</table>
			
		
		</div>
		<div style="display: inline; font-size: 10pt; position: relative; left: 5%;">
			<p>※ 지역별 : </p><p id="district5gcount"></p>
			<script>
				let district_list = ['서울','인천','부산','울산','대구','광주','대전','경기','강원','경남','경북','전남','전북','충남','충북','세종','전국'];
				let msg = "";
				let count = {{district5gcount}};
				for( var i in district_list ){
					if(parseInt(count[i])>0){
						msg += district_list[i]+parseInt(count[i]);
					}
				}
				document.getElementById("district5gcount").innerText = msg;
			</script>
			<br><p>※ 모폴로지 : </p><p id = "hjd5gttcount" style="font-weight:bold"></p><p id = "hjd5gcount"></p>
			<p id = "facility5gttcount" style="font-weight:bold"></p><p id = "facility5gcount"></p>
			<p id = "traffic5gttcount" style="font-weight:bold"></p><p id = "traffic5gcount"></p>
			<script>
				let city_list = ["대도시",'중소도시','농어촌'];
				let facility5g_list = ['대형점포','대학교','아파트','병원','영화관','공항','거리','시장','지하상가','놀이공원','도서관','전시시설','터미널'];
				let traffic5g_list = ['지하철노선','고속도로','지하철역사','KTX.SRT역사','KTX.SRT노선'];
				let networkid_list = ["5G NSA", "5G SA", "5G 공동망", "LTE", "WiFi", "품질취약지역"];
				let inbuildinglte_list = ['대형점포','KTX.SRT역사','대형병원','터미널','지하철역사','공항','전시시설','지하상가'];
				let themelte_list = ['지하철','전통시장','대학교','놀이공원','주요거리','고속도로','KTX.SRT노선'];
				let msg1 = "";
				let count1 = {{city5gcount}};
				let tmsg1 = 0;
				for( var i in city_list ){
					if(parseInt(count1[i])>0){
						msg1 += city_list[i]+parseInt(count1[i]);
						tmsg1 += parseInt(count1[i]);
					}
				}
				if(tmsg1 > 0){
					document.getElementById("hjd5gttcount").innerText = "행정동 " + parseInt(tmsg1) + "-";
				}
				document.getElementById("hjd5gcount").innerText = msg1;
				let msg2 = "";
				let count2 = {{facility5gcount}};
				let tmsg2 = 0;
				for( var i in facility5g_list ){
					if(parseInt(count2[i])>0){
						msg2 += facility5g_list[i]+parseInt(count2[i]);
						tmsg2 += parseInt(count2[i]);
					}
				}
				if(tmsg2 > 0){
					document.getElementById("facility5gttcount").innerText = "다중이용시설 " + parseInt(tmsg2) + "-";
				}
				document.getElementById("facility5gcount").innerText = msg2;
				
				let msg3 = "";
				let count3 = {{traffic5gcount}};
				let tmsg3 = 0;
				for( var i in traffic5g_list ){
					if(parseInt(count3[i])>0){
						msg3 += traffic5g_list[i]+parseInt(count3[i]);
						tmsg3 += parseInt(count3[i]);
					}
				}
				if(tmsg3 > 0){
					document.getElementById("traffic5gttcount").innerText = "교통인프라 " + parseInt(tmsg3) + "-";
				}
				document.getElementById("traffic5gcount").innerText = msg3;
			</script>
			<br><p>※ SA : </p><p id="districtsa5gcount"></p>
			<script>
				let msg4 = "";
				let count4 = {{districtsa5gcount}};
				
				for( var i in district_list ){
					if(parseInt(count4[i])>0){
						msg4 += district_list[i]+parseInt(count4[i]);
						
					}
				}
				
				document.getElementById("districtsa5gcount").innerText = msg4;
				
			</script>
		</div>
		
			<br><br>
		</div>
		<div id="meassituationLTE">
		<div>
			
			<h3>&nbsp;&nbsp;○ LTE : 전국 </h3><h3 id = "tt2"></h3><h3> {{sregiLTE}}개 완료</h3><h3 id = pc2></h3><h3>,</h3>
			{% for reportmsg in reportmsg %}
			<h4 style="color: blue;" id='result2' >
				
				{{reportmsg.msgLTE}}
				
			</h4>	
			<input style="display:inline;height:23px;width:200px;" class="form-control"type="text" name="msgLTE" id="textmod2" value="{{reportmsg.msgLTE}}"></input>
			{% endfor %}
		</div>
		<br>
		<div id="output">
			<table id="ltehh">
				<thead>
					<tr>
						<th rowspan = "2" style>구분</th>
						<th rowspan = "2" style>계</th>
						<th colspan = "3" style>행정동</th>
						<th colspan = "2" style>다중이용시설/교통인프라</th>
						<th rowspan = "2" style>커버리지</th>
					</tr>
					<tr>
						<th >대도시</th>
						<th >중소도시</th>
						<th >농어촌</th>
						<th >인빌딩</th>
						<th >테마</th>
					</tr>
				</thead>
				<tbody>
					
					<tr>
						<td >대상</td>
						{% for regi in regi %}
						<td id = "ltt">{{regi.totalLTE}}</td>
						<td id="planarea4">{{regi.bctLTE}}</td>
						<td id="planarea5">{{regi.mctLTE}}</td>
						<td id="planarea6">{{regi.sctLTE}}</td>
						<td id="planarea7">{{regi.ibLTE}}</td>
						<td id="planarea8">{{regi.tmLTE}}</td>
						<td id="planarea9">{{regi.cvLTE}}</td>
						{% endfor %}
				   </tr>
				   
					<tr>
				 		<td >누적</td>
						<td id = lnj>{{sregiLTE}}</td>
						<td id="resultarea4">{{sregiLTE1}}</td>
						<td id="resultarea5">{{sregiLTE2}}</td>
						<td id="resultarea6">{{sregiLTE3}}</td>
						<td id="resultarea7">{{sregiLTE4}}</td>
						<td id="resultarea8">{{sregiLTE5}}</td>
						<td id="resultarea9">{{sregiLTE6}}</td>
					</tr>
					<tr>
				 		<td >금일</td>
						<td >{{tregiLTE}}</td>
						<td >{{tregiLTE1}}</td>
						<td >{{tregiLTE2}}</td>
						<td >{{tregiLTE3}}</td>
						<td >{{tregiLTE4}}</td>
						<td >{{tregiLTE5}}</td>
						<td >{{tregiLTE6}}</td>
					</tr>
				</tbody>
			</table>
		</div>
		
		<div style="display: inline; font-size: 10pt; position: relative; left: 5%;">
			<p style="font-weight:bold">※ 행정동 : </p><p id = "bctltettcount" style="font-weight:bold"></p><p id="bctltecount"></p>
							<p id = "mctltettcount" style="font-weight:bold"></p><p id="mctltecount"></p>
							<p id = "sctltettcount" style="font-weight:bold"></p><p id="sctltecount"></p>
			<br><p style="font-weight:bold">※ 인빌딩 : </p><p id="ibltecount"></p>
			<br><p style="font-weight:bold">※ 테마 : </p><p id="tmltecount"></p><br>
			<script>
				
				let msg5 = "";
				let count5 = {{bctltecount}};
				let tmsg5 = 0;
				for( var i in district_list ){
					if(parseInt(count5[i])>0){
						msg5 += district_list[i]+parseInt(count5[i]);
						tmsg5 += parseInt(count5[i]);
					}
				}
				if(tmsg5 > 0){
					document.getElementById("bctltettcount").innerText = "대도시 " + parseInt(tmsg5) + "-";
				}
				document.getElementById("bctltecount").innerText = msg5;
				
				let msg6 = "";
				let count6 = {{mctltecount}};
				let tmsg6 = 0;
				for( var i in district_list ){
					if(parseInt(count6[i])>0){
						msg6 += district_list[i]+parseInt(count6[i]);
						tmsg6 += parseInt(count6[i]);
					}
				}
				if(tmsg6 > 0){
					document.getElementById("mctltettcount").innerText = "중소도시 " + parseInt(tmsg6) + "-";
				}
				document.getElementById("mctltecount").innerText = msg6;

				let msg7 = "";
				let count7 = {{sctltecount}};
				let tmsg7 = 0;
				for( var i in district_list ){
					if(parseInt(count7[i])>0){
						msg7 += district_list[i]+parseInt(count7[i]);
						tmsg7 += parseInt(count7[i]);
					}
				}
				if(tmsg7 > 0){
					document.getElementById("sctltettcount").innerText = "농어촌 " + parseInt(tmsg7) + "-";
				}
				document.getElementById("sctltecount").innerText = msg7;

				let msg8 = "";
				let count8 = {{ibltecount}};
				
				for( var i in inbuildinglte_list ){
					if(parseInt(count8[i])>0){
						msg8 += inbuildinglte_list[i]+parseInt(count8[i]);
						
					}
				}
				
				document.getElementById("ibltecount").innerText = msg8;

				let msg9 = "";
				let count9 = {{tmltecount}};
				
				for( var i in themelte_list ){
					if(parseInt(count9[i])>0){
						msg9 += themelte_list[i]+parseInt(count9[i]);
						
					}
				}
				
				document.getElementById("tmltecount").innerText = msg9;
			</script>
			
		<br>	
		</div>
		
</div>
<br>
<div id = "meassituationWiFi">
		<div>
			<!-- <input type="checkbox" name="meastitle" id="meas13" value="meassituationWiFi"style="color:grey;" checked/> WiFi -->
			<h3>&nbsp;&nbsp;○ WiFi : 전국 </h3><h3 id="tt3"></h3><h3> {{sregiWiFi}}국소 완료</h3><h3 id = pc3></h3><h3>,</h3>
			{% for reportmsg in reportmsg %}
			<h4 style="color: blue;" id='result3'>
				
				{{reportmsg.msgWiFi}}
				
			</h4>
			<input style="display:inline; height:23px;width:200px;" class="form-control" type="text" name="msgWiFi" id="textmod3" value="{{reportmsg.msgWiFi}}"></input>
			{% endfor %}
		</div>
		<br>
		<div id="output">
			<table id="wifihh">
				<thead>
					<tr>
						<th >구분</th>
						<th >계</th>
						<th >상용</th>
						<th >개방</th>
						
					</tr>
				</thead>
				<tbody>
					
					<tr>
						<td >대상</td>
						{% for regi in regi %}
					   <td id = "witt">{{regi.totalWiFi}}</td>
					   <td id="planarea10">{{regi.syWiFi}}</td>
					   <td id="planarea11">{{regi.gbWiFi}}</td>
					   {% endfor %}
				   </tr>
				  
					<tr>
				 		<td >누적</td>
						<td id = winj>{{sregiWiFi}}</td>
						<td id="resultarea10">{{sregiWiFi1}}</td>
						<td id="resultarea11">{{sregiWiFi2}}</td>
					</tr>
					<tr>
				 		<td >금일</td>
						<td >{{tregiWiFi}}</td>
						<td >{{tregiWiFi1}}</td>
						<td >{{tregiWiFi2}}</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div style="display: inline; font-size: 10pt; position: relative; left: 5%;">
			<p>※ 상용 :</p><p id = "sywificount"></p>
			<br/><p>※ 개방 :</p><p id = "gbwificount"></p>
			<br><p>※ 공공 :</p> <p id = "publicwificount"></p>
		</div>
		<script>
				
			let msg10 = "";
			let count10 = {{sywificount}};
			for( var i in district_list ){
				if(parseInt(count10[i])>0){
					msg10 += district_list[i]+parseInt(count10[i]);
					
				}
			}
		
			document.getElementById("sywificount").innerText = msg10;

			let msg11 = "";
			let count11 = {{gbwificount}};
			for( var i in district_list ){
				if(parseInt(count11[i])>0){
					msg11 += district_list[i]+parseInt(count11[i]);
					
				}
			}
		
			document.getElementById("gbwificount").innerText = msg11;

			let msg12 = "";
			let count12 = {{publicwificount}};
			for( var i in district_list ){
				if(parseInt(count12[i])>0){
					msg12 += district_list[i]+parseInt(count12[i]);
					
				}
			}
		
			document.getElementById("publicwificount").innerText = msg12;
		</script>
		<br>
		<br>
	</div>
	<div id="meassituationweak">
		<div>
			<!-- <input type="checkbox" name="meastitle" id="meas14" value="meassituationweak"style="color:grey;" checked/> 품질취약지역 -->
			<h3>&nbsp;&nbsp;○ LTE/3G 품질취약지역 : 전국 </h3><h3 id="tt4"></h3><h3> {{sregiweak}}개 완료</h3><h3 id = pc4></h3><h3>,</h3>
			{% for reportmsg in reportmsg %}
			<h4 style="color: blue;" id='result4'>
				
				{{reportmsg.msgWeak}}
				
			</h4>
			<input style="display:inline; height:23px;width:200px;" class="form-control" type="text" name="msgWeak" id="textmod4" value="{{reportmsg.msgWeak}}"></input>
			{% endfor %}
			
		</div>
		<br>
		<div id="output">
			<table id="pjhh">
				<thead>
					<tr>
						<th >구분</th>
						<th >계</th>
						<th >등산로</th>
						<th >여객항로</th>
						<th >유인도서</th>
						<th >해안도로</th>
					</tr>
				</thead>
				<tbody>
					
					<tr>
						<td >대상</td>
						{% for regi in regi %}
					   <td id = 'wtt' >{{regi.totalWeakArea}}</td>
					   <td id="planarea12">{{regi.dsrWeak}}</td>
					   <td id="planarea13">{{regi.yghrWeak}}</td>
					   <td id="planarea14">{{regi.yidsWeak}}</td>
					   <td id="planarea15">{{regi.hadrWeak}}</td>
					   {% endfor %}
					<tr>
				 		<td >누적</td>
						<td id="wnj">{{sregiweak}}</td>
						<td id="resultarea12">{{sregiweak1}}</td>
						<td id="resultarea13">{{sregiweak2}}</td>
						<td id="resultarea14">{{sregiweak3}}</td>
						<td id="resultarea15">{{sregiweak4}}</td>
					</tr>
					<tr>
				 		<td >금일</td>
						<td >{{tregiweak}}</td>
						<td >{{tregiweak1}}</td>
						<td >{{tregiweak2}}</td>
						<td >{{tregiweak3}}</td>
						<td >{{tregiweak4}}</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div style="display: inline; font-size: 10pt; position: relative; left: 5%;">
			<p>※ 등산로 : </p><p id="dsrweakcount"></p>
			<br><p>※ 여객항로 :</p><p id="yghrweakcount"></p>
			<br><p>※ 유인도서 :</p><p id="yidsweakcount"></p>
			<br><p>※ 해안도로 :</p><p id="hadrweakcount"></p>
		</div>
		<script>
				
			let msg13 = "";
			let count13 = {{dsrweakcount}};
			for( var i in district_list ){
				if(parseInt(count13[i])>0){
					msg13 += district_list[i]+parseInt(count13[i]);
					
				}
			}
		
			document.getElementById("dsrweakcount").innerText = msg13;

			let msg14 = "";
			let count14 = {{yghrweakcount}};
			for( var i in district_list ){
				if(parseInt(count14[i])>0){
					msg14 += district_list[i]+parseInt(count14[i]);
					
				}
			}
		
			document.getElementById("yghrweakcount").innerText = msg14;

			let msg15 = "";
			let count15 = {{yidsweakcount}};
			for( var i in district_list ){
				if(parseInt(count15[i])>0){
					msg15 += district_list[i]+parseInt(count15[i]);
					
				}
			}
		
			document.getElementById("yidsweakcount").innerText = msg15;

			let msg16 = "";
			let count16 = {{hadrweakcount}};
			for( var i in district_list ){
				if(parseInt(count16[i])>0){
					msg16 += district_list[i]+parseInt(count16[i]);
					
				}
			}
		
			document.getElementById("hadrweakcount").innerText = msg16;
		</script>
		<br>
		<br>
	</div>
	</div>
	</div>
	<!-- 테스트 -->
	<br>
	<br>
	<br>
	<br>
	<hr class="one">
	<br>
	<br>
	<br>
	<br>
	<!-- 테스트 -->
	<div class="page2" id="page2">
		<div id="measresult">
		<div>
			<!-- <input type="checkbox" name="meastitle" id="meas2" value="measresult"style="color:grey;" checked/> 측정결과 -->
			<h2>□ 측정 결과</h2>
		</div>
		<br>
		<div id ="measresult5GNSA">
		<div>
			<!-- <input type="checkbox" name="meastitle" id="meas21" value="measresult5G"style="color:grey;" checked/> 5G -->
			<h3>&nbsp;&nbsp;○ 5G NSA: DL 속도</h3>
			<h3 id="target5">{{totalnsa5g.0}}</h3>
			<h3>Mbps, UL 속도</h3>
			<h3 id="target6">{{totalnsa5g.1}}</h3>
			<h3>Mbps, LTE 전환율</h3>
			<h3 id="target7">{{totalnsa5g.2}}</h3>
			<h3>%, 전송성공률</h2>
			<h3 id="target8">{{totalnsa5g.3}}</h3>
			<h3>%, 지연시간</h2>
			<h3 id="target9">{{totalnsa5g.4}}</h3>
			<h3>ms</h2>
	
		</div>
		<br><div id="output1">
			<table id="5Ggg">
				<thead>
					<tr>
						<th  colspan = "2" rowspan = "2">구분<br>(20년 결과)</th>
						<th  colspan = "2">전송속도(Mbps)</th>
						<th  rowspan = "2">LTE전환율(%)</th>
						<th  rowspan = "2">전송성공률(%)</th>
						<th  rowspan = "2">지연시간(ms)</th>
					</tr>
					<tr >
						<th>DL</th>
						<th>UL</th>
					</tr>
				</thead>
				<tbody id="graph" >
					{% for last5g in last5g %}
					<tr>
						<td  rowspan = "3">행정동</td>
						<td >대도시</td>
						<td >{{bctnsa5g.0}}({{last5g.bctDL}})</td>
						<td >{{bctnsa5g.1}}({{last5g.bctUL}})</td>
						<td >{{bctnsa5g.2}}({{last5g.bctLTE}})</td>
						<td >{{bctnsa5g.3}}({{last5g.bctsucc}})</td>
						<td >{{bctnsa5g.4}}({{last5g.bctdelay}})</td>
					</tr>
					<tr>
						<td >중소도시</td>
						<td >{{mctnsa5g.0}}({{last5g.mctDL}})</td>
						<td >{{mctnsa5g.1}}({{last5g.mctUL}})</td>
						<td >{{mctnsa5g.2}}({{last5g.mctLTE}})</td>
						<td >{{mctnsa5g.3}}({{last5g.mctsucc}})</td>
						<td >{{mctnsa5g.4}}({{last5g.mctdelay}})</td>
					</tr>
					<tr>
						<td >계</td>
						<td >{{hjdnsa5g.0}}({{last5g.totalctDL}})</td>
						<td >{{hjdnsa5g.1}}({{last5g.totalctUL}})</td>
						<td >{{hjdnsa5g.2}}({{last5g.totalctLTE}})</td>
						<td >{{hjdnsa5g.3}}({{last5g.totalctsucc}})</td>
						<td >{{hjdnsa5g.4}}({{last5g.totalctdelay}})</td>
					</tr>
					<tr>
						<td  colspan="2">다중이용시설</td>
						<td >{{djnsa5g.0}}({{last5g.djDL}})</td>
						<td >{{djnsa5g.1}}({{last5g.djUL}})</td>
						<td >{{djnsa5g.2}}({{last5g.djLTE}})</td>
						<td >{{djnsa5g.3}}({{last5g.djsucc}})</td>
						<td >{{djnsa5g.4}}({{last5g.djdelay}})</td>
					</tr>
					<tr>
						<td  colspan="2">아파트</td>
						<td >{{aptnsa5g.0}}({{last5g.aptDL}})</td>
						<td >{{aptnsa5g.1}}({{last5g.aptUL}})</td>
						<td >{{aptnsa5g.2}}({{last5g.aptLTE}})</td>
						<td >{{aptnsa5g.3}}({{last5g.aptsucc}})</td>
						<td >{{aptnsa5g.4}}({{last5g.aptdelay}})</td>
					</tr>
					<tr>
						<td  colspan="2">대학교</td>
						<td >{{univnsa5g.0}}({{last5g.univDL}})</td>
						<td >{{univnsa5g.1}}({{last5g.univUL}})</td>
						<td >{{univnsa5g.2}}({{last5g.univLTE}})</td>
						<td >{{univnsa5g.3}}({{last5g.univsucc}})</td>
						<td >{{univnsa5g.4}}({{last5g.univdelay}})</td>
					</tr>
					<tr>
						<td  colspan="2">교통인프라</td>
						<td >{{trafficnsa5g.0}}({{last5g.trafficDL}})</td>
						<td >{{trafficnsa5g.1}}({{last5g.trafficUL}})</td>
						<td >{{trafficnsa5g.2}}({{last5g.trafficLTE}})</td>
						<td >{{trafficnsa5g.3}}({{last5g.trafficsucc}})</td>
						<td >{{trafficnsa5g.4}}({{last5g.trafficdelay}})</td>
					</tr>
				
					<tr>
						<td  colspan="2">총합</td>
						<td >{{totalnsa5g.0}}({{last5g.areatotalDL}})</td>
						<td >{{totalnsa5g.1}}({{last5g.areatotalUL}})</td>
						<td >{{totalnsa5g.2}}({{last5g.areatotalLTE}})</td>
						<td >{{totalnsa5g.3}}({{last5g.areatotalsucc}})</td>
						<td >{{totalnsa5g.4}}({{last5g.areatotaldelay}})</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		<!-- <p style="font-size: 10pt;">※서비스 가용률:</p> -->
		
	
	<br>
		<br>
	</div>
	<div id ="measresult5GSA">
		<div>
			<!-- <input type="checkbox" name="meastitle" id="meas21" value="measresult5G"style="color:grey;" checked/> 5G -->
			<h3>&nbsp;&nbsp;○ 5G SA : DL 속도</h3>
			<h3 id="target5">{{sa5g.0}}</h3>
			<h3>Mbps, UL 속도</h3>
			<h3 id="target6">{{sa5g.1}}</h3>
			<h3>Mbps, LTE 전환율</h3>
			<h3 id="target7">{{sa5g.2}}</h3>
			<h3>%, 전송성공률</h2>
			<h3 id="target8">{{sa5g.3}}</h3>
			<h3>%, 지연시간</h2>
			<h3 id="target9">{{sa5g.4}}</h3>
			<h3>ms</h2>
	
		</div>
		<br><div id="output1">
			<table id="5Ggg">
				<thead>
					<tr>
						<th  rowspan = "2">구분<br>(20년 결과)</th>
						<th  colspan = "2">전송속도(Mbps)</th>
						<th  rowspan = "2">LTE전환율(%)</th>
						<th  rowspan = "2">전송성공률(%)</th>
						<th  rowspan = "2">지연시간(ms)</th>
					</tr>
					<tr >
						<th>DL</th>
						<th>UL</th>
					</tr>
				</thead>
				<tbody id="graph" >
					{% for last5g in last5g %}
					<tr>
						<td  >종합</td>
						<td >{{sa5g.0}}({{last5g.bctDL}})</td>
						<td >{{sa5g.1}}({{last5g.bctUL}})</td>
						<td >{{sa5g.2}}({{last5g.bctLTE}})</td>
						<td >{{sa5g.3}}({{last5g.bctsucc}})</td>
						<td >{{sa5g.4}}({{last5g.bctdelay}})</td>
					</tr>
					
					{% endfor %}
				</tbody>
			</table>
		</div>
		<!-- <p style="font-size: 10pt;">※서비스 가용률:</p> -->
		
	
	
	<br>
		<br>
	</div>
	<div id="measresultpost5G">
		<div>
			<!-- <input type="checkbox" name="meastitle" id="meas24" value="measresultpost5G" checked/> 사후측정5G -->
			<h3>&nbsp;&nbsp;※ 5G 사후 측정(DL 속도):</h3>
			{% for reportmsg in reportmsg %}
			<h3 style="color: blue;" id='result5'>
				
				
				{{reportmsg.msg5Gafter}}
				
			
			</h3>
			<input style="display:inline; height:23px;width:350px;" class="form-control"type="text" name="msg5Gafter" id="textmod5" value="{{reportmsg.msg5Gafter}}"></input>
			{% endfor %}
		</div>
		<br><div id="output1">
			<form action="{% url 'analysis:create_postmeasure5G' %}" method="POST" style="display:inline;" id="postmeas5G">{% csrf_token %}
			<table id="5Gsh" style="border: solid 1px black;" >
				
				<thead>
					<tr>
						<th rowspan = "2">지역<br>(측정수)</th>
						<th rowspan = "2">20년<br>결과</th>
						<th colspan = "5">종합</th>
						<th colspan = "5">행정동</th>
						<th colspan = "5">다중이용시설/교통/아파트/대학</th>
					</tr>
					<tr >
						<th>KT<br>(본)</th>
						<th>KT<br>(사후)</th>
						<th>S사<br>(사후)</th>
						<th>L사<br>(사후)</th>
						<th>KT<br>순위</th>
						<th>KT<br>(본)</th>
						<th>KT<br>(사후)</th>
						<th>S사<br>(사후)</th>
						<th>L사<br>(사후)</th>
						<th>KT<br>순위</th>
						<th>KT<br>(본)</th>
						<th>KT<br>(사후)</th>
						<th>S사<br>(사후)</th>
						<th>L사<br>(사후)</th>
						<th>KT<br>순위</th>
						
				</thead>
				<tbody id="graph">
				{% for postmeas5g in postmeas5g %} 	
					<tr>
						<td ><p class="postmeasresult">{{postmeas5g.district}}({{postmeas5g.number}})</p></td>
						<td><p class="postmeasresult">{{postmeas5g.lasttotal5g}}</p><input style="display:inline;" class="form-control postmeas5g" type="text" name="lasttotal5g" id="post1"value="{{postmeas5g.lasttotal5g}}"></input></td>
						<td><p class="postmeasresult">{{postmeas5g.kttotaltotal5g}}</p><input style="display:inline;" class="form-control postmeas5g" type="text" name="kttotaltotal5g" id="post2" value="{{postmeas5g.kttotaltotal5g}}"></input></td>
						<td><p class="postmeasresult">{{postmeas5g.kttotalposttotal5g}}</p><input style="display:inline;" class="form-control postmeas5g" type="text" name="kttotalposttotal5g" id="post3" value="{{postmeas5g.kttotalposttotal5g}}"></input></td>
						<td><p class="postmeasresult">{{postmeas5g.skttotalposttotal5g}}</p><input style="display:inline;" class="form-control postmeas5g" type="text" name="skttotalposttotal5g" id="post4" value="{{postmeas5g.skttotalposttotal5g}}"></input></td>
						<td><p class="postmeasresult">{{postmeas5g.lgtotalposttotal5g}}</p><input style="display:inline;" class="form-control postmeas5g" type="text" name="lgtotalposttotal5g" id="post5" value="{{postmeas5g.lgtotalposttotal5g}}"></input></td>
						<td><p class="postmeasresult">{{postmeas5g.ktranktotal5g}}</p><input style="display:inline;" class="form-control postmeas5g" type="text" name="ktranktotal5g"id="post6" value="{{postmeas5g.ktranktotal5g}}"></input></td>
						<td><p class="postmeasresult">{{postmeas5g.kthjdtotal5g}}</p><input style="display:inline;" class="form-control postmeas5g" type="text" name="kthjdtotal5g"id="post7" value="{{postmeas5g.kthjdtotal5g}}"></input></td>
						<td><p class="postmeasresult">{{postmeas5g.kthjdposttotal5g}}</p><input style="display:inline;" class="form-control postmeas5g" type="text" name="kthjdposttotal5g" id="post8" value="{{postmeas5g.kthjdposttotal5g}}"></input></td>
						<td><p class="postmeasresult">{{postmeas5g.skthjdposttotal5g}}</p><input style="display:inline;" class="form-control postmeas5g" type="text" name="skthjdposttotal5g" id="post9" value="{{postmeas5g.skthjdposttotal5g}}"></input></td>
						<td><p class="postmeasresult">{{postmeas5g.lghjdposttotal5g}}</p><input style="display:inline;" class="form-control postmeas5g" type="text" name="lghjdposttotal5g" id="post10" value="{{postmeas5g.lghjdposttotal5g}}"></input></td>
						<td><p class="postmeasresult">{{postmeas5g.ktrankhjdtotal5g}}</p><input style="display:inline;" class="form-control postmeas5g" type="text" name="ktrankhjdtotal5g" id="post11" value="{{postmeas5g.ktrankhjdtotal5g}}"></input></td>
						<td><p class="postmeasresult">{{postmeas5g.ktsidetotal5g}}</p><input style="display:inline;" class="form-control postmeas5g" type="text" name="ktsidetotal5g"id="post12"  value="{{postmeas5g.ktsidetotal5g}}"></input></td>
						<td><p class="postmeasresult">{{postmeas5g.ktsideposttotal5g}}</p><input style="display:inline;" class="form-control postmeas5g" type="text" name="ktsideposttotal5g" id="post13" value="{{postmeas5g.ktsideposttotal5g}}"></input></td>
						<td><p class="postmeasresult">{{postmeas5g.sktsideposttotal5g}}</p><input style="display:inline;" class="form-control postmeas5g" type="text" name="sktsideposttotal5g" id="post14" value="{{postmeas5g.sktsideposttotal5g}}"></input></td>
						<td><p class="postmeasresult">{{postmeas5g.lgsideposttotal5g}}</p><input style="display:inline;" class="form-control postmeas5g" type="text" name="lgsideposttotal5g" id="post15" value="{{postmeas5g.lgsideposttotal5g}}"></input></td>
						<td><p class="postmeasresult">{{postmeas5g.ktranksidetotal5g}}</p><input style="display:inline;" class="form-control postmeas5g" type="text" name="ktranksidetotal5g" id="post16" value="{{postmeas5g.ktranksidetotal5g}}"></input></td>
					</tr>
				{% endfor %}	
					
					
						
					
					
				</tbody>
			</table>
		</form>
		</div>
	</br>
</div>
</div>
<!-- 테스트 -->
<br>
<br>
<br>
<br>
<hr class="one">
<br>
<br>
<br>
<br>
<!-- 테스트 -->
<div class="page3" id="page3">
<div id="measresultLTE">
	<div>
		<!-- <input type="checkbox" name="meastitle" id="meas22" value="measresultLTE"style="color:grey;background-color: white;" checked/> LTE -->
		<h3>&nbsp;&nbsp;○ LTE : DL 속도 </h3>
		<h3 id="target5">{{totallte.0}}</h3>
		<h3>Mbps, UL 속도 </h2>
		<h3 id="target6">{{totallte.1}}</h3>
		<h3>Mbps, 전송성공률 </h3>
		<h3>{{totallte.2}}</h3>
		<h3 id='target3'>%, 지연시간 </h3>
		<h3>{{totallte.3}}</h3>
		<h3>ms</h3>
	</div>
	<br><div id="output1">
		<table id="5Ghh">
			<thead>
				<tr>
					<th rowspan="2" colspan="2">구분<br/>('20년 결과)</th>
					<th colspan="2">전송속도(Mbps)</th>
					<th rowspan="2">전송성공률<br/>(%)</th>
					<th rowspan="2">지연시간<br/>(ms)</th>
				</tr>
				<tr>
					<th>DL</th>
					<th>UL</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					{% for lastlte in lastlte %}
					<td rowspan="4">행정동</td>
					<td>대도시</td>
				  	<td >{{bctlte.0}}({{lastlte.bctDL}})</td>
					<td >{{bctlte.1}}({{lastlte.bctUL}})</td>
					<td >{{bctlte.2}}({{lastlte.bctsucc}})</td>
					<td >{{bctlte.3}}({{lastlte.bctdelay}})</td>
				</tr>
				<tr>
					<td>중소도시</td>
					<td >{{mctlte.0}}({{lastlte.mctDL}})</td>
					<td >{{mctlte.1}}({{lastlte.mctUL}})</td>
					<td >{{mctlte.2}}({{lastlte.mctsucc}})</td>
					<td >{{mctlte.3}}({{lastlte.mctdelay}})</td>
				</tr>
				<tr>
					<td>농어촌</td>                           
					<td >{{sctlte.0}}({{lastlte.sctDL}})</td>
					<td >{{sctlte.1}}({{lastlte.sctUL}})</td>
					<td >{{sctlte.2}}({{lastlte.sctsucc}})</td>
					<td >{{sctlte.3}}({{lastlte.sctdelay}})</td>
				</tr>
				<tr>
					<td>계</td>
					<td >{{hjdlte.0}}({{lastlte.totalctDL}})</td>
					<td >{{hjdlte.1}}({{lastlte.totalctUL}})</td>
					<td >{{hjdlte.2}}({{lastlte.totalctsucc}})</td>
					<td >{{hjdlte.3}}({{lastlte.totalctdelay}})</td>
				</tr>
				<tr>
					<td colspan="2">인빌딩</td>
					<td >{{iblte.0}}({{lastlte.ibDL}})</td>
					<td >{{iblte.1}}({{lastlte.ibUL}})</td>
					<td >{{iblte.2}}({{lastlte.ibsucc}})</td>
					<td >{{iblte.3}}({{lastlte.ibdelay}})</td>
				</tr>
				<tr>
					<td colspan="2">테마</td>
					<td >{{tmlte.0}}({{lastlte.tmDL}})</td>
					<td >{{tmlte.1}}({{lastlte.tmUL}})</td>
					<td >{{tmlte.2}}({{lastlte.tmsucc}})</td>
					<td >{{tmlte.3}}({{lastlte.tmdelay}})</td>
				</tr>
				<tr>
					<td colspan="2">종합</td>
					<td >{{totallte.0}}({{lastlte.areatotalDL}})</td>
					<td >{{totallte.1}}({{lastlte.areatotalUL}})</td>
					<td >{{totallte.2}}({{lastlte.areatotalsucc}})</td>
					<td >{{totallte.3}}({{lastlte.areatotaldelay}})</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	<!-- <p style="font-size: 10pt;">※서비스 가용률:</p> -->
	


<br>
	<br>
	
</div>

<div id="measresultpostLTE">
	<div>
		<!-- <input type="checkbox" name="meastitle" id="meas25" value="measresultpostLTE" checked/> 사후측정LTE -->
		<h3>&nbsp;&nbsp;※ LTE 사후 측정(지하철 품질 포함):</h3>
		{% for reportmsg in reportmsg %}
		<h3 style="color: blue;" id='result6'>
				
			
			{{reportmsg.msgLTEafter}}
			
		
		</h3>
		<input style="display:inline;height:23px; width:350px;"class="form-control" type="text" name="msgLTEafter" id="textmod6" value="{{reportmsg.msgLTEafter}}"></input>
		{% endfor %}
	</div>

	<br><div id="output1">
		<table id="5Gsh" style="border: solid 1px black;" >
			<thead>
				<tr>
					<th rowspan = "2">지역<br>(측정수)</th>
					<th rowspan = "2">20년<br>결과</th>
					<th colspan = "4">DL 속도(Mbps)</th>
					<th colspan = "4">UL 속도(Mbps)</th>
					
				</tr>
				<tr >
					<th>KT<br>(본)</th>
					<th>KT<br>(사후)</th>
					<th>S사<br>(사후)</th>
					<th>L사<br>(사후)</th>
					
					<th>KT<br>(본)</th>
					<th>KT<br>(사후)</th>
					<th>S사<br>(사후)</th>
					<th>L사<br>(사후)</th>
					
					
			</thead>
			<tbody id="graph" >
				{% for postmeaslte in postmeaslte %} 	
				<tr>
					<td ><p class="postmeasresult">{{postmeaslte.district}}({{postmeaslte.number}})</p></td>
					<td><p class="postmeasresult">{{postmeaslte.lasttotallte}}</p><input style="display:inline;" class="form-control postmeas5g" type="text" name="lasttotal5g" id="post1"value="{{postmeas5g.lasttotal5g}}"></input></td>
					<td><p class="postmeasresult">{{postmeaslte.ktdllte}}</p><input style="display:inline;" class="form-control postmeas5g" type="text" name="kttotaltotal5g" id="post2" value="{{postmeas5g.kttotaltotal5g}}"></input></td>
					<td><p class="postmeasresult">{{postmeaslte.ktpostdllte}}</p><input style="display:inline;" class="form-control postmeas5g" type="text" name="kttotalposttotal5g" id="post3" value="{{postmeas5g.kttotalposttotal5g}}"></input></td>
					<td><p class="postmeasresult">{{postmeaslte.sktpostdllte}}</p><input style="display:inline;" class="form-control postmeas5g" type="text" name="skttotalposttotal5g" id="post4" value="{{postmeas5g.skttotalposttotal5g}}"></input></td>
					<td><p class="postmeasresult">{{postmeaslte.lgpostdllte}}</p><input style="display:inline;" class="form-control postmeas5g" type="text" name="lgtotalposttotal5g" id="post5" value="{{postmeas5g.lgtotalposttotal5g}}"></input></td>
					<td><p class="postmeasresult">{{postmeaslte.ktullte}}</p><input style="display:inline;" class="form-control postmeas5g" type="text" name="ktranktotal5g"id="post6" value="{{postmeas5g.ktranktotal5g}}"></input></td>
					<td><p class="postmeasresult">{{postmeaslte.ktpostullte}}</p><input style="display:inline;" class="form-control postmeas5g" type="text" name="ktranktotal5g"id="post6" value="{{postmeas5g.ktranktotal5g}}"></input></td>
					<td><p class="postmeasresult">{{postmeaslte.sktpostullte}}</p><input style="display:inline;" class="form-control postmeas5g" type="text" name="kthjdtotal5g"id="post7" value="{{postmeas5g.kthjdtotal5g}}"></input></td>
					<td><p class="postmeasresult">{{postmeaslte.lgpostullte}}</p><input style="display:inline;" class="form-control postmeas5g" type="text" name="kthjdposttotal5g" id="post8" value="{{postmeas5g.kthjdposttotal5g}}"></input></td>
					
				</tr>
				{% endfor %}	
			
					
			</tbody>
		</table>
	</div>
</br>
</div>
<div id="measresultweak">
	<div>
		<!-- <input type="checkbox" name="meastitle" id="meas22" value="measresultLTE"style="color:grey;background-color: white;" checked/> LTE -->
		<h3>&nbsp;&nbsp;○ LTE/3G 품질취약지역 </h3>
		
	</div>
	<br><div id="output1">
		<table id="5Ghh">
			<thead>
				<tr>
					<th rowspan="2">구분<br/>('20년 결과)</th>
					<th colspan="2">통화성공률(%)</th>
					<th colspan="2">전송성공률(%)</th>
				</tr>
				<tr>
					<th>VoLTE</th>
					<th>3G</th>
					<th>LTE</th>
					<th>3G</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					
					<td>등산로</td>
					
				  	<td >00</td>
					<td >00</td>
					<td >00</td>
					<td >00</td>
				</tr>
				<tr>
					<td>여객항로</td>
					<td >00</td>
					<td >00</td>
					<td >00</td>
					<td >00</td>
				</tr>
				<tr>
					<td>유인도서</td>                           
					<td >00</td>
					<td >00</td>
					<td >00</td>
					<td >00</td>
				</tr>
				<tr>
					<td>해안도로</td>
					<td >00</td>
					<td >00</td>
					<td >00</td>
					<td >00</td>
				</tr>
				<tr>
					<td >계</td>
					<td >00</td>
					<td >00</td>
					<td >00</td>
					<td >00</td>
				</tr>
			</tbody>
		</table>
	</div>
	
	


<br>
	<br>
	
</div>
<div id="measresultWiFi">
	<div>
		<!-- <input type="checkbox" name="meastitle" id="meas23" value="measresultWiFi" checked/> WiFi -->
		<h3>&nbsp;&nbsp;○ WiFi</h3></br></br>
		<h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;종합(지하철제외)</h3>
	</div>

	<div id="output1">
		<table id="5Ghh">
			<thead>
				<tr>
					<th rowspan="2">구분<br/>('20년 결과)</th>
					<th colspan="3">DL(Mbps)</th>
					<th colspan="3">UL(Mbps)</th>
				</tr>
				<tr>
					<th>계</th>
					<th>상용</th>
					<th>개방</th>
					
					<th>계</th>
					<th>상용</th>
					<th>개방</th>
					
				</tr>
			</thead>
			<tbody>
				{% for lastwifi in lastwifi %}
				<tr>
					<td>누적</td>
					<td>{{totalwifidl}}({{lastwifi.totalwifidl}})</td>
					<td>{{totalsywifidl}}({{lastwifi.sywifidl}})</td>
					<td>{{totalgbwifidl}}({{lastwifi.gbwifidl}})</td>
					
					<td>{{totalwifiul}}({{lastwifi.totalwifiul}})</td>
					<td>{{totalsywifiul}}({{lastwifi.sywifiul}})</td>
					<td>{{totalgbwifiul}}({{lastwifi.gbwifiul}})</td>
					
				</tr>
				{% endfor %}
				
			
			</tbody>
		</table>
	</div>
</br>
	<div>
		
		<h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;센터별(지하철 제외)</h3>
	</div>

	<div id="output1">
		<table id="5Ghh">
			<thead>
				<tr>
					<th rowspan="2">구분</th>
					<th colspan="2">서울강북</th>
					<th colspan="2">강원</th>
					<th colspan="2">경기북부</th>
					<th colspan="2">서울강남</th>
					<th colspan="2">경기남부</th>
					<th colspan="2">경기서부</th>
					<th colspan="2">부산</th>
				</tr>
				<tr>
					
					<th>상용</th>
					<th>개방</th>
					
					<th>상용</th>
					<th>개방</th>

					<th>상용</th>
					<th>개방</th>
					<th>상용</th>
					<th>개방</th>
					
					<th>상용</th>
					<th>개방</th>

					<th>상용</th>
					<th>개방</th>

					<th>상용</th>
					<th>개방</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					
					<td>DL</td>
					{% for i in wificenterdl %}
					<td>{{i}}</td>
				
					
					{% endfor %}
				</tr>
					
					
				<tr>
					<td>UL</td>
					{% for i in wificenterul %}
					<td>{{i}}</td>
					
					
					{% endfor %}
				</tr>
				
			</tbody>
		</table>
		<table id="5Ghh">
			<thead>
				<tr>
					<th rowspan="2">구분</th>
					<th colspan="2">경남</th>
					<th colspan="2">대구</th>
					<th colspan="2">경북</th>
					<th colspan="2">전남</th>
					<th colspan="2">전북</th>
					<th colspan="2">충남</th>
					<th colspan="2">충북</th>
				</tr>
				<tr>
					<th>상용</th>
					<th>개방</th>
					<th>상용</th>
					<th>개방</th>
					<th>상용</th>
					<th>개방</th>
					<th>상용</th>
					<th>개방</th>
					<th>상용</th>
					<th>개방</th>
					<th>상용</th>
					<th>개방</th>
					<th>상용</th>
					<th>개방</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>DL</td>
					{% for i in wificenterdl2 %}
					<td>{{i}}</td>
					
					{% endfor %}
				</tr>
				<tr>
					<td>UL</td>
					{% for i in wificenterul2 %}
					<td>{{i}}</td>
					
					{% endfor %}
				</tr>
			</tbody>
		</table>
	</div>
</br>
	<div>
		
		<h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;지역별(지하철 객차)</h3>
	</div>

	<div id="output1">
		<table id="5Ghh">
			<thead>
				<tr>
					<th rowspan>구분</th>
					<th colspan>계</th>
					<th colspan>수도권</th>
					<th colspan>부산</th>
					<th colspan>대구</th>
					<th colspan>광주</th>
					<th colspan>대전</th>
				</tr>
				
			</thead>
			<tbody>
				<tr>
					
					<td>DL(Mbps)</td>
					{% for wifitraindl in wifitraindl %}
					<td>{{wifitraindl}}</td>
					{% endfor %}
				
				</tr>
				<tr>
					<td>UL(Mbps)</td>
					{% for wifitrainul in wifitrainul %}
					<td>{{wifitrainul}}</td>
					{% endfor %}
					
				</tr>
	  
			</tbody>
		</table>
	</div>

</div>
<br>
<br>
<div>
	<h2>□ 별첨. 금일</h2><h2></h2><h2> 측정 결과 세부내역</h2> 
	<br><h3>&nbsp;&nbsp;○ 5G : NSA </h3><h3 ></h3><h3>지역</h3><h3></h3><h3>, SA</h3><h3></h3><h3>지역</h3>

	<div id="output1">
		<table id="5Ghh">
			<thead>
				<tr>
					<th rowspan="2">센터</th>
					<th rowspan="2">구분</th>
					<th colspan="2">지역명</th>
					<th colspan="2">속도(Mbps)</th>
					<th rowspan="2">LTE전환율(%)</th>
					<th rowspan="2">전송성공률(%)</th>
					<th rowspan="2">접속/지연(ms)</th>
				</tr>
				<tr>
					<th>시도</th>
					<th>측정 지역</th>
					<th>DL</th>
					<th>UL</th>
					
				</tr>
				
			</thead>
			<tbody>
				{% for tresult5g in tresult5g %}
				<tr>
					<td>{{tresult5g.center}}</td>
					<td>{{tresult5g.mopho}}</td>
					<td>{{tresult5g.district}}</td>
					<td>{{tresult5g.siDo}} {{tresult5g.guGun}}({{tresult5g.nettype}})</td>
					<td>{{tresult5g.downloadBandwidth}}</td>
					<td>{{tresult5g.uploadBandwidth}}</td>
					<td>{{tresult5g.lte_percent}}</td>
					<td>{{tresult5g.success_rate}}</td>
					<td>{{tresult5g.connect_time}}/{{tresult5g.udpJitter}}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
<br>					
</div>
<div>
	
	<br><h3>&nbsp;&nbsp;○ LTE :</h3><h3 ></h3><h3>지역</h3><h3></h3>

	<div id="output1">
		<table id="5Ghh">
			<thead>
				<tr>
					<th rowspan="2">센터</th>
					<th rowspan="2">구분</th>
					<th colspan="2">지역명</th>
					<th colspan="2">속도(Mbps)</th>
					<th rowspan="2">전송성공률(%)</th>
					<th rowspan="2">접속/지연(ms)</th>
				</tr>
				<tr>
					<th>시도</th>
					<th>측정 지역</th>
					<th>DL</th>
					<th>UL</th>
					
				</tr>
				
			</thead>
			<tbody>
				{% for tresultlte in tresultlte %}
				<tr>
					<td>{{tresultlte.center}}</td>
					<td>{{tresultlte.mopho}}</td>
					<td>{{tresultlte.district}}</td>
					<td>{{tresultlte.siDo}} {{tresultlte.guGun}}({{tresultlte.nettype}})</td>
					<td>{{tresultlte.downloadBandwidth}}</td>
					<td>{{tresultlte.uploadBandwidth}}</td>
					<td>{{tresultlte.success_rate}}</td>
					<td>{{tresultlte.connect_time}}/{{tresultlte.udpJitter}}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
<br>					
</div>
<div>
	<br><h3>&nbsp;&nbsp;○ 품질취약: </h3><h3 ></h3><h3>지역</h3><h3></h3>

	<div id="output1">
		<table id="5Ghh">
			<thead>
				<tr>
					<th rowspan="2">센터</th>
					<th rowspan="2">구분</th>
					<th rowspan="2">측정지역</th>
					<th colspan="2">속도(Mbps)</th>
					<th rowspan="2">비고</th>
					
				</tr>
				<tr>
					
					<th>DL</th>
					<th>UL</th>
					
				</tr>
				
			</thead>
			<tbody>
				{% for tresultweak in tresultweak %}
				<tr>
					<td>{{tresultweak.center}}</td>
					<td>{{tresultweak.mopho}}</td>
					<td>{{tresultweak.siDo}} {{tresultweak.guGun}}({{tresultweak.nettype}})</td>
					<td>{{tresultweak.downloadBandwidth}}</td>
					<td>{{tresultweak.uploadBandwidth}}</td>
					<td>{{tresultweak.subadd}}</td>
					
				</tr>
				{% endfor %}
				
			</tbody>
		</table>
	</div>
<br>					
</div>		
<div>
	<br><h3>&nbsp;&nbsp;○ WiFi: </h3><h3 ></h3><h3>국소</h3><h3></h3>

	<div id="output1">
		<table id="5Ghh">
			<thead>
				<tr>
					<th rowspan="2">센터</th>
					<th rowspan="2">구분</th>
					<th rowspan="2">측정국소</th>
					<th colspan="2">속도(Mbps)</th>
					<th rowspan="2">비고</th>
					
				</tr>
				<tr>
			
					<th>DL</th>
					<th>UL</th>
					
				</tr>
				
			</thead>
			<tbody>
				{% for tresultwifi in tresultwifi %}
				<tr>
					<td>{{tresultwifi.center}}</td>
					<td>{{tresultwifi.mopho}}</td>
					<td>{{tresultwifi.siDo}} {{tresultwifi.guGun}}({{tresultwifi.nettype}})</td>
					<td>{{tresultwifi.downloadBandwidth}}</td>
					<td>{{tresultwifi.uploadBandwidth}}</td>
					<td>{{tresultwifi.subadd}}</td>
					
				</tr>
				{% endfor %}
				
			</tbody>
		</table>
	</div>
<br>					
</div>
















</div>
	</div>		
</div>	
</div>
</div>	
</div>
</div>
</body>

{% endblock %}
{% block extra-script %}
<!-- 자바스크립트 호출 -->

{% csrf_token %}
<script src="https://unpkg.com/vue@2.4.2"></script>
<script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
<script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>

<script src="https://html2canvas.hertzen.com/dist/html2canvas.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.4/jspdf.min.js"></script>

<script type="text/javascript" defer src="{% static "js/reportdata.js" %}"></script>
<script type="text/javascript" defer src="{% static "js/html2canvas.js" %}"></script>

<script>

$(document).ready(function() {
	// //드래그 가능 기능 
	// $('#meassituation').sortable({
		
		
	// });
	// 레포트메세지 입력 복사
	$('#textmod1').keyup(function(){
		let text1 = $("#textmod1").val();
		$("#textmod1copy").val(text1);
	});
	$('#textmod2').keyup(function(){
		let text2 = $("#textmod2").val();
		$("#textmod2copy").val(text2);
	});
	$('#textmod3').keyup(function(){
		let text3 = $("#textmod3").val();
		$("#textmod3copy").val(text3);
	});
	$('#textmod4').keyup(function(){
		let text4 = $("#textmod4").val();
		$("#textmod4copy").val(text4);
	});
	$('#textmod5').keyup(function(){
		let text5 = $("#textmod5").val();
		$("#textmod5copy").val(text5);
	});
	$('#textmod6').keyup(function(){
		let text6 = $("#textmod6").val();
		$("#textmod6copy").val(text6);
	});
	// 체크박스 항목 보이기/숨기기
	$('#meas1').change(function(){
    	if($(this).is(":checked")){
			$("#meassituation").show();
		} else {
			$("#meassituation").hide();
		}

	});
	$('#meas11').change(function(){
    	if($(this).is(":checked")){
			$("#meassituation5G").show();
		} else {
			$("#meassituation5G").hide();
		}

	});
	$('#meas12').change( function(){
    	if($(this).is(":checked")){
			$("#meassituationLTE").show();
		} else {
			$("#meassituationLTE").hide();
		}

	});
	$('#meas13').change( function(){
    	if($(this).is(":checked")){
			$("#meassituationWiFi").show();
		} else {
			$("#meassituationWiFi").hide();
		}

	});
	$('#meas14').change( function(){
    	if($(this).is(":checked")){
			$("#meassituationweak").show();
		} else {
			$("#meassituationweak").hide();
		}

	});
	
	$('#meas2').change( function(){
		if($(this).is(":checked")){
				$("#measresult").show();
		} else {
				$("#measresult").hide();
		}

	});
	$('#meas21').change( function(){
		if($(this).is(":checked")){
				$("#measresult5G").show();
		} else {
				$("#measresult5G").hide();
		}

	});
	$('#meas24').change( function(){
		if($(this).is(":checked")){
				$("#measresultpost5G").show();
		} else {
				$("#measresultpost5G").hide();
		}

	});
	$('#meas22').change( function(){
		if($(this).is(":checked")){
				$("#measresultLTE").show();
		} else {
				$("#measresultLTE").hide();
		}

	});
	$('#meas25').change( function(){
		if($(this).is(":checked")){
				$("#measresultpostLTE").show();
		} else {
				$("#measresultpostLTE").hide();
		}

	});
	$("#measresultpostLTE").hide()
	$("#measresultpost5G").hide()
	$('#meas23').change( function(){
		if($(this).is(":checked")){
				$("#measresultWiFi").show();
		} else {
				$("#measresultWiFi").hide();
		}

	});
	$('#meas3').change( function(){
		if($(this).is(":checked")){
				$("#measplus").show();
		} else {
				$("#measplus").hide();
		}

	});
	//사후측정데이터 null값 대비
	// if ($(".postmeasresult").value() == null){
	// 	$(".postmeasresult").text("X");
	// }else{
	// 	pass;
	// };
	

	//수정 완료 버튼 이벤트
	let textmod = ["#textmod1","#textmod2","#textmod3","#textmod4","#textmod5","#textmod6"]
	let result = ["#result1","#result2","#result3","#result4","#result5","#result6"]
	let textmodcopy = ["#textmod1copy","#textmod2copy","#textmod3copy","#textmod4copy","#textmod5copy","#textmod6copy"]
	$("#msgcomplete").hide();
	$("#postmeascomplete").hide();
	$(".postmeas5g").hide();
	$("#checkbox").hide();
	for (let i = 0; i<textmod.length; i++){
			$(textmod[i]).hide();
		}
	
	$('#msgmodify').click(function() {
		for(let i = 0; i<textmod.length; i++){
			$(textmod[i]).toggle();
		};
		for(let i = 0; i<result.length; i++){
			$(result[i]).toggle();
		};
		$("#checkbox").toggle();
		let text1 = $("#textmod1").val();
		$("#textmod1copy").val(text1);
		let text2 = $("#textmod2").val();
		$("#textmod2copy").val(text2);
		let text3 = $("#textmod3").val();
		$("#textmod3copy").val(text3);
		let text4 = $("#textmod4").val();
		$("#textmod4copy").val(text4);
		let text5 = $("#textmod5").val();
		$("#textmod5copy").val(text5);
		let text6 = $("#textmod6").val();
		$("#textmod6copy").val(text6);
		$("#msgcomplete").toggle();
		$("#postmeasmodify").toggle();
	});
	$('#postmeasmodify').click(function() {
		// $(".postmeas5g").toggle();
		$("#postmeascomplete").toggle();
		$("#msgmodify").toggle();
		// $(".postmeasresult").toggle();
	});
	
});
</script>

<!-- 시험	 -->
<script>
	// PDF 출력 버튼 이벤트
	$('#cmd').click(
				function() {
					var doc = new jsPDF();
					var specialElementHandlers = {
						'#editor' : function(element, renderer) {
							return true;
						}
					};
					let pagenum = ['#page1','#page2','#page3']
					// html2canvas($('.page'), {	
					// 	onrendered : function(canvas) {
					
					
					// for(let i = 0; i<pagenum.length; i++){
					// 	html2canvas(document.querySelector(pagenum[i])).then(canvas =>{
					// 		var doc = new jsPDF("p", "mm", 'a4');
					// 		var imgData = canvas.toDataURL('jpeg', 1.0);
					// 		var imgWidth = 180; // 이미지 가로 길이(mm) A4 기준
					// 		var pageHeight = imgWidth / 210 * 297; // 출력 페이지 세로 길이 계산 A4 기준
					// 		var imgHeight = canvas.height * imgWidth / canvas.width;
					// 		var heightLeft = imgHeight;
					// 		var margin = 15; // 출력 페이지 여백설정
					// 		var position = 15;	
					// 		doc.addImage(imgData, 'JPEG', margin, position, imgWidth, imgHeight-40);
					// 		doc.save('test.pdf');
					// 	});
					// }
						
					
				// });
				
						html2canvas(document.querySelector('#page1')).then(canvas =>{
							var imgData = canvas.toDataURL('jpeg', 1.0);
							var imgWidth = 180; // 이미지 가로 길이(mm) A4 기준
							var pageHeight = imgWidth / 210 * 297; // 출력 페이지 세로 길이 계산 A4 기준
							var imgHeight = canvas.height * imgWidth / canvas.width;
							var heightLeft = imgHeight;
							var margin = 15; // 출력 페이지 여백설정
							var position = 15;
							var doc = new jsPDF("p", "mm", 'a4');
	
							doc.addImage(imgData, 'JPEG', margin, position, imgWidth, imgHeight-100);
							// heightLeft -= pageHeight;
							// 한 페이지 이상일 경우 루프 돌면서 출력
							// while (heightLeft >= 15) {
							// 	position = heightLeft - imgHeight - 40;
							// 	doc.addPage();
							// 	doc.addImage(imgData, 'JPEG', margin, position, imgWidth, imgHeight);
							// 	heightLeft -= pageHeight;
							// }
							doc.save('test.pdf');
						});
						html2canvas(document.querySelector('#page2')).then(canvas =>{
							var imgData2 = canvas.toDataURL('jpeg', 1.0);
							var imgWidth = 180; // 이미지 가로 길이(mm) A4 기준
							var pageHeight = imgWidth / 210 * 297; // 출력 페이지 세로 길이 계산 A4 기준
							var imgHeight = canvas.height * imgWidth / canvas.width;
							var heightLeft = imgHeight;
							var margin = 15; // 출력 페이지 여백설정
							var position = 15;
							var doc = new jsPDF("p", "mm", 'a4');
							
							doc.addImage(imgData2, 'JPEG', margin, position, imgWidth, imgHeight-150);
							doc.save('test.pdf');
						});
						html2canvas(document.querySelector('#page3')).then(canvas =>{
							var imgData3 = canvas.toDataURL('jpeg', 1.0);
							var imgWidth = 180; // 이미지 가로 길이(mm) A4 기준
							var pageHeight = imgWidth / 210 * 297; // 출력 페이지 세로 길이 계산 A4 기준
							var imgHeight = canvas.height * imgWidth / canvas.width;
							var heightLeft = imgHeight;
							var margin = 15; // 출력 페이지 여백설정
							var position = 15;
							var doc = new jsPDF("p", "mm", 'a4');
							
							
							doc.addImage(imgData3, 'JPEG', margin, position, imgWidth, imgHeight-40);
							doc.save('test.pdf');
						});
						
					
						function merge_test(){
											$.ajaxSetup({
											headers: { "X-CSRFToken": '{{csrf_token}}'}
											});
											$.ajax({
												url: "{% url 'analysis:pdf_merge' %}",
												processData: false,
												contentType: false,
												type: "POST",

												//data : formData,
												success: function() {
													alert("성공성공");
													//location.reload();
												},
												error: function() {
													alert("실패실패");
												},
										});

						};
						setTimeout(function(){merge_test()},10000);
					    
					
				});
	
	
</script>
<!-- 테스트 사이드바 -->
<script>
$(document).ready(function () {
    $('#sidebarCollapse').on('click', function () {
        $('#sidebar').toggleClass('active');
        $(this).toggleClass('active');
		
    });

	
	

});

  
    $('#report_nav').addClass('nav-item active');
	$('#dashboard_nav').removeClass('nav-item active');
	$('#dashboard_nav').addClass('nav-item');
	
</script>


{% endblock %}