{% extends "analysis/base.html" %}
{% load static %}
{% block contents %}
<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>일일보고 데이터 등록</title>


<!-- 쿠키보안 -->
<script>
    document.cookie = "safeCookie1=foo;SameSite=Lax";
    document.cookie = "safeCookie2=foo";
    document.cookie = "crossCookie=bar;SameSite=None;Secure";
</script>

<!-- 모달 기본 라이브러리 -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css">
<script defer src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
<script type="text/javascript" defer src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script type="text/javascript" defer src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js"></script>
<script type="text/javascript" defer src="http://code.jquery.com/ui/1.10.1/jquery-ui.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!--<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>-->


<!-- CSS,JS 호출 -->
<!-- <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}"> -->
<link rel="stylesheet" type="text/css" href="{% static "css/modal.css" %}">
<script type="text/javascript" defer src="{% static "js/modal.js" %}"></script>
<script type="text/javascript" defer src="{% static "js/jquery-3.4.1.min.js" %}"></script>

<style>
    .today_count{ color: red; }
    p { margin:20px 0px; }
    .area_exit{  width:30px; height:30px; }

    {% comment %} #phoneGroupDetail_header{ width:2000px; display: flex; justify-content: space-between; }
    #phoneGroupDetail_body{ width:2000px; display: flex; justify-content: space-between; height: 320px; overflow-y: auto; } {% endcomment %}
    #main_body .table thead th{
        width:125px;
    }
    #main_body .table tbody td{
        width:125px;
    }
    #main_body .table tbody .big_td{
        width:270px;
    }
    #main_body .table thead .big_th{
        width:270px;
    }

    #bottom_body_left .table thead th{
        width:150px;
    }
    #bottom_body_left .table tbody td{
        overflow:hidden;
        white-space:nowrap;
        text-overflow:ellipsis;
        width:150px;
    }
    #bottom_body_left .table thead .big_th{
        width:500px;
    }
    #bottom_body_left .table tbody .big_td{
        overflow:hidden;
        white-space:nowrap;
        text-overflow:ellipsis;
        max-width:500px;
    }
    .table tbody::-webkit-scrollbar {
    height:auto;
    width:5px;
    }
    .table tbody::-webkit-scrollbar-track {
    background-color: transparent;
    }
    .table tbody::-webkit-scrollbar-thumb {
    border-radius: 3px; 
    background-color: gray;
    }
    .table tbody::-webkit-scrollbar-button {
    width: 0;
    height: 0;
    }
    #toDayWindow .mt-1{
        display:none;
    }
    #toDayWindow .card:hover .mt-1{
        display:block;
    }
</style>
</head>

<!--진자로 데이터 넘기기-->
<body>    
{% csrf_token %}
{% load static %}
    
    <!-- 상단 내용 -->
    <div class="row">
        <div class="col-10 px-2">
            <div id = "toDayWindow" class="row text-center" style="margin-bottom: 10px;">
                <div class="card text-white bg-primary mx-4" style="width: 12rem; height: 70px">
                    <div class="card-header p-1" style="position:relative">오늘의 측정</div>
                    <div class="mt-1" style="height: 20px; position: absolute;">
                        <input style="height: 20px; margin-left: 2px" type="date" class="form-control" name="date" id="date" value=>
                    </div>
                    <div class="card-body mt-0 pt-0" style="padding-bottom:5px">
                            <span style="font-size: 15px;">총 </span><span style="font-size: 20px;">3조</span>
                            <span style="font-size: 15px;">/ 측정중 </span><span id = "measure_count_vues" style="font-size: 20px;"></span>
                    </div>
                </div>
                <div id="area_cards">
                </div>
            </div>
        </div>
    </div>
    
    <!-- 중단 내용 -->
    <div id = "main_body" class="w-100 fixed-table-container" style="margin-bottom:10px;border: 2px solid rgb(228, 223, 223); padding: 10px; height:435px">    
        <div style = "display: flex; justify-content: space-between;">
            <h6> <b>금일 측정그룹</b> </h6>
            <img style = "width:30px; height:30px; margin-right:15px; margin-bottom:10px;" id = "list_reset" src="{% static "images/restart.png" %}" alt="폰그룹 리셋" onclick="listdata_reset()">
        </div>
        <div class="fixed-table-body" style="text-align: center;">
            <table id="groupWindow" class='table table-hover' style = "display:block; table-layout:fixed">
                <thead id = 'phoneGroupDetail_header' class="bg-light">
                </thead>
                <tbody id = 'phoneGroupDetail_body' class="table-hover" style="height:330px; overflow-y:auto; display:block">
                </tbody>
            </table> 
        </div>
    </div>

    <!-- 하단 내용-->
    <div style="display:flex">
        <div id = "bottom_body_left"  style="margin-bottom:5px; margin-right:10px; border: 2px solid rgb(228, 223, 223); padding: 10px; height:270px; width:1100px;">    
             <div>
                <div class="row">
                  <div class="col">
                      <div style = "display: flex; justify-content: space-between;">
                        <ul class="nav nav-tabs">
                            <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#event" onclick='tabChange(this.attributes["value"].value)' value="event">이벤트</a>
                            </li>
                            <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#xroshot" onclick='tabChange(this.attributes["value"].value)' value="xroshot">문자</a>
                            </li>
                            <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tele" onclick='tabChange(this.attributes["value"].value)' value="tele">텔레그램</a>
                            </li>
                        </ul>
                        <img style = "width:30px; height:30px; margin-right:15px; margin-bottom:10px;" id = "list_reset" src="{% static "images/restart.png" %}" alt="메세지 리셋" onclick="Messagedata_reset()">
                      </div>
                      <div class="tab-content" style = "height:220px; position:relative;">
                            <div class="tab-pane fade show active fixed-table-body" id="event" style="text-align: center; position:absolute">
                                <table id="eventWindow" class='table' style = "display:block">
                                    <thead id = 'eventDetail_header'>
                                        <th scope= "col">생성시간</th>
                                        <th scope= "col" class="big_th">메세지</th>
                                        <th scope= "col">측정단말</th>
                                        <th scope= "col">전송시간</th>
                                        <th scope= "col">전송여부</th>
                                    </thead>
                                    <tbody id = 'event_Detail_body' class="table-hover" style="height:150px; overflow-y:auto; display:block">
                                    <!--이벤트 메세지 Tr 구역-->
                                    </tbody>
                                </table> 
                            </div>
                            <div class="tab-pane fade active fixed-table-body" id="xroshot" style="text-align: center; position:absolute">
                                <table id="xroshotWindow" class='table' style = "display:none;">
                                    <thead id = 'xroshotDetail_header'>
                                        <th scope= "col">생성시간</th>
                                        <th scope= "col" class="big_th">메세지</th>
                                        <th scope= "col">유형</th>
                                        <th scope= "col">전송시간</th>
                                        <th scope= "col">전송여부</th>
                                    </thead>
                                    <tbody id = 'xroshot_Detail_body' class="table-hover" style="height:150px; overflow-y:auto; display:block">
                                    <!--크로샷 메세지 Tr 구역-->
                                    </tbody>
                                </table> 
                            </div>
                            <div class="tab-pane fade active fixed-table-body" id="tele" style="text-align: center; position:absolute">
                                <table id="teleWindow" class='table' style = "display:none;">
                                    <thead id = 'teleDetail_header'>
                                        <th scope= "col">생성시간</th>
                                        <th scope= "col" class="big_th">메세지</th>
                                        <th scope= "col">회수여부</th>
                                        <th scope= "col">전송시간</th>
                                        <th scope= "col">전송여부</th>
                                    </thead>
                                    <tbody id = 'tele_Detail_body' class="table-hover" style="height:150px; overflow-y:auto; display:block">
                                    <!--텔레 메세지 Tr 구역-->
                                    </tbody>
                                </table> 
                            </div>
                      </div>
                   </div>
                </div>
            </div>
        </div>
        <div id = "bottom_body_right" style="margin-bottom:5px; border: 2px solid rgb(228, 223, 223); padding: 10px; height:270px; width:780px;">    
              <ul class="nav nav-tabs">
                <li class="nav-item">
                  <a class="nav-link active" data-toggle="tab" href="#qwe">메시지상세내용</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-toggle="tab" href="#asd">수신자리스트</a>
                </li>
              </ul>
              <div class="tab-content">
                <div class="tab-pane fade show active" id="qwe">
                    <textarea class="form-control mb-2" id="message_contents" rows="6"></textarea>
                    <div style="position:relative; display:block">
                        <button type="button" class="btn btn-primary">전송</button>
                        <button type="button" class="btn btn-primary">수정</button>
                    </div>
                    <div style="position:absolute; display:none">
                        <button type="button" class="btn btn-primary">회수</button>
                        <button type="button" class="btn btn-primary">재전송</button>
                        <button type="button" class="btn btn-primary">수정</button>
                    </div>
                </div>
                <div class="tab-pane fade" id="asd">
                    <textarea class="form-control mb-1" id="recipient_list" rows="6" placeholder="전화번호는 데시(-)를 제거 후 콤마(,)로 분리하여 다수를 입력 가능합니다."></textarea>
                    <input class="form-control form-control-sm" id="formFileSm" type="file" ref="myFile" @change="selectedFile"/>
                </div>
              </div>
        </div>
    </div>
</body>

<!--스크립트 구문 -->
<script>
    //전역변수 구간
    var group_list_check = 0 // 그룹개수 체크 글로벌
    var group_list_len = 0 // 그룹개수 글로벌
    var message_list_check = 0 // 메세지개수 체크 글로벌
    var message_list_len = 0 // 메세지개수 글로벌
    var tab_check // 메세지 현재 type체크
    var list_tr_id = '' //그룹 아이디 메세지 검색에 활용 

</script>
<script>
    //현재 날짜 확인
    let today = new Date();
    let year = today.getFullYear();
    let month = ('0' + (today.getMonth() + 1)).slice(-2);
    let day = ('0' + today.getDate()).slice(-2);
    let dateString = year + '-' + month  + '-' + day;
    console.log(dateString)
    //document.getElementById("toDay").innerHTML = dateString;
    //현재날짜 이거 다시 넣어야된다.
    
    //////////////////////////////
    //var toDayinfo = "" // 금일 날짜 변수 글로벌
    $('input[type="date"]').attr('value', dateString);
    var toDayinfo = ''// 금일 날짜 변수 글로벌
    console.log(toDayinfo);

    /////////////////////////////
    //초기 금일 측정 그룹 TH 셋팅
    let phSetting = ['본부','조','측정지역','모폴로지','네트워크','DL콜수','DL속도','UL콜수','UL속도','전환율','이벤트','측정시간','상태','종료'];
    thappend = ""
    $(document).ready(
        function PhoneGroupSetting(){ 
            for(let phSetting_name of phSetting){
                if(phSetting_name == "측정지역"){
                    thappend += '<th scope= "' + 'col" class="big_th">'
                    thappend += phSetting_name
                    thappend += "</th>"
                }
                else{
                    thappend += '<th scope= "' + 'col">'
                    thappend += phSetting_name
                    thappend += "</th>"
                }
                //document.querySelector('#' + meas_area_name_split_2[1] + '_count').innerHTML = meas_area_count
            }
            $('#phoneGroupDetail_header').append(thappend);
        }
    );


    ////////////////////////////////////////////////////////////////////////////
    //setinterval 관련 부분
    const GV = {
                isPause_startdata: false, 
                timer_startdata: null, 
                isPause_listdata: false, 
                timer_listdata: null,
                isPause_messagedata: false, 
                timer_messagedata: null,  
            } 
    // setinter isPauser true false로 false일때만 인터벌이 돌게끔 한다 인터벌이 큐에 쌓이는걸방지
    
    const startTimer_startdata = function(){ 
                GV.isPause_startdata = false;
                interval_startdata();  
                GV.timer_startdata = setInterval(function(){ 
                interval_startdata(); 
                }, 13000);          
    } 

    // listdata ajax실행 인터벌이 바로 실행하게 한다.
    const startTimer_listdata = function(){ 
                GV.isPause_listdata = false;
                interval_listdata();  
                GV.timer_listdata = setInterval(function(){ 
                interval_listdata(); 
                }, 30000);          
    } 
    // messagedata ajax실행 인터벌이 바로 실행하게 한다.
    const startTimer_messagedata= function(tr_id, tab_value){
        list_tr_id =  tr_id
        console.log("나는이거보고싶어!!!" + tab_value);
        if(!tab_value){
            tab_check = $('#bottom_body_left .nav-item .active').attr('value'); //현재 메세지 타입 표시 *전역변수
        }else{
            tab_check = tab_value;
        }
        GV.isPause_messagedata = false;
        interval_messagedata(list_tr_id, tab_check);  
        GV.timer_messagedata = setInterval(function(){ 
            interval_messagedata(list_tr_id, tab_check); 
        }, 30000);          
    }
    
    // interval종료
    const stopTimer = function(){ 
        clearInterval(GV.timer_listdata);
        clearInterval(GV.timer_startdata); 
        clearInterval(GV.timer_messagedata);  
        GV.isPause_listdata = true;
        GV.isPause_startdata = true;
        GV.isPause_messagedata = true;
        group_list_check = 0 // 그룹개수 체크 글로벌 
    }    
    
    ////////////////////////////
    //reset
    function listdata_reset(){
        clearInterval(GV.timer_listdata);
        GV.isPause_listdata = true;
        group_list_check = 0; // 리스트 체크 글로벌
        //if(toDayinfo !== document.querySelector('input[type="date"]').value){//날짜 다르면 지운다

        const p_group_body = document.querySelector("#phoneGroupDetail_body");
        while (p_group_body.hasChildNodes()) {	// 부모노드가 자식이 있는지 여부를 알아낸다
            p_group_body.removeChild(
                p_group_body.firstChild
            );
        }
        startTimer_listdata(); // 재시작
    }

    function Messagedata_reset(tab_value){
        clearInterval(GV.timer_messagedata);
        GV.isPause_messagedata = true;
        message_list_check = 0; // 메세지 체크 글로벌
        
        if (list_tr_id !== ''){
            const p_message_body = document.querySelector('#'+ tab_check +'_Detail_body');
            while (p_message_body.hasChildNodes()) {	// 부모노드가 자식이 있는지 여부를 알아낸다
                p_message_body.removeChild(
                    p_message_body.firstChild
                );
            }
        }else{
            alert("폰그룹을 선택해주세요");
        }
        if(!tab_value){
            tab_value = $('#bottom_body_left .nav-item .active').attr('value'); //현재 메세지 타입 표시 *전역변수
            startTimer_messagedata(list_tr_id, tab_value); // 재시작
        }else{
            startTimer_messagedata(list_tr_id, tab_value); // 재시작
        }
    }

    ///////////////////////////

    const interval_listdata = function(){
    toDayinfo = document.querySelector('input[type="date"]').value
    if(!GV.isPause_listdata){
    //function interval_listdata(){
            $.ajaxSetup({
                headers: { "X-CSRFToken": '{{csrf_token}}'}
            });

            $.ajax({
                type:'POST',
                url: "{% url 'analysis:listview_phoneGroupData' %}",
                dataType : 'text',
                data : {'date' : toDayinfo},
                //async: false,
                cache: false,
                contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                success: function(ajax_data){
                    //$('#phoneGroupDetail_body').replaceWith($('#phoneGroupDetail_body',data));
                    console.log("불러오기성공")
                    ajax_data = JSON.parse(ajax_data); //데이터넘어온다.
                    console.log(ajax_data)
                    console.log("리스트체크")
                    console.log(group_list_check)
                    console.log("그룹 개수체크")
                    console.log(group_list_len)

                    if(ajax_data['data'] !== 'nodata'){
                        if(group_list_check == 0){
                            console.log("처음은 여기")
                            group_list_len = ajax_data['data'].length;
                            console.log(group_list_check)
                            startListData(ajax_data);
                            group_list_check = 1;
                        }else{
                            console.log("나중은 여기")
                            ajax_data2 = {}
                            ajax_data_arr = []
                            //$('phoneGroupDetail_body').remove();
                            //$('#phoneGroupDetail_body').append(measStatus);
                            change_check = ajax_data['data'].length - group_list_len //변화체 7 - 5 = 2
                            group_list_len = ajax_data['data'].length;
                            //if(group_list_len !== ajax_data['data'].length){
                            
                            if(change_check !== 0){
                                //새로운 데이터가 들어올때만 행 추가
                                //0123456 01234
                                for(let i=0; i < change_check ; i++){
                                    ajax_data2[i] = ajax_data['data'][ajax_data['data'].length-(change_check-i)]
                                    ajax_data_arr[i] = ajax_data2[i];
                                }
                                ajax_data['data'] = ajax_data_arr 
                                console.log(ajax_data)

                                ////////////////////////////
                                startListData(ajax_data);
                            }
                            listDataCount(ajax_data);
                        }
                    }
                    //1일 때는 웹페이지를 불러올때 , 0일때는 다음 시그널 
                    //0일때 이전 Ajax 키값 숫자랑 비교해서 다를때만 추가되라 
                },
                error: function(error){
                    console.log("불러오기 실패")
                    console.log(error)

                }
            });
            //group_list_check = 1;
        }
    }
    /////////////////////////////////////////////////////////////////////////
    //금일측정그룹 생성
    function startListData(ajax_data){
        console.log("잘들어오나")
        console.log(ajax_data)
        console.log(Object.keys(ajax_data).length)
        let measStatus // 초기화
        
        if (ajax_data['data'] != 'nodata'){
            //for(let i = 0; i < Object.keys(ajax_data).length; i++){
            for(let i = 0; i < ajax_data['data'].length; i++){
                measStatus += '<tr id = "' + ajax_data['data'][i]['id'] + '" onclick=startTimer_messagedata(this.attributes["id"].value);>';
                for(var listdata_name of Object.keys(ajax_data['data'][i])){ 
                    if(listdata_name !== 'id'){

                        if(ajax_data['data'][i][listdata_name] == undefined){
                            td_data = '-'
                        }else if(ajax_data['data'][i][listdata_name] == true){
                            td_data = "측정 중"
                        }else if(ajax_data['data'][i][listdata_name] == false){
                            td_data = "측정 종료"
                        }else{
                            td_data = ajax_data['data'][i][listdata_name]
                        }

                        //data null 체크
                        if(listdata_name == 'userInfo1'){
                            measStatus += '<td class="big_td '+ listdata_name + '">' + td_data + '</td>';
                        }else{
                            measStatus += '<td class="'+ listdata_name + '">' + td_data + '</td>';
                        }
                    }
                }
                measStatus += '<td onclick="event.cancelBubble=true;">'
                if (ajax_data['data'][i]['active'] == 1){
                    measStatus += '<img class="area_exit" id="img_' + ajax_data['data'][i]['id'] + '" src="{% static "admin/img/icon-yes.svg" %}" alt="종료">'
                }else{
                    measStatus += '<img class="area_exit" id="img_' + ajax_data['data'][i]['id'] + '" src="{% static "admin/img/icon-no.svg" %}" alt="종료">'
                }
                measStatus += '</tr>'
            }       
        //console.log(measStatus)
        $('#phoneGroupDetail_body').append(measStatus);
        }
    }

    //데이터 값바꾸기
    function listDataCount(ajax_data){
        if (ajax_data['data'] != 'nodata'){
            console.log("들어왓다");
            for(let i = 0; i < ajax_data['data'].length; i++){
                for(var listdata_name of Object.keys(ajax_data['data'][i])){ 
                    if(listdata_name !== 'id'){
                        if(ajax_data['data'][i][listdata_name] == undefined){
                            td_data = '-'
                        }else if(ajax_data['data'][i][listdata_name] == true){
                            td_data = "측정 중"
                        }else if(ajax_data['data'][i][listdata_name] == false){
                            td_data = "측정 종료"
                        }else{
                            td_data = ajax_data['data'][i][listdata_name]
                        }
                        parent = document.getElementById(ajax_data['data'][i]['id']);
                        parent.querySelector('.' + listdata_name).innerHTML = td_data
                    }                    
                }
            }
        }
    } 

    ///////////////////////////////////////////////////////////////////////////////
    //stratdata 부분
    //AJAX를 먼저 시작하고 딜레이
    //callback -> interval
    //function startInterval_startData(callback, seconds){ 
    //    callback(); 
    //    return setInterval(callback, seconds * 1000); 
    //}

    //비동기통신
    //2분마다 주기적 요청(현재 테스트로 10초)
    //startInterval_startData(function(){
    const interval_startdata = function(){
    if(!GV.isPause_startdata){
        toDayinfo = document.querySelector('input[type="date"]').value   
        $.ajaxSetup({
            headers: { "X-CSRFToken": '{{csrf_token}}' }
        });
        
        $.ajax({  
            type:'POST',
            url: "{% url 'analysis:ajax_startdata' %}",
            dataType : 'text',
            data : {'date' : toDayinfo },
            //async:false,
            success: function(ajax_data){
                ajax_data = JSON.parse(ajax_data); //데이터넘어온다.
                console.log(ajax_data)
                
                startData_vues(ajax_data); //초기데이터 세팅
                startDataCount(ajax_data); //초기데이터 값바꾸기          
            }
            });
        //}, 30)
        }
    }

    //오늘의 측정 테이블 생성
    function startData_vues(ajax_data){
        $('#area_cards').remove();
        
        var measStatus = '<div id = "area_cards">';

        if (ajax_data['meas_area'] != 'nodata'){  // 데이터가 없으면 생성하지 않는다 지역
        //for(var meas_area of ajax_data['meas_area']){
            for(var meas_area_name of Object.keys(ajax_data['meas_area'])){
                let meas_area_name_split_1 = meas_area_name.split(',');
                    measStatus += '<div class="card bg-light mb-1, mx-1" style="width: 10rem; height: 70px; margin-left: 15px;">';
                    measStatus += '<div class="card-header p-1">';
                    measStatus += '<span id ="' + meas_area_name_split_1[1] + '" ><span>';
                    measStatus += '</div>';   
                    measStatus += '<div class="card-body p-2">';
                    measStatus += '<span id ="' + meas_area_name_split_1[1] + '_count" class="card-title p-0 m-0"><font size="20"></font></span>';    
                    //measStatus += '<p class="card-text p-0 m-0">부가정보 표시</p>';
                    measStatus += '</div>';
                    measStatus += '</div>';
                }
        }
        measStatus += '</div>'
        $('#toDayWindow').append(measStatus);
    }

    //오늘의 측정 테이블 값만 변경
    function startDataCount(ajax_data){
        if(ajax_data){
            document.querySelector('#measure_count_vues').innerHTML = ajax_data['measuing_count'];
        //document.querySelector('#measure_close_count').innerHTML = ajax_data['end_count'];
        }
        if (ajax_data['meas_area'] != 'nodata'){ // 데이터가 없으면 생성하지 않는다 지역
            for(let [meas_area_name, meas_area_count] of Object.entries(ajax_data['meas_area'])){
                let meas_area_name_split_2 = meas_area_name.split(',');
                document.querySelector('#' + meas_area_name_split_2[1]).innerHTML = meas_area_name_split_2[0]
                document.querySelector('#' + meas_area_name_split_2[1] + '_count').innerHTML = meas_area_count
            }
        }   
    }
    ///////////////////////////////
    startTimer_startdata(); //start 그룹타이머 시작
    startTimer_listdata(); //start 리스트타이머 시작
    

    ///////////////////////////////
    //메세지 내용 생성 ajax
    const interval_messagedata = function(list_tr_id, tab_check){
        //tab_check = $('#bottom_body_left .nav-item .active').attr('value'); //현재 메세지 타입 표시 *전역변수
        //탭 벨류 체크
        if(!GV.isPause_messagedata){
        //function interval_listdata(){
            $.ajaxSetup({
                headers: { "X-CSRFToken": '{{csrf_token}}' }
            });

            $.ajax({
                type:'POST',
                url: "{% url 'analysis:listview_messageData' %}",
                dataType : 'text',
                data : { 'groupid' : list_tr_id,  
                         'tabcheck': tab_check},
                //type은 현재 활성화된 메세지탭의 value를 보고 무엇인지 보낸다. 
                //event, xroshot, tele
                //async: false,
                cache: false,
                success: function(ajax_data){
                    ajax_data = JSON.parse(ajax_data); //데이터넘어온다.
                    console.log(ajax_data)
                    console.log("불러오기 성공")
                    
                    if(ajax_data['data'] !== 'nodata'){
                        if(message_list_check == 0){
                            console.log("메세지 처음은 여기");
                            console.log(message_list_check);
                            message_list_len = ajax_data['data'].length;
                            
                            messageListData(ajax_data, tab_check);
                            
                            message_list_check = 1;
                        }else{
                            console.log("나중은 여기")
                            ajax_data2 = {}
                            ajax_data_arr = []
                            //$('phoneGroupDetail_body').remove();
                            //$('#phoneGroupDetail_body').append(measStatus);
                            change_check = ajax_data['data'].length - message_list_len //변화체 7 - 5 = 2
                            message_list_len = ajax_data['data'].length;
                            //if(group_list_len !== ajax_data['data'].length){
                            console.log("메세지 체인지 체크" + change_check)
                            if(change_check !== 0){
                                //새로운 데이터가 들어올때만 행 추가
                                //0123456 01234
                                for(let i=change_check; i > 0 ; i--){
                                    //ajax_data2[i] = ajax_data['data'][i]
                                    //ajax_data_arr[i] = ajax_data2[i]
                                    ajax_data_arr[i-1] = ajax_data['data'][i-1];
                                }
                                ajax_data['data'] = ajax_data_arr; 
                                console.log(ajax_data)

                                ////////////////////////////
                                messageListData(ajax_data, tab_check);
                            }
                        }
                    
                    }
                },
                error: function(error){
                    console.log("불러오기 실패")
                    console.log(error)

                }
            });
        }
    }

    //메세지 에어리어 생성
    function messageListData(ajax_data, tab_check){
        console.log("잘들어오나")
        console.log(ajax_data)
        console.log(Object.keys(ajax_data).length)

        let measStatus // 초기화
        
        if (ajax_data['data'] != 'nodata'){
            //for(let i = 0; i < Object.keys(ajax_data).length; i++){
            for(let i = 0; i < ajax_data['data'].length; i++){
                measStatus += '<tr onclick="test(this)">';
                measStatus += '<td>' + ajax_data['data'][i]['create_time'] + '</td>';
                measStatus += '<td class="big_td">' + ajax_data['data'][i]['message'] + '</td>';
                if(tab_check == 'event'){
                    measStatus += '<td>' + ajax_data['data'][i]['phone_no_sht'] + '</td>';
                }else if(tab_check == 'xroshot'){
                    measStatus += '<td>' + ajax_data['data'][i]['status'] + '</td>';
                }else{
                    if(ajax_data['data'][i]['isDel'] == 0){
                        measStatus += '<td>미회수</td>';
                    }else{
                        measStatus += '<td>회수</td>';
                    }        
                }
                measStatus += '<td>' + ajax_data['data'][i]['sended_time'] + '</td>';
                if(ajax_data['data'][i]['sended'] == true){
                    measStatus += '<td> 전송완료 </td>';
                }else{
                    measStatus += '<td> 미전송 </td>';
                }
                measStatus += '</tr>'
            }
            if(message_list_check == 0){
                $('#' + tab_check + '_Detail_body').append(measStatus);
            }else{
                $('#' + tab_check + '_Detail_body').prepend(measStatus);
            }
        }
    }
    //test
    function test(aaa){
        parent = aaa;
        console.log(parent)
    }

    //메세지 탭클릭
    function tabChange(tab_value){
        Messagedata_reset(tab_value); //메세지 리셋 인터벌 시작

        //tab_check = tab.attributes('value'); //현재 메세지 타입 표시 this
        console.log("난이게궁금해" + tab_value)
        let event = document.getElementById('eventWindow');
        let xroshot = document.getElementById('xroshotWindow');
        let tele = document.getElementById('teleWindow');

        if(tab_value=='event'){
            event.style.display = 'block';
            xroshot.style.display = 'none';
            tele.style.display = 'none';
        }else if(tab_value=='xroshot'){
            event.style.display = 'none';
            xroshot.style.display = 'block';
            tele.style.display = 'none';
        }else{
            event.style.display = 'none';
            xroshot.style.display = 'none';
            tele.style.display = 'block';
        }
    }

</script>
{% endblock %}