{% extends "analysis/base.html" %}
{% load static %}
{% block contents %}
<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>일일보고 데이터 등록</title>


<!-- 모달 기본 라이브러리 -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css">
<script defer src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
<script type="text/javascript" defer src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script type="text/javascript" defer src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js"></script>
<script type="text/javascript" defer src="http://code.jquery.com/ui/1.10.1/jquery-ui.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!--<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>-->


<!-- CSS,JS 호출 -->
<!-- <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}"> -->
<link rel="stylesheet" type="text/css" href="{% static "css/modal.css" %}">
<script type="text/javascript" defer src="{% static "js/modal.js" %}"></script>
<script type="text/javascript" defer src="{% static "js/jquery-3.4.1.min.js" %}"></script>
<style>
    .today_count{ color: red; }
    p { margin:20px 0px; }
</style>
</head>

<!--진자로 데이터 넘기기-->
<body>    
{% csrf_token %}
{% load static %}
    <!-- 상단 내용 -->
    <div style="margin-bottom:10px;border: 2px solid rgb(228, 223, 223); padding: 5px; width:80vh; height:70px">
        <div style="margin-top:5px; display: flex; justify-content: space-between;">
            <div>
                <div style="float:left; margin-bottom:0px">
                    <h6> 오늘의 측정 </h6> 
                <!--h6 id="toDay" style="display:inline; margin-bottom:0px"></h6> 금일 날짜 -->
                </div>
                <div style="float:left; margin-bottom:0px">
                    <input style="height: 24px;" type="date" class="form-control" name="date" id="date" value=>
                </div>
                <div style="float:left; margin-bottom:0px">
                    <button style="height: 24px;" id = "daychoice" onclick="startInterval_startData()">선택</button>
                </div>
                <div style="float:left; margin-bottom:0px">
                    <button style="height: 24px;" id = "ajaxstop" onclick="ajax_stop()">정지</button>
                </div>
            </div>
            <div>
                <h6 style="display:inline; margin-bottom:0px"> 금일 총 </h6> <!--3개조 가져와야한다. -->
                <h6 id="toDayGroup" style="display:inline; margin-bottom:0px"> 3개 조 </h6> <!--3개조 가져와야한다.이건 추후-->
            </div>
        </div>   
        {% comment %} <hr> {% endcomment %}
        <div id="output" style="text-align: center;">
            <table id="toDayWindow" sytle="border-spacing: 5px;">
                <tbody id='toDayDetail'>
                    <tr id='toDayDetailTr'>
                    </tr>
                </tbody>
            </table>
        </div> 
    </div>
    <!-- 중단 내용 -->
    <div id = "main_body" class="w-100" style="margin-bottom:10px;border: 2px solid rgb(228, 223, 223); padding: 10px; height:435px">    
        <h6> 금일 측정그룹 </h6>
        <div id="output" style="text-align: center;">
            <table id="groupWindow" class="table table-hover">
                <thead>
                    <tr>
                        <th >센터</th>
                        <th >조</th>
                        <th >단말번호</th>
                        <th >측정지역</th>
                        <th >모폴로지</th>
                        <th >네트워크</th>
                        <th >DL_콜수</th>
                        <th >DL_속도</th>
                        <th >UL_콜수</th>
                        <th >UL_속도</th>
                        <th >전환율</th>
                        <th >CA</th>
                        <th >이벤트</th>
                        <th >측정시간</th>
                        <th >상태</th>
                        <th >종료</th>
                    </tr>
                </thead>
                <tbody id = 'phoneGroupDetail'>
                    <tr id='phoneGroupDetailTr'>
                    </tr>
                </tbody>
            </table> 
        </div>
    </div>
    <!-- 하단 내용-->
    <div style="display:flex">
        <div style="margin-bottom:5px; margin-right:10px; border: 2px solid rgb(228, 223, 223); padding: 10px; height:270px; width:1100px;">    
            <div id = "eventwindow">
                <div class="row">
                  <div class="col">
                      <ul class="nav nav-tabs">
                        <li class="nav-item">
                          <a class="nav-link active" data-toggle="tab" href="#event">이벤트</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" data-toggle="tab" href="#xroshot">문자</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" data-toggle="tab" href="#tele">텔레그램</a>
                        </li>
                      </ul>
                      <div class="tab-content">
                        <div class="tab-pane fade show active" id="event">
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc id ornare libero. Vivamus iaculis, justo vel mattis pharetra, nisi ligula varius nisl, sit amet mollis tortor ligula vitae nisi.</p>
                        </div>
                        <div class="tab-pane fade" id="xroshot">
                          <p>Nunc vitae turpis id nibh sodales commodo et non augue. Proin fringilla ex nunc. Integer tincidunt risus ut facilisis tristique.</p>
                        </div>
                        <div class="tab-pane fade" id="tele">
                          <p>Curabitur dignissim quis nunc vitae laoreet. Etiam ut mattis leo, vel fermentum tellus. Sed sagittis rhoncus venenatis. Quisque commodo consectetur faucibus. Aenean eget ultricies justo.</p>
                        </div>
                      </div>
                  </div>
                </div>
            </div>
        </div>
        <div style="margin-bottom:5px; border: 2px solid rgb(228, 223, 223); padding: 10px; height:270px; width:780px;">    
            <h6> 금일 측정그룹 </h6>
            <div id="output" style="text-align: center;">
            </div>
        </div>
    </div>
</body>

<!--스크립트 구문 -->
<script>
    //현재 날짜 확인 
    let today = new Date();
    let year = today.getFullYear();
    let month = ('0' + (today.getMonth() + 1)).slice(-2);
    let day = ('0' + today.getDate()).slice(-2);
    let dateString = '(' + year + '-' + month  + '-' + day + ')';
    //document.getElementById("toDay").innerHTML = dateString;
    //현재날짜 이거 다시 넣어야된다.
    

    //콘솔
    console.log(dateString)
    
    ////////////////////////////
    var area_eng = {
        '강북' : ['gangbuk'],
        '강남' : ['gangnam'],
        '대구' : ['daegu'],
        '부산' : ['busan'],
        '충청' : ['chungcheong'],
        '전남' : ['junnam']
    };
    var center_shot_name = {
        '서울강북액세스운용센터' : ['서울강북'],
        '서울강남액세스운용센터' : ['서울강남'],
        '부산액세스운용센터' : ['부산'],
        '대구액세스운용센터' : ['대구'],
        '경기서부액세스운용센터' : ['경기서부'],
        '전남액세스운용센터' : ['전남'],
        '충남액세스운용센터' : ['충남'],
        '강원액세스운용센터' : ['강원'],
        '경기북부액세스운용센터' : ['경기북부'],
        '경기남부액세스운용센터' : ['경기남부'],
        '경남액세스운용센터' : ['경남'],
        '충북액세스운용센터' : ['충북'],
        '전북액세스운용센터' : ['전북'],
        '경북액세스운용센터' : ['경북']
    };
    //ajax 멈춤
    function ajax_stop() {

        clearInterval(startInterval_startData);
        clearInterval(setInterval_phnoe);
      
      }
    //날짜 선택하여 데이터 가져온다 (임시로 생성)
    //document.getElementById("daychoice").addEventListener('click', startInterval_startData);
    //document.getElementById("daychoice").addEventListener('click', startInterval_phoneGroup);
    var toDay = document.getElementById("daychoice").value;



    /////////////////////////////////////////////////////////////////////////


    //stratdata 부분
    //AJAX를 먼저 시작하고 딜레이
    //callback -> interval
    function startInterval_startData(callback, seconds){ 
        callback(); 
        return setInterval(callback, seconds * 1000); 
    }

    //비동기통신
    //2분마다 주기적 요청
    startInterval_startData(function(){
        $.ajax({
        type:'POST',
        url: "{% url 'analysis:ajax_startdata' %}",
        dataType : 'text',
        data : {"date":toDay},
        async:false,
        success: function(ajax_data){
            ajax_data = JSON.parse(ajax_data); //데이터넘어온다.
            json_data_dump = ajax_data; //ajax_data dump
            console.log("제이슨 덤프 처음")
            console.log(json_data_dump)
            
            startData(ajax_data); //초기데이터 세팅
            startDataCount(ajax_data); //초기데이터 값바꾸기          
        }
        });
    }, 120) 

    //오늘의 측정 테이블 생성
    function startData(ajax_data){
        $('#toDayDetailTr').remove();

        //초기화
        let measStatus = '<tr id = "toDayDetailTr">';
            measStatus += '<th id = "measure" style="padding-right:15px">';
            measStatus += '<span><font size="3"> 측정 중 </font></span>';
            measStatus += '<span id = "measure_count" class="today_count"><font size="2"> 0 </font></span>'
            measStatus += '</th>';
            measStatus += '<th id = "measure_close" style="padding-right:15px">';
            measStatus += '<span><font size="3"> 측정종료 </font></span>';
            measStatus += '<span id = "measure_close_count" class="today_count"><font size="2"> 0 </font></span>';
            measStatus += '</th>';
        
        //for(var meas_area of ajax_data['meas_area']){
        for(var meas_area_name of Object.keys(ajax_data['meas_area'])){
            console.log(meas_area_name)
            measStatus += '<th id ="' + area_eng[meas_area_name] + '" style="padding-right:15px">';
            measStatus += '<span><font size="3">' + meas_area_name + '</font></span>';
            measStatus += '<span id ="' + area_eng[meas_area_name] + '_count" class="today_count"><font size="3"> 0 </font></span>';
            measStatus += '</th>';
            }
        measStatus += '</tr>';

        //console.log(measStatus)
        $('#toDayDetail').append(measStatus);

    }
    
    //오늘의 측정 테이블 값만 변경
    function startDataCount(ajax_data){
       
        document.querySelector('#measure_count').innerHTML = ajax_data['measuing_count'];
        document.querySelector('#measure_close_count').innerHTML = ajax_data['end_count'];
        
    
        for(let [meas_area_name, meas_area_count] of Object.entries(ajax_data['meas_area'])){
            document.querySelector('#' + area_eng[meas_area_name]+ '_count').innerHTML = meas_area_count
        }
    }
    ////////////////////////////

    //금일측정그룹 부분
    //AJAX를 먼저 시작하고 딜레이
    //callback -> interval

    function startInterval_phoneGroup(callback, seconds){ 
        callback(); 
        return setInterval(callback, seconds * 1000); 
    }

    //비동기통신
    //10초마다 주기적 요청
    startInterval_phoneGroup(function(){
        $.ajax({
        type:'POST',
        url: "{% url 'analysis:ajax_phoneGroupData' %}",
        dataType : 'text',
        data : "",
        async:false,
        success: function(ajax_data){
            ajax_data = JSON.parse(ajax_data); //데이터넘어온다.
            json_data_dump = ajax_data; //ajax_data dump
            console.log("제이슨 덤프 처음")
            console.log(json_data_dump)
            
            phoneGroupData(ajax_data)
            phoneGroupDataInfo(ajax_data)
        }
        });
    }, 10) 

    //오늘의 측정그룹 테이블 생성
    function phoneGroupData(ajax_data){
        $('#phoneGroupDetail').remove();

        //초기화
        let measStatus = '<tbody id = "phoneGroupDetail">';

        for(var phone_group_name of Object.keys(ajax_data)){
            console.log(phone_group_name)
            measStatus += '<tr id = "phoneGroupDetail_Tr_' + phone_group_name + '">';
            for(var i=0 ; i < ajax_data[phone_group_name].length; i++){ 
                measStatus += '<td>';
                measStatus += '<span>0';
                measStatus += '</span>';
                measStatus += '</td>';
            }
            measStatus += '<td>';
            measStatus +=  '<img id="img_group_' + phone_group_name + '" width="30" height="30" src="{% static "images/endbutton.png" %}" alt="종료">';
            measStatus += '</td>';
            measStatus += '</tr>';
        }

        measStatus += '</tbody>'

        $('#groupWindow').append(measStatus);

    }
    
    //오늘의 측정 테이블 값만 변경
    function phoneGroupDataInfo(ajax_data){
        for(var phone_group_name of Object.keys(ajax_data)){
            var group_num = document.querySelector('#phoneGroupDetail_Tr_' + phone_group_name)
            var tag = group_num.getElementsByTagName("span");
            for (var i=0 ; i < tag.length; i++){ 
                if (i===0){
                    tag[i].innerHTML = center_shot_name[Object.values(ajax_data[phone_group_name][i])[0]];
                    //운용센터 숏네임으로 변경
                } else {    
                    tag[i].innerHTML = Object.values(ajax_data[phone_group_name][i]);
                }
            }
        }
    }

</script>
{% endblock %}