{% extends "analysis/base.html" %}
{% load static %}
{% block contents %}
<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>일일보고 데이터 등록</title>


<!-- 쿠키보안 -->
<script>
    document.cookie = "safeCookie1=foo;SameSite=Lax";
    document.cookie = "safeCookie2=foo";
    document.cookie = "crossCookie=bar;SameSite=None;Secure";
</script>

<!-- 모달 기본 라이브러리 -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css">
<script defer src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
<script type="text/javascript" defer src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script type="text/javascript" defer src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js"></script>
<script type="text/javascript" defer src="http://code.jquery.com/ui/1.10.1/jquery-ui.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!--<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>-->


<!-- CSS,JS 호출 -->
<!-- <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}"> -->
<link rel="stylesheet" type="text/css" href="{% static "css/modal.css" %}">
<script type="text/javascript" defer src="{% static "js/modal.js" %}"></script>
<script type="text/javascript" defer src="{% static "js/jquery-3.4.1.min.js" %}"></script>

<style>
    .today_count{ color: red; }
    p { margin:20px 0px; }
    .area_exit{  width:30px; height:30px; }

    {% comment %} #phoneGroupDetail_header{ width:2000px; display: flex; justify-content: space-between; }
    #phoneGroupDetail_body{ width:2000px; display: flex; justify-content: space-between; height: 320px; overflow-y: auto; } {% endcomment %}
    #main_body .table thead th{
        width:125px;
    }
    #main_body .table tbody td{
        width:125px;
    }
    #main_body .table tbody .big_td{
        width:270px;
    }
    #main_body .table thead .big_th{
        width:270px;
    }

    #bottom_body_left .table thead th{
        width:200px;
    }
    #bottom_body_left .table tbody td{
        width:200px;
    }
    #bottom_body_left .table tbody .big_td{
        width:700px;
    }
    #bottom_body_left .table thead .big_th{
        width:700px;
    }

    .table tbody::-webkit-scrollbar {
    height:auto;
    width:5px;
    }
    .table tbody::-webkit-scrollbar-track {
    background-color: transparent;
    }
    .table tbody::-webkit-scrollbar-thumb {
    border-radius: 3px; 
    background-color: gray;
    }
    .table tbody::-webkit-scrollbar-button {
    width: 0;
    height: 0;
    }

</style>
</head>

<!--진자로 데이터 넘기기-->
<body>    
{% csrf_token %}
{% load static %}
    <!-- 상단 내용 -->
    <div style="margin-bottom:10px;border: 2px solid rgb(228, 223, 223); padding: 5px; width:80vh; height:70px">
        <div style="margin-top:5px; display: flex; justify-content: space-between;">
            <div>
                <div style="float:left; margin-bottom:0px">
                    <h6> 오늘의 측정 </h6> 
                <!--h6 id="toDay" style="display:inline; margin-bottom:0px"></h6> 금일 날짜 -->
                </div>
                <div style="float:left; margin-bottom:0px">
                    <input style="height: 24px;" type="date" class="form-control" name="date" id="date" value=>
                </div>
                <div style="float:left; margin-bottom:0px">
                    <button style="height: 24px;" id = "daychoice" onclick="input()">선택</button>
                </div>
                <div style="float:left; margin-bottom:0px">
                    <button style="height: 24px;" id = "daychoice" onclick="startTimer_listdata()">시작</button>
                </div>
            </div>
            {% comment %} <div>
                <h6 style="display:inline; margin-bottom:0px"> 금일 총 </h6> <!--3개조 가져와야한다. -->
                <h6 id="toDayGroup" style="display:inline; margin-bottom:0px"> 3개 조 </h6> <!--3개조 가져와야한다.이건 추후-->
            </div> {% endcomment %}
        </div>   
        <div class="output">
            <table id="toDayWindow" sytle="border-spacing: 5px;">
                <tbody id='toDayDetail'>
                    <tr id='toDayDetailTr'>
                    </tr>
                </tbody>
            </table>
        </div> 
    </div>
    <!-- 중단 내용 -->
    <div id = "main_body" class="w-100 fixed-table-container" style="margin-bottom:10px;border: 2px solid rgb(228, 223, 223); padding: 10px; height:435px">    
        <h6> <b>금일 측정그룹</b> </h6>
        <div class="fixed-table-body" style="text-align: center;">
            <table id="groupWindow" class='table' style = "display:block">
                <thead id = 'phoneGroupDetail_header'>
                </thead>
                <tbody id = 'phoneGroupDetail_body' class="table-hover" style="height:330px; overflow-y:auto; display:block">
                    {% for phonegroup in phnoegroup %}
                        {% if phonegroup.manage == 1 %}
                        <tr id = 'phoneGroupDetail_tr_{{phonegroup.id}}' onclick='startTimer_messagedata(this.attributes["id"].value);'>
                            <td>{{phonegroup.center.centerName}}</td>
                            <td>{{phonegroup.measuringTeam}}</td>
                            <td class="big_td">{{phonegroup.userInfo1}}</td>
                            <td>{{phonegroup.morphology.morphology}}</td>
                            <td>{{phonegroup.networkId}}</td>
                            <td>{{phonegroup.dl_count}}</td>
                            <td>{{phonegroup.downloadBandwidth}}</td>
                            <td>{{phonegroup.ul_count}}</td>
                            <td>{{phonegroup.uploadBandwidth}}</td>
                            <td>{{phonegroup.nr_percent}}</td>
                            <td>{{phonegroup.event_count}}</td>
                            <td>{{phonegroup.last_updated_dt|date:"TIME_FORMAT"}}</td>
                            {% if phonegroup.active == 1 %}
                            <td>측정 중</td>
                            {% else %}
                            <td>측정종료</td>
                            {% endif %}
                            <td onclick="event.cancelBubble=true;">
                                <img class='area_exit' id='img_group_{{phonegroup.id}}' src="{% static "images/endbutton.png" %}" alt="종료">
                            </td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table> 
        </div>
    </div>
    <!-- 하단 내용-->
    <div style="display:flex">
        <div id = "bottom_body_left"  style="margin-bottom:5px; margin-right:10px; border: 2px solid rgb(228, 223, 223); padding: 10px; height:270px; width:1100px;">    
            <div>
                <div class="row">
                  <div class="col">
                      <ul class="nav nav-tabs">
                        <li class="nav-item">
                          <a class="nav-link active" data-toggle="tab" href="#event">이벤트</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" data-toggle="tab" href="#xroshot">문자</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" data-toggle="tab" href="#tele">텔레그램</a>
                        </li>
                      </ul>
                      <div class="tab-content">
                            <div class="tab-pane fade show active fixed-table-body" id="event" style="text-align: center;">
                                <table id="eventWindow" class='table' style = "display:block">
                                    <thead id = 'eventDetail_header'>
                                        <th scope= "col">전송시간</th>
                                        <th scope= "col" class="big_th">메세지</th>
                                        <th scope= "col">전송여부</th>
                                    </thead>
                                    <tbody id = 'eventDetail_body' class="table-hover" style="height:150px; overflow-y:auto; display:block">
                                        {% comment %} {% for messagedata in messagedata %}
                                            <tr id = 'eventDetail_tr_{{messagedata.id}}' >
                                                <td>{{messagedata.sendTime|date:"TIME_FORMAT"}}</td>
                                                <td class="big_td">{{messagedata.message}}</td>
                                                <td>{{messagedata.sended}}</td>
                                            </tr>
                                        {% endfor %} {% endcomment %}
                                    </tbody>
                                </table> 
                            </div>
                            <div class="tab-pane fade active fixed-table-body" id="xroshot" style="text-align: center;">
                                <table id="xroshotWindow" class='table' style = "display:block">
                                    <thead id = 'xroshotDetail_header'>
                                        <th scope= "col">전송시간</th>
                                        <th scope= "col" class="big_th">메세지</th>
                                        <th scope= "col">전송여부</th>
                                    </thead>
                                    <tbody id = 'xroshotDetail_body' class="table-hover" style="height:150px; overflow-y:auto; display:block">
                                        {% comment %} {% for messagedata in messagedata %}
                                            <tr id = 'xroshotDetail_tr_{{messagedata.id}}' >
                                                <td>{{messagedata.sendTime|date:"TIME_FORMAT"}}</td>
                                                <td class="big_td">{{messagedata.message}}</td>
                                                <td>{{messagedata.sended}}</td>
                                            </tr>
                                        {% endfor %} {% endcomment %}
                                    </tbody>
                                </table> 
                            </div>
                            <div class="tab-pane fade active fixed-table-body" id="tele" style="text-align: center;">
                                <table id="teleWindow" class='table' style = "display:block">
                                    <thead id = 'teleDetail_header'>
                                        <th scope= "col">전송시간</th>
                                        <th scope= "col" class="big_th">메세지</th>
                                        <th scope= "col">전송여부</th>
                                    </thead>
                                    <tbody id = 'teleDetail_body' class="table-hover" style="height:150px; overflow-y:auto; display:block">
                                        {% comment %} {% for messagedata in messagedata %}
                                            <tr id = 'teleDetail_tr_{{messagedata.id}}' >
                                                <td>{{messagedata.sendTime|date:"TIME_FORMAT"}}</td>
                                                <td class="big_td">{{messagedata.message}}</td>
                                                <td>{{messagedata.sended}}</td>
                                            </tr>
                                        {% endfor %} {% endcomment %}
                                    </tbody>
                                </table> 
                            </div>
                      </div>
                  </div>
                </div>
            </div>
        </div>
        <div style="margin-bottom:5px; border: 2px solid rgb(228, 223, 223); padding: 10px; height:270px; width:780px;">    
            <h6> 금일 측정그룹 </h6>
            <div style="text-align: center;">
            </div>
        </div>
    </div>
</body>

<!--스크립트 구문 -->
<script>

    //현재 날짜 확인
    let today = new Date();
    let year = today.getFullYear();
    let month = ('0' + (today.getMonth() + 1)).slice(-2);
    let day = ('0' + today.getDate()).slice(-2);
    let dateString = '(' + year + '-' + month  + '-' + day + ')';
    //document.getElementById("toDay").innerHTML = dateString;
    //현재날짜 이거 다시 넣어야된다.
    

    //초기 금일 측정 그룹 TH 셋팅
    let phSetting = ['본부','조','측정지역','모폴로지','네트워크','DL콜수','DL속도','UL콜수','UL속도','전환율','이벤트','측정시간','상태','종료'];
    thappend = ""
    $(document).ready(
        function PhoneGroupSetting(){ 
            for(let phSetting_name of phSetting){
                if(phSetting_name == "측정지역"){
                    thappend += '<th scope= "' + 'col" class="big_th">'
                    thappend += phSetting_name
                    thappend += "</th>"
                }
                else{
                    thappend += '<th scope= "' + 'col">'
                    thappend += phSetting_name
                    thappend += "</th>"
                }
                //document.querySelector('#' + meas_area_name_split_2[1] + '_count').innerHTML = meas_area_count
            }
            $('#phoneGroupDetail_header').append(thappend);
        }
    );
    ////////////////////////////////////////////////////////////////////////////
    //setinterval 관련 부분
    const GV = {
                isPause_startdata: false, 
                timer_startdata: null, 
                isPause_listdata: false, 
                timer_listdata: null,
                isPause_messagedata: false, 
                timer_messagedata: null,  
            } 
    // setinter isPauser true false로 false일때만 인터벌이 돌게끔 한다 인터벌이 큐에 쌓이는걸방지
    
    const startTimer_startdata = function(){ 
                GV.isPause_startdata = false;
                interval_startdata();  
                GV.timer_startdata = setInterval(function(){ 
                    interval_startdata(); 
                }, 35000);          
    } 

    // listdata ajax실행 인터벌이 바로 실행하게 한다.
    const startTimer_listdata = function(){ 
                GV.isPause_listdata = false;
                interval_listdata();  
                GV.timer_listdata = setInterval(function(){ 
                    interval_listdata(); 
                }, 20000);          
    } 
    // messagedata ajax실행 인터벌이 바로 실행하게 한다.
    const startTimer_messagedata = function(tr_id){
        var list_tr_id =  tr_id
        GV.isPause_messagedata = false;
        interval_messagedata(list_tr_id);  
        GV.timer_messagedata = setInterval(function(){ 
            interval_messagedata(list_tr_id); 
        }, 20000);          
    } 
    
    // ajax종료
    const stopTimer = function(){ 
               clearInterval(GV.timer_listdata); 
               GV.isPause_listdata = true; 
    }    
    ////////////////////////////////////////////////////////////////////////////
    var toDayinfo = "" // 금일 날짜 변수 글로벌

    function input() {
        toDayinfo = document.querySelector('input[type="date"]').value;
        console.log(toDayinfo);
    }
    ////////////////////////////////////////////////////////////////////////////

    const interval_listdata = function(){
    if(!GV.isPause_listdata){
    //function interval_listdata(){
            $.ajaxSetup({
                headers: { "X-CSRFToken": '{{csrf_token}}' }
            });

            $.ajax({
                type:'POST',
                url: "{% url 'analysis:listview_phoneGroupData' %}",
                dataType : 'text',
                data : { 'date' : toDayinfo },
                async:false,
                cache: false,
                success: function(data){
                    $('#phoneGroupDetail_body').replaceWith($('#phoneGroupDetail_body',data));
                },
                error: function(error){
                    console.log("불러오기 실패")
                    console.log(error)

                }
            });
        }
    }
    /////////////////////////////////////////////////////////////////////////
    
    
    //stratdata 부분
    //AJAX를 먼저 시작하고 딜레이
    //callback -> interval
    //function startInterval_startData(callback, seconds){ 
    //    callback(); 
    //    return setInterval(callback, seconds * 1000); 
    //}

    //비동기통신
    //2분마다 주기적 요청(현재 테스트로 10초)
    //startInterval_startData(function(){
    const interval_startdata = function(){
    if(!GV.isPause_listdata){    
        $.ajaxSetup({
            headers: { "X-CSRFToken": '{{csrf_token}}' }
        });
        
        $.ajax({  
            type:'POST',
            url: "{% url 'analysis:ajax_startdata' %}",
            dataType : 'text',
            data : {'date' : toDayinfo },
            async:false,
            success: function(ajax_data){
                ajax_data = JSON.parse(ajax_data); //데이터넘어온다.
                console.log(ajax_data)
                
                startData(ajax_data); //초기데이터 세팅
                startDataCount(ajax_data); //초기데이터 값바꾸기          
            }
            });
        //}, 30)
        }
    }

    //오늘의 측정 테이블 생성
    function startData(ajax_data){
        $('#toDayDetailTr').remove();

        //초기화
        let measStatus = '<tr id = "toDayDetailTr">';
            measStatus += '<th id="Group" style="padding-right:15px">';
            measStatus += '<span><font size="3"> 금일 총 </font></span>';
            measStatus += '<span id = "today_group" class="today_count"><font size="3"> 3조 </font></span>'
            measStatus += '</th>';
            measStatus += '<th id = "measure" style="padding-right:15px">';
            measStatus += '<span><font size="3"> 측정 중 </font></span>';
            measStatus += '<span id = "measure_count" class="today_count"><font size="2"> 0 </font></span>'
            measStatus += '</th>';
            //measStatus += '<th id = "measure_close" style="padding-right:15px">';
            //measStatus += '<span><font size="3"> 측정종료 </font></span>';
            //measStatus += '<span id = "measure_close_count" class="today_count"><font size="2"> 0 </font></span>';
            //measStatus += '</th>';
        
        if (ajax_data['meas_area'] != 'nodata'){  // 데이터가 없으면 생성하지 않는다 지역
        //for(var meas_area of ajax_data['meas_area']){
        for(var meas_area_name of Object.keys(ajax_data['meas_area'])){
            let meas_area_name_split_1 = meas_area_name.split(',');
            measStatus += '<th id ="' + meas_area_name_split_1[1] + '" style="padding-right:15px">';
            measStatus += '<span><font size="3">' + meas_area_name_split_1[0] + '</font></span>';
            measStatus += '<span id ="' + meas_area_name_split_1[1] + '_count" class="today_count"><font size="3"> 0 </font></span>';
            measStatus += '</th>';
            }
        }
        measStatus += '</tr>';

        //console.log(measStatus)
        $('#toDayDetail').append(measStatus);

    }
    
    //오늘의 측정 테이블 값만 변경
    function startDataCount(ajax_data){
        document.querySelector('#measure_count').innerHTML = ajax_data['measuing_count'];
        //document.querySelector('#measure_close_count').innerHTML = ajax_data['end_count'];
        
        if (ajax_data['meas_area'] != 'nodata'){ // 데이터가 없으면 생성하지 않는다 지역
            for(let [meas_area_name, meas_area_count] of Object.entries(ajax_data['meas_area'])){
                let meas_area_name_split_2 = meas_area_name.split(',');
                document.querySelector('#' + meas_area_name_split_2[1] + '_count').innerHTML = meas_area_count
            }
        }   
    }
    ///////////////////////////////
    startTimer_startdata(); //start타이머 시작

    ///////////////////////////////
    //event 내용 생성 ajax
    const interval_messagedata = function(list_tr_id){
        if(!GV.isPause_messagedata){
        //function interval_listdata(){
                $.ajaxSetup({
                    headers: { "X-CSRFToken": '{{csrf_token}}' }
                });
    
                $.ajax({
                    type:'POST',
                    url: "{% url 'analysis:listview_messageData' %}",
                    dataType : 'text',
                    data : { 'groupid' : list_tr_id },
                    async:false,
                    cache: false,
                    success: function(data){
                        console.log("불러오기 성공")
                        //$('#phoneGroupDetail_body').replaceWith($('#phoneGroupDetail_body',data));
                    },
                    error: function(error){
                        console.log("불러오기 실패")
                        console.log(error)
    
                    }
                });
            }
        }

</script>
{% endblock %}