{% extends "analysis/base.html" %}
{% load static %}
{% block extra-style %}

<link rel="stylesheet" type="text/css" href="{% static "css/nav.css" %}">

<!-- 부트스트랩 -->
<link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/sticky-footer-navbar/sticky-footer-navbar.css">
<!-- <link rel="stylesheet" href="https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css"> -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">

<!-- CSS,JS 호출 -->
<link rel="stylesheet" type="text/css" href="{% static "css/A4.css" %}">

<!-- CSS호출 -->
<link rel="stylesheet" type="text/css" href="{% static "css/report.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "css/modal.css" %}">

<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
<style>
    #btnzone{
        border-radius:0px 0px 10px 10px;
        right:100px; 
        border: 1px solid rgba(183, 180, 180, 0.839); 
        background-color: white; 
        width:280px; 
        text-align:center; 
        position:fixed; 
        margin-top:-15px; 
        padding:5px; 
        z-index:10; 
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    } 
    button, span{
	    display:inline;
	    margin-left:10px;
}
</style>
    <!-- 스타일 -->
<style>
    p{
        font-size: 15px;
        display: inline;
        text-align:center;
    }
    input{
        font-size: 15px;
        display: inline;
        text-align: center;
            
    }
    th{
        vertical-align: middle;
        text-align:center;
        
    }
    td{
        vertical-align: middle;
        text-align:center;
        height:40px;
    }
    table{
        vertical-align: middle;
        
    }
</style>
<!-- 테스트사이드바 -->
<style>

	.wrapper {
		display: flex;
		align-items: stretch;
        position:fixed;
	}
	
	#sidebar {
		min-width: 250px;
		max-width: 250px;
		min-height: 100vh;
	}
	
	#sidebar.active {
		margin-left: -250px;
	}
	a[data-toggle="collapse"] {
		position: relative;
	}
	
	.dropdown-toggle::after {
		display: block;
		position: absolute;
		top: 50%;
		right: 20px;
		transform: translateY(-50%);
	}
	@media (max-width: 768px) {
		#sidebar {
			margin-left: -250px;
		}
		#sidebar.active {
			margin-left: 0;
		}
	}
	@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
	
	
	body {
		font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
		background: #fafafa;
	}
	
	/* p {
		font-family: 'Poppins', sans-serif;
		font-size: 1.1em;
		font-weight: 300;
		line-height: 1.7em;
		color: #999;
	} */
	
	a, a:hover, a:focus {
		color: inherit;
		text-decoration: none;
		transition: all 0.3s;
	}
	
	#sidebar {
		/* don't forget to add all the previously mentioned styles here too */
		background: rgb(164, 164, 164);
		color: #fff;
		transition: all 0.3s;
	}
	
	#sidebar .sidebar-header {
		padding: 20px;
		background: #343a40;
	}
	
	#sidebar ul.components {
		padding: 20px 0;
		/* border-bottom: 1px solid #47748b; */
	}
	
	#sidebar ul p {
		color: #fff;
		padding: 10px;
	}
	
	#sidebar ul li a {
		padding: 10px;
		font-size: 1.1em;
		display: block;
	}
	#sidebar ul li a:hover {
		color: #8d8e93;
		background: #fff;
	}
	
	#sidebar ul li.active > a, a[aria-expanded="true"] {
		color: #fff;
		background: rgb(164, 164, 164);
	}
	ul ul a {
		font-size: 0.9em !important;
		padding-left: 30px !important;
		background: grey;
	}
    .bg-dark{
	background-color: #343a40 !important;
}
	</style>

{% endblock %}

{% block contents %}
<body>
 <!-- 측정대상등록 모달 -->
<div class="modal fade" id="regi_measplan" tabindex="-1" role="dialog" aria-labelledby="regi_measplanLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="regi_measplanLabel" style="font-weight: bold;">측정대상등록</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="{% url 'analysis:create_measplan' %}" method="POST" id="modalregister">{% csrf_token %}
            <div class="row"  style="border-bottom: 1px solid rgb(228, 223, 223); padding-bottom: 10px;">
                <div class="col-md-2" style="text-align:center">
                    <label for="PlanYear" class="col-form-label">대상년도</label>
                    <input type="text" class="form-control" id="planYear" name="planYear">
                </div>
            </div></br>
            <div class="row"  style="border-bottom: 1px solid rgb(228, 223, 223); padding-bottom: 10px;">
                <label style="font-weight: bold;">5G</label><br/>
                <div class="col-md-2" style="text-align:center">
                    <label for="area1" class="col-form-label"></br>행정동(NSA)</br></label>
                    <input type="text" class="form-control" id="area1" name="nsahjd5G">
                </div>
                <div class="col-md-2" style="text-align:center">
                    <label for="area2" class="col-form-label">다중시설/</br>교통인프라(NSA)</label>
                    <input type="text" class="form-control" id="area2" name="nsadg5G">
                </div>
                <div class="col-md-2" style="text-align:center">
                    <label for="area3" class="col-form-label"></br>SA</br></label>
                    <input type="text" class="form-control" id="area3" name="sa5G">
                </div>
                <div class="col-md-2" style="text-align:center">
                    <label for="area3" class="col-form-label"></br>공동망</br></label>
                    <input type="text" class="form-control" id="area3" name="public5G">
                </div>
                <div class="col-md-2" style="text-align:center">
                    <label for="area3" class="col-form-label">다중시설/</br>교통인프라(커버리지)</br></label>
                    <input type="text" class="form-control" id="area3" name="cvdg5G">
                </div>
                <div class="col-md-2" style="text-align:center">
                    <label for="area3" class="col-form-label"></br>중소시설(커버리지)</br></label>
                    <input type="text" class="form-control" id="area3" name="cvjs5G">
                </div>
            </div></br>
            <div class="row"  style="border-bottom: 1px solid rgb(228, 223, 223); padding-bottom: 10px;">
                <label style="font-weight: bold;">LTE</label><br/>
                <div class="col-md-2" style="text-align:center">
                    <label for="area4" class="col-form-label"></br>행정동(대도시)</br></label>
                    <input type="text" class="form-control" id="area4" name="bctLTE">
                </div>
                <div class="col-md-2" style="text-align:center">
                    <label for="area5" class="col-form-label"></br>행정동(중소도시)</br></label>
                    <input type="text" class="form-control" id="area5" name="mctLTE">
                </div>
                <div class="col-md-2" style="text-align:center">
                    <label for="area6" class="col-form-label"></br>행정동(농어촌)</br></label>
                    <input type="text" class="form-control" id="area6" name="sctLTE">
                </div>
                <div class="col-md-2" style="text-align:center">
                    <label for="area7" class="col-form-label">다중시설/</br>교통인프라(인빌딩)</label>
                    <input type="text" class="form-control" id="area7" name="ibLTE">
                </div>
                <div class="col-md-2" style="text-align:center">
                    <label for="area8" class="col-form-label">다중시설/</br>교통인프라(테마)</label>
                    <input type="text" class="form-control" id="area8" name="tmLTE">
                </div>
                <div class="col-md-2" style="text-align:center">
                    <label for="area9" class="col-form-label"></br>커버리지</label>
                    <input type="text" class="form-control" id="area9" name="cvLTE">
                </div>
            </div></br>
            <div class="row"  style="border-bottom: 1px solid rgb(228, 223, 223); padding-bottom: 10px;">
                <label style="font-weight: bold;">WiFi</label><br/>
                <div class="col-md-2" style="text-align:center">
                    <label for="area10" class="col-form-label"></br>상용</label>
                    <input type="text" class="form-control" id="area10" name="syWiFi">
                </div>
                <div class="col-md-2" style="text-align:center">
                    <label for="area11" class="col-form-label"></br>개방</label>
                    <input type="text" class="form-control" id="area11" name="gbWiFi">
                </div>
                <div class="col-md-2" style="text-align:center">
                    <label for="area11" class="col-form-label"></br>공공</label>
                    <input type="text" class="form-control" id="area11" name="publicWiFi">
                </div>
            </div></br>
            <div class="row" style="border-bottom: 1px solid rgb(228, 223, 223); padding-bottom: 10px;">
                <label style="font-weight: bold;">품질취약지역</label><br/>
                <div class="col-md-2" style="text-align:center">
                    <label for="area12" class="col-form-label"></br>등산로</br></label>
                    <input type="text" class="form-control" id="area12" name="dsrWeak">
                </div>
                <div class="col-md-2" style="text-align:center">
                    <label for="area13" class="col-form-label"></br>여객항로</label>
                    <input type="text" class="form-control" id="area13" name="yghrWeak">
                </div>
                <div class="col-md-2" style="text-align:center">
                    <label for="area14" class="col-form-label"></br>유인도서</label>
                    <input type="text" class="form-control" id="area14" name="yidsWeak">
                </div>
                <div class="col-md-2" style="text-align:center">
                    <label for="area15" class="col-form-label"></br>해안도로</label>
                    <input type="text" class="form-control" id="area15" name="hadrWeak">
                </div>
            </div>
        </form>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary" form="modalregister">등록대상생성</button>
        <form action="{% url 'analysis:delete_measplan' %}" method="POST">{% csrf_token %}
            <button type="submit" class="btn btn-primary" formaction="{% url 'analysis:delete_measplan' %}">데이터초기화</button>
        </form>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
        </div>
      </div>
    </div>
</div>    
   
<!-- 메인화면 -->
    <div style="display:flex; flex-flow: row nowrap;">
       <!-- 테스트 사이드바 -->


<div class="wrapper">
    
	<!-- Sidebar -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h2>일일보고</h2>
        </div>

        <ul class="list-unstyled components">
            <li>
                <a href="http://127.0.0.1:8000/smart/analysis/report/">일일보고</a>
            </li>
			<li>
                <a href="http://127.0.0.1:8000/smart/analysis/report/list/">일일보고 목록</a>
            </li>
			<li class="active">
                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">일일보고 관리</a>
                <ul class="collapse list-unstyled" id="homeSubmenu">
                    <li>
                        <a href="http://127.0.0.1:8000/smart/analysis/report/measplan/">측정대상등록</a>
                    </li>
                    <li>
                        <a href="http://127.0.0.1:8000/smart/analysis/report/measresult/">측정완료현황</a>
                    </li>
                    <li>
                        <a href="http://127.0.0.1:8000/smart/analysis/report/postmeas/">사후측정등록</a>
                    </li>
                </ul>
            </li>
        
        </ul>
    </nav>
	<div id="content" style="height:10px; width:10px;">

		<nav class="navbar navbar-expand-lg">
			<div class="container-fluid">
	
				<button type="button" id="sidebarCollapse" class="btn btn-primary">
					<i class="fas fa-align-left"></i>
					<span></span>
				</button>
			</div>
		</nav>
	</div>
</div>

<div id="blank" style="width:250px;"></div>
        <div id="show" style="width:90%">
            <div id = 'btnzone'> 
		        
                <button type="button" class="btn btn-secondary btn-sm" data-bs-toggle="modal" data-bs-target="#regi_measplan">추가 <i class="icon-fixed-width icon-plus" aria-hidden="true"></i></button>
                <span class="btn btn-secondary btn-sm" id="modify" onclick="text_modify()" >수정 <i class="icon-fixed-width icon-pencil"></i></span>
                <button type="submit" class="btn btn-secondary btn-sm" id="complete" form="planmodify" >완료 <i class="icon-fixed-width icon-check"></i></button>
                
            </div>
       
            <div style="border: 1px solid rgb(226, 221, 221); margin:60px 40px; padding:10px; width:95%">
            <form method="get" action="" class="form" id="planyearsearch">
                <select class="form-select form-select-sm mb-2" aria-label=".form-select-sm select example" style="width:130px;" name="planYear" id="id_yy">
                <option disabled id = measyear>측정년도</option>
                <option value="2019">2019년</option>
                <option value="2020"> 2020년</option>
                <option value="2021"> 2021년</option>
                <option value="2022"> 2022년</option>
                <option value="2023"> 2023년</option>
           
                </select>
            </form>
        
     
            <h5>
            5G 등록대상
            </h5>
            <form action="{% url 'analysis:create_measplan' %}" method="POST" style="display:inline;" id="planmodify">{% csrf_token %}
            <div id="output" style="text-align: center;">
                <input type = 'hidden' id="yearyear" name="planYear"></input>
                <table id="5Ghh" class="table table-hover table-bordered">
                    <thead class="bg-light">
                        <tr>
                            <th style="width:10%; vertical-align: middle" rowspan ="2">구분</th>
							<th style="width:30%; vertical-align: middle" colspan="3">NSA</th>
							<th style="width:10%; vertical-align: middle" rowspan="2">SA</th>
							<th style="width:10%; vertical-align: middle" rowspan="2">공동망</th>
							<th style="width:20%; vertical-align: middle" colspan="2">커버리지</th>
							<th style="width:10%; vertical-align: middle" rowspan="2">계</th>
                        </tr>
                        <tr>
                            <th>행정동</th>
                            <th>다중시설/<br>교통인프라</th>
                            <th>소계</th>
                            <th >다중시설/<br>교통인프라</th>
                            <th >중소시설</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td >대상</td>
                            {% for yy_list in yy_list %}
                            <td><p>{{yy_list.nsahjd5G}}</p><input style="display:inline; width:100px;height:20px;" class="form-control mod" type="text" name="nsahjd5G" id="textmod2" value="{{yy_list.nsahjd5G}}"></input></td>
                            <td><p>{{yy_list.nsadg5G}} </p><input style="display:inline; width:100px;height:20px;" class="form-control mod" type="text" name="nsadg5G" id="textmod2" value="{{yy_list.nsadg5G}}"></input></td>
                            <td><p>{{yy_list.totalnsa5G}} </p></td>
                            <td><p>{{yy_list.sa5G}} </p><input style="display:inline; width:100px;height:20px" class="form-control mod" type="text" name="sa5G" id="textmod4" value="{{yy_list.sa5G}}"></input></td>
                            <td><p>{{yy_list.public5G}} </p><input style="display:inline; width:100px;height:20px" class="form-control mod" type="text" name="public5G" id="textmod4" value="{{yy_list.public5G}}"></input></td>
                            <td><p>{{yy_list.cvdg5G}} </p><input style="display:inline; width:100px;height:20px" class="form-control mod" type="text" name="cvdg5G" id="textmod4" value="{{yy_list.cvdg5G}}"></input></td>
                            <td><p>{{yy_list.cvjs5G}} </p><input style="display:inline; width:100px;height:20px" class="form-control mod" type="text" name="cvjs5G" id="textmod4" value="{{yy_list.cvjs5G}}"></input></td>
                            <td><p>{{yy_list.total5G}} </p></td>
                            
                            {% endfor %}
                        </tr>
                    </tbody>
                </table>
            </div>
            <h5>
            LTE 등록대상
            </h5>
            <div id="output" style="text-align: center;">
                <table id="ltehh" class="table table-hover table-bordered ">
                    <thead class="bg-light">
                        <tr>
                            <th rowspan = "2" style="width:13%;vertical-align: middle">구분</th>
                            <th rowspan = "2" style="width:13%;vertical-align: middle">계</th>
                            <th colspan = "3" style="vertical-align: middle">행정동</th>
                            <th colspan = "2" style="vertical-align: middle">다중이용시설/<br>교통인프라</th>
                            <th rowspan = "2" style="vertical-align: middle"> 커버리지</th>
                        </tr>
                        <tr>
                            <th style="width:13%;">대도시</th>
                            <th style="width:13%;">중소도시</th>
                            <th style="width:13%;">농어촌</th>
                            <th style="width:13%;">인빌딩</th>
                            <th style="width:13%;">테마</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td >대상</td>
                            {% for yy_list in yy_list %}
                            <td><p>{{yy_list.totalLTE}}</p></td>
                            <td><p>{{yy_list.bctLTE}} </p><input style="display:inline; width:90px;height:20px" class="form-control mod" type="text" name="bctLTE" id="textmod6" value="{{yy_list.bctLTE}}"></input></td>
                            <td><p>{{yy_list.mctLTE}} </p><input style="display:inline; width:90px;height:20px" class="form-control mod" type="text" name="mctLTE" id="textmod7" value="{{yy_list.mctLTE}}"></input></td>
                            <td><p>{{yy_list.sctLTE}} </p><input style="display:inline; width:90px;height:20px" class="form-control mod" type="text" name="sctLTE" id="textmod8" value="{{yy_list.sctLTE}}"></input></td>
                            <td><p>{{yy_list.ibLTE}} </p><input style="display:inline; width:90px;height:20px" class="form-control mod" type="text" name="ibLTE" id="textmod9" value="{{yy_list.ibLTE}}"></input></td>
                            <td><p>{{yy_list.tmLTE}} </p><input style="display:inline; width:90px;height:20px" class="form-control mod" type="text" name="tmLTE" id="textmod10" value="{{yy_list.tmLTE}}"></input></td>
                            <td><p>{{yy_list.cvLTE}} </p><input style="display:inline; width:90px;height:20px" class="form-control mod" type="text" name="cvLTE" id="textmod11" value="{{yy_list.cvLTE}}"></input></td>
                            {% endfor %}
                        </tr>
                    </tbody>
                </table>
            </div>
            <h5>
            WiFi 등록대상
            </h5>
            <div id="output" style="text-align: center;">
                <table id="wifihh" class="table table-hover table-bordered ">
                    <thead class="bg-light">
                        <tr>
                            <th style="width:20%;">구분</th>
                            <th style="width:20%;">계</th>
                            <th style="width:20%;">상용</th>
                            <th style="width:20%;">개방</th>
                            <th style="width:20%;">공공</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>대상</td>
                            {% for yy_list in yy_list %}
                            <td><p>{{yy_list.totalWiFi}}</p></td>
                            <td><p>{{yy_list.syWiFi}} </p><input style="display:inline; width:100px;height:20px" class="form-control mod" type="text" name="syWiFi" id="textmod13" value="{{yy_list.syWiFi}}"></input></td>
                            <td><p>{{yy_list.gbWiFi}} </p><input style="display:inline; width:100px;height:20px" class="form-control mod" type="text" name="gbWiFi" id="textmod14" value="{{yy_list.gbWiFi}}"></input></td>
                            <td><p>{{yy_list.publicWiFi}} </p><input style="display:inline; width:100px;height:20px" class="form-control mod" type="text" name="publicWiFi" id="textmod14" value="{{yy_list.publicWiFi}}"></input></td>
                            {% endfor %}
                        </tr>
                    </tbody>
                </table>
            </div>
            <h5>
            품질취약지역 등록대상
            </h5>
            <div id="output" style="text-align: center;">
            <table id="pjhh" class="table table-hover table-bordered ">
                <thead class="bg-light">
                    <tr>
                        <th style="width:15%;">구분</th>
                        <th style="width:15%;">계</th>
                        <th style="width:15%;">등산로</th>
                        <th style="width:15%;">여객항로</th>
                        <th style="width:15%;">유인도서</th>
                        <th style="width:15%;">해안도로</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td >대상</td>
                        {% for yy_list in yy_list %}
                        <td><p >{{yy_list.totalWeakArea}}</p></td>
                        <td><p>{{yy_list.dsrWeak}} </p><input style="display:inline; width:100px;height:20px" class="form-control mod" type="text" name="dsrWeak" id="textmod16" value="{{yy_list.dsrWeak}}"></input></td>
                        <td><p>{{yy_list.yghrWeak}} </p><input style="display:inline; width:100px;height:20px" class="form-control mod" type="text" name="yghrWeak" id="textmod17" value="{{yy_list.yghrWeak}}"></input></td>
                        <td><p>{{yy_list.yidsWeak}} </p><input style="display:inline; width:100px;height:20px" class="form-control mod" type="text" name="yidsWeak" id="textmod18" value="{{yy_list.yidsWeak}}"></input></td>
                        <td><p>{{yy_list.hadrWeak}} </p><input style="display:inline; width:100px;height:20px" class="form-control mod" type="text" name="hadrWeak" id="textmod19" value="{{yy_list.hadrWeak}}"></input></td>
                        {% endfor %}
                    </tr>
                </tbody>
            </table>
            </div>
        </form>
        </div>
    </div>
    

</body>


{% endblock %}
{% block extra-script %}
{% csrf_token %}
<script src="https://unpkg.com/vue@2.4.2"></script>
<script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
<script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>
<script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"></script>
<!-- 테스트 사이드바 -->
<script>
    $(document).ready(function () {
        $('#sidebarCollapse').on('click', function () {
            $('#sidebar').toggleClass('active');
            $(this).toggleClass('active');
        });
    });
    $('#report_nav').addClass('nav-item active');
	$('#dashboard_nav').removeClass('nav-item active');
	$('#dashboard_nav').addClass('nav-item');
    </script>
<script>
    //선택년도 데이터 추출
    $(document).ready(function() {
        $("#planyearsearch").val("2022").prop("selected",true);
        
   
});
</script>

<script>
    //선택년도 데이터 추출
    $(document).ready(function() {
        $('#SELECTS').val('measyear').prop('selected',true);
        $("select[name=planYear]" ).val("{{yy_text}}");
        $('select[name=planYear]').change(function () {
        console.log($('select[name=planYear]').val());
        year = $('select[name=planYear]').val();
        $('.form').submit();
        
    });
});
</script>

<script>
    //선택된 년도 입력
$(document).ready(function() {
    var s = document.getElementById("id_yy");
    var ss = s.options[s.selectedIndex].value;
    document.getElementById("yearyear").value = ss;
    });

</script>
<script>
// 수정 완료 이벤트
$(document).ready(function() {
    $('.mod').hide();
});

async function text_modify(){
    $('.mod').toggle();
    $('p').toggle();
}

</script>
{% endblock %}