<!--
########################################################################################################################
[ base.html 블럭구조 ]

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    ....
    ┌ ---------------------------┐
    | block title                |
    └--------------------------- ┘
    <link rel="stylesheet" href="....">
    ....
    ┌ ---------------------------┐
    | block extra-style          |
    └--------------------------- ┘
</head>
<body style="..">
    <nav class="navbar navbar-expand-sm navbar-dark bg-primary fixed-top">
    ....
    </nav>
    <div class="container">
    ┌ ---------------------------┐
    | block content              |
    └--------------------------- ┘
    </div>
    ┌ ---------------------------┐
    | block footer               |
    └--------------------------- ┘
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    ....
    ┌ ---------------------------┐
    | block extra-script         |
    └--------------------------- ┘
</body>
</html>
########################################################################################################################
-->
{% extends "vueapp/base.html" %}
{% load static %}

{% block extra-style %}
    <style>
        .counter {
            background-color: #f5f5f5;
            padding: 20px 0;
            border-radius: 5px;
        }

        .jumbotron {
    position: relative;
}
.btnDiv {
  width: 100%;
  left: 0;
  bottom: 10px;
  position: absolute;
}

    </style>

{% endblock %}

{% block contents %}
    <div id="app">

        <!-- 상단 내용 -->
        <div class="row">
            <div class="col-10 px-2">
                <div class="row text-center">
                    <div class="card text-white bg-primary mx-4" style="width: 12rem; height: 7em">
                        <!-- 출저: https://getbootstrap.com/docs/4.0/components/card/#background-and-color -->
                        <div class="card-header p-1">오늘의 측정</div>
                        <div class="card-body mt-0 pt-0">
                            <span style="font-size: 16px;">총 </span><span style="font-size: 24px;">3</span>
                            <span style="font-size: 16px;">조 / 측정중 </span><span
                                style="font-size: 24px;">[[total_count]]</span>
                            <div class="mt-1">
                                <input style="height: 24px; width: 150px;" type="date" class="form-control"
                                       v-model="date">
                            </div>
                        </div>
                    </div>
                    <div v-for="(center, index) in centerList" class="card bg-light mb-1, mx-1"
                         style="width: 10rem; height: 7em">
                        <div class="card-header p-1">[[center.centerName]]</div>
                        <div class="card-body p-2">
                            <h3 class="card-title p-0 m-0">[[center.count]]</h3>
                            <p class="card-text p-0 m-0">부가정보 표시</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <button type="button" class="btn btn-secondary btn-lg mt-lg-5 pt-3" v-on:click="clickMeasuringEnd()">
                    <h5>측정종료</h5>
                </button>
                <button type="button" class="btn btn-danger btn-lg mt-lg-5 pt-3" v-on:click="clickMeasuringClose()">
                    <h5>측정마감</h5></button>
            </div>
        </div>

        <!-- 금일 측정그룹 -->
        <div id="middle_phonegroup" class="mt-2 w-100 fixed-table-container mt-0 pt-0 px-1"
             style="margin-bottom:10px;border: 2px solid rgb(228, 223, 223); padding: 10px; height:380px">
            <!-- <h6><b>금일 측정그룹</b></h6> -->
            <div class="fixed-table-body">
                <table id="groupWindow" class='table table-hover' style="display:block">
                    <thead class="bg-light">
                    <th style="width: 4%" class="text-center">
                        <input type="checkbox"
                               v-model="allChecked"
                               @click="checkedAll($event.target.checked)"
                        >
                    </th>
                    <th style="width: 5%">본부</th>
                    <th style="width: 5%">조</th>
                    <th style="width: 10%">측정지역</th>
                    <th style="width: 5%">모폴로지</th>
                    <th style="width: 5%">네트워크</th>
                    <th style="width: 5%">DL콜수</th>
                    <th style="width: 5%">DL속도</th>
                    <th style="width: 5%">UL콜수</th>
                    <th style="width: 5%">UL속도</th>
                    <th style="width: 5%">전환율</th>
                    <th style="width: 5%">이벤트</th>
                    <th style="width: 5%">측정시간</th>
                    <th style="width: 5%">상태</th>
                    <th scope="col" style="width: 5%">종료</th>
                    </thead>
                    <tbody id='phoneGroupDetail_body' class="table-hover"
                           style="height:310px; overflow-y:auto; display:block" class="d-flex">
                    {# <tr id = 'phoneGroupDetail_tr_{{phonegroup.id}}' onclick='startTimer_messagedata(this.attributes["id"].value);'>#}
                    <tr v-for="(phoneGroup, index) in phoneGroupList" :key="phoneGroup.id" class="d-flex"
                        v-on:click="clickPhoneGroupList(phoneGroup)">
                        <td style="width: 5%" class="text-center">
                            <input type="checkbox"
                                   :id="'check_' + phoneGroup.id"
                                   :value="phoneGroup.id"
                                   v-model="phoneGroup.selected"
                                   @change="selected($event)"
                            >
                        </td>
                        <td style="width: 5%" class="text-center">[[phoneGroup.centerName]]</td>
                        <td style="width: 5%" class="text-center">[[phoneGroup.P_measuringTeam]]</td>
                        <td style="width: 18%" class="text-center">[[phoneGroup.userInfo1]]</td>
                        <td style="width: 10%" class="text-center">[[phoneGroup.morphologyName]]</td>
                        <td style="width: 7%" class="text-center">[[phoneGroup.networkId]]</td>
                        <td style="width: 7%" class="text-center">[[phoneGroup.dl_count]]</td>
                        <td style="width: 7%" class="text-center">[[phoneGroup.downloadBandwidth]]</td>
                        <td style="width: 7%" class="text-center">[[phoneGroup.ul_count]]</td>
                        <td style="width: 7%" class="text-center">[[phoneGroup.uploadBandwidth]]</td>
                        <td style="width: 7%" class="text-center">[[phoneGroup.nr_percent]]</td>
                        <td style="width: 7%" class="text-center">[[phoneGroup.event_count]]</td>
                        <td style="width: 7%" class="text-center">[[phoneGroup.last_updated_time]]</td>
                        <td style="width: 7%" class="text-center" v-if="phoneGroup.active">측정 중</td>
                        <td style="width: 7%" class="text-center" v-else="phoneGroup.active">측정종료</td>
                        <td style="width: 7%" class="text-center" v-if="phoneGroup.active">
                            <img class='area_exit' src="{% static "admin/img/icon-yes.svg" %}" alt="종료" width="20">
                        </td>
                        <td style="width: 7%" class="text-center" v-else="phoneGroup.active">
                            <img class='area_exit' src="{% static "admin/img/icon-no.svg" %}" alt="종료" width="20">
                        </td>
                    </tbody>
                </table>
            </div>
        </div>

        <!-- 메시지/문자/텔레그램 -->
        <div style="display:flex">

            <div id="bottom_body_left"
                 style="border: 2px solid rgb(228, 223, 223); padding: 2px; height:270px; width:1100px;">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="event-tab" data-toggle="tab" href="#event" role="tab"
                           aria-controls="home" aria-selected="true">이벤트</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="sms-tab" data-toggle="tab" href="#sms" role="tab"
                           aria-controls="profile" aria-selected="false">문자</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="tele-tab" data-toggle="tab" href="#tele" role="tab"
                           aria-controls="contact" aria-selected="false">텔레그램</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active m-0 p-0" id="event" role="tabpanel"
                         aria-labelledby="event-tab">

                        <table id="eventWindow" class='table table-hover' style="display:block">
                            <thead id='eventDetail_header'>
                            <th scope="col" class="text-center" style="width: 10%">생성시간</th>
                            <th scope="col" class="text-center" style="width: 10%">측정단말</th>
                            <th scope="col" class="text-center" style="width: 55%">메세지</th>
                            <th scope="col" class="text-center" style="width: 10%">전송시간</th>
                            <th scope="col" class="text-center" style="width: 15%">전송여부</th>
                            </thead>
                            <tbody id='eventDetail_body' class="table-hover"
                                   style="height:150px; overflow-y:auto; display:block">
                            <tr v-for="message in messageEventList" class="d-flex"
                                v-on:click="clickMessageList(message)">
                                <td class="col-md-1 text-center" style="width: 10%">[[ message.create_time ]]</td>
                                <td class="col-md-1 text-center" style="width: 10%">[[ message.phone_no_sht ]]</td>
                                <td class="col-md-7 text-left" style="width: 60%">[[ message.message | truncate(80,
                                    '...')]]
                                </td>
                                <td class="col-md-1 text-center" style="width: 10%">[[ message.sended_time ]]</td>
                                <td class="col-md-1 text-center" style="width: 10%" v-if="message.message">전송</td>
                                <td class="col-md-1 text-center" style="width: 10%" v-else="message.message">미전송</td>
                            </tr>
                            </tbody>
                        </table>


                    </div>
                    <div class="tab-pane fade m-0 p-0" id="sms" role="tabpanel" aria-labelledby="sms-tab">

                        <table id="xroshotWindow" class='table table-hover' style="display:block">
                            <thead id='xroshotDetail_header'>
                            <th scope="col" class="text-center" style="width: 10%">생성시간</th>
                            <th scope="col" class="text-center" style="width: 10%">측정단말</th>
                            <th scope="col" class="text-center" style="width: 55%">메세지</th>
                            <th scope="col" class="text-center" style="width: 10%">전송시간</th>
                            <th scope="col" class="text-center" style="width: 15%">전송여부</th>
                            </thead>
                            <tbody id='xroshotDetail_body' class="table-hover"
                                   style="height:150px; overflow-y:auto; display:block">
                            <tr v-for="message in messageSmsList" class="d-flex"
                                v-on:click="clickMessageList(message)">
                                <td class="col-md-1 text-center" style="width: 10%">[[ message.create_time ]]</td>
                                <td class="col-md-1 text-center" style="width: 10%">[[ message.phone_no_sht ]]</td>
                                <td class="col-md-7 text-left" style="width: 60%">[[ message.message | truncate(80,
                                    '...')]]
                                </td>
                                <td class="col-md-1 text-center" style="width: 10%">[[ message.sended_time ]]</td>
                                <td class="col-md-1 text-center" style="width: 10%" v-if="message.message">전송</td>
                                <td class="col-md-1 text-center" style="width: 10%" v-else="message.message">미전송</td>
                            </tr>
                            </tbody>
                        </table>

                    </div>
                    <div class="tab-pane fade m-0 p-0" id="tele" role="tabpanel" aria-labelledby="tele-tab">

                        <table id="teleWindow" class='table table-hover' style="display:block">
                            <th scope="col" class="text-center" style="width: 10%">생성시간</th>
                            <th scope="col" class="text-center" style="width: 10%">측정단말</th>
                            <th scope="col" class="text-center" style="width: 55%">메세지</th>
                            <th scope="col" class="text-center" style="width: 10%">전송시간</th>
                            <th scope="col" class="text-center" style="width: 15%">전송여부</th>
                            </thead>
                            <tbody id='teleDetail_body' class="table-hover"
                                   style="height:150px; overflow-y:auto; display:block">
                            <tr v-for="message in messageTeleList" class="d-flex"
                                v-on:click="clickMessageList(message)">
                                <td class="col-md-1 text-center" style="width: 10%">[[ message.create_time ]]</td>
                                <td class="col-md-1 text-center" style="width: 10%">[[ message.phone_no_sht ]]</td>
                                <td class="col-md-7 text-left" style="width: 60%">[[ message.message | truncate(80,
                                    '...')]]
                                </td>
                                <td class="col-md-1 text-center" style="width: 10%">[[ message.sended_time ]]</td>
                                <td class="col-md-1 text-center" style="width: 10%" v-if="message.message">전송</td>
                                <td class="col-md-1 text-center" style="width: 10%" v-else="message.message">미전송</td>
                            </tr>
                            </tbody>
                        </table>

                    </div>
                </div>

            </div>
            <!-- /.container -->

            <div style="border: 2px solid rgb(228, 223, 223); padding: 10px; height:270px; width:780px;">
                <h6> 상세 메시지내역 </h6>
                <div style="text-align: center;">
                    <div class="mb-1">
                        <textarea class="form-control mb-1" id="message_contents" rows="5">[[message]]</textarea>
                        <input class="form-control form-control-sm" id="formFileSm" type="file" />
                    </div>
                    <!--
                    <button type="button" class="btn btn-outline-primary btn-sm">전송</button>
                    <button type="button" class="btn btn-outline-danger btn-sm">회수</button>
                    -->
                    <button type="button" class="btn btn-primary" v-on:click="getSelected()">전송</button>
                    <button type="button" class="btn btn-danger">회수</button>
                </div>
            </div>
        </div>


        <!-- Modal -->
        <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true"
             id="mi-modal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel">확인</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body">
                        <p id="modal_body"></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" id="modal-btn-confirm" v-on:click="clickModalBtnConfirm">측정종료</button>
                        <button type="button" class="btn btn-default" id="modal-btn-cancel" v-on:click="clickModalBtnCancel">취소</button>
                    </div>
                </div>
            </div>
        </div>



    </div>



{% endblock %}

{% block extra-script   %}
<script src="https://unpkg.com/vue@2.4.2"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script>
/* =====================================================================================================================
 * 측정현황을 주기적으로 갱신하기 위한 모듈(Vue.js)
 * ---------------------------------------------------------------------------------------------------------------------
 * 2022.04.05 - 선택된 단말그룹 내역 건수를 계산하는 함수를 computed 속성으로 변환함
 *
 =====================================================================================================================*/
var vm = new Vue({
    delimiters: ['[[', ']]'], // 장고 탬플릿 테그와 구별하기 위해 사용
    el: '#app',
    data: {
        date: "2021-11-01", // 측정일자
        total_count: 0, // 총 측정건수
        centerList: [], // 측정중인 센터수,
        phoneGroupList: [], // 측정 단말그룹 리스트
        messageEventList: [], // 이벤트 메시지 리스트
        messageSmsList: [], // 문자 메시지 리스트
        messageTeleList: [], // 텔레그램 메시지 리스트
        message: '',
        timer: '', // 타이머
        allChecked: false, // 단말그룹 전체선태 토글(Toggle)을 위한 속성
        checkedCount: 0, // 선택된 단말그룹 건수
        showModal: false,
        httpStatus: null,
    },
    computed: {
        checkedCount: function () {
            let phoneGroupIdList = [];
            for (let i in this.phoneGroupList) {
                if (this.phoneGroupList[i].selected) {
                    phoneGroupIdList.push(this.phoneGroupList[i].id);
                }
            }
            return phoneGroupIdList.length
        }
    },
    created: function () {
        console.log("created()...");
        // 날짜타입의 측정일자를 스트링으로 변환한다(예: 20211101)
        //this.date = Date.now();
        const date = new Date("2021-11-01");
        const year = date.getFullYear();
        const month = ("0" + (1 + date.getMonth())).slice(-2);
        const day = ("0" + date.getDate()).slice(-2);
        this.date = year + "-" + month + "-" + day;

        // 해당 측정일자에 대한 단말그룹 리스트를 조회한다.
        this.fetch_all_phoneGroup();
        this.timer = setInterval(this.fetch_all_phoneGroup, 10000);
        console.log("####...", this.centerList);
    },

    methods: {
        /* -------------------------------------------------------------------------------------------------------------
         * 측정일자에 해당하는 측정단말 리스트를 가져온다.
         -------------------------------------------------------------------------------------------------------------*/
        async fetch_all_phoneGroup() {
            console.log("fetch_all_phoneGroup()...");
            const res = await fetch("/api/phonegroup/list/" + this.date);
            const data = await res.json();
            console.log("####", data);
            this.total_count = data['total_count'];
            this.centerList = data['centerList'];
            this.phoneGroupList = data['phoneGroupList'];
            this.checkedCount = 0;
        },
        /* -------------------------------------------------------------------------------------------------------------
         * 측정 단말그릅 리스트에서 특정 내역을 클랙했을 동작한다.
         -------------------------------------------------------------------------------------------------------------*/
        clickPhoneGroupList: function (phoneGroup) {
            console.log("clickPhoneGroupList()...");
            this.fetch_all_message(phoneGroup);
        },
        /* -------------------------------------------------------------------------------------------------------------
         * 전송 메시지(이벤트/문자/텔레그랠) 리스트를 가져온다.
         -------------------------------------------------------------------------------------------------------------*/
        async fetch_all_message(phoneGroup) {
            console.log("fetch_all_message()...");
            const res = await fetch("/api/message/list/" + phoneGroup.id)
            const data = await res.json();
            this.messageEventList = data['messageEventList']; // 이벤트 메시지 리스트
            this.messageSmsList = data['messageSmsList']; // 문자 메시지 리스트
            this.messageTeleList = data['messageTeleList']; // 텔레그램 메시지 리스트
            console.log("#### message ####", data);
        },
        /* -------------------------------------------------------------------------------------------------------------
         * 전송 메시지 내역을 클릭 했을 때 메시지 상세내역을 보여준다.
         -------------------------------------------------------------------------------------------------------------*/
        clickMessageList: function (message) {
            console.log("clickMessageList()...");
            console.log("##### message.id", message.message)
            this.message = message.message
        },
        /* -------------------------------------------------------------------------------------------------------------
         * 단말그룹 리스트 체크박스 관련 함수
         -------------------------------------------------------------------------------------------------------------*/
        checkedAll(checked) {
            this.allChecked = checked
            for (let i in this.phoneGroupList) {
                this.phoneGroupList[i].selected = this.allChecked;
            }
        },
        selected(e) {
            for (let i in this.phoneGroupList) {
                if (!this.phoneGroupList[i].selected) {
                    this.allChecked = false;
                    return;
                } else {
                    this.allChecked = true;
                }
            }
        },
        getSelected() {
            let phoneGroupIdList = [];
            for (let i in this.phoneGroupList) {
                if (this.phoneGroupList[i].selected) {
                    phoneGroupIdList.push(this.phoneGroupList[i].id);
                }
            }
            this.checkedCount = phoneGroupIdList.length
        },
        /* -------------------------------------------------------------------------------------------------------------
         * 단말그룹에 대한 측정을 종료한다.
         -------------------------------------------------------------------------------------------------------------*/
        async measuring_end() {
            for (let i in this.phoneGroupList) {
                if (this.phoneGroupList[i].selected) {
                    // 선택된 단말그룹에 대해서 측정을 종료하도록 서버에 요청한다.
                    const res = await fetch("/monitor/end/" + this.phoneGroupList[i].id)
                }
            }
        },
        async measuring_day_close() {
            console.log(this.date)
            const res = await fetch("/monitor/day_close/" + this.date)
        },
        clickMeasuringEnd(e) {
            $("#modal-btn-confirm").html('측정종료');
            $("#modal_body").html("선택된 단말그룹에 대한 측정을 종료하시겠습니까?");
            $("#mi-modal").modal('show');
        },
        clickMeasuringClose(e) {
            $("#modal-btn-confirm").html('측정마감');
            $("#modal_body").html("당일 측정을 마감하시겠습니까?");
            $("#mi-modal").modal('show');
        },
        clickModalBtnConfirm(e) {
            console.log(e)
            console.log(e.target.innerText === "측정마감");
            if (e.target.innerText === "측정종료") {
                // 선택된 단말그룹에 대한 측정을 종료한다.
                this.measuring_end();
            } else if (e.target.innerText === "측정마감") {
                // 해당일자에 대한 측정을 마감한다.
                this.measuring_day_close()
            }
            $("#mi-modal").modal('hide');
        },
        clickModalBtnCancel(){
            $("#mi-modal").modal('hide');
        },
    },
});

/* ---------------------------------------------------------------------------------------------------------------------
 * 전송 메시지 내용을 줄여서 표현하는 필터를 선언한다.
 * 사용법: <td class="col-md-6 text-left">[[ message.message | truncate(65, '...')]]</td>
 ---------------------------------------------------------------------------------------------------------------------*/
var filter = function (text, length, clamp) {
    clamp = clamp || '...';
    var node = document.createElement('div');
    node.innerHTML = text;
    var content = node.textContent;
    return content.length > length ? content.slice(0, length) + clamp : content;
};

Vue.filter('truncate', filter);

/* ---------------------------------------------------------------------------------------------------------------------
 * 마우스를 텝위(이벤트/문자/텔레그램)에 울려 놓으면 해당 탭이 선택되게 한다.
 ---------------------------------------------------------------------------------------------------------------------*/
$(".nav-link").mouseover(function () {
    $(this).tab("show");
});

$(".nav-link").on("show.bs.tab", function (e) {
    const tabPanelId = e.relatedTarget.getAttribute("href");
    $(tabPanelId).removeClass("active");
});

/* ---------------------------------------------------------------------------------------------------------------------
 * 측정종료 확인창(모달) 내 버튼을 위한 함수를 정의한다.
 ---------------------------------------------------------------------------------------------------------------------*/
/*
var modalConfirm = function (callback) {

    $("#btn-end-confirm").on("click", function (e) {
        //const selectedRow = document.getElementsByClassName("phoneGroup.selected");
        //console.log(selectedRow)
        console.log(e.target.outerText);
        vm.getSelected();
        if (vm.checkedCount > 0) {
            //$(".modal-body #modal-body-content").val("선택된 단말그룹에 대한 측정을 종료하시겠습니까?");
            $("#modal_body").html("선택된 단말그룹에 대한 측정을 종료하시겠습니까?");
            $("#mi-modal").modal('show');
        } else {
            //$(".modal-body #modal-body-content").val("선택된 단말그룹이 없습니다.");
            $("#modal_body").html("선택된 단말그룹이 없습니다.");
            $("#mi-modal").modal('show');
        }
    });

    $("#modal-btn-end").on("click", function () {
        callback(true);
        $("#mi-modal").modal('hide');
    });

    $("#modal-btn-cancel").on("click", function () {
        callback(false);
        $("#mi-modal").modal('hide');
    });
};
*/
/* ---------------------------------------------------------------------------------------------------------------------
 * 측정종료 확인창(모달) 내에서 '측정종료' 버튼을 클릭했을 때 측정종료를 실행한다.
 ---------------------------------------------------------------------------------------------------------------------*/
/*
modalConfirm(function (confirm) {
    if (confirm) {
        // 선택된 단말그룹에 대한 측정을 종료하는 함수를 호출한다.
        vm.measuring_end();
        // 측정을 종료한 후 단말그룹 리스트를 다시 조회한다.
        vm.fetch_all_phoneGroup()
    } else {
        // 선택된 단말그룹이 없는 경우 아무런 처리를 하지 않는다.
    }
});
*/

</script>

{% endblock %}