<!--
########################################################################################################################
[ base.html 블럭구조 ]
 * 처음부터 코드를 예쁘게 잘 작성하는 습관을 들이지 않으면 나 뿐만이 아니라 유지보수를 하는 주변 사람들까지 힘들게 한다 -패스트캠퍼스-
 * 내가 작성한 코드도 조금 시간이 지나면 이해하기 힘든 코드가 될 수 있다.
 *
 * 무작정 타이핑만 치는 것만이 개발이 아닙니다.
 * 탄탄한 이해와 설계 아래 탄탄한 애플리케이션이 갖춰집니다 -인프런 장고 강좌-
 * 프레임워크를 쓴다는 것은 그 프레임워크가 제시하는 길을 명확히 이해하고, 존중하는 것에서 시작합니다.

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    ....
    ┌ ---------------------------┐
    | block title                |
    └--------------------------- ┘
    <link rel="stylesheet" href="....">
    ....
    ┌ ---------------------------┐
    | block extra-style          |
    └--------------------------- ┘
</head>
<body style="..">
    <nav class="navbar navbar-expand-sm navbar-dark bg-primary fixed-top">
    ....
    </nav>
    <div class="container">
    ┌ ---------------------------┐
    | block content              |
    └--------------------------- ┘
    </div>
    ┌ ---------------------------┐
    | block footer               |
    └--------------------------- ┘
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    ....
    ┌ ---------------------------┐
    | block extra-script         |
    └--------------------------- ┘
</body>
</html>
########################################################################################################################
-->
{% extends "vueapp/base.html" %}
{% load static %}

{% block extra-style %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        .counter {
            background-color: #f5f5f5;
            padding: 20px 0;
            border-radius: 5px;
        }

        .fa-spin-hover:hover {
            animation: fa-spin 2s infinite linear;
        }

        @-webkit-keyframes fa-spin {
            0% {
                -webkit-transform: rotate(0deg);
                transform: rotate(0deg)
            }
            100% {
                -webkit-transform: rotate(359deg);
                transform: rotate(359deg)
            }
        }

        @keyframes fa-spin {
            0% {
                -webkit-transform: rotate(0deg);
                transform: rotate(0deg)
            }
            100% {
                -webkit-transform: rotate(359deg);
                transform: rotate(359deg)
            }
        }

    </style>

{% endblock %}

{% block contents %}
    <div id="app">

        <!-- 상단 내용 -->
        <div class="row">
            <div class="col-10 px-2">
                <div class="row text-center">
                    <div class="card text-white bg-primary mx-4" style="width: 12rem; height: 100px">
                        <!-- 출저: https://getbootstrap.com/docs/4.0/components/card/#background-and-color -->
                        <div class="card-header p-0">오늘의 측정</div>
                        <div class="card-body mt-0 pt-0 pb-0">
                            <span style="font-size: 16px;">총 </span><span style="font-size: 24px;">3</span>
                            <span style="font-size: 16px;">조 / 측정중 </span><span
                                style="font-size: 24px;">[[total_count]]</span>
                            <div class="mt-1">
                                <input style="height: 24px; width: 150px;" type="date" class="form-control"
                                       v-model="date">
                            </div>
                        </div>
                    </div>
                    <div v-for="(center, index) in centerList" class="card bg-light mb-1, mx-1"
                         style="width: 10rem; height: 100px">
                        <div class="card-header p-1" style="font-weight: bold;">[[center.centerName]]</div>
                        <div class="card-body p-2">
                            <h3 class="card-title p-0 m-0">[[center.count]]</h3>
                            <p class="card-text p-0 m-0" style="font-size:14px;">(측정중 <span style="font-size: 16px;">[[center.measuring_count]]</span>
                                / 종료 <span style="font-size: 16px;">[[center.end_count]])</span></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <button type="button" class="btn btn-secondary btn-lg mt-lg-4 pt-3" v-on:click="clickMeasuringEnd()">
                    <h5>측정종료</h5>
                </button>
                <button type="button" class="btn btn-danger btn-lg mt-lg-4 pt-3" v-on:click="clickMeasuringClose()">
                    <h5>측정마감</h5></button>
            </div>
        </div>

        <!-- 금일 측정그룹 -->
        <div id="middle_phonegroup" class="fixed-table-container mt-1 pt-0 px-1"
             style="margin-bottom:10px;border: 2px solid rgb(228, 223, 223); padding: 10px; height:370px">
            <!-- <h6><b>금일 측정그룹</b></h6> -->
            <div class="fixed-table-body">
                <table id="groupWindow" class='table table-hover' style="display:block">
                    <thead class="bg-light">
                    <th style="width: 4%" class="text-center">
                        <input type="checkbox"
                               v-model="allChecked"
                               @click="checkedAll($event.target.checked)"
                        >
                    </th>
                    <th style="width: 5%">본부</th>
                    <th style="width: 5%">조</th>
                    <th style="width: 10%">측정지역</th>
                    <th style="width: 5%">모폴로지</th>
                    <th style="width: 5%">네트워크</th>
                    <th style="width: 5%">DL콜수</th>
                    <th style="width: 5%">DL속도</th>
                    <th style="width: 5%">UL콜수</th>
                    <th style="width: 5%">UL속도</th>
                    <th style="width: 5%">전환율</th>
                    <th style="width: 5%">이벤트</th>
                    <th style="width: 5%">측정시간</th>
                    <th style="width: 5%">상태</th>
                    <th style="width: 5%">종료
                        <i id="refreshIcon" class="fa fa-refresh fa-2x fa-spin-hover ml-2"
                           style="font-size:24px; color:blue" v-on:click="fetch_all_phoneGroup"
                           data-toggle="tooltip" data-placement="top" title="클릭하면 데이터가 갱신됩니다."></i>
                    </th>
                    </thead>
                    <tbody id='phoneGroupDetail_body' class="table-hover"
                           style="height:280px; overflow-y:auto; display:block" class="d-flex">
                    {# <tr id = 'phoneGroupDetail_tr_{{phonegroup.id}}' onclick='startTimer_messagedata(this.attributes["id"].value);'>#}
                    <tr v-for="(phoneGroup, index) in phoneGroupList" :key="phoneGroup.id" class="d-flex"
                        v-on:click="clickPhoneGroupList(phoneGroup)">
                        <td style="width: 5%" class="text-center">
                            <input type="checkbox"
                                   :id="'check_' + phoneGroup.id"
                                   :value="phoneGroup.id"
                                   v-model="phoneGroup.selected"
                                   @change="selected($event)"
                            >
                        </td>
                        <td style="width: 5%" class="text-center">[[phoneGroup.centerName]]</td>
                        <td style="width: 5%" class="text-center" v-on:dblclick="doubleclickMeasuringTeam(phoneGroup)">
                            [[phoneGroup.p_measuringTeam]]</td>
                        <td style="width: 20%" class="text-center">[[phoneGroup.userInfo1 | truncate(15, '...')]]</td>
                        <td style="width: 8%" class="text-center">[[phoneGroup.morphologyName]]</td>
                        <td style="width: 7%" class="text-center">[[phoneGroup.networkId]]</td>
                        <td style="width: 7%" class="text-center">[[phoneGroup.dl_count]]</td>
                        <td style="width: 7%" class="text-center">[[phoneGroup.downloadBandwidth]]</td>
                        <td style="width: 7%" class="text-center">[[phoneGroup.ul_count]]</td>
                        <td style="width: 7%" class="text-center">[[phoneGroup.uploadBandwidth]]</td>
                        <td style="width: 7%" class="text-center">[[phoneGroup.nr_percent]]</td>
                        <td style="width: 7%" class="text-center">[[phoneGroup.event_count]]</td>
                        <td style="width: 7%" class="text-center">
                            [[phoneGroup.last_updated_time]]([[phoneGroup.elapsed_time]])
                        </td>
                        <td style="width: 7%" class="text-center" v-if="phoneGroup.active">측정 중</td>
                        <td style="width: 7%" class="text-center" v-else="phoneGroup.active">측정종료</td>
                        <td style="width: 7%" class="text-center" v-if="phoneGroup.active">
                            <img class='area_exit' src="{% static "admin/img/icon-yes.svg" %}" alt="종료" width="20">
                        </td>
                        <td style="width: 7%" class="text-center" v-else="phoneGroup.active">
                            <img class='area_exit' src="{% static "admin/img/icon-no.svg" %}" alt="종료" width="20">
                        </td>
                    </tbody>
                </table>
            </div>
        </div>

        <!-- 메시지/문자/텔레그램 -->
        <div style="display:flex">

            <div id="bottom_body_left"
                 style="border: 2px solid rgb(228, 223, 223); padding: 2px; height:300px; width:1100px;">

                <!-- Tabs navs -->
                <!-- 출처: https://bootstrapcreative.com/pattern/basic-responsive-nav-tabs-example/ -->
                <ul class="nav nav-tabs nav-pills" id="msg" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="msg-event-tab" data-toggle="tab" href="#msg-event" role="tab"
                           aria-controls="msg-event" aria-selected="true">이벤트</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="msg-sms-tab" data-toggle="tab" href="#msg-sms" role="tab"
                           aria-controls="msg-sms" aria-selected="false">문자</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="msg-tele-tab" data-toggle="tab" href="#msg-tele" role="tab"
                           aria-controls="msg-tele" aria-selected="false">텔레그램</a>
                    </li>
                </ul>
                <!-- Tabs navs End -->

                <!-- Tabs content -->
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="msg-event" role="tabpanel"
                         aria-labelledby="msg-event-tab">

                        <table id="eventWindow" class='table table-hover' style="display:block">
                            <thead id='eventDetail_header'>
                            <th scope="col" class="text-center" style="width: 10%">생성시간</th>
                            <th scope="col" class="text-center" style="width: 10%">측정단말</th>
                            <th scope="col" class="text-center" style="width: 55%">메세지</th>
                            <th scope="col" class="text-center" style="width: 10%">전송시간</th>
                            <th scope="col" class="text-center" style="width: 15%">전송여부</th>
                            </thead>
                            <tbody id='eventDetail_body' class="table-hover"
                                   style="height:180px; overflow-y:auto; display:block">
                            <tr v-for="message in messageEventList" class="d-flex"
                                v-on:click="clickMessageList(message)">
                                <td class="col-md-1 text-center" style="width: 10%">[[ message.create_time ]]</td>
                                <td class="col-md-1 text-center" style="width: 10%">[[ message.phone_no_sht ]]</td>
                                <td class="col-md-7 text-left" style="width: 60%">[[ message.message | truncate(80,
                                    '...')]]
                                </td>
                                <td class="col-md-1 text-center" style="width: 10%">[[ message.sended_time ]]</td>
                                <td class="col-md-1 text-center" style="width: 10%" v-if="message.message">전송</td>
                                <td class="col-md-1 text-center" style="width: 10%" v-else="message.message">미전송</td>
                            </tr>
                            </tbody>
                        </table>

                    </div>

                    <div class="tab-pane fade" id="msg-sms" role="tabpanel" aria-labelledby="msg-sms-tab">

                        <table id="xroshotWindow" class='table table-hover' style="display:block">
                            <thead id='xroshotDetail_header'>
                            <th scope="col" class="text-center" style="width: 10%">생성시간</th>
                            <th scope="col" class="text-center" style="width: 10%">측정단말</th>
                            <th scope="col" class="text-center" style="width: 55%">메세지</th>
                            <th scope="col" class="text-center" style="width: 10%">전송시간</th>
                            <th scope="col" class="text-center" style="width: 15%">전송여부</th>
                            </thead>
                            <tbody id='xroshotDetail_body' class="table-hover"
                                   style="height:180px; overflow-y:auto; display:block">
                            <tr v-for="message in messageSmsList" class="d-flex"
                                v-on:click="clickMessageList(message)">
                                <td class="col-md-1 text-center" style="width: 10%">[[ message.create_time ]]</td>
                                <td class="col-md-1 text-center" style="width: 10%">[[ message.phone_no_sht ]]</td>
                                <td class="col-md-7 text-left" style="width: 60%">[[ message.message | truncate(80,
                                    '...')]]
                                </td>
                                <td class="col-md-1 text-center" style="width: 10%">[[ message.sended_time ]]</td>
                                <td class="col-md-1 text-center" style="width: 10%" v-if="message.message">전송</td>
                                <td class="col-md-1 text-center" style="width: 10%" v-else="message.message">미전송</td>
                            </tr>
                            </tbody>
                        </table>

                    </div>
                    <div class="tab-pane fade" id="msg-tele" role="tabpanel" aria-labelledby="msg-tele-tab">

                        <table id="teleWindow" class='table table-hover' style="display:block">
                            <th scope="col" class="text-center" style="width: 10%">생성시간</th>
                            <th scope="col" class="text-center" style="width: 10%">측정단말</th>
                            <th scope="col" class="text-center" style="width: 55%">메세지</th>
                            <th scope="col" class="text-center" style="width: 10%">전송시간</th>
                            <th scope="col" class="text-center" style="width: 15%">전송여부</th>
                            </thead>
                            <tbody id='teleDetail_body' class="table-hover"
                                   style="height:180px; overflow-y:auto; display:block">
                            <tr v-for="message in messageTeleList" class="d-flex"
                                v-on:click="clickMessageList(message)">
                                <td class="col-md-1 text-center" style="width: 10%">[[ message.create_time ]]</td>
                                <td class="col-md-1 text-center" style="width: 10%">[[ message.phone_no_sht ]]</td>
                                <td class="col-md-7 text-left" style="width: 60%">[[ message.message | truncate(80,
                                    '...')]]
                                </td>
                                <td class="col-md-1 text-center" style="width: 10%">[[ message.sended_time ]]</td>
                                <td class="col-md-1 text-center" style="width: 10%" v-if="message.message">전송</td>
                                <td class="col-md-1 text-center" style="width: 10%" v-else="message.message">미전송</td>
                            </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
                <!-- Tabs content End -->

            </div>
            <!-- /.container -->


            <div style="border: 2px solid rgb(228, 223, 223); padding: 10px; height:300px; width:780px;">

                <!-- Tabs navs -->
                <!-- 출처: https://bootstrapcreative.com/pattern/basic-responsive-nav-tabs-example/ -->
                <ul class="nav nav-tabs nav-pills" id="msgdtl" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="msgdtl-message-tab" data-toggle="tab" href="#msgdtl-message"
                           role="tab"
                           aria-controls="msgdtl-message" aria-selected="true">메시지 상세내용</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="msgdtl-recipient-tab" data-toggle="tab" href="#msgdtl-recipient"
                           role="tab"
                           aria-controls="msgdtl-recipient" aria-selected="false">수신자 리스트</a>
                    </li>
                </ul>
                <!-- Tabs navs End -->

                <!-- Tabs content -->
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active mt-1" id="msgdtl-message" role="tabpanel"
                         aria-labelledby="msgdtl-message-tab">
                         <textarea class="form-control mb-2" id="message_contents"
                                   rows="6">[[message.message]]</textarea>
                        <button type="button" class="btn btn-primary" v-on:click="clickSendMessage">전송</button>
                        <button type="button" class="btn btn-danger" v-on:click="clickDeleteMessage">회수</button>
                    </div>
                    <div class="tab-pane fade mt-1" id="msgdtl-recipient" role="tabpanel"
                         aria-labelledby="msgdtl-recipient-tab">
                             <textarea class="form-control mb-1" id="recipient_list"
                                       rows="6" v-model="recipient_text"
                                       placeholder="전화번호는 데시(-)를 제거 후 콤마(,)로 분리하여 다수를 입력 가능합니다."></textarea>
                        <input class="form-control form-control-sm" id="formFileSm" type="file" ref="myFile"
                               @change="selectedFile"/>
                    </div>
                </div>
                <!-- Tabs content End-->

            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
             aria-hidden="true"
             id="mi-modal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel">확인</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body">
                        <p id="modal_body"></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" id="modal-btn-confirm"
                                v-if="isModelConfirmDisabled" v-on:click="clickModalBtnConfirm">측정종료
                        </button>
                        <button type="button" class="btn btn-default" id="modal-btn-cancel"
                                v-on:click="clickModalBtnCancel">닫기
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal End-->




        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#measuringTeamModal">
            Launch demo modal
        </button>

        <!-- Measuringteam Modal -->
        <div class="modal fade" id="measuringTeamModal" tabindex="-1" role="dialog"
             aria-labelledby="measuringTeamModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="measuringTeamModalLabel">측정조 변경</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        [[selectedPhoneGroup.userInfo1]]
                        <p class="mt-1"><label for="measuringTeam">측정 조</label>
                            <input type="text" id="measuringTeam" v-model="selectedPhoneGroup.measuringTeam"/></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" v-on:click="clickModalTeamConfirm">저장</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Measuringteam Modal End -->

    </div>

{% endblock %}

{% block extra-script %}
    {% csrf_token %}
    <script src="https://unpkg.com/vue@2.4.2"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <script>
        /* =============================================================================================================
         * 측정현황을 주기적으로 갱신하기 위한 모듈(Vue.js)
         * -------------------------------------------------------------------------------------------------------------
         * 2022.04.05 - 선택된 단말그룹 내역 건수를 계산하는 함수를 computed 속성으로 변환함
         * 2022.04.09 - 텔레그램 및 문자 메시지 전송 기능 구현
         *            - 문자 메시지 조회시 측정단말 및 단말그룹이 없는 경우 해당 측정일자에 생성된 건이 조회 추가
         *              (전송유형: ALL)
         =============================================================================================================*/
        var vm = new Vue({
            delimiters: ['[[', ']]'], // 장고 탬플릿 테그와 구별하기 위해 사용
            el: '#app',
            data: {
                date: "2021-11-01", // 측정일자
                total_count: 0, // 총 측정건수
                centerList: [], // 측정중인 센터수,
                phoneGroupList: [], // 측정 단말그룹 리스트
                messageEventList: [], // 이벤트 메시지 리스트
                messageSmsList: [], // 문자 메시지 리스트
                messageTeleList: [], // 텔레그램 메시지 리스트
                message: {}, // 메시지 상세내역
                timer: null, // 타이머
                allChecked: false, // 단말그룹 전체선태 토글(Toggle)을 위한 속성
                //checkedCount: 0,
                isModelConfirmDisabled: true, // 모달창 '확인'버튼 활성상태여부
                recipient_text: null, // 수신자 리스트
                selectedPhoneGroup: {},

            },
            computed: {
                checkedCount: function () {
                    let phoneGroupIdList = [];
                    for (let i in this.phoneGroupList) {
                        if (this.phoneGroupList[i].selected) {
                            phoneGroupIdList.push(this.phoneGroupList[i].id);
                        }
                    }
                    return phoneGroupIdList.length
                }
            },
            created: function () {
                // 날짜타입의 측정일자를 스트링으로 변환한다(예: 20211101)
                //this.date = Date.now();
                const date = new Date("2021-11-01");
                const year = date.getFullYear();
                const month = ("0" + (1 + date.getMonth())).slice(-2);
                const day = ("0" + date.getDate()).slice(-2);
                this.date = year + "-" + month + "-" + day;

                // 해당 측정일자에 대한 단말그룹 리스트를 조회한다.
                this.fetch_all_phoneGroup();
                this.timer = setInterval(this.fetch_all_phoneGroup, 10000);
            },
            methods: {
                /* -----------------------------------------------------------------------------------------------------
                 * 측정일자에 해당하는 측정단말 리스트를 가져온다.
                 -----------------------------------------------------------------------------------------------------*/
                async fetch_all_phoneGroup() {
                    const res = await fetch("/api/phonegroup/list/" + this.date);
                    const data = await res.json();
                    const selectedPhoneGroup = this.getSelected();
                    // 단말그룹을 재조회 해도 기존 화면상에서 체크박스 상태는 그대로 유지한다.
                    selectedPhoneGroup.forEach(prePhoneGroup => {
                        data['phoneGroupList'].forEach(phoneGroup => {
                            if (prePhoneGroup.id === phoneGroup.id) {
                               phoneGroup.selected = prePhoneGroup.selected
                            }
                        });
                    });
                    this.total_count = data['total_count'];
                    this.centerList = data['centerList'];
                    this.phoneGroupList = data['phoneGroupList'];
                    //this.checkedCount = 0;
                },
                /* -----------------------------------------------------------------------------------------------------
                 * 측정 단말그릅 리스트에서 특정 내역을 클랙했을 동작한다.
                 -----------------------------------------------------------------------------------------------------*/
                clickPhoneGroupList: function (phoneGroup) {
                    this.selectedPhoneGroup = phoneGroup;
                    this.fetch_all_message(phoneGroup);
                    this.message = {};
                },
                /* -----------------------------------------------------------------------------------------------------
                 * 전송 메시지(이벤트/문자/텔레그랠) 리스트를 가져온다.
                 -----------------------------------------------------------------------------------------------------*/
                async fetch_all_message(phoneGroup) {
                    const res = await fetch("/api/message/list/" + phoneGroup.id)
                    const data = await res.json();
                    this.messageEventList = data['messageEventList']; // 이벤트 메시지 리스트
                    this.messageSmsList = data['messageSmsList']; // 문자 메시지 리스트
                    this.messageTeleList = data['messageTeleList']; // 텔레그램 메시지 리스트
                },
                /* -----------------------------------------------------------------------------------------------------
                 * 전송 메시지 내역을 클릭 했을 때 메시지 상세내역을 보여준다.
                 -----------------------------------------------------------------------------------------------------*/
                clickMessageList: function (message) {
                    this.message = message
                },
                /* -----------------------------------------------------------------------------------------------------
                 * 단말그룹 리스트 체크박스 관련 함수
                 -----------------------------------------------------------------------------------------------------*/
                checkedAll(checked) {
                    this.allChecked = checked
                    for (let i in this.phoneGroupList) {
                        this.phoneGroupList[i].selected = this.allChecked;
                    }
                },
                selected(e) {
                    for (let i in this.phoneGroupList) {
                        if (!this.phoneGroupList[i].selected) {
                            this.allChecked = false;
                            return;
                        } else {
                            this.allChecked = true;
                        }
                    }
                },
                getSelected() {
                    let phoneGroupList = [];
                    for (let i in this.phoneGroupList) {
                        if (this.phoneGroupList[i].selected) {
                            phoneGroupList.push(this.phoneGroupList[i]);
                        }
                    }
                    return phoneGroupList
                },
                /* -----------------------------------------------------------------------------------------------------
                 * 측정종료 및 측정마감에 관련된 함수
                 -----------------------------------------------------------------------------------------------------*/
                // 1) 해당 단말그룹에 대한 측정을 종료한다.
                async measuring_end() {
                    for (let i in this.phoneGroupList) {
                        if (this.phoneGroupList[i].selected) {
                            // 선택된 단말그룹에 대해서 측정을 종료하도록 서버에 요청한다.
                            const res = await fetch("/monitor/end/" + this.phoneGroupList[i].id)
                            // 단말그룹을 재조회 해도 기존 화면상에서 체크박스 상태는 그대로 유지한다.
                            const selectedPhoneGroup = this.getSelected();
                            selectedPhoneGroup.forEach(phoneGroup => phoneGroup.selected = false);
                        }
                    }
                },
                // 2) 해당 일자에 대한 측정을 마감한다.
                async measuring_day_close() {
                    const res = await fetch("/monitor/day_close/" + this.date)
                },
                /* -----------------------------------------------------------------------------------------------------
                 * 측정종료 및 측정마감 버튼을 클릭했을 때 모달창을 띄우는 함수 관련 모듈
                 -----------------------------------------------------------------------------------------------------*/
                // 1) 측정종료 버튼을 클릭했을 때
                clickMeasuringEnd(e) {
                    if (this.checkedCount > 0) {
                        // 선택된 단말그룹 리스트 중에서 측정이 종료된 건이 있는지 확인한다.
                        const selectedPhoneGroupList = this.getSelected();
                        let isMeasuringEnd = false
                        selectedPhoneGroupList.forEach(phoneGroup => {
                            console.log("####", phoneGroup.active);
                            isMeasuringEnd = !phoneGroup.active;
                        });
                        if (isMeasuringEnd) {
                            this.isModelConfirmDisabled = false
                            $("#modal-btn-confirm").html('측정종료');
                            $("#modal_body").html("선택한 단말그룹이 측정이 이미 종료되었습니다.");
                            $("#mi-modal").modal('show');
                        } else {
                            $("#modal-btn-confirm").html('측정종료');
                            $("#modal_body").html("선택된 단말그룹에 대한 측정을 종료하시겠습니까?");
                            $("#mi-modal").modal('show');
                        }
                    } else {
                        this.isModelConfirmDisabled = false
                        $("#modal-btn-confirm").html('측정종료');
                        $("#modal_body").html("선택된 단말그룹이 없습니다.");
                        $("#mi-modal").modal('show');
                    }
                },
                // 2) 측정마감 버튼을 클릭했을 때
                clickMeasuringClose(e) {
                    this.isModelConfirmDisabled = true
                    $("#modal-btn-confirm").html('측정마감');
                    $("#modal_body").html("당일(" + this.date + ") 측정을 마감하시겠습니까?");
                    $("#mi-modal").modal('show');
                },
                // 3) 모달창에서 확인버튼(측정종료 또는 측정마감) 버튼을 클릭했을 때
                clickModalBtnConfirm(e) {
                    if (e.target.innerText === "측정종료") {
                        // 선택된 단말그룹에 대한 측정을 종료한다.
                        this.measuring_end();
                    } else if (e.target.innerText === "측정마감") {
                        // 해당일자에 대한 측정을 마감한다.
                        this.measuring_day_close()
                    } else if (e.target.innerText === "회수") {
                        this.deleteMessage()
                    } else if (e.target.innerText === "전송") {
                        this.sendMessage()
                    }
                    $("#mi-modal").modal('hide');
                },
                // 4) 모달창에서 닫기 버튼을 클릭했을 때
                clickModalBtnCancel() {
                    this.isModelConfirmDisabled = true
                    $("#mi-modal").modal('hide');
                },
                /* -----------------------------------------------------------------------------------------------------
                 * 메시지 전송 및 회수 관련 함수 관련 모듈
                 -----------------------------------------------------------------------------------------------------*/
                // 1-1) 전송 버튼을 클릭했을 때 모달창을 띄운다.
                 clickSendMessage() {
                     console.log(this.message)
                    if (this.message.id === undefined) {
                        this.isModelConfirmDisabled = false
                        $("#modal-btn-confirm").html('전송');
                        $("#modal_body").html("전송하고자 하는 메시지를 먼저 선택해 주세요.");
                        $("#mi-modal").modal('show');
                    } else {
                        // 문자 전송시에만 수신자 리스트 입력여부를 확인하도록 한다.
                        if ((this.message.sendType === 'XMCS' || this.message.sendType === 'ALL') &&
                            (this.recipient_text === undefined || this.recipient_text === null ||  this.recipient_text.length <= 0)) {
                            this.isModelConfirmDisabled = false
                            $("#modal-btn-confirm").html('전송');
                            $("#modal_body").html("수신자 리스트를 입력해 주세요.");
                            $("#mi-modal").modal('show');

                        } else if (this.message.sendType === 'TELE' && this.message.isDel === false) {
                            this.isModelConfirmDisabled = false
                            $("#modal-btn-confirm").html('전송');
                            $("#modal_body").html("해당 메시지를 재전송하시려면 먼저 회수를 진행해 주세요.");
                            $("#mi-modal").modal('show');
                        } else {
                            this.isModelConfirmDisabled = true
                            $("#modal-btn-confirm").html('전송');
                            $("#modal_body").html("해당 메시지를 전송하시겠습니까?");
                            $("#mi-modal").modal('show');
                        }
                    }
                },
                // 1-2) 메시지 전송 모달창에서 확인 버튼을 클릭했을 때(메시지 전송)
                async sendMessage() {
                    //const data = { 'receiver': this.recipient_text, 'message': this.message };
                    //const response = await axios.post("message/msg_send/", data);
                    //headers: { "X-CSRFToken": '{{csrf_token}}'
                    const requestOptions = {
                        method: "POST",
                        headers: {
                            "X-CSRFToken": '{{csrf_token}}',
                            "Content-Type": "application/json",
                            'Accept': 'application/json'
                        },
                        body: JSON.stringify({
                            'receiver_list': this.recipient_text,
                            'message': this.message.message,
                            'id': this.message.id,
                            'sendType': this.message.sendType,
                            'channelId': this.message.channelId,
                        })
                    };
                    const response = await fetch("/api/message/send/", requestOptions);
                    // 아래 코드는 나중에 사용할 수 있어서 남겨둠
                    // 처리결과를 기다렸다가 표시하면 좋을 듯 함
                    //const data = await response.json();
                    console.log("send-received:", response);

                    // 메시지 재전송 완료 후 메시지 리스트를 다시 조회한다.
                    await this.fetch_all_message(this.selectedPhoneGroup);
                    this.message = {};

                },
                // 1-3) 텍스트 파일 내용을 읽어 오는 함수(수신자 전화번호 리스트)
                // source: https://www.raymondcamden.com/2019/05/21/reading-client-side-files-for-validation-with-vuejs
                selectedFile() {
                    let file = this.$refs.myFile.files[0];
                    if (!file || file.type !== 'text/plain') return;

                    // Credit: https://stackoverflow.com/a/754398/52160
                    let reader = new FileReader();
                    reader.readAsText(file, "UTF-8");
                    reader.onload = evt => {
                        this.recipient_text = evt.target.result;
                    }
                    reader.onerror = evt => {
                        console.error(evt);
                    }
                },
                // 2-1) 회수 버튼을 클릭했을 때 모달창을 띄운다.
                clickDeleteMessage(e) {
                    if (this.message.id === undefined) {
                        this.isModelConfirmDisabled = false
                        $("#modal-btn-confirm").html('회수');
                        $("#modal_body").html("회수하고자 하는 메시지를 먼저 선택해 주세요.");
                        $("#mi-modal").modal('show');
                    } else {
                        if (this.message.isDel === true) {
                            this.isModelConfirmDisabled = false
                            $("#modal-btn-confirm").html('회수');
                            $("#modal_body").html("해당 메시지는 이미 회수된 메시지 입니다.");
                            $("#mi-modal").modal('show');
                        } else {
                            this.isModelConfirmDisabled = true
                            $("#modal-btn-confirm").html('회수');
                            $("#modal_body").html("메시지를 정말 회수하시겠습니까?");
                            $("#mi-modal").modal('show');
                        }
                    }
                },
                // 2-2) 메시지 회수 모달창에서 확인 버튼을 클릭했을 때(메시지 회수)
                async deleteMessage() {
                    const res = await fetch("/api/message/delete/" + this.message.id);

                    // 메시지 회수 완료 후 메시지 리스트를 다시 조회한다.
                    await this.fetch_all_message(this.selectedPhoneGroup);
                    this.message = {};
                },
                /* -----------------------------------------------------------------------------------------------------
                 * 단말그룹에 대한 측정조를 입력하는 모듈 관련 함수
                 -----------------------------------------------------------------------------------------------------*/
                // 1) 단말그룹 리스트에서 측정조 컬럼을 마우스 더블클릭 했을 때
                doubleclickMeasuringTeam(phoneGroup) {
                    $("#measuringTeamModal").modal('show');
                },
                // 2) 측정조 변경 모달창에서 저장 버튼을 클릭했을 때
                clickModalTeamConfirm() {
                    this.changeMeasuringTeam()
                    $("#measuringTeamModal").modal('hide');

                },
                // 3) 단말그룹의 측정조 변경을 서버에 요청한다.
                async changeMeasuringTeam() {
                    const requestOptions = {
                        method: "POST",
                        headers: {
                            "X-CSRFToken": '{{csrf_token}}',
                            "Content-Type": "application/json",
                            'Accept': 'application/json'
                        },
                        body: JSON.stringify({
                            'phoneGroup_id': this.selectedPhoneGroup.id,
                            'measuringTeam': this.selectedPhoneGroup.measuringTeam,
                        })
                    };
                    const response = await fetch("/api/phonegroup/update/", requestOptions);
                    // 단말그룹 리스트를 다시 조회한다.
                    console.log("send-received:", response);
                },
            },
        });

        /* -------------------------------------------------------------------------------------------------------------
         * 전송 메시지 내용을 줄여서 표현하는 필터를 선언한다.
         * 사용법: <td class="col-md-6 text-left">[[ message.message | truncate(65, '...')]]</td>
         -------------------------------------------------------------------------------------------------------------*/
        const filter = function (text, length, clamp) {
            clamp = clamp || '...';
            const node = document.createElement('div');
            node.innerHTML = text;
            const content = node.textContent;
            return content.length > length ? content.slice(0, length) + clamp : content;
        };

        Vue.filter('truncate', filter);

        /* -------------------------------------------------------------------------------------------------------------
         * 마우스를 텝위(이벤트/문자/텔레그램)에 울려 놓으면 해당 탭이 선택되게 한다.
         * 마우스가 탭위에 위치할 때마다 자동으로 탭들이 변경되니 오히려 어지럽고, 불편감이 있어서 제거함
         -------------------------------------------------------------------------------------------------------------*/
        /*
        $(".nav-link").mouseover(function () {
            $(this).tab("show");
        });

        $(".nav-link").on("show.bs.tab", function (e) {
            console.log(e.relatedTarget);
            if (e.relatedTarget !== undefined) {
                const tabPanelId = e.relatedTarget.getAttribute("href");
                $(tabPanelId).removeClass("active");
            }
        });
         */

    </script>

{% endblock %}