<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_b9f5790e71dc40f0932fe1f68a3c310e {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_b9f5790e71dc40f0932fe1f68a3c310e" ></div>
        
</body>
<script>    
    
            var map_b9f5790e71dc40f0932fe1f68a3c310e = L.map(
                "map_b9f5790e71dc40f0932fe1f68a3c310e",
                {
                    center: [34.9706604, 128.06344212],
                    crs: L.CRS.EPSG3857,
                    zoom: 15,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_1452a82814f744cea927984210075885 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_b9f5790e71dc40f0932fe1f68a3c310e);
        
    
            var marker_060f037b54f44be489b27b69fc393b72 = L.marker(
                [34.9706604, 128.06344212],
                {"iconSize": [10, 10]}
            ).addTo(map_b9f5790e71dc40f0932fe1f68a3c310e);
        
    
            var icon_dda3551b325c4398866e97d457540310 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "star", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_060f037b54f44be489b27b69fc393b72.setIcon(icon_dda3551b325c4398866e97d457540310);
        
    
            var poly_line_197963bb8d1f47049951386c41c00160 = L.polyline(
                [[34.9706604, 128.06344212], [34.97067058, 128.06344256], [34.97065209, 128.06288352], [34.96977556, 128.062766], [34.96805485, 128.06356157], [34.96723727, 128.06247127], [34.97536507, 128.05975279], [34.97433484, 128.05367604], [34.97823025, 128.05217219], [34.98191689, 128.04515055], [34.98667677, 128.04410312], [34.98914127, 128.04277602], [34.99098065, 128.04037061], [34.99212324, 128.03987358], [34.99300868, 128.03936797], [34.99441607, 128.03954052], [34.99702522, 128.03890241], [34.99808429, 128.03899261], [34.99944981, 128.04024635], [34.99944508, 128.04016021], [34.99943055, 128.04013146]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_b9f5790e71dc40f0932fe1f68a3c310e);
        
    
            var feature_group_245a5c5600254fa2bbce69dc2169cec0 = L.featureGroup(
                {}
            ).addTo(map_b9f5790e71dc40f0932fe1f68a3c310e);
        
    
            var circle_27846baad3d24ccebf38991d079a2026 = L.circle(
                [34.9706604, 128.06344212],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_245a5c5600254fa2bbce69dc2169cec0);
        
    
        var popup_f423cdf2ceae4b5fb0faf5083d49f8af = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_6e91d91b7477437ba4ee540595994203 = $(`<div id="html_6e91d91b7477437ba4ee540595994203" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>165</td>       <td>11927079</td>       <td>-100.0</td>       <td>12.0</td>       <td>None</td>       <td>38.621</td>     </tr>   </tbody> </table></div>`)[0];
            popup_f423cdf2ceae4b5fb0faf5083d49f8af.setContent(html_6e91d91b7477437ba4ee540595994203);
        

        circle_27846baad3d24ccebf38991d079a2026.bindPopup(popup_f423cdf2ceae4b5fb0faf5083d49f8af)
        ;

        
    
    
            var circle_86c5a5ddf2f840998e6bdd471f432eca = L.circle(
                [34.97067058, 128.06344256],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_245a5c5600254fa2bbce69dc2169cec0);
        
    
        var popup_92223eb92a5d4e7dbd3354190f63e4f2 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_89e9eceb004d4a908f433760d73ab6b7 = $(`<div id="html_89e9eceb004d4a908f433760d73ab6b7" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>165</td>       <td>11927079</td>       <td>-105.0</td>       <td>11.5</td>       <td>None</td>       <td>39.25</td>     </tr>   </tbody> </table></div>`)[0];
            popup_92223eb92a5d4e7dbd3354190f63e4f2.setContent(html_89e9eceb004d4a908f433760d73ab6b7);
        

        circle_86c5a5ddf2f840998e6bdd471f432eca.bindPopup(popup_92223eb92a5d4e7dbd3354190f63e4f2)
        ;

        
    
    
            var circle_1afe4d6f3d1749a28cc0609d97c1fc6f = L.circle(
                [34.97065209, 128.06288352],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_245a5c5600254fa2bbce69dc2169cec0);
        
    
        var popup_2741b5fdc9bd41cebdc9852adeee535a = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_ee2ae8326fe04b0495927a8298a718db = $(`<div id="html_ee2ae8326fe04b0495927a8298a718db" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>785</td>       <td>11926295</td>       <td>-89.0</td>       <td>15.0</td>       <td>None</td>       <td>97.485</td>     </tr>   </tbody> </table></div>`)[0];
            popup_2741b5fdc9bd41cebdc9852adeee535a.setContent(html_ee2ae8326fe04b0495927a8298a718db);
        

        circle_1afe4d6f3d1749a28cc0609d97c1fc6f.bindPopup(popup_2741b5fdc9bd41cebdc9852adeee535a)
        ;

        
    
    
            var circle_94534cfb54ab4f53a55bb77751ca084f = L.circle(
                [34.96977556, 128.062766],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_245a5c5600254fa2bbce69dc2169cec0);
        
    
        var popup_435167f4672a487c9545f6cf6583f81f = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_c227ccb350494c3eaada066c3a5b9126 = $(`<div id="html_c227ccb350494c3eaada066c3a5b9126" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>131</td>       <td>11927079</td>       <td>-87.0</td>       <td>18.0</td>       <td>None</td>       <td>102.636</td>     </tr>   </tbody> </table></div>`)[0];
            popup_435167f4672a487c9545f6cf6583f81f.setContent(html_c227ccb350494c3eaada066c3a5b9126);
        

        circle_94534cfb54ab4f53a55bb77751ca084f.bindPopup(popup_435167f4672a487c9545f6cf6583f81f)
        ;

        
    
    
            var circle_414a81f061614466bee0f805173e8222 = L.circle(
                [34.96805485, 128.06356157],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "yellow", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_245a5c5600254fa2bbce69dc2169cec0);
        
    
        var popup_46b16350f7c2456481d8262ed2efff59 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_eabe10d4ece24f4d90a255e670ddcfe0 = $(`<div id="html_eabe10d4ece24f4d90a255e670ddcfe0" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>131</td>       <td>11927079</td>       <td>-85.0</td>       <td>27.5</td>       <td>None</td>       <td>106.844</td>     </tr>   </tbody> </table></div>`)[0];
            popup_46b16350f7c2456481d8262ed2efff59.setContent(html_eabe10d4ece24f4d90a255e670ddcfe0);
        

        circle_414a81f061614466bee0f805173e8222.bindPopup(popup_46b16350f7c2456481d8262ed2efff59)
        ;

        
    
    
            var circle_5e1a48b43edb485caa672e54e06fc8e0 = L.circle(
                [34.96723727, 128.06247127],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_245a5c5600254fa2bbce69dc2169cec0);
        
    
        var popup_7b70f0ebcebc4c08b3bd8202ec69f7e6 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_1a06c3d6a8c94ffe9b4f6ee763e7da9b = $(`<div id="html_1a06c3d6a8c94ffe9b4f6ee763e7da9b" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>366</td>       <td>11926827</td>       <td>-87.0</td>       <td>23.5</td>       <td>None</td>       <td>79.908</td>     </tr>   </tbody> </table></div>`)[0];
            popup_7b70f0ebcebc4c08b3bd8202ec69f7e6.setContent(html_1a06c3d6a8c94ffe9b4f6ee763e7da9b);
        

        circle_5e1a48b43edb485caa672e54e06fc8e0.bindPopup(popup_7b70f0ebcebc4c08b3bd8202ec69f7e6)
        ;

        
    
    
            var circle_7f99aacb577a496d9449b98bd33a4499 = L.circle(
                [34.97536507, 128.05975279],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "orange", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_245a5c5600254fa2bbce69dc2169cec0);
        
    
        var popup_3ed7c0c90450408b955d4f8784628b3f = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_36498de87fea43e2bc08110ec6fe3ad2 = $(`<div id="html_36498de87fea43e2bc08110ec6fe3ad2" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>584</td>       <td>11926295</td>       <td>-75.0</td>       <td>32.0</td>       <td>None</td>       <td>97.682</td>     </tr>   </tbody> </table></div>`)[0];
            popup_3ed7c0c90450408b955d4f8784628b3f.setContent(html_36498de87fea43e2bc08110ec6fe3ad2);
        

        circle_7f99aacb577a496d9449b98bd33a4499.bindPopup(popup_3ed7c0c90450408b955d4f8784628b3f)
        ;

        
    
    
            var circle_73829eb5e3ee41519a0ef86017d3138e = L.circle(
                [34.97433484, 128.05367604],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "black", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_245a5c5600254fa2bbce69dc2169cec0);
        
    
        var popup_724b97fd3cb046d5ac6c19911ff8f96d = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_0e1606351385436488a3d419340dfe34 = $(`<div id="html_0e1606351385436488a3d419340dfe34" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>120</td>       <td>12002327</td>       <td>-65.0</td>       <td>29.0</td>       <td>None</td>       <td>148.328</td>     </tr>   </tbody> </table></div>`)[0];
            popup_724b97fd3cb046d5ac6c19911ff8f96d.setContent(html_0e1606351385436488a3d419340dfe34);
        

        circle_73829eb5e3ee41519a0ef86017d3138e.bindPopup(popup_724b97fd3cb046d5ac6c19911ff8f96d)
        ;

        
    
    
            var circle_090c208bb39b45ce843bd7c2b48fb0c0 = L.circle(
                [34.97823025, 128.05217219],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_245a5c5600254fa2bbce69dc2169cec0);
        
    
        var popup_17ffc0fa0e544afb9e3ce681e1cc52a2 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_748997f12d0146aba9570c081fe66df2 = $(`<div id="html_748997f12d0146aba9570c081fe66df2" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>112</td>       <td>12249875</td>       <td>-90.0</td>       <td>17.5</td>       <td>None</td>       <td>84.43</td>     </tr>   </tbody> </table></div>`)[0];
            popup_17ffc0fa0e544afb9e3ce681e1cc52a2.setContent(html_748997f12d0146aba9570c081fe66df2);
        

        circle_090c208bb39b45ce843bd7c2b48fb0c0.bindPopup(popup_17ffc0fa0e544afb9e3ce681e1cc52a2)
        ;

        
    
    
            var circle_9c38e41ef7ab4014b8e213b9f29eb5bb = L.circle(
                [34.98191689, 128.04515055],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_245a5c5600254fa2bbce69dc2169cec0);
        
    
        var popup_c1c6dc4408f641d38004e676853a20ff = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_921ca1be85fe4b93b121ed92856acf37 = $(`<div id="html_921ca1be85fe4b93b121ed92856acf37" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>684</td>       <td>12249875</td>       <td>-86.0</td>       <td>10.0</td>       <td>None</td>       <td>79.083</td>     </tr>   </tbody> </table></div>`)[0];
            popup_c1c6dc4408f641d38004e676853a20ff.setContent(html_921ca1be85fe4b93b121ed92856acf37);
        

        circle_9c38e41ef7ab4014b8e213b9f29eb5bb.bindPopup(popup_c1c6dc4408f641d38004e676853a20ff)
        ;

        
    
    
            var circle_d9121bb3ea644269a878acebea407c4a = L.circle(
                [34.98667677, 128.04410312],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_245a5c5600254fa2bbce69dc2169cec0);
        
    
        var popup_7906194dbe9f431d9ede17dc1cda6c66 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_b26a3ba77b1845fe85fd483b593a2f88 = $(`<div id="html_b26a3ba77b1845fe85fd483b593a2f88" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>150</td>       <td>12249875</td>       <td>-103.0</td>       <td>5.0</td>       <td>None</td>       <td>56.748</td>     </tr>   </tbody> </table></div>`)[0];
            popup_7906194dbe9f431d9ede17dc1cda6c66.setContent(html_b26a3ba77b1845fe85fd483b593a2f88);
        

        circle_d9121bb3ea644269a878acebea407c4a.bindPopup(popup_7906194dbe9f431d9ede17dc1cda6c66)
        ;

        
    
    
            var circle_43aa12ce79ed4e2695b02c8af61ddbe5 = L.circle(
                [34.98914127, 128.04277602],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_245a5c5600254fa2bbce69dc2169cec0);
        
    
        var popup_0ff242ad4e3c413498448c385cd1a459 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_18a666fa1806461587f0a093f9c1f732 = $(`<div id="html_18a666fa1806461587f0a093f9c1f732" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>150</td>       <td>12249875</td>       <td>-86.0</td>       <td>11.5</td>       <td>None</td>       <td>75.347</td>     </tr>   </tbody> </table></div>`)[0];
            popup_0ff242ad4e3c413498448c385cd1a459.setContent(html_18a666fa1806461587f0a093f9c1f732);
        

        circle_43aa12ce79ed4e2695b02c8af61ddbe5.bindPopup(popup_0ff242ad4e3c413498448c385cd1a459)
        ;

        
    
    
            var circle_50635378460a4666b60445a0f5564d9f = L.circle(
                [34.99098065, 128.04037061],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "yellow", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_245a5c5600254fa2bbce69dc2169cec0);
        
    
        var popup_8d9af318869d4012a1e9ae60b1c9cb82 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_da400758eba443e7bb656e5a3907dffb = $(`<div id="html_da400758eba443e7bb656e5a3907dffb" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>465</td>       <td>12249867</td>       <td>-82.0</td>       <td>24.0</td>       <td>None</td>       <td>93.16</td>     </tr>   </tbody> </table></div>`)[0];
            popup_8d9af318869d4012a1e9ae60b1c9cb82.setContent(html_da400758eba443e7bb656e5a3907dffb);
        

        circle_50635378460a4666b60445a0f5564d9f.bindPopup(popup_8d9af318869d4012a1e9ae60b1c9cb82)
        ;

        
    
    
            var circle_a4fd0d82e28c47038b9fe511f77318b2 = L.circle(
                [34.99212324, 128.03987358],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "yellow", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_245a5c5600254fa2bbce69dc2169cec0);
        
    
        var popup_069db77dca7d46e989ad49c4c9f5403b = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_b7615229b02e48a59547ffd0919a0dad = $(`<div id="html_b7615229b02e48a59547ffd0919a0dad" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>465</td>       <td>12249867</td>       <td>-82.0</td>       <td>29.5</td>       <td>None</td>       <td>111.484</td>     </tr>   </tbody> </table></div>`)[0];
            popup_069db77dca7d46e989ad49c4c9f5403b.setContent(html_b7615229b02e48a59547ffd0919a0dad);
        

        circle_a4fd0d82e28c47038b9fe511f77318b2.bindPopup(popup_069db77dca7d46e989ad49c4c9f5403b)
        ;

        
    
    
            var circle_3e9e01bc249e4e21a8234c56d54b42b8 = L.circle(
                [34.99300868, 128.03936797],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "yellow", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_245a5c5600254fa2bbce69dc2169cec0);
        
    
        var popup_aa7d25b42d164cb6a9af4de6b689faa6 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_6c7caa7267a243578b3518670c303f3d = $(`<div id="html_6c7caa7267a243578b3518670c303f3d" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>465</td>       <td>12249867</td>       <td>-79.0</td>       <td>29.0</td>       <td>None</td>       <td>98.429</td>     </tr>   </tbody> </table></div>`)[0];
            popup_aa7d25b42d164cb6a9af4de6b689faa6.setContent(html_6c7caa7267a243578b3518670c303f3d);
        

        circle_3e9e01bc249e4e21a8234c56d54b42b8.bindPopup(popup_aa7d25b42d164cb6a9af4de6b689faa6)
        ;

        
    
    
            var circle_ce2378bd25a0423bab3fa23b4ad11db7 = L.circle(
                [34.99441607, 128.03954052],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_245a5c5600254fa2bbce69dc2169cec0);
        
    
        var popup_53466ff0e5e24d33bf971bc0283b7433 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_45eb112ff29045c3ba584112e122e534 = $(`<div id="html_45eb112ff29045c3ba584112e122e534" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>465</td>       <td>12249867</td>       <td>-94.0</td>       <td>19.0</td>       <td>None</td>       <td>74.954</td>     </tr>   </tbody> </table></div>`)[0];
            popup_53466ff0e5e24d33bf971bc0283b7433.setContent(html_45eb112ff29045c3ba584112e122e534);
        

        circle_ce2378bd25a0423bab3fa23b4ad11db7.bindPopup(popup_53466ff0e5e24d33bf971bc0283b7433)
        ;

        
    
    
            var circle_c10c1415e8194b28a27d1be55c35c751 = L.circle(
                [34.99702522, 128.03890241],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_245a5c5600254fa2bbce69dc2169cec0);
        
    
        var popup_4e81444613b74258a3fbde7ce05c43dd = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_4f5b7c086aba4fb4afd7e70c8b05c0e6 = $(`<div id="html_4f5b7c086aba4fb4afd7e70c8b05c0e6" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>465</td>       <td>12249607</td>       <td>-95.0</td>       <td>14.0</td>       <td>None</td>       <td>101.889</td>     </tr>   </tbody> </table></div>`)[0];
            popup_4e81444613b74258a3fbde7ce05c43dd.setContent(html_4f5b7c086aba4fb4afd7e70c8b05c0e6);
        

        circle_c10c1415e8194b28a27d1be55c35c751.bindPopup(popup_4e81444613b74258a3fbde7ce05c43dd)
        ;

        
    
    
            var circle_af5005b474454409982a56b1f658da4e = L.circle(
                [34.99808429, 128.03899261],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_245a5c5600254fa2bbce69dc2169cec0);
        
    
        var popup_cffaf649e9ae4b60aa39b12207e7cdec = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_6519d25f6a3f4b68afcd846f260cc008 = $(`<div id="html_6519d25f6a3f4b68afcd846f260cc008" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>465</td>       <td>12249607</td>       <td>-103.0</td>       <td>11.0</td>       <td>None</td>       <td>107.276</td>     </tr>   </tbody> </table></div>`)[0];
            popup_cffaf649e9ae4b60aa39b12207e7cdec.setContent(html_6519d25f6a3f4b68afcd846f260cc008);
        

        circle_af5005b474454409982a56b1f658da4e.bindPopup(popup_cffaf649e9ae4b60aa39b12207e7cdec)
        ;

        
    
    
            var circle_1a9b784fbc6147e3873e0a579f946fa3 = L.circle(
                [34.99944981, 128.04024635],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "black", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_245a5c5600254fa2bbce69dc2169cec0);
        
    
        var popup_f8e86341d1244ea88b3dcb091bd2c065 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_7c8302c7ca0741d8b1a2417997fc55ae = $(`<div id="html_7c8302c7ca0741d8b1a2417997fc55ae" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>465</td>       <td>12249607</td>       <td>-110.0</td>       <td>3.0</td>       <td>None</td>       <td>79.987</td>     </tr>   </tbody> </table></div>`)[0];
            popup_f8e86341d1244ea88b3dcb091bd2c065.setContent(html_7c8302c7ca0741d8b1a2417997fc55ae);
        

        circle_1a9b784fbc6147e3873e0a579f946fa3.bindPopup(popup_f8e86341d1244ea88b3dcb091bd2c065)
        ;

        
    
    
            var circle_d490aa51cfcc41d59abfc6c121af80c0 = L.circle(
                [34.99944508, 128.04016021],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "black", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_245a5c5600254fa2bbce69dc2169cec0);
        
    
        var popup_cd4f0072c76f429d975fcd01cb0d1a68 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_b6e20993aa3c4b5dacfb0a657c35d955 = $(`<div id="html_b6e20993aa3c4b5dacfb0a657c35d955" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>465</td>       <td>12249607</td>       <td>-109.0</td>       <td>5.5</td>       <td>None</td>       <td>79.908</td>     </tr>   </tbody> </table></div>`)[0];
            popup_cd4f0072c76f429d975fcd01cb0d1a68.setContent(html_b6e20993aa3c4b5dacfb0a657c35d955);
        

        circle_d490aa51cfcc41d59abfc6c121af80c0.bindPopup(popup_cd4f0072c76f429d975fcd01cb0d1a68)
        ;

        
    
    
            var circle_556718293d894302b76244a805f7c7ae = L.circle(
                [34.99943055, 128.04013146],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "black", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 29.0, "stroke": true, "weight": 1}
            ).addTo(feature_group_245a5c5600254fa2bbce69dc2169cec0);
        
    
        var popup_f733219a7593467294c3499b0c1cd997 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_c366e50dc0ab432586dedba01e0c97d8 = $(`<div id="html_c366e50dc0ab432586dedba01e0c97d8" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>465</td>       <td>12249607</td>       <td>-109.0</td>       <td>4.5</td>       <td>None</td>       <td>80.223</td>     </tr>   </tbody> </table></div>`)[0];
            popup_f733219a7593467294c3499b0c1cd997.setContent(html_c366e50dc0ab432586dedba01e0c97d8);
        

        circle_556718293d894302b76244a805f7c7ae.bindPopup(popup_f733219a7593467294c3499b0c1cd997)
        ;

        
    
</script>