<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_ec885a60ef8a414aa29a6981e71b68c1 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_ec885a60ef8a414aa29a6981e71b68c1" ></div>
        
</body>
<script>    
    
            var map_ec885a60ef8a414aa29a6981e71b68c1 = L.map(
                "map_ec885a60ef8a414aa29a6981e71b68c1",
                {
                    center: [34.97054902, 128.06348588],
                    crs: L.CRS.EPSG3857,
                    zoom: 15,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_952733d6ab24493aaf40de82c14148c3 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_ec885a60ef8a414aa29a6981e71b68c1);
        
    
            var marker_6c6bed756c2c42e98d953e58400fadac = L.marker(
                [34.97054902, 128.06348588],
                {"iconSize": [10, 10]}
            ).addTo(map_ec885a60ef8a414aa29a6981e71b68c1);
        
    
            var icon_e180213c38e5478d807ca86a4e0c6ef8 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "star", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_6c6bed756c2c42e98d953e58400fadac.setIcon(icon_e180213c38e5478d807ca86a4e0c6ef8);
        
    
            var poly_line_74505662fa7a4398b0b519f8554577d0 = L.polyline(
                [[34.97057684, 128.06354017], [34.97067313, 128.06359381], [34.97069954, 128.06346743], [34.97063076, 128.06274876], [34.96984214, 128.06264696], [34.96811064, 128.06352981], [34.96721881, 128.06253264], [34.96876857, 128.06194231], [34.9752514, 128.05965748], [34.97457334, 128.05359545], [34.97751146, 128.05248039], [34.98024195, 128.04755682], [34.98222564, 128.04497679], [34.9844685, 128.04389969], [34.98853371, 128.04311838], [34.99036609, 128.04109793]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_ec885a60ef8a414aa29a6981e71b68c1);
        
    
            var feature_group_f2b53f008e9544e3819fbdaac7695df0 = L.featureGroup(
                {}
            ).addTo(map_ec885a60ef8a414aa29a6981e71b68c1);
        
    
            var circle_c8825c1421894a6a9711d570a7aaaa89 = L.circle(
                [34.97057684, 128.06354017],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_f2b53f008e9544e3819fbdaac7695df0);
        
    
        var popup_456d4cfaed68431fae484364396eb3c8 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_3988a0274a2b4623bb53c1116423c54a = $(`<div id="html_3988a0274a2b4623bb53c1116423c54a" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>684</td>       <td>37193502</td>       <td>-104.0</td>       <td>15.0</td>       <td>None</td>       <td>34.177</td>     </tr>   </tbody> </table></div>`)[0];
            popup_456d4cfaed68431fae484364396eb3c8.setContent(html_3988a0274a2b4623bb53c1116423c54a);
        

        circle_c8825c1421894a6a9711d570a7aaaa89.bindPopup(popup_456d4cfaed68431fae484364396eb3c8)
        ;

        
    
    
            var circle_afa4d83500ab4d8e906d7f0abcbfbbee = L.circle(
                [34.97067313, 128.06359381],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_f2b53f008e9544e3819fbdaac7695df0);
        
    
        var popup_c184fee359814dccbd9f34ea7bebc9c1 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_77d928efcf9c4a5bad03590e67a4fb52 = $(`<div id="html_77d928efcf9c4a5bad03590e67a4fb52" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>684</td>       <td>37193502</td>       <td>-98.0</td>       <td>20.0</td>       <td>None</td>       <td>47.429</td>     </tr>   </tbody> </table></div>`)[0];
            popup_c184fee359814dccbd9f34ea7bebc9c1.setContent(html_77d928efcf9c4a5bad03590e67a4fb52);
        

        circle_afa4d83500ab4d8e906d7f0abcbfbbee.bindPopup(popup_c184fee359814dccbd9f34ea7bebc9c1)
        ;

        
    
    
            var circle_0d6bdd50fdcc4ee8a8ac1dc44800dc2d = L.circle(
                [34.97069954, 128.06346743],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_f2b53f008e9544e3819fbdaac7695df0);
        
    
        var popup_48e3f7bc7dbb4d83948f748a41ddc834 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_67125f3e0f554ad5a3c89760ca3e03f1 = $(`<div id="html_67125f3e0f554ad5a3c89760ca3e03f1" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>684</td>       <td>37193502</td>       <td>-100.0</td>       <td>19.5</td>       <td>None</td>       <td>42.985</td>     </tr>   </tbody> </table></div>`)[0];
            popup_48e3f7bc7dbb4d83948f748a41ddc834.setContent(html_67125f3e0f554ad5a3c89760ca3e03f1);
        

        circle_0d6bdd50fdcc4ee8a8ac1dc44800dc2d.bindPopup(popup_48e3f7bc7dbb4d83948f748a41ddc834)
        ;

        
    
    
            var circle_2c51591d57354328b29ada5133bee215 = L.circle(
                [34.97063076, 128.06274876],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_f2b53f008e9544e3819fbdaac7695df0);
        
    
        var popup_8ad2a9136d5040318b6601486820b93a = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_dbf7bd848bc4420eb9ebd0b1fcaa9f3e = $(`<div id="html_dbf7bd848bc4420eb9ebd0b1fcaa9f3e" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>768</td>       <td>37193502</td>       <td>-95.0</td>       <td>18.0</td>       <td>None</td>       <td>43.418</td>     </tr>   </tbody> </table></div>`)[0];
            popup_8ad2a9136d5040318b6601486820b93a.setContent(html_dbf7bd848bc4420eb9ebd0b1fcaa9f3e);
        

        circle_2c51591d57354328b29ada5133bee215.bindPopup(popup_8ad2a9136d5040318b6601486820b93a)
        ;

        
    
    
            var circle_c28c083ab5494a12a52a394b3e27567a = L.circle(
                [34.96984214, 128.06264696],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_f2b53f008e9544e3819fbdaac7695df0);
        
    
        var popup_861a32d3b0e445c6966de332654e9721 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_619a0dc4480b4ce8a843a74a3bbcd31a = $(`<div id="html_619a0dc4480b4ce8a843a74a3bbcd31a" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>684</td>       <td>37193502</td>       <td>-96.0</td>       <td>15.5</td>       <td>None</td>       <td>38.778</td>     </tr>   </tbody> </table></div>`)[0];
            popup_861a32d3b0e445c6966de332654e9721.setContent(html_619a0dc4480b4ce8a843a74a3bbcd31a);
        

        circle_c28c083ab5494a12a52a394b3e27567a.bindPopup(popup_861a32d3b0e445c6966de332654e9721)
        ;

        
    
    
            var circle_ccebef3ac5494fe8bf74f501a284d65c = L.circle(
                [34.96811064, 128.06352981],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_f2b53f008e9544e3819fbdaac7695df0);
        
    
        var popup_bd38d4de5a4a4bcd98ca7f4292f270f4 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_9509e8e9794f4f21b1b9b6355afe9fe7 = $(`<div id="html_9509e8e9794f4f21b1b9b6355afe9fe7" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>684</td>       <td>38236686</td>       <td>-91.0</td>       <td>29.0</td>       <td>None</td>       <td>88.52</td>     </tr>   </tbody> </table></div>`)[0];
            popup_bd38d4de5a4a4bcd98ca7f4292f270f4.setContent(html_9509e8e9794f4f21b1b9b6355afe9fe7);
        

        circle_ccebef3ac5494fe8bf74f501a284d65c.bindPopup(popup_bd38d4de5a4a4bcd98ca7f4292f270f4)
        ;

        
    
    
            var circle_f76534a47f4344e5a31f18277b963974 = L.circle(
                [34.96721881, 128.06253264],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_f2b53f008e9544e3819fbdaac7695df0);
        
    
        var popup_812578e59d6343b8ad922db7c58ecd22 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_defd1fd0d57b4b01b0a2b8d1edfd10c7 = $(`<div id="html_defd1fd0d57b4b01b0a2b8d1edfd10c7" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>851</td>       <td>37193489</td>       <td>-99.0</td>       <td>20.0</td>       <td>None</td>       <td>65.91</td>     </tr>   </tbody> </table></div>`)[0];
            popup_812578e59d6343b8ad922db7c58ecd22.setContent(html_defd1fd0d57b4b01b0a2b8d1edfd10c7);
        

        circle_f76534a47f4344e5a31f18277b963974.bindPopup(popup_812578e59d6343b8ad922db7c58ecd22)
        ;

        
    
    
            var circle_e1e04e080d3547e1b88a3ad904c31f1b = L.circle(
                [34.96876857, 128.06194231],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "yellow", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_f2b53f008e9544e3819fbdaac7695df0);
        
    
        var popup_861d04f340434cdfac5819c517e79421 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_a4c273abf8e94821866817a43d902722 = $(`<div id="html_a4c273abf8e94821866817a43d902722" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>768</td>       <td>37193502</td>       <td>-85.0</td>       <td>26.0</td>       <td>None</td>       <td>79.594</td>     </tr>   </tbody> </table></div>`)[0];
            popup_861d04f340434cdfac5819c517e79421.setContent(html_a4c273abf8e94821866817a43d902722);
        

        circle_e1e04e080d3547e1b88a3ad904c31f1b.bindPopup(popup_861d04f340434cdfac5819c517e79421)
        ;

        
    
    
            var circle_30e218b917964a489052a94e59d4dbdf = L.circle(
                [34.9752514, 128.05965748],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_f2b53f008e9544e3819fbdaac7695df0);
        
    
        var popup_4cc0790702e542f39167a09d0e3a021e = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_608664455ac344a9ae9d3f8f7fdb8b44 = $(`<div id="html_608664455ac344a9ae9d3f8f7fdb8b44" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>47</td>       <td>37193742</td>       <td>-86.0</td>       <td>33.5</td>       <td>None</td>       <td>84.312</td>     </tr>   </tbody> </table></div>`)[0];
            popup_4cc0790702e542f39167a09d0e3a021e.setContent(html_608664455ac344a9ae9d3f8f7fdb8b44);
        

        circle_30e218b917964a489052a94e59d4dbdf.bindPopup(popup_4cc0790702e542f39167a09d0e3a021e)
        ;

        
    
    
            var circle_49e0a26c0e194d74a8f1a3f0c1a70821 = L.circle(
                [34.97457334, 128.05359545],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "orange", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_f2b53f008e9544e3819fbdaac7695df0);
        
    
        var popup_86eae293101e4e558a7c82e620f7fe4b = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_cb2cfb535c3f4b95b4a15a6beec1e1d0 = $(`<div id="html_cb2cfb535c3f4b95b4a15a6beec1e1d0" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>492</td>       <td>37193502</td>       <td>-75.0</td>       <td>33.0</td>       <td>None</td>       <td>66.618</td>     </tr>   </tbody> </table></div>`)[0];
            popup_86eae293101e4e558a7c82e620f7fe4b.setContent(html_cb2cfb535c3f4b95b4a15a6beec1e1d0);
        

        circle_49e0a26c0e194d74a8f1a3f0c1a70821.bindPopup(popup_86eae293101e4e558a7c82e620f7fe4b)
        ;

        
    
    
            var circle_bf8c09fd8d3146deac80610e0b43deb7 = L.circle(
                [34.97751146, 128.05248039],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_f2b53f008e9544e3819fbdaac7695df0);
        
    
        var popup_55554bf2f3b3468cb6a8574b3c05c8dd = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_08c3bb8c5767481888b9a397297d6d26 = $(`<div id="html_08c3bb8c5767481888b9a397297d6d26" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>491</td>       <td>37193502</td>       <td>-102.0</td>       <td>3.5</td>       <td>None</td>       <td>47.547</td>     </tr>   </tbody> </table></div>`)[0];
            popup_55554bf2f3b3468cb6a8574b3c05c8dd.setContent(html_08c3bb8c5767481888b9a397297d6d26);
        

        circle_bf8c09fd8d3146deac80610e0b43deb7.bindPopup(popup_55554bf2f3b3468cb6a8574b3c05c8dd)
        ;

        
    
    
            var circle_90ddab462d1f4474be2b26c861380a66 = L.circle(
                [34.98024195, 128.04755682],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_f2b53f008e9544e3819fbdaac7695df0);
        
    
        var popup_92efd75bb8bd40eeaf58b7cbc8d9a0b4 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_3a5cf41fbf294bc9b2ff5fc261a17029 = $(`<div id="html_3a5cf41fbf294bc9b2ff5fc261a17029" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>104</td>       <td>37393168</td>       <td>-97.0</td>       <td>15.0</td>       <td>None</td>       <td>56.709</td>     </tr>   </tbody> </table></div>`)[0];
            popup_92efd75bb8bd40eeaf58b7cbc8d9a0b4.setContent(html_3a5cf41fbf294bc9b2ff5fc261a17029);
        

        circle_90ddab462d1f4474be2b26c861380a66.bindPopup(popup_92efd75bb8bd40eeaf58b7cbc8d9a0b4)
        ;

        
    
    
            var circle_54eb17e0bc804f7aab3dd5fe6f044cbd = L.circle(
                [34.98222564, 128.04497679],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_f2b53f008e9544e3819fbdaac7695df0);
        
    
        var popup_af4ed7f5370f4cda8758f2d7314e786f = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_533b60b123a94d7da01a855fee002486 = $(`<div id="html_533b60b123a94d7da01a855fee002486" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>2</td>       <td>37193502</td>       <td>-101.0</td>       <td>17.8</td>       <td>None</td>       <td>43.733</td>     </tr>   </tbody> </table></div>`)[0];
            popup_af4ed7f5370f4cda8758f2d7314e786f.setContent(html_533b60b123a94d7da01a855fee002486);
        

        circle_54eb17e0bc804f7aab3dd5fe6f044cbd.bindPopup(popup_af4ed7f5370f4cda8758f2d7314e786f)
        ;

        
    
    
            var circle_106c56c38a3d4219864357fec5781985 = L.circle(
                [34.9844685, 128.04389969],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "yellow", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_f2b53f008e9544e3819fbdaac7695df0);
        
    
        var popup_e378b3ce116c48b2affb9ecd7276a319 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_e44d098f4f9647bf8e8b547cf8d5dca0 = $(`<div id="html_e44d098f4f9647bf8e8b547cf8d5dca0" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>272</td>       <td>37393168</td>       <td>-85.0</td>       <td>8.2</td>       <td>None</td>       <td>0.0</td>     </tr>   </tbody> </table></div>`)[0];
            popup_e378b3ce116c48b2affb9ecd7276a319.setContent(html_e44d098f4f9647bf8e8b547cf8d5dca0);
        

        circle_106c56c38a3d4219864357fec5781985.bindPopup(popup_e378b3ce116c48b2affb9ecd7276a319)
        ;

        
    
    
            var circle_7ad1fb9eeda14dce86019292c27c1db0 = L.circle(
                [34.98853371, 128.04311838],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_f2b53f008e9544e3819fbdaac7695df0);
        
    
        var popup_909df40dc5654be3afd53416e2bc1260 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_3187ffa4ea6e46fb88579c16068567cb = $(`<div id="html_3187ffa4ea6e46fb88579c16068567cb" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>0</td>       <td>37194499</td>       <td>0.0</td>       <td>0.0</td>       <td>None</td>       <td>0.0</td>     </tr>   </tbody> </table></div>`)[0];
            popup_909df40dc5654be3afd53416e2bc1260.setContent(html_3187ffa4ea6e46fb88579c16068567cb);
        

        circle_7ad1fb9eeda14dce86019292c27c1db0.bindPopup(popup_909df40dc5654be3afd53416e2bc1260)
        ;

        
    
    
            var circle_89038b2584ca4d4393762f53d1762e86 = L.circle(
                [34.99036609, 128.04109793],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 29.0, "stroke": true, "weight": 1}
            ).addTo(feature_group_f2b53f008e9544e3819fbdaac7695df0);
        
    
        var popup_67a87d96f4f4463d95b218251d0f2811 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_bd6b298323f340eb918c9b05defe25bc = $(`<div id="html_bd6b298323f340eb918c9b05defe25bc" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>977</td>       <td>37194499</td>       <td>-104.0</td>       <td>15.0</td>       <td>None</td>       <td>24.15</td>     </tr>   </tbody> </table></div>`)[0];
            popup_67a87d96f4f4463d95b218251d0f2811.setContent(html_bd6b298323f340eb918c9b05defe25bc);
        

        circle_89038b2584ca4d4393762f53d1762e86.bindPopup(popup_67a87d96f4f4463d95b218251d0f2811)
        ;

        
    
</script>