<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_7ceef77c3ec74eabb545e73a998e3eee {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_7ceef77c3ec74eabb545e73a998e3eee" ></div>
        
</body>
<script>    
    
            var map_7ceef77c3ec74eabb545e73a998e3eee = L.map(
                "map_7ceef77c3ec74eabb545e73a998e3eee",
                {
                    center: [34.8967971, 128.6877186],
                    crs: L.CRS.EPSG3857,
                    zoom: 15,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_d120041a24674b728d8b83d47b23b370 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_7ceef77c3ec74eabb545e73a998e3eee);
        
    
            var marker_0c0c77fa44c447f1bc0e39f3bfcce682 = L.marker(
                [34.8967971, 128.6877186],
                {"iconSize": [10, 10]}
            ).addTo(map_7ceef77c3ec74eabb545e73a998e3eee);
        
    
            var icon_57cf8e1575c740dfac58b8be5408d4f1 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "star", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_0c0c77fa44c447f1bc0e39f3bfcce682.setIcon(icon_57cf8e1575c740dfac58b8be5408d4f1);
        
    
            var poly_line_722c585e7fe6405491ee90c460fe1674 = L.polyline(
                [[34.89678699, 128.68774005], [34.89677832, 128.68772413], [34.89617539, 128.68841084], [34.89624365, 128.69009785], [34.896524, 128.68987187], [34.89949113, 128.68638441], [34.90145671, 128.68571833], [34.90533125, 128.682615], [34.9089398, 128.68139474]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_7ceef77c3ec74eabb545e73a998e3eee);
        
    
            var feature_group_0cbc03079a594e3283112f71f3b9db04 = L.featureGroup(
                {}
            ).addTo(map_7ceef77c3ec74eabb545e73a998e3eee);
        
    
            var circle_2669e60665b1455081153b570def4823 = L.circle(
                [34.89678699, 128.68774005],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "yellow", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_0cbc03079a594e3283112f71f3b9db04);
        
    
        var popup_b943e6e9b8ee4340a4f8ab2f0f51e4c4 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_c35b9954c0a04f0eae4b6e64acd0204b = $(`<div id="html_c35b9954c0a04f0eae4b6e64acd0204b" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>396</td>       <td>40948997</td>       <td>-76.0</td>       <td>18.5</td>       <td>None</td>       <td>141.722</td>     </tr>   </tbody> </table></div>`)[0];
            popup_b943e6e9b8ee4340a4f8ab2f0f51e4c4.setContent(html_c35b9954c0a04f0eae4b6e64acd0204b);
        

        circle_2669e60665b1455081153b570def4823.bindPopup(popup_b943e6e9b8ee4340a4f8ab2f0f51e4c4)
        ;

        
    
    
            var circle_c8fca53542e94d18808a008b352de54b = L.circle(
                [34.89677832, 128.68772413],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "yellow", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_0cbc03079a594e3283112f71f3b9db04);
        
    
        var popup_25d5e3209cc743acb48edb757f30b281 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_7ac2353b61344230a533e3bf2f3ef49f = $(`<div id="html_7ac2353b61344230a533e3bf2f3ef49f" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>396</td>       <td>40948997</td>       <td>-76.0</td>       <td>20.0</td>       <td>None</td>       <td>138.576</td>     </tr>   </tbody> </table></div>`)[0];
            popup_25d5e3209cc743acb48edb757f30b281.setContent(html_7ac2353b61344230a533e3bf2f3ef49f);
        

        circle_c8fca53542e94d18808a008b352de54b.bindPopup(popup_25d5e3209cc743acb48edb757f30b281)
        ;

        
    
    
            var circle_801c1575425b4b7fb771e592b089e57b = L.circle(
                [34.89617539, 128.68841084],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_0cbc03079a594e3283112f71f3b9db04);
        
    
        var popup_923f696c12a14376b988078d9eb41416 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_6fa5396beb084d2192c2d936680e2e84 = $(`<div id="html_6fa5396beb084d2192c2d936680e2e84" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>324</td>       <td>40929293</td>       <td>-96.0</td>       <td>4.5</td>       <td>None</td>       <td>111.956</td>     </tr>   </tbody> </table></div>`)[0];
            popup_923f696c12a14376b988078d9eb41416.setContent(html_6fa5396beb084d2192c2d936680e2e84);
        

        circle_801c1575425b4b7fb771e592b089e57b.bindPopup(popup_923f696c12a14376b988078d9eb41416)
        ;

        
    
    
            var circle_0e0afb90b68c4f7594b9e999636e8392 = L.circle(
                [34.89624365, 128.69009785],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "yellow", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_0cbc03079a594e3283112f71f3b9db04);
        
    
        var popup_b677873807d645b6ad13a9dee4f7b20f = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_ba44d9b805b144259337b340e1594e7f = $(`<div id="html_ba44d9b805b144259337b340e1594e7f" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>297</td>       <td>40948996</td>       <td>-82.0</td>       <td>4.5</td>       <td>None</td>       <td>115.77</td>     </tr>   </tbody> </table></div>`)[0];
            popup_b677873807d645b6ad13a9dee4f7b20f.setContent(html_ba44d9b805b144259337b340e1594e7f);
        

        circle_0e0afb90b68c4f7594b9e999636e8392.bindPopup(popup_b677873807d645b6ad13a9dee4f7b20f)
        ;

        
    
    
            var circle_72295eef4f4f47f09e4f30cb0b1adb8b = L.circle(
                [34.896524, 128.68987187],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "yellow", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_0cbc03079a594e3283112f71f3b9db04);
        
    
        var popup_6cebcff7bd974270b1d3bd426cced096 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_e5028bba523a44d287b7f6dd82e9daa4 = $(`<div id="html_e5028bba523a44d287b7f6dd82e9daa4" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>511</td>       <td>40948996</td>       <td>-84.0</td>       <td>18.5</td>       <td>None</td>       <td>91.744</td>     </tr>   </tbody> </table></div>`)[0];
            popup_6cebcff7bd974270b1d3bd426cced096.setContent(html_e5028bba523a44d287b7f6dd82e9daa4);
        

        circle_72295eef4f4f47f09e4f30cb0b1adb8b.bindPopup(popup_6cebcff7bd974270b1d3bd426cced096)
        ;

        
    
    
            var circle_b0a919e3e01a4cdf818d26e10d8ff9dc = L.circle(
                [34.89949113, 128.68638441],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "orange", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_0cbc03079a594e3283112f71f3b9db04);
        
    
        var popup_a9c948838ab0430995769380abd202cf = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_a9d737e3d959489c97e34d341150fd24 = $(`<div id="html_a9d737e3d959489c97e34d341150fd24" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>350</td>       <td>40948997</td>       <td>-71.0</td>       <td>33.5</td>       <td>None</td>       <td>81.285</td>     </tr>   </tbody> </table></div>`)[0];
            popup_a9c948838ab0430995769380abd202cf.setContent(html_a9d737e3d959489c97e34d341150fd24);
        

        circle_b0a919e3e01a4cdf818d26e10d8ff9dc.bindPopup(popup_a9c948838ab0430995769380abd202cf)
        ;

        
    
    
            var circle_656bd4c2ba364d34a0496dff743ae74d = L.circle(
                [34.90145671, 128.68571833],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_0cbc03079a594e3283112f71f3b9db04);
        
    
        var popup_9b301d5e060a4235b6440a812e8146b0 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_9299d5d25d634f0485ffd3a48bf58ede = $(`<div id="html_9299d5d25d634f0485ffd3a48bf58ede" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>569</td>       <td>44241164</td>       <td>-89.0</td>       <td>21.5</td>       <td>None</td>       <td>77.746</td>     </tr>   </tbody> </table></div>`)[0];
            popup_9b301d5e060a4235b6440a812e8146b0.setContent(html_9299d5d25d634f0485ffd3a48bf58ede);
        

        circle_656bd4c2ba364d34a0496dff743ae74d.bindPopup(popup_9b301d5e060a4235b6440a812e8146b0)
        ;

        
    
    
            var circle_5cc56b3c6e5242869a6c2b553b01818d = L.circle(
                [34.90533125, 128.682615],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_0cbc03079a594e3283112f71f3b9db04);
        
    
        var popup_08133c3e502c4fe0bf989626ea976556 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_5069301e994a4a71af69e34b2633f9f3 = $(`<div id="html_5069301e994a4a71af69e34b2633f9f3" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>488</td>       <td>44241410</td>       <td>-101.0</td>       <td>24.5</td>       <td>None</td>       <td>89.11</td>     </tr>   </tbody> </table></div>`)[0];
            popup_08133c3e502c4fe0bf989626ea976556.setContent(html_5069301e994a4a71af69e34b2633f9f3);
        

        circle_5cc56b3c6e5242869a6c2b553b01818d.bindPopup(popup_08133c3e502c4fe0bf989626ea976556)
        ;

        
    
    
            var circle_1c4a87b3ad0945dc923abb0c9a2373a4 = L.circle(
                [34.9089398, 128.68139474],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 29.0, "stroke": true, "weight": 1}
            ).addTo(feature_group_0cbc03079a594e3283112f71f3b9db04);
        
    
        var popup_6683cd712f664520b0ce88b641c89a65 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_dacd41cfd69b4f63a2b803bef02818e6 = $(`<div id="html_dacd41cfd69b4f63a2b803bef02818e6" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>488</td>       <td>44241410</td>       <td>-105.0</td>       <td>18.0</td>       <td>None</td>       <td>60.523</td>     </tr>   </tbody> </table></div>`)[0];
            popup_6683cd712f664520b0ce88b641c89a65.setContent(html_dacd41cfd69b4f63a2b803bef02818e6);
        

        circle_1c4a87b3ad0945dc923abb0c9a2373a4.bindPopup(popup_6683cd712f664520b0ce88b641c89a65)
        ;

        
    
    
            map_7ceef77c3ec74eabb545e73a998e3eee.fitBounds(
                [[34.89617539, 128.68139474], [34.9089398, 128.69009785]],
                {}
            );
        
</script>