<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_65ece1935f634a4590dab991c365bff6 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_65ece1935f634a4590dab991c365bff6" ></div>
        
</body>
<script>    
    
            var map_65ece1935f634a4590dab991c365bff6 = L.map(
                "map_65ece1935f634a4590dab991c365bff6",
                {
                    center: [34.97065933, 128.06343881],
                    crs: L.CRS.EPSG3857,
                    zoom: 15,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_25c2cfed64994401a7232d997a44c9c4 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_65ece1935f634a4590dab991c365bff6);
        
    
            var marker_8a778f48d03d4acc9c93025d1ba333cc = L.marker(
                [34.97065933, 128.06343881],
                {"iconSize": [10, 10]}
            ).addTo(map_65ece1935f634a4590dab991c365bff6);
        
    
            var icon_0ddae5d1901a433db613093d37e67bf7 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "star", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_8a778f48d03d4acc9c93025d1ba333cc.setIcon(icon_0ddae5d1901a433db613093d37e67bf7);
        
    
            var poly_line_8bda6ea0868a426891a819fd8a580b06 = L.polyline(
                [[34.97064915, 128.06343489], [34.97069368, 128.06346287], [34.97066503, 128.06351296], [34.97069531, 128.06257753], [34.9695525, 128.06298752], [34.96775931, 128.06373712], [34.96724271, 128.06254163], [34.97030319, 128.06137188], [34.97567934, 128.05931126], [34.97443939, 128.05330004], [34.97844873, 128.05162119], [34.98070201, 128.04678937], [34.98252925, 128.04463701], [34.9862897, 128.04421019], [34.98853371, 128.04311838], [34.990484, 128.0407506], [34.99190845, 128.03989976], [34.99270435, 128.03948221], [34.99394432, 128.03953238], [34.99543507, 128.03916126], [34.99659772, 128.03882626], [34.99781156, 128.03889327], [34.99872377, 128.03955019]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_65ece1935f634a4590dab991c365bff6);
        
    
            var feature_group_fa6719c210ca45ae905820e60965eebf = L.featureGroup(
                {}
            ).addTo(map_65ece1935f634a4590dab991c365bff6);
        
    
            var circle_74e4db66fe80491d97c3c1ba72312154 = L.circle(
                [34.97064915, 128.06343489],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_fa6719c210ca45ae905820e60965eebf);
        
    
        var popup_bb4d95b2ce5846c68ef19cfe589e0ce6 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_0a2e2326cb6c41babb5fa623f0448629 = $(`<div id="html_0a2e2326cb6c41babb5fa623f0448629" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>684</td>       <td>37193502</td>       <td>-96.0</td>       <td>20.0</td>       <td>649.875</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_bb4d95b2ce5846c68ef19cfe589e0ce6.setContent(html_0a2e2326cb6c41babb5fa623f0448629);
        

        circle_74e4db66fe80491d97c3c1ba72312154.bindPopup(popup_bb4d95b2ce5846c68ef19cfe589e0ce6)
        ;

        
    
    
            var circle_fa2629bb74c9453f97043865423135a0 = L.circle(
                [34.97069368, 128.06346287],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_fa6719c210ca45ae905820e60965eebf);
        
    
        var popup_70ff85bf3832486b8ff4283359d4d520 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_3ec472eaad2a41a4a9487fb6b21a6e1b = $(`<div id="html_3ec472eaad2a41a4a9487fb6b21a6e1b" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>684</td>       <td>37193502</td>       <td>-93.0</td>       <td>21.5</td>       <td>671.118</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_70ff85bf3832486b8ff4283359d4d520.setContent(html_3ec472eaad2a41a4a9487fb6b21a6e1b);
        

        circle_fa2629bb74c9453f97043865423135a0.bindPopup(popup_70ff85bf3832486b8ff4283359d4d520)
        ;

        
    
    
            var circle_b340798292e6407483a65b06740ae17a = L.circle(
                [34.97066503, 128.06351296],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_fa6719c210ca45ae905820e60965eebf);
        
    
        var popup_8aebc8dc14404171bf0a1b0384cd2e21 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_44af748f45bd446194cc5379db946235 = $(`<div id="html_44af748f45bd446194cc5379db946235" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>684</td>       <td>37193502</td>       <td>-104.0</td>       <td>14.5</td>       <td>635.199</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_8aebc8dc14404171bf0a1b0384cd2e21.setContent(html_44af748f45bd446194cc5379db946235);
        

        circle_b340798292e6407483a65b06740ae17a.bindPopup(popup_8aebc8dc14404171bf0a1b0384cd2e21)
        ;

        
    
    
            var circle_8249262646d943e78693f9be850574f1 = L.circle(
                [34.97069531, 128.06257753],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_fa6719c210ca45ae905820e60965eebf);
        
    
        var popup_a14c6c58673843df99cb677892d4700c = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_2568f49959934375b344d1a3f0592196 = $(`<div id="html_2568f49959934375b344d1a3f0592196" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>272</td>       <td>37193502</td>       <td>-97.0</td>       <td>20.0</td>       <td>649.525</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_a14c6c58673843df99cb677892d4700c.setContent(html_2568f49959934375b344d1a3f0592196);
        

        circle_8249262646d943e78693f9be850574f1.bindPopup(popup_a14c6c58673843df99cb677892d4700c)
        ;

        
    
    
            var circle_abf164c746604ec79e8c6649cd315e07 = L.circle(
                [34.9695525, 128.06298752],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_fa6719c210ca45ae905820e60965eebf);
        
    
        var popup_2a98eb9cecfa44b98a26d76c202e777c = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_dd75743f7e1346d48de38411b528caed = $(`<div id="html_dd75743f7e1346d48de38411b528caed" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>684</td>       <td>37193502</td>       <td>-87.0</td>       <td>25.5</td>       <td>745.969</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_2a98eb9cecfa44b98a26d76c202e777c.setContent(html_dd75743f7e1346d48de38411b528caed);
        

        circle_abf164c746604ec79e8c6649cd315e07.bindPopup(popup_2a98eb9cecfa44b98a26d76c202e777c)
        ;

        
    
    
            var circle_ab2fe0a100b24727a04d5b96ab3e3671 = L.circle(
                [34.96775931, 128.06373712],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_fa6719c210ca45ae905820e60965eebf);
        
    
        var popup_79cfdd146d3543a8a1afc1be37733665 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_0a0c4f9df224470facb43b74beb5d243 = $(`<div id="html_0a0c4f9df224470facb43b74beb5d243" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>851</td>       <td>37193489</td>       <td>-88.0</td>       <td>29.0</td>       <td>718.519</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_79cfdd146d3543a8a1afc1be37733665.setContent(html_0a0c4f9df224470facb43b74beb5d243);
        

        circle_ab2fe0a100b24727a04d5b96ab3e3671.bindPopup(popup_79cfdd146d3543a8a1afc1be37733665)
        ;

        
    
    
            var circle_7c7dc0978db248898de938e09c8ee964 = L.circle(
                [34.96724271, 128.06254163],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_fa6719c210ca45ae905820e60965eebf);
        
    
        var popup_e0b91d50e3d443129992cc5c39b8ea9e = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_a76c1aec1b5a404fb0cee50fccd30063 = $(`<div id="html_a76c1aec1b5a404fb0cee50fccd30063" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>851</td>       <td>37193489</td>       <td>-101.0</td>       <td>18.0</td>       <td>593.356</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_e0b91d50e3d443129992cc5c39b8ea9e.setContent(html_a76c1aec1b5a404fb0cee50fccd30063);
        

        circle_7c7dc0978db248898de938e09c8ee964.bindPopup(popup_e0b91d50e3d443129992cc5c39b8ea9e)
        ;

        
    
    
            var circle_e75116783f00430aa6a5c83276222999 = L.circle(
                [34.97030319, 128.06137188],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_fa6719c210ca45ae905820e60965eebf);
        
    
        var popup_97306df272134594b5cd40c4e1de286d = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_db6ddee33ddf43e28ff9e1952caf41ef = $(`<div id="html_db6ddee33ddf43e28ff9e1952caf41ef" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>768</td>       <td>37193502</td>       <td>-94.0</td>       <td>26.0</td>       <td>733.629</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_97306df272134594b5cd40c4e1de286d.setContent(html_db6ddee33ddf43e28ff9e1952caf41ef);
        

        circle_e75116783f00430aa6a5c83276222999.bindPopup(popup_97306df272134594b5cd40c4e1de286d)
        ;

        
    
    
            var circle_f499523f151d45c29d22c878813e9702 = L.circle(
                [34.97567934, 128.05931126],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_fa6719c210ca45ae905820e60965eebf);
        
    
        var popup_17280127f53e439d96c3b63e234e13da = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_6c86374c95834fdaa9de2cafff0de09c = $(`<div id="html_6c86374c95834fdaa9de2cafff0de09c" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>47</td>       <td>37193742</td>       <td>-87.0</td>       <td>32.5</td>       <td>832.998</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_17280127f53e439d96c3b63e234e13da.setContent(html_6c86374c95834fdaa9de2cafff0de09c);
        

        circle_f499523f151d45c29d22c878813e9702.bindPopup(popup_17280127f53e439d96c3b63e234e13da)
        ;

        
    
    
            var circle_397c3a1051464dc594ecff4d77062894 = L.circle(
                [34.97443939, 128.05330004],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "orange", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_fa6719c210ca45ae905820e60965eebf);
        
    
        var popup_bb6653c3262a4bdc8b53e62062879060 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_a4c29f4b3eca478ab83254c4f83f555b = $(`<div id="html_a4c29f4b3eca478ab83254c4f83f555b" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>491</td>       <td>37193742</td>       <td>-67.0</td>       <td>37.0</td>       <td>754.206</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_bb6653c3262a4bdc8b53e62062879060.setContent(html_a4c29f4b3eca478ab83254c4f83f555b);
        

        circle_397c3a1051464dc594ecff4d77062894.bindPopup(popup_bb6653c3262a4bdc8b53e62062879060)
        ;

        
    
    
            var circle_7b01ada4d64344d5bc3cf9d282ed881e = L.circle(
                [34.97844873, 128.05162119],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_fa6719c210ca45ae905820e60965eebf);
        
    
        var popup_5d7af31178404df2990efb396ff6218a = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_472a57a9fb9743f99c72a6f13ce8d906 = $(`<div id="html_472a57a9fb9743f99c72a6f13ce8d906" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>104</td>       <td>37193742</td>       <td>-97.0</td>       <td>1.0</td>       <td>398.113</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_5d7af31178404df2990efb396ff6218a.setContent(html_472a57a9fb9743f99c72a6f13ce8d906);
        

        circle_7b01ada4d64344d5bc3cf9d282ed881e.bindPopup(popup_5d7af31178404df2990efb396ff6218a)
        ;

        
    
    
            var circle_8640af7f44ca470182f731b12011809d = L.circle(
                [34.98070201, 128.04678937],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_fa6719c210ca45ae905820e60965eebf);
        
    
        var popup_896ee24c2801439c8a61faebed192bd7 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_1e564b112540444ca51abb15ac5e1079 = $(`<div id="html_1e564b112540444ca51abb15ac5e1079" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>104</td>       <td>37393168</td>       <td>-99.0</td>       <td>11.5</td>       <td>413.726</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_896ee24c2801439c8a61faebed192bd7.setContent(html_1e564b112540444ca51abb15ac5e1079);
        

        circle_8640af7f44ca470182f731b12011809d.bindPopup(popup_896ee24c2801439c8a61faebed192bd7)
        ;

        
    
    
            var circle_666230c733784d17a83e996f8d075b45 = L.circle(
                [34.98252925, 128.04463701],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "yellow", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_fa6719c210ca45ae905820e60965eebf);
        
    
        var popup_56555fb89e9a412c89338d5a459cee56 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_3cfd443e260a4d58b6677cecda619c4c = $(`<div id="html_3cfd443e260a4d58b6677cecda619c4c" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>251</td>       <td>38241024</td>       <td>-81.0</td>       <td>10.4</td>       <td>83.704</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_56555fb89e9a412c89338d5a459cee56.setContent(html_3cfd443e260a4d58b6677cecda619c4c);
        

        circle_666230c733784d17a83e996f8d075b45.bindPopup(popup_56555fb89e9a412c89338d5a459cee56)
        ;

        
    
    
            var circle_6a269b68011043d0bdf0cde5eb044f91 = L.circle(
                [34.9862897, 128.04421019],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "black", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_fa6719c210ca45ae905820e60965eebf);
        
    
        var popup_d29588778dca4de2a8d3d616b176e570 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_e36b90fc58564d8a81e60f44aa312514 = $(`<div id="html_e36b90fc58564d8a81e60f44aa312514" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>0</td>       <td>38241024</td>       <td>0.0</td>       <td>0.0</td>       <td>0.0</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_d29588778dca4de2a8d3d616b176e570.setContent(html_e36b90fc58564d8a81e60f44aa312514);
        

        circle_6a269b68011043d0bdf0cde5eb044f91.bindPopup(popup_d29588778dca4de2a8d3d616b176e570)
        ;

        
    
    
            var circle_c38aa2fcb578482aa3ffd4e777a94e9d = L.circle(
                [34.98853371, 128.04311838],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_fa6719c210ca45ae905820e60965eebf);
        
    
        var popup_59ae87a7296b4142af59728d66085e40 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_49b19ddaa8df404082b5ace401b8967d = $(`<div id="html_49b19ddaa8df404082b5ace401b8967d" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>104</td>       <td>37194499</td>       <td>-100.0</td>       <td>10.0</td>       <td>416.132</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_59ae87a7296b4142af59728d66085e40.setContent(html_49b19ddaa8df404082b5ace401b8967d);
        

        circle_c38aa2fcb578482aa3ffd4e777a94e9d.bindPopup(popup_59ae87a7296b4142af59728d66085e40)
        ;

        
    
    
            var circle_87ddb266b4664ab2a4b0b1e0977374d7 = L.circle(
                [34.990484, 128.0407506],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_fa6719c210ca45ae905820e60965eebf);
        
    
        var popup_237a61b28cbc4cc994d17271eb6e6a97 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_d6e8c233b6bd49d796f6355dcea928d7 = $(`<div id="html_d6e8c233b6bd49d796f6355dcea928d7" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>977</td>       <td>38241024</td>       <td>-104.0</td>       <td>14.5</td>       <td>438.836</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_237a61b28cbc4cc994d17271eb6e6a97.setContent(html_d6e8c233b6bd49d796f6355dcea928d7);
        

        circle_87ddb266b4664ab2a4b0b1e0977374d7.bindPopup(popup_237a61b28cbc4cc994d17271eb6e6a97)
        ;

        
    
    
            var circle_733f3c9222344c569c3a5374f89808c3 = L.circle(
                [34.99190845, 128.03989976],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_fa6719c210ca45ae905820e60965eebf);
        
    
        var popup_2ef1bba49aa6470595316efd8e5bc667 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_9034cf7754a147deb300accd1c1dd796 = $(`<div id="html_9034cf7754a147deb300accd1c1dd796" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>977</td>       <td>37192193</td>       <td>-99.0</td>       <td>14.0</td>       <td>151.692</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_2ef1bba49aa6470595316efd8e5bc667.setContent(html_9034cf7754a147deb300accd1c1dd796);
        

        circle_733f3c9222344c569c3a5374f89808c3.bindPopup(popup_2ef1bba49aa6470595316efd8e5bc667)
        ;

        
    
    
            var circle_1127b82fc4a54ca09386cf7796525c71 = L.circle(
                [34.99270435, 128.03948221],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_fa6719c210ca45ae905820e60965eebf);
        
    
        var popup_ad17c3fddfec4cb08d4f265c4e9ee3b1 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_d815cb4b9ac541c083d02f294c70202d = $(`<div id="html_d815cb4b9ac541c083d02f294c70202d" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>442</td>       <td>37192193</td>       <td>-87.0</td>       <td>5.6</td>       <td>74.39</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_ad17c3fddfec4cb08d4f265c4e9ee3b1.setContent(html_d815cb4b9ac541c083d02f294c70202d);
        

        circle_1127b82fc4a54ca09386cf7796525c71.bindPopup(popup_ad17c3fddfec4cb08d4f265c4e9ee3b1)
        ;

        
    
    
            var circle_9580478242f844308ca2e5394ef95c82 = L.circle(
                [34.99394432, 128.03953238],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_fa6719c210ca45ae905820e60965eebf);
        
    
        var popup_1d483642659f47e986697fd903806804 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_6f743f17cc1f4d47a4f3ab467848c4d4 = $(`<div id="html_6f743f17cc1f4d47a4f3ab467848c4d4" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>442</td>       <td>37192193</td>       <td>-87.0</td>       <td>13.0</td>       <td>76.971</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_1d483642659f47e986697fd903806804.setContent(html_6f743f17cc1f4d47a4f3ab467848c4d4);
        

        circle_9580478242f844308ca2e5394ef95c82.bindPopup(popup_1d483642659f47e986697fd903806804)
        ;

        
    
    
            var circle_32af4e5c2aff4659a2e788f4fca9a1c6 = L.circle(
                [34.99543507, 128.03916126],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_fa6719c210ca45ae905820e60965eebf);
        
    
        var popup_e749a9d7374b439583b57955cb29b139 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_cca63df97227436d9215a1d817e15b96 = $(`<div id="html_cca63df97227436d9215a1d817e15b96" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>442</td>       <td>37192193</td>       <td>-87.0</td>       <td>5.8</td>       <td>72.474</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_e749a9d7374b439583b57955cb29b139.setContent(html_cca63df97227436d9215a1d817e15b96);
        

        circle_32af4e5c2aff4659a2e788f4fca9a1c6.bindPopup(popup_e749a9d7374b439583b57955cb29b139)
        ;

        
    
    
            var circle_07a313373dd64fab8824c39a6696c56e = L.circle(
                [34.99659772, 128.03882626],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_fa6719c210ca45ae905820e60965eebf);
        
    
        var popup_86ae0fb384d94964a6f4ad5af83772a6 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_6c936f2098194d539aecc5cc1a8475a2 = $(`<div id="html_6c936f2098194d539aecc5cc1a8475a2" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>104</td>       <td>37192193</td>       <td>-97.0</td>       <td>20.5</td>       <td>305.486</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_86ae0fb384d94964a6f4ad5af83772a6.setContent(html_6c936f2098194d539aecc5cc1a8475a2);
        

        circle_07a313373dd64fab8824c39a6696c56e.bindPopup(popup_86ae0fb384d94964a6f4ad5af83772a6)
        ;

        
    
    
            var circle_60c57c1c9fe642cbaa3e6979fae59bee = L.circle(
                [34.99781156, 128.03889327],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_fa6719c210ca45ae905820e60965eebf);
        
    
        var popup_c080b28958e24db8a8ca0c12a972d5f8 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_91c82f59ec1c4fc78aa7b93b688acba8 = $(`<div id="html_91c82f59ec1c4fc78aa7b93b688acba8" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>977</td>       <td>37194501</td>       <td>-101.0</td>       <td>13.5</td>       <td>285.305</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_c080b28958e24db8a8ca0c12a972d5f8.setContent(html_91c82f59ec1c4fc78aa7b93b688acba8);
        

        circle_60c57c1c9fe642cbaa3e6979fae59bee.bindPopup(popup_c080b28958e24db8a8ca0c12a972d5f8)
        ;

        
    
    
            var circle_ac0d7c68d71747a4b2d4d53f038bfb3d = L.circle(
                [34.99872377, 128.03955019],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "yellow", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 29.0, "stroke": true, "weight": 1}
            ).addTo(feature_group_fa6719c210ca45ae905820e60965eebf);
        
    
        var popup_2b8efbb26e9b409b8378f381449ad047 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_5705187927ed4b1d9ad80c9f632f2a32 = $(`<div id="html_5705187927ed4b1d9ad80c9f632f2a32" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>436</td>       <td>37194501</td>       <td>-81.0</td>       <td>1.0</td>       <td>70.56</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_2b8efbb26e9b409b8378f381449ad047.setContent(html_5705187927ed4b1d9ad80c9f632f2a32);
        

        circle_ac0d7c68d71747a4b2d4d53f038bfb3d.bindPopup(popup_2b8efbb26e9b409b8378f381449ad047)
        ;

        
    
</script>