<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_d1c9083132124195ad4851f162e19a83 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_d1c9083132124195ad4851f162e19a83" ></div>
        
</body>
<script>    
    
            var map_d1c9083132124195ad4851f162e19a83 = L.map(
                "map_d1c9083132124195ad4851f162e19a83",
                {
                    center: [34.97065722, 128.06343984],
                    crs: L.CRS.EPSG3857,
                    zoom: 15,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_c436cb9668984567bddc867d84905d86 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_d1c9083132124195ad4851f162e19a83);
        
    
            var marker_7b74e9f161784e04ae9100b673e1fb97 = L.marker(
                [34.97065722, 128.06343984],
                {"iconSize": [10, 10]}
            ).addTo(map_d1c9083132124195ad4851f162e19a83);
        
    
            var icon_0b51592a67204ad484a2477de52fef62 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "star", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_7b74e9f161784e04ae9100b673e1fb97.setIcon(icon_0b51592a67204ad484a2477de52fef62);
        
    
            var poly_line_49dfe16ed690437a90ea22e14577d067 = L.polyline(
                [[34.97065722, 128.06343984], [34.97063331, 128.06344327], [34.97064098, 128.06345582], [34.97060696, 128.06272419], [34.96952624, 128.06283729], [34.96784475, 128.06368727], [34.96719208, 128.06243622], [34.97078469, 128.06130035], [34.97563895, 128.05943878], [34.97468197, 128.05324469], [34.97857827, 128.05122944], [34.98091718, 128.04667746], [34.98299793, 128.04399364], [34.985071, 128.04431075], [34.98758813, 128.04377057], [34.98991582, 128.04180529], [34.99166311, 128.04009129], [34.99295054, 128.03958301], [34.99516137, 128.03921255], [34.99843116, 128.03916038], [34.9990068, 128.03973153], [34.99927923, 128.04007982], [34.99914027, 128.04012799]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_d1c9083132124195ad4851f162e19a83);
        
    
            var feature_group_2ff75b71ccbf4d7cb7799fec455cd3f3 = L.featureGroup(
                {}
            ).addTo(map_d1c9083132124195ad4851f162e19a83);
        
    
            var circle_958f3c6e464e4a2991d17db2748da3a9 = L.circle(
                [34.97065722, 128.06343984],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 25, "stroke": true, "weight": 1}
            ).addTo(feature_group_2ff75b71ccbf4d7cb7799fec455cd3f3);
        
    
        var popup_8bce54f86cb84daebba67468a1e8096a = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_6b2ff06a82b24da99aa75453d6051964 = $(`<div id="html_6b2ff06a82b24da99aa75453d6051964" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <td align="center">PCI</th>       <td align="center">Cell ID</th>       <td align="center">DL</th>       <td align="center">UL</th>       <td align="center">RSRP</th>       <td align="center">SINR</th>     </tr>   </thead>   <tbody>     <tr>       <td align="center">154</td>       <td align="center">44342024</td>       <td align="center">454.975</td>       <td align="center">None</td>       <td align="center">-100.0</td>       <td align="center">15.0</td>     </tr>   </tbody> </table></div>`)[0];
            popup_8bce54f86cb84daebba67468a1e8096a.setContent(html_6b2ff06a82b24da99aa75453d6051964);
        

        circle_958f3c6e464e4a2991d17db2748da3a9.bindPopup(popup_8bce54f86cb84daebba67468a1e8096a)
        ;

        
    
    
            var circle_62872715f36a4ceb958a1c6e735d06e4 = L.circle(
                [34.97063331, 128.06344327],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 25, "stroke": true, "weight": 1}
            ).addTo(feature_group_2ff75b71ccbf4d7cb7799fec455cd3f3);
        
    
        var popup_05e19d1c920f442f8849b82179201f0c = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_8eb6fb65a36b474f958365c1e2c7aa43 = $(`<div id="html_8eb6fb65a36b474f958365c1e2c7aa43" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <td align="center">PCI</th>       <td align="center">Cell ID</th>       <td align="center">DL</th>       <td align="center">UL</th>       <td align="center">RSRP</th>       <td align="center">SINR</th>     </tr>   </thead>   <tbody>     <tr>       <td align="center">154</td>       <td align="center">44342024</td>       <td align="center">496.943</td>       <td align="center">None</td>       <td align="center">-102.0</td>       <td align="center">20.0</td>     </tr>   </tbody> </table></div>`)[0];
            popup_05e19d1c920f442f8849b82179201f0c.setContent(html_8eb6fb65a36b474f958365c1e2c7aa43);
        

        circle_62872715f36a4ceb958a1c6e735d06e4.bindPopup(popup_05e19d1c920f442f8849b82179201f0c)
        ;

        
    
    
            var circle_e459208df04b4d5689ac80616a31c0e3 = L.circle(
                [34.97064098, 128.06345582],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 25, "stroke": true, "weight": 1}
            ).addTo(feature_group_2ff75b71ccbf4d7cb7799fec455cd3f3);
        
    
        var popup_0f52c3cccbdc4fd78b8e0d9cfed07bb3 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_e832fdada6844c9f944f33ad7b33eb98 = $(`<div id="html_e832fdada6844c9f944f33ad7b33eb98" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <td align="center">PCI</th>       <td align="center">Cell ID</th>       <td align="center">DL</th>       <td align="center">UL</th>       <td align="center">RSRP</th>       <td align="center">SINR</th>     </tr>   </thead>   <tbody>     <tr>       <td align="center">154</td>       <td align="center">44342024</td>       <td align="center">493.309</td>       <td align="center">None</td>       <td align="center">-104.0</td>       <td align="center">18.0</td>     </tr>   </tbody> </table></div>`)[0];
            popup_0f52c3cccbdc4fd78b8e0d9cfed07bb3.setContent(html_e832fdada6844c9f944f33ad7b33eb98);
        

        circle_e459208df04b4d5689ac80616a31c0e3.bindPopup(popup_0f52c3cccbdc4fd78b8e0d9cfed07bb3)
        ;

        
    
    
            var circle_9f26eaf7891a4702afc831e3403021cd = L.circle(
                [34.97060696, 128.06272419],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 25, "stroke": true, "weight": 1}
            ).addTo(feature_group_2ff75b71ccbf4d7cb7799fec455cd3f3);
        
    
        var popup_f08068325cc3476e8f6b286e685d9914 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_0f59e43a1390400891026ae28cf7b846 = $(`<div id="html_0f59e43a1390400891026ae28cf7b846" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <td align="center">PCI</th>       <td align="center">Cell ID</th>       <td align="center">DL</th>       <td align="center">UL</th>       <td align="center">RSRP</th>       <td align="center">SINR</th>     </tr>   </thead>   <tbody>     <tr>       <td align="center">154</td>       <td align="center">44342024</td>       <td align="center">665.8</td>       <td align="center">None</td>       <td align="center">-95.0</td>       <td align="center">19.5</td>     </tr>   </tbody> </table></div>`)[0];
            popup_f08068325cc3476e8f6b286e685d9914.setContent(html_0f59e43a1390400891026ae28cf7b846);
        

        circle_9f26eaf7891a4702afc831e3403021cd.bindPopup(popup_f08068325cc3476e8f6b286e685d9914)
        ;

        
    
    
            var circle_9049c10385cc474394b2484f520e1b7a = L.circle(
                [34.96952624, 128.06283729],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "yellow", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 25, "stroke": true, "weight": 1}
            ).addTo(feature_group_2ff75b71ccbf4d7cb7799fec455cd3f3);
        
    
        var popup_8c02bc5fc97149cdbe2f2d88cb404971 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_11e51d02e66d4c87bbfdcaa5cd9e2754 = $(`<div id="html_11e51d02e66d4c87bbfdcaa5cd9e2754" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <td align="center">PCI</th>       <td align="center">Cell ID</th>       <td align="center">DL</th>       <td align="center">UL</th>       <td align="center">RSRP</th>       <td align="center">SINR</th>     </tr>   </thead>   <tbody>     <tr>       <td align="center">174</td>       <td align="center">44342287</td>       <td align="center">808.729</td>       <td align="center">None</td>       <td align="center">-85.0</td>       <td align="center">33.5</td>     </tr>   </tbody> </table></div>`)[0];
            popup_8c02bc5fc97149cdbe2f2d88cb404971.setContent(html_11e51d02e66d4c87bbfdcaa5cd9e2754);
        

        circle_9049c10385cc474394b2484f520e1b7a.bindPopup(popup_8c02bc5fc97149cdbe2f2d88cb404971)
        ;

        
    
    
            var circle_4ac67cf280124878b19eaa44cdf52cea = L.circle(
                [34.96784475, 128.06368727],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 25, "stroke": true, "weight": 1}
            ).addTo(feature_group_2ff75b71ccbf4d7cb7799fec455cd3f3);
        
    
        var popup_e27699bddac24e0990afe0805cc5e9f9 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_1b389086ac4d42109a0c6ed3f61108f1 = $(`<div id="html_1b389086ac4d42109a0c6ed3f61108f1" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <td align="center">PCI</th>       <td align="center">Cell ID</th>       <td align="center">DL</th>       <td align="center">UL</th>       <td align="center">RSRP</th>       <td align="center">SINR</th>     </tr>   </thead>   <tbody>     <tr>       <td align="center">174</td>       <td align="center">44342287</td>       <td align="center">941.206</td>       <td align="center">None</td>       <td align="center">-86.0</td>       <td align="center">22.5</td>     </tr>   </tbody> </table></div>`)[0];
            popup_e27699bddac24e0990afe0805cc5e9f9.setContent(html_1b389086ac4d42109a0c6ed3f61108f1);
        

        circle_4ac67cf280124878b19eaa44cdf52cea.bindPopup(popup_e27699bddac24e0990afe0805cc5e9f9)
        ;

        
    
    
            var circle_ea53e7e69ad14fd89abe8748d22e62c0 = L.circle(
                [34.96719208, 128.06243622],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "yellow", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 25, "stroke": true, "weight": 1}
            ).addTo(feature_group_2ff75b71ccbf4d7cb7799fec455cd3f3);
        
    
        var popup_495425265d4c4e399dced4ead0d2352f = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_32b555ea93da4f3fa676b1ec18c9fcbc = $(`<div id="html_32b555ea93da4f3fa676b1ec18c9fcbc" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <td align="center">PCI</th>       <td align="center">Cell ID</th>       <td align="center">DL</th>       <td align="center">UL</th>       <td align="center">RSRP</th>       <td align="center">SINR</th>     </tr>   </thead>   <tbody>     <tr>       <td align="center">158</td>       <td align="center">44342028</td>       <td align="center">721.387</td>       <td align="center">None</td>       <td align="center">-78.0</td>       <td align="center">31.5</td>     </tr>   </tbody> </table></div>`)[0];
            popup_495425265d4c4e399dced4ead0d2352f.setContent(html_32b555ea93da4f3fa676b1ec18c9fcbc);
        

        circle_ea53e7e69ad14fd89abe8748d22e62c0.bindPopup(popup_495425265d4c4e399dced4ead0d2352f)
        ;

        
    
    
            var circle_9e1f086077b741818fb613d86f447203 = L.circle(
                [34.97078469, 128.06130035],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 25, "stroke": true, "weight": 1}
            ).addTo(feature_group_2ff75b71ccbf4d7cb7799fec455cd3f3);
        
    
        var popup_4f1c071ca0aa4545a9872c06a698c17f = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_5b3bd1996b4c4ac49ff729a9d5061836 = $(`<div id="html_5b3bd1996b4c4ac49ff729a9d5061836" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <td align="center">PCI</th>       <td align="center">Cell ID</th>       <td align="center">DL</th>       <td align="center">UL</th>       <td align="center">RSRP</th>       <td align="center">SINR</th>     </tr>   </thead>   <tbody>     <tr>       <td align="center">154</td>       <td align="center">44342278</td>       <td align="center">390.21</td>       <td align="center">None</td>       <td align="center">-90.0</td>       <td align="center">29.0</td>     </tr>   </tbody> </table></div>`)[0];
            popup_4f1c071ca0aa4545a9872c06a698c17f.setContent(html_5b3bd1996b4c4ac49ff729a9d5061836);
        

        circle_9e1f086077b741818fb613d86f447203.bindPopup(popup_4f1c071ca0aa4545a9872c06a698c17f)
        ;

        
    
    
            var circle_5f9b8fd8dff2477287e4deb08f635df2 = L.circle(
                [34.97563895, 128.05943878],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 25, "stroke": true, "weight": 1}
            ).addTo(feature_group_2ff75b71ccbf4d7cb7799fec455cd3f3);
        
    
        var popup_d8beb64a3b504dbcbecca7591bbb7b8c = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_2ff4abc8b1ce428389978bba67351166 = $(`<div id="html_2ff4abc8b1ce428389978bba67351166" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <td align="center">PCI</th>       <td align="center">Cell ID</th>       <td align="center">DL</th>       <td align="center">UL</th>       <td align="center">RSRP</th>       <td align="center">SINR</th>     </tr>   </thead>   <tbody>     <tr>       <td align="center">149</td>       <td align="center">44342024</td>       <td align="center">762.833</td>       <td align="center">None</td>       <td align="center">-89.0</td>       <td align="center">30.5</td>     </tr>   </tbody> </table></div>`)[0];
            popup_d8beb64a3b504dbcbecca7591bbb7b8c.setContent(html_2ff4abc8b1ce428389978bba67351166);
        

        circle_5f9b8fd8dff2477287e4deb08f635df2.bindPopup(popup_d8beb64a3b504dbcbecca7591bbb7b8c)
        ;

        
    
    
            var circle_58eb1807866a4e04b5d24f6fa76b2530 = L.circle(
                [34.97468197, 128.05324469],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 25, "stroke": true, "weight": 1}
            ).addTo(feature_group_2ff75b71ccbf4d7cb7799fec455cd3f3);
        
    
        var popup_4a7e6a6744614371b0669d662c38752a = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_c48cd5fb9bc240b1ae73e16f5c9593a1 = $(`<div id="html_c48cd5fb9bc240b1ae73e16f5c9593a1" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <td align="center">PCI</th>       <td align="center">Cell ID</th>       <td align="center">DL</th>       <td align="center">UL</th>       <td align="center">RSRP</th>       <td align="center">SINR</th>     </tr>   </thead>   <tbody>     <tr>       <td align="center">376</td>       <td align="center">44342024</td>       <td align="center">150.454</td>       <td align="center">None</td>       <td align="center">-89.0</td>       <td align="center">11.2</td>     </tr>   </tbody> </table></div>`)[0];
            popup_4a7e6a6744614371b0669d662c38752a.setContent(html_c48cd5fb9bc240b1ae73e16f5c9593a1);
        

        circle_58eb1807866a4e04b5d24f6fa76b2530.bindPopup(popup_4a7e6a6744614371b0669d662c38752a)
        ;

        
    
    
            var circle_0aa2b421afe642278203022b33c11798 = L.circle(
                [34.97857827, 128.05122944],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "yellow", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 25, "stroke": true, "weight": 1}
            ).addTo(feature_group_2ff75b71ccbf4d7cb7799fec455cd3f3);
        
    
        var popup_2268195a4c6f4b0c8dd7e3c2d6d2ade2 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_5a71df330aa44874a5d4c351760b71c3 = $(`<div id="html_5a71df330aa44874a5d4c351760b71c3" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <td align="center">PCI</th>       <td align="center">Cell ID</th>       <td align="center">DL</th>       <td align="center">UL</th>       <td align="center">RSRP</th>       <td align="center">SINR</th>     </tr>   </thead>   <tbody>     <tr>       <td align="center">371</td>       <td align="center">44342288</td>       <td align="center">170.92</td>       <td align="center">None</td>       <td align="center">-84.0</td>       <td align="center">-2.0</td>     </tr>   </tbody> </table></div>`)[0];
            popup_2268195a4c6f4b0c8dd7e3c2d6d2ade2.setContent(html_5a71df330aa44874a5d4c351760b71c3);
        

        circle_0aa2b421afe642278203022b33c11798.bindPopup(popup_2268195a4c6f4b0c8dd7e3c2d6d2ade2)
        ;

        
    
    
            var circle_20ee38f6c6d84a99b39269207ee6a7e0 = L.circle(
                [34.98091718, 128.04667746],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 25, "stroke": true, "weight": 1}
            ).addTo(feature_group_2ff75b71ccbf4d7cb7799fec455cd3f3);
        
    
        var popup_446a3d9eccc94fe288abe31accc062b6 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_9fbd60e768594eca8127363eaabe6617 = $(`<div id="html_9fbd60e768594eca8127363eaabe6617" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <td align="center">PCI</th>       <td align="center">Cell ID</th>       <td align="center">DL</th>       <td align="center">UL</th>       <td align="center">RSRP</th>       <td align="center">SINR</th>     </tr>   </thead>   <tbody>     <tr>       <td align="center">10</td>       <td align="center">44342031</td>       <td align="center">743.044</td>       <td align="center">None</td>       <td align="center">-97.0</td>       <td align="center">29.0</td>     </tr>   </tbody> </table></div>`)[0];
            popup_446a3d9eccc94fe288abe31accc062b6.setContent(html_9fbd60e768594eca8127363eaabe6617);
        

        circle_20ee38f6c6d84a99b39269207ee6a7e0.bindPopup(popup_446a3d9eccc94fe288abe31accc062b6)
        ;

        
    
    
            var circle_4c428d843b6d4daabac88d957075ccc6 = L.circle(
                [34.98299793, 128.04399364],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "black", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 25, "stroke": true, "weight": 1}
            ).addTo(feature_group_2ff75b71ccbf4d7cb7799fec455cd3f3);
        
    
        var popup_c796bcf206234a36b4ffd35f4560e733 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_d3d4b3909aea487288593d5bb2c5c630 = $(`<div id="html_d3d4b3909aea487288593d5bb2c5c630" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <td align="center">PCI</th>       <td align="center">Cell ID</th>       <td align="center">DL</th>       <td align="center">UL</th>       <td align="center">RSRP</th>       <td align="center">SINR</th>     </tr>   </thead>   <tbody>     <tr>       <td align="center">10</td>       <td align="center">42399776</td>       <td align="center">128.846</td>       <td align="center">None</td>       <td align="center">0.0</td>       <td align="center">0.0</td>     </tr>   </tbody> </table></div>`)[0];
            popup_c796bcf206234a36b4ffd35f4560e733.setContent(html_d3d4b3909aea487288593d5bb2c5c630);
        

        circle_4c428d843b6d4daabac88d957075ccc6.bindPopup(popup_c796bcf206234a36b4ffd35f4560e733)
        ;

        
    
    
            var circle_325202ad387a4755bed20f82b3280b1e = L.circle(
                [34.985071, 128.04431075],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "black", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 25, "stroke": true, "weight": 1}
            ).addTo(feature_group_2ff75b71ccbf4d7cb7799fec455cd3f3);
        
    
        var popup_2f066bdf256e42b39cf0a2c266be0c62 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_87154861fa9346be91b6485740897f04 = $(`<div id="html_87154861fa9346be91b6485740897f04" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <td align="center">PCI</th>       <td align="center">Cell ID</th>       <td align="center">DL</th>       <td align="center">UL</th>       <td align="center">RSRP</th>       <td align="center">SINR</th>     </tr>   </thead>   <tbody>     <tr>       <td align="center">149</td>       <td align="center">42399776</td>       <td align="center">125.69</td>       <td align="center">None</td>       <td align="center">-110.0</td>       <td align="center">7.0</td>     </tr>   </tbody> </table></div>`)[0];
            popup_2f066bdf256e42b39cf0a2c266be0c62.setContent(html_87154861fa9346be91b6485740897f04);
        

        circle_325202ad387a4755bed20f82b3280b1e.bindPopup(popup_2f066bdf256e42b39cf0a2c266be0c62)
        ;

        
    
    
            var circle_4fd5925046ba487699b6cb4358ffc62d = L.circle(
                [34.98758813, 128.04377057],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "black", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 25, "stroke": true, "weight": 1}
            ).addTo(feature_group_2ff75b71ccbf4d7cb7799fec455cd3f3);
        
    
        var popup_5fb8b91a54f54159a5834bda23c88e08 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_e75d289288fc40958bbe774f83ddd2ea = $(`<div id="html_e75d289288fc40958bbe774f83ddd2ea" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <td align="center">PCI</th>       <td align="center">Cell ID</th>       <td align="center">DL</th>       <td align="center">UL</th>       <td align="center">RSRP</th>       <td align="center">SINR</th>     </tr>   </thead>   <tbody>     <tr>       <td align="center">456</td>       <td align="center">42399776</td>       <td align="center">232.847</td>       <td align="center">None</td>       <td align="center">-113.0</td>       <td align="center">5.0</td>     </tr>   </tbody> </table></div>`)[0];
            popup_5fb8b91a54f54159a5834bda23c88e08.setContent(html_e75d289288fc40958bbe774f83ddd2ea);
        

        circle_4fd5925046ba487699b6cb4358ffc62d.bindPopup(popup_5fb8b91a54f54159a5834bda23c88e08)
        ;

        
    
    
            var circle_e457fdd6276b497d98ec5b3d0d8f4e95 = L.circle(
                [34.98991582, 128.04180529],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 25, "stroke": true, "weight": 1}
            ).addTo(feature_group_2ff75b71ccbf4d7cb7799fec455cd3f3);
        
    
        var popup_b6fcddde63f74fa99a36fe79f6612955 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_848b07e60884452b9278bdc307425a6e = $(`<div id="html_848b07e60884452b9278bdc307425a6e" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <td align="center">PCI</th>       <td align="center">Cell ID</th>       <td align="center">DL</th>       <td align="center">UL</th>       <td align="center">RSRP</th>       <td align="center">SINR</th>     </tr>   </thead>   <tbody>     <tr>       <td align="center">362</td>       <td align="center">44342022</td>       <td align="center">130.304</td>       <td align="center">None</td>       <td align="center">-88.0</td>       <td align="center">9.0</td>     </tr>   </tbody> </table></div>`)[0];
            popup_b6fcddde63f74fa99a36fe79f6612955.setContent(html_848b07e60884452b9278bdc307425a6e);
        

        circle_e457fdd6276b497d98ec5b3d0d8f4e95.bindPopup(popup_b6fcddde63f74fa99a36fe79f6612955)
        ;

        
    
    
            var circle_7c53817c768a4e038082c7c73188ef0d = L.circle(
                [34.99166311, 128.04009129],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "yellow", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 25, "stroke": true, "weight": 1}
            ).addTo(feature_group_2ff75b71ccbf4d7cb7799fec455cd3f3);
        
    
        var popup_d475628403404e3a9d8aa999d1d4b4ed = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_567eeee85f594837b87d8df494e8f2d5 = $(`<div id="html_567eeee85f594837b87d8df494e8f2d5" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <td align="center">PCI</th>       <td align="center">Cell ID</th>       <td align="center">DL</th>       <td align="center">UL</th>       <td align="center">RSRP</th>       <td align="center">SINR</th>     </tr>   </thead>   <tbody>     <tr>       <td align="center">362</td>       <td align="center">44342022</td>       <td align="center">160.777</td>       <td align="center">None</td>       <td align="center">-83.0</td>       <td align="center">13.8</td>     </tr>   </tbody> </table></div>`)[0];
            popup_d475628403404e3a9d8aa999d1d4b4ed.setContent(html_567eeee85f594837b87d8df494e8f2d5);
        

        circle_7c53817c768a4e038082c7c73188ef0d.bindPopup(popup_d475628403404e3a9d8aa999d1d4b4ed)
        ;

        
    
    
            var circle_09b687ae74f9412094599b1a4f341de1 = L.circle(
                [34.99295054, 128.03958301],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "black", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 25, "stroke": true, "weight": 1}
            ).addTo(feature_group_2ff75b71ccbf4d7cb7799fec455cd3f3);
        
    
        var popup_96a154afab5749b7a6b00d5325dcfb02 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_fa5a9dedb61344b9abb83f2be34f7090 = $(`<div id="html_fa5a9dedb61344b9abb83f2be34f7090" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <td align="center">PCI</th>       <td align="center">Cell ID</th>       <td align="center">DL</th>       <td align="center">UL</th>       <td align="center">RSRP</th>       <td align="center">SINR</th>     </tr>   </thead>   <tbody>     <tr>       <td align="center">None</td>       <td align="center">42399257</td>       <td align="center">0.0</td>       <td align="center">None</td>       <td align="center">None</td>       <td align="center">0.0</td>     </tr>   </tbody> </table></div>`)[0];
            popup_96a154afab5749b7a6b00d5325dcfb02.setContent(html_fa5a9dedb61344b9abb83f2be34f7090);
        

        circle_09b687ae74f9412094599b1a4f341de1.bindPopup(popup_96a154afab5749b7a6b00d5325dcfb02)
        ;

        
    
    
            var circle_2f93216f033b4caf823a01e8c9499e3c = L.circle(
                [34.99516137, 128.03921255],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "black", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 25, "stroke": true, "weight": 1}
            ).addTo(feature_group_2ff75b71ccbf4d7cb7799fec455cd3f3);
        
    
        var popup_131a03efc84e4120a20eb8993f15e53d = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_65baae532d1143e2badf474ffdd7164e = $(`<div id="html_65baae532d1143e2badf474ffdd7164e" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <td align="center">PCI</th>       <td align="center">Cell ID</th>       <td align="center">DL</th>       <td align="center">UL</th>       <td align="center">RSRP</th>       <td align="center">SINR</th>     </tr>   </thead>   <tbody>     <tr>       <td align="center">None</td>       <td align="center">42399258</td>       <td align="center">0.0</td>       <td align="center">None</td>       <td align="center">None</td>       <td align="center">0.0</td>     </tr>   </tbody> </table></div>`)[0];
            popup_131a03efc84e4120a20eb8993f15e53d.setContent(html_65baae532d1143e2badf474ffdd7164e);
        

        circle_2f93216f033b4caf823a01e8c9499e3c.bindPopup(popup_131a03efc84e4120a20eb8993f15e53d)
        ;

        
    
    
            var circle_b70c88bcb6484dd4867ee8435ef37d5b = L.circle(
                [34.99843116, 128.03916038],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 25, "stroke": true, "weight": 1}
            ).addTo(feature_group_2ff75b71ccbf4d7cb7799fec455cd3f3);
        
    
        var popup_1a0fac280b3b4ab897d5608fb2e52b09 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_1febbc1ae16b4ffd9a8eccb3d86b01f9 = $(`<div id="html_1febbc1ae16b4ffd9a8eccb3d86b01f9" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <td align="center">PCI</th>       <td align="center">Cell ID</th>       <td align="center">DL</th>       <td align="center">UL</th>       <td align="center">RSRP</th>       <td align="center">SINR</th>     </tr>   </thead>   <tbody>     <tr>       <td align="center">261</td>       <td align="center">42399257</td>       <td align="center">116.577</td>       <td align="center">None</td>       <td align="center">-88.0</td>       <td align="center">8.6</td>     </tr>   </tbody> </table></div>`)[0];
            popup_1a0fac280b3b4ab897d5608fb2e52b09.setContent(html_1febbc1ae16b4ffd9a8eccb3d86b01f9);
        

        circle_b70c88bcb6484dd4867ee8435ef37d5b.bindPopup(popup_1a0fac280b3b4ab897d5608fb2e52b09)
        ;

        
    
    
            var circle_8f185ecd9c3745b7ad42b45713bbae99 = L.circle(
                [34.9990068, 128.03973153],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "yellow", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 25, "stroke": true, "weight": 1}
            ).addTo(feature_group_2ff75b71ccbf4d7cb7799fec455cd3f3);
        
    
        var popup_0f0e78d09ee8461fab6c984a8aa99863 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_75c33435d71a40bea70774ce9a22136f = $(`<div id="html_75c33435d71a40bea70774ce9a22136f" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <td align="center">PCI</th>       <td align="center">Cell ID</th>       <td align="center">DL</th>       <td align="center">UL</th>       <td align="center">RSRP</th>       <td align="center">SINR</th>     </tr>   </thead>   <tbody>     <tr>       <td align="center">261</td>       <td align="center">42399257</td>       <td align="center">70.83</td>       <td align="center">None</td>       <td align="center">-83.0</td>       <td align="center">12.4</td>     </tr>   </tbody> </table></div>`)[0];
            popup_0f0e78d09ee8461fab6c984a8aa99863.setContent(html_75c33435d71a40bea70774ce9a22136f);
        

        circle_8f185ecd9c3745b7ad42b45713bbae99.bindPopup(popup_0f0e78d09ee8461fab6c984a8aa99863)
        ;

        
    
    
            var circle_4595dc24b2ed4159b50687fbb0ec6e7a = L.circle(
                [34.99927923, 128.04007982],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 25, "stroke": true, "weight": 1}
            ).addTo(feature_group_2ff75b71ccbf4d7cb7799fec455cd3f3);
        
    
        var popup_da58254b26ed4d9ab6b10e6fa5ccab73 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_5a0b7d22b5a549c0baa163c9bc201ad8 = $(`<div id="html_5a0b7d22b5a549c0baa163c9bc201ad8" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <td align="center">PCI</th>       <td align="center">Cell ID</th>       <td align="center">DL</th>       <td align="center">UL</th>       <td align="center">RSRP</th>       <td align="center">SINR</th>     </tr>   </thead>   <tbody>     <tr>       <td align="center">158</td>       <td align="center">42395936</td>       <td align="center">89.199</td>       <td align="center">None</td>       <td align="center">-100.0</td>       <td align="center">-1.0</td>     </tr>   </tbody> </table></div>`)[0];
            popup_da58254b26ed4d9ab6b10e6fa5ccab73.setContent(html_5a0b7d22b5a549c0baa163c9bc201ad8);
        

        circle_4595dc24b2ed4159b50687fbb0ec6e7a.bindPopup(popup_da58254b26ed4d9ab6b10e6fa5ccab73)
        ;

        
    
    
            var circle_71766378fd0140eba9c4acd9e65c5594 = L.circle(
                [34.99914027, 128.04012799],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 40, "stroke": true, "weight": 1}
            ).addTo(feature_group_2ff75b71ccbf4d7cb7799fec455cd3f3);
        
    
        var popup_7d5107235a0a4a629b4925e63e30b08b = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_462eafdbbfbf412c810d2a11be340e86 = $(`<div id="html_462eafdbbfbf412c810d2a11be340e86" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <td align="center">PCI</th>       <td align="center">Cell ID</th>       <td align="center">DL</th>       <td align="center">UL</th>       <td align="center">RSRP</th>       <td align="center">SINR</th>     </tr>   </thead>   <tbody>     <tr>       <td align="center">300</td>       <td align="center">42074390</td>       <td align="center">108.388</td>       <td align="center">None</td>       <td align="center">-100.0</td>       <td align="center">-0.6</td>     </tr>   </tbody> </table></div>`)[0];
            popup_7d5107235a0a4a629b4925e63e30b08b.setContent(html_462eafdbbfbf412c810d2a11be340e86);
        

        circle_71766378fd0140eba9c4acd9e65c5594.bindPopup(popup_7d5107235a0a4a629b4925e63e30b08b)
        ;

        
    
    
            map_d1c9083132124195ad4851f162e19a83.fitBounds(
                [[34.96719208, 128.03916038], [34.99927923, 128.06368727]],
                {}
            );
        
</script>