<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_484177e3dc0d4c2ebd63680f25aa87e6 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_484177e3dc0d4c2ebd63680f25aa87e6" ></div>
        
</body>
<script>    
    
            var map_484177e3dc0d4c2ebd63680f25aa87e6 = L.map(
                "map_484177e3dc0d4c2ebd63680f25aa87e6",
                {
                    center: [34.97066201, 128.06350682],
                    crs: L.CRS.EPSG3857,
                    zoom: 15,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_26b2744a32d14b3cb990e37464bd552e = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_484177e3dc0d4c2ebd63680f25aa87e6);
        
    
            var marker_0f19ad47af4f4a7a80f70a3b0451522b = L.marker(
                [34.97066201, 128.06350682],
                {"iconSize": [10, 10]}
            ).addTo(map_484177e3dc0d4c2ebd63680f25aa87e6);
        
    
            var icon_25b2c4abdf1e452fb0f4a3b0b24af336 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "star", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_0f19ad47af4f4a7a80f70a3b0451522b.setIcon(icon_25b2c4abdf1e452fb0f4a3b0b24af336);
        
    
            var poly_line_35c194602f714fcfbfdd9d73fc4533b9 = L.polyline(
                [[34.97066201, 128.06350682], [34.97067124, 128.06350865], [34.97067124, 128.06350865], [34.97062463, 128.06266361], [34.96943816, 128.06309475], [34.9677901, 128.06368849], [34.96726027, 128.06242535], [34.9701047, 128.06140358], [34.97570425, 128.05938358], [34.97472996, 128.05332625], [34.97841054, 128.05177401], [34.98063054, 128.04683124], [34.98273297, 128.04429025], [34.98485869, 128.04420499], [34.9872273, 128.04369116], [34.98938429, 128.04252388], [34.99116685, 128.04022274], [34.99229836, 128.03972139], [34.99454275, 128.03953641], [34.99567496, 128.03909987], [34.99698642, 128.03888846], [34.99812599, 128.03895981], [34.99936072, 128.04019649], [34.99936589, 128.04014343]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_484177e3dc0d4c2ebd63680f25aa87e6);
        
    
            var feature_group_d7a0445a196c41e098d9a01896e448b4 = L.featureGroup(
                {}
            ).addTo(map_484177e3dc0d4c2ebd63680f25aa87e6);
        
    
            var circle_b62e28098d864dfdaa38fe36584983b5 = L.circle(
                [34.97066201, 128.06350682],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_d7a0445a196c41e098d9a01896e448b4);
        
    
        var popup_ea47fbcb03ff4ad48588c54e615909c8 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_bbf4658f824c426e90a48632a6aa6103 = $(`<div id="html_bbf4658f824c426e90a48632a6aa6103" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>165</td>       <td>11927079</td>       <td>-105.0</td>       <td>8.5</td>       <td>671.325</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_ea47fbcb03ff4ad48588c54e615909c8.setContent(html_bbf4658f824c426e90a48632a6aa6103);
        

        circle_b62e28098d864dfdaa38fe36584983b5.bindPopup(popup_ea47fbcb03ff4ad48588c54e615909c8)
        ;

        
    
    
            var circle_ff89df9692fc4f6d869fc2db0b732ce8 = L.circle(
                [34.97067124, 128.06350865],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_d7a0445a196c41e098d9a01896e448b4);
        
    
        var popup_9b5a6fe345444a13994ca39161d84c62 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_58762294ee094698987d8180bfb479bb = $(`<div id="html_58762294ee094698987d8180bfb479bb" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>165</td>       <td>11927079</td>       <td>-102.0</td>       <td>9.0</td>       <td>646.256</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_9b5a6fe345444a13994ca39161d84c62.setContent(html_58762294ee094698987d8180bfb479bb);
        

        circle_ff89df9692fc4f6d869fc2db0b732ce8.bindPopup(popup_9b5a6fe345444a13994ca39161d84c62)
        ;

        
    
    
            var circle_8560de1376ac40d09dd96e8929a1dbc6 = L.circle(
                [34.97067124, 128.06350865],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "black", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_d7a0445a196c41e098d9a01896e448b4);
        
    
        var popup_98cc29e6fba84761abf7f670a6a70b72 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_26a4b3e858c84a5fa4a4aa10524a7edf = $(`<div id="html_26a4b3e858c84a5fa4a4aa10524a7edf" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>165</td>       <td>11927079</td>       <td>-110.0</td>       <td>5.0</td>       <td>575.473</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_98cc29e6fba84761abf7f670a6a70b72.setContent(html_26a4b3e858c84a5fa4a4aa10524a7edf);
        

        circle_8560de1376ac40d09dd96e8929a1dbc6.bindPopup(popup_98cc29e6fba84761abf7f670a6a70b72)
        ;

        
    
    
            var circle_b759a7fe00c640dead48c036f01ab2a1 = L.circle(
                [34.97062463, 128.06266361],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_d7a0445a196c41e098d9a01896e448b4);
        
    
        var popup_a4c840793f5445a0b0f49503a010c7db = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_1827be3204ef456581081137f0589020 = $(`<div id="html_1827be3204ef456581081137f0589020" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>785</td>       <td>11926295</td>       <td>-90.0</td>       <td>19.0</td>       <td>986.858</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_a4c840793f5445a0b0f49503a010c7db.setContent(html_1827be3204ef456581081137f0589020);
        

        circle_b759a7fe00c640dead48c036f01ab2a1.bindPopup(popup_a4c840793f5445a0b0f49503a010c7db)
        ;

        
    
    
            var circle_d41e4b010567493eb8685a577299b5b1 = L.circle(
                [34.96943816, 128.06309475],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "yellow", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_d7a0445a196c41e098d9a01896e448b4);
        
    
        var popup_8b45f049b118469692d023770841e106 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_d9f63c27ce534ffaae54aeb600c7fbf5 = $(`<div id="html_d9f63c27ce534ffaae54aeb600c7fbf5" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>131</td>       <td>11927079</td>       <td>-76.0</td>       <td>32.0</td>       <td>1025.387</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_8b45f049b118469692d023770841e106.setContent(html_d9f63c27ce534ffaae54aeb600c7fbf5);
        

        circle_d41e4b010567493eb8685a577299b5b1.bindPopup(popup_8b45f049b118469692d023770841e106)
        ;

        
    
    
            var circle_41994588e850440e901fd8cc5b81b442 = L.circle(
                [34.9677901, 128.06368849],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "yellow", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_d7a0445a196c41e098d9a01896e448b4);
        
    
        var popup_7a755b559b1749b2823bfc18dfe5f27f = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_9c4b7b7bcfd843bfba0cf75f828cd927 = $(`<div id="html_9c4b7b7bcfd843bfba0cf75f828cd927" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>131</td>       <td>11927079</td>       <td>-77.0</td>       <td>33.5</td>       <td>1204.678</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_7a755b559b1749b2823bfc18dfe5f27f.setContent(html_9c4b7b7bcfd843bfba0cf75f828cd927);
        

        circle_41994588e850440e901fd8cc5b81b442.bindPopup(popup_7a755b559b1749b2823bfc18dfe5f27f)
        ;

        
    
    
            var circle_eb1abb9cc37c4a92acbcb5a143315b09 = L.circle(
                [34.96726027, 128.06242535],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_d7a0445a196c41e098d9a01896e448b4);
        
    
        var popup_40c7de129f134da3b2e5081f86bbbe9d = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_795b039251374606bb728a0b1e87c5fc = $(`<div id="html_795b039251374606bb728a0b1e87c5fc" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>366</td>       <td>11926827</td>       <td>-93.0</td>       <td>21.0</td>       <td>863.771</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_40c7de129f134da3b2e5081f86bbbe9d.setContent(html_795b039251374606bb728a0b1e87c5fc);
        

        circle_eb1abb9cc37c4a92acbcb5a143315b09.bindPopup(popup_40c7de129f134da3b2e5081f86bbbe9d)
        ;

        
    
    
            var circle_4576064d564d44d4adbd6fe940a0e2c2 = L.circle(
                [34.9701047, 128.06140358],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_d7a0445a196c41e098d9a01896e448b4);
        
    
        var popup_d1c5b9804da84d2c8e89abf046c51c7d = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_e9ae376498964fef9ab7bc7d1ef58f0f = $(`<div id="html_e9ae376498964fef9ab7bc7d1ef58f0f" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>366</td>       <td>11926295</td>       <td>-89.0</td>       <td>21.5</td>       <td>804.5</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_d1c5b9804da84d2c8e89abf046c51c7d.setContent(html_e9ae376498964fef9ab7bc7d1ef58f0f);
        

        circle_4576064d564d44d4adbd6fe940a0e2c2.bindPopup(popup_d1c5b9804da84d2c8e89abf046c51c7d)
        ;

        
    
    
            var circle_25dac41e20604f039dd2fbe9497fc652 = L.circle(
                [34.97570425, 128.05938358],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "yellow", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_d7a0445a196c41e098d9a01896e448b4);
        
    
        var popup_08e52751c0e64efea2ac2b2b74e5bb99 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_0070efe2eba24fb7a4b1ad97423cdcbc = $(`<div id="html_0070efe2eba24fb7a4b1ad97423cdcbc" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>584</td>       <td>11926295</td>       <td>-84.0</td>       <td>29.0</td>       <td>1299.998</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_08e52751c0e64efea2ac2b2b74e5bb99.setContent(html_0070efe2eba24fb7a4b1ad97423cdcbc);
        

        circle_25dac41e20604f039dd2fbe9497fc652.bindPopup(popup_08e52751c0e64efea2ac2b2b74e5bb99)
        ;

        
    
    
            var circle_c8ae0a5a53874720be502b54052bce04 = L.circle(
                [34.97472996, 128.05332625],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "orange", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_d7a0445a196c41e098d9a01896e448b4);
        
    
        var popup_e0870e0a2eb249e1a0e02cfd553ee21a = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_20e9fe0cdcf14c289ba0574da9d76819 = $(`<div id="html_20e9fe0cdcf14c289ba0574da9d76819" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>112</td>       <td>12002327</td>       <td>-67.0</td>       <td>31.5</td>       <td>1111.735</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_e0870e0a2eb249e1a0e02cfd553ee21a.setContent(html_20e9fe0cdcf14c289ba0574da9d76819);
        

        circle_c8ae0a5a53874720be502b54052bce04.bindPopup(popup_e0870e0a2eb249e1a0e02cfd553ee21a)
        ;

        
    
    
            var circle_e594246eec154ea8a69ad82ea7e0d176 = L.circle(
                [34.97841054, 128.05177401],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_d7a0445a196c41e098d9a01896e448b4);
        
    
        var popup_d266a1ddfce8481d9f8382a951a077ef = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_43eb4e517aac42eaab043f2fe5e60cf9 = $(`<div id="html_43eb4e517aac42eaab043f2fe5e60cf9" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>112</td>       <td>12002327</td>       <td>-100.0</td>       <td>11.0</td>       <td>618.546</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_d266a1ddfce8481d9f8382a951a077ef.setContent(html_43eb4e517aac42eaab043f2fe5e60cf9);
        

        circle_e594246eec154ea8a69ad82ea7e0d176.bindPopup(popup_d266a1ddfce8481d9f8382a951a077ef)
        ;

        
    
    
            var circle_8c2546b9d6374d86ac14d752b35f0e35 = L.circle(
                [34.98063054, 128.04683124],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_d7a0445a196c41e098d9a01896e448b4);
        
    
        var popup_f02b4aa6a7f045eabd3137b61e376078 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_660472abc1c144d78e1f747aba7d3016 = $(`<div id="html_660472abc1c144d78e1f747aba7d3016" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>684</td>       <td>12249875</td>       <td>-103.0</td>       <td>6.5</td>       <td>502.958</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_f02b4aa6a7f045eabd3137b61e376078.setContent(html_660472abc1c144d78e1f747aba7d3016);
        

        circle_8c2546b9d6374d86ac14d752b35f0e35.bindPopup(popup_f02b4aa6a7f045eabd3137b61e376078)
        ;

        
    
    
            var circle_baf29eab568046279f151f10d3824670 = L.circle(
                [34.98273297, 128.04429025],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_d7a0445a196c41e098d9a01896e448b4);
        
    
        var popup_cf30aa8191794d9e84396ef258abd672 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_152c6c4ab29043349a1e6b2a051d8980 = $(`<div id="html_152c6c4ab29043349a1e6b2a051d8980" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>684</td>       <td>12249875</td>       <td>-92.0</td>       <td>11.0</td>       <td>690.457</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_cf30aa8191794d9e84396ef258abd672.setContent(html_152c6c4ab29043349a1e6b2a051d8980);
        

        circle_baf29eab568046279f151f10d3824670.bindPopup(popup_cf30aa8191794d9e84396ef258abd672)
        ;

        
    
    
            var circle_32ec2cadd15a4c7d8dbcbdac25998304 = L.circle(
                [34.98485869, 128.04420499],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_d7a0445a196c41e098d9a01896e448b4);
        
    
        var popup_b1200f13bc014d3ebf74e7f7f6b84f32 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_77d6f69f37f04fc087540b7088acab92 = $(`<div id="html_77d6f69f37f04fc087540b7088acab92" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>150</td>       <td>12249875</td>       <td>-100.0</td>       <td>7.0</td>       <td>366.679</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_b1200f13bc014d3ebf74e7f7f6b84f32.setContent(html_77d6f69f37f04fc087540b7088acab92);
        

        circle_32ec2cadd15a4c7d8dbcbdac25998304.bindPopup(popup_b1200f13bc014d3ebf74e7f7f6b84f32)
        ;

        
    
    
            var circle_d0c8ea53e35547839de9c2d75de43730 = L.circle(
                [34.9872273, 128.04369116],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_d7a0445a196c41e098d9a01896e448b4);
        
    
        var popup_56b24cf13eca4867914d470bdb99d6f3 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_1b5f13d6a85b427aba7a9032e9eb20a7 = $(`<div id="html_1b5f13d6a85b427aba7a9032e9eb20a7" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>150</td>       <td>12249875</td>       <td>-98.0</td>       <td>0.5</td>       <td>196.727</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_56b24cf13eca4867914d470bdb99d6f3.setContent(html_1b5f13d6a85b427aba7a9032e9eb20a7);
        

        circle_d0c8ea53e35547839de9c2d75de43730.bindPopup(popup_56b24cf13eca4867914d470bdb99d6f3)
        ;

        
    
    
            var circle_6d4b98ed1bb840ce8dd66c8492e47442 = L.circle(
                [34.98938429, 128.04252388],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_d7a0445a196c41e098d9a01896e448b4);
        
    
        var popup_a25c20b9c37a43ce84018d63258fcc3d = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_3a622075a9bf40359f38026e2049de78 = $(`<div id="html_3a622075a9bf40359f38026e2049de78" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>684</td>       <td>12249875</td>       <td>-94.0</td>       <td>13.5</td>       <td>395.308</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_a25c20b9c37a43ce84018d63258fcc3d.setContent(html_3a622075a9bf40359f38026e2049de78);
        

        circle_6d4b98ed1bb840ce8dd66c8492e47442.bindPopup(popup_a25c20b9c37a43ce84018d63258fcc3d)
        ;

        
    
    
            var circle_6124c31eebcd4ca28dc6f0be6709de23 = L.circle(
                [34.99116685, 128.04022274],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "yellow", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_d7a0445a196c41e098d9a01896e448b4);
        
    
        var popup_cf916d0a93b6435fb89dbb936b38dc74 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_7182d82c051145debbd32097639ee280 = $(`<div id="html_7182d82c051145debbd32097639ee280" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>465</td>       <td>12249867</td>       <td>-83.0</td>       <td>26.5</td>       <td>900.536</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_cf916d0a93b6435fb89dbb936b38dc74.setContent(html_7182d82c051145debbd32097639ee280);
        

        circle_6124c31eebcd4ca28dc6f0be6709de23.bindPopup(popup_cf916d0a93b6435fb89dbb936b38dc74)
        ;

        
    
    
            var circle_d1366df7c958475383b9c950a2747770 = L.circle(
                [34.99229836, 128.03972139],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_d7a0445a196c41e098d9a01896e448b4);
        
    
        var popup_2e02e3e249af42d79ea118f391644244 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_2bacd32e4f8b4f1e99fd7ff2ac51e13e = $(`<div id="html_2bacd32e4f8b4f1e99fd7ff2ac51e13e" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>465</td>       <td>12249867</td>       <td>-93.0</td>       <td>18.0</td>       <td>798.965</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_2e02e3e249af42d79ea118f391644244.setContent(html_2bacd32e4f8b4f1e99fd7ff2ac51e13e);
        

        circle_d1366df7c958475383b9c950a2747770.bindPopup(popup_2e02e3e249af42d79ea118f391644244)
        ;

        
    
    
            var circle_3c7de4a590a244c0acebe8d28e9a85b2 = L.circle(
                [34.99454275, 128.03953641],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_d7a0445a196c41e098d9a01896e448b4);
        
    
        var popup_69b8c971f7ff4c6ba6da3a4b0caa7c70 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_da519ad91e3747cd992187f871257db3 = $(`<div id="html_da519ad91e3747cd992187f871257db3" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>372</td>       <td>12249867</td>       <td>-88.0</td>       <td>3.6</td>       <td>135.495</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_69b8c971f7ff4c6ba6da3a4b0caa7c70.setContent(html_da519ad91e3747cd992187f871257db3);
        

        circle_3c7de4a590a244c0acebe8d28e9a85b2.bindPopup(popup_69b8c971f7ff4c6ba6da3a4b0caa7c70)
        ;

        
    
    
            var circle_ff04be2d62c54b1ea3d8a56fa6ba58ed = L.circle(
                [34.99567496, 128.03909987],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "black", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_d7a0445a196c41e098d9a01896e448b4);
        
    
        var popup_6b1df15b0cb047a4b26ccb19e17d581b = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_fd4e786c82d64f5ab7cfeb2425321e0e = $(`<div id="html_fd4e786c82d64f5ab7cfeb2425321e0e" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>465</td>       <td>12249727</td>       <td>-106.0</td>       <td>11.5</td>       <td>462.439</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_6b1df15b0cb047a4b26ccb19e17d581b.setContent(html_fd4e786c82d64f5ab7cfeb2425321e0e);
        

        circle_ff04be2d62c54b1ea3d8a56fa6ba58ed.bindPopup(popup_6b1df15b0cb047a4b26ccb19e17d581b)
        ;

        
    
    
            var circle_efe692ba036c423886ef389c8b19a635 = L.circle(
                [34.99698642, 128.03888846],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "black", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_d7a0445a196c41e098d9a01896e448b4);
        
    
        var popup_9f5775c90bec439c95978aa26f59ece3 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_5c8345509624429d98844f5dbc83d416 = $(`<div id="html_5c8345509624429d98844f5dbc83d416" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>465</td>       <td>12249727</td>       <td>-106.0</td>       <td>9.0</td>       <td>614.734</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_9f5775c90bec439c95978aa26f59ece3.setContent(html_5c8345509624429d98844f5dbc83d416);
        

        circle_efe692ba036c423886ef389c8b19a635.bindPopup(popup_9f5775c90bec439c95978aa26f59ece3)
        ;

        
    
    
            var circle_55857796105d473a9a86de56367d5b25 = L.circle(
                [34.99812599, 128.03895981],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_d7a0445a196c41e098d9a01896e448b4);
        
    
        var popup_3f7d53772916452fa769447d7baffdf6 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_fced435a1d31497aa4a1ba28c07bbbe6 = $(`<div id="html_fced435a1d31497aa4a1ba28c07bbbe6" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>465</td>       <td>12249727</td>       <td>-99.0</td>       <td>11.0</td>       <td>765.01</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_3f7d53772916452fa769447d7baffdf6.setContent(html_fced435a1d31497aa4a1ba28c07bbbe6);
        

        circle_55857796105d473a9a86de56367d5b25.bindPopup(popup_3f7d53772916452fa769447d7baffdf6)
        ;

        
    
    
            var circle_df7799fcd8c649bbbed9f4c5539fe513 = L.circle(
                [34.99936072, 128.04019649],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "orange", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_d7a0445a196c41e098d9a01896e448b4);
        
    
        var popup_abe3050e11b8492593569cfdbcd12f2a = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_e96b5d0949c24240b24522651e58d14c = $(`<div id="html_e96b5d0949c24240b24522651e58d14c" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>315</td>       <td>12249727</td>       <td>-73.0</td>       <td>23.6</td>       <td>449.137</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_abe3050e11b8492593569cfdbcd12f2a.setContent(html_e96b5d0949c24240b24522651e58d14c);
        

        circle_df7799fcd8c649bbbed9f4c5539fe513.bindPopup(popup_abe3050e11b8492593569cfdbcd12f2a)
        ;

        
    
    
            var circle_bc5c391aa3964eaebd8e6e2d052fe50d = L.circle(
                [34.99936589, 128.04014343],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "black", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 29.0, "stroke": true, "weight": 1}
            ).addTo(feature_group_d7a0445a196c41e098d9a01896e448b4);
        
    
        var popup_cf4151e1e2bc49718744974e20299fca = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_4139621ff6084ae887d5bc2f4cdf6b61 = $(`<div id="html_4139621ff6084ae887d5bc2f4cdf6b61" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>465</td>       <td>12249607</td>       <td>-110.0</td>       <td>5.0</td>       <td>732.132</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_cf4151e1e2bc49718744974e20299fca.setContent(html_4139621ff6084ae887d5bc2f4cdf6b61);
        

        circle_bc5c391aa3964eaebd8e6e2d052fe50d.bindPopup(popup_cf4151e1e2bc49718744974e20299fca)
        ;

        
    
</script>