<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_97204dc4de1a47d59dd4d03127d70cad {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_97204dc4de1a47d59dd4d03127d70cad" ></div>
        
</body>
<script>    
    
            var map_97204dc4de1a47d59dd4d03127d70cad = L.map(
                "map_97204dc4de1a47d59dd4d03127d70cad",
                {
                    center: [34.9706066, 128.06347966],
                    crs: L.CRS.EPSG3857,
                    zoom: 15,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_f70fe8e51ba848a4a286c9f8eefff645 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_97204dc4de1a47d59dd4d03127d70cad);
        
    
            var marker_80818b90b098469c81fa0aca157f4c17 = L.marker(
                [34.9706066, 128.06347966],
                {"iconSize": [10, 10]}
            ).addTo(map_97204dc4de1a47d59dd4d03127d70cad);
        
    
            var icon_f7866e562b114f27a7e9bff1bb0755ea = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "star", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_80818b90b098469c81fa0aca157f4c17.setIcon(icon_f7866e562b114f27a7e9bff1bb0755ea);
        
    
            var circle_3eaaaac77630491faf0a86c735b2d949 = L.circle(
                [34.9706066, 128.06347966],
                {"bubblingMouseEvents": true, "color": "#3186cc", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3186cc", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(map_97204dc4de1a47d59dd4d03127d70cad);
        
    
            var circle_81416a9609e74ed297ff3023c7a55946 = L.circle(
                [34.97072448, 128.06346171],
                {"bubblingMouseEvents": true, "color": "#3186cc", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3186cc", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(map_97204dc4de1a47d59dd4d03127d70cad);
        
    
            var circle_971ac17122c1452780715cb660e8a269 = L.circle(
                [34.97063366, 128.06336683],
                {"bubblingMouseEvents": true, "color": "#3186cc", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3186cc", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(map_97204dc4de1a47d59dd4d03127d70cad);
        
    
            var circle_a9d76c5423c74f8b868e97087a92a5fb = L.circle(
                [34.97069298, 128.06342172],
                {"bubblingMouseEvents": true, "color": "#3186cc", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3186cc", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(map_97204dc4de1a47d59dd4d03127d70cad);
        
    
            var circle_c582478adcd94742863fd89b62151b2c = L.circle(
                [34.97059799, 128.06343259],
                {"bubblingMouseEvents": true, "color": "#3186cc", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3186cc", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(map_97204dc4de1a47d59dd4d03127d70cad);
        
    
            var circle_beda2b50e2ba4cd4a05d74f289e44580 = L.circle(
                [34.97056205, 128.0633391],
                {"bubblingMouseEvents": true, "color": "#3186cc", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3186cc", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(map_97204dc4de1a47d59dd4d03127d70cad);
        
    
            var circle_7e4f732be40f4fc0b0ce504a52530dc1 = L.circle(
                [34.97061529, 128.06341001],
                {"bubblingMouseEvents": true, "color": "#3186cc", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3186cc", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(map_97204dc4de1a47d59dd4d03127d70cad);
        
    
            var circle_f1db792f47cb4a9392471d4e98f55fa1 = L.circle(
                [34.97061737, 128.06342272],
                {"bubblingMouseEvents": true, "color": "#3186cc", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3186cc", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(map_97204dc4de1a47d59dd4d03127d70cad);
        
    
            var circle_9be2311bac5b47618b7d2cd6fdd2d358 = L.circle(
                [34.97062689, 128.06342205],
                {"bubblingMouseEvents": true, "color": "#3186cc", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3186cc", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(map_97204dc4de1a47d59dd4d03127d70cad);
        
    
            var circle_5261592e345a4f13b84d95fb0e53e96c = L.circle(
                [34.97064908, 128.06259016],
                {"bubblingMouseEvents": true, "color": "#3186cc", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3186cc", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(map_97204dc4de1a47d59dd4d03127d70cad);
        
    
            var circle_19a7ce19853149f1a24f626c8fb499be = L.circle(
                [34.97065849, 128.06261364],
                {"bubblingMouseEvents": true, "color": "#3186cc", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3186cc", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(map_97204dc4de1a47d59dd4d03127d70cad);
        
    
            var circle_b2986d54e8c14833873a1eb8d90a04b7 = L.circle(
                [34.97061284, 128.06264715],
                {"bubblingMouseEvents": true, "color": "#3186cc", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3186cc", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(map_97204dc4de1a47d59dd4d03127d70cad);
        
    
            var circle_4fe7edcfc5c04c2a841c0d62a635f382 = L.circle(
                [34.96982279, 128.06275588],
                {"bubblingMouseEvents": true, "color": "#3186cc", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3186cc", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(map_97204dc4de1a47d59dd4d03127d70cad);
        
    
            var circle_11475054793e40f48bf0d2044737c322 = L.circle(
                [34.9694144, 128.06310709],
                {"bubblingMouseEvents": true, "color": "#3186cc", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3186cc", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(map_97204dc4de1a47d59dd4d03127d70cad);
        
</script>