<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_f4c51121b0fd41bb992544edf8d62c64 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_f4c51121b0fd41bb992544edf8d62c64" ></div>
        
</body>
<script>    
    
            var map_f4c51121b0fd41bb992544edf8d62c64 = L.map(
                "map_f4c51121b0fd41bb992544edf8d62c64",
                {
                    center: [34.9706066, 128.06347966],
                    crs: L.CRS.EPSG3857,
                    zoom: 15,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_8e65434421fb4297a2a871f46c67b39a = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_f4c51121b0fd41bb992544edf8d62c64);
        
    
            var marker_d396ddc7d4b547958024722025e32782 = L.marker(
                [34.9706066, 128.06347966],
                {"iconSize": [10, 10]}
            ).addTo(map_f4c51121b0fd41bb992544edf8d62c64);
        
    
            var icon_808b3a53123f4ca2b682e5cfcbcf956c = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "star", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_d396ddc7d4b547958024722025e32782.setIcon(icon_808b3a53123f4ca2b682e5cfcbcf956c);
        
    
            var poly_line_9ced682f9b924a9284ec60de1fa300b3 = L.polyline(
                [[34.97072448, 128.06346171], [34.97059799, 128.06343259], [34.97061737, 128.06342272], [34.97065849, 128.06261364], [34.9694144, 128.06310709], [34.96770384, 128.06373825], [34.96721585, 128.06243022], [34.9713635, 128.06102473], [34.97563617, 128.05911748], [34.97496376, 128.05329113], [34.9785288, 128.0509105], [34.98088603, 128.04674483], [34.98297066, 128.0440612], [34.98514878, 128.04446505], [34.98893879, 128.04281823], [34.99063521, 128.04052412], [34.9920483, 128.03980464], [34.99370276, 128.03946433], [34.99603788, 128.0390232], [34.99724881, 128.03891954], [34.99848179, 128.03925954], [34.99911087, 128.03990291], [34.99929481, 128.04008768], [34.99929481, 128.04008768], [34.99072945, 128.04527499], [34.99073298, 128.04528552], [34.99087293, 128.0466654], [34.99139042, 128.05099043], [34.99137128, 128.05101259], [34.99138122, 128.0510124], [34.99138108, 128.05129066], [34.99057279, 128.05463247]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_f4c51121b0fd41bb992544edf8d62c64);
        
    
            var feature_group_feea2813d78441a6bf67530fb2a63de5 = L.featureGroup(
                {}
            ).addTo(map_f4c51121b0fd41bb992544edf8d62c64);
        
    
            var circle_cf20392cb43544a59d73b5df125cb32f = L.circle(
                [34.97072448, 128.06346171],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 25, "stroke": true, "weight": 1}
            ).addTo(feature_group_feea2813d78441a6bf67530fb2a63de5);
        
    
        var popup_3705ebeab4be452f89f70f914331fcc2 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_b6313593872948069fbca588b30ed6fc = $(`<div id="html_b6313593872948069fbca588b30ed6fc" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <td align="center">PCI</th>       <td align="center">Cell ID</th>       <td align="center">DL</th>       <td align="center">UL</th>       <td align="center">RSRP</th>       <td align="center">SINR</th>     </tr>   </thead>   <tbody>     <tr>       <td align="center">154</td>       <td align="center">44342024</td>       <td align="center">None</td>       <td align="center">29.931</td>       <td align="center">-102.0</td>       <td align="center">15.5</td>     </tr>   </tbody> </table></div>`)[0];
            popup_3705ebeab4be452f89f70f914331fcc2.setContent(html_b6313593872948069fbca588b30ed6fc);
        

        circle_cf20392cb43544a59d73b5df125cb32f.bindPopup(popup_3705ebeab4be452f89f70f914331fcc2)
        ;

        
    
    
            var circle_c6956a829ff54708b79d60ea06f8c7b3 = L.circle(
                [34.97059799, 128.06343259],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 25, "stroke": true, "weight": 1}
            ).addTo(feature_group_feea2813d78441a6bf67530fb2a63de5);
        
    
        var popup_87a5cdfbd8004f50abfd4be44f3051f8 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_236a3b75ba19432f80f952986fc97212 = $(`<div id="html_236a3b75ba19432f80f952986fc97212" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <td align="center">PCI</th>       <td align="center">Cell ID</th>       <td align="center">DL</th>       <td align="center">UL</th>       <td align="center">RSRP</th>       <td align="center">SINR</th>     </tr>   </thead>   <tbody>     <tr>       <td align="center">154</td>       <td align="center">44342024</td>       <td align="center">None</td>       <td align="center">38.935</td>       <td align="center">-103.0</td>       <td align="center">16.5</td>     </tr>   </tbody> </table></div>`)[0];
            popup_87a5cdfbd8004f50abfd4be44f3051f8.setContent(html_236a3b75ba19432f80f952986fc97212);
        

        circle_c6956a829ff54708b79d60ea06f8c7b3.bindPopup(popup_87a5cdfbd8004f50abfd4be44f3051f8)
        ;

        
    
    
            var circle_004924aad1f94d588794566c9b7edac4 = L.circle(
                [34.97061737, 128.06342272],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 25, "stroke": true, "weight": 1}
            ).addTo(feature_group_feea2813d78441a6bf67530fb2a63de5);
        
    
        var popup_56c7bcf20d7c490f81f070758073ddd3 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_6dfa296ae59f4880ad7203291ca77c68 = $(`<div id="html_6dfa296ae59f4880ad7203291ca77c68" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <td align="center">PCI</th>       <td align="center">Cell ID</th>       <td align="center">DL</th>       <td align="center">UL</th>       <td align="center">RSRP</th>       <td align="center">SINR</th>     </tr>   </thead>   <tbody>     <tr>       <td align="center">154</td>       <td align="center">44342024</td>       <td align="center">None</td>       <td align="center">43.3</td>       <td align="center">-104.0</td>       <td align="center">17.5</td>     </tr>   </tbody> </table></div>`)[0];
            popup_56c7bcf20d7c490f81f070758073ddd3.setContent(html_6dfa296ae59f4880ad7203291ca77c68);
        

        circle_004924aad1f94d588794566c9b7edac4.bindPopup(popup_56c7bcf20d7c490f81f070758073ddd3)
        ;

        
    
    
            var circle_2d1a28abc4ac4dc69420c364128702e7 = L.circle(
                [34.97065849, 128.06261364],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 25, "stroke": true, "weight": 1}
            ).addTo(feature_group_feea2813d78441a6bf67530fb2a63de5);
        
    
        var popup_1a5f4d58a4e043acaa2bb359c362915d = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_3233483cff6446648aef220d778317ca = $(`<div id="html_3233483cff6446648aef220d778317ca" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <td align="center">PCI</th>       <td align="center">Cell ID</th>       <td align="center">DL</th>       <td align="center">UL</th>       <td align="center">RSRP</th>       <td align="center">SINR</th>     </tr>   </thead>   <tbody>     <tr>       <td align="center">154</td>       <td align="center">44342024</td>       <td align="center">None</td>       <td align="center">84.155</td>       <td align="center">-100.0</td>       <td align="center">18.0</td>     </tr>   </tbody> </table></div>`)[0];
            popup_1a5f4d58a4e043acaa2bb359c362915d.setContent(html_3233483cff6446648aef220d778317ca);
        

        circle_2d1a28abc4ac4dc69420c364128702e7.bindPopup(popup_1a5f4d58a4e043acaa2bb359c362915d)
        ;

        
    
    
            var circle_47a0f0ca25994c03a625e2070925df12 = L.circle(
                [34.9694144, 128.06310709],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "yellow", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 25, "stroke": true, "weight": 1}
            ).addTo(feature_group_feea2813d78441a6bf67530fb2a63de5);
        
    
        var popup_8a1b3d6556384eeb8d4fa894f9f0abbf = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_d9c0bca1b7784a98ab6d61f2519a09bd = $(`<div id="html_d9c0bca1b7784a98ab6d61f2519a09bd" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <td align="center">PCI</th>       <td align="center">Cell ID</th>       <td align="center">DL</th>       <td align="center">UL</th>       <td align="center">RSRP</th>       <td align="center">SINR</th>     </tr>   </thead>   <tbody>     <tr>       <td align="center">174</td>       <td align="center">44342287</td>       <td align="center">None</td>       <td align="center">93.474</td>       <td align="center">-79.0</td>       <td align="center">23.5</td>     </tr>   </tbody> </table></div>`)[0];
            popup_8a1b3d6556384eeb8d4fa894f9f0abbf.setContent(html_d9c0bca1b7784a98ab6d61f2519a09bd);
        

        circle_47a0f0ca25994c03a625e2070925df12.bindPopup(popup_8a1b3d6556384eeb8d4fa894f9f0abbf)
        ;

        
    
    
            var circle_a10eb39f7aaa400ca7160b6f01bd8b84 = L.circle(
                [34.96770384, 128.06373825],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "yellow", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 25, "stroke": true, "weight": 1}
            ).addTo(feature_group_feea2813d78441a6bf67530fb2a63de5);
        
    
        var popup_bfe363c2782d457eaa5d494dcb243ab5 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_48fa81dfcf834c6e9f79a802ef52cd1a = $(`<div id="html_48fa81dfcf834c6e9f79a802ef52cd1a" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <td align="center">PCI</th>       <td align="center">Cell ID</th>       <td align="center">DL</th>       <td align="center">UL</th>       <td align="center">RSRP</th>       <td align="center">SINR</th>     </tr>   </thead>   <tbody>     <tr>       <td align="center">174</td>       <td align="center">44342287</td>       <td align="center">None</td>       <td align="center">107.08</td>       <td align="center">-84.0</td>       <td align="center">21.0</td>     </tr>   </tbody> </table></div>`)[0];
            popup_bfe363c2782d457eaa5d494dcb243ab5.setContent(html_48fa81dfcf834c6e9f79a802ef52cd1a);
        

        circle_a10eb39f7aaa400ca7160b6f01bd8b84.bindPopup(popup_bfe363c2782d457eaa5d494dcb243ab5)
        ;

        
    
    
            var circle_fb14deb44c5a4c5a9b0da6c2392ea307 = L.circle(
                [34.96721585, 128.06243022],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "orange", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 25, "stroke": true, "weight": 1}
            ).addTo(feature_group_feea2813d78441a6bf67530fb2a63de5);
        
    
        var popup_23a91223030e42fcbda264495026ce0d = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_d5e944a0cf714dccbc6e47f8ef2d9e0c = $(`<div id="html_d5e944a0cf714dccbc6e47f8ef2d9e0c" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <td align="center">PCI</th>       <td align="center">Cell ID</th>       <td align="center">DL</th>       <td align="center">UL</th>       <td align="center">RSRP</th>       <td align="center">SINR</th>     </tr>   </thead>   <tbody>     <tr>       <td align="center">159</td>       <td align="center">44342028</td>       <td align="center">None</td>       <td align="center">154.03</td>       <td align="center">-73.0</td>       <td align="center">29.5</td>     </tr>   </tbody> </table></div>`)[0];
            popup_23a91223030e42fcbda264495026ce0d.setContent(html_d5e944a0cf714dccbc6e47f8ef2d9e0c);
        

        circle_fb14deb44c5a4c5a9b0da6c2392ea307.bindPopup(popup_23a91223030e42fcbda264495026ce0d)
        ;

        
    
    
            var circle_b04c64a9f5dc405197cdb66a736ad70d = L.circle(
                [34.9713635, 128.06102473],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 25, "stroke": true, "weight": 1}
            ).addTo(feature_group_feea2813d78441a6bf67530fb2a63de5);
        
    
        var popup_42ca58bae78040e39d5af5ec0b316827 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_fc612aad8f1b4ec997d79dad1cd86f96 = $(`<div id="html_fc612aad8f1b4ec997d79dad1cd86f96" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <td align="center">PCI</th>       <td align="center">Cell ID</th>       <td align="center">DL</th>       <td align="center">UL</th>       <td align="center">RSRP</th>       <td align="center">SINR</th>     </tr>   </thead>   <tbody>     <tr>       <td align="center">154</td>       <td align="center">44342278</td>       <td align="center">None</td>       <td align="center">116.831</td>       <td align="center">-86.0</td>       <td align="center">29.5</td>     </tr>   </tbody> </table></div>`)[0];
            popup_42ca58bae78040e39d5af5ec0b316827.setContent(html_fc612aad8f1b4ec997d79dad1cd86f96);
        

        circle_b04c64a9f5dc405197cdb66a736ad70d.bindPopup(popup_42ca58bae78040e39d5af5ec0b316827)
        ;

        
    
    
            var circle_8029e3472296430793fe8aefd9a0de37 = L.circle(
                [34.97563617, 128.05911748],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 25, "stroke": true, "weight": 1}
            ).addTo(feature_group_feea2813d78441a6bf67530fb2a63de5);
        
    
        var popup_d81235e1a0664baaa5a48605b14bac22 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_571abce40e9d461b83f31bd2df3b5ed8 = $(`<div id="html_571abce40e9d461b83f31bd2df3b5ed8" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <td align="center">PCI</th>       <td align="center">Cell ID</th>       <td align="center">DL</th>       <td align="center">UL</th>       <td align="center">RSRP</th>       <td align="center">SINR</th>     </tr>   </thead>   <tbody>     <tr>       <td align="center">149</td>       <td align="center">44342024</td>       <td align="center">None</td>       <td align="center">113.804</td>       <td align="center">-90.0</td>       <td align="center">28.5</td>     </tr>   </tbody> </table></div>`)[0];
            popup_d81235e1a0664baaa5a48605b14bac22.setContent(html_571abce40e9d461b83f31bd2df3b5ed8);
        

        circle_8029e3472296430793fe8aefd9a0de37.bindPopup(popup_d81235e1a0664baaa5a48605b14bac22)
        ;

        
    
    
            var circle_48f830c27543413a9cc83e5c7c65c68a = L.circle(
                [34.97496376, 128.05329113],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "yellow", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 25, "stroke": true, "weight": 1}
            ).addTo(feature_group_feea2813d78441a6bf67530fb2a63de5);
        
    
        var popup_7f1384cf7c7f461d9f01721d5d55074c = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_f10637e9ebc042178692072256237694 = $(`<div id="html_f10637e9ebc042178692072256237694" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <td align="center">PCI</th>       <td align="center">Cell ID</th>       <td align="center">DL</th>       <td align="center">UL</th>       <td align="center">RSRP</th>       <td align="center">SINR</th>     </tr>   </thead>   <tbody>     <tr>       <td align="center">376</td>       <td align="center">44342024</td>       <td align="center">None</td>       <td align="center">21.123</td>       <td align="center">-81.0</td>       <td align="center">15.8</td>     </tr>   </tbody> </table></div>`)[0];
            popup_7f1384cf7c7f461d9f01721d5d55074c.setContent(html_f10637e9ebc042178692072256237694);
        

        circle_48f830c27543413a9cc83e5c7c65c68a.bindPopup(popup_7f1384cf7c7f461d9f01721d5d55074c)
        ;

        
    
    
            var circle_1517d04581b340fc8150f6e6a18a887f = L.circle(
                [34.9785288, 128.0509105],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "yellow", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 25, "stroke": true, "weight": 1}
            ).addTo(feature_group_feea2813d78441a6bf67530fb2a63de5);
        
    
        var popup_5784122af3ae44eca777fdeff4ce338b = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_b7aed07930b3468d9f839ed1f40eab6a = $(`<div id="html_b7aed07930b3468d9f839ed1f40eab6a" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <td align="center">PCI</th>       <td align="center">Cell ID</th>       <td align="center">DL</th>       <td align="center">UL</th>       <td align="center">RSRP</th>       <td align="center">SINR</th>     </tr>   </thead>   <tbody>     <tr>       <td align="center">57</td>       <td align="center">44342288</td>       <td align="center">None</td>       <td align="center">23.6</td>       <td align="center">-81.0</td>       <td align="center">-0.4</td>     </tr>   </tbody> </table></div>`)[0];
            popup_5784122af3ae44eca777fdeff4ce338b.setContent(html_b7aed07930b3468d9f839ed1f40eab6a);
        

        circle_1517d04581b340fc8150f6e6a18a887f.bindPopup(popup_5784122af3ae44eca777fdeff4ce338b)
        ;

        
    
    
            var circle_6b8f1f1029244d199e029477f7dca63a = L.circle(
                [34.98088603, 128.04674483],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "yellow", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 25, "stroke": true, "weight": 1}
            ).addTo(feature_group_feea2813d78441a6bf67530fb2a63de5);
        
    
        var popup_55b30823c28b4487880d2df97f71828d = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_2660f3327c84458eb250c2936f8e9ff7 = $(`<div id="html_2660f3327c84458eb250c2936f8e9ff7" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <td align="center">PCI</th>       <td align="center">Cell ID</th>       <td align="center">DL</th>       <td align="center">UL</th>       <td align="center">RSRP</th>       <td align="center">SINR</th>     </tr>   </thead>   <tbody>     <tr>       <td align="center">10</td>       <td align="center">44342031</td>       <td align="center">None</td>       <td align="center">121.039</td>       <td align="center">-77.0</td>       <td align="center">30.0</td>     </tr>   </tbody> </table></div>`)[0];
            popup_55b30823c28b4487880d2df97f71828d.setContent(html_2660f3327c84458eb250c2936f8e9ff7);
        

        circle_6b8f1f1029244d199e029477f7dca63a.bindPopup(popup_55b30823c28b4487880d2df97f71828d)
        ;

        
    
    
            var circle_d36ea8bcd29f4c65b3f725ad358280c6 = L.circle(
                [34.98297066, 128.0440612],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 25, "stroke": true, "weight": 1}
            ).addTo(feature_group_feea2813d78441a6bf67530fb2a63de5);
        
    
        var popup_fa5e891a77344d1db27c91393482c58f = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_540421c9c7144106a02ab1d322430761 = $(`<div id="html_540421c9c7144106a02ab1d322430761" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <td align="center">PCI</th>       <td align="center">Cell ID</th>       <td align="center">DL</th>       <td align="center">UL</th>       <td align="center">RSRP</th>       <td align="center">SINR</th>     </tr>   </thead>   <tbody>     <tr>       <td align="center">10</td>       <td align="center">42399776</td>       <td align="center">None</td>       <td align="center">32.015</td>       <td align="center">-99.0</td>       <td align="center">15.0</td>     </tr>   </tbody> </table></div>`)[0];
            popup_fa5e891a77344d1db27c91393482c58f.setContent(html_540421c9c7144106a02ab1d322430761);
        

        circle_d36ea8bcd29f4c65b3f725ad358280c6.bindPopup(popup_fa5e891a77344d1db27c91393482c58f)
        ;

        
    
    
            var circle_c547c3feffe841f186c779e71e6667f3 = L.circle(
                [34.98514878, 128.04446505],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "black", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 25, "stroke": true, "weight": 1}
            ).addTo(feature_group_feea2813d78441a6bf67530fb2a63de5);
        
    
        var popup_31730ab44e4747fabb628c38ec88d049 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_4dd6c29b02af4d868ee638ede0830958 = $(`<div id="html_4dd6c29b02af4d868ee638ede0830958" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <td align="center">PCI</th>       <td align="center">Cell ID</th>       <td align="center">DL</th>       <td align="center">UL</th>       <td align="center">RSRP</th>       <td align="center">SINR</th>     </tr>   </thead>   <tbody>     <tr>       <td align="center">10</td>       <td align="center">42399776</td>       <td align="center">None</td>       <td align="center">28.987</td>       <td align="center">-106.0</td>       <td align="center">13.0</td>     </tr>   </tbody> </table></div>`)[0];
            popup_31730ab44e4747fabb628c38ec88d049.setContent(html_4dd6c29b02af4d868ee638ede0830958);
        

        circle_c547c3feffe841f186c779e71e6667f3.bindPopup(popup_31730ab44e4747fabb628c38ec88d049)
        ;

        
    
    
            var circle_6a925eb00eac4c3a9f11122f74d97205 = L.circle(
                [34.98893879, 128.04281823],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "black", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 25, "stroke": true, "weight": 1}
            ).addTo(feature_group_feea2813d78441a6bf67530fb2a63de5);
        
    
        var popup_b23a2c41589c44bfab91e2f7809ddb39 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_bbbc7d33a32145e4a5b1e95930c311bd = $(`<div id="html_bbbc7d33a32145e4a5b1e95930c311bd" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <td align="center">PCI</th>       <td align="center">Cell ID</th>       <td align="center">DL</th>       <td align="center">UL</th>       <td align="center">RSRP</th>       <td align="center">SINR</th>     </tr>   </thead>   <tbody>     <tr>       <td align="center">None</td>       <td align="center">44342022</td>       <td align="center">None</td>       <td align="center">0.0</td>       <td align="center">None</td>       <td align="center">0.0</td>     </tr>   </tbody> </table></div>`)[0];
            popup_b23a2c41589c44bfab91e2f7809ddb39.setContent(html_bbbc7d33a32145e4a5b1e95930c311bd);
        

        circle_6a925eb00eac4c3a9f11122f74d97205.bindPopup(popup_b23a2c41589c44bfab91e2f7809ddb39)
        ;

        
    
    
            var circle_4d3277789e084d308a0838e1852217c1 = L.circle(
                [34.99063521, 128.04052412],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "orange", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 25, "stroke": true, "weight": 1}
            ).addTo(feature_group_feea2813d78441a6bf67530fb2a63de5);
        
    
        var popup_ee407a95cbde4a4cb2d3bda9871b564a = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_0c32f3b2f9ec40569a30b003f995a1c8 = $(`<div id="html_0c32f3b2f9ec40569a30b003f995a1c8" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <td align="center">PCI</th>       <td align="center">Cell ID</th>       <td align="center">DL</th>       <td align="center">UL</th>       <td align="center">RSRP</th>       <td align="center">SINR</th>     </tr>   </thead>   <tbody>     <tr>       <td align="center">362</td>       <td align="center">44342022</td>       <td align="center">None</td>       <td align="center">43.182</td>       <td align="center">-75.0</td>       <td align="center">24.2</td>     </tr>   </tbody> </table></div>`)[0];
            popup_ee407a95cbde4a4cb2d3bda9871b564a.setContent(html_0c32f3b2f9ec40569a30b003f995a1c8);
        

        circle_4d3277789e084d308a0838e1852217c1.bindPopup(popup_ee407a95cbde4a4cb2d3bda9871b564a)
        ;

        
    
    
            var circle_8482047ed7eb42e9a8ad4139c98a008a = L.circle(
                [34.9920483, 128.03980464],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 25, "stroke": true, "weight": 1}
            ).addTo(feature_group_feea2813d78441a6bf67530fb2a63de5);
        
    
        var popup_beaf3120431a470a97845178e21c882a = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_6b0554d98b084661b931d5b36d1857b4 = $(`<div id="html_6b0554d98b084661b931d5b36d1857b4" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <td align="center">PCI</th>       <td align="center">Cell ID</th>       <td align="center">DL</th>       <td align="center">UL</th>       <td align="center">RSRP</th>       <td align="center">SINR</th>     </tr>   </thead>   <tbody>     <tr>       <td align="center">261</td>       <td align="center">42399257</td>       <td align="center">None</td>       <td align="center">25.684</td>       <td align="center">-86.0</td>       <td align="center">8.6</td>     </tr>   </tbody> </table></div>`)[0];
            popup_beaf3120431a470a97845178e21c882a.setContent(html_6b0554d98b084661b931d5b36d1857b4);
        

        circle_8482047ed7eb42e9a8ad4139c98a008a.bindPopup(popup_beaf3120431a470a97845178e21c882a)
        ;

        
    
    
            var circle_eda7775a971d483aa69ff8fe739984a5 = L.circle(
                [34.99370276, 128.03946433],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "black", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 25, "stroke": true, "weight": 1}
            ).addTo(feature_group_feea2813d78441a6bf67530fb2a63de5);
        
    
        var popup_c5040db5e85c4bc994f81da3cbeeba8f = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_aeaba3f4f8f74b248f3615f82c74f4ae = $(`<div id="html_aeaba3f4f8f74b248f3615f82c74f4ae" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <td align="center">PCI</th>       <td align="center">Cell ID</th>       <td align="center">DL</th>       <td align="center">UL</th>       <td align="center">RSRP</th>       <td align="center">SINR</th>     </tr>   </thead>   <tbody>     <tr>       <td align="center">None</td>       <td align="center">42399257</td>       <td align="center">None</td>       <td align="center">0.0</td>       <td align="center">None</td>       <td align="center">0.0</td>     </tr>   </tbody> </table></div>`)[0];
            popup_c5040db5e85c4bc994f81da3cbeeba8f.setContent(html_aeaba3f4f8f74b248f3615f82c74f4ae);
        

        circle_eda7775a971d483aa69ff8fe739984a5.bindPopup(popup_c5040db5e85c4bc994f81da3cbeeba8f)
        ;

        
    
    
            var circle_fcb931d0b04e4f6e835e42eb6831b34f = L.circle(
                [34.99603788, 128.0390232],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "black", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 25, "stroke": true, "weight": 1}
            ).addTo(feature_group_feea2813d78441a6bf67530fb2a63de5);
        
    
        var popup_f9ca8a32e12242fcb515df32f776df45 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_9924d7b137784c1db83d2efe8d79edbf = $(`<div id="html_9924d7b137784c1db83d2efe8d79edbf" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <td align="center">PCI</th>       <td align="center">Cell ID</th>       <td align="center">DL</th>       <td align="center">UL</th>       <td align="center">RSRP</th>       <td align="center">SINR</th>     </tr>   </thead>   <tbody>     <tr>       <td align="center">None</td>       <td align="center">42399257</td>       <td align="center">None</td>       <td align="center">0.0</td>       <td align="center">None</td>       <td align="center">0.0</td>     </tr>   </tbody> </table></div>`)[0];
            popup_f9ca8a32e12242fcb515df32f776df45.setContent(html_9924d7b137784c1db83d2efe8d79edbf);
        

        circle_fcb931d0b04e4f6e835e42eb6831b34f.bindPopup(popup_f9ca8a32e12242fcb515df32f776df45)
        ;

        
    
    
            var circle_ece8c1553a2c45a4aa4a0561d0231665 = L.circle(
                [34.99724881, 128.03891954],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "black", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 25, "stroke": true, "weight": 1}
            ).addTo(feature_group_feea2813d78441a6bf67530fb2a63de5);
        
    
        var popup_42587bd1fd4a4471b1623d6fccf0cdfb = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_aafc267a5ec240388c787d7887a309f3 = $(`<div id="html_aafc267a5ec240388c787d7887a309f3" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <td align="center">PCI</th>       <td align="center">Cell ID</th>       <td align="center">DL</th>       <td align="center">UL</th>       <td align="center">RSRP</th>       <td align="center">SINR</th>     </tr>   </thead>   <tbody>     <tr>       <td align="center">456</td>       <td align="center">42399257</td>       <td align="center">None</td>       <td align="center">45.266</td>       <td align="center">0.0</td>       <td align="center">0.0</td>     </tr>   </tbody> </table></div>`)[0];
            popup_42587bd1fd4a4471b1623d6fccf0cdfb.setContent(html_aafc267a5ec240388c787d7887a309f3);
        

        circle_ece8c1553a2c45a4aa4a0561d0231665.bindPopup(popup_42587bd1fd4a4471b1623d6fccf0cdfb)
        ;

        
    
    
            var circle_8ad74cd691ea4e26ab0faa36c55b67c0 = L.circle(
                [34.99848179, 128.03925954],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 25, "stroke": true, "weight": 1}
            ).addTo(feature_group_feea2813d78441a6bf67530fb2a63de5);
        
    
        var popup_1dbb9301e7ce4066aa7b13231976025c = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_3c9f699a14fd4e48878ddd338e8901c0 = $(`<div id="html_3c9f699a14fd4e48878ddd338e8901c0" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <td align="center">PCI</th>       <td align="center">Cell ID</th>       <td align="center">DL</th>       <td align="center">UL</th>       <td align="center">RSRP</th>       <td align="center">SINR</th>     </tr>   </thead>   <tbody>     <tr>       <td align="center">261</td>       <td align="center">42399257</td>       <td align="center">None</td>       <td align="center">27.65</td>       <td align="center">-95.0</td>       <td align="center">10.0</td>     </tr>   </tbody> </table></div>`)[0];
            popup_1dbb9301e7ce4066aa7b13231976025c.setContent(html_3c9f699a14fd4e48878ddd338e8901c0);
        

        circle_8ad74cd691ea4e26ab0faa36c55b67c0.bindPopup(popup_1dbb9301e7ce4066aa7b13231976025c)
        ;

        
    
    
            var circle_79adcbeee1054f0b9b1e2abaa5399128 = L.circle(
                [34.99911087, 128.03990291],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 25, "stroke": true, "weight": 1}
            ).addTo(feature_group_feea2813d78441a6bf67530fb2a63de5);
        
    
        var popup_910f194323a14205a87a43f5ecc247d8 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_b92783bdc20a4d798c932cc4bfeccb7b = $(`<div id="html_b92783bdc20a4d798c932cc4bfeccb7b" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <td align="center">PCI</th>       <td align="center">Cell ID</th>       <td align="center">DL</th>       <td align="center">UL</th>       <td align="center">RSRP</th>       <td align="center">SINR</th>     </tr>   </thead>   <tbody>     <tr>       <td align="center">261</td>       <td align="center">42399257</td>       <td align="center">None</td>       <td align="center">13.219</td>       <td align="center">-89.0</td>       <td align="center">7.0</td>     </tr>   </tbody> </table></div>`)[0];
            popup_910f194323a14205a87a43f5ecc247d8.setContent(html_b92783bdc20a4d798c932cc4bfeccb7b);
        

        circle_79adcbeee1054f0b9b1e2abaa5399128.bindPopup(popup_910f194323a14205a87a43f5ecc247d8)
        ;

        
    
    
            var circle_dc991bec3e844effb39136e9fa272a5e = L.circle(
                [34.99929481, 128.04008768],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 25, "stroke": true, "weight": 1}
            ).addTo(feature_group_feea2813d78441a6bf67530fb2a63de5);
        
    
        var popup_c36e77eab2b643c5ac4d0f93dbdaf7f1 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_2c56cb55ab64498ab06abed1a36b1b6a = $(`<div id="html_2c56cb55ab64498ab06abed1a36b1b6a" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <td align="center">PCI</th>       <td align="center">Cell ID</th>       <td align="center">DL</th>       <td align="center">UL</th>       <td align="center">RSRP</th>       <td align="center">SINR</th>     </tr>   </thead>   <tbody>     <tr>       <td align="center">300</td>       <td align="center">42074390</td>       <td align="center">None</td>       <td align="center">23.207</td>       <td align="center">-95.0</td>       <td align="center">2.8</td>     </tr>   </tbody> </table></div>`)[0];
            popup_c36e77eab2b643c5ac4d0f93dbdaf7f1.setContent(html_2c56cb55ab64498ab06abed1a36b1b6a);
        

        circle_dc991bec3e844effb39136e9fa272a5e.bindPopup(popup_c36e77eab2b643c5ac4d0f93dbdaf7f1)
        ;

        
    
    
            var circle_84875da9d94145f5be49996c5badba9a = L.circle(
                [34.99929481, 128.04008768],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "black", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 25, "stroke": true, "weight": 1}
            ).addTo(feature_group_feea2813d78441a6bf67530fb2a63de5);
        
    
        var popup_28fe57ddeeeb4393913fd2fd3060e2f7 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_7fac1115dc564adb9fd9474a2d427b5f = $(`<div id="html_7fac1115dc564adb9fd9474a2d427b5f" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <td align="center">PCI</th>       <td align="center">Cell ID</th>       <td align="center">DL</th>       <td align="center">UL</th>       <td align="center">RSRP</th>       <td align="center">SINR</th>     </tr>   </thead>   <tbody>     <tr>       <td align="center">0</td>       <td align="center">42074390</td>       <td align="center">None</td>       <td align="center">20.926</td>       <td align="center">0.0</td>       <td align="center">0.0</td>     </tr>   </tbody> </table></div>`)[0];
            popup_28fe57ddeeeb4393913fd2fd3060e2f7.setContent(html_7fac1115dc564adb9fd9474a2d427b5f);
        

        circle_84875da9d94145f5be49996c5badba9a.bindPopup(popup_28fe57ddeeeb4393913fd2fd3060e2f7)
        ;

        
    
    
            var circle_298a82b64dbc490192c63a6ad314b7c6 = L.circle(
                [34.99072945, 128.04527499],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "black", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 25, "stroke": true, "weight": 1}
            ).addTo(feature_group_feea2813d78441a6bf67530fb2a63de5);
        
    
        var popup_e2e76fc422584860b8ef6ef7c6bab2b9 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_c9c76f72ca264eab9a6caedf412f108f = $(`<div id="html_c9c76f72ca264eab9a6caedf412f108f" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <td align="center">PCI</th>       <td align="center">Cell ID</th>       <td align="center">DL</th>       <td align="center">UL</th>       <td align="center">RSRP</th>       <td align="center">SINR</th>     </tr>   </thead>   <tbody>     <tr>       <td align="center">456</td>       <td align="center">44342022</td>       <td align="center">None</td>       <td align="center">28.279</td>       <td align="center">-109.0</td>       <td align="center">9.5</td>     </tr>   </tbody> </table></div>`)[0];
            popup_e2e76fc422584860b8ef6ef7c6bab2b9.setContent(html_c9c76f72ca264eab9a6caedf412f108f);
        

        circle_298a82b64dbc490192c63a6ad314b7c6.bindPopup(popup_e2e76fc422584860b8ef6ef7c6bab2b9)
        ;

        
    
    
            var circle_7b33f66dcb044b618bc813ea034641e6 = L.circle(
                [34.99073298, 128.04528552],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "black", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 25, "stroke": true, "weight": 1}
            ).addTo(feature_group_feea2813d78441a6bf67530fb2a63de5);
        
    
        var popup_43569416b2ab46299733085d38a0391f = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_bdf406b5b52e4a1fbc1361b2105b3d5d = $(`<div id="html_bdf406b5b52e4a1fbc1361b2105b3d5d" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <td align="center">PCI</th>       <td align="center">Cell ID</th>       <td align="center">DL</th>       <td align="center">UL</th>       <td align="center">RSRP</th>       <td align="center">SINR</th>     </tr>   </thead>   <tbody>     <tr>       <td align="center">456</td>       <td align="center">44342022</td>       <td align="center">None</td>       <td align="center">52.029</td>       <td align="center">-108.0</td>       <td align="center">11.0</td>     </tr>   </tbody> </table></div>`)[0];
            popup_43569416b2ab46299733085d38a0391f.setContent(html_bdf406b5b52e4a1fbc1361b2105b3d5d);
        

        circle_7b33f66dcb044b618bc813ea034641e6.bindPopup(popup_43569416b2ab46299733085d38a0391f)
        ;

        
    
    
            var circle_b031880fe65944189f0c8e88a31325a9 = L.circle(
                [34.99087293, 128.0466654],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 25, "stroke": true, "weight": 1}
            ).addTo(feature_group_feea2813d78441a6bf67530fb2a63de5);
        
    
        var popup_3287c82210f947d0955ef10052b94526 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_7a2d62f408434b209f39d35834adb56a = $(`<div id="html_7a2d62f408434b209f39d35834adb56a" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <td align="center">PCI</th>       <td align="center">Cell ID</th>       <td align="center">DL</th>       <td align="center">UL</th>       <td align="center">RSRP</th>       <td align="center">SINR</th>     </tr>   </thead>   <tbody>     <tr>       <td align="center">456</td>       <td align="center">44342022</td>       <td align="center">None</td>       <td align="center">39.682</td>       <td align="center">-99.0</td>       <td align="center">18.0</td>     </tr>   </tbody> </table></div>`)[0];
            popup_3287c82210f947d0955ef10052b94526.setContent(html_7a2d62f408434b209f39d35834adb56a);
        

        circle_b031880fe65944189f0c8e88a31325a9.bindPopup(popup_3287c82210f947d0955ef10052b94526)
        ;

        
    
    
            var circle_e17ff23780b146d092a27bc2ecff4b55 = L.circle(
                [34.99139042, 128.05099043],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "yellow", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 25, "stroke": true, "weight": 1}
            ).addTo(feature_group_feea2813d78441a6bf67530fb2a63de5);
        
    
        var popup_5d3db8dd6d404a19a18ed021a7cbda18 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_21edb0af6a4e47c5b3837d3f4485c020 = $(`<div id="html_21edb0af6a4e47c5b3837d3f4485c020" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <td align="center">PCI</th>       <td align="center">Cell ID</th>       <td align="center">DL</th>       <td align="center">UL</th>       <td align="center">RSRP</th>       <td align="center">SINR</th>     </tr>   </thead>   <tbody>     <tr>       <td align="center">456</td>       <td align="center">44342022</td>       <td align="center">None</td>       <td align="center">124.499</td>       <td align="center">-76.0</td>       <td align="center">31.5</td>     </tr>   </tbody> </table></div>`)[0];
            popup_5d3db8dd6d404a19a18ed021a7cbda18.setContent(html_21edb0af6a4e47c5b3837d3f4485c020);
        

        circle_e17ff23780b146d092a27bc2ecff4b55.bindPopup(popup_5d3db8dd6d404a19a18ed021a7cbda18)
        ;

        
    
    
            var circle_305ce7df743a426db401bdc2fefaee24 = L.circle(
                [34.99137128, 128.05101259],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "yellow", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 25, "stroke": true, "weight": 1}
            ).addTo(feature_group_feea2813d78441a6bf67530fb2a63de5);
        
    
        var popup_66047fcef0044133adfc311fcfd5ce1a = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_6087a46271aa45abb9cf73428bb4c71e = $(`<div id="html_6087a46271aa45abb9cf73428bb4c71e" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <td align="center">PCI</th>       <td align="center">Cell ID</th>       <td align="center">DL</th>       <td align="center">UL</th>       <td align="center">RSRP</th>       <td align="center">SINR</th>     </tr>   </thead>   <tbody>     <tr>       <td align="center">456</td>       <td align="center">44342022</td>       <td align="center">None</td>       <td align="center">121.078</td>       <td align="center">-80.0</td>       <td align="center">30.0</td>     </tr>   </tbody> </table></div>`)[0];
            popup_66047fcef0044133adfc311fcfd5ce1a.setContent(html_6087a46271aa45abb9cf73428bb4c71e);
        

        circle_305ce7df743a426db401bdc2fefaee24.bindPopup(popup_66047fcef0044133adfc311fcfd5ce1a)
        ;

        
    
    
            var circle_c38707e652f64c2999d23b9ab5f65423 = L.circle(
                [34.99138122, 128.0510124],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "yellow", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 25, "stroke": true, "weight": 1}
            ).addTo(feature_group_feea2813d78441a6bf67530fb2a63de5);
        
    
        var popup_d9d0e3f9bf784063a9c52e3dc40459ea = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_d2dd7478e12f4bfdba241f097d3b01bc = $(`<div id="html_d2dd7478e12f4bfdba241f097d3b01bc" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <td align="center">PCI</th>       <td align="center">Cell ID</th>       <td align="center">DL</th>       <td align="center">UL</th>       <td align="center">RSRP</th>       <td align="center">SINR</th>     </tr>   </thead>   <tbody>     <tr>       <td align="center">456</td>       <td align="center">44342022</td>       <td align="center">822.055</td>       <td align="center">None</td>       <td align="center">-81.0</td>       <td align="center">30.0</td>     </tr>   </tbody> </table></div>`)[0];
            popup_d9d0e3f9bf784063a9c52e3dc40459ea.setContent(html_d2dd7478e12f4bfdba241f097d3b01bc);
        

        circle_c38707e652f64c2999d23b9ab5f65423.bindPopup(popup_d9d0e3f9bf784063a9c52e3dc40459ea)
        ;

        
    
    
            var circle_08274b5f091f4cc899d3e36a904a03b8 = L.circle(
                [34.99138108, 128.05129066],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "orange", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 25, "stroke": true, "weight": 1}
            ).addTo(feature_group_feea2813d78441a6bf67530fb2a63de5);
        
    
        var popup_14afe67be7d94943aa7ce7c024ee9189 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_9b0261587f9448b89c057fe937fb0c7f = $(`<div id="html_9b0261587f9448b89c057fe937fb0c7f" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <td align="center">PCI</th>       <td align="center">Cell ID</th>       <td align="center">DL</th>       <td align="center">UL</th>       <td align="center">RSRP</th>       <td align="center">SINR</th>     </tr>   </thead>   <tbody>     <tr>       <td align="center">456</td>       <td align="center">44342022</td>       <td align="center">763.252</td>       <td align="center">None</td>       <td align="center">-72.0</td>       <td align="center">33.5</td>     </tr>   </tbody> </table></div>`)[0];
            popup_14afe67be7d94943aa7ce7c024ee9189.setContent(html_9b0261587f9448b89c057fe937fb0c7f);
        

        circle_08274b5f091f4cc899d3e36a904a03b8.bindPopup(popup_14afe67be7d94943aa7ce7c024ee9189)
        ;

        
    
    
            var circle_3a43868c26d2480f9d71dc52f7b2253c = L.circle(
                [34.99057279, 128.05463247],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "orange", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 40, "stroke": true, "weight": 1}
            ).addTo(feature_group_feea2813d78441a6bf67530fb2a63de5);
        
    
        var popup_7dbaee9b8ea14030b8795df84b9157e9 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_b24148629c224e2a836a21ab48c82bc6 = $(`<div id="html_b24148629c224e2a836a21ab48c82bc6" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <td align="center">PCI</th>       <td align="center">Cell ID</th>       <td align="center">DL</th>       <td align="center">UL</th>       <td align="center">RSRP</th>       <td align="center">SINR</th>     </tr>   </thead>   <tbody>     <tr>       <td align="center">456</td>       <td align="center">44342022</td>       <td align="center">817.064</td>       <td align="center">None</td>       <td align="center">-72.0</td>       <td align="center">32.0</td>     </tr>   </tbody> </table></div>`)[0];
            popup_7dbaee9b8ea14030b8795df84b9157e9.setContent(html_b24148629c224e2a836a21ab48c82bc6);
        

        circle_3a43868c26d2480f9d71dc52f7b2253c.bindPopup(popup_7dbaee9b8ea14030b8795df84b9157e9)
        ;

        
    
    
            map_f4c51121b0fd41bb992544edf8d62c64.fitBounds(
                [[34.96721585, 128.03891954], [34.99929481, 128.06373825]],
                {}
            );
        
</script>