<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_af9f9812ed1f4bd29a2afa7b97f0db1a {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_af9f9812ed1f4bd29a2afa7b97f0db1a" ></div>
        
</body>
<script>    
    
            var map_af9f9812ed1f4bd29a2afa7b97f0db1a = L.map(
                "map_af9f9812ed1f4bd29a2afa7b97f0db1a",
                {
                    center: [35.17742361, 128.80595845],
                    crs: L.CRS.EPSG3857,
                    zoom: 15,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_e9776631f02f45648aed883ddff72ffc = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_af9f9812ed1f4bd29a2afa7b97f0db1a);
        
    
            var marker_d0016eb028924ec6a174e3f906c019c2 = L.marker(
                [35.17742361, 128.80595845],
                {"iconSize": [10, 10]}
            ).addTo(map_af9f9812ed1f4bd29a2afa7b97f0db1a);
        
    
            var icon_6d1109754e3741d1884f2ceb4682bc80 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "star", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_d0016eb028924ec6a174e3f906c019c2.setIcon(icon_6d1109754e3741d1884f2ceb4682bc80);
        
    
            var poly_line_745f613f69714176af34538f6b7aded9 = L.polyline(
                [[35.17742361, 128.80595845], [35.17742361, 128.80595845], [35.17740482, 128.80595014], [35.17751808, 128.80641254], [35.17720638, 128.80791685], [35.17611319, 128.80718165], [35.17715146, 128.80565554], [35.17944457, 128.80093291], [35.17970517, 128.80024639], [35.17970804, 128.79611842], [35.17939432, 128.79279997], [35.17947893, 128.78965808], [35.17756619, 128.78639067], [35.17515592, 128.79634242], [35.17260991, 128.80467625], [35.16796897, 128.81252141], [35.16659147, 128.82041057], [35.16654206, 128.82060622], [35.16570645, 128.82487739], [35.16860346, 128.82880699], [35.16806689, 128.83130254], [35.16793529, 128.83144683], [35.16869748, 128.83188736], [35.16791648, 128.83098973], [35.16808124, 128.83171082], [35.1681088, 128.83170474], [35.1681088, 128.83170474], [35.1681088, 128.83170474], [35.16811109, 128.8316941], [35.16874883, 128.82947429], [35.17178082, 128.82384357], [35.17196087, 128.82322234], [35.17203093, 128.82164884], [35.17391847, 128.82099329]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_af9f9812ed1f4bd29a2afa7b97f0db1a);
        
    
            var feature_group_ae89fd8ece3a4e24ab22b487e597a442 = L.featureGroup(
                {}
            ).addTo(map_af9f9812ed1f4bd29a2afa7b97f0db1a);
        
    
            var circle_6ceddf54c2e34dfe8e7246f9d2eedd38 = L.circle(
                [35.17742361, 128.80595845],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "yellow", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_ae89fd8ece3a4e24ab22b487e597a442);
        
    
        var popup_ece7ec064f0a4b71ba74827466d8119f = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_19eb004e7c874900836a7cc8a132753c = $(`<div id="html_19eb004e7c874900836a7cc8a132753c" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>345</td>       <td>44267268</td>       <td>-84.0</td>       <td>18.5</td>       <td>1407.598</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_ece7ec064f0a4b71ba74827466d8119f.setContent(html_19eb004e7c874900836a7cc8a132753c);
        

        circle_6ceddf54c2e34dfe8e7246f9d2eedd38.bindPopup(popup_ece7ec064f0a4b71ba74827466d8119f)
        ;

        
    
    
            var circle_f00995f10da24ad288e28b715259990b = L.circle(
                [35.17742361, 128.80595845],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "yellow", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_ae89fd8ece3a4e24ab22b487e597a442);
        
    
        var popup_bf0210d4491d4e36b8e51cb707475927 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_69349b164207417f955a18f4173374c2 = $(`<div id="html_69349b164207417f955a18f4173374c2" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>345</td>       <td>44267268</td>       <td>-85.0</td>       <td>19.0</td>       <td>1430.156</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_bf0210d4491d4e36b8e51cb707475927.setContent(html_69349b164207417f955a18f4173374c2);
        

        circle_f00995f10da24ad288e28b715259990b.bindPopup(popup_bf0210d4491d4e36b8e51cb707475927)
        ;

        
    
    
            var circle_e9487714b5744939828b4c98cb27b328 = L.circle(
                [35.17740482, 128.80595014],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_ae89fd8ece3a4e24ab22b487e597a442);
        
    
        var popup_b0cd911f268941339b31b5aef33abec5 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_ba04e413b61c4d4e938a3f3e7957838a = $(`<div id="html_ba04e413b61c4d4e938a3f3e7957838a" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>345</td>       <td>44267268</td>       <td>-87.0</td>       <td>18.5</td>       <td>1318.228</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_b0cd911f268941339b31b5aef33abec5.setContent(html_ba04e413b61c4d4e938a3f3e7957838a);
        

        circle_e9487714b5744939828b4c98cb27b328.bindPopup(popup_b0cd911f268941339b31b5aef33abec5)
        ;

        
    
    
            var circle_3448bd7d0f0b4166a3dc8b4ccca337d3 = L.circle(
                [35.17751808, 128.80641254],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_ae89fd8ece3a4e24ab22b487e597a442);
        
    
        var popup_823055f60c9e416a9ac44590b41ef5f7 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_559362d65dd844c782769410ae4fbefb = $(`<div id="html_559362d65dd844c782769410ae4fbefb" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>345</td>       <td>44267268</td>       <td>-88.0</td>       <td>20.0</td>       <td>1469.293</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_823055f60c9e416a9ac44590b41ef5f7.setContent(html_559362d65dd844c782769410ae4fbefb);
        

        circle_3448bd7d0f0b4166a3dc8b4ccca337d3.bindPopup(popup_823055f60c9e416a9ac44590b41ef5f7)
        ;

        
    
    
            var circle_95a8cf0ad37b4ff4bc309ab79ab09649 = L.circle(
                [35.17720638, 128.80791685],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_ae89fd8ece3a4e24ab22b487e597a442);
        
    
        var popup_92a6d00cd95d41c3b8ca101676909f3a = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_1d9007c2804d42149a471cd6d96a818e = $(`<div id="html_1d9007c2804d42149a471cd6d96a818e" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>496</td>       <td>44267268</td>       <td>-89.0</td>       <td>25.5</td>       <td>908.127</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_92a6d00cd95d41c3b8ca101676909f3a.setContent(html_1d9007c2804d42149a471cd6d96a818e);
        

        circle_95a8cf0ad37b4ff4bc309ab79ab09649.bindPopup(popup_92a6d00cd95d41c3b8ca101676909f3a)
        ;

        
    
    
            var circle_a53dd0b80c8747fcb2bb8c4f7aa0b907 = L.circle(
                [35.17611319, 128.80718165],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_ae89fd8ece3a4e24ab22b487e597a442);
        
    
        var popup_0d21a32d349340f68bf213ab20d542df = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_c7e5d04b46e04a7c8075c552c78766a7 = $(`<div id="html_c7e5d04b46e04a7c8075c552c78766a7" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>349</td>       <td>44267532</td>       <td>-93.0</td>       <td>17.0</td>       <td>592.339</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_0d21a32d349340f68bf213ab20d542df.setContent(html_c7e5d04b46e04a7c8075c552c78766a7);
        

        circle_a53dd0b80c8747fcb2bb8c4f7aa0b907.bindPopup(popup_0d21a32d349340f68bf213ab20d542df)
        ;

        
    
    
            var circle_0c70b51e02564390b4ceb2bf91bb8416 = L.circle(
                [35.17715146, 128.80565554],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_ae89fd8ece3a4e24ab22b487e597a442);
        
    
        var popup_8acecc4412554a6b8eadb91d76ad9792 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_9a629538ebd640ddb794a2c4ce0dd204 = $(`<div id="html_9a629538ebd640ddb794a2c4ce0dd204" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>496</td>       <td>44267268</td>       <td>-86.0</td>       <td>27.0</td>       <td>570.817</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_8acecc4412554a6b8eadb91d76ad9792.setContent(html_9a629538ebd640ddb794a2c4ce0dd204);
        

        circle_0c70b51e02564390b4ceb2bf91bb8416.bindPopup(popup_8acecc4412554a6b8eadb91d76ad9792)
        ;

        
    
    
            var circle_3932cd17045f456e8ef8c20e41256dd0 = L.circle(
                [35.17944457, 128.80093291],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "yellow", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_ae89fd8ece3a4e24ab22b487e597a442);
        
    
        var popup_a909268f7772411291a8269b627cec75 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_2f3452fa69404d65acc380d900eea93d = $(`<div id="html_2f3452fa69404d65acc380d900eea93d" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>170</td>       <td>44268037</td>       <td>-80.0</td>       <td>25.0</td>       <td>992.679</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_a909268f7772411291a8269b627cec75.setContent(html_2f3452fa69404d65acc380d900eea93d);
        

        circle_3932cd17045f456e8ef8c20e41256dd0.bindPopup(popup_a909268f7772411291a8269b627cec75)
        ;

        
    
    
            var circle_75bc6f09276f4f558f16a267b99167b9 = L.circle(
                [35.17970517, 128.80024639],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "yellow", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_ae89fd8ece3a4e24ab22b487e597a442);
        
    
        var popup_ab705f513cf74f56b2e589a91d4a30b9 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_a89a3dea8ce7400b812ac4a16d378ac0 = $(`<div id="html_a89a3dea8ce7400b812ac4a16d378ac0" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>170</td>       <td>44268037</td>       <td>-81.0</td>       <td>30.0</td>       <td>1516.611</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_ab705f513cf74f56b2e589a91d4a30b9.setContent(html_a89a3dea8ce7400b812ac4a16d378ac0);
        

        circle_75bc6f09276f4f558f16a267b99167b9.bindPopup(popup_ab705f513cf74f56b2e589a91d4a30b9)
        ;

        
    
    
            var circle_4c363a908e5c4e2f8d0fa718579e1ef2 = L.circle(
                [35.17970804, 128.79611842],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "yellow", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_ae89fd8ece3a4e24ab22b487e597a442);
        
    
        var popup_41510ad1513e4ffa817833beb477b93f = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_0726b575a3e04db4b1cdf9f25c0bd2f7 = $(`<div id="html_0726b575a3e04db4b1cdf9f25c0bd2f7" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>171</td>       <td>44159749</td>       <td>-82.0</td>       <td>31.0</td>       <td>487.272</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_41510ad1513e4ffa817833beb477b93f.setContent(html_0726b575a3e04db4b1cdf9f25c0bd2f7);
        

        circle_4c363a908e5c4e2f8d0fa718579e1ef2.bindPopup(popup_41510ad1513e4ffa817833beb477b93f)
        ;

        
    
    
            var circle_a351b4b80b1e4cd9bdd9bb6372b7351e = L.circle(
                [35.17939432, 128.79279997],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_ae89fd8ece3a4e24ab22b487e597a442);
        
    
        var popup_8216cdd6cd3b435da268a9a6592b5310 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_64054f1ed4744c51a2b7379e9443edee = $(`<div id="html_64054f1ed4744c51a2b7379e9443edee" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>61</td>       <td>40931342</td>       <td>-99.0</td>       <td>12.0</td>       <td>517.133</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_8216cdd6cd3b435da268a9a6592b5310.setContent(html_64054f1ed4744c51a2b7379e9443edee);
        

        circle_a351b4b80b1e4cd9bdd9bb6372b7351e.bindPopup(popup_8216cdd6cd3b435da268a9a6592b5310)
        ;

        
    
    
            var circle_5cf627acc92d476786ee86f2f38b5264 = L.circle(
                [35.17947893, 128.78965808],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "yellow", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_ae89fd8ece3a4e24ab22b487e597a442);
        
    
        var popup_fa09fb2ec72f4a43b8d823b3e91500fa = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_c3813421fe2247d1ab5e837306e3ef32 = $(`<div id="html_c3813421fe2247d1ab5e837306e3ef32" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>61</td>       <td>40931342</td>       <td>-77.0</td>       <td>31.0</td>       <td>797.606</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_fa09fb2ec72f4a43b8d823b3e91500fa.setContent(html_c3813421fe2247d1ab5e837306e3ef32);
        

        circle_5cf627acc92d476786ee86f2f38b5264.bindPopup(popup_fa09fb2ec72f4a43b8d823b3e91500fa)
        ;

        
    
    
            var circle_f12cd4377834470cbd104f72695669bb = L.circle(
                [35.17756619, 128.78639067],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "orange", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_ae89fd8ece3a4e24ab22b487e597a442);
        
    
        var popup_9ea69f4ab3c347ceb2903680d8f3321c = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_a9fcb24c18ea4e6791b185de0f4b9825 = $(`<div id="html_a9fcb24c18ea4e6791b185de0f4b9825" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>151</td>       <td>40931341</td>       <td>-70.0</td>       <td>30.5</td>       <td>890.593</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_9ea69f4ab3c347ceb2903680d8f3321c.setContent(html_a9fcb24c18ea4e6791b185de0f4b9825);
        

        circle_f12cd4377834470cbd104f72695669bb.bindPopup(popup_9ea69f4ab3c347ceb2903680d8f3321c)
        ;

        
    
    
            var circle_c595e35e478341b8b3347c19e5498165 = L.circle(
                [35.17515592, 128.79634242],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "yellow", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_ae89fd8ece3a4e24ab22b487e597a442);
        
    
        var popup_031e15bd68e3480498751b96a3a627cf = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_b7e921a89c0e4f17ac3c1142e12d551f = $(`<div id="html_b7e921a89c0e4f17ac3c1142e12d551f" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>456</td>       <td>44268045</td>       <td>-76.0</td>       <td>30.5</td>       <td>815.999</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_031e15bd68e3480498751b96a3a627cf.setContent(html_b7e921a89c0e4f17ac3c1142e12d551f);
        

        circle_c595e35e478341b8b3347c19e5498165.bindPopup(popup_031e15bd68e3480498751b96a3a627cf)
        ;

        
    
    
            var circle_beb31ab2324845f5afbd143bfa9f4aab = L.circle(
                [35.17260991, 128.80467625],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "yellow", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_ae89fd8ece3a4e24ab22b487e597a442);
        
    
        var popup_8609b656cd6249a3a8b1abbebd280e0e = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_ccef720247f844a08d1bede772f2900c = $(`<div id="html_ccef720247f844a08d1bede772f2900c" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>117</td>       <td>44267524</td>       <td>-77.0</td>       <td>18.5</td>       <td>867.422</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_8609b656cd6249a3a8b1abbebd280e0e.setContent(html_ccef720247f844a08d1bede772f2900c);
        

        circle_beb31ab2324845f5afbd143bfa9f4aab.bindPopup(popup_8609b656cd6249a3a8b1abbebd280e0e)
        ;

        
    
    
            var circle_e4640fed12874536b3236c0983f826ca = L.circle(
                [35.16796897, 128.81252141],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "yellow", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_ae89fd8ece3a4e24ab22b487e597a442);
        
    
        var popup_90ca1c1ca5804a998a3a4626fa60d76a = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_6ff94611d14345b2bb4b527a9419735f = $(`<div id="html_6ff94611d14345b2bb4b527a9419735f" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>346</td>       <td>44267523</td>       <td>-83.0</td>       <td>17.5</td>       <td>715.473</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_90ca1c1ca5804a998a3a4626fa60d76a.setContent(html_6ff94611d14345b2bb4b527a9419735f);
        

        circle_e4640fed12874536b3236c0983f826ca.bindPopup(popup_90ca1c1ca5804a998a3a4626fa60d76a)
        ;

        
    
    
            var circle_c5f09e56604443a6847214bc6acd86c8 = L.circle(
                [35.16659147, 128.82041057],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "yellow", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_ae89fd8ece3a4e24ab22b487e597a442);
        
    
        var popup_3a66e034511d427da7e4cf2af277dc1a = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_2d7184567ded46eeb818367a6e10e674 = $(`<div id="html_2d7184567ded46eeb818367a6e10e674" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>137</td>       <td>44275460</td>       <td>-84.0</td>       <td>24.5</td>       <td>627.199</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_3a66e034511d427da7e4cf2af277dc1a.setContent(html_2d7184567ded46eeb818367a6e10e674);
        

        circle_c5f09e56604443a6847214bc6acd86c8.bindPopup(popup_3a66e034511d427da7e4cf2af277dc1a)
        ;

        
    
    
            var circle_9fa78b21128f4fa88c665cb6d7d1f539 = L.circle(
                [35.16654206, 128.82060622],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_ae89fd8ece3a4e24ab22b487e597a442);
        
    
        var popup_2d9833ce75c849f8bf3893a3002eabe0 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_85fef26c7cf84f288f16b1a485eaaf1b = $(`<div id="html_85fef26c7cf84f288f16b1a485eaaf1b" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>137</td>       <td>44275460</td>       <td>-88.0</td>       <td>25.0</td>       <td>654.084</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_2d9833ce75c849f8bf3893a3002eabe0.setContent(html_85fef26c7cf84f288f16b1a485eaaf1b);
        

        circle_9fa78b21128f4fa88c665cb6d7d1f539.bindPopup(popup_2d9833ce75c849f8bf3893a3002eabe0)
        ;

        
    
    
            var circle_15d42374e922498da64c84cbe26f2961 = L.circle(
                [35.16570645, 128.82487739],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_ae89fd8ece3a4e24ab22b487e597a442);
        
    
        var popup_eb930668c69548099366073e23be731f = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_1e4e5ff189a64198b2ad04c8ec5a0dc9 = $(`<div id="html_1e4e5ff189a64198b2ad04c8ec5a0dc9" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>153</td>       <td>44275460</td>       <td>-93.0</td>       <td>-1.5</td>       <td>541.303</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_eb930668c69548099366073e23be731f.setContent(html_1e4e5ff189a64198b2ad04c8ec5a0dc9);
        

        circle_15d42374e922498da64c84cbe26f2961.bindPopup(popup_eb930668c69548099366073e23be731f)
        ;

        
    
    
            var circle_c3a0ab99cce64c0ebc63ce3d9fc71890 = L.circle(
                [35.16860346, 128.82880699],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "yellow", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_ae89fd8ece3a4e24ab22b487e597a442);
        
    
        var popup_62362da350a848839147b6134bba4d5a = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_980d61c2a16d453391d918307fda6fe0 = $(`<div id="html_980d61c2a16d453391d918307fda6fe0" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>416</td>       <td>44275459</td>       <td>-80.0</td>       <td>20.5</td>       <td>714.91</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_62362da350a848839147b6134bba4d5a.setContent(html_980d61c2a16d453391d918307fda6fe0);
        

        circle_c3a0ab99cce64c0ebc63ce3d9fc71890.bindPopup(popup_62362da350a848839147b6134bba4d5a)
        ;

        
    
    
            var circle_82964fe02c9a4a099e7d4a14311b59b8 = L.circle(
                [35.16806689, 128.83130254],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_ae89fd8ece3a4e24ab22b487e597a442);
        
    
        var popup_0ae45dd7d1ca48c99cf5c540186c108f = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_0daf6b76ebb0495a92844369ba9c9439 = $(`<div id="html_0daf6b76ebb0495a92844369ba9c9439" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>522</td>       <td>44301836</td>       <td>-93.0</td>       <td>6.5</td>       <td>523.967</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_0ae45dd7d1ca48c99cf5c540186c108f.setContent(html_0daf6b76ebb0495a92844369ba9c9439);
        

        circle_82964fe02c9a4a099e7d4a14311b59b8.bindPopup(popup_0ae45dd7d1ca48c99cf5c540186c108f)
        ;

        
    
    
            var circle_3f1ab7d9aa6c468b8d028f77a471c423 = L.circle(
                [35.16793529, 128.83144683],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "yellow", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_ae89fd8ece3a4e24ab22b487e597a442);
        
    
        var popup_4d28dedc5c924fdca430570cc5be4138 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_cd814e2aa58c4a8796bcda8d7791bf58 = $(`<div id="html_cd814e2aa58c4a8796bcda8d7791bf58" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>414</td>       <td>44275459</td>       <td>-85.0</td>       <td>10.0</td>       <td>422.468</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_4d28dedc5c924fdca430570cc5be4138.setContent(html_cd814e2aa58c4a8796bcda8d7791bf58);
        

        circle_3f1ab7d9aa6c468b8d028f77a471c423.bindPopup(popup_4d28dedc5c924fdca430570cc5be4138)
        ;

        
    
    
            var circle_c461a01483ff4962aca25183f37ced79 = L.circle(
                [35.16869748, 128.83188736],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_ae89fd8ece3a4e24ab22b487e597a442);
        
    
        var popup_93d67882aeda40aca9b6c4f82ee3809d = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_8031ef505aa64f5dbe90f13a5240b410 = $(`<div id="html_8031ef505aa64f5dbe90f13a5240b410" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>522</td>       <td>44301836</td>       <td>-88.0</td>       <td>15.5</td>       <td>627.923</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_93d67882aeda40aca9b6c4f82ee3809d.setContent(html_8031ef505aa64f5dbe90f13a5240b410);
        

        circle_c461a01483ff4962aca25183f37ced79.bindPopup(popup_93d67882aeda40aca9b6c4f82ee3809d)
        ;

        
    
    
            var circle_fad540cbdd4045678143023418ce2199 = L.circle(
                [35.16791648, 128.83098973],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_ae89fd8ece3a4e24ab22b487e597a442);
        
    
        var popup_6325dc56e35243ebaed398915ed8b086 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_7459f693c283428fb53e28e7e0e9e632 = $(`<div id="html_7459f693c283428fb53e28e7e0e9e632" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>416</td>       <td>44301836</td>       <td>-96.0</td>       <td>10.0</td>       <td>531.328</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_6325dc56e35243ebaed398915ed8b086.setContent(html_7459f693c283428fb53e28e7e0e9e632);
        

        circle_fad540cbdd4045678143023418ce2199.bindPopup(popup_6325dc56e35243ebaed398915ed8b086)
        ;

        
    
    
            var circle_ad8dd27f7cb14f559f0735f0fc84f347 = L.circle(
                [35.16808124, 128.83171082],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_ae89fd8ece3a4e24ab22b487e597a442);
        
    
        var popup_bfcccb3fdb7b4c68866cac1c67e36849 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_103e6fc1fadc47178883198cc9a6617c = $(`<div id="html_103e6fc1fadc47178883198cc9a6617c" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>416</td>       <td>44275459</td>       <td>-95.0</td>       <td>9.5</td>       <td>386.521</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_bfcccb3fdb7b4c68866cac1c67e36849.setContent(html_103e6fc1fadc47178883198cc9a6617c);
        

        circle_ad8dd27f7cb14f559f0735f0fc84f347.bindPopup(popup_bfcccb3fdb7b4c68866cac1c67e36849)
        ;

        
    
    
            var circle_7bebfe3051a34de19857c4a0dc04f2c0 = L.circle(
                [35.1681088, 128.83170474],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_ae89fd8ece3a4e24ab22b487e597a442);
        
    
        var popup_333832d6085b43a8ba4924515a9a06d0 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_38272b53ee844f44bdaf7c7edf818e73 = $(`<div id="html_38272b53ee844f44bdaf7c7edf818e73" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>522</td>       <td>44275459</td>       <td>-87.0</td>       <td>2.5</td>       <td>329.397</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_333832d6085b43a8ba4924515a9a06d0.setContent(html_38272b53ee844f44bdaf7c7edf818e73);
        

        circle_7bebfe3051a34de19857c4a0dc04f2c0.bindPopup(popup_333832d6085b43a8ba4924515a9a06d0)
        ;

        
    
    
            var circle_c729cd86c3aa4ea3b9f6671b76ad2812 = L.circle(
                [35.1681088, 128.83170474],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_ae89fd8ece3a4e24ab22b487e597a442);
        
    
        var popup_884207678ec14037b5130497cc45b34d = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_77bc4974266342feb25689b5248b590c = $(`<div id="html_77bc4974266342feb25689b5248b590c" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>522</td>       <td>44275459</td>       <td>-96.0</td>       <td>3.5</td>       <td>346.118</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_884207678ec14037b5130497cc45b34d.setContent(html_77bc4974266342feb25689b5248b590c);
        

        circle_c729cd86c3aa4ea3b9f6671b76ad2812.bindPopup(popup_884207678ec14037b5130497cc45b34d)
        ;

        
    
    
            var circle_ccb08100802a44ec8c8f0eac773bb37f = L.circle(
                [35.1681088, 128.83170474],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_ae89fd8ece3a4e24ab22b487e597a442);
        
    
        var popup_1851b41c92ef44ecad4bae42319fee0c = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_b7f6f1564cee48d6b3973743b288abc3 = $(`<div id="html_b7f6f1564cee48d6b3973743b288abc3" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>414</td>       <td>44301836</td>       <td>-93.0</td>       <td>5.0</td>       <td>None</td>       <td>98.468</td>     </tr>   </tbody> </table></div>`)[0];
            popup_1851b41c92ef44ecad4bae42319fee0c.setContent(html_b7f6f1564cee48d6b3973743b288abc3);
        

        circle_ccb08100802a44ec8c8f0eac773bb37f.bindPopup(popup_1851b41c92ef44ecad4bae42319fee0c)
        ;

        
    
    
            var circle_583befffe39946a2abe7d38cc70ffeb0 = L.circle(
                [35.16811109, 128.8316941],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_ae89fd8ece3a4e24ab22b487e597a442);
        
    
        var popup_6c3eae28872c42289b8c687153429df8 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_bccdf08596a94616b98b11f0c3f49c8a = $(`<div id="html_bccdf08596a94616b98b11f0c3f49c8a" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>414</td>       <td>44275459</td>       <td>-89.0</td>       <td>2.0</td>       <td>None</td>       <td>74.757</td>     </tr>   </tbody> </table></div>`)[0];
            popup_6c3eae28872c42289b8c687153429df8.setContent(html_bccdf08596a94616b98b11f0c3f49c8a);
        

        circle_583befffe39946a2abe7d38cc70ffeb0.bindPopup(popup_6c3eae28872c42289b8c687153429df8)
        ;

        
    
    
            var circle_0f73cc8cccc9429fa25222f18f500d21 = L.circle(
                [35.16874883, 128.82947429],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "yellow", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_ae89fd8ece3a4e24ab22b487e597a442);
        
    
        var popup_0167bbc911e046c2b181fae32d80495c = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_aa952266d41543b19880f69df7dd2284 = $(`<div id="html_aa952266d41543b19880f69df7dd2284" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>416</td>       <td>44275459</td>       <td>-78.0</td>       <td>16.5</td>       <td>None</td>       <td>88.087</td>     </tr>   </tbody> </table></div>`)[0];
            popup_0167bbc911e046c2b181fae32d80495c.setContent(html_aa952266d41543b19880f69df7dd2284);
        

        circle_0f73cc8cccc9429fa25222f18f500d21.bindPopup(popup_0167bbc911e046c2b181fae32d80495c)
        ;

        
    
    
            var circle_492d54203a0947498db8bae7fe8da81a = L.circle(
                [35.17178082, 128.82384357],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_ae89fd8ece3a4e24ab22b487e597a442);
        
    
        var popup_30311b0bf9a14773b1435d944dbf054b = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_e62a306d90874da0950770ab685df64d = $(`<div id="html_e62a306d90874da0950770ab685df64d" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>124</td>       <td>44268044</td>       <td>-88.0</td>       <td>9.0</td>       <td>None</td>       <td>84.47</td>     </tr>   </tbody> </table></div>`)[0];
            popup_30311b0bf9a14773b1435d944dbf054b.setContent(html_e62a306d90874da0950770ab685df64d);
        

        circle_492d54203a0947498db8bae7fe8da81a.bindPopup(popup_30311b0bf9a14773b1435d944dbf054b)
        ;

        
    
    
            var circle_716316a1c2b74b7fbae62774ac4a128c = L.circle(
                [35.17196087, 128.82322234],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_ae89fd8ece3a4e24ab22b487e597a442);
        
    
        var popup_43f7b8b731414227910e5f4621073589 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_86fd50b07d0b40b29220b8147d1143f7 = $(`<div id="html_86fd50b07d0b40b29220b8147d1143f7" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>193</td>       <td>44268044</td>       <td>-86.0</td>       <td>10.5</td>       <td>None</td>       <td>97.721</td>     </tr>   </tbody> </table></div>`)[0];
            popup_43f7b8b731414227910e5f4621073589.setContent(html_86fd50b07d0b40b29220b8147d1143f7);
        

        circle_716316a1c2b74b7fbae62774ac4a128c.bindPopup(popup_43f7b8b731414227910e5f4621073589)
        ;

        
    
    
            var circle_0500ba13f9064369ae5195f598631cd5 = L.circle(
                [35.17203093, 128.82164884],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_ae89fd8ece3a4e24ab22b487e597a442);
        
    
        var popup_9aff66a2bee4478da5c74c6e9425cfe6 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_79e2f2cc154244e3bd08384c10dec8c2 = $(`<div id="html_79e2f2cc154244e3bd08384c10dec8c2" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>112</td>       <td>44268044</td>       <td>-86.0</td>       <td>13.5</td>       <td>None</td>       <td>69.056</td>     </tr>   </tbody> </table></div>`)[0];
            popup_9aff66a2bee4478da5c74c6e9425cfe6.setContent(html_79e2f2cc154244e3bd08384c10dec8c2);
        

        circle_0500ba13f9064369ae5195f598631cd5.bindPopup(popup_9aff66a2bee4478da5c74c6e9425cfe6)
        ;

        
    
    
            var circle_2d080cc92527493f909b4b84ccfe3da0 = L.circle(
                [35.17391847, 128.82099329],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "orange", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 29.0, "stroke": true, "weight": 1}
            ).addTo(feature_group_ae89fd8ece3a4e24ab22b487e597a442);
        
    
        var popup_d4f436d1b8f643c3840282acda726696 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_968a8ca7cd2c48d29b8d8862c305690a = $(`<div id="html_968a8ca7cd2c48d29b8d8862c305690a" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>358</td>       <td>44268035</td>       <td>-69.0</td>       <td>32.0</td>       <td>None</td>       <td>139.952</td>     </tr>   </tbody> </table></div>`)[0];
            popup_d4f436d1b8f643c3840282acda726696.setContent(html_968a8ca7cd2c48d29b8d8862c305690a);
        

        circle_2d080cc92527493f909b4b84ccfe3da0.bindPopup(popup_d4f436d1b8f643c3840282acda726696)
        ;

        
    
</script>