<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_e71d9138c97544bf863994beb9c4eeee {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_e71d9138c97544bf863994beb9c4eeee" ></div>
        
</body>
<script>    
    
            var map_e71d9138c97544bf863994beb9c4eeee = L.map(
                "map_e71d9138c97544bf863994beb9c4eeee",
                {
                    center: [34.9706066, 128.06347966],
                    crs: L.CRS.EPSG3857,
                    zoom: 15,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_ad35a4010b454c649039553a1c9c5ad2 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_e71d9138c97544bf863994beb9c4eeee);
        
    
            var marker_039c0a59ec324cdcb699d52854c0a957 = L.marker(
                [34.9706066, 128.06347966],
                {"iconSize": [10, 10]}
            ).addTo(map_e71d9138c97544bf863994beb9c4eeee);
        
    
            var icon_603747ccc7404d6db14125d8e90e4989 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "star", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_039c0a59ec324cdcb699d52854c0a957.setIcon(icon_603747ccc7404d6db14125d8e90e4989);
        
    
            var poly_line_a0df841ede0c4c37b4a8edb93da7a53f = L.polyline(
                [[34.97072448, 128.06346171], [34.97059799, 128.06343259], [34.97061737, 128.06342272], [34.97065849, 128.06261364], [34.9694144, 128.06310709], [34.96770384, 128.06373825], [34.96721585, 128.06243022], [34.9713635, 128.06102473], [34.97563617, 128.05911748], [34.97496376, 128.05329113], [34.9785288, 128.0509105], [34.98088603, 128.04674483], [34.98297066, 128.0440612], [34.98514878, 128.04446505], [34.98893879, 128.04281823], [34.99063521, 128.04052412], [34.9920483, 128.03980464], [34.99370276, 128.03946433], [34.99603788, 128.0390232], [34.99724881, 128.03891954], [34.99848179, 128.03925954], [34.99911087, 128.03990291], [34.99929481, 128.04008768], [34.99929481, 128.04008768]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_e71d9138c97544bf863994beb9c4eeee);
        
    
            var feature_group_ca654a128aec4cea8d98932be1e80325 = L.featureGroup(
                {}
            ).addTo(map_e71d9138c97544bf863994beb9c4eeee);
        
    
            var circle_12fc833b9f7743d9b3e893983f34b188 = L.circle(
                [34.97072448, 128.06346171],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_ca654a128aec4cea8d98932be1e80325);
        
    
        var popup_e0872e5debb14c168d9e0ddb32526f1e = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_7c0a28de153542ef9f33078b875cdfef = $(`<div id="html_7c0a28de153542ef9f33078b875cdfef" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>154</td>       <td>44342024</td>       <td>-102.0</td>       <td>15.5</td>       <td>None</td>       <td>29.931</td>     </tr>   </tbody> </table></div>`)[0];
            popup_e0872e5debb14c168d9e0ddb32526f1e.setContent(html_7c0a28de153542ef9f33078b875cdfef);
        

        circle_12fc833b9f7743d9b3e893983f34b188.bindPopup(popup_e0872e5debb14c168d9e0ddb32526f1e)
        ;

        
    
    
            var circle_8da74740ab3446fa9661f52b920fc164 = L.circle(
                [34.97059799, 128.06343259],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_ca654a128aec4cea8d98932be1e80325);
        
    
        var popup_14acceee9bc04e07aad823401ee73643 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_7ad015a0516c4474b93930b629cea0fb = $(`<div id="html_7ad015a0516c4474b93930b629cea0fb" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>154</td>       <td>44342024</td>       <td>-103.0</td>       <td>16.5</td>       <td>None</td>       <td>38.935</td>     </tr>   </tbody> </table></div>`)[0];
            popup_14acceee9bc04e07aad823401ee73643.setContent(html_7ad015a0516c4474b93930b629cea0fb);
        

        circle_8da74740ab3446fa9661f52b920fc164.bindPopup(popup_14acceee9bc04e07aad823401ee73643)
        ;

        
    
    
            var circle_e171dfaa38df4b3fb9438ec30ce0738d = L.circle(
                [34.97061737, 128.06342272],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_ca654a128aec4cea8d98932be1e80325);
        
    
        var popup_efe6a96e24b04a548a540e8f3662834f = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_43443557d7b943ee90a3ee315ccedef8 = $(`<div id="html_43443557d7b943ee90a3ee315ccedef8" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>154</td>       <td>44342024</td>       <td>-104.0</td>       <td>17.5</td>       <td>None</td>       <td>43.3</td>     </tr>   </tbody> </table></div>`)[0];
            popup_efe6a96e24b04a548a540e8f3662834f.setContent(html_43443557d7b943ee90a3ee315ccedef8);
        

        circle_e171dfaa38df4b3fb9438ec30ce0738d.bindPopup(popup_efe6a96e24b04a548a540e8f3662834f)
        ;

        
    
    
            var circle_680f5dbbb87a4ba096f1310461aa27e2 = L.circle(
                [34.97065849, 128.06261364],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_ca654a128aec4cea8d98932be1e80325);
        
    
        var popup_6b271aa0c025411b8fdc3bd3b367772a = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_9c96355a593f486e8e00c7e62b8257f7 = $(`<div id="html_9c96355a593f486e8e00c7e62b8257f7" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>154</td>       <td>44342024</td>       <td>-100.0</td>       <td>18.0</td>       <td>None</td>       <td>84.155</td>     </tr>   </tbody> </table></div>`)[0];
            popup_6b271aa0c025411b8fdc3bd3b367772a.setContent(html_9c96355a593f486e8e00c7e62b8257f7);
        

        circle_680f5dbbb87a4ba096f1310461aa27e2.bindPopup(popup_6b271aa0c025411b8fdc3bd3b367772a)
        ;

        
    
    
            var circle_df0d0f83061847ea9d902b5d046f7a2e = L.circle(
                [34.9694144, 128.06310709],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "yellow", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_ca654a128aec4cea8d98932be1e80325);
        
    
        var popup_d85a5d05ec0a417fbf922cd8836ad053 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_ab5b1404ba5c46a8a64d7f7c1a0ef876 = $(`<div id="html_ab5b1404ba5c46a8a64d7f7c1a0ef876" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>174</td>       <td>44342287</td>       <td>-79.0</td>       <td>23.5</td>       <td>None</td>       <td>93.474</td>     </tr>   </tbody> </table></div>`)[0];
            popup_d85a5d05ec0a417fbf922cd8836ad053.setContent(html_ab5b1404ba5c46a8a64d7f7c1a0ef876);
        

        circle_df0d0f83061847ea9d902b5d046f7a2e.bindPopup(popup_d85a5d05ec0a417fbf922cd8836ad053)
        ;

        
    
    
            var circle_5634bd9219be4930a08ef55db57ea5ed = L.circle(
                [34.96770384, 128.06373825],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "yellow", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_ca654a128aec4cea8d98932be1e80325);
        
    
        var popup_24b728b6f4bb4b7283e0c7de2e06e8bf = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_e033237d335f4c51ba3f285d6f5c1df1 = $(`<div id="html_e033237d335f4c51ba3f285d6f5c1df1" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>174</td>       <td>44342287</td>       <td>-84.0</td>       <td>21.0</td>       <td>None</td>       <td>107.08</td>     </tr>   </tbody> </table></div>`)[0];
            popup_24b728b6f4bb4b7283e0c7de2e06e8bf.setContent(html_e033237d335f4c51ba3f285d6f5c1df1);
        

        circle_5634bd9219be4930a08ef55db57ea5ed.bindPopup(popup_24b728b6f4bb4b7283e0c7de2e06e8bf)
        ;

        
    
    
            var circle_9f98f3c79d004ff8a3664bbab1fb865f = L.circle(
                [34.96721585, 128.06243022],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "orange", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_ca654a128aec4cea8d98932be1e80325);
        
    
        var popup_9da7a234e45f4f4396064206c3efcae2 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_1f7f1742e96a4f51b2751d2eb5ce4d77 = $(`<div id="html_1f7f1742e96a4f51b2751d2eb5ce4d77" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>159</td>       <td>44342028</td>       <td>-73.0</td>       <td>29.5</td>       <td>None</td>       <td>154.03</td>     </tr>   </tbody> </table></div>`)[0];
            popup_9da7a234e45f4f4396064206c3efcae2.setContent(html_1f7f1742e96a4f51b2751d2eb5ce4d77);
        

        circle_9f98f3c79d004ff8a3664bbab1fb865f.bindPopup(popup_9da7a234e45f4f4396064206c3efcae2)
        ;

        
    
    
            var circle_c0b4192f93b04eddad79b2a76d1668f2 = L.circle(
                [34.9713635, 128.06102473],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_ca654a128aec4cea8d98932be1e80325);
        
    
        var popup_49c71adf5c8e4592b4951abd671a4f4b = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_2c851acfbf2f4594a40b92d526d872ab = $(`<div id="html_2c851acfbf2f4594a40b92d526d872ab" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>154</td>       <td>44342278</td>       <td>-86.0</td>       <td>29.5</td>       <td>None</td>       <td>116.831</td>     </tr>   </tbody> </table></div>`)[0];
            popup_49c71adf5c8e4592b4951abd671a4f4b.setContent(html_2c851acfbf2f4594a40b92d526d872ab);
        

        circle_c0b4192f93b04eddad79b2a76d1668f2.bindPopup(popup_49c71adf5c8e4592b4951abd671a4f4b)
        ;

        
    
    
            var circle_b2fb539cd4fa4105a1d139078ce47017 = L.circle(
                [34.97563617, 128.05911748],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_ca654a128aec4cea8d98932be1e80325);
        
    
        var popup_23039d3512064a0abc3f9f4eb93aa548 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_dc21b2e0b3564b368a53ed20b60b44fe = $(`<div id="html_dc21b2e0b3564b368a53ed20b60b44fe" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>149</td>       <td>44342024</td>       <td>-90.0</td>       <td>28.5</td>       <td>None</td>       <td>113.804</td>     </tr>   </tbody> </table></div>`)[0];
            popup_23039d3512064a0abc3f9f4eb93aa548.setContent(html_dc21b2e0b3564b368a53ed20b60b44fe);
        

        circle_b2fb539cd4fa4105a1d139078ce47017.bindPopup(popup_23039d3512064a0abc3f9f4eb93aa548)
        ;

        
    
    
            var circle_cc9398a60727447eaaaba13d42b7a486 = L.circle(
                [34.97496376, 128.05329113],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "yellow", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_ca654a128aec4cea8d98932be1e80325);
        
    
        var popup_d2853a2561d24a80b4bd22092ea721ab = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_1f90fe4595514ca5b887a63bbaad537e = $(`<div id="html_1f90fe4595514ca5b887a63bbaad537e" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>376</td>       <td>44342024</td>       <td>-81.0</td>       <td>15.8</td>       <td>None</td>       <td>21.123</td>     </tr>   </tbody> </table></div>`)[0];
            popup_d2853a2561d24a80b4bd22092ea721ab.setContent(html_1f90fe4595514ca5b887a63bbaad537e);
        

        circle_cc9398a60727447eaaaba13d42b7a486.bindPopup(popup_d2853a2561d24a80b4bd22092ea721ab)
        ;

        
    
    
            var circle_6a680b6a713744e5ab050ca863f7b9dd = L.circle(
                [34.9785288, 128.0509105],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "yellow", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_ca654a128aec4cea8d98932be1e80325);
        
    
        var popup_ebabbcef154d493593fbc94f85b856f8 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_750eafb44053460cbd24b3fa9d328a38 = $(`<div id="html_750eafb44053460cbd24b3fa9d328a38" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>57</td>       <td>44342288</td>       <td>-81.0</td>       <td>-0.4</td>       <td>None</td>       <td>23.6</td>     </tr>   </tbody> </table></div>`)[0];
            popup_ebabbcef154d493593fbc94f85b856f8.setContent(html_750eafb44053460cbd24b3fa9d328a38);
        

        circle_6a680b6a713744e5ab050ca863f7b9dd.bindPopup(popup_ebabbcef154d493593fbc94f85b856f8)
        ;

        
    
    
            var circle_d9df345988b64dcd8df696919e7cc6b1 = L.circle(
                [34.98088603, 128.04674483],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "yellow", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_ca654a128aec4cea8d98932be1e80325);
        
    
        var popup_00785aa2978148009f66c2592ae22123 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_1a1fc2e54bff4b0f970b7d04dd8a011a = $(`<div id="html_1a1fc2e54bff4b0f970b7d04dd8a011a" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>10</td>       <td>44342031</td>       <td>-77.0</td>       <td>30.0</td>       <td>None</td>       <td>121.039</td>     </tr>   </tbody> </table></div>`)[0];
            popup_00785aa2978148009f66c2592ae22123.setContent(html_1a1fc2e54bff4b0f970b7d04dd8a011a);
        

        circle_d9df345988b64dcd8df696919e7cc6b1.bindPopup(popup_00785aa2978148009f66c2592ae22123)
        ;

        
    
    
            var circle_cd190cae8a4d40b59c4bf990ba56ef4a = L.circle(
                [34.98297066, 128.0440612],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_ca654a128aec4cea8d98932be1e80325);
        
    
        var popup_edb1ba9b01e14327b90f0c3f30246850 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_2e58b5c6541b429c93c3396edfb1b3dc = $(`<div id="html_2e58b5c6541b429c93c3396edfb1b3dc" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>10</td>       <td>42399776</td>       <td>-99.0</td>       <td>15.0</td>       <td>None</td>       <td>32.015</td>     </tr>   </tbody> </table></div>`)[0];
            popup_edb1ba9b01e14327b90f0c3f30246850.setContent(html_2e58b5c6541b429c93c3396edfb1b3dc);
        

        circle_cd190cae8a4d40b59c4bf990ba56ef4a.bindPopup(popup_edb1ba9b01e14327b90f0c3f30246850)
        ;

        
    
    
            var circle_3f24e4f132e64e688bece59e309b8fe5 = L.circle(
                [34.98514878, 128.04446505],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "black", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_ca654a128aec4cea8d98932be1e80325);
        
    
        var popup_1abe53b59f5d4e219638c550a4c767fb = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_94afcf1f4e25445281b87e3418aa161a = $(`<div id="html_94afcf1f4e25445281b87e3418aa161a" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>10</td>       <td>42399776</td>       <td>-106.0</td>       <td>13.0</td>       <td>None</td>       <td>28.987</td>     </tr>   </tbody> </table></div>`)[0];
            popup_1abe53b59f5d4e219638c550a4c767fb.setContent(html_94afcf1f4e25445281b87e3418aa161a);
        

        circle_3f24e4f132e64e688bece59e309b8fe5.bindPopup(popup_1abe53b59f5d4e219638c550a4c767fb)
        ;

        
    
    
            var circle_e912cd77f32a4213b43503a141c1a5ab = L.circle(
                [34.98893879, 128.04281823],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "black", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_ca654a128aec4cea8d98932be1e80325);
        
    
        var popup_e448cb43533b4faa9187ec910525c464 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_1688995b14b14cc380f896bfcd140393 = $(`<div id="html_1688995b14b14cc380f896bfcd140393" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>None</td>       <td>44342022</td>       <td>None</td>       <td>0.0</td>       <td>None</td>       <td>0.0</td>     </tr>   </tbody> </table></div>`)[0];
            popup_e448cb43533b4faa9187ec910525c464.setContent(html_1688995b14b14cc380f896bfcd140393);
        

        circle_e912cd77f32a4213b43503a141c1a5ab.bindPopup(popup_e448cb43533b4faa9187ec910525c464)
        ;

        
    
    
            var circle_6a7357584ea14ff0b8908968412717e8 = L.circle(
                [34.99063521, 128.04052412],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "orange", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_ca654a128aec4cea8d98932be1e80325);
        
    
        var popup_fc61cb0d91784008865ba6b3291111d3 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_759b1caacc2b4b37a0e6f7841d78a94d = $(`<div id="html_759b1caacc2b4b37a0e6f7841d78a94d" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>362</td>       <td>44342022</td>       <td>-75.0</td>       <td>24.2</td>       <td>None</td>       <td>43.182</td>     </tr>   </tbody> </table></div>`)[0];
            popup_fc61cb0d91784008865ba6b3291111d3.setContent(html_759b1caacc2b4b37a0e6f7841d78a94d);
        

        circle_6a7357584ea14ff0b8908968412717e8.bindPopup(popup_fc61cb0d91784008865ba6b3291111d3)
        ;

        
    
    
            var circle_466574e4bfb144528d4f56a2c0ce3a26 = L.circle(
                [34.9920483, 128.03980464],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_ca654a128aec4cea8d98932be1e80325);
        
    
        var popup_76aaa4e6d0074f46bcc0dd353e5e02ae = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_99e704c20fda4704934ce39deee63417 = $(`<div id="html_99e704c20fda4704934ce39deee63417" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>261</td>       <td>42399257</td>       <td>-86.0</td>       <td>8.6</td>       <td>None</td>       <td>25.684</td>     </tr>   </tbody> </table></div>`)[0];
            popup_76aaa4e6d0074f46bcc0dd353e5e02ae.setContent(html_99e704c20fda4704934ce39deee63417);
        

        circle_466574e4bfb144528d4f56a2c0ce3a26.bindPopup(popup_76aaa4e6d0074f46bcc0dd353e5e02ae)
        ;

        
    
    
            var circle_9c09d4b816514a2f963b1ddf0d530d82 = L.circle(
                [34.99370276, 128.03946433],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "black", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_ca654a128aec4cea8d98932be1e80325);
        
    
        var popup_1cd6ce419fa64f3da4ace1ae188eeb77 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_3de5052240414d85b7e23f145c6b8768 = $(`<div id="html_3de5052240414d85b7e23f145c6b8768" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>None</td>       <td>42399257</td>       <td>None</td>       <td>0.0</td>       <td>None</td>       <td>0.0</td>     </tr>   </tbody> </table></div>`)[0];
            popup_1cd6ce419fa64f3da4ace1ae188eeb77.setContent(html_3de5052240414d85b7e23f145c6b8768);
        

        circle_9c09d4b816514a2f963b1ddf0d530d82.bindPopup(popup_1cd6ce419fa64f3da4ace1ae188eeb77)
        ;

        
    
    
            var circle_a6e54fa7b651479a80bfb13e37222373 = L.circle(
                [34.99603788, 128.0390232],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "black", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_ca654a128aec4cea8d98932be1e80325);
        
    
        var popup_8728198ef2f94411a5c84bf81b6c49f6 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_3a02a09d3b1e421fbdfe6756434288cd = $(`<div id="html_3a02a09d3b1e421fbdfe6756434288cd" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>None</td>       <td>42399257</td>       <td>None</td>       <td>0.0</td>       <td>None</td>       <td>0.0</td>     </tr>   </tbody> </table></div>`)[0];
            popup_8728198ef2f94411a5c84bf81b6c49f6.setContent(html_3a02a09d3b1e421fbdfe6756434288cd);
        

        circle_a6e54fa7b651479a80bfb13e37222373.bindPopup(popup_8728198ef2f94411a5c84bf81b6c49f6)
        ;

        
    
    
            var circle_d304b5dac5f74a8db389c038a9edb1f7 = L.circle(
                [34.99724881, 128.03891954],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "black", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_ca654a128aec4cea8d98932be1e80325);
        
    
        var popup_f3346b6ca27f448896a838d2c28564e0 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_b000092435004714a9e3d25798f0868f = $(`<div id="html_b000092435004714a9e3d25798f0868f" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>456</td>       <td>42399257</td>       <td>0.0</td>       <td>0.0</td>       <td>None</td>       <td>45.266</td>     </tr>   </tbody> </table></div>`)[0];
            popup_f3346b6ca27f448896a838d2c28564e0.setContent(html_b000092435004714a9e3d25798f0868f);
        

        circle_d304b5dac5f74a8db389c038a9edb1f7.bindPopup(popup_f3346b6ca27f448896a838d2c28564e0)
        ;

        
    
    
            var circle_bc2cec6bb14144439771b3148767cb1f = L.circle(
                [34.99848179, 128.03925954],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_ca654a128aec4cea8d98932be1e80325);
        
    
        var popup_c2e407ebd190458693ff7c1f86abf4da = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_8eedebb0052e4d998fdc08b1ef43593f = $(`<div id="html_8eedebb0052e4d998fdc08b1ef43593f" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>261</td>       <td>42399257</td>       <td>-95.0</td>       <td>10.0</td>       <td>None</td>       <td>27.65</td>     </tr>   </tbody> </table></div>`)[0];
            popup_c2e407ebd190458693ff7c1f86abf4da.setContent(html_8eedebb0052e4d998fdc08b1ef43593f);
        

        circle_bc2cec6bb14144439771b3148767cb1f.bindPopup(popup_c2e407ebd190458693ff7c1f86abf4da)
        ;

        
    
    
            var circle_2149d684c0d44395942d28dc31fb6b2d = L.circle(
                [34.99911087, 128.03990291],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_ca654a128aec4cea8d98932be1e80325);
        
    
        var popup_f1899136e10c4aaeac1d56365bfa9365 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_1a7705c4167540ce8d27ff95df34ea14 = $(`<div id="html_1a7705c4167540ce8d27ff95df34ea14" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>261</td>       <td>42399257</td>       <td>-89.0</td>       <td>7.0</td>       <td>None</td>       <td>13.219</td>     </tr>   </tbody> </table></div>`)[0];
            popup_f1899136e10c4aaeac1d56365bfa9365.setContent(html_1a7705c4167540ce8d27ff95df34ea14);
        

        circle_2149d684c0d44395942d28dc31fb6b2d.bindPopup(popup_f1899136e10c4aaeac1d56365bfa9365)
        ;

        
    
    
            var circle_4a02e9ad4b5941eb9659719b59c0cb67 = L.circle(
                [34.99929481, 128.04008768],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 29.0, "stroke": true, "weight": 1}
            ).addTo(feature_group_ca654a128aec4cea8d98932be1e80325);
        
    
        var popup_6b16fa819740421c9fd4e05f6448bbe4 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_cee1f35585bf43cca0e5615253c0f1ba = $(`<div id="html_cee1f35585bf43cca0e5615253c0f1ba" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>300</td>       <td>42074390</td>       <td>-95.0</td>       <td>2.8</td>       <td>None</td>       <td>23.207</td>     </tr>   </tbody> </table></div>`)[0];
            popup_6b16fa819740421c9fd4e05f6448bbe4.setContent(html_cee1f35585bf43cca0e5615253c0f1ba);
        

        circle_4a02e9ad4b5941eb9659719b59c0cb67.bindPopup(popup_6b16fa819740421c9fd4e05f6448bbe4)
        ;

        
    
    
            var circle_020be2b284e64c298a62133bdfe84ef1 = L.circle(
                [34.99929481, 128.04008768],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "black", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 29.0, "stroke": true, "weight": 1}
            ).addTo(feature_group_ca654a128aec4cea8d98932be1e80325);
        
    
        var popup_d0a29d7af01b4fd8b0682f95c898c599 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_d4f7a5dc83e443d3881460833c41ed9e = $(`<div id="html_d4f7a5dc83e443d3881460833c41ed9e" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>0</td>       <td>42074390</td>       <td>0.0</td>       <td>0.0</td>       <td>None</td>       <td>20.926</td>     </tr>   </tbody> </table></div>`)[0];
            popup_d0a29d7af01b4fd8b0682f95c898c599.setContent(html_d4f7a5dc83e443d3881460833c41ed9e);
        

        circle_020be2b284e64c298a62133bdfe84ef1.bindPopup(popup_d0a29d7af01b4fd8b0682f95c898c599)
        ;

        
    
</script>