<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_0c149301aa7f48859307426b1bb96a75 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_0c149301aa7f48859307426b1bb96a75" ></div>
        
</body>
<script>    
    
            var map_0c149301aa7f48859307426b1bb96a75 = L.map(
                "map_0c149301aa7f48859307426b1bb96a75",
                {
                    center: [34.97066201, 128.06350682],
                    crs: L.CRS.EPSG3857,
                    zoom: 15,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_56a0eb1c88844c3199a60e4d2f1789df = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_0c149301aa7f48859307426b1bb96a75);
        
    
            var marker_0cceb58d929243c9be2c4c0ae90bb701 = L.marker(
                [34.97066201, 128.06350682],
                {"iconSize": [10, 10]}
            ).addTo(map_0c149301aa7f48859307426b1bb96a75);
        
    
            var icon_a081dd5468f04f15a722ce37dddca2a2 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "star", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_0cceb58d929243c9be2c4c0ae90bb701.setIcon(icon_a081dd5468f04f15a722ce37dddca2a2);
        
    
            var poly_line_cc0dcc757e65456ba60cc942c7fee082 = L.polyline(
                [[34.97066201, 128.06350682], [34.97067124, 128.06350865], [34.97067124, 128.06350865], [34.97062463, 128.06266361], [34.96943816, 128.06309475], [34.9677901, 128.06368849], [34.96726027, 128.06242535], [34.9701047, 128.06140358], [34.97570425, 128.05938358], [34.97472996, 128.05332625], [34.97841054, 128.05177401], [34.98063054, 128.04683124], [34.98273297, 128.04429025], [34.98485869, 128.04420499], [34.9872273, 128.04369116], [34.98938429, 128.04252388], [34.99116685, 128.04022274], [34.99229836, 128.03972139], [34.99454275, 128.03953641], [34.99567496, 128.03909987], [34.99698642, 128.03888846], [34.99812599, 128.03895981], [34.99936072, 128.04019649]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_0c149301aa7f48859307426b1bb96a75);
        
    
            var feature_group_744e3c2d8fcf4bc7abe9255a7f722d6b = L.featureGroup(
                {}
            ).addTo(map_0c149301aa7f48859307426b1bb96a75);
        
    
            var circle_197f7a3f3e34485c8ceb1e5d29faa59f = L.circle(
                [34.97066201, 128.06350682],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_744e3c2d8fcf4bc7abe9255a7f722d6b);
        
    
        var popup_f9c9fd7d9a864b88a76ecb2112eddfee = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_512485423a82466d8bd73c31cef9140d = $(`<div id="html_512485423a82466d8bd73c31cef9140d" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>165</td>       <td>11927079</td>       <td>-105.0</td>       <td>8.5</td>       <td>671.325</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_f9c9fd7d9a864b88a76ecb2112eddfee.setContent(html_512485423a82466d8bd73c31cef9140d);
        

        circle_197f7a3f3e34485c8ceb1e5d29faa59f.bindPopup(popup_f9c9fd7d9a864b88a76ecb2112eddfee)
        ;

        
    
    
            var circle_c1f1d0136ce444c3ab3a68e72a19e658 = L.circle(
                [34.97067124, 128.06350865],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_744e3c2d8fcf4bc7abe9255a7f722d6b);
        
    
        var popup_7b8bcabe467241429145f78527c3e8dc = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_5ebf47cafc9846d8b63556b48135aabb = $(`<div id="html_5ebf47cafc9846d8b63556b48135aabb" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>165</td>       <td>11927079</td>       <td>-102.0</td>       <td>9.0</td>       <td>646.256</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_7b8bcabe467241429145f78527c3e8dc.setContent(html_5ebf47cafc9846d8b63556b48135aabb);
        

        circle_c1f1d0136ce444c3ab3a68e72a19e658.bindPopup(popup_7b8bcabe467241429145f78527c3e8dc)
        ;

        
    
    
            var circle_cce2b221cc464963b91d1c4555e501ff = L.circle(
                [34.97067124, 128.06350865],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "black", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_744e3c2d8fcf4bc7abe9255a7f722d6b);
        
    
        var popup_f26eefb7658d4cb19b412f5ca0a08d0b = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_f36616692eb4423e94419689ab6b5a10 = $(`<div id="html_f36616692eb4423e94419689ab6b5a10" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>165</td>       <td>11927079</td>       <td>-110.0</td>       <td>5.0</td>       <td>575.473</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_f26eefb7658d4cb19b412f5ca0a08d0b.setContent(html_f36616692eb4423e94419689ab6b5a10);
        

        circle_cce2b221cc464963b91d1c4555e501ff.bindPopup(popup_f26eefb7658d4cb19b412f5ca0a08d0b)
        ;

        
    
    
            var circle_253d9909aac74b1f9af64b7b0b8e21a6 = L.circle(
                [34.97062463, 128.06266361],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_744e3c2d8fcf4bc7abe9255a7f722d6b);
        
    
        var popup_88f5e526e56c44c98279001e7d37de29 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_48e6deedf32d44b6869f86cd9fb01a1b = $(`<div id="html_48e6deedf32d44b6869f86cd9fb01a1b" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>785</td>       <td>11926295</td>       <td>-90.0</td>       <td>19.0</td>       <td>986.858</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_88f5e526e56c44c98279001e7d37de29.setContent(html_48e6deedf32d44b6869f86cd9fb01a1b);
        

        circle_253d9909aac74b1f9af64b7b0b8e21a6.bindPopup(popup_88f5e526e56c44c98279001e7d37de29)
        ;

        
    
    
            var circle_81e41d58b2e14179b3db6b3832d1f815 = L.circle(
                [34.96943816, 128.06309475],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "yellow", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_744e3c2d8fcf4bc7abe9255a7f722d6b);
        
    
        var popup_2da7d6dc23bc45e886fbb97ae48ff7c7 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_b3efbbc226ef4905a8d56f4b0c993cac = $(`<div id="html_b3efbbc226ef4905a8d56f4b0c993cac" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>131</td>       <td>11927079</td>       <td>-76.0</td>       <td>32.0</td>       <td>1025.387</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_2da7d6dc23bc45e886fbb97ae48ff7c7.setContent(html_b3efbbc226ef4905a8d56f4b0c993cac);
        

        circle_81e41d58b2e14179b3db6b3832d1f815.bindPopup(popup_2da7d6dc23bc45e886fbb97ae48ff7c7)
        ;

        
    
    
            var circle_d4cbb7da26bd44fab44c70530520f645 = L.circle(
                [34.9677901, 128.06368849],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "yellow", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_744e3c2d8fcf4bc7abe9255a7f722d6b);
        
    
        var popup_ad91b77cb7b842ae81e7723be0bf6327 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_3a5e59cefcf0488faf2d0d9ae5ddfa0c = $(`<div id="html_3a5e59cefcf0488faf2d0d9ae5ddfa0c" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>131</td>       <td>11927079</td>       <td>-77.0</td>       <td>33.5</td>       <td>1204.678</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_ad91b77cb7b842ae81e7723be0bf6327.setContent(html_3a5e59cefcf0488faf2d0d9ae5ddfa0c);
        

        circle_d4cbb7da26bd44fab44c70530520f645.bindPopup(popup_ad91b77cb7b842ae81e7723be0bf6327)
        ;

        
    
    
            var circle_f722a4c280134d3da0eb9266a277b5f3 = L.circle(
                [34.96726027, 128.06242535],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_744e3c2d8fcf4bc7abe9255a7f722d6b);
        
    
        var popup_f3d8b6dabada4a45b20280bbd335ed16 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_ac4d5841b67b433da3bc134093cd1052 = $(`<div id="html_ac4d5841b67b433da3bc134093cd1052" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>366</td>       <td>11926827</td>       <td>-93.0</td>       <td>21.0</td>       <td>863.771</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_f3d8b6dabada4a45b20280bbd335ed16.setContent(html_ac4d5841b67b433da3bc134093cd1052);
        

        circle_f722a4c280134d3da0eb9266a277b5f3.bindPopup(popup_f3d8b6dabada4a45b20280bbd335ed16)
        ;

        
    
    
            var circle_61efc744f2ab4f2bb04f9c466ccdbfec = L.circle(
                [34.9701047, 128.06140358],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_744e3c2d8fcf4bc7abe9255a7f722d6b);
        
    
        var popup_edf10c8b03cf4dc898316ea54bbc73a1 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_fb7a927fd3ae44229ab0ecc41d622316 = $(`<div id="html_fb7a927fd3ae44229ab0ecc41d622316" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>366</td>       <td>11926295</td>       <td>-89.0</td>       <td>21.5</td>       <td>804.5</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_edf10c8b03cf4dc898316ea54bbc73a1.setContent(html_fb7a927fd3ae44229ab0ecc41d622316);
        

        circle_61efc744f2ab4f2bb04f9c466ccdbfec.bindPopup(popup_edf10c8b03cf4dc898316ea54bbc73a1)
        ;

        
    
    
            var circle_0552a7cc8744401098acc98461bbfbe9 = L.circle(
                [34.97570425, 128.05938358],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "yellow", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_744e3c2d8fcf4bc7abe9255a7f722d6b);
        
    
        var popup_1f610d02678c465d942d5c68e0bc4ad9 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_c546019788da41fc9c56b6b1e56a72f8 = $(`<div id="html_c546019788da41fc9c56b6b1e56a72f8" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>584</td>       <td>11926295</td>       <td>-84.0</td>       <td>29.0</td>       <td>1299.998</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_1f610d02678c465d942d5c68e0bc4ad9.setContent(html_c546019788da41fc9c56b6b1e56a72f8);
        

        circle_0552a7cc8744401098acc98461bbfbe9.bindPopup(popup_1f610d02678c465d942d5c68e0bc4ad9)
        ;

        
    
    
            var circle_9213dcadef6c4766b694efed4cd2cab3 = L.circle(
                [34.97472996, 128.05332625],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "orange", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_744e3c2d8fcf4bc7abe9255a7f722d6b);
        
    
        var popup_572ba1e6846c4f1d979f5cddced2f68a = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_f68122fb28224846b3b47fcb6de2eed8 = $(`<div id="html_f68122fb28224846b3b47fcb6de2eed8" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>112</td>       <td>12002327</td>       <td>-67.0</td>       <td>31.5</td>       <td>1111.735</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_572ba1e6846c4f1d979f5cddced2f68a.setContent(html_f68122fb28224846b3b47fcb6de2eed8);
        

        circle_9213dcadef6c4766b694efed4cd2cab3.bindPopup(popup_572ba1e6846c4f1d979f5cddced2f68a)
        ;

        
    
    
            var circle_3c9fc7d9610c4faeba12c3ee7ccfa4a2 = L.circle(
                [34.97841054, 128.05177401],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_744e3c2d8fcf4bc7abe9255a7f722d6b);
        
    
        var popup_e58d2865fba146bf8adfd1628e10bbe2 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_63aa43392c1143e188033a8d8ac298fc = $(`<div id="html_63aa43392c1143e188033a8d8ac298fc" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>112</td>       <td>12002327</td>       <td>-100.0</td>       <td>11.0</td>       <td>618.546</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_e58d2865fba146bf8adfd1628e10bbe2.setContent(html_63aa43392c1143e188033a8d8ac298fc);
        

        circle_3c9fc7d9610c4faeba12c3ee7ccfa4a2.bindPopup(popup_e58d2865fba146bf8adfd1628e10bbe2)
        ;

        
    
    
            var circle_043565abe4ec473f8e8ec38b3422ceda = L.circle(
                [34.98063054, 128.04683124],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_744e3c2d8fcf4bc7abe9255a7f722d6b);
        
    
        var popup_013fc434d7f6403e89dc7eb1e98f6cdb = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_ad0c244a09e4469982aab051c77825e7 = $(`<div id="html_ad0c244a09e4469982aab051c77825e7" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>684</td>       <td>12249875</td>       <td>-103.0</td>       <td>6.5</td>       <td>502.958</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_013fc434d7f6403e89dc7eb1e98f6cdb.setContent(html_ad0c244a09e4469982aab051c77825e7);
        

        circle_043565abe4ec473f8e8ec38b3422ceda.bindPopup(popup_013fc434d7f6403e89dc7eb1e98f6cdb)
        ;

        
    
    
            var circle_c04097e2cb9d422b920feba1f0bac792 = L.circle(
                [34.98273297, 128.04429025],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_744e3c2d8fcf4bc7abe9255a7f722d6b);
        
    
        var popup_12df6d7a62c74787ac590d0096ba55ab = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_ee06fab28dcd4c999d7da9812c53487e = $(`<div id="html_ee06fab28dcd4c999d7da9812c53487e" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>684</td>       <td>12249875</td>       <td>-92.0</td>       <td>11.0</td>       <td>690.457</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_12df6d7a62c74787ac590d0096ba55ab.setContent(html_ee06fab28dcd4c999d7da9812c53487e);
        

        circle_c04097e2cb9d422b920feba1f0bac792.bindPopup(popup_12df6d7a62c74787ac590d0096ba55ab)
        ;

        
    
    
            var circle_868407af745d4d6f8d2c397b126fed7f = L.circle(
                [34.98485869, 128.04420499],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_744e3c2d8fcf4bc7abe9255a7f722d6b);
        
    
        var popup_619e15bce6fe4fd4a2cfb56a35f972b9 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_588794e62b58485d98ca436d4e502f83 = $(`<div id="html_588794e62b58485d98ca436d4e502f83" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>150</td>       <td>12249875</td>       <td>-100.0</td>       <td>7.0</td>       <td>366.679</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_619e15bce6fe4fd4a2cfb56a35f972b9.setContent(html_588794e62b58485d98ca436d4e502f83);
        

        circle_868407af745d4d6f8d2c397b126fed7f.bindPopup(popup_619e15bce6fe4fd4a2cfb56a35f972b9)
        ;

        
    
    
            var circle_b522a18bdbac47fc8e53384d5e573ce0 = L.circle(
                [34.9872273, 128.04369116],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_744e3c2d8fcf4bc7abe9255a7f722d6b);
        
    
        var popup_0ed4ae1b5b6d4ff59e4b9f99f486f3b2 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_1172ad6aaabe4e4e911d88766a59a8ce = $(`<div id="html_1172ad6aaabe4e4e911d88766a59a8ce" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>150</td>       <td>12249875</td>       <td>-98.0</td>       <td>0.5</td>       <td>196.727</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_0ed4ae1b5b6d4ff59e4b9f99f486f3b2.setContent(html_1172ad6aaabe4e4e911d88766a59a8ce);
        

        circle_b522a18bdbac47fc8e53384d5e573ce0.bindPopup(popup_0ed4ae1b5b6d4ff59e4b9f99f486f3b2)
        ;

        
    
    
            var circle_753d41d0c9934702b64d6c2ce8851a25 = L.circle(
                [34.98938429, 128.04252388],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_744e3c2d8fcf4bc7abe9255a7f722d6b);
        
    
        var popup_d127c8caab144380bf4a881f7afd498e = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_7e61008fe8d741fa961ab64b0c63aee5 = $(`<div id="html_7e61008fe8d741fa961ab64b0c63aee5" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>684</td>       <td>12249875</td>       <td>-94.0</td>       <td>13.5</td>       <td>395.308</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_d127c8caab144380bf4a881f7afd498e.setContent(html_7e61008fe8d741fa961ab64b0c63aee5);
        

        circle_753d41d0c9934702b64d6c2ce8851a25.bindPopup(popup_d127c8caab144380bf4a881f7afd498e)
        ;

        
    
    
            var circle_5936a3ba7e014e2194321fe11309e72d = L.circle(
                [34.99116685, 128.04022274],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "yellow", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_744e3c2d8fcf4bc7abe9255a7f722d6b);
        
    
        var popup_79825302f4784ba4ae1a0a25fd1b6ae9 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_313278abf82d43899df04a5189a70b2e = $(`<div id="html_313278abf82d43899df04a5189a70b2e" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>465</td>       <td>12249867</td>       <td>-83.0</td>       <td>26.5</td>       <td>900.536</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_79825302f4784ba4ae1a0a25fd1b6ae9.setContent(html_313278abf82d43899df04a5189a70b2e);
        

        circle_5936a3ba7e014e2194321fe11309e72d.bindPopup(popup_79825302f4784ba4ae1a0a25fd1b6ae9)
        ;

        
    
    
            var circle_25f7e9a6b83d48a8ba7860163e329dd3 = L.circle(
                [34.99229836, 128.03972139],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_744e3c2d8fcf4bc7abe9255a7f722d6b);
        
    
        var popup_dd1907e01b814f1bbb60bc913eb1ad00 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_9b964fffb1004ff9b0fb7ce7fe1949da = $(`<div id="html_9b964fffb1004ff9b0fb7ce7fe1949da" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>465</td>       <td>12249867</td>       <td>-93.0</td>       <td>18.0</td>       <td>798.965</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_dd1907e01b814f1bbb60bc913eb1ad00.setContent(html_9b964fffb1004ff9b0fb7ce7fe1949da);
        

        circle_25f7e9a6b83d48a8ba7860163e329dd3.bindPopup(popup_dd1907e01b814f1bbb60bc913eb1ad00)
        ;

        
    
    
            var circle_44280c5e27ac4cdb864f267d8387aa85 = L.circle(
                [34.99454275, 128.03953641],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_744e3c2d8fcf4bc7abe9255a7f722d6b);
        
    
        var popup_35b300a1a58645c38064528e3430c523 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_313f2490e4d54031b922d2edf74a9f9d = $(`<div id="html_313f2490e4d54031b922d2edf74a9f9d" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>372</td>       <td>12249867</td>       <td>-88.0</td>       <td>3.6</td>       <td>135.495</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_35b300a1a58645c38064528e3430c523.setContent(html_313f2490e4d54031b922d2edf74a9f9d);
        

        circle_44280c5e27ac4cdb864f267d8387aa85.bindPopup(popup_35b300a1a58645c38064528e3430c523)
        ;

        
    
    
            var circle_5e8c3af32fa4434da9fe889a8ca4dc95 = L.circle(
                [34.99567496, 128.03909987],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "black", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_744e3c2d8fcf4bc7abe9255a7f722d6b);
        
    
        var popup_55b4073706e4410bacb874d9f264c241 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_b65e32e71cbc4b198d0d8941a855dbc4 = $(`<div id="html_b65e32e71cbc4b198d0d8941a855dbc4" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>465</td>       <td>12249727</td>       <td>-106.0</td>       <td>11.5</td>       <td>462.439</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_55b4073706e4410bacb874d9f264c241.setContent(html_b65e32e71cbc4b198d0d8941a855dbc4);
        

        circle_5e8c3af32fa4434da9fe889a8ca4dc95.bindPopup(popup_55b4073706e4410bacb874d9f264c241)
        ;

        
    
    
            var circle_60a5f519d4e6434db53d8739b3891226 = L.circle(
                [34.99698642, 128.03888846],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "black", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_744e3c2d8fcf4bc7abe9255a7f722d6b);
        
    
        var popup_c2b25afb703c42099318f757a6672413 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_8690524219d047e9aa099e29d3e4c155 = $(`<div id="html_8690524219d047e9aa099e29d3e4c155" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>465</td>       <td>12249727</td>       <td>-106.0</td>       <td>9.0</td>       <td>614.734</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_c2b25afb703c42099318f757a6672413.setContent(html_8690524219d047e9aa099e29d3e4c155);
        

        circle_60a5f519d4e6434db53d8739b3891226.bindPopup(popup_c2b25afb703c42099318f757a6672413)
        ;

        
    
    
            var circle_9dbf236e5c484d038bef7ad1e9822f55 = L.circle(
                [34.99812599, 128.03895981],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_744e3c2d8fcf4bc7abe9255a7f722d6b);
        
    
        var popup_2c875d626ab64fc6a268abc3dc9118e2 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_67b7fe1bc6524eeca0b800aab48e8d01 = $(`<div id="html_67b7fe1bc6524eeca0b800aab48e8d01" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>465</td>       <td>12249727</td>       <td>-99.0</td>       <td>11.0</td>       <td>765.01</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_2c875d626ab64fc6a268abc3dc9118e2.setContent(html_67b7fe1bc6524eeca0b800aab48e8d01);
        

        circle_9dbf236e5c484d038bef7ad1e9822f55.bindPopup(popup_2c875d626ab64fc6a268abc3dc9118e2)
        ;

        
    
    
            var circle_f36c8c0887044f2d96554ef5b00408d8 = L.circle(
                [34.99936072, 128.04019649],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "orange", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 29.0, "stroke": true, "weight": 1}
            ).addTo(feature_group_744e3c2d8fcf4bc7abe9255a7f722d6b);
        
    
        var popup_aea1af7d4ac64f5393c5edb14244d521 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_4f7ad1d8da814eb98047f843cd8efa4d = $(`<div id="html_4f7ad1d8da814eb98047f843cd8efa4d" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>315</td>       <td>12249727</td>       <td>-73.0</td>       <td>23.6</td>       <td>449.137</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_aea1af7d4ac64f5393c5edb14244d521.setContent(html_4f7ad1d8da814eb98047f843cd8efa4d);
        

        circle_f36c8c0887044f2d96554ef5b00408d8.bindPopup(popup_aea1af7d4ac64f5393c5edb14244d521)
        ;

        
    
</script>