<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_1cad9a43b523453398ddbcbab07579ca {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_1cad9a43b523453398ddbcbab07579ca" ></div>
        
</body>
<script>    
    
            var map_1cad9a43b523453398ddbcbab07579ca = L.map(
                "map_1cad9a43b523453398ddbcbab07579ca",
                {
                    center: [34.9706066, 128.06347966],
                    crs: L.CRS.EPSG3857,
                    zoom: 15,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_336f14c610704242813819cd150c97d0 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_1cad9a43b523453398ddbcbab07579ca);
        
    
            var marker_05053eb1d1d9419b93d9dab2c55a9667 = L.marker(
                [34.9706066, 128.06347966],
                {"iconSize": [10, 10]}
            ).addTo(map_1cad9a43b523453398ddbcbab07579ca);
        
    
            var icon_1f55bd31b6814530a3ac657cb09a27f1 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "star", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_05053eb1d1d9419b93d9dab2c55a9667.setIcon(icon_1f55bd31b6814530a3ac657cb09a27f1);
        
    
            var poly_line_dae5d52264bc4a108423761479d446d0 = L.polyline(
                [[34.97072448, 128.06346171], [34.97059799, 128.06343259], [34.97061737, 128.06342272], [34.97065849, 128.06261364], [34.9694144, 128.06310709], [34.96770384, 128.06373825], [34.96721585, 128.06243022], [34.9713635, 128.06102473], [34.97563617, 128.05911748], [34.97496376, 128.05329113], [34.9785288, 128.0509105], [34.98088603, 128.04674483], [34.98297066, 128.0440612], [34.98514878, 128.04446505], [34.98893879, 128.04281823], [34.99063521, 128.04052412], [34.9920483, 128.03980464], [34.99370276, 128.03946433], [34.99603788, 128.0390232], [34.99724881, 128.03891954], [34.99848179, 128.03925954], [34.99911087, 128.03990291], [34.99929481, 128.04008768], [34.99929481, 128.04008768]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_1cad9a43b523453398ddbcbab07579ca);
        
    
            var feature_group_99faad5814c44b23979f48798bea1040 = L.featureGroup(
                {}
            ).addTo(map_1cad9a43b523453398ddbcbab07579ca);
        
    
            var circle_771e4e5b88df4223a4a380e504a5b66f = L.circle(
                [34.97072448, 128.06346171],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_99faad5814c44b23979f48798bea1040);
        
    
        var popup_2ad2af579b9b438283f6110b93ca58b8 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_74df67c466744c408268c740b483740d = $(`<div id="html_74df67c466744c408268c740b483740d" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>154</td>       <td>44342024</td>       <td>-102.0</td>       <td>15.5</td>       <td>None</td>       <td>29.931</td>     </tr>   </tbody> </table></div>`)[0];
            popup_2ad2af579b9b438283f6110b93ca58b8.setContent(html_74df67c466744c408268c740b483740d);
        

        circle_771e4e5b88df4223a4a380e504a5b66f.bindPopup(popup_2ad2af579b9b438283f6110b93ca58b8)
        ;

        
    
    
            var circle_902937c9379c4efe86f7358163a52edc = L.circle(
                [34.97059799, 128.06343259],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_99faad5814c44b23979f48798bea1040);
        
    
        var popup_8ce01a8dc6354584b8dfe18a8383e8ad = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_882aea98709241a69de6d5612ed3ac33 = $(`<div id="html_882aea98709241a69de6d5612ed3ac33" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>154</td>       <td>44342024</td>       <td>-103.0</td>       <td>16.5</td>       <td>None</td>       <td>38.935</td>     </tr>   </tbody> </table></div>`)[0];
            popup_8ce01a8dc6354584b8dfe18a8383e8ad.setContent(html_882aea98709241a69de6d5612ed3ac33);
        

        circle_902937c9379c4efe86f7358163a52edc.bindPopup(popup_8ce01a8dc6354584b8dfe18a8383e8ad)
        ;

        
    
    
            var circle_5639347b70a4480d88499a12f0cc6a84 = L.circle(
                [34.97061737, 128.06342272],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_99faad5814c44b23979f48798bea1040);
        
    
        var popup_8b14f3cc112c401eaaa477f852161546 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_1696b375e56b4892abfa05793800385a = $(`<div id="html_1696b375e56b4892abfa05793800385a" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>154</td>       <td>44342024</td>       <td>-104.0</td>       <td>17.5</td>       <td>None</td>       <td>43.3</td>     </tr>   </tbody> </table></div>`)[0];
            popup_8b14f3cc112c401eaaa477f852161546.setContent(html_1696b375e56b4892abfa05793800385a);
        

        circle_5639347b70a4480d88499a12f0cc6a84.bindPopup(popup_8b14f3cc112c401eaaa477f852161546)
        ;

        
    
    
            var circle_448267b6cc8d4a84a112ec68b0d2709e = L.circle(
                [34.97065849, 128.06261364],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_99faad5814c44b23979f48798bea1040);
        
    
        var popup_8e380c8fba124a718161fc3093e2f2db = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_d074a4e19e00494988dd036d05295deb = $(`<div id="html_d074a4e19e00494988dd036d05295deb" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>154</td>       <td>44342024</td>       <td>-100.0</td>       <td>18.0</td>       <td>None</td>       <td>84.155</td>     </tr>   </tbody> </table></div>`)[0];
            popup_8e380c8fba124a718161fc3093e2f2db.setContent(html_d074a4e19e00494988dd036d05295deb);
        

        circle_448267b6cc8d4a84a112ec68b0d2709e.bindPopup(popup_8e380c8fba124a718161fc3093e2f2db)
        ;

        
    
    
            var circle_84b7374dd9794674964151db433b1100 = L.circle(
                [34.9694144, 128.06310709],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "yellow", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_99faad5814c44b23979f48798bea1040);
        
    
        var popup_a97fcdff7e1a4773b72360bd026611b4 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_afd489c6587b48e1919a85ffa0ba108e = $(`<div id="html_afd489c6587b48e1919a85ffa0ba108e" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>174</td>       <td>44342287</td>       <td>-79.0</td>       <td>23.5</td>       <td>None</td>       <td>93.474</td>     </tr>   </tbody> </table></div>`)[0];
            popup_a97fcdff7e1a4773b72360bd026611b4.setContent(html_afd489c6587b48e1919a85ffa0ba108e);
        

        circle_84b7374dd9794674964151db433b1100.bindPopup(popup_a97fcdff7e1a4773b72360bd026611b4)
        ;

        
    
    
            var circle_44e2cf61c8e44f0c9335b0325351d414 = L.circle(
                [34.96770384, 128.06373825],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "yellow", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_99faad5814c44b23979f48798bea1040);
        
    
        var popup_a8e969c60a9840d7bab46d846a208d4d = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_8b4d1acce91d4624854d7394ab96d251 = $(`<div id="html_8b4d1acce91d4624854d7394ab96d251" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>174</td>       <td>44342287</td>       <td>-84.0</td>       <td>21.0</td>       <td>None</td>       <td>107.08</td>     </tr>   </tbody> </table></div>`)[0];
            popup_a8e969c60a9840d7bab46d846a208d4d.setContent(html_8b4d1acce91d4624854d7394ab96d251);
        

        circle_44e2cf61c8e44f0c9335b0325351d414.bindPopup(popup_a8e969c60a9840d7bab46d846a208d4d)
        ;

        
    
    
            var circle_a914fdf37d0847168291a9ae474746db = L.circle(
                [34.96721585, 128.06243022],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "orange", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_99faad5814c44b23979f48798bea1040);
        
    
        var popup_07b96dddd3a844ae9e645b6b1a9ac928 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_b6349200358749d7a3bbc06210ba2c18 = $(`<div id="html_b6349200358749d7a3bbc06210ba2c18" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>159</td>       <td>44342028</td>       <td>-73.0</td>       <td>29.5</td>       <td>None</td>       <td>154.03</td>     </tr>   </tbody> </table></div>`)[0];
            popup_07b96dddd3a844ae9e645b6b1a9ac928.setContent(html_b6349200358749d7a3bbc06210ba2c18);
        

        circle_a914fdf37d0847168291a9ae474746db.bindPopup(popup_07b96dddd3a844ae9e645b6b1a9ac928)
        ;

        
    
    
            var circle_0918ad1590d343d2a7432bf600a4b19d = L.circle(
                [34.9713635, 128.06102473],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_99faad5814c44b23979f48798bea1040);
        
    
        var popup_4c9f55aca58e467fad0b44c51eb88c8d = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_f8b219eaf3e347c7b5e578a602f96b50 = $(`<div id="html_f8b219eaf3e347c7b5e578a602f96b50" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>154</td>       <td>44342278</td>       <td>-86.0</td>       <td>29.5</td>       <td>None</td>       <td>116.831</td>     </tr>   </tbody> </table></div>`)[0];
            popup_4c9f55aca58e467fad0b44c51eb88c8d.setContent(html_f8b219eaf3e347c7b5e578a602f96b50);
        

        circle_0918ad1590d343d2a7432bf600a4b19d.bindPopup(popup_4c9f55aca58e467fad0b44c51eb88c8d)
        ;

        
    
    
            var circle_c533f026daca4fa189dd3930930f9ef8 = L.circle(
                [34.97563617, 128.05911748],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_99faad5814c44b23979f48798bea1040);
        
    
        var popup_a015ea3f19fe4261b778553b12415fba = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_482f4a58c00941379aa3f0ada0994794 = $(`<div id="html_482f4a58c00941379aa3f0ada0994794" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>149</td>       <td>44342024</td>       <td>-90.0</td>       <td>28.5</td>       <td>None</td>       <td>113.804</td>     </tr>   </tbody> </table></div>`)[0];
            popup_a015ea3f19fe4261b778553b12415fba.setContent(html_482f4a58c00941379aa3f0ada0994794);
        

        circle_c533f026daca4fa189dd3930930f9ef8.bindPopup(popup_a015ea3f19fe4261b778553b12415fba)
        ;

        
    
    
            var circle_a5f00343447044bb9fdcb40badb72ff3 = L.circle(
                [34.97496376, 128.05329113],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "yellow", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_99faad5814c44b23979f48798bea1040);
        
    
        var popup_6b19915de7f545b7a8b1a85fbc971dbd = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_9b2319817587429cb6091a90edd94302 = $(`<div id="html_9b2319817587429cb6091a90edd94302" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>376</td>       <td>44342024</td>       <td>-81.0</td>       <td>15.8</td>       <td>None</td>       <td>21.123</td>     </tr>   </tbody> </table></div>`)[0];
            popup_6b19915de7f545b7a8b1a85fbc971dbd.setContent(html_9b2319817587429cb6091a90edd94302);
        

        circle_a5f00343447044bb9fdcb40badb72ff3.bindPopup(popup_6b19915de7f545b7a8b1a85fbc971dbd)
        ;

        
    
    
            var circle_65088b3078e642a0bd4435131f33d13f = L.circle(
                [34.9785288, 128.0509105],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "yellow", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_99faad5814c44b23979f48798bea1040);
        
    
        var popup_fec1c3687a6f41d1b2511a8a5613b6e7 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_00139307a6ed46c38e0faed32bd74f9a = $(`<div id="html_00139307a6ed46c38e0faed32bd74f9a" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>57</td>       <td>44342288</td>       <td>-81.0</td>       <td>-0.4</td>       <td>None</td>       <td>23.6</td>     </tr>   </tbody> </table></div>`)[0];
            popup_fec1c3687a6f41d1b2511a8a5613b6e7.setContent(html_00139307a6ed46c38e0faed32bd74f9a);
        

        circle_65088b3078e642a0bd4435131f33d13f.bindPopup(popup_fec1c3687a6f41d1b2511a8a5613b6e7)
        ;

        
    
    
            var circle_d254b923ae034f26828ece3374576a4e = L.circle(
                [34.98088603, 128.04674483],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "yellow", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_99faad5814c44b23979f48798bea1040);
        
    
        var popup_7aab15e614474b2c8e5691d2e5c54ad0 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_80d1ddb104e649558bbb8447685b388a = $(`<div id="html_80d1ddb104e649558bbb8447685b388a" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>10</td>       <td>44342031</td>       <td>-77.0</td>       <td>30.0</td>       <td>None</td>       <td>121.039</td>     </tr>   </tbody> </table></div>`)[0];
            popup_7aab15e614474b2c8e5691d2e5c54ad0.setContent(html_80d1ddb104e649558bbb8447685b388a);
        

        circle_d254b923ae034f26828ece3374576a4e.bindPopup(popup_7aab15e614474b2c8e5691d2e5c54ad0)
        ;

        
    
    
            var circle_d6afb3d6c60e4670b0f41d899250731d = L.circle(
                [34.98297066, 128.0440612],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_99faad5814c44b23979f48798bea1040);
        
    
        var popup_5d6367971d64402d9cfa03daafa49351 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_97420aea71474874922c7aa5bea9fd84 = $(`<div id="html_97420aea71474874922c7aa5bea9fd84" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>10</td>       <td>42399776</td>       <td>-99.0</td>       <td>15.0</td>       <td>None</td>       <td>32.015</td>     </tr>   </tbody> </table></div>`)[0];
            popup_5d6367971d64402d9cfa03daafa49351.setContent(html_97420aea71474874922c7aa5bea9fd84);
        

        circle_d6afb3d6c60e4670b0f41d899250731d.bindPopup(popup_5d6367971d64402d9cfa03daafa49351)
        ;

        
    
    
            var circle_13dc991e95c14e7b8a35d00b46561c80 = L.circle(
                [34.98514878, 128.04446505],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "black", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_99faad5814c44b23979f48798bea1040);
        
    
        var popup_84a406745de84d649793135a366ba155 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_b96dbcdf22cf41c1bd70b198b8e9cb31 = $(`<div id="html_b96dbcdf22cf41c1bd70b198b8e9cb31" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>10</td>       <td>42399776</td>       <td>-106.0</td>       <td>13.0</td>       <td>None</td>       <td>28.987</td>     </tr>   </tbody> </table></div>`)[0];
            popup_84a406745de84d649793135a366ba155.setContent(html_b96dbcdf22cf41c1bd70b198b8e9cb31);
        

        circle_13dc991e95c14e7b8a35d00b46561c80.bindPopup(popup_84a406745de84d649793135a366ba155)
        ;

        
    
    
            var circle_ac8340f86a7c4681aff65440c77f4bf6 = L.circle(
                [34.98893879, 128.04281823],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "black", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_99faad5814c44b23979f48798bea1040);
        
    
        var popup_0b802148b1be482abbce602d52fe83ce = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_17d8c0f235cd47489d598db61adb41db = $(`<div id="html_17d8c0f235cd47489d598db61adb41db" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>None</td>       <td>44342022</td>       <td>None</td>       <td>0.0</td>       <td>None</td>       <td>0.0</td>     </tr>   </tbody> </table></div>`)[0];
            popup_0b802148b1be482abbce602d52fe83ce.setContent(html_17d8c0f235cd47489d598db61adb41db);
        

        circle_ac8340f86a7c4681aff65440c77f4bf6.bindPopup(popup_0b802148b1be482abbce602d52fe83ce)
        ;

        
    
    
            var circle_8a3ac486b2c9437499ccb8cd9c1e9ae1 = L.circle(
                [34.99063521, 128.04052412],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "orange", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_99faad5814c44b23979f48798bea1040);
        
    
        var popup_33912b0acc4846ecb31c45ceae325a6c = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_ef2e6b48d11d4ef58a7a30fcb22c1fe0 = $(`<div id="html_ef2e6b48d11d4ef58a7a30fcb22c1fe0" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>362</td>       <td>44342022</td>       <td>-75.0</td>       <td>24.2</td>       <td>None</td>       <td>43.182</td>     </tr>   </tbody> </table></div>`)[0];
            popup_33912b0acc4846ecb31c45ceae325a6c.setContent(html_ef2e6b48d11d4ef58a7a30fcb22c1fe0);
        

        circle_8a3ac486b2c9437499ccb8cd9c1e9ae1.bindPopup(popup_33912b0acc4846ecb31c45ceae325a6c)
        ;

        
    
    
            var circle_0ad9481545fa4e51b3c3c99a10ae8321 = L.circle(
                [34.9920483, 128.03980464],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_99faad5814c44b23979f48798bea1040);
        
    
        var popup_751ed8ce14fb4fc68b3a0fd4a076a6f9 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_807610d2f52b4128af8e9a2f1d343869 = $(`<div id="html_807610d2f52b4128af8e9a2f1d343869" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>261</td>       <td>42399257</td>       <td>-86.0</td>       <td>8.6</td>       <td>None</td>       <td>25.684</td>     </tr>   </tbody> </table></div>`)[0];
            popup_751ed8ce14fb4fc68b3a0fd4a076a6f9.setContent(html_807610d2f52b4128af8e9a2f1d343869);
        

        circle_0ad9481545fa4e51b3c3c99a10ae8321.bindPopup(popup_751ed8ce14fb4fc68b3a0fd4a076a6f9)
        ;

        
    
    
            var circle_d2d7e84363214d7b890ee4788eb7465c = L.circle(
                [34.99370276, 128.03946433],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "black", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_99faad5814c44b23979f48798bea1040);
        
    
        var popup_ae36f52462b0429d88cbc674bb9c7401 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_4d99642429214941a39b59d63b3eec62 = $(`<div id="html_4d99642429214941a39b59d63b3eec62" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>None</td>       <td>42399257</td>       <td>None</td>       <td>0.0</td>       <td>None</td>       <td>0.0</td>     </tr>   </tbody> </table></div>`)[0];
            popup_ae36f52462b0429d88cbc674bb9c7401.setContent(html_4d99642429214941a39b59d63b3eec62);
        

        circle_d2d7e84363214d7b890ee4788eb7465c.bindPopup(popup_ae36f52462b0429d88cbc674bb9c7401)
        ;

        
    
    
            var circle_4a24f4fb67914146b5f37fbc26869046 = L.circle(
                [34.99603788, 128.0390232],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "black", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_99faad5814c44b23979f48798bea1040);
        
    
        var popup_f2bc46ca3cfa4c539e46b13ff8d02b62 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_3f520117ec224f119185f28dfc8f3176 = $(`<div id="html_3f520117ec224f119185f28dfc8f3176" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>None</td>       <td>42399257</td>       <td>None</td>       <td>0.0</td>       <td>None</td>       <td>0.0</td>     </tr>   </tbody> </table></div>`)[0];
            popup_f2bc46ca3cfa4c539e46b13ff8d02b62.setContent(html_3f520117ec224f119185f28dfc8f3176);
        

        circle_4a24f4fb67914146b5f37fbc26869046.bindPopup(popup_f2bc46ca3cfa4c539e46b13ff8d02b62)
        ;

        
    
    
            var circle_abf62f0b88554925b29dd0bfb58af4c1 = L.circle(
                [34.99724881, 128.03891954],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "black", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_99faad5814c44b23979f48798bea1040);
        
    
        var popup_0d31350587344d5aa60baa16edb0fd53 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_6db146fafbb44f35bf385c9e14a188ec = $(`<div id="html_6db146fafbb44f35bf385c9e14a188ec" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>456</td>       <td>42399257</td>       <td>0.0</td>       <td>0.0</td>       <td>None</td>       <td>45.266</td>     </tr>   </tbody> </table></div>`)[0];
            popup_0d31350587344d5aa60baa16edb0fd53.setContent(html_6db146fafbb44f35bf385c9e14a188ec);
        

        circle_abf62f0b88554925b29dd0bfb58af4c1.bindPopup(popup_0d31350587344d5aa60baa16edb0fd53)
        ;

        
    
    
            var circle_8d67f419c53a4d848db5f3f0ca5936cb = L.circle(
                [34.99848179, 128.03925954],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_99faad5814c44b23979f48798bea1040);
        
    
        var popup_9353ad5df0754520b163ca6526745131 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_e0b71eca55d44768889994947a087325 = $(`<div id="html_e0b71eca55d44768889994947a087325" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>261</td>       <td>42399257</td>       <td>-95.0</td>       <td>10.0</td>       <td>None</td>       <td>27.65</td>     </tr>   </tbody> </table></div>`)[0];
            popup_9353ad5df0754520b163ca6526745131.setContent(html_e0b71eca55d44768889994947a087325);
        

        circle_8d67f419c53a4d848db5f3f0ca5936cb.bindPopup(popup_9353ad5df0754520b163ca6526745131)
        ;

        
    
    
            var circle_255edbb959ce499580f7ce45be549dee = L.circle(
                [34.99911087, 128.03990291],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_99faad5814c44b23979f48798bea1040);
        
    
        var popup_ae7dfdf390ca42d4b5947571aced868c = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_b07f2899ff8541cd914a3bcf46aa2fcf = $(`<div id="html_b07f2899ff8541cd914a3bcf46aa2fcf" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>261</td>       <td>42399257</td>       <td>-89.0</td>       <td>7.0</td>       <td>None</td>       <td>13.219</td>     </tr>   </tbody> </table></div>`)[0];
            popup_ae7dfdf390ca42d4b5947571aced868c.setContent(html_b07f2899ff8541cd914a3bcf46aa2fcf);
        

        circle_255edbb959ce499580f7ce45be549dee.bindPopup(popup_ae7dfdf390ca42d4b5947571aced868c)
        ;

        
    
    
            var circle_ee92fad43cb04a5b8beda7571467af42 = L.circle(
                [34.99929481, 128.04008768],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 29.0, "stroke": true, "weight": 1}
            ).addTo(feature_group_99faad5814c44b23979f48798bea1040);
        
    
        var popup_081d878a06c04f038eee9d72887289f4 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_9209637a777a46318daa837a7a5b4f45 = $(`<div id="html_9209637a777a46318daa837a7a5b4f45" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>300</td>       <td>42074390</td>       <td>-95.0</td>       <td>2.8</td>       <td>None</td>       <td>23.207</td>     </tr>   </tbody> </table></div>`)[0];
            popup_081d878a06c04f038eee9d72887289f4.setContent(html_9209637a777a46318daa837a7a5b4f45);
        

        circle_ee92fad43cb04a5b8beda7571467af42.bindPopup(popup_081d878a06c04f038eee9d72887289f4)
        ;

        
    
    
            var circle_6a60c4f8c9c54583b14c2efd698beec8 = L.circle(
                [34.99929481, 128.04008768],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "black", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 29.0, "stroke": true, "weight": 1}
            ).addTo(feature_group_99faad5814c44b23979f48798bea1040);
        
    
        var popup_84629327d96e421eb36c26e9ea1fa3ad = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_a271c05bff8e4486ae2d39fc49596dff = $(`<div id="html_a271c05bff8e4486ae2d39fc49596dff" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>0</td>       <td>42074390</td>       <td>0.0</td>       <td>0.0</td>       <td>None</td>       <td>20.926</td>     </tr>   </tbody> </table></div>`)[0];
            popup_84629327d96e421eb36c26e9ea1fa3ad.setContent(html_a271c05bff8e4486ae2d39fc49596dff);
        

        circle_6a60c4f8c9c54583b14c2efd698beec8.bindPopup(popup_84629327d96e421eb36c26e9ea1fa3ad)
        ;

        
    
    
            map_1cad9a43b523453398ddbcbab07579ca.fitBounds(
                [[34.96721585, 128.03891954], [34.99929481, 128.06373825]],
                {}
            );
        
</script>