<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_21e35a35bb4446258445972b08130815 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_21e35a35bb4446258445972b08130815" ></div>
        
</body>
<script>    
    
            var map_21e35a35bb4446258445972b08130815 = L.map(
                "map_21e35a35bb4446258445972b08130815",
                {
                    center: [34.9706604, 128.06344212],
                    crs: L.CRS.EPSG3857,
                    zoom: 15,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_9b0c95fc7b4944dda61a27f550a7a997 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_21e35a35bb4446258445972b08130815);
        
    
            var marker_0fae1a61067f4c1783ec7a29a136e9df = L.marker(
                [34.9706604, 128.06344212],
                {"iconSize": [10, 10]}
            ).addTo(map_21e35a35bb4446258445972b08130815);
        
    
            var icon_f20c8984c64f4a20afbf13548a30a56c = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "star", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_0fae1a61067f4c1783ec7a29a136e9df.setIcon(icon_f20c8984c64f4a20afbf13548a30a56c);
        
    
            var poly_line_4418bc6ec1a34388aacdf772c59ed121 = L.polyline(
                [[34.9706604, 128.06344212], [34.97067058, 128.06344256], [34.97065209, 128.06288352], [34.96977556, 128.062766], [34.96805485, 128.06356157], [34.96723727, 128.06247127], [34.97536507, 128.05975279], [34.97433484, 128.05367604], [34.97823025, 128.05217219], [34.98191689, 128.04515055], [34.98667677, 128.04410312], [34.98914127, 128.04277602], [34.99098065, 128.04037061], [34.99212324, 128.03987358], [34.99300868, 128.03936797], [34.99441607, 128.03954052], [34.99702522, 128.03890241], [34.99808429, 128.03899261], [34.99944981, 128.04024635], [34.99944508, 128.04016021], [34.99943055, 128.04013146]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_21e35a35bb4446258445972b08130815);
        
    
            var feature_group_199d56a7c6ab490eb8c67fc54ed83f10 = L.featureGroup(
                {}
            ).addTo(map_21e35a35bb4446258445972b08130815);
        
    
            var circle_a41826e3ccc04781871942d5903135aa = L.circle(
                [34.9706604, 128.06344212],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_199d56a7c6ab490eb8c67fc54ed83f10);
        
    
        var popup_dcf59a8e5c4246219e907fee1230fa66 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_ddde270295bf47dd98525ad3d3bb4d20 = $(`<div id="html_ddde270295bf47dd98525ad3d3bb4d20" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>165</td>       <td>11927079</td>       <td>-100.0</td>       <td>12.0</td>       <td>None</td>       <td>38.621</td>     </tr>   </tbody> </table></div>`)[0];
            popup_dcf59a8e5c4246219e907fee1230fa66.setContent(html_ddde270295bf47dd98525ad3d3bb4d20);
        

        circle_a41826e3ccc04781871942d5903135aa.bindPopup(popup_dcf59a8e5c4246219e907fee1230fa66)
        ;

        
    
    
            var circle_ec48553addf14f228194824c21db4630 = L.circle(
                [34.97067058, 128.06344256],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_199d56a7c6ab490eb8c67fc54ed83f10);
        
    
        var popup_8ec8a7bb5d914482873257ce67dbc552 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_9763faf4223c4c94a3332453aba1d2cd = $(`<div id="html_9763faf4223c4c94a3332453aba1d2cd" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>165</td>       <td>11927079</td>       <td>-105.0</td>       <td>11.5</td>       <td>None</td>       <td>39.25</td>     </tr>   </tbody> </table></div>`)[0];
            popup_8ec8a7bb5d914482873257ce67dbc552.setContent(html_9763faf4223c4c94a3332453aba1d2cd);
        

        circle_ec48553addf14f228194824c21db4630.bindPopup(popup_8ec8a7bb5d914482873257ce67dbc552)
        ;

        
    
    
            var circle_c5f9b27bf2044723bc569d5c500b7097 = L.circle(
                [34.97065209, 128.06288352],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_199d56a7c6ab490eb8c67fc54ed83f10);
        
    
        var popup_f36e33300ead4268a0c2602f8e56fd1a = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_6e92e3c7a040421486b69142dd56a413 = $(`<div id="html_6e92e3c7a040421486b69142dd56a413" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>785</td>       <td>11926295</td>       <td>-89.0</td>       <td>15.0</td>       <td>None</td>       <td>97.485</td>     </tr>   </tbody> </table></div>`)[0];
            popup_f36e33300ead4268a0c2602f8e56fd1a.setContent(html_6e92e3c7a040421486b69142dd56a413);
        

        circle_c5f9b27bf2044723bc569d5c500b7097.bindPopup(popup_f36e33300ead4268a0c2602f8e56fd1a)
        ;

        
    
    
            var circle_1421373524d341319c89f369887e79d1 = L.circle(
                [34.96977556, 128.062766],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_199d56a7c6ab490eb8c67fc54ed83f10);
        
    
        var popup_a185b58e8c4b47f0bc1213643c6dd750 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_b5042e304d6f43858253ca1260a59a9a = $(`<div id="html_b5042e304d6f43858253ca1260a59a9a" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>131</td>       <td>11927079</td>       <td>-87.0</td>       <td>18.0</td>       <td>None</td>       <td>102.636</td>     </tr>   </tbody> </table></div>`)[0];
            popup_a185b58e8c4b47f0bc1213643c6dd750.setContent(html_b5042e304d6f43858253ca1260a59a9a);
        

        circle_1421373524d341319c89f369887e79d1.bindPopup(popup_a185b58e8c4b47f0bc1213643c6dd750)
        ;

        
    
    
            var circle_bd1c273639ca48d98e08d3d64752a7d0 = L.circle(
                [34.96805485, 128.06356157],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "yellow", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_199d56a7c6ab490eb8c67fc54ed83f10);
        
    
        var popup_352a393ee82847128a41fede0c6ec62c = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_a2f9e2a0ae084bf59023238006993c63 = $(`<div id="html_a2f9e2a0ae084bf59023238006993c63" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>131</td>       <td>11927079</td>       <td>-85.0</td>       <td>27.5</td>       <td>None</td>       <td>106.844</td>     </tr>   </tbody> </table></div>`)[0];
            popup_352a393ee82847128a41fede0c6ec62c.setContent(html_a2f9e2a0ae084bf59023238006993c63);
        

        circle_bd1c273639ca48d98e08d3d64752a7d0.bindPopup(popup_352a393ee82847128a41fede0c6ec62c)
        ;

        
    
    
            var circle_111ab9a0f44846fb82a6147c92697c3a = L.circle(
                [34.96723727, 128.06247127],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_199d56a7c6ab490eb8c67fc54ed83f10);
        
    
        var popup_babb0a4a605245f59d65174692524d91 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_395a57ad87d149df87340ce90296df6e = $(`<div id="html_395a57ad87d149df87340ce90296df6e" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>366</td>       <td>11926827</td>       <td>-87.0</td>       <td>23.5</td>       <td>None</td>       <td>79.908</td>     </tr>   </tbody> </table></div>`)[0];
            popup_babb0a4a605245f59d65174692524d91.setContent(html_395a57ad87d149df87340ce90296df6e);
        

        circle_111ab9a0f44846fb82a6147c92697c3a.bindPopup(popup_babb0a4a605245f59d65174692524d91)
        ;

        
    
    
            var circle_01f8662429ec4ca18f0a6d0a3278e855 = L.circle(
                [34.97536507, 128.05975279],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "orange", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_199d56a7c6ab490eb8c67fc54ed83f10);
        
    
        var popup_b8dc77bc75e44e9d97f4de525e38e6cf = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_961af10206044b9d829ff062931fac9f = $(`<div id="html_961af10206044b9d829ff062931fac9f" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>584</td>       <td>11926295</td>       <td>-75.0</td>       <td>32.0</td>       <td>None</td>       <td>97.682</td>     </tr>   </tbody> </table></div>`)[0];
            popup_b8dc77bc75e44e9d97f4de525e38e6cf.setContent(html_961af10206044b9d829ff062931fac9f);
        

        circle_01f8662429ec4ca18f0a6d0a3278e855.bindPopup(popup_b8dc77bc75e44e9d97f4de525e38e6cf)
        ;

        
    
    
            var circle_c03242e4022e42f2b7161f3ac532d571 = L.circle(
                [34.97433484, 128.05367604],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "black", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_199d56a7c6ab490eb8c67fc54ed83f10);
        
    
        var popup_3b70a21c906a4cdaa80210d2ded150b2 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_9df9bd42397a45f689e0293273ce23a3 = $(`<div id="html_9df9bd42397a45f689e0293273ce23a3" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>120</td>       <td>12002327</td>       <td>-65.0</td>       <td>29.0</td>       <td>None</td>       <td>148.328</td>     </tr>   </tbody> </table></div>`)[0];
            popup_3b70a21c906a4cdaa80210d2ded150b2.setContent(html_9df9bd42397a45f689e0293273ce23a3);
        

        circle_c03242e4022e42f2b7161f3ac532d571.bindPopup(popup_3b70a21c906a4cdaa80210d2ded150b2)
        ;

        
    
    
            var circle_29eb6493ab94442bac4c70aec4be5cbb = L.circle(
                [34.97823025, 128.05217219],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_199d56a7c6ab490eb8c67fc54ed83f10);
        
    
        var popup_20dab9072e8c4cfc91a35559ffd221d6 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_93dc7a729e0844cbb45b2acac01cc6be = $(`<div id="html_93dc7a729e0844cbb45b2acac01cc6be" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>112</td>       <td>12249875</td>       <td>-90.0</td>       <td>17.5</td>       <td>None</td>       <td>84.43</td>     </tr>   </tbody> </table></div>`)[0];
            popup_20dab9072e8c4cfc91a35559ffd221d6.setContent(html_93dc7a729e0844cbb45b2acac01cc6be);
        

        circle_29eb6493ab94442bac4c70aec4be5cbb.bindPopup(popup_20dab9072e8c4cfc91a35559ffd221d6)
        ;

        
    
    
            var circle_6dcb46d4c28a4564a8f0a92c4ec532c8 = L.circle(
                [34.98191689, 128.04515055],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_199d56a7c6ab490eb8c67fc54ed83f10);
        
    
        var popup_bca764ca71fa4b70ac2b6bf923ae2fdb = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_7f46d019f1894a629c5f19b25b24d7c9 = $(`<div id="html_7f46d019f1894a629c5f19b25b24d7c9" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>684</td>       <td>12249875</td>       <td>-86.0</td>       <td>10.0</td>       <td>None</td>       <td>79.083</td>     </tr>   </tbody> </table></div>`)[0];
            popup_bca764ca71fa4b70ac2b6bf923ae2fdb.setContent(html_7f46d019f1894a629c5f19b25b24d7c9);
        

        circle_6dcb46d4c28a4564a8f0a92c4ec532c8.bindPopup(popup_bca764ca71fa4b70ac2b6bf923ae2fdb)
        ;

        
    
    
            var circle_803e99c5a16a4aa0a72ed2b774ca410d = L.circle(
                [34.98667677, 128.04410312],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_199d56a7c6ab490eb8c67fc54ed83f10);
        
    
        var popup_37e2548ddca84c138d2561dc05e9d5ce = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_769004055c2b453aa8d5a7dd230acd40 = $(`<div id="html_769004055c2b453aa8d5a7dd230acd40" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>150</td>       <td>12249875</td>       <td>-103.0</td>       <td>5.0</td>       <td>None</td>       <td>56.748</td>     </tr>   </tbody> </table></div>`)[0];
            popup_37e2548ddca84c138d2561dc05e9d5ce.setContent(html_769004055c2b453aa8d5a7dd230acd40);
        

        circle_803e99c5a16a4aa0a72ed2b774ca410d.bindPopup(popup_37e2548ddca84c138d2561dc05e9d5ce)
        ;

        
    
    
            var circle_de5de1172115444e993e56f15ccf1192 = L.circle(
                [34.98914127, 128.04277602],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_199d56a7c6ab490eb8c67fc54ed83f10);
        
    
        var popup_125f6f63cdde41be8a416fbc396053c2 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_118ae2a97f984861a150361cb03862cc = $(`<div id="html_118ae2a97f984861a150361cb03862cc" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>150</td>       <td>12249875</td>       <td>-86.0</td>       <td>11.5</td>       <td>None</td>       <td>75.347</td>     </tr>   </tbody> </table></div>`)[0];
            popup_125f6f63cdde41be8a416fbc396053c2.setContent(html_118ae2a97f984861a150361cb03862cc);
        

        circle_de5de1172115444e993e56f15ccf1192.bindPopup(popup_125f6f63cdde41be8a416fbc396053c2)
        ;

        
    
    
            var circle_88f1975cbe0345b69c006bba62ecbf9e = L.circle(
                [34.99098065, 128.04037061],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "yellow", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_199d56a7c6ab490eb8c67fc54ed83f10);
        
    
        var popup_42c70bd8752f4a0dae4de5f5e37cab8d = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_8e4ff887cc124c1dab21e0365d15685d = $(`<div id="html_8e4ff887cc124c1dab21e0365d15685d" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>465</td>       <td>12249867</td>       <td>-82.0</td>       <td>24.0</td>       <td>None</td>       <td>93.16</td>     </tr>   </tbody> </table></div>`)[0];
            popup_42c70bd8752f4a0dae4de5f5e37cab8d.setContent(html_8e4ff887cc124c1dab21e0365d15685d);
        

        circle_88f1975cbe0345b69c006bba62ecbf9e.bindPopup(popup_42c70bd8752f4a0dae4de5f5e37cab8d)
        ;

        
    
    
            var circle_0e3f53138fe340e7a488785104e2e3d4 = L.circle(
                [34.99212324, 128.03987358],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "yellow", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_199d56a7c6ab490eb8c67fc54ed83f10);
        
    
        var popup_9fb38a10ad804d34acaa2c50863dd19c = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_e100bc6fd1034485ae8d85d00318dfa1 = $(`<div id="html_e100bc6fd1034485ae8d85d00318dfa1" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>465</td>       <td>12249867</td>       <td>-82.0</td>       <td>29.5</td>       <td>None</td>       <td>111.484</td>     </tr>   </tbody> </table></div>`)[0];
            popup_9fb38a10ad804d34acaa2c50863dd19c.setContent(html_e100bc6fd1034485ae8d85d00318dfa1);
        

        circle_0e3f53138fe340e7a488785104e2e3d4.bindPopup(popup_9fb38a10ad804d34acaa2c50863dd19c)
        ;

        
    
    
            var circle_f4aa7cbaa43040c69d96fa76c64c96cd = L.circle(
                [34.99300868, 128.03936797],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "yellow", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_199d56a7c6ab490eb8c67fc54ed83f10);
        
    
        var popup_2a400879434d4d7aad704a15f03a8902 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_1293522e53124a2b838622e0804b96bb = $(`<div id="html_1293522e53124a2b838622e0804b96bb" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>465</td>       <td>12249867</td>       <td>-79.0</td>       <td>29.0</td>       <td>None</td>       <td>98.429</td>     </tr>   </tbody> </table></div>`)[0];
            popup_2a400879434d4d7aad704a15f03a8902.setContent(html_1293522e53124a2b838622e0804b96bb);
        

        circle_f4aa7cbaa43040c69d96fa76c64c96cd.bindPopup(popup_2a400879434d4d7aad704a15f03a8902)
        ;

        
    
    
            var circle_84ef6b882bc6473382a43a69e181b3ed = L.circle(
                [34.99441607, 128.03954052],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_199d56a7c6ab490eb8c67fc54ed83f10);
        
    
        var popup_1d21bb9451104122a08ed69ca816bca5 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_4220aace622b41e5adf14ae2b8b329a1 = $(`<div id="html_4220aace622b41e5adf14ae2b8b329a1" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>465</td>       <td>12249867</td>       <td>-94.0</td>       <td>19.0</td>       <td>None</td>       <td>74.954</td>     </tr>   </tbody> </table></div>`)[0];
            popup_1d21bb9451104122a08ed69ca816bca5.setContent(html_4220aace622b41e5adf14ae2b8b329a1);
        

        circle_84ef6b882bc6473382a43a69e181b3ed.bindPopup(popup_1d21bb9451104122a08ed69ca816bca5)
        ;

        
    
    
            var circle_4b9de55645784b2eb41bf8f2c6cf8975 = L.circle(
                [34.99702522, 128.03890241],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_199d56a7c6ab490eb8c67fc54ed83f10);
        
    
        var popup_72867cb4836848108645a962cd524ee2 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_6b273ba56a7f447693fd9f04e955055f = $(`<div id="html_6b273ba56a7f447693fd9f04e955055f" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>465</td>       <td>12249607</td>       <td>-95.0</td>       <td>14.0</td>       <td>None</td>       <td>101.889</td>     </tr>   </tbody> </table></div>`)[0];
            popup_72867cb4836848108645a962cd524ee2.setContent(html_6b273ba56a7f447693fd9f04e955055f);
        

        circle_4b9de55645784b2eb41bf8f2c6cf8975.bindPopup(popup_72867cb4836848108645a962cd524ee2)
        ;

        
    
    
            var circle_39625592c9584bdcae789e14da16ca27 = L.circle(
                [34.99808429, 128.03899261],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_199d56a7c6ab490eb8c67fc54ed83f10);
        
    
        var popup_b8e9909a9dd444ccbe453b38b228adbb = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_974af0778cf24de2acf0a36e1e5ad0b0 = $(`<div id="html_974af0778cf24de2acf0a36e1e5ad0b0" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>465</td>       <td>12249607</td>       <td>-103.0</td>       <td>11.0</td>       <td>None</td>       <td>107.276</td>     </tr>   </tbody> </table></div>`)[0];
            popup_b8e9909a9dd444ccbe453b38b228adbb.setContent(html_974af0778cf24de2acf0a36e1e5ad0b0);
        

        circle_39625592c9584bdcae789e14da16ca27.bindPopup(popup_b8e9909a9dd444ccbe453b38b228adbb)
        ;

        
    
    
            var circle_a42682fece014d94a87ed8d1ae66aade = L.circle(
                [34.99944981, 128.04024635],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "black", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_199d56a7c6ab490eb8c67fc54ed83f10);
        
    
        var popup_efaa1cacb3ed4df58190ae4b7e909791 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_1c8eebe7e7184f86a60ac09ad72eb557 = $(`<div id="html_1c8eebe7e7184f86a60ac09ad72eb557" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>465</td>       <td>12249607</td>       <td>-110.0</td>       <td>3.0</td>       <td>None</td>       <td>79.987</td>     </tr>   </tbody> </table></div>`)[0];
            popup_efaa1cacb3ed4df58190ae4b7e909791.setContent(html_1c8eebe7e7184f86a60ac09ad72eb557);
        

        circle_a42682fece014d94a87ed8d1ae66aade.bindPopup(popup_efaa1cacb3ed4df58190ae4b7e909791)
        ;

        
    
    
            var circle_7f5ac66383274d2ca16f135e324630b8 = L.circle(
                [34.99944508, 128.04016021],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "black", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_199d56a7c6ab490eb8c67fc54ed83f10);
        
    
        var popup_5ba1fbfda066411c87fc25a1c9a3048a = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_c89f3ca6c70b4647a5b3586a42e8d7fa = $(`<div id="html_c89f3ca6c70b4647a5b3586a42e8d7fa" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>465</td>       <td>12249607</td>       <td>-109.0</td>       <td>5.5</td>       <td>None</td>       <td>79.908</td>     </tr>   </tbody> </table></div>`)[0];
            popup_5ba1fbfda066411c87fc25a1c9a3048a.setContent(html_c89f3ca6c70b4647a5b3586a42e8d7fa);
        

        circle_7f5ac66383274d2ca16f135e324630b8.bindPopup(popup_5ba1fbfda066411c87fc25a1c9a3048a)
        ;

        
    
    
            var circle_858760af73854d9bbdd53ee66281acc5 = L.circle(
                [34.99943055, 128.04013146],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "black", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 29.0, "stroke": true, "weight": 1}
            ).addTo(feature_group_199d56a7c6ab490eb8c67fc54ed83f10);
        
    
        var popup_39131a33c11b4d098a5b2828f401db8b = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_5751afdc78d04707af5c32e621476b86 = $(`<div id="html_5751afdc78d04707af5c32e621476b86" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>465</td>       <td>12249607</td>       <td>-109.0</td>       <td>4.5</td>       <td>None</td>       <td>80.223</td>     </tr>   </tbody> </table></div>`)[0];
            popup_39131a33c11b4d098a5b2828f401db8b.setContent(html_5751afdc78d04707af5c32e621476b86);
        

        circle_858760af73854d9bbdd53ee66281acc5.bindPopup(popup_39131a33c11b4d098a5b2828f401db8b)
        ;

        
    
</script>