<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_15af826fa53143cc86ed65cbc2c1f180 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_15af826fa53143cc86ed65cbc2c1f180" ></div>
        
</body>
<script>    
    
            var map_15af826fa53143cc86ed65cbc2c1f180 = L.map(
                "map_15af826fa53143cc86ed65cbc2c1f180",
                {
                    center: [34.84360463, 128.44108106],
                    crs: L.CRS.EPSG3857,
                    zoom: 15,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_247963a466e3474ca79d99ba88f57c0b = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_15af826fa53143cc86ed65cbc2c1f180);
        
    
            var marker_423e50d853344ff2b4b7293335f88d88 = L.marker(
                [34.84360463, 128.44108106],
                {"iconSize": [10, 10]}
            ).addTo(map_15af826fa53143cc86ed65cbc2c1f180);
        
    
            var icon_d96756a81a2548a180dd5850d8e091f9 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "star", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_423e50d853344ff2b4b7293335f88d88.setIcon(icon_d96756a81a2548a180dd5850d8e091f9);
        
    
            var poly_line_a3344f362bba4e3a9a164b9d21e28a6c = L.polyline(
                [[34.84360463, 128.44108106], [34.84360463, 128.44108106], [34.84360463, 128.44108106], [34.84381738, 128.43914167], [34.84373351, 128.43763574], [34.84424936, 128.43480623], [34.84371347, 128.43269959], [34.84305566, 128.43108482], [34.84431823, 128.42958616], [34.84599696, 128.42922881], [34.84770842, 128.42880763], [34.84944018, 128.42857349], [34.85027733, 128.42888274], [34.84930777, 128.42915833], [34.84696134, 128.42861882], [34.84525207, 128.42977453], [34.84435379, 128.42957452], [34.84434557, 128.4295659], [34.8429931, 128.43116298], [34.84336629, 128.43020027], [34.84483209, 128.43003579], [34.84571191, 128.42926799], [34.84809063, 128.42881699], [34.84976757, 128.42856379], [34.84998623, 128.42867624], [34.84999334, 128.42866633], [34.84999334, 128.42866633], [34.85016993, 128.42880219], [34.85210811, 128.4287676], [34.85212518, 128.4282841], [34.84956924, 128.42609589]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_15af826fa53143cc86ed65cbc2c1f180);
        
    
            var feature_group_1fe99a35ca8246df9c4f9a32f8ba9734 = L.featureGroup(
                {}
            ).addTo(map_15af826fa53143cc86ed65cbc2c1f180);
        
    
            var circle_e441e8aa96274419822cd299b5b5c6b2 = L.circle(
                [34.84360463, 128.44108106],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "black", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_1fe99a35ca8246df9c4f9a32f8ba9734);
        
    
        var popup_24af7b2afadc4436a4cb6242355a2211 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_d368929c61644a7296e87a54ba0b39f5 = $(`<div id="html_d368929c61644a7296e87a54ba0b39f5" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>194</td>       <td>44343824</td>       <td>-106.0</td>       <td>12.5</td>       <td>None</td>       <td>20.887</td>     </tr>   </tbody> </table></div>`)[0];
            popup_24af7b2afadc4436a4cb6242355a2211.setContent(html_d368929c61644a7296e87a54ba0b39f5);
        

        circle_e441e8aa96274419822cd299b5b5c6b2.bindPopup(popup_24af7b2afadc4436a4cb6242355a2211)
        ;

        
    
    
            var circle_681bc0923bdc481ab0f41c8b862525b7 = L.circle(
                [34.84360463, 128.44108106],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "black", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_1fe99a35ca8246df9c4f9a32f8ba9734);
        
    
        var popup_fc7f0d96fa3d44d7badb20e547d0279c = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_3c9039dd6fe94548a2067e6d001a1497 = $(`<div id="html_3c9039dd6fe94548a2067e6d001a1497" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>194</td>       <td>44343824</td>       <td>-107.0</td>       <td>13.5</td>       <td>None</td>       <td>25.369</td>     </tr>   </tbody> </table></div>`)[0];
            popup_fc7f0d96fa3d44d7badb20e547d0279c.setContent(html_3c9039dd6fe94548a2067e6d001a1497);
        

        circle_681bc0923bdc481ab0f41c8b862525b7.bindPopup(popup_fc7f0d96fa3d44d7badb20e547d0279c)
        ;

        
    
    
            var circle_bcbb68c756ec4e37bb792abd172104bc = L.circle(
                [34.84360463, 128.44108106],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_1fe99a35ca8246df9c4f9a32f8ba9734);
        
    
        var popup_7bf6285d6e4f4221a0126b0f4bf4717a = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_bcf068ceeb5c4a9cb1be5c1ccbd6f870 = $(`<div id="html_bcf068ceeb5c4a9cb1be5c1ccbd6f870" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>194</td>       <td>44343824</td>       <td>-105.0</td>       <td>15.0</td>       <td>None</td>       <td>19.589</td>     </tr>   </tbody> </table></div>`)[0];
            popup_7bf6285d6e4f4221a0126b0f4bf4717a.setContent(html_bcf068ceeb5c4a9cb1be5c1ccbd6f870);
        

        circle_bcbb68c756ec4e37bb792abd172104bc.bindPopup(popup_7bf6285d6e4f4221a0126b0f4bf4717a)
        ;

        
    
    
            var circle_2ff9d28f2445482185fea84d8070ecf5 = L.circle(
                [34.84381738, 128.43914167],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_1fe99a35ca8246df9c4f9a32f8ba9734);
        
    
        var popup_339ec91234344641a352e4b8859c27cf = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_7496b7d80c3c4a1a89ba64997b9c0e87 = $(`<div id="html_7496b7d80c3c4a1a89ba64997b9c0e87" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>194</td>       <td>44343824</td>       <td>-96.0</td>       <td>23.5</td>       <td>None</td>       <td>62.174</td>     </tr>   </tbody> </table></div>`)[0];
            popup_339ec91234344641a352e4b8859c27cf.setContent(html_7496b7d80c3c4a1a89ba64997b9c0e87);
        

        circle_2ff9d28f2445482185fea84d8070ecf5.bindPopup(popup_339ec91234344641a352e4b8859c27cf)
        ;

        
    
    
            var circle_cd7398b6db8646f78ce97f9d30b713f9 = L.circle(
                [34.84373351, 128.43763574],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_1fe99a35ca8246df9c4f9a32f8ba9734);
        
    
        var popup_66340e7e72e1468cbe99f77c614ad238 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_7f45821337674951858991f066fb08e6 = $(`<div id="html_7f45821337674951858991f066fb08e6" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>194</td>       <td>44343824</td>       <td>-86.0</td>       <td>26.5</td>       <td>None</td>       <td>81.049</td>     </tr>   </tbody> </table></div>`)[0];
            popup_66340e7e72e1468cbe99f77c614ad238.setContent(html_7f45821337674951858991f066fb08e6);
        

        circle_cd7398b6db8646f78ce97f9d30b713f9.bindPopup(popup_66340e7e72e1468cbe99f77c614ad238)
        ;

        
    
    
            var circle_5beec19a9d7142ca9323a92edcb0f587 = L.circle(
                [34.84424936, 128.43480623],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "yellow", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_1fe99a35ca8246df9c4f9a32f8ba9734);
        
    
        var popup_d9ffef3b63f848e49d435d70a73206c0 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_bf8f2301b49b41d2a41f2b5a05ed7adb = $(`<div id="html_bf8f2301b49b41d2a41f2b5a05ed7adb" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>292</td>       <td>44343824</td>       <td>-85.0</td>       <td>13.0</td>       <td>None</td>       <td>67.561</td>     </tr>   </tbody> </table></div>`)[0];
            popup_d9ffef3b63f848e49d435d70a73206c0.setContent(html_bf8f2301b49b41d2a41f2b5a05ed7adb);
        

        circle_5beec19a9d7142ca9323a92edcb0f587.bindPopup(popup_d9ffef3b63f848e49d435d70a73206c0)
        ;

        
    
    
            var circle_e0a0204b076a43a694601396ad609434 = L.circle(
                [34.84371347, 128.43269959],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "yellow", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_1fe99a35ca8246df9c4f9a32f8ba9734);
        
    
        var popup_1e220b2854eb42668f5db65a7d482592 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_cae4ad54cae74cb0af2297373e878d0e = $(`<div id="html_cae4ad54cae74cb0af2297373e878d0e" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>292</td>       <td>44343824</td>       <td>-83.0</td>       <td>14.5</td>       <td>None</td>       <td>107.04</td>     </tr>   </tbody> </table></div>`)[0];
            popup_1e220b2854eb42668f5db65a7d482592.setContent(html_cae4ad54cae74cb0af2297373e878d0e);
        

        circle_e0a0204b076a43a694601396ad609434.bindPopup(popup_1e220b2854eb42668f5db65a7d482592)
        ;

        
    
    
            var circle_59d9aefb549d480ba3c93c231551934f = L.circle(
                [34.84305566, 128.43108482],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "yellow", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_1fe99a35ca8246df9c4f9a32f8ba9734);
        
    
        var popup_b42cc116cae142f4b6bcde0dffadbcda = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_8475401183544e04901c6b06e464e4c4 = $(`<div id="html_8475401183544e04901c6b06e464e4c4" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>298</td>       <td>44343822</td>       <td>-81.0</td>       <td>21.0</td>       <td>None</td>       <td>102.007</td>     </tr>   </tbody> </table></div>`)[0];
            popup_b42cc116cae142f4b6bcde0dffadbcda.setContent(html_8475401183544e04901c6b06e464e4c4);
        

        circle_59d9aefb549d480ba3c93c231551934f.bindPopup(popup_b42cc116cae142f4b6bcde0dffadbcda)
        ;

        
    
    
            var circle_6320a39dfc984e32bd571d812c005c4c = L.circle(
                [34.84431823, 128.42958616],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "yellow", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_1fe99a35ca8246df9c4f9a32f8ba9734);
        
    
        var popup_bc36bd10c17744c28ae7c475880420da = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_6f7dd5bed42b40c7ba620a96989b0b11 = $(`<div id="html_6f7dd5bed42b40c7ba620a96989b0b11" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>335</td>       <td>44343816</td>       <td>-81.0</td>       <td>4.0</td>       <td>None</td>       <td>99.097</td>     </tr>   </tbody> </table></div>`)[0];
            popup_bc36bd10c17744c28ae7c475880420da.setContent(html_6f7dd5bed42b40c7ba620a96989b0b11);
        

        circle_6320a39dfc984e32bd571d812c005c4c.bindPopup(popup_bc36bd10c17744c28ae7c475880420da)
        ;

        
    
    
            var circle_7dd677f1b6784807be010e6ffc2dbc3a = L.circle(
                [34.84599696, 128.42922881],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_1fe99a35ca8246df9c4f9a32f8ba9734);
        
    
        var popup_2503b37fe0a84d0c9b7614cdeb40dc68 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_9375700d9d0f48e3a307b18a824bab79 = $(`<div id="html_9375700d9d0f48e3a307b18a824bab79" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>301</td>       <td>44343821</td>       <td>-90.0</td>       <td>19.5</td>       <td>None</td>       <td>99.687</td>     </tr>   </tbody> </table></div>`)[0];
            popup_2503b37fe0a84d0c9b7614cdeb40dc68.setContent(html_9375700d9d0f48e3a307b18a824bab79);
        

        circle_7dd677f1b6784807be010e6ffc2dbc3a.bindPopup(popup_2503b37fe0a84d0c9b7614cdeb40dc68)
        ;

        
    
    
            var circle_cca0143ad80048ae9f094067be032851 = L.circle(
                [34.84770842, 128.42880763],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "yellow", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_1fe99a35ca8246df9c4f9a32f8ba9734);
        
    
        var popup_bc953ffa782a4624b01440e558ceca33 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_e172a3739b974baaa3728a8238faa7ed = $(`<div id="html_e172a3739b974baaa3728a8238faa7ed" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>300</td>       <td>44343821</td>       <td>-76.0</td>       <td>33.5</td>       <td>None</td>       <td>143.963</td>     </tr>   </tbody> </table></div>`)[0];
            popup_bc953ffa782a4624b01440e558ceca33.setContent(html_e172a3739b974baaa3728a8238faa7ed);
        

        circle_cca0143ad80048ae9f094067be032851.bindPopup(popup_bc953ffa782a4624b01440e558ceca33)
        ;

        
    
    
            var circle_ef1c0150608740a18b7ee709b5637c57 = L.circle(
                [34.84944018, 128.42857349],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "yellow", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_1fe99a35ca8246df9c4f9a32f8ba9734);
        
    
        var popup_65913579f62f4ab3999ba35c5f3bc5f3 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_46be9afe766c44eea057546a28be83f8 = $(`<div id="html_46be9afe766c44eea057546a28be83f8" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>366</td>       <td>44343814</td>       <td>-76.0</td>       <td>23.5</td>       <td>None</td>       <td>116.713</td>     </tr>   </tbody> </table></div>`)[0];
            popup_65913579f62f4ab3999ba35c5f3bc5f3.setContent(html_46be9afe766c44eea057546a28be83f8);
        

        circle_ef1c0150608740a18b7ee709b5637c57.bindPopup(popup_65913579f62f4ab3999ba35c5f3bc5f3)
        ;

        
    
    
            var circle_dd405c55310d4905af77b82301d6c40b = L.circle(
                [34.85027733, 128.42888274],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_1fe99a35ca8246df9c4f9a32f8ba9734);
        
    
        var popup_d5849560fe5049be801fdaf244a8b230 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_196da83a50944d4ab5c4f0e89c143fee = $(`<div id="html_196da83a50944d4ab5c4f0e89c143fee" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>366</td>       <td>44344836</td>       <td>-88.0</td>       <td>5.5</td>       <td>None</td>       <td>86.514</td>     </tr>   </tbody> </table></div>`)[0];
            popup_d5849560fe5049be801fdaf244a8b230.setContent(html_196da83a50944d4ab5c4f0e89c143fee);
        

        circle_dd405c55310d4905af77b82301d6c40b.bindPopup(popup_d5849560fe5049be801fdaf244a8b230)
        ;

        
    
    
            var circle_aa766db1b0924123a55ec4ae1e21a8c9 = L.circle(
                [34.84930777, 128.42915833],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_1fe99a35ca8246df9c4f9a32f8ba9734);
        
    
        var popup_b345e201e7b44da5a7c01eeeda4846ce = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_9ddd869830044164b5f7b9e6d4b661be = $(`<div id="html_9ddd869830044164b5f7b9e6d4b661be" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>366</td>       <td>44344836</td>       <td>-90.0</td>       <td>12.5</td>       <td>None</td>       <td>111.641</td>     </tr>   </tbody> </table></div>`)[0];
            popup_b345e201e7b44da5a7c01eeeda4846ce.setContent(html_9ddd869830044164b5f7b9e6d4b661be);
        

        circle_aa766db1b0924123a55ec4ae1e21a8c9.bindPopup(popup_b345e201e7b44da5a7c01eeeda4846ce)
        ;

        
    
    
            var circle_ffc28c5200224e8eb44b477804103399 = L.circle(
                [34.84696134, 128.42861882],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "yellow", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_1fe99a35ca8246df9c4f9a32f8ba9734);
        
    
        var popup_0b6527f1ff9042d9bb775a4e344f18c2 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_2da8b8d249b647d7b60f82b04fd90f2d = $(`<div id="html_2da8b8d249b647d7b60f82b04fd90f2d" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>301</td>       <td>44343821</td>       <td>-78.0</td>       <td>19.5</td>       <td>None</td>       <td>124.381</td>     </tr>   </tbody> </table></div>`)[0];
            popup_0b6527f1ff9042d9bb775a4e344f18c2.setContent(html_2da8b8d249b647d7b60f82b04fd90f2d);
        

        circle_ffc28c5200224e8eb44b477804103399.bindPopup(popup_0b6527f1ff9042d9bb775a4e344f18c2)
        ;

        
    
    
            var circle_4347c4daec1d4670b17a5454933827c3 = L.circle(
                [34.84525207, 128.42977453],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "yellow", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_1fe99a35ca8246df9c4f9a32f8ba9734);
        
    
        var popup_371f2206f1fe4e80bf242529c5e3a002 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_7c8b56d4a77647628791ce5d23df22f7 = $(`<div id="html_7c8b56d4a77647628791ce5d23df22f7" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>736</td>       <td>44343813</td>       <td>-85.0</td>       <td>21.5</td>       <td>None</td>       <td>107.473</td>     </tr>   </tbody> </table></div>`)[0];
            popup_371f2206f1fe4e80bf242529c5e3a002.setContent(html_7c8b56d4a77647628791ce5d23df22f7);
        

        circle_4347c4daec1d4670b17a5454933827c3.bindPopup(popup_371f2206f1fe4e80bf242529c5e3a002)
        ;

        
    
    
            var circle_bbb09a96d2de4f95a79a203ef21fa7e7 = L.circle(
                [34.84435379, 128.42957452],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "yellow", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_1fe99a35ca8246df9c4f9a32f8ba9734);
        
    
        var popup_42b05326e2f740ad9e71bdcb9996ce84 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_91b472b0dd1f4a60a143bcd1334c0746 = $(`<div id="html_91b472b0dd1f4a60a143bcd1334c0746" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>299</td>       <td>44343816</td>       <td>-81.0</td>       <td>12.0</td>       <td>None</td>       <td>130.909</td>     </tr>   </tbody> </table></div>`)[0];
            popup_42b05326e2f740ad9e71bdcb9996ce84.setContent(html_91b472b0dd1f4a60a143bcd1334c0746);
        

        circle_bbb09a96d2de4f95a79a203ef21fa7e7.bindPopup(popup_42b05326e2f740ad9e71bdcb9996ce84)
        ;

        
    
    
            var circle_ac9caa1c8ab84b7f98f19bbcae73668b = L.circle(
                [34.84434557, 128.4295659],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "yellow", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_1fe99a35ca8246df9c4f9a32f8ba9734);
        
    
        var popup_cdc4ca8f40d9402cb0124ca247558a01 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_2d0d6cfb72a44f02970e1748a4c789c3 = $(`<div id="html_2d0d6cfb72a44f02970e1748a4c789c3" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>299</td>       <td>44343816</td>       <td>-78.0</td>       <td>7.5</td>       <td>None</td>       <td>114.354</td>     </tr>   </tbody> </table></div>`)[0];
            popup_cdc4ca8f40d9402cb0124ca247558a01.setContent(html_2d0d6cfb72a44f02970e1748a4c789c3);
        

        circle_ac9caa1c8ab84b7f98f19bbcae73668b.bindPopup(popup_cdc4ca8f40d9402cb0124ca247558a01)
        ;

        
    
    
            var circle_6b38ca23b5d04b698f1647ce45a304cc = L.circle(
                [34.8429931, 128.43116298],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_1fe99a35ca8246df9c4f9a32f8ba9734);
        
    
        var popup_1d7d92d433b448a4adb4241ba01cfa6e = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_0436e7d7b2dd4f5fbf0d582e531fe9ce = $(`<div id="html_0436e7d7b2dd4f5fbf0d582e531fe9ce" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>391</td>       <td>44343816</td>       <td>-96.0</td>       <td>25.0</td>       <td>None</td>       <td>74.954</td>     </tr>   </tbody> </table></div>`)[0];
            popup_1d7d92d433b448a4adb4241ba01cfa6e.setContent(html_0436e7d7b2dd4f5fbf0d582e531fe9ce);
        

        circle_6b38ca23b5d04b698f1647ce45a304cc.bindPopup(popup_1d7d92d433b448a4adb4241ba01cfa6e)
        ;

        
    
    
            var circle_a7714d838068433cbfe785d105129198 = L.circle(
                [34.84336629, 128.43020027],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "yellow", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_1fe99a35ca8246df9c4f9a32f8ba9734);
        
    
        var popup_de6aec1b580d47aea3b696306d076425 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_5acf6f93b31b4d5ea6065d38a9e0652d = $(`<div id="html_5acf6f93b31b4d5ea6065d38a9e0652d" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>299</td>       <td>44343816</td>       <td>-83.0</td>       <td>11.5</td>       <td>None</td>       <td>106.333</td>     </tr>   </tbody> </table></div>`)[0];
            popup_de6aec1b580d47aea3b696306d076425.setContent(html_5acf6f93b31b4d5ea6065d38a9e0652d);
        

        circle_a7714d838068433cbfe785d105129198.bindPopup(popup_de6aec1b580d47aea3b696306d076425)
        ;

        
    
    
            var circle_d94b9cb745e14fdb83d759b0743f4696 = L.circle(
                [34.84483209, 128.43003579],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_1fe99a35ca8246df9c4f9a32f8ba9734);
        
    
        var popup_5915088b08674b27b988f99e829a152b = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_71bdd3f7499a4756a8fb7a9a5a347542 = $(`<div id="html_71bdd3f7499a4756a8fb7a9a5a347542" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>736</td>       <td>44343813</td>       <td>-87.0</td>       <td>22.5</td>       <td>None</td>       <td>117.539</td>     </tr>   </tbody> </table></div>`)[0];
            popup_5915088b08674b27b988f99e829a152b.setContent(html_71bdd3f7499a4756a8fb7a9a5a347542);
        

        circle_d94b9cb745e14fdb83d759b0743f4696.bindPopup(popup_5915088b08674b27b988f99e829a152b)
        ;

        
    
    
            var circle_ae3528f5941e4e5394b48c8edf352eb6 = L.circle(
                [34.84571191, 128.42926799],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_1fe99a35ca8246df9c4f9a32f8ba9734);
        
    
        var popup_8170659b54894ca99282bbd61d249f95 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_1b19825f284a48ffb3b49e5e3e3982a3 = $(`<div id="html_1b19825f284a48ffb3b49e5e3e3982a3" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>301</td>       <td>44343821</td>       <td>-91.0</td>       <td>17.0</td>       <td>None</td>       <td>87.144</td>     </tr>   </tbody> </table></div>`)[0];
            popup_8170659b54894ca99282bbd61d249f95.setContent(html_1b19825f284a48ffb3b49e5e3e3982a3);
        

        circle_ae3528f5941e4e5394b48c8edf352eb6.bindPopup(popup_8170659b54894ca99282bbd61d249f95)
        ;

        
    
    
            var circle_5ace2f88569646cda388c93e67bf79e9 = L.circle(
                [34.84809063, 128.42881699],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "orange", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_1fe99a35ca8246df9c4f9a32f8ba9734);
        
    
        var popup_994cb3c4ea8c44e88e958d6232b81837 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_37d8c8547aa4414d9d0ed822125ac0a0 = $(`<div id="html_37d8c8547aa4414d9d0ed822125ac0a0" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>300</td>       <td>44343821</td>       <td>-72.0</td>       <td>33.5</td>       <td>None</td>       <td>139.638</td>     </tr>   </tbody> </table></div>`)[0];
            popup_994cb3c4ea8c44e88e958d6232b81837.setContent(html_37d8c8547aa4414d9d0ed822125ac0a0);
        

        circle_5ace2f88569646cda388c93e67bf79e9.bindPopup(popup_994cb3c4ea8c44e88e958d6232b81837)
        ;

        
    
    
            var circle_69fd39292daa4bd0898880a534aeaadb = L.circle(
                [34.84976757, 128.42856379],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_1fe99a35ca8246df9c4f9a32f8ba9734);
        
    
        var popup_10b4148cf0c8479bbe2f0a5174f4a2b7 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_c6c90a3a040748829168f3b662f18693 = $(`<div id="html_c6c90a3a040748829168f3b662f18693" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>366</td>       <td>44343814</td>       <td>-86.0</td>       <td>8.0</td>       <td>None</td>       <td>102.125</td>     </tr>   </tbody> </table></div>`)[0];
            popup_10b4148cf0c8479bbe2f0a5174f4a2b7.setContent(html_c6c90a3a040748829168f3b662f18693);
        

        circle_69fd39292daa4bd0898880a534aeaadb.bindPopup(popup_10b4148cf0c8479bbe2f0a5174f4a2b7)
        ;

        
    
    
            var circle_b87ef9fe514d43898dcbd1bd4c8743ec = L.circle(
                [34.84998623, 128.42867624],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_1fe99a35ca8246df9c4f9a32f8ba9734);
        
    
        var popup_441687a3ffe344108e773035b6da49c4 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_9b99b57940974af9b344534c6bdf5b3d = $(`<div id="html_9b99b57940974af9b344534c6bdf5b3d" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>366</td>       <td>44344836</td>       <td>-86.0</td>       <td>16.5</td>       <td>None</td>       <td>113.843</td>     </tr>   </tbody> </table></div>`)[0];
            popup_441687a3ffe344108e773035b6da49c4.setContent(html_9b99b57940974af9b344534c6bdf5b3d);
        

        circle_b87ef9fe514d43898dcbd1bd4c8743ec.bindPopup(popup_441687a3ffe344108e773035b6da49c4)
        ;

        
    
    
            var circle_14eb4acda802494f9c79a19f2a6190c7 = L.circle(
                [34.84999334, 128.42866633],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "yellow", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_1fe99a35ca8246df9c4f9a32f8ba9734);
        
    
        var popup_3c619d0d51ed481b8a44999056bb0cee = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_79235fe854cb4338981b202f2148035a = $(`<div id="html_79235fe854cb4338981b202f2148035a" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>366</td>       <td>44344836</td>       <td>-83.0</td>       <td>15.5</td>       <td>None</td>       <td>116.713</td>     </tr>   </tbody> </table></div>`)[0];
            popup_3c619d0d51ed481b8a44999056bb0cee.setContent(html_79235fe854cb4338981b202f2148035a);
        

        circle_14eb4acda802494f9c79a19f2a6190c7.bindPopup(popup_3c619d0d51ed481b8a44999056bb0cee)
        ;

        
    
    
            var circle_a7e0c98847e44aa59bec87554d652b3d = L.circle(
                [34.84999334, 128.42866633],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "yellow", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_1fe99a35ca8246df9c4f9a32f8ba9734);
        
    
        var popup_5d9e735de58d41da9622d104bd0ea651 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_35620dd9f102430eb329572a8f890e3e = $(`<div id="html_35620dd9f102430eb329572a8f890e3e" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>366</td>       <td>44344836</td>       <td>-83.0</td>       <td>15.0</td>       <td>1076.476</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_5d9e735de58d41da9622d104bd0ea651.setContent(html_35620dd9f102430eb329572a8f890e3e);
        

        circle_a7e0c98847e44aa59bec87554d652b3d.bindPopup(popup_5d9e735de58d41da9622d104bd0ea651)
        ;

        
    
    
            var circle_cff03393be0744cfabaae15bee31368c = L.circle(
                [34.85016993, 128.42880219],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_1fe99a35ca8246df9c4f9a32f8ba9734);
        
    
        var popup_dcf6912eaeff4a3bbfc90e60abdd35d6 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_b328d37f0aa64f3e86095812e069beaf = $(`<div id="html_b328d37f0aa64f3e86095812e069beaf" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>366</td>       <td>44344836</td>       <td>-86.0</td>       <td>6.0</td>       <td>463.205</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_dcf6912eaeff4a3bbfc90e60abdd35d6.setContent(html_b328d37f0aa64f3e86095812e069beaf);
        

        circle_cff03393be0744cfabaae15bee31368c.bindPopup(popup_dcf6912eaeff4a3bbfc90e60abdd35d6)
        ;

        
    
    
            var circle_5cc3766c7c6247f19b5512e209f29350 = L.circle(
                [34.85210811, 128.4287676],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "yellow", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_1fe99a35ca8246df9c4f9a32f8ba9734);
        
    
        var popup_bd5cece3806c47679ae87996152aca6e = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_53c20b07ee324f4b8bf232d0426fa925 = $(`<div id="html_53c20b07ee324f4b8bf232d0426fa925" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>361</td>       <td>44343823</td>       <td>-80.0</td>       <td>14.0</td>       <td>750.411</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_bd5cece3806c47679ae87996152aca6e.setContent(html_53c20b07ee324f4b8bf232d0426fa925);
        

        circle_5cc3766c7c6247f19b5512e209f29350.bindPopup(popup_bd5cece3806c47679ae87996152aca6e)
        ;

        
    
    
            var circle_825a05abbccf4a76bd3a938d51a81292 = L.circle(
                [34.85212518, 128.4282841],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "yellow", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_1fe99a35ca8246df9c4f9a32f8ba9734);
        
    
        var popup_e6b84f582d9a4a048c30f90cedfc8f3e = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_9d46655942de4a7abe28607d958f913b = $(`<div id="html_9d46655942de4a7abe28607d958f913b" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>361</td>       <td>44343823</td>       <td>-78.0</td>       <td>19.5</td>       <td>649.609</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_e6b84f582d9a4a048c30f90cedfc8f3e.setContent(html_9d46655942de4a7abe28607d958f913b);
        

        circle_825a05abbccf4a76bd3a938d51a81292.bindPopup(popup_e6b84f582d9a4a048c30f90cedfc8f3e)
        ;

        
    
    
            var circle_475967855c074989800b9ef219609761 = L.circle(
                [34.84956924, 128.42609589],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 29.0, "stroke": true, "weight": 1}
            ).addTo(feature_group_1fe99a35ca8246df9c4f9a32f8ba9734);
        
    
        var popup_3c1ae1ea84ff4aa28511c105103a2e23 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_3c13fee391744185a6b5e0e7b8fae3be = $(`<div id="html_3c13fee391744185a6b5e0e7b8fae3be" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>350</td>       <td>44343821</td>       <td>-88.0</td>       <td>23.5</td>       <td>1223.034</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_3c1ae1ea84ff4aa28511c105103a2e23.setContent(html_3c13fee391744185a6b5e0e7b8fae3be);
        

        circle_475967855c074989800b9ef219609761.bindPopup(popup_3c1ae1ea84ff4aa28511c105103a2e23)
        ;

        
    
</script>