<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_af9047207b5b468488e9ee5a53bbd9a8 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_af9047207b5b468488e9ee5a53bbd9a8" ></div>
        
</body>
<script>    
    
            var map_af9047207b5b468488e9ee5a53bbd9a8 = L.map(
                "map_af9047207b5b468488e9ee5a53bbd9a8",
                {
                    center: [34.97054902, 128.06348588],
                    crs: L.CRS.EPSG3857,
                    zoom: 15,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_f0c8508bac2845d6ac46103e0333e4af = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_af9047207b5b468488e9ee5a53bbd9a8);
        
    
            var marker_f2c047269d3b49f79b4f38a66e8a4f9b = L.marker(
                [34.97054902, 128.06348588],
                {"iconSize": [10, 10]}
            ).addTo(map_af9047207b5b468488e9ee5a53bbd9a8);
        
    
            var icon_8029be55a889404d9eb01dd68e3f9ac9 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "star", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_f2c047269d3b49f79b4f38a66e8a4f9b.setIcon(icon_8029be55a889404d9eb01dd68e3f9ac9);
        
    
            var poly_line_49cf52f017ff4fbca04aa83a8d839011 = L.polyline(
                [[34.97057684, 128.06354017], [34.97067313, 128.06359381], [34.97069954, 128.06346743], [34.97063076, 128.06274876], [34.96984214, 128.06264696], [34.96811064, 128.06352981], [34.96721881, 128.06253264], [34.96876857, 128.06194231], [34.9752514, 128.05965748], [34.97457334, 128.05359545], [34.97751146, 128.05248039], [34.98024195, 128.04755682], [34.98222564, 128.04497679], [34.9844685, 128.04389969], [34.98853371, 128.04311838], [34.99036609, 128.04109793], [34.99295054, 128.03958301], [34.99528148, 128.0392562], [34.99671135, 128.03882061], [34.99887847, 128.03947159]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_af9047207b5b468488e9ee5a53bbd9a8);
        
    
            var feature_group_d678c6b1ea394c578bb522373d674eb7 = L.featureGroup(
                {}
            ).addTo(map_af9047207b5b468488e9ee5a53bbd9a8);
        
    
            var circle_728d5c458f104da7ae46055c9c786d13 = L.circle(
                [34.97057684, 128.06354017],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_d678c6b1ea394c578bb522373d674eb7);
        
    
        var popup_cb09a6f8f1654be59cdf8e0a789e8762 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_50c2706bb63d4419b01fbe16797360be = $(`<div id="html_50c2706bb63d4419b01fbe16797360be" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>684</td>       <td>37193502</td>       <td>-104.0</td>       <td>15.0</td>       <td>None</td>       <td>34.177</td>     </tr>   </tbody> </table></div>`)[0];
            popup_cb09a6f8f1654be59cdf8e0a789e8762.setContent(html_50c2706bb63d4419b01fbe16797360be);
        

        circle_728d5c458f104da7ae46055c9c786d13.bindPopup(popup_cb09a6f8f1654be59cdf8e0a789e8762)
        ;

        
    
    
            var circle_b95ed1cef1434cfe8d5b3cbe92ac4808 = L.circle(
                [34.97067313, 128.06359381],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_d678c6b1ea394c578bb522373d674eb7);
        
    
        var popup_26e77f55bfac415d98718e680d8fb9fb = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_8e0c55c73e524c49a0afc3536be75b45 = $(`<div id="html_8e0c55c73e524c49a0afc3536be75b45" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>684</td>       <td>37193502</td>       <td>-98.0</td>       <td>20.0</td>       <td>None</td>       <td>47.429</td>     </tr>   </tbody> </table></div>`)[0];
            popup_26e77f55bfac415d98718e680d8fb9fb.setContent(html_8e0c55c73e524c49a0afc3536be75b45);
        

        circle_b95ed1cef1434cfe8d5b3cbe92ac4808.bindPopup(popup_26e77f55bfac415d98718e680d8fb9fb)
        ;

        
    
    
            var circle_e42f3d189a0c447cb65afe9645cd24d1 = L.circle(
                [34.97069954, 128.06346743],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_d678c6b1ea394c578bb522373d674eb7);
        
    
        var popup_c4cb59984aaa400aa491c9f5d2cd8826 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_5144e72e0b354ae9be8b9936a69cf3f8 = $(`<div id="html_5144e72e0b354ae9be8b9936a69cf3f8" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>684</td>       <td>37193502</td>       <td>-100.0</td>       <td>19.5</td>       <td>None</td>       <td>42.985</td>     </tr>   </tbody> </table></div>`)[0];
            popup_c4cb59984aaa400aa491c9f5d2cd8826.setContent(html_5144e72e0b354ae9be8b9936a69cf3f8);
        

        circle_e42f3d189a0c447cb65afe9645cd24d1.bindPopup(popup_c4cb59984aaa400aa491c9f5d2cd8826)
        ;

        
    
    
            var circle_80e31708b7d64682a66c610c2cf7fd92 = L.circle(
                [34.97063076, 128.06274876],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_d678c6b1ea394c578bb522373d674eb7);
        
    
        var popup_73f4a19c01be434b9365c75f4b854a1d = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_70230c03033e4b428c55cb13a492e3f4 = $(`<div id="html_70230c03033e4b428c55cb13a492e3f4" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>768</td>       <td>37193502</td>       <td>-95.0</td>       <td>18.0</td>       <td>None</td>       <td>43.418</td>     </tr>   </tbody> </table></div>`)[0];
            popup_73f4a19c01be434b9365c75f4b854a1d.setContent(html_70230c03033e4b428c55cb13a492e3f4);
        

        circle_80e31708b7d64682a66c610c2cf7fd92.bindPopup(popup_73f4a19c01be434b9365c75f4b854a1d)
        ;

        
    
    
            var circle_41d3eacdee524918ab7c9202c97716e3 = L.circle(
                [34.96984214, 128.06264696],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_d678c6b1ea394c578bb522373d674eb7);
        
    
        var popup_4e9cd779bb54492da8b3e6a998f7d303 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_4c2e0473406247bda2e61cef314156e0 = $(`<div id="html_4c2e0473406247bda2e61cef314156e0" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>684</td>       <td>37193502</td>       <td>-96.0</td>       <td>15.5</td>       <td>None</td>       <td>38.778</td>     </tr>   </tbody> </table></div>`)[0];
            popup_4e9cd779bb54492da8b3e6a998f7d303.setContent(html_4c2e0473406247bda2e61cef314156e0);
        

        circle_41d3eacdee524918ab7c9202c97716e3.bindPopup(popup_4e9cd779bb54492da8b3e6a998f7d303)
        ;

        
    
    
            var circle_f941aed269f14fc8840e0a8d20e8df15 = L.circle(
                [34.96811064, 128.06352981],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_d678c6b1ea394c578bb522373d674eb7);
        
    
        var popup_3a8420c9ac154dfbb7d27690061235be = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_c2fe8c36ca514611b57a3a41007ec817 = $(`<div id="html_c2fe8c36ca514611b57a3a41007ec817" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>684</td>       <td>38236686</td>       <td>-91.0</td>       <td>29.0</td>       <td>None</td>       <td>88.52</td>     </tr>   </tbody> </table></div>`)[0];
            popup_3a8420c9ac154dfbb7d27690061235be.setContent(html_c2fe8c36ca514611b57a3a41007ec817);
        

        circle_f941aed269f14fc8840e0a8d20e8df15.bindPopup(popup_3a8420c9ac154dfbb7d27690061235be)
        ;

        
    
    
            var circle_ac7c3bbed39e4270939cc786b13b8714 = L.circle(
                [34.96721881, 128.06253264],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_d678c6b1ea394c578bb522373d674eb7);
        
    
        var popup_691a9b2b2d94414393f101d26ceae366 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_4dff75f7648a4715bb98bea6855da717 = $(`<div id="html_4dff75f7648a4715bb98bea6855da717" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>851</td>       <td>37193489</td>       <td>-99.0</td>       <td>20.0</td>       <td>None</td>       <td>65.91</td>     </tr>   </tbody> </table></div>`)[0];
            popup_691a9b2b2d94414393f101d26ceae366.setContent(html_4dff75f7648a4715bb98bea6855da717);
        

        circle_ac7c3bbed39e4270939cc786b13b8714.bindPopup(popup_691a9b2b2d94414393f101d26ceae366)
        ;

        
    
    
            var circle_d5983e5873fc4909b46a24688b5c7d23 = L.circle(
                [34.96876857, 128.06194231],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "yellow", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_d678c6b1ea394c578bb522373d674eb7);
        
    
        var popup_2951ddeaf9a6421b825387f1fe963034 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_21b82275c7e54e05a4e56c653c86088a = $(`<div id="html_21b82275c7e54e05a4e56c653c86088a" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>768</td>       <td>37193502</td>       <td>-85.0</td>       <td>26.0</td>       <td>None</td>       <td>79.594</td>     </tr>   </tbody> </table></div>`)[0];
            popup_2951ddeaf9a6421b825387f1fe963034.setContent(html_21b82275c7e54e05a4e56c653c86088a);
        

        circle_d5983e5873fc4909b46a24688b5c7d23.bindPopup(popup_2951ddeaf9a6421b825387f1fe963034)
        ;

        
    
    
            var circle_ebd4dd9c92704028802d403e31cee5aa = L.circle(
                [34.9752514, 128.05965748],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_d678c6b1ea394c578bb522373d674eb7);
        
    
        var popup_84ec271436564481ba44cba078bc9f7c = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_a4557829a43c49e6b8fc51fd227fecd3 = $(`<div id="html_a4557829a43c49e6b8fc51fd227fecd3" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>47</td>       <td>37193742</td>       <td>-86.0</td>       <td>33.5</td>       <td>None</td>       <td>84.312</td>     </tr>   </tbody> </table></div>`)[0];
            popup_84ec271436564481ba44cba078bc9f7c.setContent(html_a4557829a43c49e6b8fc51fd227fecd3);
        

        circle_ebd4dd9c92704028802d403e31cee5aa.bindPopup(popup_84ec271436564481ba44cba078bc9f7c)
        ;

        
    
    
            var circle_9fd2298cc06543adbd8f3d5e3d01ccb1 = L.circle(
                [34.97457334, 128.05359545],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "orange", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_d678c6b1ea394c578bb522373d674eb7);
        
    
        var popup_a62c4bad20cb40f9b0ba44d54e60a33b = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_49ef657736d4466f90c630413e6699c9 = $(`<div id="html_49ef657736d4466f90c630413e6699c9" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>492</td>       <td>37193502</td>       <td>-75.0</td>       <td>33.0</td>       <td>None</td>       <td>66.618</td>     </tr>   </tbody> </table></div>`)[0];
            popup_a62c4bad20cb40f9b0ba44d54e60a33b.setContent(html_49ef657736d4466f90c630413e6699c9);
        

        circle_9fd2298cc06543adbd8f3d5e3d01ccb1.bindPopup(popup_a62c4bad20cb40f9b0ba44d54e60a33b)
        ;

        
    
    
            var circle_95daefbecfdd4f6ab0b750c4db3eb557 = L.circle(
                [34.97751146, 128.05248039],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_d678c6b1ea394c578bb522373d674eb7);
        
    
        var popup_425c8abafc5e45fd9a16070d88d12d60 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_f741c0f2c3804275a0ff4482d7e6f0c8 = $(`<div id="html_f741c0f2c3804275a0ff4482d7e6f0c8" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>491</td>       <td>37193502</td>       <td>-102.0</td>       <td>3.5</td>       <td>None</td>       <td>47.547</td>     </tr>   </tbody> </table></div>`)[0];
            popup_425c8abafc5e45fd9a16070d88d12d60.setContent(html_f741c0f2c3804275a0ff4482d7e6f0c8);
        

        circle_95daefbecfdd4f6ab0b750c4db3eb557.bindPopup(popup_425c8abafc5e45fd9a16070d88d12d60)
        ;

        
    
    
            var circle_8deb2d63ccd444639375694541a00d77 = L.circle(
                [34.98024195, 128.04755682],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_d678c6b1ea394c578bb522373d674eb7);
        
    
        var popup_16249298e8d74190a28deea4b8e3dc39 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_b7db49343d9e413eb509a2d25d4d3c66 = $(`<div id="html_b7db49343d9e413eb509a2d25d4d3c66" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>104</td>       <td>37393168</td>       <td>-97.0</td>       <td>15.0</td>       <td>None</td>       <td>56.709</td>     </tr>   </tbody> </table></div>`)[0];
            popup_16249298e8d74190a28deea4b8e3dc39.setContent(html_b7db49343d9e413eb509a2d25d4d3c66);
        

        circle_8deb2d63ccd444639375694541a00d77.bindPopup(popup_16249298e8d74190a28deea4b8e3dc39)
        ;

        
    
    
            var circle_26d40e6e3417428b987a39bfe24da65f = L.circle(
                [34.98222564, 128.04497679],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_d678c6b1ea394c578bb522373d674eb7);
        
    
        var popup_f7b8ecf4222348c99d1e745e2ecc554b = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_ad1aa4f3d56343f79229aaa5147a999f = $(`<div id="html_ad1aa4f3d56343f79229aaa5147a999f" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>2</td>       <td>37193502</td>       <td>-101.0</td>       <td>17.8</td>       <td>None</td>       <td>43.733</td>     </tr>   </tbody> </table></div>`)[0];
            popup_f7b8ecf4222348c99d1e745e2ecc554b.setContent(html_ad1aa4f3d56343f79229aaa5147a999f);
        

        circle_26d40e6e3417428b987a39bfe24da65f.bindPopup(popup_f7b8ecf4222348c99d1e745e2ecc554b)
        ;

        
    
    
            var circle_83b31bd0d41f475b8827bb2c34f974e3 = L.circle(
                [34.9844685, 128.04389969],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "yellow", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_d678c6b1ea394c578bb522373d674eb7);
        
    
        var popup_7fc5138bf1cc4c9da1b8a8af1102ab6d = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_5834f2c6846e4a558877a28596f2e2df = $(`<div id="html_5834f2c6846e4a558877a28596f2e2df" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>272</td>       <td>37393168</td>       <td>-85.0</td>       <td>8.2</td>       <td>None</td>       <td>0.0</td>     </tr>   </tbody> </table></div>`)[0];
            popup_7fc5138bf1cc4c9da1b8a8af1102ab6d.setContent(html_5834f2c6846e4a558877a28596f2e2df);
        

        circle_83b31bd0d41f475b8827bb2c34f974e3.bindPopup(popup_7fc5138bf1cc4c9da1b8a8af1102ab6d)
        ;

        
    
    
            var circle_ee8247d42a2f48169b5f5453c5ffef5a = L.circle(
                [34.98853371, 128.04311838],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "black", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_d678c6b1ea394c578bb522373d674eb7);
        
    
        var popup_be28ffe7566348ffb5faa2b20fa891fb = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_220d47e444e34baeaa4826548d158f58 = $(`<div id="html_220d47e444e34baeaa4826548d158f58" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>0</td>       <td>37194499</td>       <td>0.0</td>       <td>0.0</td>       <td>None</td>       <td>0.0</td>     </tr>   </tbody> </table></div>`)[0];
            popup_be28ffe7566348ffb5faa2b20fa891fb.setContent(html_220d47e444e34baeaa4826548d158f58);
        

        circle_ee8247d42a2f48169b5f5453c5ffef5a.bindPopup(popup_be28ffe7566348ffb5faa2b20fa891fb)
        ;

        
    
    
            var circle_439b371568774a6c943d265482da9322 = L.circle(
                [34.99036609, 128.04109793],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_d678c6b1ea394c578bb522373d674eb7);
        
    
        var popup_425ea4c99cef4e6f915d56faeec6624b = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_23806ad7443545a79e69a0df80615d3a = $(`<div id="html_23806ad7443545a79e69a0df80615d3a" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>977</td>       <td>37194499</td>       <td>-104.0</td>       <td>15.0</td>       <td>None</td>       <td>24.15</td>     </tr>   </tbody> </table></div>`)[0];
            popup_425ea4c99cef4e6f915d56faeec6624b.setContent(html_23806ad7443545a79e69a0df80615d3a);
        

        circle_439b371568774a6c943d265482da9322.bindPopup(popup_425ea4c99cef4e6f915d56faeec6624b)
        ;

        
    
    
            var circle_4acae1eccf21450a84d959107d37b3d0 = L.circle(
                [34.99295054, 128.03958301],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "black", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_d678c6b1ea394c578bb522373d674eb7);
        
    
        var popup_4917e13384154e9dbd775a5ef65370cb = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_a9e1b21ffa814418bd7a5f8b8d84a87d = $(`<div id="html_a9e1b21ffa814418bd7a5f8b8d84a87d" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>None</td>       <td>37192193</td>       <td>None</td>       <td>0.0</td>       <td>None</td>       <td>0.0</td>     </tr>   </tbody> </table></div>`)[0];
            popup_4917e13384154e9dbd775a5ef65370cb.setContent(html_a9e1b21ffa814418bd7a5f8b8d84a87d);
        

        circle_4acae1eccf21450a84d959107d37b3d0.bindPopup(popup_4917e13384154e9dbd775a5ef65370cb)
        ;

        
    
    
            var circle_6cc22961a05d4fcea9ff9a02c6814707 = L.circle(
                [34.99528148, 128.0392562],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "black", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_d678c6b1ea394c578bb522373d674eb7);
        
    
        var popup_162807b237fa431fa0a32783495689c8 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_a2e0463c8ca741a6bfcb0564b2ac373e = $(`<div id="html_a2e0463c8ca741a6bfcb0564b2ac373e" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>None</td>       <td>37192193</td>       <td>None</td>       <td>0.0</td>       <td>None</td>       <td>0.0</td>     </tr>   </tbody> </table></div>`)[0];
            popup_162807b237fa431fa0a32783495689c8.setContent(html_a2e0463c8ca741a6bfcb0564b2ac373e);
        

        circle_6cc22961a05d4fcea9ff9a02c6814707.bindPopup(popup_162807b237fa431fa0a32783495689c8)
        ;

        
    
    
            var circle_f05009f7a6e1402f916b36afdbd50cfd = L.circle(
                [34.99671135, 128.03882061],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_d678c6b1ea394c578bb522373d674eb7);
        
    
        var popup_0b08c144d0c74a07aa75f6d189f1bd0c = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_37d64047bd1a4845910010bcecfea7fc = $(`<div id="html_37d64047bd1a4845910010bcecfea7fc" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>104</td>       <td>37192193</td>       <td>-105.0</td>       <td>15.0</td>       <td>None</td>       <td>22.302</td>     </tr>   </tbody> </table></div>`)[0];
            popup_0b08c144d0c74a07aa75f6d189f1bd0c.setContent(html_37d64047bd1a4845910010bcecfea7fc);
        

        circle_f05009f7a6e1402f916b36afdbd50cfd.bindPopup(popup_0b08c144d0c74a07aa75f6d189f1bd0c)
        ;

        
    
    
            var circle_8e8985fe453e4e6ea13dfe8e16d4223a = L.circle(
                [34.99887847, 128.03947159],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "yellow", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 29.0, "stroke": true, "weight": 1}
            ).addTo(feature_group_d678c6b1ea394c578bb522373d674eb7);
        
    
        var popup_e85db96cad1b4e8ba5a166f0e9049691 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_b70f2af8dc1a4afaa0efb76c584db980 = $(`<div id="html_b70f2af8dc1a4afaa0efb76c584db980" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>436</td>       <td>37194501</td>       <td>-79.0</td>       <td>7.0</td>       <td>None</td>       <td>0.0</td>     </tr>   </tbody> </table></div>`)[0];
            popup_e85db96cad1b4e8ba5a166f0e9049691.setContent(html_b70f2af8dc1a4afaa0efb76c584db980);
        

        circle_8e8985fe453e4e6ea13dfe8e16d4223a.bindPopup(popup_e85db96cad1b4e8ba5a166f0e9049691)
        ;

        
    
</script>