<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_14d926e9f193489db6ea533f37729d39 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_14d926e9f193489db6ea533f37729d39" ></div>
        
</body>
<script>    
    
            var map_14d926e9f193489db6ea533f37729d39 = L.map(
                "map_14d926e9f193489db6ea533f37729d39",
                {
                    center: [34.84357722, 128.44107349],
                    crs: L.CRS.EPSG3857,
                    zoom: 15,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_229537f1df174e088290150593c387af = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_14d926e9f193489db6ea533f37729d39);
        
    
            var marker_c8c6ba86780f4129abdb2d482d3cd520 = L.marker(
                [34.84357722, 128.44107349],
                {"iconSize": [10, 10]}
            ).addTo(map_14d926e9f193489db6ea533f37729d39);
        
    
            var icon_60b8d353dc9b4602a30a429fda4adf5e = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "star", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_c8c6ba86780f4129abdb2d482d3cd520.setIcon(icon_60b8d353dc9b4602a30a429fda4adf5e);
        
    
            var poly_line_902eb8f4936a48fb932c00e460c021b0 = L.polyline(
                [[34.84357722, 128.44107349], [34.84357722, 128.44107349], [34.84357722, 128.44107349], [34.84380871, 128.4391347], [34.84365958, 128.43772364], [34.84435332, 128.43490525], [34.84386988, 128.4327137], [34.8431032, 128.43131102], [34.84431304, 128.42965746], [34.84574548, 128.42927933], [34.84782712, 128.42880064], [34.84952959, 128.42853212], [34.85011392, 128.43059186], [34.84929741, 128.42910779], [34.84697728, 128.42872521], [34.84505814, 128.42995855], [34.84436906, 128.4296356], [34.84304553, 128.43109939], [34.84318337, 128.4304035], [34.84481645, 128.43012139], [34.84573554, 128.42947668], [34.84780216, 128.42883325], [34.8498063, 128.42850373], [34.84999429, 128.42866949], [34.84996786, 128.42864251], [34.84997603, 128.42864747], [34.85018271, 128.42882626], [34.85190755, 128.42825766], [34.84957521, 128.42605849]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_14d926e9f193489db6ea533f37729d39);
        
    
            var feature_group_3e95b23e2c464a3c93bbce5e0341d8ec = L.featureGroup(
                {}
            ).addTo(map_14d926e9f193489db6ea533f37729d39);
        
    
            var circle_aad50b8b7a434f339ae57b8cfd4bf87b = L.circle(
                [34.84357722, 128.44107349],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_3e95b23e2c464a3c93bbce5e0341d8ec);
        
    
        var popup_bfe63e88314840c2a4baf784fbca2398 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_d6dc7a09fa5949978128a43e659faa84 = $(`<div id="html_d6dc7a09fa5949978128a43e659faa84" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>438</td>       <td>9136399</td>       <td>-91.0</td>       <td>20.5</td>       <td>None</td>       <td>56.945</td>     </tr>   </tbody> </table></div>`)[0];
            popup_bfe63e88314840c2a4baf784fbca2398.setContent(html_d6dc7a09fa5949978128a43e659faa84);
        

        circle_aad50b8b7a434f339ae57b8cfd4bf87b.bindPopup(popup_bfe63e88314840c2a4baf784fbca2398)
        ;

        
    
    
            var circle_a2fedea332e442ffbc096bcd7afbd72e = L.circle(
                [34.84357722, 128.44107349],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_3e95b23e2c464a3c93bbce5e0341d8ec);
        
    
        var popup_766a1adcca1d44699638a0048352f119 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_280eb4a1030c43df87f4bb6b829c25de = $(`<div id="html_280eb4a1030c43df87f4bb6b829c25de" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>438</td>       <td>9136399</td>       <td>-96.0</td>       <td>15.5</td>       <td>None</td>       <td>56.984</td>     </tr>   </tbody> </table></div>`)[0];
            popup_766a1adcca1d44699638a0048352f119.setContent(html_280eb4a1030c43df87f4bb6b829c25de);
        

        circle_a2fedea332e442ffbc096bcd7afbd72e.bindPopup(popup_766a1adcca1d44699638a0048352f119)
        ;

        
    
    
            var circle_a6fec6ced54d4ffd94f633300cd71af9 = L.circle(
                [34.84357722, 128.44107349],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_3e95b23e2c464a3c93bbce5e0341d8ec);
        
    
        var popup_3cf7b5fe044a40bd9c72cf21779c43dc = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_6fdbabf756124691afcc59e96da615db = $(`<div id="html_6fdbabf756124691afcc59e96da615db" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>438</td>       <td>9136399</td>       <td>-86.0</td>       <td>18.0</td>       <td>None</td>       <td>74.561</td>     </tr>   </tbody> </table></div>`)[0];
            popup_3cf7b5fe044a40bd9c72cf21779c43dc.setContent(html_6fdbabf756124691afcc59e96da615db);
        

        circle_a6fec6ced54d4ffd94f633300cd71af9.bindPopup(popup_3cf7b5fe044a40bd9c72cf21779c43dc)
        ;

        
    
    
            var circle_3866382207754cef8bbb50cbadafc993 = L.circle(
                [34.84380871, 128.4391347],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "yellow", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_3e95b23e2c464a3c93bbce5e0341d8ec);
        
    
        var popup_d2f58a2115764503b04e33201ee7ab46 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_23def75ca0664fe8affd3b00c88f3a8f = $(`<div id="html_23def75ca0664fe8affd3b00c88f3a8f" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>432</td>       <td>11167499</td>       <td>-84.0</td>       <td>16.5</td>       <td>None</td>       <td>75.15</td>     </tr>   </tbody> </table></div>`)[0];
            popup_d2f58a2115764503b04e33201ee7ab46.setContent(html_23def75ca0664fe8affd3b00c88f3a8f);
        

        circle_3866382207754cef8bbb50cbadafc993.bindPopup(popup_d2f58a2115764503b04e33201ee7ab46)
        ;

        
    
    
            var circle_785ea2a0f9304e78b5f1b492fd9f57cf = L.circle(
                [34.84365958, 128.43772364],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "yellow", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_3e95b23e2c464a3c93bbce5e0341d8ec);
        
    
        var popup_56a7694991ee4a82b68c84e202022522 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_841e29445f5548e7b59a6b42e2a53803 = $(`<div id="html_841e29445f5548e7b59a6b42e2a53803" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>432</td>       <td>11167499</td>       <td>-80.0</td>       <td>5.5</td>       <td>None</td>       <td>79.712</td>     </tr>   </tbody> </table></div>`)[0];
            popup_56a7694991ee4a82b68c84e202022522.setContent(html_841e29445f5548e7b59a6b42e2a53803);
        

        circle_785ea2a0f9304e78b5f1b492fd9f57cf.bindPopup(popup_56a7694991ee4a82b68c84e202022522)
        ;

        
    
    
            var circle_09186a416d6249f1854e62010740012f = L.circle(
                [34.84435332, 128.43490525],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "yellow", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_3e95b23e2c464a3c93bbce5e0341d8ec);
        
    
        var popup_34418144975744499c41e0a9d9ad3abd = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_20e91e0b6b96433a89e28b13ef76797d = $(`<div id="html_20e91e0b6b96433a89e28b13ef76797d" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>270</td>       <td>11166999</td>       <td>-80.0</td>       <td>19.0</td>       <td>None</td>       <td>97.918</td>     </tr>   </tbody> </table></div>`)[0];
            popup_34418144975744499c41e0a9d9ad3abd.setContent(html_20e91e0b6b96433a89e28b13ef76797d);
        

        circle_09186a416d6249f1854e62010740012f.bindPopup(popup_34418144975744499c41e0a9d9ad3abd)
        ;

        
    
    
            var circle_6bc981badbba4890a0982f94d93e109c = L.circle(
                [34.84386988, 128.4327137],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "yellow", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_3e95b23e2c464a3c93bbce5e0341d8ec);
        
    
        var popup_2cf92faf91864882bab933b00f0bbcb1 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_4a4cbb21017e46b6b723b62c166522fd = $(`<div id="html_4a4cbb21017e46b6b723b62c166522fd" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>301</td>       <td>11166999</td>       <td>-78.0</td>       <td>29.0</td>       <td>None</td>       <td>106.647</td>     </tr>   </tbody> </table></div>`)[0];
            popup_2cf92faf91864882bab933b00f0bbcb1.setContent(html_4a4cbb21017e46b6b723b62c166522fd);
        

        circle_6bc981badbba4890a0982f94d93e109c.bindPopup(popup_2cf92faf91864882bab933b00f0bbcb1)
        ;

        
    
    
            var circle_849e9b2bd5a44f73b8f473565018bc72 = L.circle(
                [34.8431032, 128.43131102],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "yellow", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_3e95b23e2c464a3c93bbce5e0341d8ec);
        
    
        var popup_2b8e1302a3044e9d9cb9771f226b29dc = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_f229bcf0e0694e5cbe6d7a8c0c7923c6 = $(`<div id="html_f229bcf0e0694e5cbe6d7a8c0c7923c6" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>64</td>       <td>8965135</td>       <td>-81.0</td>       <td>28.0</td>       <td>None</td>       <td>103.344</td>     </tr>   </tbody> </table></div>`)[0];
            popup_2b8e1302a3044e9d9cb9771f226b29dc.setContent(html_f229bcf0e0694e5cbe6d7a8c0c7923c6);
        

        circle_849e9b2bd5a44f73b8f473565018bc72.bindPopup(popup_2b8e1302a3044e9d9cb9771f226b29dc)
        ;

        
    
    
            var circle_f30d1d44f8494ce8bcc66739da57ec3b = L.circle(
                [34.84431304, 128.42965746],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "orange", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_3e95b23e2c464a3c93bbce5e0341d8ec);
        
    
        var popup_2908f7de573d4812bc3120035308d747 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_6ed74d4b0dda4f3d9f9ffa65a438a11d = $(`<div id="html_6ed74d4b0dda4f3d9f9ffa65a438a11d" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>216</td>       <td>11168811</td>       <td>-74.0</td>       <td>17.5</td>       <td>None</td>       <td>131.223</td>     </tr>   </tbody> </table></div>`)[0];
            popup_2908f7de573d4812bc3120035308d747.setContent(html_6ed74d4b0dda4f3d9f9ffa65a438a11d);
        

        circle_f30d1d44f8494ce8bcc66739da57ec3b.bindPopup(popup_2908f7de573d4812bc3120035308d747)
        ;

        
    
    
            var circle_679f71ae9df64b6786fd3375cb72781c = L.circle(
                [34.84574548, 128.42927933],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_3e95b23e2c464a3c93bbce5e0341d8ec);
        
    
        var popup_66eee3d33ff144ecb1925fe2dd07c42e = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_6a546a53eae94c84b5a5544d4defa269 = $(`<div id="html_6a546a53eae94c84b5a5544d4defa269" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>216</td>       <td>11168267</td>       <td>-93.0</td>       <td>0.0</td>       <td>None</td>       <td>74.561</td>     </tr>   </tbody> </table></div>`)[0];
            popup_66eee3d33ff144ecb1925fe2dd07c42e.setContent(html_6a546a53eae94c84b5a5544d4defa269);
        

        circle_679f71ae9df64b6786fd3375cb72781c.bindPopup(popup_66eee3d33ff144ecb1925fe2dd07c42e)
        ;

        
    
    
            var circle_6ba2f793f28d40b1bed82260e6ca3bd4 = L.circle(
                [34.84782712, 128.42880064],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "orange", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_3e95b23e2c464a3c93bbce5e0341d8ec);
        
    
        var popup_2be458dc8ec045efa53c6eb7c66bfd2b = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_d7220039f6264d74960c69fbfaa43ef2 = $(`<div id="html_d7220039f6264d74960c69fbfaa43ef2" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>240</td>       <td>11167755</td>       <td>-69.0</td>       <td>30.5</td>       <td>None</td>       <td>130.319</td>     </tr>   </tbody> </table></div>`)[0];
            popup_2be458dc8ec045efa53c6eb7c66bfd2b.setContent(html_d7220039f6264d74960c69fbfaa43ef2);
        

        circle_6ba2f793f28d40b1bed82260e6ca3bd4.bindPopup(popup_2be458dc8ec045efa53c6eb7c66bfd2b)
        ;

        
    
    
            var circle_9ad02adc19934017b20fcfde80c8ba01 = L.circle(
                [34.84952959, 128.42853212],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_3e95b23e2c464a3c93bbce5e0341d8ec);
        
    
        var popup_e8e2dcf240604635bebeb24b7a87d039 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_854df1562f2045ecaec91ef9ae1acf23 = $(`<div id="html_854df1562f2045ecaec91ef9ae1acf23" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>318</td>       <td>11168515</td>       <td>-96.0</td>       <td>9.5</td>       <td>None</td>       <td>43.221</td>     </tr>   </tbody> </table></div>`)[0];
            popup_e8e2dcf240604635bebeb24b7a87d039.setContent(html_854df1562f2045ecaec91ef9ae1acf23);
        

        circle_9ad02adc19934017b20fcfde80c8ba01.bindPopup(popup_e8e2dcf240604635bebeb24b7a87d039)
        ;

        
    
    
            var circle_15617eedb84241e181f7fce2c942c568 = L.circle(
                [34.85011392, 128.43059186],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_3e95b23e2c464a3c93bbce5e0341d8ec);
        
    
        var popup_b1d632af9a9c46bda6d5aed87137bf2d = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_db3b744c7e0a43159a79a513df054c9f = $(`<div id="html_db3b744c7e0a43159a79a513df054c9f" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>171</td>       <td>11167495</td>       <td>-93.0</td>       <td>19.0</td>       <td>None</td>       <td>88.127</td>     </tr>   </tbody> </table></div>`)[0];
            popup_b1d632af9a9c46bda6d5aed87137bf2d.setContent(html_db3b744c7e0a43159a79a513df054c9f);
        

        circle_15617eedb84241e181f7fce2c942c568.bindPopup(popup_b1d632af9a9c46bda6d5aed87137bf2d)
        ;

        
    
    
            var circle_df4abb05fe224b7695ac5727411b0a35 = L.circle(
                [34.84929741, 128.42910779],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_3e95b23e2c464a3c93bbce5e0341d8ec);
        
    
        var popup_bfc1be6ed5424085b589d002f28f3728 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_dab837f74f524417b18407ff22c06f5e = $(`<div id="html_dab837f74f524417b18407ff22c06f5e" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>318</td>       <td>11168515</td>       <td>-105.0</td>       <td>0.5</td>       <td>None</td>       <td>43.379</td>     </tr>   </tbody> </table></div>`)[0];
            popup_bfc1be6ed5424085b589d002f28f3728.setContent(html_dab837f74f524417b18407ff22c06f5e);
        

        circle_df4abb05fe224b7695ac5727411b0a35.bindPopup(popup_bfc1be6ed5424085b589d002f28f3728)
        ;

        
    
    
            var circle_2ff82b16576342c5a6c123bc2d80b216 = L.circle(
                [34.84697728, 128.42872521],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "orange", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_3e95b23e2c464a3c93bbce5e0341d8ec);
        
    
        var popup_c1453ca4d5bd4edc958a2b0fc11a9542 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_0c0291e6c451428aa89ea074e8d07195 = $(`<div id="html_0c0291e6c451428aa89ea074e8d07195" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>277</td>       <td>11167755</td>       <td>-68.0</td>       <td>31.0</td>       <td>None</td>       <td>98.114</td>     </tr>   </tbody> </table></div>`)[0];
            popup_c1453ca4d5bd4edc958a2b0fc11a9542.setContent(html_0c0291e6c451428aa89ea074e8d07195);
        

        circle_2ff82b16576342c5a6c123bc2d80b216.bindPopup(popup_c1453ca4d5bd4edc958a2b0fc11a9542)
        ;

        
    
    
            var circle_46ff34af7e0449fa92b81d48371672d5 = L.circle(
                [34.84505814, 128.42995855],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "orange", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_3e95b23e2c464a3c93bbce5e0341d8ec);
        
    
        var popup_c1601ef2f19640df9d603a9ec71854fe = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_e389a88414ba41e5ac2aedcb2018ddc4 = $(`<div id="html_e389a88414ba41e5ac2aedcb2018ddc4" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>216</td>       <td>11168267</td>       <td>-66.0</td>       <td>22.5</td>       <td>None</td>       <td>153.951</td>     </tr>   </tbody> </table></div>`)[0];
            popup_c1601ef2f19640df9d603a9ec71854fe.setContent(html_e389a88414ba41e5ac2aedcb2018ddc4);
        

        circle_46ff34af7e0449fa92b81d48371672d5.bindPopup(popup_c1601ef2f19640df9d603a9ec71854fe)
        ;

        
    
    
            var circle_5e5964d1cc7348338d6076718b21e1ac = L.circle(
                [34.84436906, 128.4296356],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "orange", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_3e95b23e2c464a3c93bbce5e0341d8ec);
        
    
        var popup_a6c152f4da424438836db033a460eadf = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_23a5e40f5fee4834a6066294d8c76acd = $(`<div id="html_23a5e40f5fee4834a6066294d8c76acd" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>96</td>       <td>8966147</td>       <td>-66.0</td>       <td>16.0</td>       <td>None</td>       <td>126.505</td>     </tr>   </tbody> </table></div>`)[0];
            popup_a6c152f4da424438836db033a460eadf.setContent(html_23a5e40f5fee4834a6066294d8c76acd);
        

        circle_5e5964d1cc7348338d6076718b21e1ac.bindPopup(popup_a6c152f4da424438836db033a460eadf)
        ;

        
    
    
            var circle_a7982d5d284f4fb0bf3b19d3c03b56ed = L.circle(
                [34.84304553, 128.43109939],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_3e95b23e2c464a3c93bbce5e0341d8ec);
        
    
        var popup_8855a2e9cd0e4205a6605280eca14cb2 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_12a7a260132742c1a473352f46ede732 = $(`<div id="html_12a7a260132742c1a473352f46ede732" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>64</td>       <td>11165711</td>       <td>-86.0</td>       <td>22.5</td>       <td>None</td>       <td>106.647</td>     </tr>   </tbody> </table></div>`)[0];
            popup_8855a2e9cd0e4205a6605280eca14cb2.setContent(html_12a7a260132742c1a473352f46ede732);
        

        circle_a7982d5d284f4fb0bf3b19d3c03b56ed.bindPopup(popup_8855a2e9cd0e4205a6605280eca14cb2)
        ;

        
    
    
            var circle_849b072e5fdc4a2f8c920aaa02652106 = L.circle(
                [34.84318337, 128.4304035],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "orange", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_3e95b23e2c464a3c93bbce5e0341d8ec);
        
    
        var popup_a5f11783d98645a68c036eb346b5395b = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_b10036dc1e304182aea6ae36c824a5e7 = $(`<div id="html_b10036dc1e304182aea6ae36c824a5e7" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>684</td>       <td>11165711</td>       <td>-66.0</td>       <td>1.5</td>       <td>None</td>       <td>142.98</td>     </tr>   </tbody> </table></div>`)[0];
            popup_a5f11783d98645a68c036eb346b5395b.setContent(html_b10036dc1e304182aea6ae36c824a5e7);
        

        circle_849b072e5fdc4a2f8c920aaa02652106.bindPopup(popup_a5f11783d98645a68c036eb346b5395b)
        ;

        
    
    
            var circle_2063ebff63764ac4b402754749ff6bb4 = L.circle(
                [34.84481645, 128.43012139],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "black", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_3e95b23e2c464a3c93bbce5e0341d8ec);
        
    
        var popup_eb656ba3a44e4ad3919155fa6bede1d0 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_0feb46170d3e4989b55dd5fc426175e4 = $(`<div id="html_0feb46170d3e4989b55dd5fc426175e4" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>216</td>       <td>11168267</td>       <td>-65.0</td>       <td>24.0</td>       <td>None</td>       <td>157.569</td>     </tr>   </tbody> </table></div>`)[0];
            popup_eb656ba3a44e4ad3919155fa6bede1d0.setContent(html_0feb46170d3e4989b55dd5fc426175e4);
        

        circle_2063ebff63764ac4b402754749ff6bb4.bindPopup(popup_eb656ba3a44e4ad3919155fa6bede1d0)
        ;

        
    
    
            var circle_691ad22db87240b7b6a4b265f10ca60b = L.circle(
                [34.84573554, 128.42947668],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "yellow", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_3e95b23e2c464a3c93bbce5e0341d8ec);
        
    
        var popup_6b3d890234ba4cf68d85b2c7788638e6 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_234efbb67a954872aaeff2b9ecbf65b5 = $(`<div id="html_234efbb67a954872aaeff2b9ecbf65b5" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>216</td>       <td>8966147</td>       <td>-84.0</td>       <td>12.0</td>       <td>None</td>       <td>92.885</td>     </tr>   </tbody> </table></div>`)[0];
            popup_6b3d890234ba4cf68d85b2c7788638e6.setContent(html_234efbb67a954872aaeff2b9ecbf65b5);
        

        circle_691ad22db87240b7b6a4b265f10ca60b.bindPopup(popup_6b3d890234ba4cf68d85b2c7788638e6)
        ;

        
    
    
            var circle_a14fb8a28ed14c67ad58000b0fcbbb97 = L.circle(
                [34.84780216, 128.42883325],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "orange", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_3e95b23e2c464a3c93bbce5e0341d8ec);
        
    
        var popup_07d0b868eb974aa3a24c69d1905f9ad4 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_1c2cbffa08d44edab02415ef9d34a90f = $(`<div id="html_1c2cbffa08d44edab02415ef9d34a90f" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>240</td>       <td>11167755</td>       <td>-73.0</td>       <td>29.0</td>       <td>None</td>       <td>116.32</td>     </tr>   </tbody> </table></div>`)[0];
            popup_07d0b868eb974aa3a24c69d1905f9ad4.setContent(html_1c2cbffa08d44edab02415ef9d34a90f);
        

        circle_a14fb8a28ed14c67ad58000b0fcbbb97.bindPopup(popup_07d0b868eb974aa3a24c69d1905f9ad4)
        ;

        
    
    
            var circle_ec080cbf300d4e95a2099712924f6638 = L.circle(
                [34.8498063, 128.42850373],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_3e95b23e2c464a3c93bbce5e0341d8ec);
        
    
        var popup_946b41ecfe5c466ba94fc95051aaa289 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_c98372ec1c174c93ba0c2379239228a6 = $(`<div id="html_c98372ec1c174c93ba0c2379239228a6" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>318</td>       <td>8965127</td>       <td>-99.0</td>       <td>8.5</td>       <td>None</td>       <td>56.866</td>     </tr>   </tbody> </table></div>`)[0];
            popup_946b41ecfe5c466ba94fc95051aaa289.setContent(html_c98372ec1c174c93ba0c2379239228a6);
        

        circle_ec080cbf300d4e95a2099712924f6638.bindPopup(popup_946b41ecfe5c466ba94fc95051aaa289)
        ;

        
    
    
            var circle_908bb5ecd521468da9ecea1e5cc2a676 = L.circle(
                [34.84999429, 128.42866949],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_3e95b23e2c464a3c93bbce5e0341d8ec);
        
    
        var popup_db75c1852b274adbb8e72bb235cb0c88 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_3318eecb71c34ca085949880161b17e0 = $(`<div id="html_3318eecb71c34ca085949880161b17e0" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>61</td>       <td>11167539</td>       <td>-96.0</td>       <td>14.0</td>       <td>None</td>       <td>52.619</td>     </tr>   </tbody> </table></div>`)[0];
            popup_db75c1852b274adbb8e72bb235cb0c88.setContent(html_3318eecb71c34ca085949880161b17e0);
        

        circle_908bb5ecd521468da9ecea1e5cc2a676.bindPopup(popup_db75c1852b274adbb8e72bb235cb0c88)
        ;

        
    
    
            var circle_52bfa823c0bf4aa2a8867d6c07675e2a = L.circle(
                [34.84996786, 128.42864251],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_3e95b23e2c464a3c93bbce5e0341d8ec);
        
    
        var popup_9df694ff60c94d3b8b3a9a85599c0e7b = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_a9b2ea6d20f6431a81eadb339ef4ec5f = $(`<div id="html_a9b2ea6d20f6431a81eadb339ef4ec5f" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>61</td>       <td>11167539</td>       <td>-95.0</td>       <td>14.0</td>       <td>None</td>       <td>56.63</td>     </tr>   </tbody> </table></div>`)[0];
            popup_9df694ff60c94d3b8b3a9a85599c0e7b.setContent(html_a9b2ea6d20f6431a81eadb339ef4ec5f);
        

        circle_52bfa823c0bf4aa2a8867d6c07675e2a.bindPopup(popup_9df694ff60c94d3b8b3a9a85599c0e7b)
        ;

        
    
    
            var circle_7cbf71a75048479ba1cd13dc5f5c67c4 = L.circle(
                [34.84997603, 128.42864747],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_3e95b23e2c464a3c93bbce5e0341d8ec);
        
    
        var popup_40007864459c4226a14248abc517d783 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_8ad754b7dce44333ae094dac03418367 = $(`<div id="html_8ad754b7dce44333ae094dac03418367" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>61</td>       <td>11167539</td>       <td>-98.0</td>       <td>16.0</td>       <td>559.07</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_40007864459c4226a14248abc517d783.setContent(html_8ad754b7dce44333ae094dac03418367);
        

        circle_7cbf71a75048479ba1cd13dc5f5c67c4.bindPopup(popup_40007864459c4226a14248abc517d783)
        ;

        
    
    
            var circle_4ab432daf84e4329bba73e71c797be07 = L.circle(
                [34.85018271, 128.42882626],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_3e95b23e2c464a3c93bbce5e0341d8ec);
        
    
        var popup_201bcf34a513483da273d56c4862d666 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_3198bebc236148a2aa38af59dfba5a49 = $(`<div id="html_3198bebc236148a2aa38af59dfba5a49" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>171</td>       <td>11167539</td>       <td>-93.0</td>       <td>17.5</td>       <td>493.866</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_201bcf34a513483da273d56c4862d666.setContent(html_3198bebc236148a2aa38af59dfba5a49);
        

        circle_4ab432daf84e4329bba73e71c797be07.bindPopup(popup_201bcf34a513483da273d56c4862d666)
        ;

        
    
    
            var circle_3959a27fcfcc4d64a343a26dc64961fa = L.circle(
                [34.85190755, 128.42825766],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "orange", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_3e95b23e2c464a3c93bbce5e0341d8ec);
        
    
        var popup_9416f791484d407ca32f7dca5c53c775 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_be12cb09ccaa4745b668be2113db3bc7 = $(`<div id="html_be12cb09ccaa4745b668be2113db3bc7" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>510</td>       <td>8638259</td>       <td>-74.0</td>       <td>22.0</td>       <td>985.566</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_9416f791484d407ca32f7dca5c53c775.setContent(html_be12cb09ccaa4745b668be2113db3bc7);
        

        circle_3959a27fcfcc4d64a343a26dc64961fa.bindPopup(popup_9416f791484d407ca32f7dca5c53c775)
        ;

        
    
    
            var circle_4909d971d2bc45c79308406254e4ec22 = L.circle(
                [34.84957521, 128.42605849],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "orange", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 29.0, "stroke": true, "weight": 1}
            ).addTo(feature_group_3e95b23e2c464a3c93bbce5e0341d8ec);
        
    
        var popup_4af02b1baf1c4393ae83ad241defc698 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_b156941a416f4a2493fe9e4fe47052c7 = $(`<div id="html_b156941a416f4a2493fe9e4fe47052c7" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>346</td>       <td>8965127</td>       <td>-67.0</td>       <td>35.5</td>       <td>1632.609</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_4af02b1baf1c4393ae83ad241defc698.setContent(html_b156941a416f4a2493fe9e4fe47052c7);
        

        circle_4909d971d2bc45c79308406254e4ec22.bindPopup(popup_4af02b1baf1c4393ae83ad241defc698)
        ;

        
    
</script>