<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_dd2e9a18c42a4f2195c75ba7c8ce9902 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_dd2e9a18c42a4f2195c75ba7c8ce9902" ></div>
        
</body>
<script>    
    
            var map_dd2e9a18c42a4f2195c75ba7c8ce9902 = L.map(
                "map_dd2e9a18c42a4f2195c75ba7c8ce9902",
                {
                    center: [34.97065722, 128.06343984],
                    crs: L.CRS.EPSG3857,
                    zoom: 15,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_30c71ee53733484485e8c3ca3850f54a = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_dd2e9a18c42a4f2195c75ba7c8ce9902);
        
    
            var marker_df5d451ab0564367ab1f8ce6425133c3 = L.marker(
                [34.97065722, 128.06343984],
                {"iconSize": [10, 10]}
            ).addTo(map_dd2e9a18c42a4f2195c75ba7c8ce9902);
        
    
            var icon_2ba5d1d84deb4ec7a0025b999bf84a2f = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "star", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_df5d451ab0564367ab1f8ce6425133c3.setIcon(icon_2ba5d1d84deb4ec7a0025b999bf84a2f);
        
    
            var circle_16d78558b81f4f74a1d0cc479f90837f = L.circle(
                [34.97065722, 128.06343984],
                {"bubblingMouseEvents": true, "color": "#3186cc", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3186cc", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(map_dd2e9a18c42a4f2195c75ba7c8ce9902);
        
    
            var circle_6427bb9f8880416b96d7713e43c6f6bc = L.circle(
                [34.97065722, 128.06343984],
                {"bubblingMouseEvents": true, "color": "#3186cc", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3186cc", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(map_dd2e9a18c42a4f2195c75ba7c8ce9902);
        
    
            var circle_e6fa6f1af538487896785f4ec7ebb9a6 = L.circle(
                [34.97064584, 128.0634151],
                {"bubblingMouseEvents": true, "color": "#3186cc", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3186cc", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(map_dd2e9a18c42a4f2195c75ba7c8ce9902);
        
    
            var circle_c02b86391c264c9daac81a88c7aac802 = L.circle(
                [34.97062418, 128.06344392],
                {"bubblingMouseEvents": true, "color": "#3186cc", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3186cc", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(map_dd2e9a18c42a4f2195c75ba7c8ce9902);
        
    
            var circle_d3738447815e4cd88a7f978705186b40 = L.circle(
                [34.97063331, 128.06344327],
                {"bubblingMouseEvents": true, "color": "#3186cc", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3186cc", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(map_dd2e9a18c42a4f2195c75ba7c8ce9902);
        
    
            var circle_8297ca94cd9b481ab6dd9ba8bdba7299 = L.circle(
                [34.97063331, 128.06344327],
                {"bubblingMouseEvents": true, "color": "#3186cc", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3186cc", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(map_dd2e9a18c42a4f2195c75ba7c8ce9902);
        
    
            var circle_3e3679463aa441ec9e612cbc094720a8 = L.circle(
                [34.97064239, 128.06344126],
                {"bubblingMouseEvents": true, "color": "#3186cc", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3186cc", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(map_dd2e9a18c42a4f2195c75ba7c8ce9902);
        
    
            var circle_4e5ffc94d07844958eee1e50c9adf5f9 = L.circle(
                [34.97064098, 128.06345582],
                {"bubblingMouseEvents": true, "color": "#3186cc", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3186cc", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(map_dd2e9a18c42a4f2195c75ba7c8ce9902);
        
    
            var circle_105644c551f14bb58be42c15f66765fb = L.circle(
                [34.970664, 128.0634076],
                {"bubblingMouseEvents": true, "color": "#3186cc", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3186cc", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(map_dd2e9a18c42a4f2195c75ba7c8ce9902);
        
    
            var circle_5c69c351c0a34657a64a264ebb224193 = L.circle(
                [34.9706271, 128.06275571],
                {"bubblingMouseEvents": true, "color": "#3186cc", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3186cc", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(map_dd2e9a18c42a4f2195c75ba7c8ce9902);
        
    
            var circle_23f68c645e864fe991becb9073f4f4f6 = L.circle(
                [34.97060696, 128.06272419],
                {"bubblingMouseEvents": true, "color": "#3186cc", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3186cc", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(map_dd2e9a18c42a4f2195c75ba7c8ce9902);
        
    
            var circle_fe830e758dd34e1cac08e21a58fc16be = L.circle(
                [34.97060696, 128.06272419],
                {"bubblingMouseEvents": true, "color": "#3186cc", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3186cc", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(map_dd2e9a18c42a4f2195c75ba7c8ce9902);
        
    
            var circle_54b7f57c63444412b7773bbd0153f3c2 = L.circle(
                [34.96999448, 128.06264721],
                {"bubblingMouseEvents": true, "color": "#3186cc", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3186cc", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(map_dd2e9a18c42a4f2195c75ba7c8ce9902);
        
    
            var circle_8816098577bb4c248fe8b1770f58ed3e = L.circle(
                [34.96952624, 128.06283729],
                {"bubblingMouseEvents": true, "color": "#3186cc", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3186cc", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(map_dd2e9a18c42a4f2195c75ba7c8ce9902);
        
</script>