<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_4bd01fd22bf6403ba486f29cabe76d06 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_4bd01fd22bf6403ba486f29cabe76d06" ></div>
        
</body>
<script>    
    
            var map_4bd01fd22bf6403ba486f29cabe76d06 = L.map(
                "map_4bd01fd22bf6403ba486f29cabe76d06",
                {
                    center: [34.9706066, 128.06347966],
                    crs: L.CRS.EPSG3857,
                    zoom: 15,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_3caf7c89f54349dc813ff6d65f6c2a7b = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_4bd01fd22bf6403ba486f29cabe76d06);
        
    
            var marker_bd8f591e8c4646c4a819f7fc19b01906 = L.marker(
                [34.9706066, 128.06347966],
                {"iconSize": [10, 10]}
            ).addTo(map_4bd01fd22bf6403ba486f29cabe76d06);
        
    
            var icon_3e059b9a64084f3f9a8e4900ea6b9c46 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "star", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_bd8f591e8c4646c4a819f7fc19b01906.setIcon(icon_3e059b9a64084f3f9a8e4900ea6b9c46);
        
    
            var poly_line_f4d65f520da849d6927d80e42c5c61c7 = L.polyline(
                [[34.97072448, 128.06346171], [34.97059799, 128.06343259], [34.97061737, 128.06342272], [34.97065849, 128.06261364], [34.9694144, 128.06310709], [34.96770384, 128.06373825], [34.96721585, 128.06243022], [34.9713635, 128.06102473], [34.97563617, 128.05911748], [34.97496376, 128.05329113], [34.9785288, 128.0509105], [34.98088603, 128.04674483], [34.98297066, 128.0440612], [34.98514878, 128.04446505]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_4bd01fd22bf6403ba486f29cabe76d06);
        
    
            var feature_group_39793a9b1ad14604bcebb3c31b0b3f65 = L.featureGroup(
                {}
            ).addTo(map_4bd01fd22bf6403ba486f29cabe76d06);
        
    
            var circle_11481451a33b40c8b0e3fb353e0cab37 = L.circle(
                [34.97072448, 128.06346171],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_39793a9b1ad14604bcebb3c31b0b3f65);
        
    
        var popup_e4c68201428c4b91920acd3ecc68867a = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_b21d154d29c84598a80bfa130eb74f15 = $(`<div id="html_b21d154d29c84598a80bfa130eb74f15" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>154</td>       <td>44342024</td>       <td>-102.0</td>       <td>15.5</td>       <td>None</td>       <td>29.931</td>     </tr>   </tbody> </table></div>`)[0];
            popup_e4c68201428c4b91920acd3ecc68867a.setContent(html_b21d154d29c84598a80bfa130eb74f15);
        

        circle_11481451a33b40c8b0e3fb353e0cab37.bindPopup(popup_e4c68201428c4b91920acd3ecc68867a)
        ;

        
    
    
            var circle_0e7ff2a2419f45e7a959c87559fe8766 = L.circle(
                [34.97059799, 128.06343259],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_39793a9b1ad14604bcebb3c31b0b3f65);
        
    
        var popup_39b18cb5af8c4b4f832621f886c3a937 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_f3ad5ad9a64c48ddb3c80ae6d6aee6f6 = $(`<div id="html_f3ad5ad9a64c48ddb3c80ae6d6aee6f6" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>154</td>       <td>44342024</td>       <td>-103.0</td>       <td>16.5</td>       <td>None</td>       <td>38.935</td>     </tr>   </tbody> </table></div>`)[0];
            popup_39b18cb5af8c4b4f832621f886c3a937.setContent(html_f3ad5ad9a64c48ddb3c80ae6d6aee6f6);
        

        circle_0e7ff2a2419f45e7a959c87559fe8766.bindPopup(popup_39b18cb5af8c4b4f832621f886c3a937)
        ;

        
    
    
            var circle_290646097f994ba787cda6744949978e = L.circle(
                [34.97061737, 128.06342272],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_39793a9b1ad14604bcebb3c31b0b3f65);
        
    
        var popup_6d9181db2c3b41a8956a334c96a569cb = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_5d1e61523ee5446f95bf00a62990079f = $(`<div id="html_5d1e61523ee5446f95bf00a62990079f" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>154</td>       <td>44342024</td>       <td>-104.0</td>       <td>17.5</td>       <td>None</td>       <td>43.3</td>     </tr>   </tbody> </table></div>`)[0];
            popup_6d9181db2c3b41a8956a334c96a569cb.setContent(html_5d1e61523ee5446f95bf00a62990079f);
        

        circle_290646097f994ba787cda6744949978e.bindPopup(popup_6d9181db2c3b41a8956a334c96a569cb)
        ;

        
    
    
            var circle_2bf6de17d2404c1db276e5e4fde2d479 = L.circle(
                [34.97065849, 128.06261364],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_39793a9b1ad14604bcebb3c31b0b3f65);
        
    
        var popup_a13dd502305347c0bc577a22af285a7c = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_b348c2bd7df849ce948f260ae068e80a = $(`<div id="html_b348c2bd7df849ce948f260ae068e80a" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>154</td>       <td>44342024</td>       <td>-100.0</td>       <td>18.0</td>       <td>None</td>       <td>84.155</td>     </tr>   </tbody> </table></div>`)[0];
            popup_a13dd502305347c0bc577a22af285a7c.setContent(html_b348c2bd7df849ce948f260ae068e80a);
        

        circle_2bf6de17d2404c1db276e5e4fde2d479.bindPopup(popup_a13dd502305347c0bc577a22af285a7c)
        ;

        
    
    
            var circle_aae2276ac66b4596a724071dda1cb770 = L.circle(
                [34.9694144, 128.06310709],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "yellow", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_39793a9b1ad14604bcebb3c31b0b3f65);
        
    
        var popup_42a409dafc164d3b8815287043cda8e9 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_a8281b57a3d848c68806db204c3ed33f = $(`<div id="html_a8281b57a3d848c68806db204c3ed33f" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>174</td>       <td>44342287</td>       <td>-79.0</td>       <td>23.5</td>       <td>None</td>       <td>93.474</td>     </tr>   </tbody> </table></div>`)[0];
            popup_42a409dafc164d3b8815287043cda8e9.setContent(html_a8281b57a3d848c68806db204c3ed33f);
        

        circle_aae2276ac66b4596a724071dda1cb770.bindPopup(popup_42a409dafc164d3b8815287043cda8e9)
        ;

        
    
    
            var circle_8c669c2f76a64d7eb3178b52221e536e = L.circle(
                [34.96770384, 128.06373825],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "yellow", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_39793a9b1ad14604bcebb3c31b0b3f65);
        
    
        var popup_764fa1adccad4f038634925c31bdcde9 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_5376ba8d0ea540158a80faaa6027edc5 = $(`<div id="html_5376ba8d0ea540158a80faaa6027edc5" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>174</td>       <td>44342287</td>       <td>-84.0</td>       <td>21.0</td>       <td>None</td>       <td>107.08</td>     </tr>   </tbody> </table></div>`)[0];
            popup_764fa1adccad4f038634925c31bdcde9.setContent(html_5376ba8d0ea540158a80faaa6027edc5);
        

        circle_8c669c2f76a64d7eb3178b52221e536e.bindPopup(popup_764fa1adccad4f038634925c31bdcde9)
        ;

        
    
    
            var circle_b856641c5771445e9986792d9c0354cb = L.circle(
                [34.96721585, 128.06243022],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "orange", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_39793a9b1ad14604bcebb3c31b0b3f65);
        
    
        var popup_032a8f9c70514bb094817c0d5f8ddcac = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_37a410216dd1453cb648d91c20156151 = $(`<div id="html_37a410216dd1453cb648d91c20156151" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>159</td>       <td>44342028</td>       <td>-73.0</td>       <td>29.5</td>       <td>None</td>       <td>154.03</td>     </tr>   </tbody> </table></div>`)[0];
            popup_032a8f9c70514bb094817c0d5f8ddcac.setContent(html_37a410216dd1453cb648d91c20156151);
        

        circle_b856641c5771445e9986792d9c0354cb.bindPopup(popup_032a8f9c70514bb094817c0d5f8ddcac)
        ;

        
    
    
            var circle_9bc65e99be7b43d49862a17f96229183 = L.circle(
                [34.9713635, 128.06102473],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_39793a9b1ad14604bcebb3c31b0b3f65);
        
    
        var popup_cdca074cfe97489ebb9fb2d26dec8fed = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_d196dbbaf93c4e0181c65343a8ef8ae7 = $(`<div id="html_d196dbbaf93c4e0181c65343a8ef8ae7" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>154</td>       <td>44342278</td>       <td>-86.0</td>       <td>29.5</td>       <td>None</td>       <td>116.831</td>     </tr>   </tbody> </table></div>`)[0];
            popup_cdca074cfe97489ebb9fb2d26dec8fed.setContent(html_d196dbbaf93c4e0181c65343a8ef8ae7);
        

        circle_9bc65e99be7b43d49862a17f96229183.bindPopup(popup_cdca074cfe97489ebb9fb2d26dec8fed)
        ;

        
    
    
            var circle_313dca3935cf426fa52b0bf86b62760b = L.circle(
                [34.97563617, 128.05911748],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_39793a9b1ad14604bcebb3c31b0b3f65);
        
    
        var popup_5d4993338fe14e21b7667f50e3ebeb15 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_1d66530d72a84e1195166089c69b1bfe = $(`<div id="html_1d66530d72a84e1195166089c69b1bfe" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>149</td>       <td>44342024</td>       <td>-90.0</td>       <td>28.5</td>       <td>None</td>       <td>113.804</td>     </tr>   </tbody> </table></div>`)[0];
            popup_5d4993338fe14e21b7667f50e3ebeb15.setContent(html_1d66530d72a84e1195166089c69b1bfe);
        

        circle_313dca3935cf426fa52b0bf86b62760b.bindPopup(popup_5d4993338fe14e21b7667f50e3ebeb15)
        ;

        
    
    
            var circle_08bfd75a627944da8d8e409acf375831 = L.circle(
                [34.97496376, 128.05329113],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "yellow", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_39793a9b1ad14604bcebb3c31b0b3f65);
        
    
        var popup_94555e264d8c48e18684037f200bbd0c = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_379be8b2dc5b428ab3f4466022896f83 = $(`<div id="html_379be8b2dc5b428ab3f4466022896f83" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>376</td>       <td>44342024</td>       <td>-81.0</td>       <td>15.8</td>       <td>None</td>       <td>21.123</td>     </tr>   </tbody> </table></div>`)[0];
            popup_94555e264d8c48e18684037f200bbd0c.setContent(html_379be8b2dc5b428ab3f4466022896f83);
        

        circle_08bfd75a627944da8d8e409acf375831.bindPopup(popup_94555e264d8c48e18684037f200bbd0c)
        ;

        
    
    
            var circle_c0215b9c00b4490dbf26f3afd8f36bd7 = L.circle(
                [34.9785288, 128.0509105],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "yellow", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_39793a9b1ad14604bcebb3c31b0b3f65);
        
    
        var popup_4627ea4367da462fa47c5ca954748f00 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_7fdf47f75b39426a94753ab6ff7b0aaa = $(`<div id="html_7fdf47f75b39426a94753ab6ff7b0aaa" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>57</td>       <td>44342288</td>       <td>-81.0</td>       <td>-0.4</td>       <td>None</td>       <td>23.6</td>     </tr>   </tbody> </table></div>`)[0];
            popup_4627ea4367da462fa47c5ca954748f00.setContent(html_7fdf47f75b39426a94753ab6ff7b0aaa);
        

        circle_c0215b9c00b4490dbf26f3afd8f36bd7.bindPopup(popup_4627ea4367da462fa47c5ca954748f00)
        ;

        
    
    
            var circle_4966d04a77254d8187a5d4044842893a = L.circle(
                [34.98088603, 128.04674483],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "yellow", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_39793a9b1ad14604bcebb3c31b0b3f65);
        
    
        var popup_282fe52b72d94f19b94ffd808a39e65c = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_0f6bbd4b5c0d4e07a51ad22b36cd8a19 = $(`<div id="html_0f6bbd4b5c0d4e07a51ad22b36cd8a19" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>10</td>       <td>44342031</td>       <td>-77.0</td>       <td>30.0</td>       <td>None</td>       <td>121.039</td>     </tr>   </tbody> </table></div>`)[0];
            popup_282fe52b72d94f19b94ffd808a39e65c.setContent(html_0f6bbd4b5c0d4e07a51ad22b36cd8a19);
        

        circle_4966d04a77254d8187a5d4044842893a.bindPopup(popup_282fe52b72d94f19b94ffd808a39e65c)
        ;

        
    
    
            var circle_75e866dc01a742499f16a6cd5ecf8cf1 = L.circle(
                [34.98297066, 128.0440612],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_39793a9b1ad14604bcebb3c31b0b3f65);
        
    
        var popup_1f46971e0a924415be3455460c6a9ff4 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_ad3d6cf1d63f4162b39845bce06853e9 = $(`<div id="html_ad3d6cf1d63f4162b39845bce06853e9" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>10</td>       <td>42399776</td>       <td>-99.0</td>       <td>15.0</td>       <td>None</td>       <td>32.015</td>     </tr>   </tbody> </table></div>`)[0];
            popup_1f46971e0a924415be3455460c6a9ff4.setContent(html_ad3d6cf1d63f4162b39845bce06853e9);
        

        circle_75e866dc01a742499f16a6cd5ecf8cf1.bindPopup(popup_1f46971e0a924415be3455460c6a9ff4)
        ;

        
    
    
            var circle_a302d9a485b84a0bb1f9c435e24a97bc = L.circle(
                [34.98514878, 128.04446505],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "black", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 29.0, "stroke": true, "weight": 1}
            ).addTo(feature_group_39793a9b1ad14604bcebb3c31b0b3f65);
        
    
        var popup_7cd2a949e9094ba5b50b6ba74afba528 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_66b95494a5054355bc2d4828b09998e3 = $(`<div id="html_66b95494a5054355bc2d4828b09998e3" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>10</td>       <td>42399776</td>       <td>-106.0</td>       <td>13.0</td>       <td>None</td>       <td>28.987</td>     </tr>   </tbody> </table></div>`)[0];
            popup_7cd2a949e9094ba5b50b6ba74afba528.setContent(html_66b95494a5054355bc2d4828b09998e3);
        

        circle_a302d9a485b84a0bb1f9c435e24a97bc.bindPopup(popup_7cd2a949e9094ba5b50b6ba74afba528)
        ;

        
    
</script>