<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_dd430410bef34778874563c97967fe57 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_dd430410bef34778874563c97967fe57" ></div>
        
</body>
<script>    
    
            var map_dd430410bef34778874563c97967fe57 = L.map(
                "map_dd430410bef34778874563c97967fe57",
                {
                    center: [34.97054902, 128.06348588],
                    crs: L.CRS.EPSG3857,
                    zoom: 15,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_566110cfeb764697b330c85e2e0c6e86 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_dd430410bef34778874563c97967fe57);
        
    
            var marker_c4c9306ce42844f4b08778ccb558a66a = L.marker(
                [34.97054902, 128.06348588],
                {"iconSize": [10, 10]}
            ).addTo(map_dd430410bef34778874563c97967fe57);
        
    
            var icon_9b9c341c200144d5838b94143bf732e5 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "star", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_c4c9306ce42844f4b08778ccb558a66a.setIcon(icon_9b9c341c200144d5838b94143bf732e5);
        
    
            var poly_line_5c4c964789b24fa6a01a3d3bea1164c0 = L.polyline(
                [[34.97057684, 128.06354017], [34.97067313, 128.06359381], [34.97069954, 128.06346743], [34.97063076, 128.06274876], [34.96984214, 128.06264696], [34.96811064, 128.06352981], [34.96721881, 128.06253264], [34.96876857, 128.06194231], [34.9752514, 128.05965748], [34.97457334, 128.05359545], [34.97751146, 128.05248039], [34.98024195, 128.04755682], [34.98222564, 128.04497679], [34.9844685, 128.04389969], [34.98853371, 128.04311838], [34.99036609, 128.04109793], [34.99295054, 128.03958301], [34.99528148, 128.0392562], [34.99671135, 128.03882061], [34.99887847, 128.03947159], [34.99705106, 128.03884303]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_dd430410bef34778874563c97967fe57);
        
    
            var feature_group_20dba3ae5aca44c39c11776cd779a3a2 = L.featureGroup(
                {}
            ).addTo(map_dd430410bef34778874563c97967fe57);
        
    
            var circle_b8632520380b476a944d3187c80e8e42 = L.circle(
                [34.97057684, 128.06354017],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_20dba3ae5aca44c39c11776cd779a3a2);
        
    
        var popup_0eb140bd37d54a66b9b8f677a47b6690 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_2a1ac6d53afd48808a537685345aac1f = $(`<div id="html_2a1ac6d53afd48808a537685345aac1f" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>684</td>       <td>37193502</td>       <td>-104.0</td>       <td>15.0</td>       <td>None</td>       <td>34.177</td>     </tr>   </tbody> </table></div>`)[0];
            popup_0eb140bd37d54a66b9b8f677a47b6690.setContent(html_2a1ac6d53afd48808a537685345aac1f);
        

        circle_b8632520380b476a944d3187c80e8e42.bindPopup(popup_0eb140bd37d54a66b9b8f677a47b6690)
        ;

        
    
    
            var circle_7e2013443e8b4ad5817d208a5194d38e = L.circle(
                [34.97067313, 128.06359381],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_20dba3ae5aca44c39c11776cd779a3a2);
        
    
        var popup_45c4a92ed869466c9bbb1fc085b7aa01 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_f1e33fd2ea664950b50067b7f0ee1b5d = $(`<div id="html_f1e33fd2ea664950b50067b7f0ee1b5d" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>684</td>       <td>37193502</td>       <td>-98.0</td>       <td>20.0</td>       <td>None</td>       <td>47.429</td>     </tr>   </tbody> </table></div>`)[0];
            popup_45c4a92ed869466c9bbb1fc085b7aa01.setContent(html_f1e33fd2ea664950b50067b7f0ee1b5d);
        

        circle_7e2013443e8b4ad5817d208a5194d38e.bindPopup(popup_45c4a92ed869466c9bbb1fc085b7aa01)
        ;

        
    
    
            var circle_3bd8474236eb4dc484de283788f22efd = L.circle(
                [34.97069954, 128.06346743],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_20dba3ae5aca44c39c11776cd779a3a2);
        
    
        var popup_cc30167e8ebc404dbaf3b380207a531d = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_8f795310767749e4a0ab5ffb8e4d1ee5 = $(`<div id="html_8f795310767749e4a0ab5ffb8e4d1ee5" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>684</td>       <td>37193502</td>       <td>-100.0</td>       <td>19.5</td>       <td>None</td>       <td>42.985</td>     </tr>   </tbody> </table></div>`)[0];
            popup_cc30167e8ebc404dbaf3b380207a531d.setContent(html_8f795310767749e4a0ab5ffb8e4d1ee5);
        

        circle_3bd8474236eb4dc484de283788f22efd.bindPopup(popup_cc30167e8ebc404dbaf3b380207a531d)
        ;

        
    
    
            var circle_578b1de0d9eb4f5082841b09d4e15597 = L.circle(
                [34.97063076, 128.06274876],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_20dba3ae5aca44c39c11776cd779a3a2);
        
    
        var popup_bc7a6be9bf6642cbaa851621a9827293 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_0213dea88f2347f9987e22152b447040 = $(`<div id="html_0213dea88f2347f9987e22152b447040" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>768</td>       <td>37193502</td>       <td>-95.0</td>       <td>18.0</td>       <td>None</td>       <td>43.418</td>     </tr>   </tbody> </table></div>`)[0];
            popup_bc7a6be9bf6642cbaa851621a9827293.setContent(html_0213dea88f2347f9987e22152b447040);
        

        circle_578b1de0d9eb4f5082841b09d4e15597.bindPopup(popup_bc7a6be9bf6642cbaa851621a9827293)
        ;

        
    
    
            var circle_c5cb570c84154df8808fd577cff8d405 = L.circle(
                [34.96984214, 128.06264696],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_20dba3ae5aca44c39c11776cd779a3a2);
        
    
        var popup_7ad2c284e9574d8bb6c80c87e8f84e73 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_2ea1c98995744d5d9ae79453487957db = $(`<div id="html_2ea1c98995744d5d9ae79453487957db" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>684</td>       <td>37193502</td>       <td>-96.0</td>       <td>15.5</td>       <td>None</td>       <td>38.778</td>     </tr>   </tbody> </table></div>`)[0];
            popup_7ad2c284e9574d8bb6c80c87e8f84e73.setContent(html_2ea1c98995744d5d9ae79453487957db);
        

        circle_c5cb570c84154df8808fd577cff8d405.bindPopup(popup_7ad2c284e9574d8bb6c80c87e8f84e73)
        ;

        
    
    
            var circle_76f46c469a234b41a33f88cc644f7952 = L.circle(
                [34.96811064, 128.06352981],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_20dba3ae5aca44c39c11776cd779a3a2);
        
    
        var popup_c0210782b0cc4599bddd8df45487569a = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_50d071a22694464f821fe80b55189847 = $(`<div id="html_50d071a22694464f821fe80b55189847" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>684</td>       <td>38236686</td>       <td>-91.0</td>       <td>29.0</td>       <td>None</td>       <td>88.52</td>     </tr>   </tbody> </table></div>`)[0];
            popup_c0210782b0cc4599bddd8df45487569a.setContent(html_50d071a22694464f821fe80b55189847);
        

        circle_76f46c469a234b41a33f88cc644f7952.bindPopup(popup_c0210782b0cc4599bddd8df45487569a)
        ;

        
    
    
            var circle_c67f759a5fd44cc3b8e4df0a761049a2 = L.circle(
                [34.96721881, 128.06253264],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_20dba3ae5aca44c39c11776cd779a3a2);
        
    
        var popup_b3aafb471b3e472baff9bb47163739e8 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_c75499f7b1a843c9bc7baf51a2ad528c = $(`<div id="html_c75499f7b1a843c9bc7baf51a2ad528c" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>851</td>       <td>37193489</td>       <td>-99.0</td>       <td>20.0</td>       <td>None</td>       <td>65.91</td>     </tr>   </tbody> </table></div>`)[0];
            popup_b3aafb471b3e472baff9bb47163739e8.setContent(html_c75499f7b1a843c9bc7baf51a2ad528c);
        

        circle_c67f759a5fd44cc3b8e4df0a761049a2.bindPopup(popup_b3aafb471b3e472baff9bb47163739e8)
        ;

        
    
    
            var circle_03f435b2529d47d9aab1003ec1b54691 = L.circle(
                [34.96876857, 128.06194231],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "yellow", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_20dba3ae5aca44c39c11776cd779a3a2);
        
    
        var popup_af5614fb7725480aaee5c6faa266b2d1 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_c444603d891a4e41ae5516c3dd444ac9 = $(`<div id="html_c444603d891a4e41ae5516c3dd444ac9" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>768</td>       <td>37193502</td>       <td>-85.0</td>       <td>26.0</td>       <td>None</td>       <td>79.594</td>     </tr>   </tbody> </table></div>`)[0];
            popup_af5614fb7725480aaee5c6faa266b2d1.setContent(html_c444603d891a4e41ae5516c3dd444ac9);
        

        circle_03f435b2529d47d9aab1003ec1b54691.bindPopup(popup_af5614fb7725480aaee5c6faa266b2d1)
        ;

        
    
    
            var circle_140a78ff1d5c474483a5f6fa4d61ff8c = L.circle(
                [34.9752514, 128.05965748],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_20dba3ae5aca44c39c11776cd779a3a2);
        
    
        var popup_570064b84a774d429c87825c62a4e7a8 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_4068ec7fa307464d9d8a2b35702d058e = $(`<div id="html_4068ec7fa307464d9d8a2b35702d058e" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>47</td>       <td>37193742</td>       <td>-86.0</td>       <td>33.5</td>       <td>None</td>       <td>84.312</td>     </tr>   </tbody> </table></div>`)[0];
            popup_570064b84a774d429c87825c62a4e7a8.setContent(html_4068ec7fa307464d9d8a2b35702d058e);
        

        circle_140a78ff1d5c474483a5f6fa4d61ff8c.bindPopup(popup_570064b84a774d429c87825c62a4e7a8)
        ;

        
    
    
            var circle_776836cd81b34381bf4d3cc19fbfb46d = L.circle(
                [34.97457334, 128.05359545],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "orange", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_20dba3ae5aca44c39c11776cd779a3a2);
        
    
        var popup_af2a4afbb1654351abedc96f324380ea = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_69d53b0b548d464cbcfee979599d9b4e = $(`<div id="html_69d53b0b548d464cbcfee979599d9b4e" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>492</td>       <td>37193502</td>       <td>-75.0</td>       <td>33.0</td>       <td>None</td>       <td>66.618</td>     </tr>   </tbody> </table></div>`)[0];
            popup_af2a4afbb1654351abedc96f324380ea.setContent(html_69d53b0b548d464cbcfee979599d9b4e);
        

        circle_776836cd81b34381bf4d3cc19fbfb46d.bindPopup(popup_af2a4afbb1654351abedc96f324380ea)
        ;

        
    
    
            var circle_f2df99b0fe674290874d4fec97624984 = L.circle(
                [34.97751146, 128.05248039],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_20dba3ae5aca44c39c11776cd779a3a2);
        
    
        var popup_0b952f6750324d1eb20456429678d73d = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_833980cf2bb4462e8ce395c3ecb3c338 = $(`<div id="html_833980cf2bb4462e8ce395c3ecb3c338" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>491</td>       <td>37193502</td>       <td>-102.0</td>       <td>3.5</td>       <td>None</td>       <td>47.547</td>     </tr>   </tbody> </table></div>`)[0];
            popup_0b952f6750324d1eb20456429678d73d.setContent(html_833980cf2bb4462e8ce395c3ecb3c338);
        

        circle_f2df99b0fe674290874d4fec97624984.bindPopup(popup_0b952f6750324d1eb20456429678d73d)
        ;

        
    
    
            var circle_9f19d18a23e44bc5b49c22cef313cd91 = L.circle(
                [34.98024195, 128.04755682],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_20dba3ae5aca44c39c11776cd779a3a2);
        
    
        var popup_6681f39ee867480ea8ae027149b608ca = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_3b53ba8efb3c41b79ff7510c73e03b16 = $(`<div id="html_3b53ba8efb3c41b79ff7510c73e03b16" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>104</td>       <td>37393168</td>       <td>-97.0</td>       <td>15.0</td>       <td>None</td>       <td>56.709</td>     </tr>   </tbody> </table></div>`)[0];
            popup_6681f39ee867480ea8ae027149b608ca.setContent(html_3b53ba8efb3c41b79ff7510c73e03b16);
        

        circle_9f19d18a23e44bc5b49c22cef313cd91.bindPopup(popup_6681f39ee867480ea8ae027149b608ca)
        ;

        
    
    
            var circle_1d73edd6258d43339151408936c5af40 = L.circle(
                [34.98222564, 128.04497679],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_20dba3ae5aca44c39c11776cd779a3a2);
        
    
        var popup_58b5db9f399c4d8085a77741fc856c6b = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_c4d1c68eb8d94d30bafc839b2acdfbf6 = $(`<div id="html_c4d1c68eb8d94d30bafc839b2acdfbf6" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>2</td>       <td>37193502</td>       <td>-101.0</td>       <td>17.8</td>       <td>None</td>       <td>43.733</td>     </tr>   </tbody> </table></div>`)[0];
            popup_58b5db9f399c4d8085a77741fc856c6b.setContent(html_c4d1c68eb8d94d30bafc839b2acdfbf6);
        

        circle_1d73edd6258d43339151408936c5af40.bindPopup(popup_58b5db9f399c4d8085a77741fc856c6b)
        ;

        
    
    
            var circle_cad067c6e08c43b993b342a0f9c7a894 = L.circle(
                [34.9844685, 128.04389969],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "yellow", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_20dba3ae5aca44c39c11776cd779a3a2);
        
    
        var popup_a3ccab35d46c4333b6e6b2d0bce7c4a2 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_9bd1f4f465b04cb392c27f66ba2e7320 = $(`<div id="html_9bd1f4f465b04cb392c27f66ba2e7320" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>272</td>       <td>37393168</td>       <td>-85.0</td>       <td>8.2</td>       <td>None</td>       <td>0.0</td>     </tr>   </tbody> </table></div>`)[0];
            popup_a3ccab35d46c4333b6e6b2d0bce7c4a2.setContent(html_9bd1f4f465b04cb392c27f66ba2e7320);
        

        circle_cad067c6e08c43b993b342a0f9c7a894.bindPopup(popup_a3ccab35d46c4333b6e6b2d0bce7c4a2)
        ;

        
    
    
            var circle_964edc3634d143f68a414bbd46524f5c = L.circle(
                [34.98853371, 128.04311838],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "black", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_20dba3ae5aca44c39c11776cd779a3a2);
        
    
        var popup_bdd540f9626c4b628302f1ddd19078de = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_fa3b50ad90364b56b42b3a91b37087ca = $(`<div id="html_fa3b50ad90364b56b42b3a91b37087ca" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>0</td>       <td>37194499</td>       <td>0.0</td>       <td>0.0</td>       <td>None</td>       <td>0.0</td>     </tr>   </tbody> </table></div>`)[0];
            popup_bdd540f9626c4b628302f1ddd19078de.setContent(html_fa3b50ad90364b56b42b3a91b37087ca);
        

        circle_964edc3634d143f68a414bbd46524f5c.bindPopup(popup_bdd540f9626c4b628302f1ddd19078de)
        ;

        
    
    
            var circle_15229d262b904575a69613df7dd47cde = L.circle(
                [34.99036609, 128.04109793],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_20dba3ae5aca44c39c11776cd779a3a2);
        
    
        var popup_655ada0fe1064dcc87041bfdbd323017 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_fb2d0af85e9a4b57b47bf16cd72c69d7 = $(`<div id="html_fb2d0af85e9a4b57b47bf16cd72c69d7" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>977</td>       <td>37194499</td>       <td>-104.0</td>       <td>15.0</td>       <td>None</td>       <td>24.15</td>     </tr>   </tbody> </table></div>`)[0];
            popup_655ada0fe1064dcc87041bfdbd323017.setContent(html_fb2d0af85e9a4b57b47bf16cd72c69d7);
        

        circle_15229d262b904575a69613df7dd47cde.bindPopup(popup_655ada0fe1064dcc87041bfdbd323017)
        ;

        
    
    
            var circle_5c09267e2a554d0189a29a699d250b8e = L.circle(
                [34.99295054, 128.03958301],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "black", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_20dba3ae5aca44c39c11776cd779a3a2);
        
    
        var popup_df631ccd13404241a6be46f21b95c757 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_d13c7191aee54795998920e6799c946f = $(`<div id="html_d13c7191aee54795998920e6799c946f" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>None</td>       <td>37192193</td>       <td>None</td>       <td>0.0</td>       <td>None</td>       <td>0.0</td>     </tr>   </tbody> </table></div>`)[0];
            popup_df631ccd13404241a6be46f21b95c757.setContent(html_d13c7191aee54795998920e6799c946f);
        

        circle_5c09267e2a554d0189a29a699d250b8e.bindPopup(popup_df631ccd13404241a6be46f21b95c757)
        ;

        
    
    
            var circle_19483549b7f4461ca91f04983b0cdbb1 = L.circle(
                [34.99528148, 128.0392562],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "black", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_20dba3ae5aca44c39c11776cd779a3a2);
        
    
        var popup_193aded30da74500ae5a8d90540fc924 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_23be7a0f60424eca8f0f6443553e9279 = $(`<div id="html_23be7a0f60424eca8f0f6443553e9279" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>None</td>       <td>37192193</td>       <td>None</td>       <td>0.0</td>       <td>None</td>       <td>0.0</td>     </tr>   </tbody> </table></div>`)[0];
            popup_193aded30da74500ae5a8d90540fc924.setContent(html_23be7a0f60424eca8f0f6443553e9279);
        

        circle_19483549b7f4461ca91f04983b0cdbb1.bindPopup(popup_193aded30da74500ae5a8d90540fc924)
        ;

        
    
    
            var circle_edc3e6dc573c4dcab9ca9dff645212b6 = L.circle(
                [34.99671135, 128.03882061],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_20dba3ae5aca44c39c11776cd779a3a2);
        
    
        var popup_09a440bf3c5649868c6799552e542176 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_cac498e0ec0f4e0a9495aaa4199fdd16 = $(`<div id="html_cac498e0ec0f4e0a9495aaa4199fdd16" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>104</td>       <td>37192193</td>       <td>-105.0</td>       <td>15.0</td>       <td>None</td>       <td>22.302</td>     </tr>   </tbody> </table></div>`)[0];
            popup_09a440bf3c5649868c6799552e542176.setContent(html_cac498e0ec0f4e0a9495aaa4199fdd16);
        

        circle_edc3e6dc573c4dcab9ca9dff645212b6.bindPopup(popup_09a440bf3c5649868c6799552e542176)
        ;

        
    
    
            var circle_3052b482ff174a4dbf516893e30ae6ea = L.circle(
                [34.99887847, 128.03947159],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "yellow", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_20dba3ae5aca44c39c11776cd779a3a2);
        
    
        var popup_78b6fe39ecbb4f5cbed7322877c7e15e = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_34bc6c6dd1fe4fe9a822f827eee26ac9 = $(`<div id="html_34bc6c6dd1fe4fe9a822f827eee26ac9" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>436</td>       <td>37194501</td>       <td>-79.0</td>       <td>7.0</td>       <td>None</td>       <td>0.0</td>     </tr>   </tbody> </table></div>`)[0];
            popup_78b6fe39ecbb4f5cbed7322877c7e15e.setContent(html_34bc6c6dd1fe4fe9a822f827eee26ac9);
        

        circle_3052b482ff174a4dbf516893e30ae6ea.bindPopup(popup_78b6fe39ecbb4f5cbed7322877c7e15e)
        ;

        
    
    
            var circle_cc0dacedb88d4ffda0e9f82deb73b8f8 = L.circle(
                [34.99705106, 128.03884303],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "black", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 29.0, "stroke": true, "weight": 1}
            ).addTo(feature_group_20dba3ae5aca44c39c11776cd779a3a2);
        
    
        var popup_b082219dcbfc43438ee2f1c57b52cff0 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_835ea20c4df44032b0d8db418d840865 = $(`<div id="html_835ea20c4df44032b0d8db418d840865" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>0</td>       <td>37194499</td>       <td>0.0</td>       <td>0.0</td>       <td>None</td>       <td>0.0</td>     </tr>   </tbody> </table></div>`)[0];
            popup_b082219dcbfc43438ee2f1c57b52cff0.setContent(html_835ea20c4df44032b0d8db418d840865);
        

        circle_cc0dacedb88d4ffda0e9f82deb73b8f8.bindPopup(popup_b082219dcbfc43438ee2f1c57b52cff0)
        ;

        
    
</script>