<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_3240268f7de54619b1250cb1f86cb910 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_3240268f7de54619b1250cb1f86cb910" ></div>
        
</body>
<script>    
    
            var map_3240268f7de54619b1250cb1f86cb910 = L.map(
                "map_3240268f7de54619b1250cb1f86cb910",
                {
                    center: [35.17369131, 128.06560188],
                    crs: L.CRS.EPSG3857,
                    zoom: 15,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_aa023a0a4c4447048f42bfcafd805919 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_3240268f7de54619b1250cb1f86cb910);
        
    
            var marker_107eab48db6749bf93aa421780913e1a = L.marker(
                [35.17369131, 128.06560188],
                {"iconSize": [10, 10]}
            ).addTo(map_3240268f7de54619b1250cb1f86cb910);
        
    
            var icon_d05558f57df640dd8a2bc242a104b823 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "star", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_107eab48db6749bf93aa421780913e1a.setIcon(icon_d05558f57df640dd8a2bc242a104b823);
        
    
            var poly_line_d761b0ead2284ef2b2791ef8e2ff3265 = L.polyline(
                [[35.17369131, 128.06560188], [35.17369131, 128.06560188], [35.17326265, 128.06576352], [35.17451377, 128.06359336], [35.17351318, 128.06036516], [35.17338502, 128.06034553], [35.17055481, 128.05759427], [35.16824416, 128.05375724], [35.16711472, 128.0464748], [35.16802745, 128.04018108], [35.16569236, 128.04024286], [35.16772895, 128.04095643], [35.1668296, 128.04523083], [35.16592756, 128.04865945], [35.16761551, 128.05257202], [35.17026181, 128.0538972], [35.17043025, 128.05478275], [35.16912931, 128.05506657], [35.16929359, 128.05579113], [35.17289247, 128.05970627], [35.172612, 128.05997677], [35.17535769, 128.06186651], [35.17372606, 128.06475082], [35.17360503, 128.06637706], [35.17316034, 128.0660797], [35.17366529, 128.06521359], [35.17513256, 128.06210814], [35.17536778, 128.06160785], [35.17352545, 128.06038249], [35.17347538, 128.06037272], [35.17347538, 128.06037272], [35.16893885, 128.05504202], [35.16665359, 128.04001855], [35.16656761, 128.03985489]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_3240268f7de54619b1250cb1f86cb910);
        
    
            var feature_group_1be149d72eca40299077f48e632099cf = L.featureGroup(
                {}
            ).addTo(map_3240268f7de54619b1250cb1f86cb910);
        
    
            var circle_7e2dc23399c04fa287b98bd341e6de39 = L.circle(
                [35.17369131, 128.06560188],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_1be149d72eca40299077f48e632099cf);
        
    
        var popup_8dc6492ddd734bb1957ae0491fa708e2 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_a374e19e30c740069950a6a6230ebef5 = $(`<div id="html_a374e19e30c740069950a6a6230ebef5" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>346</td>       <td>38255630</td>       <td>-86.0</td>       <td>30.5</td>       <td>840.907</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_8dc6492ddd734bb1957ae0491fa708e2.setContent(html_a374e19e30c740069950a6a6230ebef5);
        

        circle_7e2dc23399c04fa287b98bd341e6de39.bindPopup(popup_8dc6492ddd734bb1957ae0491fa708e2)
        ;

        
    
    
            var circle_99af3081a8c94e10b901de9b5159b8a7 = L.circle(
                [35.17369131, 128.06560188],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_1be149d72eca40299077f48e632099cf);
        
    
        var popup_fb148a28ae4c4ebca9f961a62c4d5f92 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_b4e1a3bf64174c328ac77a27604b77f6 = $(`<div id="html_b4e1a3bf64174c328ac77a27604b77f6" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>346</td>       <td>38255630</td>       <td>-86.0</td>       <td>27.5</td>       <td>821.398</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_fb148a28ae4c4ebca9f961a62c4d5f92.setContent(html_b4e1a3bf64174c328ac77a27604b77f6);
        

        circle_99af3081a8c94e10b901de9b5159b8a7.bindPopup(popup_fb148a28ae4c4ebca9f961a62c4d5f92)
        ;

        
    
    
            var circle_59d89cf5070b49ca8b02161f9c022a46 = L.circle(
                [35.17326265, 128.06576352],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_1be149d72eca40299077f48e632099cf);
        
    
        var popup_4c534329803641acb53337ccc1bf301e = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_fac06fb678244a80ba28e42c7d0e0262 = $(`<div id="html_fac06fb678244a80ba28e42c7d0e0262" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>346</td>       <td>38255630</td>       <td>-86.0</td>       <td>23.0</td>       <td>809.809</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_4c534329803641acb53337ccc1bf301e.setContent(html_fac06fb678244a80ba28e42c7d0e0262);
        

        circle_59d89cf5070b49ca8b02161f9c022a46.bindPopup(popup_4c534329803641acb53337ccc1bf301e)
        ;

        
    
    
            var circle_c5461b678d7d4272bfb97a7ccbe9d0c3 = L.circle(
                [35.17451377, 128.06359336],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "yellow", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_1be149d72eca40299077f48e632099cf);
        
    
        var popup_acbaecb81a8c46a1a8bb79c4590faeea = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_426f9f8ec3d24e7c8f36537e5d4ace69 = $(`<div id="html_426f9f8ec3d24e7c8f36537e5d4ace69" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>713</td>       <td>38255630</td>       <td>-78.0</td>       <td>32.5</td>       <td>736.654</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_acbaecb81a8c46a1a8bb79c4590faeea.setContent(html_426f9f8ec3d24e7c8f36537e5d4ace69);
        

        circle_c5461b678d7d4272bfb97a7ccbe9d0c3.bindPopup(popup_acbaecb81a8c46a1a8bb79c4590faeea)
        ;

        
    
    
            var circle_290d21848ccb442dae37cf5b1c825223 = L.circle(
                [35.17351318, 128.06036516],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "orange", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_1be149d72eca40299077f48e632099cf);
        
    
        var popup_693da2a1c7c847f3bfb0e4ca44773fdb = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_92e51483cda34d6ebf7f445397ba57ed = $(`<div id="html_92e51483cda34d6ebf7f445397ba57ed" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>793</td>       <td>38255632</td>       <td>-68.0</td>       <td>33.5</td>       <td>541.939</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_693da2a1c7c847f3bfb0e4ca44773fdb.setContent(html_92e51483cda34d6ebf7f445397ba57ed);
        

        circle_290d21848ccb442dae37cf5b1c825223.bindPopup(popup_693da2a1c7c847f3bfb0e4ca44773fdb)
        ;

        
    
    
            var circle_a555f5dbe1ee4f8e8859f4c09cd718fa = L.circle(
                [35.17338502, 128.06034553],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "orange", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_1be149d72eca40299077f48e632099cf);
        
    
        var popup_f4567366b151457aa942953134f2eac3 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_f181387ac6a84dadbb52970e0b288176 = $(`<div id="html_f181387ac6a84dadbb52970e0b288176" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>793</td>       <td>38255632</td>       <td>-67.0</td>       <td>33.0</td>       <td>580.849</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_f4567366b151457aa942953134f2eac3.setContent(html_f181387ac6a84dadbb52970e0b288176);
        

        circle_a555f5dbe1ee4f8e8859f4c09cd718fa.bindPopup(popup_f4567366b151457aa942953134f2eac3)
        ;

        
    
    
            var circle_96c0746c1c0f4ab1850b28df8ecde72a = L.circle(
                [35.17055481, 128.05759427],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_1be149d72eca40299077f48e632099cf);
        
    
        var popup_a1c231917c244415bc3d9b63172688f0 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_26909e4c954b49188362d533f5895deb = $(`<div id="html_26909e4c954b49188362d533f5895deb" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>247</td>       <td>38450702</td>       <td>-95.0</td>       <td>15.5</td>       <td>609.252</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_a1c231917c244415bc3d9b63172688f0.setContent(html_26909e4c954b49188362d533f5895deb);
        

        circle_96c0746c1c0f4ab1850b28df8ecde72a.bindPopup(popup_a1c231917c244415bc3d9b63172688f0)
        ;

        
    
    
            var circle_b0a4859b57ea426d82fa715af51e549b = L.circle(
                [35.16824416, 128.05375724],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_1be149d72eca40299077f48e632099cf);
        
    
        var popup_78529ed04701457aa12f7c119cfd04b9 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_fcff8c310f6c4de8915a6192704fcfc1 = $(`<div id="html_fcff8c310f6c4de8915a6192704fcfc1" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>469</td>       <td>37268238</td>       <td>-100.0</td>       <td>9.0</td>       <td>563.221</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_78529ed04701457aa12f7c119cfd04b9.setContent(html_fcff8c310f6c4de8915a6192704fcfc1);
        

        circle_b0a4859b57ea426d82fa715af51e549b.bindPopup(popup_78529ed04701457aa12f7c119cfd04b9)
        ;

        
    
    
            var circle_dd6749a9c9cd4330b0924834873ba620 = L.circle(
                [35.16711472, 128.0464748],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "yellow", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_1be149d72eca40299077f48e632099cf);
        
    
        var popup_23857f6f262d4e1a93b8c6522e982c1e = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_25098e08c9344fe8a4e6b720e67ec86e = $(`<div id="html_25098e08c9344fe8a4e6b720e67ec86e" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>765</td>       <td>38558736</td>       <td>-80.0</td>       <td>30.0</td>       <td>935.47</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_23857f6f262d4e1a93b8c6522e982c1e.setContent(html_25098e08c9344fe8a4e6b720e67ec86e);
        

        circle_dd6749a9c9cd4330b0924834873ba620.bindPopup(popup_23857f6f262d4e1a93b8c6522e982c1e)
        ;

        
    
    
            var circle_69e9796bfb604a02acc3e3ba8dec9059 = L.circle(
                [35.16802745, 128.04018108],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "yellow", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_1be149d72eca40299077f48e632099cf);
        
    
        var popup_91062666d7cf42cba9062a71a7e21336 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_50a369bf7b7f499d89759d7f1f571473 = $(`<div id="html_50a369bf7b7f499d89759d7f1f571473" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>876</td>       <td>38558737</td>       <td>-83.0</td>       <td>22.5</td>       <td>886.091</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_91062666d7cf42cba9062a71a7e21336.setContent(html_50a369bf7b7f499d89759d7f1f571473);
        

        circle_69e9796bfb604a02acc3e3ba8dec9059.bindPopup(popup_91062666d7cf42cba9062a71a7e21336)
        ;

        
    
    
            var circle_144cde408ac3433ebb21d9ee5fa7c7a1 = L.circle(
                [35.16569236, 128.04024286],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_1be149d72eca40299077f48e632099cf);
        
    
        var popup_841123059f64421494cae27795af946f = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_ccbfbe07dc91491888409966996be12d = $(`<div id="html_ccbfbe07dc91491888409966996be12d" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>777</td>       <td>38558737</td>       <td>-104.0</td>       <td>10.5</td>       <td>510.932</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_841123059f64421494cae27795af946f.setContent(html_ccbfbe07dc91491888409966996be12d);
        

        circle_144cde408ac3433ebb21d9ee5fa7c7a1.bindPopup(popup_841123059f64421494cae27795af946f)
        ;

        
    
    
            var circle_b5fbee65dfe24c729b56615542fc8338 = L.circle(
                [35.16772895, 128.04095643],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "orange", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_1be149d72eca40299077f48e632099cf);
        
    
        var popup_d8f7a58da6c44d35a037f6e27861c41e = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_1f77ffe4a1244b02ad482431f4f39295 = $(`<div id="html_1f77ffe4a1244b02ad482431f4f39295" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>876</td>       <td>38558737</td>       <td>-75.0</td>       <td>22.0</td>       <td>984.763</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_d8f7a58da6c44d35a037f6e27861c41e.setContent(html_1f77ffe4a1244b02ad482431f4f39295);
        

        circle_b5fbee65dfe24c729b56615542fc8338.bindPopup(popup_d8f7a58da6c44d35a037f6e27861c41e)
        ;

        
    
    
            var circle_22dcdc553d18434985439a7bb84646d1 = L.circle(
                [35.1668296, 128.04523083],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "yellow", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_1be149d72eca40299077f48e632099cf);
        
    
        var popup_a6e6532ebeed4eb198b803f1b9efa1e8 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_cf1cd035354f4100aacf59dde83d9a62 = $(`<div id="html_cf1cd035354f4100aacf59dde83d9a62" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>765</td>       <td>38558736</td>       <td>-78.0</td>       <td>28.5</td>       <td>871.025</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_a6e6532ebeed4eb198b803f1b9efa1e8.setContent(html_cf1cd035354f4100aacf59dde83d9a62);
        

        circle_22dcdc553d18434985439a7bb84646d1.bindPopup(popup_a6e6532ebeed4eb198b803f1b9efa1e8)
        ;

        
    
    
            var circle_078bbe3ab326430d8bae241fa6c55d93 = L.circle(
                [35.16592756, 128.04865945],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_1be149d72eca40299077f48e632099cf);
        
    
        var popup_6d0c3ab537ce4ae89b6786053a7b1d69 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_22779fa37a8c4744ba43fe083948fc77 = $(`<div id="html_22779fa37a8c4744ba43fe083948fc77" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>731</td>       <td>38452497</td>       <td>-102.0</td>       <td>21.5</td>       <td>533.167</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_6d0c3ab537ce4ae89b6786053a7b1d69.setContent(html_22779fa37a8c4744ba43fe083948fc77);
        

        circle_078bbe3ab326430d8bae241fa6c55d93.bindPopup(popup_6d0c3ab537ce4ae89b6786053a7b1d69)
        ;

        
    
    
            var circle_87213e3d23854f8e911448487c25b8be = L.circle(
                [35.16761551, 128.05257202],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_1be149d72eca40299077f48e632099cf);
        
    
        var popup_06dadf9a1f4c4df9bec12e54b967e838 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_1e2fc1c6675a4708a25948ff6959feb8 = $(`<div id="html_1e2fc1c6675a4708a25948ff6959feb8" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>990</td>       <td>37268238</td>       <td>-86.0</td>       <td>28.0</td>       <td>672.753</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_06dadf9a1f4c4df9bec12e54b967e838.setContent(html_1e2fc1c6675a4708a25948ff6959feb8);
        

        circle_87213e3d23854f8e911448487c25b8be.bindPopup(popup_06dadf9a1f4c4df9bec12e54b967e838)
        ;

        
    
    
            var circle_b75fc9e1d4b947e48539e5d36e08028a = L.circle(
                [35.17026181, 128.0538972],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "orange", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_1be149d72eca40299077f48e632099cf);
        
    
        var popup_cbc1a46887024075b51839b026fe021a = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_724d37ccf08a41e2a57044b9adfedfe3 = $(`<div id="html_724d37ccf08a41e2a57044b9adfedfe3" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>655</td>       <td>37268751</td>       <td>-71.0</td>       <td>33.0</td>       <td>876.85</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_cbc1a46887024075b51839b026fe021a.setContent(html_724d37ccf08a41e2a57044b9adfedfe3);
        

        circle_b75fc9e1d4b947e48539e5d36e08028a.bindPopup(popup_cbc1a46887024075b51839b026fe021a)
        ;

        
    
    
            var circle_fbad377f76e04f54a27f92de8510ba0b = L.circle(
                [35.17043025, 128.05478275],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_1be149d72eca40299077f48e632099cf);
        
    
        var popup_98a69e28902b486eb75a751c485a81e6 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_359aa526b6c643baba517126fe46d763 = $(`<div id="html_359aa526b6c643baba517126fe46d763" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>655</td>       <td>37268751</td>       <td>-91.0</td>       <td>26.0</td>       <td>806.886</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_98a69e28902b486eb75a751c485a81e6.setContent(html_359aa526b6c643baba517126fe46d763);
        

        circle_fbad377f76e04f54a27f92de8510ba0b.bindPopup(popup_98a69e28902b486eb75a751c485a81e6)
        ;

        
    
    
            var circle_cbd4056bf9b84627be7d2df2e106d8d8 = L.circle(
                [35.16912931, 128.05506657],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "yellow", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_1be149d72eca40299077f48e632099cf);
        
    
        var popup_3c5ca292e41949c49aaf30165921130e = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_d39b825d201a4b7d8b8bd1f474d6a868 = $(`<div id="html_d39b825d201a4b7d8b8bd1f474d6a868" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>655</td>       <td>37268238</td>       <td>-85.0</td>       <td>16.5</td>       <td>718.225</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_3c5ca292e41949c49aaf30165921130e.setContent(html_d39b825d201a4b7d8b8bd1f474d6a868);
        

        circle_cbd4056bf9b84627be7d2df2e106d8d8.bindPopup(popup_3c5ca292e41949c49aaf30165921130e)
        ;

        
    
    
            var circle_62b6658c6fb9460f92abba193a5bcdc9 = L.circle(
                [35.16929359, 128.05579113],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_1be149d72eca40299077f48e632099cf);
        
    
        var popup_bef8303969bc45059a418fd2a465f086 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_0f8cde30d32543f4b4cbd61b428654ff = $(`<div id="html_0f8cde30d32543f4b4cbd61b428654ff" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>469</td>       <td>37268238</td>       <td>-88.0</td>       <td>33.0</td>       <td>786.152</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_bef8303969bc45059a418fd2a465f086.setContent(html_0f8cde30d32543f4b4cbd61b428654ff);
        

        circle_62b6658c6fb9460f92abba193a5bcdc9.bindPopup(popup_bef8303969bc45059a418fd2a465f086)
        ;

        
    
    
            var circle_cd93b98cd33f4154b2859670826aa1a2 = L.circle(
                [35.17289247, 128.05970627],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_1be149d72eca40299077f48e632099cf);
        
    
        var popup_a1fe10b09156414cb6a748d7a53cb0ff = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_2d1e11ac77e84fae8f82ebf703036054 = $(`<div id="html_2d1e11ac77e84fae8f82ebf703036054" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>605</td>       <td>38255632</td>       <td>-88.0</td>       <td>12.0</td>       <td>655.286</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_a1fe10b09156414cb6a748d7a53cb0ff.setContent(html_2d1e11ac77e84fae8f82ebf703036054);
        

        circle_cd93b98cd33f4154b2859670826aa1a2.bindPopup(popup_a1fe10b09156414cb6a748d7a53cb0ff)
        ;

        
    
    
            var circle_b2f0dad1838440868f63bab8fd5aa1e3 = L.circle(
                [35.172612, 128.05997677],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_1be149d72eca40299077f48e632099cf);
        
    
        var popup_03c71068a0b34a8cbd0a4e8ff809b1ad = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_bdee3c35347645bfaf1df4dc18ceb536 = $(`<div id="html_bdee3c35347645bfaf1df4dc18ceb536" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>605</td>       <td>38255632</td>       <td>-88.0</td>       <td>11.0</td>       <td>677.475</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_03c71068a0b34a8cbd0a4e8ff809b1ad.setContent(html_bdee3c35347645bfaf1df4dc18ceb536);
        

        circle_b2f0dad1838440868f63bab8fd5aa1e3.bindPopup(popup_03c71068a0b34a8cbd0a4e8ff809b1ad)
        ;

        
    
    
            var circle_e96e43be87884789b99915f0181c6c26 = L.circle(
                [35.17535769, 128.06186651],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "yellow", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_1be149d72eca40299077f48e632099cf);
        
    
        var popup_e203051991c54e80b5be3b9eaee895b2 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_98dfc41bd9e84a8baa489cc2435081b1 = $(`<div id="html_98dfc41bd9e84a8baa489cc2435081b1" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>718</td>       <td>38255630</td>       <td>-81.0</td>       <td>30.0</td>       <td>837.244</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_e203051991c54e80b5be3b9eaee895b2.setContent(html_98dfc41bd9e84a8baa489cc2435081b1);
        

        circle_e96e43be87884789b99915f0181c6c26.bindPopup(popup_e203051991c54e80b5be3b9eaee895b2)
        ;

        
    
    
            var circle_f80fc8727f514a2a9582bc66fe82653b = L.circle(
                [35.17372606, 128.06475082],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "yellow", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_1be149d72eca40299077f48e632099cf);
        
    
        var popup_c15a4398a03c4e47a5f84f32c5c52517 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_e325b03eeb1443208fbb2c11d24752d0 = $(`<div id="html_e325b03eeb1443208fbb2c11d24752d0" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>713</td>       <td>38255630</td>       <td>-85.0</td>       <td>30.0</td>       <td>632.393</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_c15a4398a03c4e47a5f84f32c5c52517.setContent(html_e325b03eeb1443208fbb2c11d24752d0);
        

        circle_f80fc8727f514a2a9582bc66fe82653b.bindPopup(popup_c15a4398a03c4e47a5f84f32c5c52517)
        ;

        
    
    
            var circle_463d83b93a074fb9ae178eac1b536a3f = L.circle(
                [35.17360503, 128.06637706],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_1be149d72eca40299077f48e632099cf);
        
    
        var popup_c53a9ff1308b41c3929b7258affe41d8 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_effb10e5ab2244eb89ea66ed3081629b = $(`<div id="html_effb10e5ab2244eb89ea66ed3081629b" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>346</td>       <td>38255630</td>       <td>-86.0</td>       <td>29.5</td>       <td>None</td>       <td>70.393</td>     </tr>   </tbody> </table></div>`)[0];
            popup_c53a9ff1308b41c3929b7258affe41d8.setContent(html_effb10e5ab2244eb89ea66ed3081629b);
        

        circle_463d83b93a074fb9ae178eac1b536a3f.bindPopup(popup_c53a9ff1308b41c3929b7258affe41d8)
        ;

        
    
    
            var circle_1656b42aaa2f43b88708f571b78defa2 = L.circle(
                [35.17316034, 128.0660797],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_1be149d72eca40299077f48e632099cf);
        
    
        var popup_e20aa684ba9d4871be0cfc3bdd68326b = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_adadb9ab2e784ada9fae56d3b51707c7 = $(`<div id="html_adadb9ab2e784ada9fae56d3b51707c7" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>346</td>       <td>38255630</td>       <td>-91.0</td>       <td>20.0</td>       <td>None</td>       <td>57.338</td>     </tr>   </tbody> </table></div>`)[0];
            popup_e20aa684ba9d4871be0cfc3bdd68326b.setContent(html_adadb9ab2e784ada9fae56d3b51707c7);
        

        circle_1656b42aaa2f43b88708f571b78defa2.bindPopup(popup_e20aa684ba9d4871be0cfc3bdd68326b)
        ;

        
    
    
            var circle_c8aedb8fed8849fbb90e2431276df8c4 = L.circle(
                [35.17366529, 128.06521359],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_1be149d72eca40299077f48e632099cf);
        
    
        var popup_3e9a92940f484d7dbc7543fd50ff0323 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_22c0929add494955bd3e247b0b9ae02e = $(`<div id="html_22c0929add494955bd3e247b0b9ae02e" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>346</td>       <td>38255630</td>       <td>-87.0</td>       <td>15.5</td>       <td>None</td>       <td>84.116</td>     </tr>   </tbody> </table></div>`)[0];
            popup_3e9a92940f484d7dbc7543fd50ff0323.setContent(html_22c0929add494955bd3e247b0b9ae02e);
        

        circle_c8aedb8fed8849fbb90e2431276df8c4.bindPopup(popup_3e9a92940f484d7dbc7543fd50ff0323)
        ;

        
    
    
            var circle_d017c5f0061a4eaea3fc93bd7549d538 = L.circle(
                [35.17513256, 128.06210814],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "yellow", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_1be149d72eca40299077f48e632099cf);
        
    
        var popup_687823e45e1a490cb6239707781cf94e = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_f305d835f6314dbebd39bab3b75eb541 = $(`<div id="html_f305d835f6314dbebd39bab3b75eb541" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>713</td>       <td>38255630</td>       <td>-85.0</td>       <td>23.0</td>       <td>None</td>       <td>48.884</td>     </tr>   </tbody> </table></div>`)[0];
            popup_687823e45e1a490cb6239707781cf94e.setContent(html_f305d835f6314dbebd39bab3b75eb541);
        

        circle_d017c5f0061a4eaea3fc93bd7549d538.bindPopup(popup_687823e45e1a490cb6239707781cf94e)
        ;

        
    
    
            var circle_258231ceb9714f7dbffe2fbf94c097f4 = L.circle(
                [35.17536778, 128.06160785],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "yellow", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_1be149d72eca40299077f48e632099cf);
        
    
        var popup_058670edcdc248f9b51e43a641d13748 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_0e2c38267a4d4abcb198a609da3f6fdb = $(`<div id="html_0e2c38267a4d4abcb198a609da3f6fdb" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>546</td>       <td>38255630</td>       <td>-83.0</td>       <td>27.5</td>       <td>None</td>       <td>56.945</td>     </tr>   </tbody> </table></div>`)[0];
            popup_058670edcdc248f9b51e43a641d13748.setContent(html_0e2c38267a4d4abcb198a609da3f6fdb);
        

        circle_258231ceb9714f7dbffe2fbf94c097f4.bindPopup(popup_058670edcdc248f9b51e43a641d13748)
        ;

        
    
    
            var circle_287c36e5c8b74506a6666c539185f2eb = L.circle(
                [35.17352545, 128.06038249],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "yellow", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_1be149d72eca40299077f48e632099cf);
        
    
        var popup_20075cdd6eb5467f8a0707630094b66b = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_cfe736d149c94606a08eb260b06b7306 = $(`<div id="html_cfe736d149c94606a08eb260b06b7306" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>793</td>       <td>38255632</td>       <td>-80.0</td>       <td>25.5</td>       <td>None</td>       <td>106.962</td>     </tr>   </tbody> </table></div>`)[0];
            popup_20075cdd6eb5467f8a0707630094b66b.setContent(html_cfe736d149c94606a08eb260b06b7306);
        

        circle_287c36e5c8b74506a6666c539185f2eb.bindPopup(popup_20075cdd6eb5467f8a0707630094b66b)
        ;

        
    
    
            var circle_ad587021054a4c009f77d852fc9f5711 = L.circle(
                [35.17347538, 128.06037272],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "yellow", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_1be149d72eca40299077f48e632099cf);
        
    
        var popup_22e2331ff63845d6a81fd81c6080620e = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_4d0b4425c35c4607907a9de88b13cca1 = $(`<div id="html_4d0b4425c35c4607907a9de88b13cca1" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>793</td>       <td>38450702</td>       <td>-78.0</td>       <td>27.5</td>       <td>None</td>       <td>79.201</td>     </tr>   </tbody> </table></div>`)[0];
            popup_22e2331ff63845d6a81fd81c6080620e.setContent(html_4d0b4425c35c4607907a9de88b13cca1);
        

        circle_ad587021054a4c009f77d852fc9f5711.bindPopup(popup_22e2331ff63845d6a81fd81c6080620e)
        ;

        
    
    
            var circle_71173bd25aae42dba15a7c58be229602 = L.circle(
                [35.17347538, 128.06037272],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_1be149d72eca40299077f48e632099cf);
        
    
        var popup_55523f4daaa945fc9e9f0a622ba33648 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_d9c08ff2491f4908923dfe3d0aeb21ab = $(`<div id="html_d9c08ff2491f4908923dfe3d0aeb21ab" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>213</td>       <td>38450702</td>       <td>-89.0</td>       <td>19.0</td>       <td>None</td>       <td>75.78</td>     </tr>   </tbody> </table></div>`)[0];
            popup_55523f4daaa945fc9e9f0a622ba33648.setContent(html_d9c08ff2491f4908923dfe3d0aeb21ab);
        

        circle_71173bd25aae42dba15a7c58be229602.bindPopup(popup_55523f4daaa945fc9e9f0a622ba33648)
        ;

        
    
    
            var circle_c3a6cd881ef943338d69bd3c5cc7ddb8 = L.circle(
                [35.16893885, 128.05504202],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "yellow", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_1be149d72eca40299077f48e632099cf);
        
    
        var popup_7b35ae269f3b4c18946fa304245ad8b4 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_3f1ac6a5fc5644b0912c6a5652f83aac = $(`<div id="html_3f1ac6a5fc5644b0912c6a5652f83aac" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>655</td>       <td>37268238</td>       <td>-78.0</td>       <td>20.0</td>       <td>None</td>       <td>75.858</td>     </tr>   </tbody> </table></div>`)[0];
            popup_7b35ae269f3b4c18946fa304245ad8b4.setContent(html_3f1ac6a5fc5644b0912c6a5652f83aac);
        

        circle_c3a6cd881ef943338d69bd3c5cc7ddb8.bindPopup(popup_7b35ae269f3b4c18946fa304245ad8b4)
        ;

        
    
    
            var circle_d35f3c92993347b8b1e7284fe9ac7329 = L.circle(
                [35.16665359, 128.04001855],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_1be149d72eca40299077f48e632099cf);
        
    
        var popup_41a7b76aab4d477eaaa2ad59566220b3 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_f7d2bdd97a38421b8034b24ddc5af699 = $(`<div id="html_f7d2bdd97a38421b8034b24ddc5af699" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>777</td>       <td>38558737</td>       <td>-98.0</td>       <td>19.0</td>       <td>None</td>       <td>43.025</td>     </tr>   </tbody> </table></div>`)[0];
            popup_41a7b76aab4d477eaaa2ad59566220b3.setContent(html_f7d2bdd97a38421b8034b24ddc5af699);
        

        circle_d35f3c92993347b8b1e7284fe9ac7329.bindPopup(popup_41a7b76aab4d477eaaa2ad59566220b3)
        ;

        
    
    
            var circle_eef5f5b4303146608b8a384ef608ceb5 = L.circle(
                [35.16656761, 128.03985489],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 29.0, "stroke": true, "weight": 1}
            ).addTo(feature_group_1be149d72eca40299077f48e632099cf);
        
    
        var popup_3284c358c5f24ba0ae9834b61d1b21e1 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_589b2b7c1bce46688ef3ace866b4f789 = $(`<div id="html_589b2b7c1bce46688ef3ace866b4f789" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>777</td>       <td>38558737</td>       <td>-100.0</td>       <td>16.0</td>       <td>None</td>       <td>38.699</td>     </tr>   </tbody> </table></div>`)[0];
            popup_3284c358c5f24ba0ae9834b61d1b21e1.setContent(html_589b2b7c1bce46688ef3ace866b4f789);
        

        circle_eef5f5b4303146608b8a384ef608ceb5.bindPopup(popup_3284c358c5f24ba0ae9834b61d1b21e1)
        ;

        
    
</script>