<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_1e1817bda9b940418c69968adda05672 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_1e1817bda9b940418c69968adda05672" ></div>
        
</body>
<script>    
    
            var map_1e1817bda9b940418c69968adda05672 = L.map(
                "map_1e1817bda9b940418c69968adda05672",
                {
                    center: [34.97066201, 128.06350682],
                    crs: L.CRS.EPSG3857,
                    zoom: 15,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_a6302683500c446eb4454c9976f08b31 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_1e1817bda9b940418c69968adda05672);
        
    
            var marker_16dfb12395634caaa61deaca9cf1b753 = L.marker(
                [34.97066201, 128.06350682],
                {"iconSize": [10, 10]}
            ).addTo(map_1e1817bda9b940418c69968adda05672);
        
    
            var icon_6e52916ab2d54a01aa371e3578d28668 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "star", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_16dfb12395634caaa61deaca9cf1b753.setIcon(icon_6e52916ab2d54a01aa371e3578d28668);
        
    
            var poly_line_306704fbb79447c9b624004c85593a23 = L.polyline(
                [[34.97066201, 128.06350682], [34.97067124, 128.06350865], [34.97067124, 128.06350865], [34.97062463, 128.06266361], [34.96943816, 128.06309475], [34.9677901, 128.06368849], [34.96726027, 128.06242535], [34.9701047, 128.06140358], [34.97570425, 128.05938358], [34.97472996, 128.05332625], [34.97841054, 128.05177401], [34.98063054, 128.04683124], [34.98273297, 128.04429025], [34.98485869, 128.04420499], [34.9872273, 128.04369116], [34.98938429, 128.04252388], [34.99116685, 128.04022274], [34.99229836, 128.03972139], [34.99454275, 128.03953641], [34.99567496, 128.03909987], [34.99698642, 128.03888846], [34.99812599, 128.03895981], [34.99936072, 128.04019649], [34.99936589, 128.04014343]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_1e1817bda9b940418c69968adda05672);
        
    
            var feature_group_afdc6928c0c94423b38a90e90e8f6010 = L.featureGroup(
                {}
            ).addTo(map_1e1817bda9b940418c69968adda05672);
        
    
            var circle_c080b2f2d4fb4cac806237b989e0bcb6 = L.circle(
                [34.97066201, 128.06350682],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_afdc6928c0c94423b38a90e90e8f6010);
        
    
        var popup_4ec14576b04f4ac1bf8897e209794585 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_42f739371fc94bc6880b75e11e93c0cf = $(`<div id="html_42f739371fc94bc6880b75e11e93c0cf" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>165</td>       <td>11927079</td>       <td>-105.0</td>       <td>8.5</td>       <td>671.325</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_4ec14576b04f4ac1bf8897e209794585.setContent(html_42f739371fc94bc6880b75e11e93c0cf);
        

        circle_c080b2f2d4fb4cac806237b989e0bcb6.bindPopup(popup_4ec14576b04f4ac1bf8897e209794585)
        ;

        
    
    
            var circle_37916a3c9baa4fe585a479fda7815f19 = L.circle(
                [34.97067124, 128.06350865],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_afdc6928c0c94423b38a90e90e8f6010);
        
    
        var popup_4fd7f0b91f1c43a194d418ead992a11f = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_84a8e6f3b48a462da6854836ca23ee59 = $(`<div id="html_84a8e6f3b48a462da6854836ca23ee59" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>165</td>       <td>11927079</td>       <td>-102.0</td>       <td>9.0</td>       <td>646.256</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_4fd7f0b91f1c43a194d418ead992a11f.setContent(html_84a8e6f3b48a462da6854836ca23ee59);
        

        circle_37916a3c9baa4fe585a479fda7815f19.bindPopup(popup_4fd7f0b91f1c43a194d418ead992a11f)
        ;

        
    
    
            var circle_5452300e13124f5495ebf853682c3b88 = L.circle(
                [34.97067124, 128.06350865],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "black", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_afdc6928c0c94423b38a90e90e8f6010);
        
    
        var popup_df3578243cc6413baa8f5f7c02fcba4d = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_47f02acdb7e54ec88c15d20aeb6919c4 = $(`<div id="html_47f02acdb7e54ec88c15d20aeb6919c4" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>165</td>       <td>11927079</td>       <td>-110.0</td>       <td>5.0</td>       <td>575.473</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_df3578243cc6413baa8f5f7c02fcba4d.setContent(html_47f02acdb7e54ec88c15d20aeb6919c4);
        

        circle_5452300e13124f5495ebf853682c3b88.bindPopup(popup_df3578243cc6413baa8f5f7c02fcba4d)
        ;

        
    
    
            var circle_ec4d070dfb5644edb0a1b34ad1e336ef = L.circle(
                [34.97062463, 128.06266361],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_afdc6928c0c94423b38a90e90e8f6010);
        
    
        var popup_7005c43d379b41e5b00bd5c26f841e45 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_35662c9aa2874a289afe8a7e162e0b35 = $(`<div id="html_35662c9aa2874a289afe8a7e162e0b35" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>785</td>       <td>11926295</td>       <td>-90.0</td>       <td>19.0</td>       <td>986.858</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_7005c43d379b41e5b00bd5c26f841e45.setContent(html_35662c9aa2874a289afe8a7e162e0b35);
        

        circle_ec4d070dfb5644edb0a1b34ad1e336ef.bindPopup(popup_7005c43d379b41e5b00bd5c26f841e45)
        ;

        
    
    
            var circle_78b83381581f4083973ef51214d51c19 = L.circle(
                [34.96943816, 128.06309475],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "yellow", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_afdc6928c0c94423b38a90e90e8f6010);
        
    
        var popup_f652ec7eb21343fe82ede5e891f25c99 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_fcf6096787d44238bec2927fb0e4bcbc = $(`<div id="html_fcf6096787d44238bec2927fb0e4bcbc" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>131</td>       <td>11927079</td>       <td>-76.0</td>       <td>32.0</td>       <td>1025.387</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_f652ec7eb21343fe82ede5e891f25c99.setContent(html_fcf6096787d44238bec2927fb0e4bcbc);
        

        circle_78b83381581f4083973ef51214d51c19.bindPopup(popup_f652ec7eb21343fe82ede5e891f25c99)
        ;

        
    
    
            var circle_6444f6dfbcad4715a2300ef132048c68 = L.circle(
                [34.9677901, 128.06368849],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "yellow", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_afdc6928c0c94423b38a90e90e8f6010);
        
    
        var popup_343f5484c485427b9cec7d7df61c2a80 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_c639992113984ba1a7c4f9f208d6ef80 = $(`<div id="html_c639992113984ba1a7c4f9f208d6ef80" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>131</td>       <td>11927079</td>       <td>-77.0</td>       <td>33.5</td>       <td>1204.678</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_343f5484c485427b9cec7d7df61c2a80.setContent(html_c639992113984ba1a7c4f9f208d6ef80);
        

        circle_6444f6dfbcad4715a2300ef132048c68.bindPopup(popup_343f5484c485427b9cec7d7df61c2a80)
        ;

        
    
    
            var circle_71187a7d9b6441208c31b131e1b4b6a3 = L.circle(
                [34.96726027, 128.06242535],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_afdc6928c0c94423b38a90e90e8f6010);
        
    
        var popup_dfdf72109bbd4ba38544e0a2a9099827 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_dcc283a15b56479da4090ee9057459a0 = $(`<div id="html_dcc283a15b56479da4090ee9057459a0" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>366</td>       <td>11926827</td>       <td>-93.0</td>       <td>21.0</td>       <td>863.771</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_dfdf72109bbd4ba38544e0a2a9099827.setContent(html_dcc283a15b56479da4090ee9057459a0);
        

        circle_71187a7d9b6441208c31b131e1b4b6a3.bindPopup(popup_dfdf72109bbd4ba38544e0a2a9099827)
        ;

        
    
    
            var circle_793a85e56f054fb2b44da76ef4f18f79 = L.circle(
                [34.9701047, 128.06140358],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_afdc6928c0c94423b38a90e90e8f6010);
        
    
        var popup_7a680bdc12e346bd80ab60ce7f25704e = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_e0f6f8a0fd7b40a88f28e5905ff75fae = $(`<div id="html_e0f6f8a0fd7b40a88f28e5905ff75fae" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>366</td>       <td>11926295</td>       <td>-89.0</td>       <td>21.5</td>       <td>804.5</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_7a680bdc12e346bd80ab60ce7f25704e.setContent(html_e0f6f8a0fd7b40a88f28e5905ff75fae);
        

        circle_793a85e56f054fb2b44da76ef4f18f79.bindPopup(popup_7a680bdc12e346bd80ab60ce7f25704e)
        ;

        
    
    
            var circle_037db2aa3126464fb5ac0b056951bf14 = L.circle(
                [34.97570425, 128.05938358],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "yellow", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_afdc6928c0c94423b38a90e90e8f6010);
        
    
        var popup_f7a6dc53b83c49748cca428543418f89 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_365e8fa7f9324c3ab4850f39791a6d4c = $(`<div id="html_365e8fa7f9324c3ab4850f39791a6d4c" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>584</td>       <td>11926295</td>       <td>-84.0</td>       <td>29.0</td>       <td>1299.998</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_f7a6dc53b83c49748cca428543418f89.setContent(html_365e8fa7f9324c3ab4850f39791a6d4c);
        

        circle_037db2aa3126464fb5ac0b056951bf14.bindPopup(popup_f7a6dc53b83c49748cca428543418f89)
        ;

        
    
    
            var circle_7c9a654c595b4c018f1e0e226449d7ae = L.circle(
                [34.97472996, 128.05332625],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "orange", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_afdc6928c0c94423b38a90e90e8f6010);
        
    
        var popup_f4a4532edec04655a8111236dd4c466c = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_f36dc03a92af43debc392c57b461e806 = $(`<div id="html_f36dc03a92af43debc392c57b461e806" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>112</td>       <td>12002327</td>       <td>-67.0</td>       <td>31.5</td>       <td>1111.735</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_f4a4532edec04655a8111236dd4c466c.setContent(html_f36dc03a92af43debc392c57b461e806);
        

        circle_7c9a654c595b4c018f1e0e226449d7ae.bindPopup(popup_f4a4532edec04655a8111236dd4c466c)
        ;

        
    
    
            var circle_59acbe08d61d48d1b8e4b831d8777c5b = L.circle(
                [34.97841054, 128.05177401],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_afdc6928c0c94423b38a90e90e8f6010);
        
    
        var popup_4c9aae4dbb2049b19d7caa540becdabe = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_eacb1ea5f73b426898a39c51cea37551 = $(`<div id="html_eacb1ea5f73b426898a39c51cea37551" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>112</td>       <td>12002327</td>       <td>-100.0</td>       <td>11.0</td>       <td>618.546</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_4c9aae4dbb2049b19d7caa540becdabe.setContent(html_eacb1ea5f73b426898a39c51cea37551);
        

        circle_59acbe08d61d48d1b8e4b831d8777c5b.bindPopup(popup_4c9aae4dbb2049b19d7caa540becdabe)
        ;

        
    
    
            var circle_57994de76c4c44de99cbed49f9e025d8 = L.circle(
                [34.98063054, 128.04683124],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_afdc6928c0c94423b38a90e90e8f6010);
        
    
        var popup_63ecf548f2494d4faa887d26b95be4b6 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_add8e04abb844daf906a40feb236e2a3 = $(`<div id="html_add8e04abb844daf906a40feb236e2a3" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>684</td>       <td>12249875</td>       <td>-103.0</td>       <td>6.5</td>       <td>502.958</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_63ecf548f2494d4faa887d26b95be4b6.setContent(html_add8e04abb844daf906a40feb236e2a3);
        

        circle_57994de76c4c44de99cbed49f9e025d8.bindPopup(popup_63ecf548f2494d4faa887d26b95be4b6)
        ;

        
    
    
            var circle_191772f9ce4b4c1294bfe482f6c7cf43 = L.circle(
                [34.98273297, 128.04429025],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_afdc6928c0c94423b38a90e90e8f6010);
        
    
        var popup_3695154bce8b468ba63d96c2fc1fd01a = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_63766bfbb6fc4f2d93d0d69c9e62c484 = $(`<div id="html_63766bfbb6fc4f2d93d0d69c9e62c484" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>684</td>       <td>12249875</td>       <td>-92.0</td>       <td>11.0</td>       <td>690.457</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_3695154bce8b468ba63d96c2fc1fd01a.setContent(html_63766bfbb6fc4f2d93d0d69c9e62c484);
        

        circle_191772f9ce4b4c1294bfe482f6c7cf43.bindPopup(popup_3695154bce8b468ba63d96c2fc1fd01a)
        ;

        
    
    
            var circle_74c1e929c96b4f50b5b73d4d50575377 = L.circle(
                [34.98485869, 128.04420499],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_afdc6928c0c94423b38a90e90e8f6010);
        
    
        var popup_93f00948ffa149e187da35c92d69636d = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_75a2a7a48b1647b197c53463481e4d64 = $(`<div id="html_75a2a7a48b1647b197c53463481e4d64" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>150</td>       <td>12249875</td>       <td>-100.0</td>       <td>7.0</td>       <td>366.679</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_93f00948ffa149e187da35c92d69636d.setContent(html_75a2a7a48b1647b197c53463481e4d64);
        

        circle_74c1e929c96b4f50b5b73d4d50575377.bindPopup(popup_93f00948ffa149e187da35c92d69636d)
        ;

        
    
    
            var circle_7758435338244b24bea6871b02814414 = L.circle(
                [34.9872273, 128.04369116],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_afdc6928c0c94423b38a90e90e8f6010);
        
    
        var popup_ab3ab712ef674b84873aed7634431a45 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_5782a432647e4b04b180244cf7790c37 = $(`<div id="html_5782a432647e4b04b180244cf7790c37" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>150</td>       <td>12249875</td>       <td>-98.0</td>       <td>0.5</td>       <td>196.727</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_ab3ab712ef674b84873aed7634431a45.setContent(html_5782a432647e4b04b180244cf7790c37);
        

        circle_7758435338244b24bea6871b02814414.bindPopup(popup_ab3ab712ef674b84873aed7634431a45)
        ;

        
    
    
            var circle_5d8b5a36cb564f6eb86c8b5ffacb3241 = L.circle(
                [34.98938429, 128.04252388],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_afdc6928c0c94423b38a90e90e8f6010);
        
    
        var popup_85aaa1f448dd4f2b9c6ab20d5a36e982 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_80a917a7a62e4461a96cf4dbfb4ee9dd = $(`<div id="html_80a917a7a62e4461a96cf4dbfb4ee9dd" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>684</td>       <td>12249875</td>       <td>-94.0</td>       <td>13.5</td>       <td>395.308</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_85aaa1f448dd4f2b9c6ab20d5a36e982.setContent(html_80a917a7a62e4461a96cf4dbfb4ee9dd);
        

        circle_5d8b5a36cb564f6eb86c8b5ffacb3241.bindPopup(popup_85aaa1f448dd4f2b9c6ab20d5a36e982)
        ;

        
    
    
            var circle_dc779996b00c42c2b47db92074c0b6d6 = L.circle(
                [34.99116685, 128.04022274],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "yellow", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_afdc6928c0c94423b38a90e90e8f6010);
        
    
        var popup_38d3b28d63234db3ac9a445280e12c5a = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_e3c2f412c3cb45fb9f3ddc8655255ac9 = $(`<div id="html_e3c2f412c3cb45fb9f3ddc8655255ac9" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>465</td>       <td>12249867</td>       <td>-83.0</td>       <td>26.5</td>       <td>900.536</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_38d3b28d63234db3ac9a445280e12c5a.setContent(html_e3c2f412c3cb45fb9f3ddc8655255ac9);
        

        circle_dc779996b00c42c2b47db92074c0b6d6.bindPopup(popup_38d3b28d63234db3ac9a445280e12c5a)
        ;

        
    
    
            var circle_3314509169394b3280428388ea46eb2a = L.circle(
                [34.99229836, 128.03972139],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_afdc6928c0c94423b38a90e90e8f6010);
        
    
        var popup_c1c9354cca0c44218f70a0a9321bd149 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_df6ca2c424cd4c3b91395f3892e2dec1 = $(`<div id="html_df6ca2c424cd4c3b91395f3892e2dec1" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>465</td>       <td>12249867</td>       <td>-93.0</td>       <td>18.0</td>       <td>798.965</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_c1c9354cca0c44218f70a0a9321bd149.setContent(html_df6ca2c424cd4c3b91395f3892e2dec1);
        

        circle_3314509169394b3280428388ea46eb2a.bindPopup(popup_c1c9354cca0c44218f70a0a9321bd149)
        ;

        
    
    
            var circle_6e5bf705596c47f4b59bf6e55d49eae2 = L.circle(
                [34.99454275, 128.03953641],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_afdc6928c0c94423b38a90e90e8f6010);
        
    
        var popup_1a49b1370d834f28a83297b2dc084ced = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_4b9f490db89c410380c47f22148c471d = $(`<div id="html_4b9f490db89c410380c47f22148c471d" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>372</td>       <td>12249867</td>       <td>-88.0</td>       <td>3.6</td>       <td>135.495</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_1a49b1370d834f28a83297b2dc084ced.setContent(html_4b9f490db89c410380c47f22148c471d);
        

        circle_6e5bf705596c47f4b59bf6e55d49eae2.bindPopup(popup_1a49b1370d834f28a83297b2dc084ced)
        ;

        
    
    
            var circle_f576a370292045069b2e13c9dec0c5da = L.circle(
                [34.99567496, 128.03909987],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "black", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_afdc6928c0c94423b38a90e90e8f6010);
        
    
        var popup_c1bcb777cc8246dcb4eb71b5b450a80e = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_b2d80a882bb34d51b1ad674cb8ee290b = $(`<div id="html_b2d80a882bb34d51b1ad674cb8ee290b" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>465</td>       <td>12249727</td>       <td>-106.0</td>       <td>11.5</td>       <td>462.439</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_c1bcb777cc8246dcb4eb71b5b450a80e.setContent(html_b2d80a882bb34d51b1ad674cb8ee290b);
        

        circle_f576a370292045069b2e13c9dec0c5da.bindPopup(popup_c1bcb777cc8246dcb4eb71b5b450a80e)
        ;

        
    
    
            var circle_38ecbd9b055941cf87629b8b53267b83 = L.circle(
                [34.99698642, 128.03888846],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "black", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_afdc6928c0c94423b38a90e90e8f6010);
        
    
        var popup_d902833e37d5413cabd98b0027c45e3f = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_6c604522def8435198cb1f5293d0e5c7 = $(`<div id="html_6c604522def8435198cb1f5293d0e5c7" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>465</td>       <td>12249727</td>       <td>-106.0</td>       <td>9.0</td>       <td>614.734</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_d902833e37d5413cabd98b0027c45e3f.setContent(html_6c604522def8435198cb1f5293d0e5c7);
        

        circle_38ecbd9b055941cf87629b8b53267b83.bindPopup(popup_d902833e37d5413cabd98b0027c45e3f)
        ;

        
    
    
            var circle_0f4c98517b8141598b3208a53fff0b31 = L.circle(
                [34.99812599, 128.03895981],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_afdc6928c0c94423b38a90e90e8f6010);
        
    
        var popup_2622a710876d413e9712c1d300a8b58d = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_aff4a79addcd42cca31ddb2bd9c105e2 = $(`<div id="html_aff4a79addcd42cca31ddb2bd9c105e2" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>465</td>       <td>12249727</td>       <td>-99.0</td>       <td>11.0</td>       <td>765.01</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_2622a710876d413e9712c1d300a8b58d.setContent(html_aff4a79addcd42cca31ddb2bd9c105e2);
        

        circle_0f4c98517b8141598b3208a53fff0b31.bindPopup(popup_2622a710876d413e9712c1d300a8b58d)
        ;

        
    
    
            var circle_4fca4fd27b80460fb5bc6d165d90bc99 = L.circle(
                [34.99936072, 128.04019649],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "orange", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_afdc6928c0c94423b38a90e90e8f6010);
        
    
        var popup_d64c987dba4e4446be010ec2f4429442 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_2de2c193439649489d0ccb1626221659 = $(`<div id="html_2de2c193439649489d0ccb1626221659" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>315</td>       <td>12249727</td>       <td>-73.0</td>       <td>23.6</td>       <td>449.137</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_d64c987dba4e4446be010ec2f4429442.setContent(html_2de2c193439649489d0ccb1626221659);
        

        circle_4fca4fd27b80460fb5bc6d165d90bc99.bindPopup(popup_d64c987dba4e4446be010ec2f4429442)
        ;

        
    
    
            var circle_1b1539cce1924179a2d04b30c88640ff = L.circle(
                [34.99936589, 128.04014343],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "black", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 29.0, "stroke": true, "weight": 1}
            ).addTo(feature_group_afdc6928c0c94423b38a90e90e8f6010);
        
    
        var popup_12dfb3fc326547e4a9bb8ed470a9c433 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_ec96cec5ea4846ddb35cbe6762794c5e = $(`<div id="html_ec96cec5ea4846ddb35cbe6762794c5e" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>465</td>       <td>12249607</td>       <td>-110.0</td>       <td>5.0</td>       <td>732.132</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_12dfb3fc326547e4a9bb8ed470a9c433.setContent(html_ec96cec5ea4846ddb35cbe6762794c5e);
        

        circle_1b1539cce1924179a2d04b30c88640ff.bindPopup(popup_12dfb3fc326547e4a9bb8ed470a9c433)
        ;

        
    
</script>