<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_7d0524b869484735bb4c49c0e631e5d5 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_7d0524b869484735bb4c49c0e631e5d5" ></div>
        
</body>
<script>    
    
            var map_7d0524b869484735bb4c49c0e631e5d5 = L.map(
                "map_7d0524b869484735bb4c49c0e631e5d5",
                {
                    center: [34.8967971, 128.6877186],
                    crs: L.CRS.EPSG3857,
                    zoom: 15,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_dd4714e925104f92966ca34e64111649 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_7d0524b869484735bb4c49c0e631e5d5);
        
    
            var marker_ebf48cc02611433d86d255dd9c05870a = L.marker(
                [34.8967971, 128.6877186],
                {"iconSize": [10, 10]}
            ).addTo(map_7d0524b869484735bb4c49c0e631e5d5);
        
    
            var icon_c3e48fc020c94eab8f6f88500103c645 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "star", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_ebf48cc02611433d86d255dd9c05870a.setIcon(icon_c3e48fc020c94eab8f6f88500103c645);
        
    
            var poly_line_75f629def8dc4b19b90fc1da56cd6540 = L.polyline(
                [[34.89678699, 128.68774005], [34.89677832, 128.68772413], [34.89617539, 128.68841084], [34.89624365, 128.69009785], [34.896524, 128.68987187], [34.89949113, 128.68638441], [34.90145671, 128.68571833], [34.90533125, 128.682615], [34.9089398, 128.68139474]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_7d0524b869484735bb4c49c0e631e5d5);
        
    
            var feature_group_31871a87ac904b00a1441534bd03d624 = L.featureGroup(
                {}
            ).addTo(map_7d0524b869484735bb4c49c0e631e5d5);
        
    
            var circle_9f3e2e63aa894674ae4fa5012f42dc34 = L.circle(
                [34.89678699, 128.68774005],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "yellow", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_31871a87ac904b00a1441534bd03d624);
        
    
        var popup_53366aaf089541dab00b426374f884cc = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_419e253e84b040db81a378490dfccd23 = $(`<div id="html_419e253e84b040db81a378490dfccd23" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>396</td>       <td>40948997</td>       <td>-76.0</td>       <td>18.5</td>       <td>None</td>       <td>141.722</td>     </tr>   </tbody> </table></div>`)[0];
            popup_53366aaf089541dab00b426374f884cc.setContent(html_419e253e84b040db81a378490dfccd23);
        

        circle_9f3e2e63aa894674ae4fa5012f42dc34.bindPopup(popup_53366aaf089541dab00b426374f884cc)
        ;

        
    
    
            var circle_9986b4e4f2bd48f1af5666ec86ef6a0b = L.circle(
                [34.89677832, 128.68772413],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "yellow", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_31871a87ac904b00a1441534bd03d624);
        
    
        var popup_839bf98d122a4e359e25cf1bc5138efc = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_4c900dfa69ac4bff9ca3caab1365377b = $(`<div id="html_4c900dfa69ac4bff9ca3caab1365377b" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>396</td>       <td>40948997</td>       <td>-76.0</td>       <td>20.0</td>       <td>None</td>       <td>138.576</td>     </tr>   </tbody> </table></div>`)[0];
            popup_839bf98d122a4e359e25cf1bc5138efc.setContent(html_4c900dfa69ac4bff9ca3caab1365377b);
        

        circle_9986b4e4f2bd48f1af5666ec86ef6a0b.bindPopup(popup_839bf98d122a4e359e25cf1bc5138efc)
        ;

        
    
    
            var circle_de59d0dcb60743a483554332f327e7ec = L.circle(
                [34.89617539, 128.68841084],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_31871a87ac904b00a1441534bd03d624);
        
    
        var popup_7ee42611d2c844b6a45368a8a3e7e5c5 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_5f19c7c8befc436ba9518a807da2ecd8 = $(`<div id="html_5f19c7c8befc436ba9518a807da2ecd8" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>324</td>       <td>40929293</td>       <td>-96.0</td>       <td>4.5</td>       <td>None</td>       <td>111.956</td>     </tr>   </tbody> </table></div>`)[0];
            popup_7ee42611d2c844b6a45368a8a3e7e5c5.setContent(html_5f19c7c8befc436ba9518a807da2ecd8);
        

        circle_de59d0dcb60743a483554332f327e7ec.bindPopup(popup_7ee42611d2c844b6a45368a8a3e7e5c5)
        ;

        
    
    
            var circle_6a3c831760eb4d3bb5c28832d7fd96f4 = L.circle(
                [34.89624365, 128.69009785],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "yellow", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_31871a87ac904b00a1441534bd03d624);
        
    
        var popup_05ecb7124dc44d4f8ae15d3bc8583f6c = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_4a88c2e365174031ac5212623e32c48e = $(`<div id="html_4a88c2e365174031ac5212623e32c48e" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>297</td>       <td>40948996</td>       <td>-82.0</td>       <td>4.5</td>       <td>None</td>       <td>115.77</td>     </tr>   </tbody> </table></div>`)[0];
            popup_05ecb7124dc44d4f8ae15d3bc8583f6c.setContent(html_4a88c2e365174031ac5212623e32c48e);
        

        circle_6a3c831760eb4d3bb5c28832d7fd96f4.bindPopup(popup_05ecb7124dc44d4f8ae15d3bc8583f6c)
        ;

        
    
    
            var circle_9425bc419a1f420d9f46718d0826fe69 = L.circle(
                [34.896524, 128.68987187],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "yellow", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_31871a87ac904b00a1441534bd03d624);
        
    
        var popup_e318247b86e34c00bb6f23282e01eacf = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_ccf5349d72d046b796ca541b1d3d7134 = $(`<div id="html_ccf5349d72d046b796ca541b1d3d7134" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>511</td>       <td>40948996</td>       <td>-84.0</td>       <td>18.5</td>       <td>None</td>       <td>91.744</td>     </tr>   </tbody> </table></div>`)[0];
            popup_e318247b86e34c00bb6f23282e01eacf.setContent(html_ccf5349d72d046b796ca541b1d3d7134);
        

        circle_9425bc419a1f420d9f46718d0826fe69.bindPopup(popup_e318247b86e34c00bb6f23282e01eacf)
        ;

        
    
    
            var circle_a2e3724cf6c042fbb544b1e65f39c629 = L.circle(
                [34.89949113, 128.68638441],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "orange", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_31871a87ac904b00a1441534bd03d624);
        
    
        var popup_23f1504a27574ccca547cc52dcea0581 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_07d9db9d004c4e8ba0ab572cb3eaaece = $(`<div id="html_07d9db9d004c4e8ba0ab572cb3eaaece" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>350</td>       <td>40948997</td>       <td>-71.0</td>       <td>33.5</td>       <td>None</td>       <td>81.285</td>     </tr>   </tbody> </table></div>`)[0];
            popup_23f1504a27574ccca547cc52dcea0581.setContent(html_07d9db9d004c4e8ba0ab572cb3eaaece);
        

        circle_a2e3724cf6c042fbb544b1e65f39c629.bindPopup(popup_23f1504a27574ccca547cc52dcea0581)
        ;

        
    
    
            var circle_95adb80eab5e423fb41b6bd1c0318d11 = L.circle(
                [34.90145671, 128.68571833],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_31871a87ac904b00a1441534bd03d624);
        
    
        var popup_a7d63a75c9864e0e8c41300a51eaaea5 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_6cb4d4c69f3f4dbfb07a928c78fcb97a = $(`<div id="html_6cb4d4c69f3f4dbfb07a928c78fcb97a" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>569</td>       <td>44241164</td>       <td>-89.0</td>       <td>21.5</td>       <td>None</td>       <td>77.746</td>     </tr>   </tbody> </table></div>`)[0];
            popup_a7d63a75c9864e0e8c41300a51eaaea5.setContent(html_6cb4d4c69f3f4dbfb07a928c78fcb97a);
        

        circle_95adb80eab5e423fb41b6bd1c0318d11.bindPopup(popup_a7d63a75c9864e0e8c41300a51eaaea5)
        ;

        
    
    
            var circle_bfb2f7a07d9b46f8a12bc3aa6520edcb = L.circle(
                [34.90533125, 128.682615],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_31871a87ac904b00a1441534bd03d624);
        
    
        var popup_ffc7c0fb709c4573a7562ed2cd6861e7 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_0c2d564d20ff4fa88bcc99930f0b7341 = $(`<div id="html_0c2d564d20ff4fa88bcc99930f0b7341" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>488</td>       <td>44241410</td>       <td>-101.0</td>       <td>24.5</td>       <td>None</td>       <td>89.11</td>     </tr>   </tbody> </table></div>`)[0];
            popup_ffc7c0fb709c4573a7562ed2cd6861e7.setContent(html_0c2d564d20ff4fa88bcc99930f0b7341);
        

        circle_bfb2f7a07d9b46f8a12bc3aa6520edcb.bindPopup(popup_ffc7c0fb709c4573a7562ed2cd6861e7)
        ;

        
    
    
            var circle_c9b34f36dbe442c0b40703002d4aa967 = L.circle(
                [34.9089398, 128.68139474],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 29.0, "stroke": true, "weight": 1}
            ).addTo(feature_group_31871a87ac904b00a1441534bd03d624);
        
    
        var popup_8d808aa25d9d4de5a0fd5d93f57b1227 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_215f6556f6384fe2aa3c65c34a3c8bb8 = $(`<div id="html_215f6556f6384fe2aa3c65c34a3c8bb8" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>488</td>       <td>44241410</td>       <td>-105.0</td>       <td>18.0</td>       <td>None</td>       <td>60.523</td>     </tr>   </tbody> </table></div>`)[0];
            popup_8d808aa25d9d4de5a0fd5d93f57b1227.setContent(html_215f6556f6384fe2aa3c65c34a3c8bb8);
        

        circle_c9b34f36dbe442c0b40703002d4aa967.bindPopup(popup_8d808aa25d9d4de5a0fd5d93f57b1227)
        ;

        
    
    
            map_7d0524b869484735bb4c49c0e631e5d5.fitBounds(
                [[34.89617539, 128.68139474], [34.9089398, 128.69009785]],
                {}
            );
        
</script>