<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_1b09f3b63608489aaab1d1a316f43810 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_1b09f3b63608489aaab1d1a316f43810" ></div>
        
</body>
<script>    
    
            var map_1b09f3b63608489aaab1d1a316f43810 = L.map(
                "map_1b09f3b63608489aaab1d1a316f43810",
                {
                    center: [34.84362683, 128.44107238],
                    crs: L.CRS.EPSG3857,
                    zoom: 15,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_a48df0a833024b10b02a1f01abfc9554 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_1b09f3b63608489aaab1d1a316f43810);
        
    
            var marker_65e5a670ac9846fe9e718d63c558245e = L.marker(
                [34.84362683, 128.44107238],
                {"iconSize": [10, 10]}
            ).addTo(map_1b09f3b63608489aaab1d1a316f43810);
        
    
            var icon_9578762101b342ca85f409c24225d18c = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "star", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_65e5a670ac9846fe9e718d63c558245e.setIcon(icon_9578762101b342ca85f409c24225d18c);
        
    
            var poly_line_f14e0ddcdab84e7ba8d691d069d1cedf = L.polyline(
                [[34.84362683, 128.44107238], [34.84362683, 128.44107238], [34.84362683, 128.44107238], [34.84367294, 128.43905043], [34.84377435, 128.43746361], [34.84450147, 128.43480538], [34.8434996, 128.43245915], [34.84303359, 128.43116685], [34.84593766, 128.4291227], [34.84792833, 128.42881453], [34.8496532, 128.42839522], [34.85030279, 128.42879208], [34.8501917, 128.43076315], [34.84925178, 128.4293426], [34.84684053, 128.42866931], [34.84496568, 128.43001629], [34.84437396, 128.42960146], [34.84437315, 128.42958716], [34.84304494, 128.43129031], [34.84326078, 128.4302924], [34.84476505, 128.43022072], [34.8459922, 128.42939891], [34.8480251, 128.42889348], [34.85006653, 128.42859049], [34.85006653, 128.42859049], [34.85044374, 128.42890356], [34.85211892, 128.42875818], [34.85192338, 128.42810909], [34.84964757, 128.4261198]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_1b09f3b63608489aaab1d1a316f43810);
        
    
            var feature_group_77096c80399b43b0a4f55c45533e063c = L.featureGroup(
                {}
            ).addTo(map_1b09f3b63608489aaab1d1a316f43810);
        
    
            var circle_c7034d7d01ea4749b0731c4a9b3b4804 = L.circle(
                [34.84362683, 128.44107238],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_77096c80399b43b0a4f55c45533e063c);
        
    
        var popup_a28866c5a38b4e03826e1b37362d93fb = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_25602a3e575f4544ac90efe604a2a42d = $(`<div id="html_25602a3e575f4544ac90efe604a2a42d" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>560</td>       <td>38448670</td>       <td>-96.0</td>       <td>22.5</td>       <td>None</td>       <td>52.069</td>     </tr>   </tbody> </table></div>`)[0];
            popup_a28866c5a38b4e03826e1b37362d93fb.setContent(html_25602a3e575f4544ac90efe604a2a42d);
        

        circle_c7034d7d01ea4749b0731c4a9b3b4804.bindPopup(popup_a28866c5a38b4e03826e1b37362d93fb)
        ;

        
    
    
            var circle_293942cf8be045d2a87d449eae59757e = L.circle(
                [34.84362683, 128.44107238],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_77096c80399b43b0a4f55c45533e063c);
        
    
        var popup_bd417e3b5569458a8efe83e45fcb21d6 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_3c14311d122542b7b068674abf9a7208 = $(`<div id="html_3c14311d122542b7b068674abf9a7208" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>560</td>       <td>38448670</td>       <td>-97.0</td>       <td>24.0</td>       <td>None</td>       <td>52.187</td>     </tr>   </tbody> </table></div>`)[0];
            popup_bd417e3b5569458a8efe83e45fcb21d6.setContent(html_3c14311d122542b7b068674abf9a7208);
        

        circle_293942cf8be045d2a87d449eae59757e.bindPopup(popup_bd417e3b5569458a8efe83e45fcb21d6)
        ;

        
    
    
            var circle_d0a80c15503c4a68a89cb2dbceef684c = L.circle(
                [34.84362683, 128.44107238],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_77096c80399b43b0a4f55c45533e063c);
        
    
        var popup_1026dd4bd6ad4ebf96871c3e20ab8435 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_2de1d3617af246fda290c360c93cf990 = $(`<div id="html_2de1d3617af246fda290c360c93cf990" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>560</td>       <td>38448670</td>       <td>-89.0</td>       <td>30.0</td>       <td>None</td>       <td>79.476</td>     </tr>   </tbody> </table></div>`)[0];
            popup_1026dd4bd6ad4ebf96871c3e20ab8435.setContent(html_2de1d3617af246fda290c360c93cf990);
        

        circle_d0a80c15503c4a68a89cb2dbceef684c.bindPopup(popup_1026dd4bd6ad4ebf96871c3e20ab8435)
        ;

        
    
    
            var circle_ddf450bc7e8c46edbdd484636aff4937 = L.circle(
                [34.84367294, 128.43905043],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "yellow", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_77096c80399b43b0a4f55c45533e063c);
        
    
        var popup_92375a0f00904a2ca7883bf24eaf2a5d = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_9752b956cbc446dfac320ed9022dbe56 = $(`<div id="html_9752b956cbc446dfac320ed9022dbe56" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>127</td>       <td>38448670</td>       <td>-85.0</td>       <td>32.0</td>       <td>None</td>       <td>88.481</td>     </tr>   </tbody> </table></div>`)[0];
            popup_92375a0f00904a2ca7883bf24eaf2a5d.setContent(html_9752b956cbc446dfac320ed9022dbe56);
        

        circle_ddf450bc7e8c46edbdd484636aff4937.bindPopup(popup_92375a0f00904a2ca7883bf24eaf2a5d)
        ;

        
    
    
            var circle_7a85753b24494126a09fb76a0f0cfd0e = L.circle(
                [34.84377435, 128.43746361],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_77096c80399b43b0a4f55c45533e063c);
        
    
        var popup_1082f6011e814c6cb2b8d395491cdb16 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_12747e7c61fc4679a43452c8e7851f9d = $(`<div id="html_12747e7c61fc4679a43452c8e7851f9d" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>127</td>       <td>38448670</td>       <td>-88.0</td>       <td>27.5</td>       <td>None</td>       <td>93.081</td>     </tr>   </tbody> </table></div>`)[0];
            popup_1082f6011e814c6cb2b8d395491cdb16.setContent(html_12747e7c61fc4679a43452c8e7851f9d);
        

        circle_7a85753b24494126a09fb76a0f0cfd0e.bindPopup(popup_1082f6011e814c6cb2b8d395491cdb16)
        ;

        
    
    
            var circle_943239d6caed4eacacacf1d9b80b97e9 = L.circle(
                [34.84450147, 128.43480538],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "orange", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_77096c80399b43b0a4f55c45533e063c);
        
    
        var popup_b0a5fd4296794f8f8fb94915902ae513 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_f920901135c74134b00afebd43e9aed1 = $(`<div id="html_f920901135c74134b00afebd43e9aed1" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>126</td>       <td>38448670</td>       <td>-67.0</td>       <td>37.5</td>       <td>None</td>       <td>97.21</td>     </tr>   </tbody> </table></div>`)[0];
            popup_b0a5fd4296794f8f8fb94915902ae513.setContent(html_f920901135c74134b00afebd43e9aed1);
        

        circle_943239d6caed4eacacacf1d9b80b97e9.bindPopup(popup_b0a5fd4296794f8f8fb94915902ae513)
        ;

        
    
    
            var circle_ff416c760dd54f168809590db19c4c55 = L.circle(
                [34.8434996, 128.43245915],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_77096c80399b43b0a4f55c45533e063c);
        
    
        var popup_8279fba6732f4faea8ed30606b619901 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_86d8a4be1e304ccb90ed951c35ae8025 = $(`<div id="html_86d8a4be1e304ccb90ed951c35ae8025" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>24</td>       <td>38142734</td>       <td>-92.0</td>       <td>18.5</td>       <td>None</td>       <td>66.067</td>     </tr>   </tbody> </table></div>`)[0];
            popup_8279fba6732f4faea8ed30606b619901.setContent(html_86d8a4be1e304ccb90ed951c35ae8025);
        

        circle_ff416c760dd54f168809590db19c4c55.bindPopup(popup_8279fba6732f4faea8ed30606b619901)
        ;

        
    
    
            var circle_532b80738c9c4c14904892a4e294c5f1 = L.circle(
                [34.84303359, 128.43116685],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_77096c80399b43b0a4f55c45533e063c);
        
    
        var popup_dbfd066fe45648adb31b8405475e5141 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_87be45235ffc4289b2a04ee1c10e46af = $(`<div id="html_87be45235ffc4289b2a04ee1c10e46af" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>222</td>       <td>38142734</td>       <td>-95.0</td>       <td>14.0</td>       <td>None</td>       <td>71.415</td>     </tr>   </tbody> </table></div>`)[0];
            popup_dbfd066fe45648adb31b8405475e5141.setContent(html_87be45235ffc4289b2a04ee1c10e46af);
        

        circle_532b80738c9c4c14904892a4e294c5f1.bindPopup(popup_dbfd066fe45648adb31b8405475e5141)
        ;

        
    
    
            var circle_00ee4c1799164a9ca06edce9a64896d2 = L.circle(
                [34.84593766, 128.4291227],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_77096c80399b43b0a4f55c45533e063c);
        
    
        var popup_bb39184c6e524139ba0200d957375194 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_3f88e315316343fab9c1101696953c64 = $(`<div id="html_3f88e315316343fab9c1101696953c64" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>911</td>       <td>38149905</td>       <td>-87.0</td>       <td>19.0</td>       <td>None</td>       <td>62.371</td>     </tr>   </tbody> </table></div>`)[0];
            popup_bb39184c6e524139ba0200d957375194.setContent(html_3f88e315316343fab9c1101696953c64);
        

        circle_00ee4c1799164a9ca06edce9a64896d2.bindPopup(popup_bb39184c6e524139ba0200d957375194)
        ;

        
    
    
            var circle_db16d8fa41d544fab6b4bec73affcfb4 = L.circle(
                [34.84792833, 128.42881453],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "yellow", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_77096c80399b43b0a4f55c45533e063c);
        
    
        var popup_e58075b554694e7a94cc0f66a5acc9f0 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_2b8bcc05b56948a7b26a71f082404563 = $(`<div id="html_2b8bcc05b56948a7b26a71f082404563" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>662</td>       <td>38143759</td>       <td>-85.0</td>       <td>25.0</td>       <td>None</td>       <td>111.09</td>     </tr>   </tbody> </table></div>`)[0];
            popup_e58075b554694e7a94cc0f66a5acc9f0.setContent(html_2b8bcc05b56948a7b26a71f082404563);
        

        circle_db16d8fa41d544fab6b4bec73affcfb4.bindPopup(popup_e58075b554694e7a94cc0f66a5acc9f0)
        ;

        
    
    
            var circle_0e3707c533334b80a653d64841df00be = L.circle(
                [34.8496532, 128.42839522],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_77096c80399b43b0a4f55c45533e063c);
        
    
        var popup_a8859c4b570c4b9b95187f85ab7f2816 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_8debfddcd035456bb6f0efc699e86326 = $(`<div id="html_8debfddcd035456bb6f0efc699e86326" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>562</td>       <td>38448926</td>       <td>-86.0</td>       <td>21.0</td>       <td>None</td>       <td>102.361</td>     </tr>   </tbody> </table></div>`)[0];
            popup_a8859c4b570c4b9b95187f85ab7f2816.setContent(html_8debfddcd035456bb6f0efc699e86326);
        

        circle_0e3707c533334b80a653d64841df00be.bindPopup(popup_a8859c4b570c4b9b95187f85ab7f2816)
        ;

        
    
    
            var circle_e41a039ad7bb410eb1bbd28c625e572a = L.circle(
                [34.85030279, 128.42879208],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "yellow", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_77096c80399b43b0a4f55c45533e063c);
        
    
        var popup_798bca79ea81486098c15659c0d24b7a = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_16e0ea4c121346b2828bdb0698bff8a4 = $(`<div id="html_16e0ea4c121346b2828bdb0698bff8a4" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>764</td>       <td>38153246</td>       <td>-85.0</td>       <td>21.0</td>       <td>None</td>       <td>101.928</td>     </tr>   </tbody> </table></div>`)[0];
            popup_798bca79ea81486098c15659c0d24b7a.setContent(html_16e0ea4c121346b2828bdb0698bff8a4);
        

        circle_e41a039ad7bb410eb1bbd28c625e572a.bindPopup(popup_798bca79ea81486098c15659c0d24b7a)
        ;

        
    
    
            var circle_d71bd4b70bd545b8a7972fafc822432f = L.circle(
                [34.8501917, 128.43076315],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_77096c80399b43b0a4f55c45533e063c);
        
    
        var popup_f417714578aa492d8c07cb2c2b98abde = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_0451f10f787c438c89792abaa13b8856 = $(`<div id="html_0451f10f787c438c89792abaa13b8856" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>521</td>       <td>38448913</td>       <td>-89.0</td>       <td>17.0</td>       <td>None</td>       <td>79.476</td>     </tr>   </tbody> </table></div>`)[0];
            popup_f417714578aa492d8c07cb2c2b98abde.setContent(html_0451f10f787c438c89792abaa13b8856);
        

        circle_d71bd4b70bd545b8a7972fafc822432f.bindPopup(popup_f417714578aa492d8c07cb2c2b98abde)
        ;

        
    
    
            var circle_88d522ebbd0d4efaac376fe78b5196d8 = L.circle(
                [34.84925178, 128.4293426],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_77096c80399b43b0a4f55c45533e063c);
        
    
        var popup_5edfccd83f9345e28f798539fac6f4c2 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_a8e53731370843f59311197d5401efa3 = $(`<div id="html_a8e53731370843f59311197d5401efa3" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>562</td>       <td>38448926</td>       <td>-99.0</td>       <td>15.5</td>       <td>None</td>       <td>61.427</td>     </tr>   </tbody> </table></div>`)[0];
            popup_5edfccd83f9345e28f798539fac6f4c2.setContent(html_a8e53731370843f59311197d5401efa3);
        

        circle_88d522ebbd0d4efaac376fe78b5196d8.bindPopup(popup_5edfccd83f9345e28f798539fac6f4c2)
        ;

        
    
    
            var circle_ba14993a5c4745a790eaa77ec4caf463 = L.circle(
                [34.84684053, 128.42866931],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "yellow", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_77096c80399b43b0a4f55c45533e063c);
        
    
        var popup_e9177a0aee6540bdaa19934b287abe16 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_3771f8e91b914d48b35d8cb92b90ce6c = $(`<div id="html_3771f8e91b914d48b35d8cb92b90ce6c" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>757</td>       <td>38143759</td>       <td>-80.0</td>       <td>28.5</td>       <td>None</td>       <td>107.001</td>     </tr>   </tbody> </table></div>`)[0];
            popup_e9177a0aee6540bdaa19934b287abe16.setContent(html_3771f8e91b914d48b35d8cb92b90ce6c);
        

        circle_ba14993a5c4745a790eaa77ec4caf463.bindPopup(popup_e9177a0aee6540bdaa19934b287abe16)
        ;

        
    
    
            var circle_e551ae85b8944123a9e8baa85ece6216 = L.circle(
                [34.84496568, 128.43001629],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "orange", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_77096c80399b43b0a4f55c45533e063c);
        
    
        var popup_ef442dd565b840b598b78e1fe815adb8 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_3cccd0daad9248d4aad77261b344e3ff = $(`<div id="html_3cccd0daad9248d4aad77261b344e3ff" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>214</td>       <td>38149905</td>       <td>-75.0</td>       <td>29.5</td>       <td>None</td>       <td>97.721</td>     </tr>   </tbody> </table></div>`)[0];
            popup_ef442dd565b840b598b78e1fe815adb8.setContent(html_3cccd0daad9248d4aad77261b344e3ff);
        

        circle_e551ae85b8944123a9e8baa85ece6216.bindPopup(popup_ef442dd565b840b598b78e1fe815adb8)
        ;

        
    
    
            var circle_fee367cea68a4ba58db6f5dc2de55fe7 = L.circle(
                [34.84437396, 128.42960146],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_77096c80399b43b0a4f55c45533e063c);
        
    
        var popup_daaacebe78694448b3d468626450cafb = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_935decd08ff34997bd342464872475ca = $(`<div id="html_935decd08ff34997bd342464872475ca" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>2</td>       <td>38149905</td>       <td>-92.0</td>       <td>22.5</td>       <td>None</td>       <td>84.155</td>     </tr>   </tbody> </table></div>`)[0];
            popup_daaacebe78694448b3d468626450cafb.setContent(html_935decd08ff34997bd342464872475ca);
        

        circle_fee367cea68a4ba58db6f5dc2de55fe7.bindPopup(popup_daaacebe78694448b3d468626450cafb)
        ;

        
    
    
            var circle_4d1a52abf10e480c89b7e065d7f9597c = L.circle(
                [34.84437315, 128.42958716],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_77096c80399b43b0a4f55c45533e063c);
        
    
        var popup_37ff2bad8a7546cdb60825515ab0869e = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_38f15a51ee284b7d90ec800fa1262e71 = $(`<div id="html_38f15a51ee284b7d90ec800fa1262e71" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>2</td>       <td>38149905</td>       <td>-90.0</td>       <td>21.0</td>       <td>None</td>       <td>83.683</td>     </tr>   </tbody> </table></div>`)[0];
            popup_37ff2bad8a7546cdb60825515ab0869e.setContent(html_38f15a51ee284b7d90ec800fa1262e71);
        

        circle_4d1a52abf10e480c89b7e065d7f9597c.bindPopup(popup_37ff2bad8a7546cdb60825515ab0869e)
        ;

        
    
    
            var circle_7edd17c5a96a4ebb86523475d49154c7 = L.circle(
                [34.84304494, 128.43129031],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_77096c80399b43b0a4f55c45533e063c);
        
    
        var popup_ab8ff340deb0448e8279be5d4ad58183 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_ca445d18bbc24979bde1e63da68b0543 = $(`<div id="html_ca445d18bbc24979bde1e63da68b0543" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>24</td>       <td>38142736</td>       <td>-91.0</td>       <td>16.0</td>       <td>None</td>       <td>65.595</td>     </tr>   </tbody> </table></div>`)[0];
            popup_ab8ff340deb0448e8279be5d4ad58183.setContent(html_ca445d18bbc24979bde1e63da68b0543);
        

        circle_7edd17c5a96a4ebb86523475d49154c7.bindPopup(popup_ab8ff340deb0448e8279be5d4ad58183)
        ;

        
    
    
            var circle_184e3a689f104d7ea21aa64a1f30ea4a = L.circle(
                [34.84326078, 128.4302924],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_77096c80399b43b0a4f55c45533e063c);
        
    
        var popup_ae6c32beb2f542ba8932e98c153329f6 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_ad2ffb6e0ee04a819a1a2fe0c886d15f = $(`<div id="html_ad2ffb6e0ee04a819a1a2fe0c886d15f" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>621</td>       <td>38142736</td>       <td>-103.0</td>       <td>11.0</td>       <td>None</td>       <td>66.264</td>     </tr>   </tbody> </table></div>`)[0];
            popup_ae6c32beb2f542ba8932e98c153329f6.setContent(html_ad2ffb6e0ee04a819a1a2fe0c886d15f);
        

        circle_184e3a689f104d7ea21aa64a1f30ea4a.bindPopup(popup_ae6c32beb2f542ba8932e98c153329f6)
        ;

        
    
    
            var circle_0e2aacc6c9d04313b61a6e899da93096 = L.circle(
                [34.84476505, 128.43022072],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "yellow", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_77096c80399b43b0a4f55c45533e063c);
        
    
        var popup_521af9d01b894b6b846aef4c1c4a92db = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_51deec8acb7e4377a4a7c3f49f173c2c = $(`<div id="html_51deec8acb7e4377a4a7c3f49f173c2c" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>214</td>       <td>38149905</td>       <td>-77.0</td>       <td>32.0</td>       <td>None</td>       <td>93.081</td>     </tr>   </tbody> </table></div>`)[0];
            popup_521af9d01b894b6b846aef4c1c4a92db.setContent(html_51deec8acb7e4377a4a7c3f49f173c2c);
        

        circle_0e2aacc6c9d04313b61a6e899da93096.bindPopup(popup_521af9d01b894b6b846aef4c1c4a92db)
        ;

        
    
    
            var circle_f60132c6046d40388187f5b4f29f25a3 = L.circle(
                [34.8459922, 128.42939891],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_77096c80399b43b0a4f55c45533e063c);
        
    
        var popup_67b7bece7dbb477eb84d484f0c33d550 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_facaf44508ce424fbfadd14ab0d9fa89 = $(`<div id="html_facaf44508ce424fbfadd14ab0d9fa89" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>214</td>       <td>38149905</td>       <td>-97.0</td>       <td>10.0</td>       <td>None</td>       <td>65.753</td>     </tr>   </tbody> </table></div>`)[0];
            popup_67b7bece7dbb477eb84d484f0c33d550.setContent(html_facaf44508ce424fbfadd14ab0d9fa89);
        

        circle_f60132c6046d40388187f5b4f29f25a3.bindPopup(popup_67b7bece7dbb477eb84d484f0c33d550)
        ;

        
    
    
            var circle_9f7df904d41b47ca93803576fce63a1e = L.circle(
                [34.8480251, 128.42889348],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_77096c80399b43b0a4f55c45533e063c);
        
    
        var popup_f4b5952f923742dd998e71072a939c79 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_977113f1f77340d0b59261b6671c4bde = $(`<div id="html_977113f1f77340d0b59261b6671c4bde" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>662</td>       <td>38143759</td>       <td>-93.0</td>       <td>15.5</td>       <td>None</td>       <td>97.407</td>     </tr>   </tbody> </table></div>`)[0];
            popup_f4b5952f923742dd998e71072a939c79.setContent(html_977113f1f77340d0b59261b6671c4bde);
        

        circle_9f7df904d41b47ca93803576fce63a1e.bindPopup(popup_f4b5952f923742dd998e71072a939c79)
        ;

        
    
    
            var circle_770f7814fba54f6eb55e76f09b344120 = L.circle(
                [34.85006653, 128.42859049],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_77096c80399b43b0a4f55c45533e063c);
        
    
        var popup_bc617465218343169fcbcca3bd564baa = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_81c0b336a8ce4271ba476e14317615c2 = $(`<div id="html_81c0b336a8ce4271ba476e14317615c2" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>521</td>       <td>38153246</td>       <td>-100.0</td>       <td>13.0</td>       <td>None</td>       <td>58.36</td>     </tr>   </tbody> </table></div>`)[0];
            popup_bc617465218343169fcbcca3bd564baa.setContent(html_81c0b336a8ce4271ba476e14317615c2);
        

        circle_770f7814fba54f6eb55e76f09b344120.bindPopup(popup_bc617465218343169fcbcca3bd564baa)
        ;

        
    
    
            var circle_07fd024fad4d4c42901928aaf2d18cee = L.circle(
                [34.85006653, 128.42859049],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_77096c80399b43b0a4f55c45533e063c);
        
    
        var popup_379d8f6058a64c208461734e5bc517a4 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_cb2090c6a3ad42479609875ad2c16dc4 = $(`<div id="html_cb2090c6a3ad42479609875ad2c16dc4" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>521</td>       <td>38153246</td>       <td>-97.0</td>       <td>15.0</td>       <td>612.217</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_379d8f6058a64c208461734e5bc517a4.setContent(html_cb2090c6a3ad42479609875ad2c16dc4);
        

        circle_07fd024fad4d4c42901928aaf2d18cee.bindPopup(popup_379d8f6058a64c208461734e5bc517a4)
        ;

        
    
    
            var circle_202c30d8a9c349b09743d8fd49f7ba87 = L.circle(
                [34.85044374, 128.42890356],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_77096c80399b43b0a4f55c45533e063c);
        
    
        var popup_e343e531c5144a009a6c051b8f3944c9 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_1e3551e6c93a490d9824a10d6f49aafb = $(`<div id="html_1e3551e6c93a490d9824a10d6f49aafb" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>764</td>       <td>38153246</td>       <td>-86.0</td>       <td>23.0</td>       <td>731.363</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_e343e531c5144a009a6c051b8f3944c9.setContent(html_1e3551e6c93a490d9824a10d6f49aafb);
        

        circle_202c30d8a9c349b09743d8fd49f7ba87.bindPopup(popup_e343e531c5144a009a6c051b8f3944c9)
        ;

        
    
    
            var circle_1e8a134298034c12ad52313d6464438d = L.circle(
                [34.85211892, 128.42875818],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "yellow", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_77096c80399b43b0a4f55c45533e063c);
        
    
        var popup_2adfe961ac15454181e91ee0cde2e5a4 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_b5d1e267cb264fe4bd41a00395911414 = $(`<div id="html_b5d1e267cb264fe4bd41a00395911414" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>234</td>       <td>38153246</td>       <td>-84.0</td>       <td>30.5</td>       <td>723.538</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_2adfe961ac15454181e91ee0cde2e5a4.setContent(html_b5d1e267cb264fe4bd41a00395911414);
        

        circle_1e8a134298034c12ad52313d6464438d.bindPopup(popup_2adfe961ac15454181e91ee0cde2e5a4)
        ;

        
    
    
            var circle_aa91ca1bfefd4d9da7d180f3dce13609 = L.circle(
                [34.85192338, 128.42810909],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "yellow", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_77096c80399b43b0a4f55c45533e063c);
        
    
        var popup_2d1d1194f9504a75b90f9bd99b9e31c3 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_bee3669cbeed4a169b78a4f38d2d9b25 = $(`<div id="html_bee3669cbeed4a169b78a4f38d2d9b25" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>234</td>       <td>38149390</td>       <td>-82.0</td>       <td>30.0</td>       <td>629.66</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_2d1d1194f9504a75b90f9bd99b9e31c3.setContent(html_bee3669cbeed4a169b78a4f38d2d9b25);
        

        circle_aa91ca1bfefd4d9da7d180f3dce13609.bindPopup(popup_2d1d1194f9504a75b90f9bd99b9e31c3)
        ;

        
    
    
            var circle_e3bb84b87928463e825b828adaf2394b = L.circle(
                [34.84964757, 128.4261198],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "yellow", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 29.0, "stroke": true, "weight": 1}
            ).addTo(feature_group_77096c80399b43b0a4f55c45533e063c);
        
    
        var popup_f3260233e7d041b2a5de1cd63d59c6fd = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_0aa2e761b23b473282c16851b446048e = $(`<div id="html_0aa2e761b23b473282c16851b446048e" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>543</td>       <td>38143758</td>       <td>-84.0</td>       <td>24.5</td>       <td>968.307</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_f3260233e7d041b2a5de1cd63d59c6fd.setContent(html_0aa2e761b23b473282c16851b446048e);
        

        circle_e3bb84b87928463e825b828adaf2394b.bindPopup(popup_f3260233e7d041b2a5de1cd63d59c6fd)
        ;

        
    
</script>