<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_cc6293f7f13940a39d5b212a41ca9be4 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_cc6293f7f13940a39d5b212a41ca9be4" ></div>
        
</body>
<script>    
    
            var map_cc6293f7f13940a39d5b212a41ca9be4 = L.map(
                "map_cc6293f7f13940a39d5b212a41ca9be4",
                {
                    center: [34.97065722, 128.06343984],
                    crs: L.CRS.EPSG3857,
                    zoom: 15,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_3ec09404478944ba8e6ff238596158bf = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_cc6293f7f13940a39d5b212a41ca9be4);
        
    
            var marker_68b6562ac3b641c38de36e97877ebdf6 = L.marker(
                [34.97065722, 128.06343984],
                {"iconSize": [10, 10]}
            ).addTo(map_cc6293f7f13940a39d5b212a41ca9be4);
        
    
            var icon_db5acc11995c4cd5a9378f81a54783da = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "star", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_68b6562ac3b641c38de36e97877ebdf6.setIcon(icon_db5acc11995c4cd5a9378f81a54783da);
        
    
            var poly_line_d756fcff0c5f487faeaaf87c389125a0 = L.polyline(
                [[34.97065722, 128.06343984], [34.97063331, 128.06344327], [34.97064098, 128.06345582], [34.97060696, 128.06272419], [34.96952624, 128.06283729], [34.96784475, 128.06368727], [34.96719208, 128.06243622], [34.97078469, 128.06130035], [34.97563895, 128.05943878], [34.97468197, 128.05324469], [34.97857827, 128.05122944], [34.98091718, 128.04667746], [34.98299793, 128.04399364], [34.985071, 128.04431075], [34.98758813, 128.04377057], [34.98991582, 128.04180529], [34.99166311, 128.04009129], [34.99295054, 128.03958301], [34.99516137, 128.03921255], [34.99843116, 128.03916038], [34.9990068, 128.03973153]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_cc6293f7f13940a39d5b212a41ca9be4);
        
    
            var feature_group_49431e18f21c4a8da8920bd9e50c378f = L.featureGroup(
                {}
            ).addTo(map_cc6293f7f13940a39d5b212a41ca9be4);
        
    
            var circle_e02100cd591b4254b4d07df465554c8e = L.circle(
                [34.97065722, 128.06343984],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_49431e18f21c4a8da8920bd9e50c378f);
        
    
        var popup_1c087e51bb144e0c97ac941eb25c092c = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_82e3f39ebead453cb1dea652586cc9f2 = $(`<div id="html_82e3f39ebead453cb1dea652586cc9f2" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>154</td>       <td>44342024</td>       <td>-100.0</td>       <td>15.0</td>       <td>454.975</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_1c087e51bb144e0c97ac941eb25c092c.setContent(html_82e3f39ebead453cb1dea652586cc9f2);
        

        circle_e02100cd591b4254b4d07df465554c8e.bindPopup(popup_1c087e51bb144e0c97ac941eb25c092c)
        ;

        
    
    
            var circle_ad1ff8dc025d4a318cf4b9d77bd0be0c = L.circle(
                [34.97063331, 128.06344327],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_49431e18f21c4a8da8920bd9e50c378f);
        
    
        var popup_77b42aa227f944208cd33e8f9c2923e7 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_2383737dc0514897b93e925ca7ce8748 = $(`<div id="html_2383737dc0514897b93e925ca7ce8748" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>154</td>       <td>44342024</td>       <td>-102.0</td>       <td>20.0</td>       <td>496.943</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_77b42aa227f944208cd33e8f9c2923e7.setContent(html_2383737dc0514897b93e925ca7ce8748);
        

        circle_ad1ff8dc025d4a318cf4b9d77bd0be0c.bindPopup(popup_77b42aa227f944208cd33e8f9c2923e7)
        ;

        
    
    
            var circle_9d2fc9db26b54f29b9e3d2d48e5e05e7 = L.circle(
                [34.97064098, 128.06345582],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_49431e18f21c4a8da8920bd9e50c378f);
        
    
        var popup_cbfb387e4891436fb110bd43f3c64f65 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_706e7692bc53475faeed74735e1bad26 = $(`<div id="html_706e7692bc53475faeed74735e1bad26" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>154</td>       <td>44342024</td>       <td>-104.0</td>       <td>18.0</td>       <td>493.309</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_cbfb387e4891436fb110bd43f3c64f65.setContent(html_706e7692bc53475faeed74735e1bad26);
        

        circle_9d2fc9db26b54f29b9e3d2d48e5e05e7.bindPopup(popup_cbfb387e4891436fb110bd43f3c64f65)
        ;

        
    
    
            var circle_38dee63448114c1ba00967ee554bf447 = L.circle(
                [34.97060696, 128.06272419],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_49431e18f21c4a8da8920bd9e50c378f);
        
    
        var popup_9c3dbd27901c47449877e9024feca813 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_f1dabc4b002a4bf180807c9f2b3db230 = $(`<div id="html_f1dabc4b002a4bf180807c9f2b3db230" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>154</td>       <td>44342024</td>       <td>-95.0</td>       <td>19.5</td>       <td>665.8</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_9c3dbd27901c47449877e9024feca813.setContent(html_f1dabc4b002a4bf180807c9f2b3db230);
        

        circle_38dee63448114c1ba00967ee554bf447.bindPopup(popup_9c3dbd27901c47449877e9024feca813)
        ;

        
    
    
            var circle_fbff9ba5ebc643efb839e7b77ef33acb = L.circle(
                [34.96952624, 128.06283729],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "yellow", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_49431e18f21c4a8da8920bd9e50c378f);
        
    
        var popup_4bdee46b69d44c62b9985a2002a4d0d2 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_9b738e9ccc7f404489a0e76d7d415b17 = $(`<div id="html_9b738e9ccc7f404489a0e76d7d415b17" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>174</td>       <td>44342287</td>       <td>-85.0</td>       <td>33.5</td>       <td>808.729</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_4bdee46b69d44c62b9985a2002a4d0d2.setContent(html_9b738e9ccc7f404489a0e76d7d415b17);
        

        circle_fbff9ba5ebc643efb839e7b77ef33acb.bindPopup(popup_4bdee46b69d44c62b9985a2002a4d0d2)
        ;

        
    
    
            var circle_01cc384d70fa4773ab7768c1bb3ecd36 = L.circle(
                [34.96784475, 128.06368727],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_49431e18f21c4a8da8920bd9e50c378f);
        
    
        var popup_619a11e94141442899031b3d4e26324e = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_a9e22d9533e64dd1b2e96122da923436 = $(`<div id="html_a9e22d9533e64dd1b2e96122da923436" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>174</td>       <td>44342287</td>       <td>-86.0</td>       <td>22.5</td>       <td>941.206</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_619a11e94141442899031b3d4e26324e.setContent(html_a9e22d9533e64dd1b2e96122da923436);
        

        circle_01cc384d70fa4773ab7768c1bb3ecd36.bindPopup(popup_619a11e94141442899031b3d4e26324e)
        ;

        
    
    
            var circle_8edf1854d067412293f95feeab89ad18 = L.circle(
                [34.96719208, 128.06243622],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "yellow", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_49431e18f21c4a8da8920bd9e50c378f);
        
    
        var popup_8b1c6eff8fe74e4494b5702c1bd9a2cb = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_a22b690b47904461861a717be09d19e8 = $(`<div id="html_a22b690b47904461861a717be09d19e8" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>158</td>       <td>44342028</td>       <td>-78.0</td>       <td>31.5</td>       <td>721.387</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_8b1c6eff8fe74e4494b5702c1bd9a2cb.setContent(html_a22b690b47904461861a717be09d19e8);
        

        circle_8edf1854d067412293f95feeab89ad18.bindPopup(popup_8b1c6eff8fe74e4494b5702c1bd9a2cb)
        ;

        
    
    
            var circle_3b0f782dd99448ddb2966690c5ccd48e = L.circle(
                [34.97078469, 128.06130035],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_49431e18f21c4a8da8920bd9e50c378f);
        
    
        var popup_2c7534259cac40aea23f69b0eaab302b = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_40f2065fe1e243739557052237ccf227 = $(`<div id="html_40f2065fe1e243739557052237ccf227" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>154</td>       <td>44342278</td>       <td>-90.0</td>       <td>29.0</td>       <td>390.21</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_2c7534259cac40aea23f69b0eaab302b.setContent(html_40f2065fe1e243739557052237ccf227);
        

        circle_3b0f782dd99448ddb2966690c5ccd48e.bindPopup(popup_2c7534259cac40aea23f69b0eaab302b)
        ;

        
    
    
            var circle_dc276f403b9e4e14bad803a1fd4f5594 = L.circle(
                [34.97563895, 128.05943878],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_49431e18f21c4a8da8920bd9e50c378f);
        
    
        var popup_2dae0c64ade14412bedc364896d046b5 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_718fa3c3282544329a2eb17c7955de09 = $(`<div id="html_718fa3c3282544329a2eb17c7955de09" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>149</td>       <td>44342024</td>       <td>-89.0</td>       <td>30.5</td>       <td>762.833</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_2dae0c64ade14412bedc364896d046b5.setContent(html_718fa3c3282544329a2eb17c7955de09);
        

        circle_dc276f403b9e4e14bad803a1fd4f5594.bindPopup(popup_2dae0c64ade14412bedc364896d046b5)
        ;

        
    
    
            var circle_432fef8833ef4233944155f2cbd7d1d9 = L.circle(
                [34.97468197, 128.05324469],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_49431e18f21c4a8da8920bd9e50c378f);
        
    
        var popup_c492d360331f46209abb2c543deb5b4f = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_01e452b457614aa39a5b4df441e786cd = $(`<div id="html_01e452b457614aa39a5b4df441e786cd" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>376</td>       <td>44342024</td>       <td>-89.0</td>       <td>11.2</td>       <td>150.454</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_c492d360331f46209abb2c543deb5b4f.setContent(html_01e452b457614aa39a5b4df441e786cd);
        

        circle_432fef8833ef4233944155f2cbd7d1d9.bindPopup(popup_c492d360331f46209abb2c543deb5b4f)
        ;

        
    
    
            var circle_839f61ba0e5e4833ab5944e73ede0d2d = L.circle(
                [34.97857827, 128.05122944],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "yellow", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_49431e18f21c4a8da8920bd9e50c378f);
        
    
        var popup_6525f835592044329f22ec12f5e728d8 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_4e622fe1c0ba42af942d7916a7e2735b = $(`<div id="html_4e622fe1c0ba42af942d7916a7e2735b" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>371</td>       <td>44342288</td>       <td>-84.0</td>       <td>-2.0</td>       <td>170.92</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_6525f835592044329f22ec12f5e728d8.setContent(html_4e622fe1c0ba42af942d7916a7e2735b);
        

        circle_839f61ba0e5e4833ab5944e73ede0d2d.bindPopup(popup_6525f835592044329f22ec12f5e728d8)
        ;

        
    
    
            var circle_00d29cdd906c4f36a8412150dac1a9b6 = L.circle(
                [34.98091718, 128.04667746],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_49431e18f21c4a8da8920bd9e50c378f);
        
    
        var popup_21816baaff8040ea93044e45c4331ffd = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_6a5e6c01d7324c588c957416dcb22c4e = $(`<div id="html_6a5e6c01d7324c588c957416dcb22c4e" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>10</td>       <td>44342031</td>       <td>-97.0</td>       <td>29.0</td>       <td>743.044</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_21816baaff8040ea93044e45c4331ffd.setContent(html_6a5e6c01d7324c588c957416dcb22c4e);
        

        circle_00d29cdd906c4f36a8412150dac1a9b6.bindPopup(popup_21816baaff8040ea93044e45c4331ffd)
        ;

        
    
    
            var circle_031edbe0bcbc4fb2bdae3d3c2c5fe522 = L.circle(
                [34.98299793, 128.04399364],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "black", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_49431e18f21c4a8da8920bd9e50c378f);
        
    
        var popup_9f485a48102d40b5909ad3270c20279c = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_7aeb520d80e74cb1b1659fa29a9466dd = $(`<div id="html_7aeb520d80e74cb1b1659fa29a9466dd" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>10</td>       <td>42399776</td>       <td>0.0</td>       <td>0.0</td>       <td>128.846</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_9f485a48102d40b5909ad3270c20279c.setContent(html_7aeb520d80e74cb1b1659fa29a9466dd);
        

        circle_031edbe0bcbc4fb2bdae3d3c2c5fe522.bindPopup(popup_9f485a48102d40b5909ad3270c20279c)
        ;

        
    
    
            var circle_f1ebee5c93a8496e8bf7ac53c0b9c5d7 = L.circle(
                [34.985071, 128.04431075],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "black", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_49431e18f21c4a8da8920bd9e50c378f);
        
    
        var popup_900bdee6611e4f968dac3d2ef51040e2 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_3faf1ad44cd64e53af864b40c3a49864 = $(`<div id="html_3faf1ad44cd64e53af864b40c3a49864" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>149</td>       <td>42399776</td>       <td>-110.0</td>       <td>7.0</td>       <td>125.69</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_900bdee6611e4f968dac3d2ef51040e2.setContent(html_3faf1ad44cd64e53af864b40c3a49864);
        

        circle_f1ebee5c93a8496e8bf7ac53c0b9c5d7.bindPopup(popup_900bdee6611e4f968dac3d2ef51040e2)
        ;

        
    
    
            var circle_429c2f1a062742d69895d88ee9d30a57 = L.circle(
                [34.98758813, 128.04377057],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "black", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_49431e18f21c4a8da8920bd9e50c378f);
        
    
        var popup_5ba5eb1ab74348dcb4af645dc6615964 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_4324f7950a6d422092a7dfadb19ced5f = $(`<div id="html_4324f7950a6d422092a7dfadb19ced5f" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>456</td>       <td>42399776</td>       <td>-113.0</td>       <td>5.0</td>       <td>232.847</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_5ba5eb1ab74348dcb4af645dc6615964.setContent(html_4324f7950a6d422092a7dfadb19ced5f);
        

        circle_429c2f1a062742d69895d88ee9d30a57.bindPopup(popup_5ba5eb1ab74348dcb4af645dc6615964)
        ;

        
    
    
            var circle_82a0ec313e1b4eabab7b5202257d8460 = L.circle(
                [34.98991582, 128.04180529],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_49431e18f21c4a8da8920bd9e50c378f);
        
    
        var popup_c85fcb38285e4e6aaaef49d3e08f40bc = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_b6fedac9887a4f28990787d85212bb9b = $(`<div id="html_b6fedac9887a4f28990787d85212bb9b" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>362</td>       <td>44342022</td>       <td>-88.0</td>       <td>9.0</td>       <td>130.304</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_c85fcb38285e4e6aaaef49d3e08f40bc.setContent(html_b6fedac9887a4f28990787d85212bb9b);
        

        circle_82a0ec313e1b4eabab7b5202257d8460.bindPopup(popup_c85fcb38285e4e6aaaef49d3e08f40bc)
        ;

        
    
    
            var circle_b54bd6dfadd14e6c8810891baf3c6876 = L.circle(
                [34.99166311, 128.04009129],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "yellow", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_49431e18f21c4a8da8920bd9e50c378f);
        
    
        var popup_54caf0b3721a4117acda3c91cf5b46a2 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_8e6250cb9c824bff88cb34ee2c0bd8a2 = $(`<div id="html_8e6250cb9c824bff88cb34ee2c0bd8a2" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>362</td>       <td>44342022</td>       <td>-83.0</td>       <td>13.8</td>       <td>160.777</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_54caf0b3721a4117acda3c91cf5b46a2.setContent(html_8e6250cb9c824bff88cb34ee2c0bd8a2);
        

        circle_b54bd6dfadd14e6c8810891baf3c6876.bindPopup(popup_54caf0b3721a4117acda3c91cf5b46a2)
        ;

        
    
    
            var circle_16fc352ae5a847048090081014d8a681 = L.circle(
                [34.99295054, 128.03958301],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "black", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_49431e18f21c4a8da8920bd9e50c378f);
        
    
        var popup_7248623a91d94890a3077d04feff23b4 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_a886fed828dd4d42bd84089fb55d7bcc = $(`<div id="html_a886fed828dd4d42bd84089fb55d7bcc" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>None</td>       <td>42399257</td>       <td>None</td>       <td>0.0</td>       <td>0.0</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_7248623a91d94890a3077d04feff23b4.setContent(html_a886fed828dd4d42bd84089fb55d7bcc);
        

        circle_16fc352ae5a847048090081014d8a681.bindPopup(popup_7248623a91d94890a3077d04feff23b4)
        ;

        
    
    
            var circle_75a77a555aeb40858037f8e56a915d5c = L.circle(
                [34.99516137, 128.03921255],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "black", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_49431e18f21c4a8da8920bd9e50c378f);
        
    
        var popup_2a2e4e60f9bf4ceab6c12247d1105eea = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_ca274bb9dc7f4aea84f1dc42a26b8dec = $(`<div id="html_ca274bb9dc7f4aea84f1dc42a26b8dec" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>None</td>       <td>42399258</td>       <td>None</td>       <td>0.0</td>       <td>0.0</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_2a2e4e60f9bf4ceab6c12247d1105eea.setContent(html_ca274bb9dc7f4aea84f1dc42a26b8dec);
        

        circle_75a77a555aeb40858037f8e56a915d5c.bindPopup(popup_2a2e4e60f9bf4ceab6c12247d1105eea)
        ;

        
    
    
            var circle_78fc8795849345199dbd280855ef3b0b = L.circle(
                [34.99843116, 128.03916038],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_49431e18f21c4a8da8920bd9e50c378f);
        
    
        var popup_c2c4a5b1dd074dc7af50d480dba9063f = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_bb2c2f48bc01401ca4b2aab4b126037b = $(`<div id="html_bb2c2f48bc01401ca4b2aab4b126037b" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>261</td>       <td>42399257</td>       <td>-88.0</td>       <td>8.6</td>       <td>116.577</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_c2c4a5b1dd074dc7af50d480dba9063f.setContent(html_bb2c2f48bc01401ca4b2aab4b126037b);
        

        circle_78fc8795849345199dbd280855ef3b0b.bindPopup(popup_c2c4a5b1dd074dc7af50d480dba9063f)
        ;

        
    
    
            var circle_facaf2e063c84205a0ebe503c64a94e0 = L.circle(
                [34.9990068, 128.03973153],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "yellow", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 29.0, "stroke": true, "weight": 1}
            ).addTo(feature_group_49431e18f21c4a8da8920bd9e50c378f);
        
    
        var popup_a5b2b81beaae498eb09142d1bc7e4b73 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_f7c9e4af8d65457983564eb43ee16272 = $(`<div id="html_f7c9e4af8d65457983564eb43ee16272" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>261</td>       <td>42399257</td>       <td>-83.0</td>       <td>12.4</td>       <td>70.83</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_a5b2b81beaae498eb09142d1bc7e4b73.setContent(html_f7c9e4af8d65457983564eb43ee16272);
        

        circle_facaf2e063c84205a0ebe503c64a94e0.bindPopup(popup_a5b2b81beaae498eb09142d1bc7e4b73)
        ;

        
    
</script>