<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_c4d8487993b54266b81f7d4ffd0f44b1 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_c4d8487993b54266b81f7d4ffd0f44b1" ></div>
        
</body>
<script>    
    
            var map_c4d8487993b54266b81f7d4ffd0f44b1 = L.map(
                "map_c4d8487993b54266b81f7d4ffd0f44b1",
                {
                    center: [34.97066201, 128.06350682],
                    crs: L.CRS.EPSG3857,
                    zoom: 15,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_9dcb14ae00d045538fc4d99295f5b57e = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_c4d8487993b54266b81f7d4ffd0f44b1);
        
    
            var marker_c958cce2e6bd475a91eb4f582da8e147 = L.marker(
                [34.97066201, 128.06350682],
                {"iconSize": [10, 10]}
            ).addTo(map_c4d8487993b54266b81f7d4ffd0f44b1);
        
    
            var icon_d8316ccbedbe4c40afcfc1ec46031ba2 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "star", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_c958cce2e6bd475a91eb4f582da8e147.setIcon(icon_d8316ccbedbe4c40afcfc1ec46031ba2);
        
    
            var circle_075e3e44aa5140528bd78e3d2edbba5d = L.circle(
                [34.97066201, 128.06350682],
                {"bubblingMouseEvents": true, "color": "#3186cc", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3186cc", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(map_c4d8487993b54266b81f7d4ffd0f44b1);
        
    
            var circle_6f84d9fa52784d7f99bb6d400113e829 = L.circle(
                [34.97066201, 128.06350682],
                {"bubblingMouseEvents": true, "color": "#3186cc", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3186cc", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(map_c4d8487993b54266b81f7d4ffd0f44b1);
        
    
            var circle_def1cc1474cf4d7b986a134dee6470d2 = L.circle(
                [34.97066201, 128.06350682],
                {"bubblingMouseEvents": true, "color": "#3186cc", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3186cc", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(map_c4d8487993b54266b81f7d4ffd0f44b1);
        
    
            var circle_1022b2e6684146a9b9c9a089d13370dd = L.circle(
                [34.97067124, 128.06350865],
                {"bubblingMouseEvents": true, "color": "#3186cc", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3186cc", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(map_c4d8487993b54266b81f7d4ffd0f44b1);
        
    
            var circle_458f2b5812f64ad79f686c47635262d4 = L.circle(
                [34.97067124, 128.06350865],
                {"bubblingMouseEvents": true, "color": "#3186cc", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3186cc", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(map_c4d8487993b54266b81f7d4ffd0f44b1);
        
    
            var circle_db0cdce87e07484b832816aa55704d38 = L.circle(
                [34.97067124, 128.06350865],
                {"bubblingMouseEvents": true, "color": "#3186cc", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3186cc", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(map_c4d8487993b54266b81f7d4ffd0f44b1);
        
    
            var circle_8f6db51b29214a90bb84372811749772 = L.circle(
                [34.97067124, 128.06350865],
                {"bubblingMouseEvents": true, "color": "#3186cc", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3186cc", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(map_c4d8487993b54266b81f7d4ffd0f44b1);
        
    
            var circle_7f23aae9ecc14c1eb94c091d4ef2817d = L.circle(
                [34.97067124, 128.06350865],
                {"bubblingMouseEvents": true, "color": "#3186cc", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3186cc", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(map_c4d8487993b54266b81f7d4ffd0f44b1);
        
    
            var circle_a771c6c6acf74655b1641f392ee9b259 = L.circle(
                [34.97062756, 128.06272457],
                {"bubblingMouseEvents": true, "color": "#3186cc", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3186cc", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(map_c4d8487993b54266b81f7d4ffd0f44b1);
        
    
            var circle_3d150f81e60d4e4791fa323189463b32 = L.circle(
                [34.97062463, 128.06266361],
                {"bubblingMouseEvents": true, "color": "#3186cc", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3186cc", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(map_c4d8487993b54266b81f7d4ffd0f44b1);
        
    
            var circle_1a86ee193b0c4b7488c6f7acec3d2260 = L.circle(
                [34.97060816, 128.06267614],
                {"bubblingMouseEvents": true, "color": "#3186cc", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3186cc", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(map_c4d8487993b54266b81f7d4ffd0f44b1);
        
    
            var circle_ff16a2e936bb44f4aeb61cc9d0a0e215 = L.circle(
                [34.97000354, 128.0626556],
                {"bubblingMouseEvents": true, "color": "#3186cc", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3186cc", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(map_c4d8487993b54266b81f7d4ffd0f44b1);
        
    
            var circle_3232757402e1423b831732846281e899 = L.circle(
                [34.99075198, 128.04531183],
                {"bubblingMouseEvents": true, "color": "#3186cc", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3186cc", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(map_c4d8487993b54266b81f7d4ffd0f44b1);
        
    
            var circle_94a091bd2e114353b280599be5e0fcab = L.circle(
                [34.99065396, 128.04529931],
                {"bubblingMouseEvents": true, "color": "#3186cc", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3186cc", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(map_c4d8487993b54266b81f7d4ffd0f44b1);
        
    
            var circle_b5d4e605e66a464295b457523c28487a = L.circle(
                [34.9906912, 128.04533502],
                {"bubblingMouseEvents": true, "color": "#3186cc", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3186cc", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(map_c4d8487993b54266b81f7d4ffd0f44b1);
        
    
            var circle_800bb345e1ac4016abb6aa3932c11b08 = L.circle(
                [34.99063345, 128.04534982],
                {"bubblingMouseEvents": true, "color": "#3186cc", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3186cc", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(map_c4d8487993b54266b81f7d4ffd0f44b1);
        
    
            var circle_3882fb083d254f4aab670a937741357f = L.circle(
                [34.99143513, 128.05104522],
                {"bubblingMouseEvents": true, "color": "#3186cc", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3186cc", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(map_c4d8487993b54266b81f7d4ffd0f44b1);
        
    
            var circle_57805d53f82042e2af953962d2116025 = L.circle(
                [34.99143513, 128.05104522],
                {"bubblingMouseEvents": true, "color": "#3186cc", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3186cc", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(map_c4d8487993b54266b81f7d4ffd0f44b1);
        
    
            var circle_43827e4bfa724729a32d82cf439a1d78 = L.circle(
                [34.98812155, 128.05516589],
                {"bubblingMouseEvents": true, "color": "#3186cc", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3186cc", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(map_c4d8487993b54266b81f7d4ffd0f44b1);
        
    
            var circle_cd072c6f06cf4cac936845e090759812 = L.circle(
                [34.98812155, 128.05516589],
                {"bubblingMouseEvents": true, "color": "#3186cc", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3186cc", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(map_c4d8487993b54266b81f7d4ffd0f44b1);
        
    
            var circle_065e9f4a315c4a35a0d7535b87389bc4 = L.circle(
                [34.98815494, 128.05527001],
                {"bubblingMouseEvents": true, "color": "#3186cc", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3186cc", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(map_c4d8487993b54266b81f7d4ffd0f44b1);
        
    
            var circle_65937b6aa982471c9a7cd46caf535a22 = L.circle(
                [34.98815494, 128.05527001],
                {"bubblingMouseEvents": true, "color": "#3186cc", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3186cc", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(map_c4d8487993b54266b81f7d4ffd0f44b1);
        
    
            var circle_4a08868a509d421ea90074ad92ba4592 = L.circle(
                [34.98814742, 128.05526254],
                {"bubblingMouseEvents": true, "color": "#3186cc", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3186cc", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(map_c4d8487993b54266b81f7d4ffd0f44b1);
        
    
            var circle_7d77eaa1d70d49ae986f9e4bed29ab45 = L.circle(
                [34.98814742, 128.05526254],
                {"bubblingMouseEvents": true, "color": "#3186cc", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3186cc", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(map_c4d8487993b54266b81f7d4ffd0f44b1);
        
    
            var circle_6648f3ac373a43d1b041ab899283be00 = L.circle(
                [34.98814742, 128.05526254],
                {"bubblingMouseEvents": true, "color": "#3186cc", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3186cc", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(map_c4d8487993b54266b81f7d4ffd0f44b1);
        
</script>