<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_2200901840ae47cb8e9238b08da662a0 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_2200901840ae47cb8e9238b08da662a0" ></div>
        
</body>
<script>    
    
            var map_2200901840ae47cb8e9238b08da662a0 = L.map(
                "map_2200901840ae47cb8e9238b08da662a0",
                {
                    center: [34.97065933, 128.06343881],
                    crs: L.CRS.EPSG3857,
                    zoom: 15,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_ba8aa0fad2a04a74b0af943faf1d2e56 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_2200901840ae47cb8e9238b08da662a0);
        
    
            var marker_551ea6252aa2486aa674edc4c631dbb7 = L.marker(
                [34.97065933, 128.06343881],
                {"iconSize": [10, 10]}
            ).addTo(map_2200901840ae47cb8e9238b08da662a0);
        
    
            var icon_3df201d13c8c4847b56d8f3f24369140 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "star", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_551ea6252aa2486aa674edc4c631dbb7.setIcon(icon_3df201d13c8c4847b56d8f3f24369140);
        
    
            var poly_line_106f18282b41493da8760a5e2dacbca0 = L.polyline(
                [[34.97064915, 128.06343489], [34.97069368, 128.06346287], [34.97066503, 128.06351296], [34.97069531, 128.06257753], [34.9695525, 128.06298752], [34.96775931, 128.06373712], [34.96724271, 128.06254163], [34.97030319, 128.06137188], [34.97567934, 128.05931126], [34.97443939, 128.05330004], [34.97844873, 128.05162119], [34.98070201, 128.04678937], [34.98252925, 128.04463701], [34.9862897, 128.04421019], [34.98853371, 128.04311838], [34.990484, 128.0407506], [34.99190845, 128.03989976], [34.99270435, 128.03948221], [34.99394432, 128.03953238], [34.99543507, 128.03916126], [34.99659772, 128.03882626], [34.99781156, 128.03889327], [34.99872377, 128.03955019]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_2200901840ae47cb8e9238b08da662a0);
        
    
            var feature_group_ce1c4876771546a98291901a9e9af612 = L.featureGroup(
                {}
            ).addTo(map_2200901840ae47cb8e9238b08da662a0);
        
    
            var circle_2ec279292e4a454db19873c17307bfff = L.circle(
                [34.97064915, 128.06343489],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_ce1c4876771546a98291901a9e9af612);
        
    
        var popup_41c119aa2a8c40c7b472c5841c75f9d8 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_1353a793e734428db680b0359a576f0c = $(`<div id="html_1353a793e734428db680b0359a576f0c" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>684</td>       <td>37193502</td>       <td>-96.0</td>       <td>20.0</td>       <td>649.875</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_41c119aa2a8c40c7b472c5841c75f9d8.setContent(html_1353a793e734428db680b0359a576f0c);
        

        circle_2ec279292e4a454db19873c17307bfff.bindPopup(popup_41c119aa2a8c40c7b472c5841c75f9d8)
        ;

        
    
    
            var circle_3c294ad99529456894d4b6987b94a5fe = L.circle(
                [34.97069368, 128.06346287],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_ce1c4876771546a98291901a9e9af612);
        
    
        var popup_2a4b76223db8464ba941f1286bf6391b = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_a7d10be0be6945b492c75b8c695261b7 = $(`<div id="html_a7d10be0be6945b492c75b8c695261b7" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>684</td>       <td>37193502</td>       <td>-93.0</td>       <td>21.5</td>       <td>671.118</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_2a4b76223db8464ba941f1286bf6391b.setContent(html_a7d10be0be6945b492c75b8c695261b7);
        

        circle_3c294ad99529456894d4b6987b94a5fe.bindPopup(popup_2a4b76223db8464ba941f1286bf6391b)
        ;

        
    
    
            var circle_ceb0dfd1830b4cf48f4f1c998d8572a8 = L.circle(
                [34.97066503, 128.06351296],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_ce1c4876771546a98291901a9e9af612);
        
    
        var popup_d6178695ec2f4fbf9c4b297a1401fa7c = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_fcb0d16338234644b194d7d3814d57f7 = $(`<div id="html_fcb0d16338234644b194d7d3814d57f7" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>684</td>       <td>37193502</td>       <td>-104.0</td>       <td>14.5</td>       <td>635.199</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_d6178695ec2f4fbf9c4b297a1401fa7c.setContent(html_fcb0d16338234644b194d7d3814d57f7);
        

        circle_ceb0dfd1830b4cf48f4f1c998d8572a8.bindPopup(popup_d6178695ec2f4fbf9c4b297a1401fa7c)
        ;

        
    
    
            var circle_403d69b8f49248dbad9ad9911777f5b6 = L.circle(
                [34.97069531, 128.06257753],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_ce1c4876771546a98291901a9e9af612);
        
    
        var popup_1789403f11b04e4d90b4da7882830008 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_e57a3a65130344c4847fd96845c382e9 = $(`<div id="html_e57a3a65130344c4847fd96845c382e9" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>272</td>       <td>37193502</td>       <td>-97.0</td>       <td>20.0</td>       <td>649.525</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_1789403f11b04e4d90b4da7882830008.setContent(html_e57a3a65130344c4847fd96845c382e9);
        

        circle_403d69b8f49248dbad9ad9911777f5b6.bindPopup(popup_1789403f11b04e4d90b4da7882830008)
        ;

        
    
    
            var circle_da084da259eb47c18187c4dbed107182 = L.circle(
                [34.9695525, 128.06298752],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_ce1c4876771546a98291901a9e9af612);
        
    
        var popup_8b25033a0bfd482299ef39fbba25b416 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_c865c218dfeb4aae9303365b6e29cc39 = $(`<div id="html_c865c218dfeb4aae9303365b6e29cc39" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>684</td>       <td>37193502</td>       <td>-87.0</td>       <td>25.5</td>       <td>745.969</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_8b25033a0bfd482299ef39fbba25b416.setContent(html_c865c218dfeb4aae9303365b6e29cc39);
        

        circle_da084da259eb47c18187c4dbed107182.bindPopup(popup_8b25033a0bfd482299ef39fbba25b416)
        ;

        
    
    
            var circle_c8c3155b2c0348fa971ec843c352a861 = L.circle(
                [34.96775931, 128.06373712],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_ce1c4876771546a98291901a9e9af612);
        
    
        var popup_bad48f8fd50940f899e2db9474d1d75c = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_408c94e7d25d43818e72ee024f1397bc = $(`<div id="html_408c94e7d25d43818e72ee024f1397bc" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>851</td>       <td>37193489</td>       <td>-88.0</td>       <td>29.0</td>       <td>718.519</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_bad48f8fd50940f899e2db9474d1d75c.setContent(html_408c94e7d25d43818e72ee024f1397bc);
        

        circle_c8c3155b2c0348fa971ec843c352a861.bindPopup(popup_bad48f8fd50940f899e2db9474d1d75c)
        ;

        
    
    
            var circle_fb3ae1e6361645d7986a9d77d8549732 = L.circle(
                [34.96724271, 128.06254163],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_ce1c4876771546a98291901a9e9af612);
        
    
        var popup_64f64276b9214606a65ac4808d598d37 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_38f412019b27452f9ecab49d0bbd3326 = $(`<div id="html_38f412019b27452f9ecab49d0bbd3326" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>851</td>       <td>37193489</td>       <td>-101.0</td>       <td>18.0</td>       <td>593.356</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_64f64276b9214606a65ac4808d598d37.setContent(html_38f412019b27452f9ecab49d0bbd3326);
        

        circle_fb3ae1e6361645d7986a9d77d8549732.bindPopup(popup_64f64276b9214606a65ac4808d598d37)
        ;

        
    
    
            var circle_cc46f4af29904ff0a7281bb835d58864 = L.circle(
                [34.97030319, 128.06137188],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_ce1c4876771546a98291901a9e9af612);
        
    
        var popup_cdc42e93bd3743da9356fbbe99301591 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_735916f46c064e87bc50fe7811ee7f24 = $(`<div id="html_735916f46c064e87bc50fe7811ee7f24" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>768</td>       <td>37193502</td>       <td>-94.0</td>       <td>26.0</td>       <td>733.629</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_cdc42e93bd3743da9356fbbe99301591.setContent(html_735916f46c064e87bc50fe7811ee7f24);
        

        circle_cc46f4af29904ff0a7281bb835d58864.bindPopup(popup_cdc42e93bd3743da9356fbbe99301591)
        ;

        
    
    
            var circle_197f7d9f88ef45a08a9f6624b347529b = L.circle(
                [34.97567934, 128.05931126],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_ce1c4876771546a98291901a9e9af612);
        
    
        var popup_7f46737fe86041fe84be10d747b8b417 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_d321086c48d744d1a56ce4d295a7d140 = $(`<div id="html_d321086c48d744d1a56ce4d295a7d140" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>47</td>       <td>37193742</td>       <td>-87.0</td>       <td>32.5</td>       <td>832.998</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_7f46737fe86041fe84be10d747b8b417.setContent(html_d321086c48d744d1a56ce4d295a7d140);
        

        circle_197f7d9f88ef45a08a9f6624b347529b.bindPopup(popup_7f46737fe86041fe84be10d747b8b417)
        ;

        
    
    
            var circle_d4b90fe0ad9c4c2bafef1a938a81a9f2 = L.circle(
                [34.97443939, 128.05330004],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "orange", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_ce1c4876771546a98291901a9e9af612);
        
    
        var popup_c0f3bb3b92df49c1b96aef6367e6b496 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_0a529c5750484719a6538fd9d8a1a4db = $(`<div id="html_0a529c5750484719a6538fd9d8a1a4db" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>491</td>       <td>37193742</td>       <td>-67.0</td>       <td>37.0</td>       <td>754.206</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_c0f3bb3b92df49c1b96aef6367e6b496.setContent(html_0a529c5750484719a6538fd9d8a1a4db);
        

        circle_d4b90fe0ad9c4c2bafef1a938a81a9f2.bindPopup(popup_c0f3bb3b92df49c1b96aef6367e6b496)
        ;

        
    
    
            var circle_bd742b8253994c66a02a0075f116a876 = L.circle(
                [34.97844873, 128.05162119],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_ce1c4876771546a98291901a9e9af612);
        
    
        var popup_3ad3adb13182466fb64acae3ab349dc4 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_71d9d7e2c1d24179b537dc12f5a2e7ad = $(`<div id="html_71d9d7e2c1d24179b537dc12f5a2e7ad" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>104</td>       <td>37193742</td>       <td>-97.0</td>       <td>1.0</td>       <td>398.113</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_3ad3adb13182466fb64acae3ab349dc4.setContent(html_71d9d7e2c1d24179b537dc12f5a2e7ad);
        

        circle_bd742b8253994c66a02a0075f116a876.bindPopup(popup_3ad3adb13182466fb64acae3ab349dc4)
        ;

        
    
    
            var circle_3b295de756694f8081be8e8348feb95c = L.circle(
                [34.98070201, 128.04678937],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_ce1c4876771546a98291901a9e9af612);
        
    
        var popup_b3e0ed9e826742a3a8e087c9d54bf5a9 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_5e3a2aafd9b24db8ad517d45f77cc513 = $(`<div id="html_5e3a2aafd9b24db8ad517d45f77cc513" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>104</td>       <td>37393168</td>       <td>-99.0</td>       <td>11.5</td>       <td>413.726</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_b3e0ed9e826742a3a8e087c9d54bf5a9.setContent(html_5e3a2aafd9b24db8ad517d45f77cc513);
        

        circle_3b295de756694f8081be8e8348feb95c.bindPopup(popup_b3e0ed9e826742a3a8e087c9d54bf5a9)
        ;

        
    
    
            var circle_2b7dce56abe44e9ab3f3bb4c8826177c = L.circle(
                [34.98252925, 128.04463701],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "yellow", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_ce1c4876771546a98291901a9e9af612);
        
    
        var popup_a16a473104ab426e909f63444185daa1 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_0597c19cb0334e01986ecfe43e2ddd4e = $(`<div id="html_0597c19cb0334e01986ecfe43e2ddd4e" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>251</td>       <td>38241024</td>       <td>-81.0</td>       <td>10.4</td>       <td>83.704</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_a16a473104ab426e909f63444185daa1.setContent(html_0597c19cb0334e01986ecfe43e2ddd4e);
        

        circle_2b7dce56abe44e9ab3f3bb4c8826177c.bindPopup(popup_a16a473104ab426e909f63444185daa1)
        ;

        
    
    
            var circle_e100cde9188a4501a63ac0603c9d0899 = L.circle(
                [34.9862897, 128.04421019],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "black", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_ce1c4876771546a98291901a9e9af612);
        
    
        var popup_ad49dc3024454b8e9739d8e0e825aba4 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_d8fd064f3dac46bd9b7391f3b46555fc = $(`<div id="html_d8fd064f3dac46bd9b7391f3b46555fc" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>0</td>       <td>38241024</td>       <td>0.0</td>       <td>0.0</td>       <td>0.0</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_ad49dc3024454b8e9739d8e0e825aba4.setContent(html_d8fd064f3dac46bd9b7391f3b46555fc);
        

        circle_e100cde9188a4501a63ac0603c9d0899.bindPopup(popup_ad49dc3024454b8e9739d8e0e825aba4)
        ;

        
    
    
            var circle_64422cef26334985b8883184178f6965 = L.circle(
                [34.98853371, 128.04311838],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_ce1c4876771546a98291901a9e9af612);
        
    
        var popup_bc020e9a54404a39b7f96c9f5f4d691f = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_d7affc2860c448f1b108f2fe8c23912c = $(`<div id="html_d7affc2860c448f1b108f2fe8c23912c" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>104</td>       <td>37194499</td>       <td>-100.0</td>       <td>10.0</td>       <td>416.132</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_bc020e9a54404a39b7f96c9f5f4d691f.setContent(html_d7affc2860c448f1b108f2fe8c23912c);
        

        circle_64422cef26334985b8883184178f6965.bindPopup(popup_bc020e9a54404a39b7f96c9f5f4d691f)
        ;

        
    
    
            var circle_e6ccb2287147440da1662b71c9058a4a = L.circle(
                [34.990484, 128.0407506],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_ce1c4876771546a98291901a9e9af612);
        
    
        var popup_0ccf6bfb20d841f782ea6869bdf14b5d = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_36e3c80ee59446209b1dfc3402f25085 = $(`<div id="html_36e3c80ee59446209b1dfc3402f25085" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>977</td>       <td>38241024</td>       <td>-104.0</td>       <td>14.5</td>       <td>438.836</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_0ccf6bfb20d841f782ea6869bdf14b5d.setContent(html_36e3c80ee59446209b1dfc3402f25085);
        

        circle_e6ccb2287147440da1662b71c9058a4a.bindPopup(popup_0ccf6bfb20d841f782ea6869bdf14b5d)
        ;

        
    
    
            var circle_210f30ddabb54459bbf7f1f3f8f569db = L.circle(
                [34.99190845, 128.03989976],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_ce1c4876771546a98291901a9e9af612);
        
    
        var popup_d4fd5e8b9cd94c46a9551b26b6bc7648 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_e4a2c8971ada43dab4e18a79cbf2f727 = $(`<div id="html_e4a2c8971ada43dab4e18a79cbf2f727" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>977</td>       <td>37192193</td>       <td>-99.0</td>       <td>14.0</td>       <td>151.692</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_d4fd5e8b9cd94c46a9551b26b6bc7648.setContent(html_e4a2c8971ada43dab4e18a79cbf2f727);
        

        circle_210f30ddabb54459bbf7f1f3f8f569db.bindPopup(popup_d4fd5e8b9cd94c46a9551b26b6bc7648)
        ;

        
    
    
            var circle_44b8b0e706b941c2bff315d8054a14e1 = L.circle(
                [34.99270435, 128.03948221],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_ce1c4876771546a98291901a9e9af612);
        
    
        var popup_664dfca4520b4ccb9245d8704a7db43b = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_10a82a124d0a4522911a2a36484c3c99 = $(`<div id="html_10a82a124d0a4522911a2a36484c3c99" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>442</td>       <td>37192193</td>       <td>-87.0</td>       <td>5.6</td>       <td>74.39</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_664dfca4520b4ccb9245d8704a7db43b.setContent(html_10a82a124d0a4522911a2a36484c3c99);
        

        circle_44b8b0e706b941c2bff315d8054a14e1.bindPopup(popup_664dfca4520b4ccb9245d8704a7db43b)
        ;

        
    
    
            var circle_a39d07732d7c4b4399a64196d2e31808 = L.circle(
                [34.99394432, 128.03953238],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_ce1c4876771546a98291901a9e9af612);
        
    
        var popup_67b5ae9523444d56b422f21d773f4a5b = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_2c5ea09325484b2eb05ffc837d7695c0 = $(`<div id="html_2c5ea09325484b2eb05ffc837d7695c0" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>442</td>       <td>37192193</td>       <td>-87.0</td>       <td>13.0</td>       <td>76.971</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_67b5ae9523444d56b422f21d773f4a5b.setContent(html_2c5ea09325484b2eb05ffc837d7695c0);
        

        circle_a39d07732d7c4b4399a64196d2e31808.bindPopup(popup_67b5ae9523444d56b422f21d773f4a5b)
        ;

        
    
    
            var circle_7e551537544b40dda7c205462edd4afc = L.circle(
                [34.99543507, 128.03916126],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_ce1c4876771546a98291901a9e9af612);
        
    
        var popup_d8d8ce4bc1814b05af9d47d300ba28d9 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_9376e85c410546468d63077ecf8dceae = $(`<div id="html_9376e85c410546468d63077ecf8dceae" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>442</td>       <td>37192193</td>       <td>-87.0</td>       <td>5.8</td>       <td>72.474</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_d8d8ce4bc1814b05af9d47d300ba28d9.setContent(html_9376e85c410546468d63077ecf8dceae);
        

        circle_7e551537544b40dda7c205462edd4afc.bindPopup(popup_d8d8ce4bc1814b05af9d47d300ba28d9)
        ;

        
    
    
            var circle_7e0d4485d5494c6a8372ebc67015a3ed = L.circle(
                [34.99659772, 128.03882626],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_ce1c4876771546a98291901a9e9af612);
        
    
        var popup_52dd110f2d4c45abb63584218574c0f1 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_7cb0a17b154b4b898ef7f83dbe1b369e = $(`<div id="html_7cb0a17b154b4b898ef7f83dbe1b369e" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>104</td>       <td>37192193</td>       <td>-97.0</td>       <td>20.5</td>       <td>305.486</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_52dd110f2d4c45abb63584218574c0f1.setContent(html_7cb0a17b154b4b898ef7f83dbe1b369e);
        

        circle_7e0d4485d5494c6a8372ebc67015a3ed.bindPopup(popup_52dd110f2d4c45abb63584218574c0f1)
        ;

        
    
    
            var circle_05aed456b4da45fd96e04d2b66995c95 = L.circle(
                [34.99781156, 128.03889327],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_ce1c4876771546a98291901a9e9af612);
        
    
        var popup_a0acb63281704161ae4ca94c3b969e6d = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_27e958a933d94f7ebfea8b555e1f18a0 = $(`<div id="html_27e958a933d94f7ebfea8b555e1f18a0" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>977</td>       <td>37194501</td>       <td>-101.0</td>       <td>13.5</td>       <td>285.305</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_a0acb63281704161ae4ca94c3b969e6d.setContent(html_27e958a933d94f7ebfea8b555e1f18a0);
        

        circle_05aed456b4da45fd96e04d2b66995c95.bindPopup(popup_a0acb63281704161ae4ca94c3b969e6d)
        ;

        
    
    
            var circle_03fac8a0999546f793bf744db81a7e58 = L.circle(
                [34.99872377, 128.03955019],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "yellow", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 29.0, "stroke": true, "weight": 1}
            ).addTo(feature_group_ce1c4876771546a98291901a9e9af612);
        
    
        var popup_8de2e2524dcc44c28de9b0441526fa2d = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_7e5c9cdbbdac4141a24bfafc19a11ec3 = $(`<div id="html_7e5c9cdbbdac4141a24bfafc19a11ec3" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>436</td>       <td>37194501</td>       <td>-81.0</td>       <td>1.0</td>       <td>70.56</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_8de2e2524dcc44c28de9b0441526fa2d.setContent(html_7e5c9cdbbdac4141a24bfafc19a11ec3);
        

        circle_03fac8a0999546f793bf744db81a7e58.bindPopup(popup_8de2e2524dcc44c28de9b0441526fa2d)
        ;

        
    
</script>