<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_10b0dac5f7e44be1bfabe63f85787d85 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_10b0dac5f7e44be1bfabe63f85787d85" ></div>
        
</body>
<script>    
    
            var map_10b0dac5f7e44be1bfabe63f85787d85 = L.map(
                "map_10b0dac5f7e44be1bfabe63f85787d85",
                {
                    center: [34.97065933, 128.06343881],
                    crs: L.CRS.EPSG3857,
                    zoom: 15,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_f9fac332e4794e8581a3f759bf39b309 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_10b0dac5f7e44be1bfabe63f85787d85);
        
    
            var marker_965f9e6f2485460ca672d8278ea22de8 = L.marker(
                [34.97065933, 128.06343881],
                {"iconSize": [10, 10]}
            ).addTo(map_10b0dac5f7e44be1bfabe63f85787d85);
        
    
            var icon_4d07f073db0e414da4f145519e2a667a = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "star", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_965f9e6f2485460ca672d8278ea22de8.setIcon(icon_4d07f073db0e414da4f145519e2a667a);
        
    
            var circle_a770c3aae53440149ed5c21ce480284b = L.circle(
                [34.97065933, 128.06343881],
                {"bubblingMouseEvents": true, "color": "#3186cc", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3186cc", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(map_10b0dac5f7e44be1bfabe63f85787d85);
        
    
            var circle_1f571b71d9b74e4d9264f004ad0b42c1 = L.circle(
                [34.97064915, 128.06343489],
                {"bubblingMouseEvents": true, "color": "#3186cc", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3186cc", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(map_10b0dac5f7e44be1bfabe63f85787d85);
        
    
            var circle_44bb11cb89da4cd4b18cff974b8f21e9 = L.circle(
                [34.97064915, 128.06343489],
                {"bubblingMouseEvents": true, "color": "#3186cc", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3186cc", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(map_10b0dac5f7e44be1bfabe63f85787d85);
        
    
            var circle_6e4603d0c3004afc985540d162e8ec64 = L.circle(
                [34.97068397, 128.0634738],
                {"bubblingMouseEvents": true, "color": "#3186cc", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3186cc", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(map_10b0dac5f7e44be1bfabe63f85787d85);
        
    
            var circle_d60812c5705f48ac80362e424c735d60 = L.circle(
                [34.97069368, 128.06346287],
                {"bubblingMouseEvents": true, "color": "#3186cc", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3186cc", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(map_10b0dac5f7e44be1bfabe63f85787d85);
        
    
            var circle_8ab197c37da04530b70017b9adfaed2d = L.circle(
                [34.97069368, 128.06346287],
                {"bubblingMouseEvents": true, "color": "#3186cc", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3186cc", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(map_10b0dac5f7e44be1bfabe63f85787d85);
        
    
            var circle_fe5a3ba3e3ef4f6f86dd5e18a6843ebe = L.circle(
                [34.97072741, 128.06346831],
                {"bubblingMouseEvents": true, "color": "#3186cc", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3186cc", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(map_10b0dac5f7e44be1bfabe63f85787d85);
        
    
            var circle_b4d174ccba05475a8fe8065c6d06c0a3 = L.circle(
                [34.97066503, 128.06351296],
                {"bubblingMouseEvents": true, "color": "#3186cc", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3186cc", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(map_10b0dac5f7e44be1bfabe63f85787d85);
        
    
            var circle_dd6e6e11215948fb89bf2a3d85ec1ffd = L.circle(
                [34.97066647, 128.06348539],
                {"bubblingMouseEvents": true, "color": "#3186cc", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3186cc", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(map_10b0dac5f7e44be1bfabe63f85787d85);
        
    
            var circle_60df6a205bd34be4a27cc7715ae790ba = L.circle(
                [34.97067922, 128.06271575],
                {"bubblingMouseEvents": true, "color": "#3186cc", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3186cc", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(map_10b0dac5f7e44be1bfabe63f85787d85);
        
    
            var circle_c6e73099a34942378d172621be911313 = L.circle(
                [34.97069531, 128.06257753],
                {"bubblingMouseEvents": true, "color": "#3186cc", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3186cc", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(map_10b0dac5f7e44be1bfabe63f85787d85);
        
    
            var circle_46d75f47c2694ef999c6c6c41adc59d8 = L.circle(
                [34.97069136, 128.06264374],
                {"bubblingMouseEvents": true, "color": "#3186cc", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3186cc", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(map_10b0dac5f7e44be1bfabe63f85787d85);
        
    
            var circle_e115be9c29354a968daea06b80ef4ba4 = L.circle(
                [34.96995504, 128.06270465],
                {"bubblingMouseEvents": true, "color": "#3186cc", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3186cc", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(map_10b0dac5f7e44be1bfabe63f85787d85);
        
    
            var circle_4b44c5879f8448cda5f64a76456e3c89 = L.circle(
                [34.9695525, 128.06298752],
                {"bubblingMouseEvents": true, "color": "#3186cc", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3186cc", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(map_10b0dac5f7e44be1bfabe63f85787d85);
        
</script>