<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_535c4c2daba9481c84a70519aaf2e51c {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_535c4c2daba9481c84a70519aaf2e51c" ></div>
        
</body>
<script>    
    
            var map_535c4c2daba9481c84a70519aaf2e51c = L.map(
                "map_535c4c2daba9481c84a70519aaf2e51c",
                {
                    center: [34.97065722, 128.06343984],
                    crs: L.CRS.EPSG3857,
                    zoom: 15,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_878612fa2e71467ebb9567b8b58ea681 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_535c4c2daba9481c84a70519aaf2e51c);
        
    
            var marker_40bea0e9dba24a20ae5756d1184e95b5 = L.marker(
                [34.97065722, 128.06343984],
                {"iconSize": [10, 10]}
            ).addTo(map_535c4c2daba9481c84a70519aaf2e51c);
        
    
            var icon_ebb39b4860504005bda838b8d72a9152 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "star", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_40bea0e9dba24a20ae5756d1184e95b5.setIcon(icon_ebb39b4860504005bda838b8d72a9152);
        
    
            var poly_line_530556d28def4c898b20d4be1fb926a4 = L.polyline(
                [[34.97065722, 128.06343984], [34.97063331, 128.06344327], [34.97064098, 128.06345582], [34.97060696, 128.06272419], [34.96952624, 128.06283729], [34.96784475, 128.06368727], [34.96719208, 128.06243622], [34.97078469, 128.06130035], [34.97563895, 128.05943878], [34.97468197, 128.05324469], [34.97857827, 128.05122944], [34.98091718, 128.04667746], [34.98299793, 128.04399364], [34.985071, 128.04431075], [34.98758813, 128.04377057], [34.98991582, 128.04180529], [34.99166311, 128.04009129], [34.99295054, 128.03958301], [34.99516137, 128.03921255], [34.99843116, 128.03916038], [34.9990068, 128.03973153], [34.99927923, 128.04007982], [34.99914027, 128.04012799]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_535c4c2daba9481c84a70519aaf2e51c);
        
    
            var feature_group_0fd647b8acbe4cbdbacbc71ae701e041 = L.featureGroup(
                {}
            ).addTo(map_535c4c2daba9481c84a70519aaf2e51c);
        
    
            var circle_8e385e072be94f0888bc59c14205aec9 = L.circle(
                [34.97065722, 128.06343984],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_0fd647b8acbe4cbdbacbc71ae701e041);
        
    
        var popup_e79b951eeb6a423dbf1c39a10d1fd7c4 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_55422af28e25460da2729e2d522bf59d = $(`<div id="html_55422af28e25460da2729e2d522bf59d" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>154</td>       <td>44342024</td>       <td>-100.0</td>       <td>15.0</td>       <td>454.975</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_e79b951eeb6a423dbf1c39a10d1fd7c4.setContent(html_55422af28e25460da2729e2d522bf59d);
        

        circle_8e385e072be94f0888bc59c14205aec9.bindPopup(popup_e79b951eeb6a423dbf1c39a10d1fd7c4)
        ;

        
    
    
            var circle_01ae7e63c4cb4e2a9396539dc6a80643 = L.circle(
                [34.97063331, 128.06344327],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_0fd647b8acbe4cbdbacbc71ae701e041);
        
    
        var popup_e08aeeeedc8c447a98a2dbee106ffdc3 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_108c6d80ff3d45d5b4b501c4b57ad652 = $(`<div id="html_108c6d80ff3d45d5b4b501c4b57ad652" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>154</td>       <td>44342024</td>       <td>-102.0</td>       <td>20.0</td>       <td>496.943</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_e08aeeeedc8c447a98a2dbee106ffdc3.setContent(html_108c6d80ff3d45d5b4b501c4b57ad652);
        

        circle_01ae7e63c4cb4e2a9396539dc6a80643.bindPopup(popup_e08aeeeedc8c447a98a2dbee106ffdc3)
        ;

        
    
    
            var circle_012c9d7504474d99ac4c215608a1a832 = L.circle(
                [34.97064098, 128.06345582],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_0fd647b8acbe4cbdbacbc71ae701e041);
        
    
        var popup_014d50dc940b47f59b4bfea5fdc007ee = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_ae3f22ff2e374a2d9910071a5c1e20fa = $(`<div id="html_ae3f22ff2e374a2d9910071a5c1e20fa" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>154</td>       <td>44342024</td>       <td>-104.0</td>       <td>18.0</td>       <td>493.309</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_014d50dc940b47f59b4bfea5fdc007ee.setContent(html_ae3f22ff2e374a2d9910071a5c1e20fa);
        

        circle_012c9d7504474d99ac4c215608a1a832.bindPopup(popup_014d50dc940b47f59b4bfea5fdc007ee)
        ;

        
    
    
            var circle_4ae2301b61d94a51ba55699cda10b3fa = L.circle(
                [34.97060696, 128.06272419],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_0fd647b8acbe4cbdbacbc71ae701e041);
        
    
        var popup_9fba0683500945069ef702d888c6f6ec = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_05fd9eb435334a72ad766c0809daae6e = $(`<div id="html_05fd9eb435334a72ad766c0809daae6e" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>154</td>       <td>44342024</td>       <td>-95.0</td>       <td>19.5</td>       <td>665.8</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_9fba0683500945069ef702d888c6f6ec.setContent(html_05fd9eb435334a72ad766c0809daae6e);
        

        circle_4ae2301b61d94a51ba55699cda10b3fa.bindPopup(popup_9fba0683500945069ef702d888c6f6ec)
        ;

        
    
    
            var circle_aba04ef2316c409eb33538789b8aa87a = L.circle(
                [34.96952624, 128.06283729],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "yellow", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_0fd647b8acbe4cbdbacbc71ae701e041);
        
    
        var popup_c7b91ed5f9884ad293fd230b95233c43 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_0d252e81fad1454586f5af7be2f19ed0 = $(`<div id="html_0d252e81fad1454586f5af7be2f19ed0" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>174</td>       <td>44342287</td>       <td>-85.0</td>       <td>33.5</td>       <td>808.729</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_c7b91ed5f9884ad293fd230b95233c43.setContent(html_0d252e81fad1454586f5af7be2f19ed0);
        

        circle_aba04ef2316c409eb33538789b8aa87a.bindPopup(popup_c7b91ed5f9884ad293fd230b95233c43)
        ;

        
    
    
            var circle_0369201ba3994e02bfb00ec1197a3f0d = L.circle(
                [34.96784475, 128.06368727],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_0fd647b8acbe4cbdbacbc71ae701e041);
        
    
        var popup_cbd05f885453419081c71165f67f6c28 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_c3658b0a7d554b68b8836495c8c00bdc = $(`<div id="html_c3658b0a7d554b68b8836495c8c00bdc" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>174</td>       <td>44342287</td>       <td>-86.0</td>       <td>22.5</td>       <td>941.206</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_cbd05f885453419081c71165f67f6c28.setContent(html_c3658b0a7d554b68b8836495c8c00bdc);
        

        circle_0369201ba3994e02bfb00ec1197a3f0d.bindPopup(popup_cbd05f885453419081c71165f67f6c28)
        ;

        
    
    
            var circle_8c964b978aba4953b3771e5e5e3566ca = L.circle(
                [34.96719208, 128.06243622],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "yellow", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_0fd647b8acbe4cbdbacbc71ae701e041);
        
    
        var popup_7da3e9b5cdfc4393bfa72bd96383d999 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_3d0c9a521b504bfe9f7c60d48418f362 = $(`<div id="html_3d0c9a521b504bfe9f7c60d48418f362" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>158</td>       <td>44342028</td>       <td>-78.0</td>       <td>31.5</td>       <td>721.387</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_7da3e9b5cdfc4393bfa72bd96383d999.setContent(html_3d0c9a521b504bfe9f7c60d48418f362);
        

        circle_8c964b978aba4953b3771e5e5e3566ca.bindPopup(popup_7da3e9b5cdfc4393bfa72bd96383d999)
        ;

        
    
    
            var circle_2d0d2279face48218d0a49f76e07eff6 = L.circle(
                [34.97078469, 128.06130035],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_0fd647b8acbe4cbdbacbc71ae701e041);
        
    
        var popup_03566e9234874ba4beb1768835e2fa56 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_8f9af58293ab45609a80f92b5d0daa33 = $(`<div id="html_8f9af58293ab45609a80f92b5d0daa33" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>154</td>       <td>44342278</td>       <td>-90.0</td>       <td>29.0</td>       <td>390.21</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_03566e9234874ba4beb1768835e2fa56.setContent(html_8f9af58293ab45609a80f92b5d0daa33);
        

        circle_2d0d2279face48218d0a49f76e07eff6.bindPopup(popup_03566e9234874ba4beb1768835e2fa56)
        ;

        
    
    
            var circle_56c4ee55e10c4495b136a734b317c3ef = L.circle(
                [34.97563895, 128.05943878],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_0fd647b8acbe4cbdbacbc71ae701e041);
        
    
        var popup_390e519ff3ad45c9a6f3dc0ff3ac9921 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_392a8596f8444c39a67c051fd7d3de57 = $(`<div id="html_392a8596f8444c39a67c051fd7d3de57" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>149</td>       <td>44342024</td>       <td>-89.0</td>       <td>30.5</td>       <td>762.833</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_390e519ff3ad45c9a6f3dc0ff3ac9921.setContent(html_392a8596f8444c39a67c051fd7d3de57);
        

        circle_56c4ee55e10c4495b136a734b317c3ef.bindPopup(popup_390e519ff3ad45c9a6f3dc0ff3ac9921)
        ;

        
    
    
            var circle_0867ef6a5f4b4bcb88ea3779916ea7c2 = L.circle(
                [34.97468197, 128.05324469],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_0fd647b8acbe4cbdbacbc71ae701e041);
        
    
        var popup_a0806a3469d5489ea5246123e9751cd5 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_f6342f6ed8f34b969a87244894c0f913 = $(`<div id="html_f6342f6ed8f34b969a87244894c0f913" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>376</td>       <td>44342024</td>       <td>-89.0</td>       <td>11.2</td>       <td>150.454</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_a0806a3469d5489ea5246123e9751cd5.setContent(html_f6342f6ed8f34b969a87244894c0f913);
        

        circle_0867ef6a5f4b4bcb88ea3779916ea7c2.bindPopup(popup_a0806a3469d5489ea5246123e9751cd5)
        ;

        
    
    
            var circle_cbe6e1e264c5491e83843a45218f6dbf = L.circle(
                [34.97857827, 128.05122944],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "yellow", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_0fd647b8acbe4cbdbacbc71ae701e041);
        
    
        var popup_45de454c3ecc40fd882bf258a420029b = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_f9a1f9955ca44568855577d60067b0eb = $(`<div id="html_f9a1f9955ca44568855577d60067b0eb" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>371</td>       <td>44342288</td>       <td>-84.0</td>       <td>-2.0</td>       <td>170.92</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_45de454c3ecc40fd882bf258a420029b.setContent(html_f9a1f9955ca44568855577d60067b0eb);
        

        circle_cbe6e1e264c5491e83843a45218f6dbf.bindPopup(popup_45de454c3ecc40fd882bf258a420029b)
        ;

        
    
    
            var circle_3534359b747c4de09ce067c2302ed30d = L.circle(
                [34.98091718, 128.04667746],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_0fd647b8acbe4cbdbacbc71ae701e041);
        
    
        var popup_18865495b7104a9a80edbcd2ad3dbc4e = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_a31f54cd694543929385cfa808584a9d = $(`<div id="html_a31f54cd694543929385cfa808584a9d" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>10</td>       <td>44342031</td>       <td>-97.0</td>       <td>29.0</td>       <td>743.044</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_18865495b7104a9a80edbcd2ad3dbc4e.setContent(html_a31f54cd694543929385cfa808584a9d);
        

        circle_3534359b747c4de09ce067c2302ed30d.bindPopup(popup_18865495b7104a9a80edbcd2ad3dbc4e)
        ;

        
    
    
            var circle_d3820e48d86546e989af3ba22e6a7bd2 = L.circle(
                [34.98299793, 128.04399364],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "black", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_0fd647b8acbe4cbdbacbc71ae701e041);
        
    
        var popup_9fe474d1bf63440a9a8f4bfa64ddf85e = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_c13590b969904397893235e488d9e2b7 = $(`<div id="html_c13590b969904397893235e488d9e2b7" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>10</td>       <td>42399776</td>       <td>0.0</td>       <td>0.0</td>       <td>128.846</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_9fe474d1bf63440a9a8f4bfa64ddf85e.setContent(html_c13590b969904397893235e488d9e2b7);
        

        circle_d3820e48d86546e989af3ba22e6a7bd2.bindPopup(popup_9fe474d1bf63440a9a8f4bfa64ddf85e)
        ;

        
    
    
            var circle_0f07c8a9537b4bdaab397833c4f01567 = L.circle(
                [34.985071, 128.04431075],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "black", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_0fd647b8acbe4cbdbacbc71ae701e041);
        
    
        var popup_2078f4dae69f4b98becccf8cab6cf0a3 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_bd2f016c4e024657af9884fbf673f617 = $(`<div id="html_bd2f016c4e024657af9884fbf673f617" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>149</td>       <td>42399776</td>       <td>-110.0</td>       <td>7.0</td>       <td>125.69</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_2078f4dae69f4b98becccf8cab6cf0a3.setContent(html_bd2f016c4e024657af9884fbf673f617);
        

        circle_0f07c8a9537b4bdaab397833c4f01567.bindPopup(popup_2078f4dae69f4b98becccf8cab6cf0a3)
        ;

        
    
    
            var circle_f7515ec536284b84a38aad7041f2140a = L.circle(
                [34.98758813, 128.04377057],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "black", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_0fd647b8acbe4cbdbacbc71ae701e041);
        
    
        var popup_95e440dddae14ea4bb12b06d53e628a5 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_69090884ca14421f8293ab88c5eb6eea = $(`<div id="html_69090884ca14421f8293ab88c5eb6eea" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>456</td>       <td>42399776</td>       <td>-113.0</td>       <td>5.0</td>       <td>232.847</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_95e440dddae14ea4bb12b06d53e628a5.setContent(html_69090884ca14421f8293ab88c5eb6eea);
        

        circle_f7515ec536284b84a38aad7041f2140a.bindPopup(popup_95e440dddae14ea4bb12b06d53e628a5)
        ;

        
    
    
            var circle_5c3fee5bfd744526a691046a5767c9d5 = L.circle(
                [34.98991582, 128.04180529],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_0fd647b8acbe4cbdbacbc71ae701e041);
        
    
        var popup_f4de9f36c0bc4ac8a030bb4fa174d36a = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_ca416704394d4982886b36d7bd4bec4d = $(`<div id="html_ca416704394d4982886b36d7bd4bec4d" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>362</td>       <td>44342022</td>       <td>-88.0</td>       <td>9.0</td>       <td>130.304</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_f4de9f36c0bc4ac8a030bb4fa174d36a.setContent(html_ca416704394d4982886b36d7bd4bec4d);
        

        circle_5c3fee5bfd744526a691046a5767c9d5.bindPopup(popup_f4de9f36c0bc4ac8a030bb4fa174d36a)
        ;

        
    
    
            var circle_03892d8d8b6b4c85b699111178cf2720 = L.circle(
                [34.99166311, 128.04009129],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "yellow", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_0fd647b8acbe4cbdbacbc71ae701e041);
        
    
        var popup_36352c0adec044bc8b1d6310fcad2a5d = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_3a3b6ec24c57422a880d4df0880135c7 = $(`<div id="html_3a3b6ec24c57422a880d4df0880135c7" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>362</td>       <td>44342022</td>       <td>-83.0</td>       <td>13.8</td>       <td>160.777</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_36352c0adec044bc8b1d6310fcad2a5d.setContent(html_3a3b6ec24c57422a880d4df0880135c7);
        

        circle_03892d8d8b6b4c85b699111178cf2720.bindPopup(popup_36352c0adec044bc8b1d6310fcad2a5d)
        ;

        
    
    
            var circle_e77535de604c4517855a84f6ecf3e99e = L.circle(
                [34.99295054, 128.03958301],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "black", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_0fd647b8acbe4cbdbacbc71ae701e041);
        
    
        var popup_b9070daabf864ee5811ba96eb932abc6 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_7e2031252a774ab0a876818211dc391b = $(`<div id="html_7e2031252a774ab0a876818211dc391b" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>None</td>       <td>42399257</td>       <td>None</td>       <td>0.0</td>       <td>0.0</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_b9070daabf864ee5811ba96eb932abc6.setContent(html_7e2031252a774ab0a876818211dc391b);
        

        circle_e77535de604c4517855a84f6ecf3e99e.bindPopup(popup_b9070daabf864ee5811ba96eb932abc6)
        ;

        
    
    
            var circle_48f3098cd4a144b0a9721291fb692834 = L.circle(
                [34.99516137, 128.03921255],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "black", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_0fd647b8acbe4cbdbacbc71ae701e041);
        
    
        var popup_cfe48f2e68e84b6dafa5b4054fc6b2b2 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_d8e387ac525047359908b14d2dc39d81 = $(`<div id="html_d8e387ac525047359908b14d2dc39d81" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>None</td>       <td>42399258</td>       <td>None</td>       <td>0.0</td>       <td>0.0</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_cfe48f2e68e84b6dafa5b4054fc6b2b2.setContent(html_d8e387ac525047359908b14d2dc39d81);
        

        circle_48f3098cd4a144b0a9721291fb692834.bindPopup(popup_cfe48f2e68e84b6dafa5b4054fc6b2b2)
        ;

        
    
    
            var circle_d531beb5338c493aa22435ade5ed6acc = L.circle(
                [34.99843116, 128.03916038],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_0fd647b8acbe4cbdbacbc71ae701e041);
        
    
        var popup_a10916f9d39f4489a8bb32a835d7969e = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_a3fc6c0b16904ca4a1f1ce2014b7ca7b = $(`<div id="html_a3fc6c0b16904ca4a1f1ce2014b7ca7b" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>261</td>       <td>42399257</td>       <td>-88.0</td>       <td>8.6</td>       <td>116.577</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_a10916f9d39f4489a8bb32a835d7969e.setContent(html_a3fc6c0b16904ca4a1f1ce2014b7ca7b);
        

        circle_d531beb5338c493aa22435ade5ed6acc.bindPopup(popup_a10916f9d39f4489a8bb32a835d7969e)
        ;

        
    
    
            var circle_6fd20df466f34849947724b606f11824 = L.circle(
                [34.9990068, 128.03973153],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "yellow", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_0fd647b8acbe4cbdbacbc71ae701e041);
        
    
        var popup_5e0eda96ace14a34a6da0f7b1c977347 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_d57f0f55f31e452c83cb77758283d33a = $(`<div id="html_d57f0f55f31e452c83cb77758283d33a" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>261</td>       <td>42399257</td>       <td>-83.0</td>       <td>12.4</td>       <td>70.83</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_5e0eda96ace14a34a6da0f7b1c977347.setContent(html_d57f0f55f31e452c83cb77758283d33a);
        

        circle_6fd20df466f34849947724b606f11824.bindPopup(popup_5e0eda96ace14a34a6da0f7b1c977347)
        ;

        
    
    
            var circle_34a15f081b8a40b2bfd48d7fb57edd8e = L.circle(
                [34.99927923, 128.04007982],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_0fd647b8acbe4cbdbacbc71ae701e041);
        
    
        var popup_3a3e46e08a4541c8bae9b09329560b4e = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_f64ba097349b449ba7faf21c6f8b2cd3 = $(`<div id="html_f64ba097349b449ba7faf21c6f8b2cd3" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>158</td>       <td>42395936</td>       <td>-100.0</td>       <td>-1.0</td>       <td>89.199</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_3a3e46e08a4541c8bae9b09329560b4e.setContent(html_f64ba097349b449ba7faf21c6f8b2cd3);
        

        circle_34a15f081b8a40b2bfd48d7fb57edd8e.bindPopup(popup_3a3e46e08a4541c8bae9b09329560b4e)
        ;

        
    
    
            var circle_c66f6b7129de4f8b8227e45498a70fa4 = L.circle(
                [34.99914027, 128.04012799],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 29.0, "stroke": true, "weight": 1}
            ).addTo(feature_group_0fd647b8acbe4cbdbacbc71ae701e041);
        
    
        var popup_2d0b19a770f64d0fa127836a54a8001c = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_85115b63ecf3474b836cc2ea413b3936 = $(`<div id="html_85115b63ecf3474b836cc2ea413b3936" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>300</td>       <td>42074390</td>       <td>-100.0</td>       <td>-0.6</td>       <td>108.388</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_2d0b19a770f64d0fa127836a54a8001c.setContent(html_85115b63ecf3474b836cc2ea413b3936);
        

        circle_c66f6b7129de4f8b8227e45498a70fa4.bindPopup(popup_2d0b19a770f64d0fa127836a54a8001c)
        ;

        
    
    
            map_535c4c2daba9481c84a70519aaf2e51c.fitBounds(
                [[34.96719208, 128.03916038], [34.99927923, 128.06368727]],
                {}
            );
        
</script>