<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_1705409f26e84727a41c62e280351b8a {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_1705409f26e84727a41c62e280351b8a" ></div>
        
</body>
<script>    
    
            var map_1705409f26e84727a41c62e280351b8a = L.map(
                "map_1705409f26e84727a41c62e280351b8a",
                {
                    center: [34.97065933, 128.06343881],
                    crs: L.CRS.EPSG3857,
                    zoom: 15,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_84d5ca0efbfa483b9a4d196a51b1d2d3 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_1705409f26e84727a41c62e280351b8a);
        
    
            var marker_bf1fbdf73b0e4f19bf4442a8f2a0c985 = L.marker(
                [34.97065933, 128.06343881],
                {"iconSize": [10, 10]}
            ).addTo(map_1705409f26e84727a41c62e280351b8a);
        
    
            var icon_c2d3dd658ff94f8a8de55aa068361463 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "star", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_bf1fbdf73b0e4f19bf4442a8f2a0c985.setIcon(icon_c2d3dd658ff94f8a8de55aa068361463);
        
    
            var poly_line_2bf1439c55e3447c9ea40fdce0041637 = L.polyline(
                [[34.97064915, 128.06343489], [34.97069368, 128.06346287], [34.97066503, 128.06351296], [34.97069531, 128.06257753], [34.9695525, 128.06298752], [34.96775931, 128.06373712], [34.96724271, 128.06254163], [34.97030319, 128.06137188], [34.97567934, 128.05931126], [34.97443939, 128.05330004], [34.97844873, 128.05162119], [34.98070201, 128.04678937], [34.98252925, 128.04463701], [34.9862897, 128.04421019], [34.98853371, 128.04311838], [34.990484, 128.0407506], [34.99190845, 128.03989976], [34.99270435, 128.03948221], [34.99394432, 128.03953238], [34.99543507, 128.03916126], [34.99659772, 128.03882626], [34.99781156, 128.03889327], [34.99872377, 128.03955019], [34.99944356, 128.04015126], [34.99938455, 128.04010616], [34.99486708, 128.03939446]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_1705409f26e84727a41c62e280351b8a);
        
    
            var feature_group_8d9dcfe1cef64d3a804cb7061d300876 = L.featureGroup(
                {}
            ).addTo(map_1705409f26e84727a41c62e280351b8a);
        
    
            var circle_00846d99ccf947089194b51d5fa812a5 = L.circle(
                [34.97064915, 128.06343489],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_8d9dcfe1cef64d3a804cb7061d300876);
        
    
        var popup_e3951577aa884a4a8ef613727bb3b8eb = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_4bb326534c264b9da30339fdf7139b08 = $(`<div id="html_4bb326534c264b9da30339fdf7139b08" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>684</td>       <td>37193502</td>       <td>-96.0</td>       <td>20.0</td>       <td>649.875</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_e3951577aa884a4a8ef613727bb3b8eb.setContent(html_4bb326534c264b9da30339fdf7139b08);
        

        circle_00846d99ccf947089194b51d5fa812a5.bindPopup(popup_e3951577aa884a4a8ef613727bb3b8eb)
        ;

        
    
    
            var circle_e2aee314d658416ab5708c2ba17af96f = L.circle(
                [34.97069368, 128.06346287],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_8d9dcfe1cef64d3a804cb7061d300876);
        
    
        var popup_5dc4c76d64c44be3b526debe0831361f = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_7449eccd33524ed1b7874b46efe6ffc0 = $(`<div id="html_7449eccd33524ed1b7874b46efe6ffc0" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>684</td>       <td>37193502</td>       <td>-93.0</td>       <td>21.5</td>       <td>671.118</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_5dc4c76d64c44be3b526debe0831361f.setContent(html_7449eccd33524ed1b7874b46efe6ffc0);
        

        circle_e2aee314d658416ab5708c2ba17af96f.bindPopup(popup_5dc4c76d64c44be3b526debe0831361f)
        ;

        
    
    
            var circle_2088a887f71f46939a546c498e9484f1 = L.circle(
                [34.97066503, 128.06351296],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_8d9dcfe1cef64d3a804cb7061d300876);
        
    
        var popup_6a024490cb7f4d02b5af98891698e336 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_5c8226d2133548cea8185172201ffcc5 = $(`<div id="html_5c8226d2133548cea8185172201ffcc5" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>684</td>       <td>37193502</td>       <td>-104.0</td>       <td>14.5</td>       <td>635.199</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_6a024490cb7f4d02b5af98891698e336.setContent(html_5c8226d2133548cea8185172201ffcc5);
        

        circle_2088a887f71f46939a546c498e9484f1.bindPopup(popup_6a024490cb7f4d02b5af98891698e336)
        ;

        
    
    
            var circle_af11cee79d124e67b98783e125f8c4a9 = L.circle(
                [34.97069531, 128.06257753],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_8d9dcfe1cef64d3a804cb7061d300876);
        
    
        var popup_fea7e529d4be4a1db7aa5b2ae021dba0 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_445f480890374a6189eed9cf55e20799 = $(`<div id="html_445f480890374a6189eed9cf55e20799" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>272</td>       <td>37193502</td>       <td>-97.0</td>       <td>20.0</td>       <td>649.525</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_fea7e529d4be4a1db7aa5b2ae021dba0.setContent(html_445f480890374a6189eed9cf55e20799);
        

        circle_af11cee79d124e67b98783e125f8c4a9.bindPopup(popup_fea7e529d4be4a1db7aa5b2ae021dba0)
        ;

        
    
    
            var circle_94423936827d4c5799f896a4d1f79fbc = L.circle(
                [34.9695525, 128.06298752],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_8d9dcfe1cef64d3a804cb7061d300876);
        
    
        var popup_515e64d1792c455d8cb060899ead5dba = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_6e90b7e8bc90402a867053baacb69c4d = $(`<div id="html_6e90b7e8bc90402a867053baacb69c4d" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>684</td>       <td>37193502</td>       <td>-87.0</td>       <td>25.5</td>       <td>745.969</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_515e64d1792c455d8cb060899ead5dba.setContent(html_6e90b7e8bc90402a867053baacb69c4d);
        

        circle_94423936827d4c5799f896a4d1f79fbc.bindPopup(popup_515e64d1792c455d8cb060899ead5dba)
        ;

        
    
    
            var circle_5c10d5210525476d8504167e920ce65c = L.circle(
                [34.96775931, 128.06373712],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_8d9dcfe1cef64d3a804cb7061d300876);
        
    
        var popup_c510af75edae44fcb07610328b077bdb = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_558ccc0cd488415987c02fd92cc295ab = $(`<div id="html_558ccc0cd488415987c02fd92cc295ab" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>851</td>       <td>37193489</td>       <td>-88.0</td>       <td>29.0</td>       <td>718.519</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_c510af75edae44fcb07610328b077bdb.setContent(html_558ccc0cd488415987c02fd92cc295ab);
        

        circle_5c10d5210525476d8504167e920ce65c.bindPopup(popup_c510af75edae44fcb07610328b077bdb)
        ;

        
    
    
            var circle_38b00c0cf4834e0ebecb959122ba9f30 = L.circle(
                [34.96724271, 128.06254163],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_8d9dcfe1cef64d3a804cb7061d300876);
        
    
        var popup_13000405e97c4deca7734f16b02be5a2 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_652eec5123ad4a778ad6c62bde270fd5 = $(`<div id="html_652eec5123ad4a778ad6c62bde270fd5" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>851</td>       <td>37193489</td>       <td>-101.0</td>       <td>18.0</td>       <td>593.356</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_13000405e97c4deca7734f16b02be5a2.setContent(html_652eec5123ad4a778ad6c62bde270fd5);
        

        circle_38b00c0cf4834e0ebecb959122ba9f30.bindPopup(popup_13000405e97c4deca7734f16b02be5a2)
        ;

        
    
    
            var circle_fb02ae1c95bf4ae3b4f9e21ac6d8642e = L.circle(
                [34.97030319, 128.06137188],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_8d9dcfe1cef64d3a804cb7061d300876);
        
    
        var popup_e0fc64bf05ed49a4b0ffa7034c3a481f = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_9aefd87ea1774aa6bc931cd39ccc4c23 = $(`<div id="html_9aefd87ea1774aa6bc931cd39ccc4c23" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>768</td>       <td>37193502</td>       <td>-94.0</td>       <td>26.0</td>       <td>733.629</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_e0fc64bf05ed49a4b0ffa7034c3a481f.setContent(html_9aefd87ea1774aa6bc931cd39ccc4c23);
        

        circle_fb02ae1c95bf4ae3b4f9e21ac6d8642e.bindPopup(popup_e0fc64bf05ed49a4b0ffa7034c3a481f)
        ;

        
    
    
            var circle_3dca775ad4a44968ac9d0eb0b60171fb = L.circle(
                [34.97567934, 128.05931126],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_8d9dcfe1cef64d3a804cb7061d300876);
        
    
        var popup_a4d63123aa6b4f5c83b67ff238759ae7 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_c4fbaa40c1d74d0b8eb8d5d2b8edfab8 = $(`<div id="html_c4fbaa40c1d74d0b8eb8d5d2b8edfab8" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>47</td>       <td>37193742</td>       <td>-87.0</td>       <td>32.5</td>       <td>832.998</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_a4d63123aa6b4f5c83b67ff238759ae7.setContent(html_c4fbaa40c1d74d0b8eb8d5d2b8edfab8);
        

        circle_3dca775ad4a44968ac9d0eb0b60171fb.bindPopup(popup_a4d63123aa6b4f5c83b67ff238759ae7)
        ;

        
    
    
            var circle_8407656e864849a8b571f49a5ed384d0 = L.circle(
                [34.97443939, 128.05330004],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "orange", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_8d9dcfe1cef64d3a804cb7061d300876);
        
    
        var popup_4fbddd0e623549a5a4b20a78d9763022 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_30f89cb48fd945f2a3d60f850fe1843c = $(`<div id="html_30f89cb48fd945f2a3d60f850fe1843c" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>491</td>       <td>37193742</td>       <td>-67.0</td>       <td>37.0</td>       <td>754.206</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_4fbddd0e623549a5a4b20a78d9763022.setContent(html_30f89cb48fd945f2a3d60f850fe1843c);
        

        circle_8407656e864849a8b571f49a5ed384d0.bindPopup(popup_4fbddd0e623549a5a4b20a78d9763022)
        ;

        
    
    
            var circle_03151a0add5347729be3ea35c94ebdf3 = L.circle(
                [34.97844873, 128.05162119],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_8d9dcfe1cef64d3a804cb7061d300876);
        
    
        var popup_d72df91337294940adbca35e14800f39 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_87fd3e6dfc424b2fa3d1497cf3ef8e77 = $(`<div id="html_87fd3e6dfc424b2fa3d1497cf3ef8e77" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>104</td>       <td>37193742</td>       <td>-97.0</td>       <td>1.0</td>       <td>398.113</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_d72df91337294940adbca35e14800f39.setContent(html_87fd3e6dfc424b2fa3d1497cf3ef8e77);
        

        circle_03151a0add5347729be3ea35c94ebdf3.bindPopup(popup_d72df91337294940adbca35e14800f39)
        ;

        
    
    
            var circle_bc03f35863274883bb59733d3ee2c3d9 = L.circle(
                [34.98070201, 128.04678937],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_8d9dcfe1cef64d3a804cb7061d300876);
        
    
        var popup_6658008efc8949e59062940be6c9f334 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_bc712e38830447069c28f133d4a7ecca = $(`<div id="html_bc712e38830447069c28f133d4a7ecca" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>104</td>       <td>37393168</td>       <td>-99.0</td>       <td>11.5</td>       <td>413.726</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_6658008efc8949e59062940be6c9f334.setContent(html_bc712e38830447069c28f133d4a7ecca);
        

        circle_bc03f35863274883bb59733d3ee2c3d9.bindPopup(popup_6658008efc8949e59062940be6c9f334)
        ;

        
    
    
            var circle_29ccd4bc36c3477db9d15a9d8421801a = L.circle(
                [34.98252925, 128.04463701],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "yellow", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_8d9dcfe1cef64d3a804cb7061d300876);
        
    
        var popup_620f1739a33a433db610d0ed33d8b4bd = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_317debb6d0354f848e6a99e41fff0db2 = $(`<div id="html_317debb6d0354f848e6a99e41fff0db2" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>251</td>       <td>38241024</td>       <td>-81.0</td>       <td>10.4</td>       <td>83.704</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_620f1739a33a433db610d0ed33d8b4bd.setContent(html_317debb6d0354f848e6a99e41fff0db2);
        

        circle_29ccd4bc36c3477db9d15a9d8421801a.bindPopup(popup_620f1739a33a433db610d0ed33d8b4bd)
        ;

        
    
    
            var circle_6730d37763d44bdca7aa3cca6c9a03ed = L.circle(
                [34.9862897, 128.04421019],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "black", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_8d9dcfe1cef64d3a804cb7061d300876);
        
    
        var popup_08d6aaf01486486381784b32db72f5f1 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_af918303bfef468486268ccd9cc155d5 = $(`<div id="html_af918303bfef468486268ccd9cc155d5" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>0</td>       <td>38241024</td>       <td>0.0</td>       <td>0.0</td>       <td>0.0</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_08d6aaf01486486381784b32db72f5f1.setContent(html_af918303bfef468486268ccd9cc155d5);
        

        circle_6730d37763d44bdca7aa3cca6c9a03ed.bindPopup(popup_08d6aaf01486486381784b32db72f5f1)
        ;

        
    
    
            var circle_3218c6b478b543d99ef422b3f24ffc78 = L.circle(
                [34.98853371, 128.04311838],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_8d9dcfe1cef64d3a804cb7061d300876);
        
    
        var popup_4f42e85f071b4dc2a6f5859e54007620 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_f8c90aa9daec442290b51f6174285316 = $(`<div id="html_f8c90aa9daec442290b51f6174285316" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>104</td>       <td>37194499</td>       <td>-100.0</td>       <td>10.0</td>       <td>416.132</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_4f42e85f071b4dc2a6f5859e54007620.setContent(html_f8c90aa9daec442290b51f6174285316);
        

        circle_3218c6b478b543d99ef422b3f24ffc78.bindPopup(popup_4f42e85f071b4dc2a6f5859e54007620)
        ;

        
    
    
            var circle_16dae176c9b04abbb258f65be36098db = L.circle(
                [34.990484, 128.0407506],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_8d9dcfe1cef64d3a804cb7061d300876);
        
    
        var popup_0e6ab32075bb4c13ae086385bfdbb1cc = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_7843e5b7152e45b2b12ef195010acdd5 = $(`<div id="html_7843e5b7152e45b2b12ef195010acdd5" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>977</td>       <td>38241024</td>       <td>-104.0</td>       <td>14.5</td>       <td>438.836</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_0e6ab32075bb4c13ae086385bfdbb1cc.setContent(html_7843e5b7152e45b2b12ef195010acdd5);
        

        circle_16dae176c9b04abbb258f65be36098db.bindPopup(popup_0e6ab32075bb4c13ae086385bfdbb1cc)
        ;

        
    
    
            var circle_bdc7dbb3c2164921a88a586001783b28 = L.circle(
                [34.99190845, 128.03989976],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_8d9dcfe1cef64d3a804cb7061d300876);
        
    
        var popup_a1ccf794bcae49a391446e04cfaed41f = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_d781893f934b496aa6c512eb41767edb = $(`<div id="html_d781893f934b496aa6c512eb41767edb" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>977</td>       <td>37192193</td>       <td>-99.0</td>       <td>14.0</td>       <td>151.692</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_a1ccf794bcae49a391446e04cfaed41f.setContent(html_d781893f934b496aa6c512eb41767edb);
        

        circle_bdc7dbb3c2164921a88a586001783b28.bindPopup(popup_a1ccf794bcae49a391446e04cfaed41f)
        ;

        
    
    
            var circle_ed35895918a64b0988af7407ab109719 = L.circle(
                [34.99270435, 128.03948221],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_8d9dcfe1cef64d3a804cb7061d300876);
        
    
        var popup_c792aaa05a9e415f9ad1897032a7ceae = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_1c0d406de80c45d38580d7c15f0d55f7 = $(`<div id="html_1c0d406de80c45d38580d7c15f0d55f7" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>442</td>       <td>37192193</td>       <td>-87.0</td>       <td>5.6</td>       <td>74.39</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_c792aaa05a9e415f9ad1897032a7ceae.setContent(html_1c0d406de80c45d38580d7c15f0d55f7);
        

        circle_ed35895918a64b0988af7407ab109719.bindPopup(popup_c792aaa05a9e415f9ad1897032a7ceae)
        ;

        
    
    
            var circle_ee43d25e37de46b3a3bc574bfffe0916 = L.circle(
                [34.99394432, 128.03953238],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_8d9dcfe1cef64d3a804cb7061d300876);
        
    
        var popup_7c1fb28755b84695b5cf5f7a64c87aa5 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_1ee7084311bd469bb3e2f119218befd7 = $(`<div id="html_1ee7084311bd469bb3e2f119218befd7" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>442</td>       <td>37192193</td>       <td>-87.0</td>       <td>13.0</td>       <td>76.971</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_7c1fb28755b84695b5cf5f7a64c87aa5.setContent(html_1ee7084311bd469bb3e2f119218befd7);
        

        circle_ee43d25e37de46b3a3bc574bfffe0916.bindPopup(popup_7c1fb28755b84695b5cf5f7a64c87aa5)
        ;

        
    
    
            var circle_5e4e2411a2f947a0af8d7547a5c0c93a = L.circle(
                [34.99543507, 128.03916126],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_8d9dcfe1cef64d3a804cb7061d300876);
        
    
        var popup_b6e8f2ede7ba420eafeb509cb85ea8c2 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_db1a018ce8d64d638d298ddb5256e48c = $(`<div id="html_db1a018ce8d64d638d298ddb5256e48c" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>442</td>       <td>37192193</td>       <td>-87.0</td>       <td>5.8</td>       <td>72.474</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_b6e8f2ede7ba420eafeb509cb85ea8c2.setContent(html_db1a018ce8d64d638d298ddb5256e48c);
        

        circle_5e4e2411a2f947a0af8d7547a5c0c93a.bindPopup(popup_b6e8f2ede7ba420eafeb509cb85ea8c2)
        ;

        
    
    
            var circle_8dfe9a4db4c141f8bad78f7b1b0a09f7 = L.circle(
                [34.99659772, 128.03882626],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_8d9dcfe1cef64d3a804cb7061d300876);
        
    
        var popup_db95cfa5cdd842bcbfffc2d950ebded6 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_425d844afdd24b13bfc456046bbe9a3c = $(`<div id="html_425d844afdd24b13bfc456046bbe9a3c" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>104</td>       <td>37192193</td>       <td>-97.0</td>       <td>20.5</td>       <td>305.486</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_db95cfa5cdd842bcbfffc2d950ebded6.setContent(html_425d844afdd24b13bfc456046bbe9a3c);
        

        circle_8dfe9a4db4c141f8bad78f7b1b0a09f7.bindPopup(popup_db95cfa5cdd842bcbfffc2d950ebded6)
        ;

        
    
    
            var circle_3a55f22cb342420291b6eb62484c3605 = L.circle(
                [34.99781156, 128.03889327],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_8d9dcfe1cef64d3a804cb7061d300876);
        
    
        var popup_b115be025f22415c82d92d212e909794 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_f4461b5021214c61862a9045f97a2212 = $(`<div id="html_f4461b5021214c61862a9045f97a2212" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>977</td>       <td>37194501</td>       <td>-101.0</td>       <td>13.5</td>       <td>285.305</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_b115be025f22415c82d92d212e909794.setContent(html_f4461b5021214c61862a9045f97a2212);
        

        circle_3a55f22cb342420291b6eb62484c3605.bindPopup(popup_b115be025f22415c82d92d212e909794)
        ;

        
    
    
            var circle_ec61b6bfa00f4dd7b9ec4c47cdad07d6 = L.circle(
                [34.99872377, 128.03955019],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "yellow", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_8d9dcfe1cef64d3a804cb7061d300876);
        
    
        var popup_eaffa515bf6b40469cc8e87ce81d694e = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_5cc433ddabe744b0b4a32554fa1cc574 = $(`<div id="html_5cc433ddabe744b0b4a32554fa1cc574" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>436</td>       <td>37194501</td>       <td>-81.0</td>       <td>1.0</td>       <td>70.56</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_eaffa515bf6b40469cc8e87ce81d694e.setContent(html_5cc433ddabe744b0b4a32554fa1cc574);
        

        circle_ec61b6bfa00f4dd7b9ec4c47cdad07d6.bindPopup(popup_eaffa515bf6b40469cc8e87ce81d694e)
        ;

        
    
    
            var circle_b3a39967f3f744869306a1c8717cb6e0 = L.circle(
                [34.99944356, 128.04015126],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "black", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_8d9dcfe1cef64d3a804cb7061d300876);
        
    
        var popup_7b7cfd0ce5a24e35bf94afa470015a1f = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_f15c5252603741e1a8a3158f9e82f17e = $(`<div id="html_f15c5252603741e1a8a3158f9e82f17e" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>None</td>       <td>37194501</td>       <td>None</td>       <td>0.0</td>       <td>0.0</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_7b7cfd0ce5a24e35bf94afa470015a1f.setContent(html_f15c5252603741e1a8a3158f9e82f17e);
        

        circle_b3a39967f3f744869306a1c8717cb6e0.bindPopup(popup_7b7cfd0ce5a24e35bf94afa470015a1f)
        ;

        
    
    
            var circle_114ab2a6600b4c909855f25d70670f8b = L.circle(
                [34.99938455, 128.04010616],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "black", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_8d9dcfe1cef64d3a804cb7061d300876);
        
    
        var popup_b378050d0cd4497eb2dc47d866a53ed7 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_d99fa0f7eb35429499517455a3429ef4 = $(`<div id="html_d99fa0f7eb35429499517455a3429ef4" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>None</td>       <td>37194501</td>       <td>None</td>       <td>0.0</td>       <td>0.0</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_b378050d0cd4497eb2dc47d866a53ed7.setContent(html_d99fa0f7eb35429499517455a3429ef4);
        

        circle_114ab2a6600b4c909855f25d70670f8b.bindPopup(popup_b378050d0cd4497eb2dc47d866a53ed7)
        ;

        
    
    
            var circle_d927476926cd4985af64addcc84ae985 = L.circle(
                [34.99486708, 128.03939446],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 29.0, "stroke": true, "weight": 1}
            ).addTo(feature_group_8d9dcfe1cef64d3a804cb7061d300876);
        
    
        var popup_d90da13919c5431da5250ae73da4f973 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_fff2cb5cdfe0462391461b0722aa6056 = $(`<div id="html_fff2cb5cdfe0462391461b0722aa6056" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>442</td>       <td>37192193</td>       <td>-87.0</td>       <td>5.6</td>       <td>75.958</td>       <td>None</td>     </tr>   </tbody> </table></div>`)[0];
            popup_d90da13919c5431da5250ae73da4f973.setContent(html_fff2cb5cdfe0462391461b0722aa6056);
        

        circle_d927476926cd4985af64addcc84ae985.bindPopup(popup_d90da13919c5431da5250ae73da4f973)
        ;

        
    
</script>