<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_020bc7f73b6e43f7b5166d98c08d3a2e {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_020bc7f73b6e43f7b5166d98c08d3a2e" ></div>
        
</body>
<script>    
    
            var map_020bc7f73b6e43f7b5166d98c08d3a2e = L.map(
                "map_020bc7f73b6e43f7b5166d98c08d3a2e",
                {
                    center: [34.9706604, 128.06344212],
                    crs: L.CRS.EPSG3857,
                    zoom: 15,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_056252b956ca499482070c7c63312650 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_020bc7f73b6e43f7b5166d98c08d3a2e);
        
    
            var marker_b7a9775479334e34884825a2f9aeff31 = L.marker(
                [34.9706604, 128.06344212],
                {"iconSize": [10, 10]}
            ).addTo(map_020bc7f73b6e43f7b5166d98c08d3a2e);
        
    
            var icon_1f857707685c4282b87c1d5aaad8c5a9 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "star", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_b7a9775479334e34884825a2f9aeff31.setIcon(icon_1f857707685c4282b87c1d5aaad8c5a9);
        
    
            var poly_line_f2b696159dc14cd6851590ad7740d37b = L.polyline(
                [[34.9706604, 128.06344212], [34.97067058, 128.06344256], [34.97065209, 128.06288352], [34.96977556, 128.062766], [34.96805485, 128.06356157], [34.96723727, 128.06247127], [34.97536507, 128.05975279], [34.97433484, 128.05367604], [34.97823025, 128.05217219], [34.98191689, 128.04515055], [34.98667677, 128.04410312], [34.98914127, 128.04277602], [34.99098065, 128.04037061], [34.99212324, 128.03987358], [34.99300868, 128.03936797], [34.99441607, 128.03954052], [34.99702522, 128.03890241], [34.99808429, 128.03899261], [34.99944981, 128.04024635], [34.99944508, 128.04016021], [34.99943055, 128.04013146]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_020bc7f73b6e43f7b5166d98c08d3a2e);
        
    
            var feature_group_df401da79cae4420bf80fa8280c00e6c = L.featureGroup(
                {}
            ).addTo(map_020bc7f73b6e43f7b5166d98c08d3a2e);
        
    
            var circle_9300934027ff4793b3ebd3dcf01fec75 = L.circle(
                [34.9706604, 128.06344212],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_df401da79cae4420bf80fa8280c00e6c);
        
    
        var popup_9958bd9a217a41978660e26219d3a05e = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_3f78ebad3e294ceab0ea1c83446485e7 = $(`<div id="html_3f78ebad3e294ceab0ea1c83446485e7" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>165</td>       <td>11927079</td>       <td>-100.0</td>       <td>12.0</td>       <td>None</td>       <td>38.621</td>     </tr>   </tbody> </table></div>`)[0];
            popup_9958bd9a217a41978660e26219d3a05e.setContent(html_3f78ebad3e294ceab0ea1c83446485e7);
        

        circle_9300934027ff4793b3ebd3dcf01fec75.bindPopup(popup_9958bd9a217a41978660e26219d3a05e)
        ;

        
    
    
            var circle_b675e41e36af46d6b42748c612ded010 = L.circle(
                [34.97067058, 128.06344256],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_df401da79cae4420bf80fa8280c00e6c);
        
    
        var popup_ec10ab1889c0459b992188a8195b6db7 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_cd0003d2284c47eea7ce49907d7009e0 = $(`<div id="html_cd0003d2284c47eea7ce49907d7009e0" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>165</td>       <td>11927079</td>       <td>-105.0</td>       <td>11.5</td>       <td>None</td>       <td>39.25</td>     </tr>   </tbody> </table></div>`)[0];
            popup_ec10ab1889c0459b992188a8195b6db7.setContent(html_cd0003d2284c47eea7ce49907d7009e0);
        

        circle_b675e41e36af46d6b42748c612ded010.bindPopup(popup_ec10ab1889c0459b992188a8195b6db7)
        ;

        
    
    
            var circle_c6f0dce1b82f4aada02acea5d6b8b21b = L.circle(
                [34.97065209, 128.06288352],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_df401da79cae4420bf80fa8280c00e6c);
        
    
        var popup_0b3f4471a8d54d4c821a9f5134d2b2c1 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_5f93b38c177f4b0ba7736a153d44a429 = $(`<div id="html_5f93b38c177f4b0ba7736a153d44a429" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>785</td>       <td>11926295</td>       <td>-89.0</td>       <td>15.0</td>       <td>None</td>       <td>97.485</td>     </tr>   </tbody> </table></div>`)[0];
            popup_0b3f4471a8d54d4c821a9f5134d2b2c1.setContent(html_5f93b38c177f4b0ba7736a153d44a429);
        

        circle_c6f0dce1b82f4aada02acea5d6b8b21b.bindPopup(popup_0b3f4471a8d54d4c821a9f5134d2b2c1)
        ;

        
    
    
            var circle_05ec515695aa46ffac4ec3962c0e28dd = L.circle(
                [34.96977556, 128.062766],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_df401da79cae4420bf80fa8280c00e6c);
        
    
        var popup_f044ed7e8a88457590aac1e247842a6e = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_72309e92d08e4391b08a837d7a494b25 = $(`<div id="html_72309e92d08e4391b08a837d7a494b25" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>131</td>       <td>11927079</td>       <td>-87.0</td>       <td>18.0</td>       <td>None</td>       <td>102.636</td>     </tr>   </tbody> </table></div>`)[0];
            popup_f044ed7e8a88457590aac1e247842a6e.setContent(html_72309e92d08e4391b08a837d7a494b25);
        

        circle_05ec515695aa46ffac4ec3962c0e28dd.bindPopup(popup_f044ed7e8a88457590aac1e247842a6e)
        ;

        
    
    
            var circle_7325c9b7f02d4b1f9fe6072cea933a62 = L.circle(
                [34.96805485, 128.06356157],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "yellow", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_df401da79cae4420bf80fa8280c00e6c);
        
    
        var popup_d9a06cc633794bbda3b07ab1362faa50 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_ba86b07502924774b748b52cb951d8a1 = $(`<div id="html_ba86b07502924774b748b52cb951d8a1" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>131</td>       <td>11927079</td>       <td>-85.0</td>       <td>27.5</td>       <td>None</td>       <td>106.844</td>     </tr>   </tbody> </table></div>`)[0];
            popup_d9a06cc633794bbda3b07ab1362faa50.setContent(html_ba86b07502924774b748b52cb951d8a1);
        

        circle_7325c9b7f02d4b1f9fe6072cea933a62.bindPopup(popup_d9a06cc633794bbda3b07ab1362faa50)
        ;

        
    
    
            var circle_bd052d775df443559a410b8dcaf1f83e = L.circle(
                [34.96723727, 128.06247127],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_df401da79cae4420bf80fa8280c00e6c);
        
    
        var popup_27c6b24c59404c23b4d4403868a49166 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_6f210c81aba841bdb0314c3a7c0f2a03 = $(`<div id="html_6f210c81aba841bdb0314c3a7c0f2a03" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>366</td>       <td>11926827</td>       <td>-87.0</td>       <td>23.5</td>       <td>None</td>       <td>79.908</td>     </tr>   </tbody> </table></div>`)[0];
            popup_27c6b24c59404c23b4d4403868a49166.setContent(html_6f210c81aba841bdb0314c3a7c0f2a03);
        

        circle_bd052d775df443559a410b8dcaf1f83e.bindPopup(popup_27c6b24c59404c23b4d4403868a49166)
        ;

        
    
    
            var circle_0475aaeb2b4745da8f5a6be544292d69 = L.circle(
                [34.97536507, 128.05975279],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "orange", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_df401da79cae4420bf80fa8280c00e6c);
        
    
        var popup_f2dbf0c22e9a4513ab3f647c290d7a40 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_80954e07b27f44cd87e5c302cf792d2f = $(`<div id="html_80954e07b27f44cd87e5c302cf792d2f" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>584</td>       <td>11926295</td>       <td>-75.0</td>       <td>32.0</td>       <td>None</td>       <td>97.682</td>     </tr>   </tbody> </table></div>`)[0];
            popup_f2dbf0c22e9a4513ab3f647c290d7a40.setContent(html_80954e07b27f44cd87e5c302cf792d2f);
        

        circle_0475aaeb2b4745da8f5a6be544292d69.bindPopup(popup_f2dbf0c22e9a4513ab3f647c290d7a40)
        ;

        
    
    
            var circle_f5575e9f95fb4721b7aa953b6fb36f96 = L.circle(
                [34.97433484, 128.05367604],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "black", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_df401da79cae4420bf80fa8280c00e6c);
        
    
        var popup_e1cb6da6f9ff42ecbf91823555b69786 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_290f3b11540c470493d5670b2fdf25b5 = $(`<div id="html_290f3b11540c470493d5670b2fdf25b5" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>120</td>       <td>12002327</td>       <td>-65.0</td>       <td>29.0</td>       <td>None</td>       <td>148.328</td>     </tr>   </tbody> </table></div>`)[0];
            popup_e1cb6da6f9ff42ecbf91823555b69786.setContent(html_290f3b11540c470493d5670b2fdf25b5);
        

        circle_f5575e9f95fb4721b7aa953b6fb36f96.bindPopup(popup_e1cb6da6f9ff42ecbf91823555b69786)
        ;

        
    
    
            var circle_d84c57b2c3f24f4fa0a7fbf4814496cd = L.circle(
                [34.97823025, 128.05217219],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_df401da79cae4420bf80fa8280c00e6c);
        
    
        var popup_3737c8ae5ae04830b1cb204b7361f8af = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_212636cc6d6649ee878197a78c938721 = $(`<div id="html_212636cc6d6649ee878197a78c938721" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>112</td>       <td>12249875</td>       <td>-90.0</td>       <td>17.5</td>       <td>None</td>       <td>84.43</td>     </tr>   </tbody> </table></div>`)[0];
            popup_3737c8ae5ae04830b1cb204b7361f8af.setContent(html_212636cc6d6649ee878197a78c938721);
        

        circle_d84c57b2c3f24f4fa0a7fbf4814496cd.bindPopup(popup_3737c8ae5ae04830b1cb204b7361f8af)
        ;

        
    
    
            var circle_e71fa3ab40e8430faa1716448854e4c4 = L.circle(
                [34.98191689, 128.04515055],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_df401da79cae4420bf80fa8280c00e6c);
        
    
        var popup_ce51748c91ad40769355049222bf6f55 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_9d3afa37a3be4582b15ee6fcbb5cdbbe = $(`<div id="html_9d3afa37a3be4582b15ee6fcbb5cdbbe" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>684</td>       <td>12249875</td>       <td>-86.0</td>       <td>10.0</td>       <td>None</td>       <td>79.083</td>     </tr>   </tbody> </table></div>`)[0];
            popup_ce51748c91ad40769355049222bf6f55.setContent(html_9d3afa37a3be4582b15ee6fcbb5cdbbe);
        

        circle_e71fa3ab40e8430faa1716448854e4c4.bindPopup(popup_ce51748c91ad40769355049222bf6f55)
        ;

        
    
    
            var circle_c8630400914a40b7a6bb5046abb9d240 = L.circle(
                [34.98667677, 128.04410312],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_df401da79cae4420bf80fa8280c00e6c);
        
    
        var popup_42b48eb6c95341159886d9f67ec891a1 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_5442c6885ffb495c8ea86854a880883f = $(`<div id="html_5442c6885ffb495c8ea86854a880883f" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>150</td>       <td>12249875</td>       <td>-103.0</td>       <td>5.0</td>       <td>None</td>       <td>56.748</td>     </tr>   </tbody> </table></div>`)[0];
            popup_42b48eb6c95341159886d9f67ec891a1.setContent(html_5442c6885ffb495c8ea86854a880883f);
        

        circle_c8630400914a40b7a6bb5046abb9d240.bindPopup(popup_42b48eb6c95341159886d9f67ec891a1)
        ;

        
    
    
            var circle_21f7ed618d454a048b921096a1e452b4 = L.circle(
                [34.98914127, 128.04277602],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_df401da79cae4420bf80fa8280c00e6c);
        
    
        var popup_ed0ddb53bfdd42bd93b75297a3969944 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_961982d3f05a40ff9702550f30720a30 = $(`<div id="html_961982d3f05a40ff9702550f30720a30" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>150</td>       <td>12249875</td>       <td>-86.0</td>       <td>11.5</td>       <td>None</td>       <td>75.347</td>     </tr>   </tbody> </table></div>`)[0];
            popup_ed0ddb53bfdd42bd93b75297a3969944.setContent(html_961982d3f05a40ff9702550f30720a30);
        

        circle_21f7ed618d454a048b921096a1e452b4.bindPopup(popup_ed0ddb53bfdd42bd93b75297a3969944)
        ;

        
    
    
            var circle_e63f867054ff4d6db8e690eac8907ab2 = L.circle(
                [34.99098065, 128.04037061],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "yellow", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_df401da79cae4420bf80fa8280c00e6c);
        
    
        var popup_8f7277b5e2d94b168e4a7dc577925f0f = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_098588ccf5b54703b5ab10292a15127c = $(`<div id="html_098588ccf5b54703b5ab10292a15127c" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>465</td>       <td>12249867</td>       <td>-82.0</td>       <td>24.0</td>       <td>None</td>       <td>93.16</td>     </tr>   </tbody> </table></div>`)[0];
            popup_8f7277b5e2d94b168e4a7dc577925f0f.setContent(html_098588ccf5b54703b5ab10292a15127c);
        

        circle_e63f867054ff4d6db8e690eac8907ab2.bindPopup(popup_8f7277b5e2d94b168e4a7dc577925f0f)
        ;

        
    
    
            var circle_583915b60b0448e39d16037f7da5ddc5 = L.circle(
                [34.99212324, 128.03987358],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "yellow", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_df401da79cae4420bf80fa8280c00e6c);
        
    
        var popup_987f9ed8f45d4997a8288c3ffd675879 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_0c3434c62b214c6b80a6902bbe91bafe = $(`<div id="html_0c3434c62b214c6b80a6902bbe91bafe" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>465</td>       <td>12249867</td>       <td>-82.0</td>       <td>29.5</td>       <td>None</td>       <td>111.484</td>     </tr>   </tbody> </table></div>`)[0];
            popup_987f9ed8f45d4997a8288c3ffd675879.setContent(html_0c3434c62b214c6b80a6902bbe91bafe);
        

        circle_583915b60b0448e39d16037f7da5ddc5.bindPopup(popup_987f9ed8f45d4997a8288c3ffd675879)
        ;

        
    
    
            var circle_c8eaa8d7df8e492487ceaab924783fd3 = L.circle(
                [34.99300868, 128.03936797],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "yellow", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_df401da79cae4420bf80fa8280c00e6c);
        
    
        var popup_2ad08a4760c346ee9648c0cc0c02c0aa = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_5e62a38f64c4463c97a4cb5f12d1a53d = $(`<div id="html_5e62a38f64c4463c97a4cb5f12d1a53d" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>465</td>       <td>12249867</td>       <td>-79.0</td>       <td>29.0</td>       <td>None</td>       <td>98.429</td>     </tr>   </tbody> </table></div>`)[0];
            popup_2ad08a4760c346ee9648c0cc0c02c0aa.setContent(html_5e62a38f64c4463c97a4cb5f12d1a53d);
        

        circle_c8eaa8d7df8e492487ceaab924783fd3.bindPopup(popup_2ad08a4760c346ee9648c0cc0c02c0aa)
        ;

        
    
    
            var circle_512ca86a69ce41e3a9e83916958eae41 = L.circle(
                [34.99441607, 128.03954052],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_df401da79cae4420bf80fa8280c00e6c);
        
    
        var popup_a0463923361d4a6e8d17a78b6aca0fac = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_7913872c52d641abac7260cba058a5ed = $(`<div id="html_7913872c52d641abac7260cba058a5ed" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>465</td>       <td>12249867</td>       <td>-94.0</td>       <td>19.0</td>       <td>None</td>       <td>74.954</td>     </tr>   </tbody> </table></div>`)[0];
            popup_a0463923361d4a6e8d17a78b6aca0fac.setContent(html_7913872c52d641abac7260cba058a5ed);
        

        circle_512ca86a69ce41e3a9e83916958eae41.bindPopup(popup_a0463923361d4a6e8d17a78b6aca0fac)
        ;

        
    
    
            var circle_de54e3d3ca81485395f4d17e06216157 = L.circle(
                [34.99702522, 128.03890241],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_df401da79cae4420bf80fa8280c00e6c);
        
    
        var popup_ec71d41ca73741019648e355277ef0af = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_80affdf672ce43f9923ed18468558e66 = $(`<div id="html_80affdf672ce43f9923ed18468558e66" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>465</td>       <td>12249607</td>       <td>-95.0</td>       <td>14.0</td>       <td>None</td>       <td>101.889</td>     </tr>   </tbody> </table></div>`)[0];
            popup_ec71d41ca73741019648e355277ef0af.setContent(html_80affdf672ce43f9923ed18468558e66);
        

        circle_de54e3d3ca81485395f4d17e06216157.bindPopup(popup_ec71d41ca73741019648e355277ef0af)
        ;

        
    
    
            var circle_468d5c1d431b46b8afb3e9a84b88defa = L.circle(
                [34.99808429, 128.03899261],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_df401da79cae4420bf80fa8280c00e6c);
        
    
        var popup_327f4636252d4f42a22ed80bd251bc31 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_dd1b44fa40c745fa8a9ea6038b5a5a58 = $(`<div id="html_dd1b44fa40c745fa8a9ea6038b5a5a58" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>465</td>       <td>12249607</td>       <td>-103.0</td>       <td>11.0</td>       <td>None</td>       <td>107.276</td>     </tr>   </tbody> </table></div>`)[0];
            popup_327f4636252d4f42a22ed80bd251bc31.setContent(html_dd1b44fa40c745fa8a9ea6038b5a5a58);
        

        circle_468d5c1d431b46b8afb3e9a84b88defa.bindPopup(popup_327f4636252d4f42a22ed80bd251bc31)
        ;

        
    
    
            var circle_7e9b892c479142d19ebe7fd827469345 = L.circle(
                [34.99944981, 128.04024635],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "black", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_df401da79cae4420bf80fa8280c00e6c);
        
    
        var popup_b548feb0d8e54b1394f2952bb23d8dcb = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_b8580b0968aa4eabb10c53c7f1ec12d7 = $(`<div id="html_b8580b0968aa4eabb10c53c7f1ec12d7" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>465</td>       <td>12249607</td>       <td>-110.0</td>       <td>3.0</td>       <td>None</td>       <td>79.987</td>     </tr>   </tbody> </table></div>`)[0];
            popup_b548feb0d8e54b1394f2952bb23d8dcb.setContent(html_b8580b0968aa4eabb10c53c7f1ec12d7);
        

        circle_7e9b892c479142d19ebe7fd827469345.bindPopup(popup_b548feb0d8e54b1394f2952bb23d8dcb)
        ;

        
    
    
            var circle_643d03d8c18a44339640c41cd6b1974f = L.circle(
                [34.99944508, 128.04016021],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "black", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.5, "stroke": true, "weight": 1}
            ).addTo(feature_group_df401da79cae4420bf80fa8280c00e6c);
        
    
        var popup_f477b0bf00e44a769a3b4d5411d68c8c = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_e3e9e1ff36a546788844ad8e72a1cb41 = $(`<div id="html_e3e9e1ff36a546788844ad8e72a1cb41" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>465</td>       <td>12249607</td>       <td>-109.0</td>       <td>5.5</td>       <td>None</td>       <td>79.908</td>     </tr>   </tbody> </table></div>`)[0];
            popup_f477b0bf00e44a769a3b4d5411d68c8c.setContent(html_e3e9e1ff36a546788844ad8e72a1cb41);
        

        circle_643d03d8c18a44339640c41cd6b1974f.bindPopup(popup_f477b0bf00e44a769a3b4d5411d68c8c)
        ;

        
    
    
            var circle_e00c21c0eddf4712b2488e7621a5e36d = L.circle(
                [34.99943055, 128.04013146],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "black", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 29.0, "stroke": true, "weight": 1}
            ).addTo(feature_group_df401da79cae4420bf80fa8280c00e6c);
        
    
        var popup_c943a48f50be41ceb19a26f006673b95 = L.popup({"maxWidth": 300, "minWidth": 100});

        
            var html_982d10d828fa4d2da2363afc917c302b = $(`<div id="html_982d10d828fa4d2da2363afc917c302b" style="width: 100.0%; height: 100.0%;"><table border="1" class="dataframe table table-striped table-hover table-condensed table-responsive text-center">   <thead>     <tr style="text-align: right;">       <th>PCI</th>       <th>셀ID</th>       <th>RSRP</th>       <th>SINR</th>       <th>DL</th>       <th>UL</th>     </tr>   </thead>   <tbody>     <tr>       <td>465</td>       <td>12249607</td>       <td>-109.0</td>       <td>4.5</td>       <td>None</td>       <td>80.223</td>     </tr>   </tbody> </table></div>`)[0];
            popup_c943a48f50be41ceb19a26f006673b95.setContent(html_982d10d828fa4d2da2363afc917c302b);
        

        circle_e00c21c0eddf4712b2488e7621a5e36d.bindPopup(popup_c943a48f50be41ceb19a26f006673b95)
        ;

        
    
</script>