<head>
    <meta charset="UTF-8">
</head>

<div>
<div style="float:left;">
<form action="http://127.0.0.1:8000/message/msg_send/" method="post">
    {% csrf_token %}
    <form>
        [SMS]<br><br>
            <textarea id="message" name="message" cols="50" rows="10">{% if sendType == 'XMCS' %}{{message}}
                {% else %}메시지내용
                {% endif %}
            </textarea>
        </p>
        <p>
            <textarea id="receiver" name="receiver" cols="50" rows="2">수신자 번호(-제외, 쉼표(,)로 구분)</textarea>
        </p>
        <p>
            <input type="hidden" name="sendType" value="XMCS">
            <input type="submit" value="SEND">
        </p>
    </form>
</form>
</div>

<div style="float:right">
<form action="http://127.0.0.1:8000/message/msg_send/" method="post">
    {% csrf_token %}
    <form>
        [TELEGRAM]
        <p>
            <textarea id="message" name="message" cols="50" rows="10">{% if sendType == 'TELE' %}{{message}}
                {% else %}메시지내용
                {% endif %}
            </textarea>
        </p>
        <p>
            <textarea id="receiver" name="receiver" cols="50" rows="1">{% if sendType == 'TELE' %}{{channelId}}
                {% else %}채널ID
                {% endif %}
            </textarea>
        </p>
        <p>
            재전송<input type="checkbox" name="resend" value="True">
            회수<input type="checkbox" name="retreive" value="True">
            <br><font size=1>* 회수는 아직 기능 미구현</font>  
        </p>
        <p>
            <input type="hidden" name="sendType" value="TELE">
            <input type="submit" value="실행">
        </p>
    </form>
</form>
</div>
</div>


<div style="clear:both;">
<h3> 생성된 메시지 선택하기 </h3>
<style>
    table {
      border: 1px solid #444444;
      border-collapse: collapse;
    }
    th, td {
      border: 1px solid #444444;
    }

</style>
<table>
    <th>ID</th>
    <th>Date</th>
    <th name="abcd">Message</th>
    <th>Type</th>
    <th>sended</th>
    <th>Select</th>
    {% for message in message_all %}
    <tr>
        <td>{{message.id}}</td>
        <td>{{message.measdate}}</td>
        <form action="http://127.0.0.1:8000/message/sample/" method="post">
            {% csrf_token %}
            <td><input type="hidden" name="selected_message" value="{{message.message}}">{{message.message}}</td>
            <td><input type="hidden" name="sendType" value="{{message.sendType}}">{{message.sendType}}</td>
            <td>{{message.sended}}</td>
            <input type="hidden" name="channelId" value="{{message.channelId}}">
            <td><input type="submit" value="선택"></td>
        </form>
        </tr>
    {% endfor %}
</table>
</div>

